@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.HrmSystem.Models.Rep_MasterModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Att_AttendanceTable.TranslateString();
    Layout = null;
    var _hrm_Att_Web = ConstantPathWeb.Hrm_Att_Web;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
<script>
    function doSave() {


        var listColumn = [];
        var ObjectMain = $("#ObjectMain").val();
        var Name = $("#ReportName").val();
        var Module = $("#ReportStoreModule").val();
        if (Name == "") {
            ShowNotificationProcessor("Tên Báo Cáo Không Thể Để Trống !");//Chưa Dịch!
            return;
        }
        if (Module == "") {
            ShowNotificationProcessor("Chưa Chọn Nơi Hiển Thị !");//Chưa Dịch!
            return;
        }
        if (ObjectMain == "") {
            ShowNotificationProcessor("Chưa Chọn Đối Tượng Chính !");//Chưa Dịch!
            return;
        }

        var treeView = $("#CustomReportTreeViewColumnItem").data("kendoTreeView");
        var source = treeView.dataSource.view();
        debugger;
        for (var i = 0; i < source.length; i++)
        {
            listColumn.push(source[i].id + "," + source[i].Name);
        }

        ShowHre_ProgressBar();

        $.ajax({
            url: "@_hrm_Sys_Service" + "api/Rep_Master",
            data: { ID: $("#IDMaster").val(), ReportName: Name, ReportStoreModule: Module, ObjectMain: ObjectMain, ListColumn: listColumn, Description: $("#Description").val() },
            type: 'POST',
            dataType: 'json',
            success: function (data) {

                //set lại ID
                $("#ID").val(data.ID);
                $("#IDMaster").val(data.ID);

                //mở tabs điều kiện
                var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                tabStrip.enable(tabStrip.tabGroup.children().eq(1), true);
                var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                tabStrip.enable(tabStrip.tabGroup.children().eq(2), true);
                var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                tabStrip.enable(tabStrip.tabGroup.children().eq(3), true);

                ShowNotificationProcessor('@ConstantDisplay.HRM_Att_AllowLimitOvertime_InsertSuccess.TranslateString()');
                CloseHre_ProgressBar();
            },
            error: function (data) {
                alert('error');
                CloseHre_ProgressBar();
            }
        });
    };

</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.AttLeavedayIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Sys_CustomReport_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Sys_CustomReport_List.TranslateString() + ")", "Index")
                    </div>
                </div>
            </div>
            <div class="commandToolBarWidge">
                <div class="options">
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
            @Html.Partial("CreateOrUpdate", Model)
        </div>
    </div>
</form>





