@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security;
@model Rep_MasterModel
@{
    //ViewBag.Title = "Salary CostCentre Index";
    var _Hrm_Sal_Web = ConstantPathWeb.Hrm_Sal_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _Hrm_Sal_Service = ConstantPathWeb.Hrm_Sal_Service;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    Layout = null;
}

<script type="text/javascript">

    $(document).ready(function () {
        EditGridNewPage("gridRep_Master", '#Hrm_Sys_Web/Sys_CustomReport/Edit/', 'Hrm_Sys_Web', '@hrm_Sys_Web');
    });

    function filterFieldInfo(isExport) {
        return {
            ReportName: $("#ReportName").val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    };

    function btnSearch() {
        ReadGrid('gridRep_Master');
    };

    function btnCreate() {
        KendoRouteMapping('#Hrm_Sys_Web/Sys_CustomReport/Create/', 'Hrm_Sys_Web', '@hrm_Sys_Web');
    };



</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(m=>m.ReportName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("ReportName", "width:250px;")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "btnCreate", Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "btnSearch", Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = "Delete", ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>

<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.HrmSystem.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Rep_MasterModel.FieldNames.ReportName,
            Rep_MasterModel.FieldNames.ObjectMain,
            Rep_MasterModel.FieldNames.Description,

        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Rep_MasterModel.FieldNames.ReportName, 150},
            {Rep_MasterModel.FieldNames.ObjectMain, 150},
            {Rep_MasterModel.FieldNames.Description, 150},

        };
        var filterable = new Dictionary<string, bool>()
        {
            {Rep_MasterModel.FieldNames.ReportName,true}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Rep_MasterModel.FieldNames.ReportName, "Tên Báo Cáo"},
            {Rep_MasterModel.FieldNames.ObjectMain, "Đối Tượng Chính"},
            {Rep_MasterModel.FieldNames.Description, "Mô Tả"},
        };

        var grid = new GridBuilderInfo
        {
            Name = "gridRep_Master",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ReadActionUrl = @hrm_Sys_Service + "Sys_GetData/GetReportMaster/",
            ReadData = "filterFieldInfo",
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Rep_MasterModel>(grid))
</div>

@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)

