@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using System.Collections
@model HRM.Presentation.Canteen.Models.Can_MealRecordModel

@{
    Layout = null;
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>

    $(document).ready(function () {
        document.getElementById("MachineCode").readOnly = true;
        document.getElementById("Amount").readOnly = true;
        document.getElementById("CateringID").readOnly = true;
        document.getElementById("CanteenID").readOnly = true;
    });

    function eSelect() {
        var _line = $('#LineID').data('kendoComboBox').value();
        $.ajax({
            url: '@_hrm_Can_Service' + 'Canteen_GetData/GetLineByID',
            type: 'POST',
            data: { Id: _line },
            success: function (strResponse) {
                 
                var rs = strResponse.Data[0];
                $('#CateringID').data('kendoComboBox').value(rs.CateringId);
                $('#CanteenID').data('kendoComboBox').value(rs.CanteenId);
                $('#MachineCode').val(rs.MachineCode);
                $('#Amount').data('kendoNumericTextBox').value(rs.Amount);

            },
        });
    };

</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div>
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileID)
                                @Html.HiddenFor(model => model.ID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    IEnumerable valueProfile = new string[] { };
                                    if (Model != null)
                                    {
                                        valueProfile = new[] { new { ProfileName = Model.ProfileName, Id = Model.ProfileID } };
                                    }
                                }
                                @{
                                    var multiSelectProfileID = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "ProfileName",
                                        DataValueField = "Id",
                                        Url = @_hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                        Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                        MaxSelectedItems = 1,
                                        Value = valueProfile,
                                        Name = "MealRecord_ProfileID"
                                        
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ProfileID, multiSelectProfileID))
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.TimeLog)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _time = new DateTimePickerBuilderInfo() {  };
                                }
                                @Html.VnrDateTimePickerFor(mode => mode.TimeLog, _time)
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.MealAllowanceTypeID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _MealAllowanceType = new ComboBoxBuilderInfo()
                                    {
                                        DataTextField = "MealAllowanceTypeName",
                                        DataValueField = "Id",
                                        Url = _hrm_Can_Service + "Canteen_GetData/GetMultiMealAllowanceTypeSetting",
                                        Placeholder = ConstantDisplay.HRM_Canteen_SelectMealAllowanceTypeName.TranslateString(),
                                        StyleCss = "width:200px"
                                    };
                                    if (Model != null)
                                    {
                                        _MealAllowanceType.Value = Model.MealAllowanceTypeID == Guid.Empty ? string.Empty : Model.MealAllowanceTypeID.ToString();
                                        _MealAllowanceType.Autobind = true;
                                    }
                                }
                                @Html.VnrComboBoxFor(mode => mode.MealAllowanceTypeID, _MealAllowanceType)
                            </div>
                        </div>

                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LineID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _line = new ComboBoxBuilderInfo()
                                        {
                                            DataTextField = "LineName",
                                            DataValueField = "Id",
                                            Url = _hrm_Can_Service + "Canteen_GetData/GetMultiLine",
                                            Placeholder = ConstantDisplay.HRM_Canteen_SelectLine.TranslateString(),
                                            StyleCss = "width:200px",
                                            EventChange = "eSelect"
                                            
                                        };
                                    if (Model != null)
                                    {
                                        _line.Value = Model.LineID == null ? string.Empty : Model.LineID.ToString();
                                        _line.Autobind = true;
                                    }
                                }
                                @Html.VnrComboBoxFor(mode => mode.LineID, _line)
                            </div>
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.CateringID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _catering = new ComboBoxBuilderInfo()
                                        {
                                            DataTextField = "CateringName",
                                            DataValueField = "Id",
                                            Url = _hrm_Can_Service + "Canteen_GetData/GetMultiCatering",
                                            Placeholder = ConstantDisplay.HRM_Canteen_SelectCatering.TranslateString(),
                                            StyleCss = "width:200px"
                                        };
                                    if (Model != null)
                                    {
                                        _catering.Value = Model.CateringID == null ? string.Empty : Model.CateringID.ToString();
                                        _catering.Autobind = true;
                                    }
                                }
                                @Html.VnrComboBoxFor(mode => mode.CateringID, _catering)
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.CanteenID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _canteen = new ComboBoxBuilderInfo()
                                        {
                                            DataTextField = "CanteenName",
                                            DataValueField = "Id",
                                            Url = _hrm_Can_Service + "Canteen_GetData/GetMultiCanteen",
                                            Placeholder = ConstantDisplay.HRM_Canteen_SelectCanteen.TranslateString(),
                                            Value = Model == null ? string.Empty : Model.CanteenName,
                                            StyleCss = "width:200px; readonly: true; "
                                        };
                                    if (Model != null)
                                    {
                                        _canteen.Value = Model.CanteenID == null ? string.Empty : Model.CanteenID.ToString();
                                        _canteen.Autobind = true;
                                    }
                                }
                                @Html.VnrComboBoxFor(mode => mode.CanteenID, _canteen)
                            </div>
                        </div>
                        
                        <div id="div8">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.MachineCode)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.MachineCode, "width:200px; ")
                            </div>
                        </div>
                        <div id="div9">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Amount)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var numericTextBoxAmount = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:200px; ",
                                        Format = "n0"
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.Amount, numericTextBoxAmount)
                            </div>

                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
