
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_MealRecordModel

@{
    Layout = null;
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Can_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>

    var data = SetCharacteFieldRequired();
    var doSave = function () {
        var result = false;
        if (CheckValidate(data)) {
            var result = false;
            onCreate($('#form-create'), '@_hrm_Can_Service', 'api/Can_MealRecord/');  return true;
        }
        return result;
    }
    function doSaveNew() {
         
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Can_MealRecord/Create/', 'Hrm_Main_Web', '@_hrm_Can_Web');
        }
    };
</script>

<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Can_MealRecordIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Canteen_MealRecord_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_MealRecord_Back_To_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




