@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@model Sys_AppConfigModel
@{
    Layout = null;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Att_Grade" }))
{
        <table>
        <tr>
            <td>

                <div style="float:left; width:600px">
                    <div id="div2">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(m=>m.Value52)
                        </div>
                        <div class="FieldValue">
                            @{
                                
                            }
                            
                        </div>
                        <br />
                    </div>
                    <div id="div2">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.GradeAttendanceID)
                        </div>
                        <div class="FieldValue">
                            @{
                                IEnumerable Grade_valueGradeAttendance = new string[] { };
                                if (Model != null)
                                {
                                    Grade_valueGradeAttendance = new[] { new { GradeAttendanceName = Model.GradeAttendanceName, ID = Model.GradeAttendanceID } };
                                }
                                                        }
                                                        @{
                                var _GrademultiSelectGradeAttendanceID = new MultiSelectBuilderInfo()
                                {
                                    Name = "GradeInfo_GradeAttendanceID",
                                    DataTextField = "GradeAttendanceName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Cat_Service + "Cat_GetData/GetMultiGradeAttendance",
                                    Placeholder = ConstantDisplay.HRM_Category_SelectGradeAttendance.TranslateString(),
                                    MaxSelectedItems = 1,
                                    Value = Grade_valueGradeAttendance
                                };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.GradeAttendanceID, _GrademultiSelectGradeAttendanceID))
                        </div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MonthStart)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _GradedatepickerMonthStart = new DatePickerBuilderInfo()
                                {
                                    Name = "GradeInfo_MonthStart",
                                    Value = @Html.DisplayFor(mode => mode.MonthStart).ToString(),
                                    Placeholder = ConstantDisplay.HRM_Att_Grade_MonthStart.TranslateString(),
                                    //Format = ConstantFormat.HRM_Format_MonthYear.TranslateString()
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthStart, _GradedatepickerMonthStart).Format(ConstantFormat.HRM_Format_MonthYear.TranslateString())
                        </div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MonthEnd)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _GradedatepickerMonthEnd = new DatePickerBuilderInfo()
                                {
                                    Name = "GradeInfo_MonthEnd",
                                    Value = @Html.DisplayFor(mode => mode.MonthEnd).ToString(),
                                    Placeholder = ConstantDisplay.HRM_Att_Grade_MonthEnd.TranslateString(),
                                    // Format = ConstantFormat.HRM_Format_MonthYear.TranslateString()
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthEnd, _GradedatepickerMonthEnd).Format(ConstantFormat.HRM_Format_MonthYear.TranslateString())
                        </div>
                    </div>
                </div>



            </td>
        </tr>
    </table>
        
}