@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models
@using HRM.Infrastructure.Security
@model Tra_PlanModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}


<script>
    $("input[name=IsComplex]").on('change', function () {
        debugger;

        var radioItem = $("input[name=IsComplex]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
                radioItem[i].value = true;
            }
            else {
                radioItem[i].value = false;
            }
        }
    });
    var data = SetCharacteFieldRequired();
    function doSave() {
        debugger;
        var quantity = $("#SumQuantity").val();
        var grid = $("#grid_PlanDetail_info").data("kendoGrid");
        if (grid._data.length > 0) {
            var sumQuantity = grid._data[0].SumQuantity;
            if (quantity < sumQuantity) {
                ShowNotification('Thông Báo', '@ConstantDisplay.SumQuantityMustBeGreaterThanQuantity.TranslateString()', "k-block k-info-colored");
                return;
            }
        }
        var result = false;
        $('input[name=Outside]').val(document.getElementById("Outside").checked);
        onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Tra_Plan/');
        result = true;
        return result;
    };
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Tra_Plan/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }

</script>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Tra_Plan_Update.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_Tra_Back_To_Plan_List.TranslateString() + ")", "/Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_TraPlanEdit", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new_TraPlanEdit", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
