@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models
@using HRM.Infrastructure.Security
@model Tra_RequirementTrainModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}


<script>
    function doSave() {
        $("#IsTrainingOutside").val("0");
        var result = false;
        onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Tra_RequirementTrain/');
        result = true;
        return result;
    };
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Tra_RequirementTrainInSide/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }

</script>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Tra_RequirementTrainInSide_Update.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_Rec_Back_To_RequirementTrainInSide_List.TranslateString() + ")", "/Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_TraRequirementTrainInSideEdit", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new_TraRequirementTrainInSideEdit", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
