@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Category.Models;
@using HRM.Presentation.Evaluation.Models

@model Cat_NameEntityModel

@{
    Layout = null;

    var _Hrm_Eva_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Eva_Web = ConstantPathWeb.Hrm_Eva_Web;

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script type="text/javascript">

    SetFieldRequiredByScreenName("Salary_CountAnalyzeHoldSalary");
    function Setvalue() {
        $('#@Html.FieldIdFor(model=>model.NameEntityType)').val('E_CountAnalyzeHoldSalary');
        $('#@Html.FieldIdFor(model=>model.EnumType)').val('E_CountAnalyzeHoldSalary');
    }
    function onSaveDataPopUpHoldSalary() {
        onlySave($('#form_Sal_CountAnalyzeHoldSalary'), '@_hrm_Hr_Service', 'api/Cat_NameEntity/', '@ConstantControlName.HRM_Salary_CountAnalyzeHoldSalary_grid'); return false;
        };

    function onSaveHoldSalary() {
        onSaveAndContinue($('#form_Sal_CountAnalyzeHoldSalary'), '@_hrm_Hr_Service', 'api/Cat_NameEntity/', '@ConstantControlName.HRM_Salary_CountAnalyzeHoldSalary_grid', 'windowCountAnlyzeHoldSalary');
        return false;
    };

    function onSaveCloseHoldSalary() {
        onSaveAndClose($('#form_Sal_CountAnalyzeHoldSalary'), '@_hrm_Hr_Service', 'api/Cat_NameEntity/', '@ConstantControlName.HRM_Salary_CountAnalyzeHoldSalary_grid', 'windowCountAnlyzeHoldSalary');
        return false;
    };

</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Sal_CountAnalyzeHoldSalary" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(m => m.NameEntityType, new { @Value = EnumDropDown.EntityType.E_CountAnalyzeHoldSalary.ToString() })
    <table>
        <tr>
            <td>
                <div id="div2">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.Code, "width: 300px"))
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.CountAnalyzeHoldSalary)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.CountAnalyzeHoldSalary, "width: 300px"))
                    </div>
                </div>
                <div>
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:470px;height:100px;")
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUpHoldSalary", Name = "save-HoldSalary", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveHoldSalary", Name = "save-continue-HoldSalary", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveCloseHoldSalary", Name = "save-close-HoldSalary", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}