@*
    [Hien.Nguyen] - 2014/10/30
    Quy Trình Thêm 1 Module
    -- Thêm 1 Button có cấu trúc giống các button có trước
    -- Thêm tabstrip có ID bằng với value của button mới thêm ở trên (tên viết tắt của module)
    -- Khởi tạo script cho tabstrip có cấu trúc giống các tabstrip đã khởi tại trước đó
    -- Sửa lại biến "countModule"  bằng với số Button Module
*@

@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@{
    ViewBag.Title = "GeneralProfileDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var profileId = Guid.Empty;
    if (Model != null && Model.ID != null)
    {
        profileId = Model.ID;
    }
}
@model HRM.Presentation.EmpPortal.Models.Hre_ProfileModelPortal

<script>
    $('.k-widget').css('box-sizing', '').css('-webkit-box-sizing', '');

    //Read data for grid module Att
    function filterField_Att(isExport) {
        debugger;
        var param = {
            CutOffDurationID: $('#CutOffDuration_Att').val(),
            ProfileID: '@profileId',
        };
        return param;
    };

    function filterField_Sal(isExport) {
        debugger;
        var param = {
            CutOffDurationID: $('#CutOffDuration_Pal').val(),
            ProfileID: '@profileId',
        };
        if (isExport == true) {
            param["ExportId"] = $('#ddlScreenName').val();
        }
        return param;
    };
</script>
@{
    var hrTranslate = ConstantDisplay.HRM_HR.TranslateString();
    var insTranslate = ConstantDisplay.HRM_HR_Profile_Insurance.TranslateString();
    var travelTranslate = ConstantDisplay.HRM_HR_Travel.TranslateString();
    var contractTranslate = ConstantDisplay.HRM_HR_Contract_Tab_Title.TranslateString();
    var attTranslate = ConstantDisplay.HRM_Attendance.TranslateString();
    var salaryTranslate = ConstantDisplay.HRM_HR_Contract_Salary.TranslateString();
}
<div class="container" id="Personal">
    <div class="row">
        <ul class="breadcrumb hidden-xs" style="margin-bottom:auto">
            <li><a href="#">@ConstantDisplay.HRM_HR_Profile_Home.TranslateString()</a></li>
            <li><a href="#">@ConstantDisplay.HRM_HR_Profile_PersonalInfo.TranslateString()</a></li>
            <li><a id="btnModule" href="#">@ConstantDisplay.HRM_HR.TranslateString()</a></li>
            <li id="TabsTripInfo" class="active">@ConstantDisplay.HRM_HR_Profile_Basic.TranslateString()</li>
        </ul>
    </div>
    <!--Menu Module-->
    <div class="row">
        <ul class="row-data hidden-xs">
            <li class="btnModule btn btn-default btn-primary" data-val="Hre" title="@hrTranslate">
                <span>@hrTranslate</span>
            </li>
            <li class="btnModule btn btn-default" data-val="Insurance" title="@insTranslate">
                <span>@insTranslate</span>
            </li>
            <li class="btnModule btn btn-default" data-val="WorkHistory" title="@travelTranslate">
                <span>@travelTranslate</span>
            </li>
            <li class="btnModule btn btn-default" data-val="Contract" title="@contractTranslate">
                <span>@contractTranslate</span>
            </li>
            <li class="btnModule btn btn-default" data-val="Att" title="@attTranslate">
                <span>@attTranslate</span>
            </li>
            <li class="btnModule btn btn-default" data-val="Pal" title="@salaryTranslate">
                <span>@salaryTranslate</span>
            </li>
        </ul>

        <ul class="row-data hidden-lg hidden-md hidden-sm">
            <li class="btnModule btn btn-default btn-primary col-sm-6 col-xs-6" data-val="Hre" title="@hrTranslate">
                <span> @hrTranslate</span>
            </li>
            <li class="btnModule btn btn-default col-sm-6 col-xs-6" data-val="Insurance" title="@insTranslate">
                <span>@insTranslate</span>
            </li>
            <li class="btnModule btn btn-default col-sm-6 col-xs-6" data-val="WorkHistory" title="@travelTranslate">
                <span> @travelTranslate</span>
            </li>
            <li class="btnModule btn btn-default col-sm-6 col-xs-6" data-val="Contract" title="@contractTranslate">
                <span> @contractTranslate</span>
            </li>
            <li class="btnModule btn btn-default col-sm-6 col-xs-6" data-val="Att" title="@attTranslate">
                <span> @attTranslate</span>
            </li>
            <li class="btnModule btn btn-default col-sm-6 col-xs-6" data-val="Pal" title="@salaryTranslate">
                <span> @salaryTranslate</span>
            </li>
        </ul>
    </div>
    <!--/Menu Module-->
    <!--Tabstrip Content-->
    <div class="row">
        <div id="Hre" class="ra-section">
            <ul>
                <li class="k-state-active"><span class="km-icon fa fa-user fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_HR_Profile_Basic.TranslateString()</span></li>
                <li><span class="km-icon fa fa-file fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_HR_Profile_PersonalInfo.TranslateString()</span></li>
                <li><span class="km-icon fa fa-phone-square fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_HR_Profile_ContactInfo.TranslateString()</span></li>
                <li><span class="km-icon fa fa-users fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_Recruitment_UnusualAllowance_RelativeName.TranslateString()</span></li>
            </ul>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="Insurance" class="ra-section hidden">
            <ul>
                <li class="k-state-active"><span class="km-icon fa fa-suitcase fa-2x"></span><span class="hidden-xs">@insTranslate</span></li>
                @*<li><span class="km-icon fa fa-umbrella fa-2x"></span><span class="hidden-xs">Bảo Hiểm</span></li>*@
            </ul>
            <div></div>
        </div>

        <div id="WorkHistory" class="ra-section hidden">
            <ul>
                <li class="k-state-active"><span class="km-icon fa fa-envelope fa-2x"></span><span class="hidden-xs">@travelTranslate</span></li>
                @*<li><span class="km-icon fa fa-wheelchair fa-2x"></span><span class="hidden-xs">Công Việc Nặng Nhọc</span></li>*@
            </ul>
            <div></div>
            <div></div>
        </div>

        <div id="Contract" class="ra-section hidden">
            <ul>
                <li class="k-state-active"><span class="km-icon fa fa-user fa-2x"></span><span class="hidden-xs">@contractTranslate</span></li>
                @*<li><span class="km-icon fa fa-file fa-2x"></span><span class="hidden-xs">Thông tin cá nhân</span></li>
                <li><span class="km-icon fa fa-phone-square fa-2x"></span><span class="hidden-xs">Thông tin liên hệ</span></li>
                <li><span class="km-icon fa fa-users fa-2x"></span><span class="hidden-xs">Người thân</span></li>*@
            </ul>
            <div></div>
        </div>

        <div id="Att" class="ra-section hidden">
            <ul>
                @*<li class="k-state-active"><span class="km-icon fa fa-credit-card fa-2x"></span><span class="hidden-xs">Quẹt Thẻ</span></li>*@
                <li class="k-state-active"><span class="km-icon fa fa-calendar fa-2x"></span><span class="hidden-xs">@ConstantDisplay.Att_WorkDay.TranslateString()</span></li>
                <li><span class="km-icon fa fa-calendar-o fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_Attendance_ShiftTimeSheet.TranslateString()</span></li>
                <li><span class="km-icon fa fa-file-text-o fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_Attendance_Leaveday_DateLeave.TranslateString()</span></li>
                <li><span class="km-icon fa fa-clock-o fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_Category_Shift_Overtime.TranslateString()</span></li>
                <li><span class="km-icon fa fa-table fa-2x"></span><span class="hidden-xs">@ConstantDisplay.Att_AttendanceTableDetail.TranslateString()</span></li>
                <div class="row-data" style="float: right">
                    @{
                        var cutOffDurationName_Att = new DropDownListBuilderInfo()
                        {
                            Name = "CutOffDuration_Att",
                            DataTextField = "CutOffDurationName",
                            DataValueField = "ID",
                            Url = _hrm_Hre_Service + "Att_GetData/GetMultiCutOffDuration",
                            StyleCss = "width:150px",
                            EventChange = "CutOffChangeEven_Att",
                        };
                    }
                    @(Html.VnrDropDownList(cutOffDurationName_Att).OptionLabel(null))
                </div>
            </ul>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="Eva" class="ra-section hidden">
            <ul>
                <li class="k-state-active"><span class="km-icon fa fa-pencil-square-o fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_System_Resource_Eva_SaleEvaluation.TranslateString()</span></li>
            </ul>
            <div></div>
        </div>

        <div id="Pal" class="ra-section hidden">
            <ul>
                @*<li class="k-state-active"><span class="km-icon fa fa-info-circle fa-2x"></span><span class="hidden-xs">Thông Tin Lương</span></li>
                <li class=""><span class="km-icon fa fa-dollar fa-2x"></span><span class="hidden-xs">Lương Căn Bản</span></li>*@
                <li class="k-state-active"><span class="km-icon fa fa-file-text-o fa-2x"></span><span class="hidden-xs">@ConstantDisplay.HRM_Payroll_SalaryPayslips.TranslateString()</span></li>
                <div class="row-data" style="float: right">
                    @{
                        var cutOffDurationName_Pal = new DropDownListBuilderInfo()
                        {
                            Name = "CutOffDuration_Pal",
                            DataTextField = "CutOffDurationName",
                            DataValueField = "ID",
                            Url = _hrm_Hre_Service + "Att_GetData/GetMultiCutOffDuration",
                            OptionLabel = ConstantDisplay.HRM_Att_SelectCutOffDuration.TranslateString(),
                            StyleCss = "width:150px",
                            EventChange = "CutOffChangeEven_Pal",
                        };
                    }
                    @(Html.VnrDropDownList(cutOffDurationName_Pal))
                </div>
            </ul>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--/Tabstrip Content-->
</div>

<script type="text/javascript">
    var TabsCurrent = "Hre";//Lưu tabstrip đang show ra
    var _tmp = 0;//biến tạm
    var countModule = 6;//bến lưu số lượng của button module
    //biến để lưu các tên của gird và kỳ công hiện tại cho Module Att
    var Att_GridName = [
        //["gridTab_TAMScanLogView", ""],
        ["gridTab_WorkDayView", ""],
        ["gridTab_RosterView", ""],
        ["gridTab_LeavedayView", ""],
        ["gridTab_OvertimeView", ""],
        ["gridAtt_AttendanceTableItem", ""],
        ["gridPayroll_BasicSalary", ""],
        ["gridPayroll_Paysips", ""]
    ];
    //biến để lưu các tên của gird và kỳ công hiện tại cho Module Pal
    var Pal_GridName = [
        //["gridPayroll_BasicSalary", ""],
        //["gridPayroll_BasicSalary", ""],
        ["gridPayroll_Paysips", ""]
    ];

    $("#Hre").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        '@Url.Action("BasicInfo","Personal")',
                        '@Url.Action("PersonalInfo","Personal")',
                        '@Url.Action("ContactInfo","Personal")',
                        '@Url.Action("RelativeInfo", "Personal")',
        ]
    });

    $("#Contract").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                         '@Url.Action("Contact", "Personal")',
        ]
    });


    $("#Insurance").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        '@Url.Action("InsuranceInfo", "Personal")',
        ]
    });
    $("#WorkHistory").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        '@Url.Action("WorkHistory", "Personal")',
                        '@Url.Action("HDTJob", "Personal")',
        ]
    });
    $("#Att").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        //'Url.Action("TAMScanLog", "Personal")',
                        '@Url.Action("WorkDay", "Personal")',
                        '@Url.Action("Roster", "Personal")',
                        '@Url.Action("LeaveDay", "Personal")',
                        '@Url.Action("Overtime", "Personal")',
                        '@Url.Action("ProfileAttendanceDetail", "Personal")',
        ]
    });
    $("#Eva").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        '@Url.Action("SaleEvaluation", "Personal")',
        ]
    });
    $("#Pal").kendoTabStrip({
        animation: {
            open: { effects: "fadeIn" }
        },
        select: ChangeTabstripModule,
        activate: ActiveTabstrip,
        contentUrls: [
                        //'Url.Action("SalaryInfo", "Personal")',
                        //'Url.Action("BasicSalary", "Personal")',
                        '@Url.Action("Paysips", "Personal")',
        ]
    });

    //Ẩn hiện các tabstrip
    $("li.btnModule").click(function () {
        debugger;
        var e = this.attributes[1].value;
        if (e != TabsCurrent) {
            $("#" + TabsCurrent).addClass("hidden");
            $("li.btnModule").removeClass("btn-primary");
            $("#" + e).removeClass("hidden");
            if (this.attributes[2].value.indexOf("btnModule") == -1) {
                this.attributes[0].value += " btn-primary";
            }
            else {
                this.attributes[2].value += " btn-primary";
            }
            TabsCurrent = e;
        }

        //reload content breadcrumb
        $("#btnModule").html(this.textContent.trim());
        var tabsName = $('#' + e).data("kendoTabStrip").select().text();
        $("#TabsTripInfo").html(tabsName);

    });
    //load lại các tabstrip đang
    function ChangeTabstripModule(e) {
        debugger;
        var indexTabs = e.contentElement.id.split('-')[1] - 1;
        var CutOffID_Att = $('#CutOffDuration_Att').val();
        var CutOffID_Pal = $('#CutOffDuration_Pal').val();
        if (e.contentElement.id.split('-')[0] == "Att")//trường hợp khi select tabs Module Att
        {
            if (CutOffID_Att != Att_GridName[indexTabs][1]) {//nếu kỳ công khác kỳ công đã load thì load lại
                if (Att_GridName[indexTabs][1] != "")//Nếu chưa load lần nào, tức là load lần đầu tiên
                {
                    $('#' + Att_GridName[indexTabs][0]).data('kendoGrid').dataSource.read();
                }
                Att_GridName[indexTabs][1] = CutOffID_Att;
            }
        }
        if (e.contentElement.id.split('-')[0] == "Pal")//trường hợp khi select tabs Module Pal
        {
            if (CutOffID_Pal != Pal_GridName[indexTabs][1]) {//nếu kỳ công khác kỳ công đã load thì load lại
                if (Pal_GridName[indexTabs][1] != "")//Nếu chưa load lần nào, tức là load lần đầu tiên
                {
                    $('#' + Pal_GridName[indexTabs][0]).data('kendoGrid').dataSource.read();
                }
                Pal_GridName[indexTabs][1] = CutOffID_Pal;
            }
        }
    };
    //Get name tabstrip select
    function ActiveTabstrip(e) {
        if (_tmp == countModule) {//loại bỏ trường hợp cập nhật tên trên breadcrumb khi chạy lần đầu tiên
            var tabsName = $('#' + e.contentElement.id.split('-')[0]).data("kendoTabStrip").select().text();//lấy tên của tabs
            $("#TabsTripInfo").html(tabsName);//hiển thị tên lên breadcrumb
            if (e.contentElement.id == "Att-6")//nếu là tab ngoại lệ này thì load thông tin cho tab
                GetDataForAttendanceTabs();
        }
        else {
            _tmp++;
        }
    };
    //even change dropdown cutoffduration for Module Att
    function CutOffChangeEven_Att(e) {
        debugger;
        var indexTabs = $("#Att").data("kendoTabStrip").select().index();//lấy tab đang selected
        $('#' + Att_GridName[indexTabs][0]).data('kendoGrid').dataSource.read();//load lại gird của tabs đang seleced

        //Load dữ liệu cho tabs của att
        GetDataForAttendanceTabs();
    };
    //even change dropdown cutoffduration for Module Pal
    function CutOffChangeEven_Pal(e) {
        debugger;
        var indexTabs = $("#Pal").data("kendoTabStrip").select().index();//lấy tab đang selected
        $('#' + Pal_GridName[indexTabs][0]).data('kendoGrid').dataSource.read();//load lại gird của tabs đang seleced
    };

    //load dữ liệu cho form của tabs Att-6
    function GetDataForAttendanceTabs() {
        $.ajax({
            type: 'POST',
            url: '@_hrm_Hre_Service' + 'Att_GetData/GetAttendanceTableByProIDandCutOID',
            data: filterField_Att(),
            dataType: 'json',
            success: function (result) {
                debugger;
                if (result != null) {
                    $("#VL_StdWorkDayCount").html(result.StdWorkDayCount);
                    $("#VL_RealWorkDayCount").html((Math.round(result.RealWorkDayCount * 100) / 100).toString());
                    $("#VL_PaidWorkDayCount").html((Math.round(result.PaidWorkDayCount * 100) / 100).toString());
                    $("#VL_AnlDayTaken").html(result.AnlDayTaken);
                    $("#VL_AnlDayAvailable").html(result.AnlDayAvailable);
                    $("#VL_NightShiftHours").html(result.NightShiftHours);
                    $("#VL_LateEarlyDeductionHours").html((Math.round(result.LateEarlyDeductionHours * 100) / 100).toString());
                    $("#VL_Note").html(result.Note);
                    var str = '<div class="header-box"><label>Tăng Ca</label></div>';

                    if (result.Overtime1Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime1Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime1Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.Overtime2Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime2Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime2Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.Overtime3Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime3Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime3Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.Overtime4Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime4Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime4Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.Overtime5Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime5Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime5Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.Overtime6Name != null) {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.Overtime6Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.Overtime6Hours + '</div> </div>';
                    } else {
                        str += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }

                    $("#divOvertime").empty();
                    $("#divOvertime").append(str);

                    var strLD = '<div class="header-box"><label>' + '@ConstantDisplay.HRM_Attendance_Leaveday_DateLeave.TranslateString()' + '</label></div>';
                    strLD += '<div class="div-parent">'
                            + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" >' + '@ConstantDisplay.HRM_Attendance_Leaveday_IsPaid.TranslateString()' + '</div> '
                            + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.PaidLeaveDays + '</div></div>';
                    strLD += '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + '@Html.VnrLabel(ConstantDisplay.HRM_Attendance_AttendanceTable_AnlDayTaken.TranslateString())' + ' </div> '
                                    + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.AnlDayTaken + '</div> </div>';
                    
                    if (result.LeaveDay1Name != null) {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.LeaveDay1Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.LeaveDay1Hours + ' (h) </div> </div>';
                    } else {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.LeaveDay2Name != null) {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.LeaveDay2Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.LeaveDay1Hours + ' (h)</div> </div>';
                    } else {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.LeaveDay3Name != null) {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">' + result.LeaveDay3Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.LeaveDay1Hours + ' (h)</div> </div>';
                    } else {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên"></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    if (result.LeaveDay4Name != null) {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" >' + result.LeaveDay4Name + ' </div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">' + result.LeaveDay1Hours + ' (h)</div> </div>';
                    } else {
                        strLD += '<div class="div-parent">'
                                + '<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" ></div> '
                                + '<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div> </div>';
                    }
                    
                    
                    $("#divLeaveday").empty();
                    $("#divLeaveday").append(strLD);

                }
            },
            error: function (result) {
                debugger;
                window.ShowNotificationProcessor("Lỗi trong quá trình xử lý !");
            }
        });
    };


    function ReloadTabsTrip(id) {
        var tabStrip = $("#" + id).kendoTabStrip().data("kendoTabStrip");
        var index = tabStrip.select();
        tabStrip.reload(index);
    };

</script>

















