
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
}
@model Hre_ProfileModelPortal
@if (Model != null)
{
    <div class="row"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-data">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
                <div class="header-box">@ConstantDisplay.HRM_HR_Profile_SocialInsurance.TranslateString()</div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.IsRegisterSocialIns)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @{
                        var IsRegisterSocialIns = new CheckBoxBuilderInfo()
                        {
                        };
                        if (Model != null)
                        {
                            if (Model.IsRegisterSocialIns == true)
                            {
                                IsRegisterSocialIns.Value = true;
                            }
                            else
                            {
                                IsRegisterSocialIns.Value = false;
                            }
                        }
                        }
                        @Html.VnrCheckBoxFor(model => model.IsRegisterSocialIns, IsRegisterSocialIns)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsNo)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.SocialInsNo)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsOldNo)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.SocialInsOldNo)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsIssueDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.SocialInsIssueDate)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsDateReg)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.SocialInsDateReg)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsIssuePlace)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.SocialInsIssuePlace)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialIns)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @{
                        var ReceiveSocialIns = new CheckBoxBuilderInfo()
                        {
                        };
                        if (Model != null)
                        {
                            if (Model.ReceiveSocialIns == true)
                            {
                                ReceiveSocialIns.Value = true;
                            }
                            else
                            {
                                ReceiveSocialIns.Value = false;
                            }
                        }

                        }
                        @Html.VnrCheckBoxFor(model => model.ReceiveSocialIns, ReceiveSocialIns)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialInsDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.ReceiveSocialInsDate)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookStatus)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.SocialInsSubmitBookStatus)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="">
                        @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.SocialInsSubmitBookDate)
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
                <div class="header-box">@ConstantDisplay.HRM_HR_Profile_HealthInsurance.TranslateString()</div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.IsRegisterHealthIns)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @{
                        var IsRegisterHealthIns = new CheckBoxBuilderInfo()
                        {
                        };
                        if (Model != null)
                        {
                            if (Model.IsRegisterHealthIns == true)
                            {
                                IsRegisterHealthIns.Value = true;
                            }
                            else
                            {
                                IsRegisterHealthIns.Value = false;
                            }
                        }

                        }
                        @Html.VnrCheckBoxFor(model => model.IsRegisterHealthIns, IsRegisterHealthIns)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.HealthInsNo)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.HealthInsNo)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.HealthInsIssueDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.HealthInsIssueDate)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.HealthInsExpiredDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.HealthInsExpiredDate)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlace)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.HealthTreatmentPlace)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlaceCode)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.HealthTreatmentPlaceCode)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthIns)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @{
                        var ReceiveHealthIns = new CheckBoxBuilderInfo()
                        {

                        };
                        if (Model != null)
                        {
                            if (Model.ReceiveHealthIns == true)
                            {
                                ReceiveHealthIns.Value = true;
                            }
                            else
                            {
                                ReceiveHealthIns.Value = false;
                            }
                        }

                        }
                        @Html.VnrCheckBoxFor(model => model.ReceiveHealthIns, ReceiveHealthIns)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthInsDate)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @String.Format("{0:dd/MM/yyyy}", Model.ReceiveHealthInsDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-data">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
                <div class="header-box">@ConstantDisplay.HRM_HR_Profile_UnEmploymentInsurance.TranslateString()</div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.IsRegisterUnEmploymentIns)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @{
                        var IsRegisterUnEmploymentIns = new CheckBoxBuilderInfo()
                        {
                        };
                        if (Model != null)
                        {
                            if (Model.IsRegisterUnEmploymentIns == true)
                            {
                                IsRegisterUnEmploymentIns.Value = true;
                            }
                            else
                            {
                                IsRegisterUnEmploymentIns.Value = false;
                            }
                        }

                        }
                        @Html.VnrCheckBoxFor(model => model.IsRegisterUnEmploymentIns, IsRegisterUnEmploymentIns)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsDateReg)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.UnEmpInsDateReg)
                    </div>
                </div>
                <div class="div-parent">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsCountMonthOld)
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                        @Html.DisplayFor(model => model.UnEmpInsCountMonthOld)
                    </div>
                </div>
            </div>
        </div>
    </div>
}