
@using HRM.Presentation.EmpPortal.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@model Hre_ProfileModelPortal
    
<script type="text/javascript">
    $(document).ready(function () {
        GetDataForAttendanceTabs();
    });
</script>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row-data">
            <div class="header-box">@Html.VnrLabel(ConstantDisplay.HRM_Att_AttendanceTable.TranslateString())</div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.StdWorkDayCount)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_StdWorkDayCount">
                    @Html.DisplayFor(model => model.StdWorkDayCount)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.RealWorkDayCount)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_RealWorkDayCount">
                    @Html.DisplayFor(model => model.RealWorkDayCount)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.PaidWorkDayCount)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_PaidWorkDayCount">
                    @Html.DisplayFor(model => model.PaidWorkDayCount)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.AnlDayAvailable)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayAvailable">
                    @Html.DisplayFor(model => model.AnlDayAvailable)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.NightShiftHours)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_NightShiftHours">
                    @Html.DisplayFor(model => model.NightShiftHours)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.LateEarlyDeductionHours)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_LateEarlyDeductionHours">
                    @Html.DisplayFor(model => model.LateEarlyDeductionHours)
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row-data" id="divOvertime">
            <div class="header-box">@Html.VnrLabel("Tăng Ca")</div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>

            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row-data" id="divLeaveday">
            <div class="header-box">@Html.VnrLabel("Ngày Nghỉ")</div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.AnlDayTaken)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_AnlDayTaken">
                    @Html.DisplayFor(model => model.AnlDayTaken)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                    @Html.VnrLabelForNoneIcon(model => model.Note)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value" id="VL_Note">
                    @Html.DisplayFor(model => model.Note)
                </div>
            </div>
            @*<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên"></div>*@
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value"></div>
        </div>
    </div>
    <div class="row">
        <div class="header-box">@Html.VnrLabel(ConstantDisplay.HRM_Attendance_AttendanceTableItem_Title.TranslateString())</div>
        <div>
            @{
            string[] valueFields = new string[]
                    {
                        Att_AttendanceTableItemModel.FieldNames.WorkDate,
                        Att_AttendanceTableItemModel.FieldNames.FirstInTime,
                        Att_AttendanceTableItemModel.FieldNames.LastOutTime,
                        Att_AttendanceTableItemModel.FieldNames.ShiftName,
                        Att_AttendanceTableItemModel.FieldNames.WorkHours,
                        Att_AttendanceTableItemModel.FieldNames.LateEarlyMinutes,
                        Att_AttendanceTableItemModel.FieldNames.UnpaidLeaveHours,
                        Att_AttendanceTableItemModel.FieldNames.PaidLeaveHours,
                        Att_AttendanceTableItemModel.FieldNames.WorkPaidHours,
                        Att_AttendanceTableItemModel.FieldNames.NightShiftHours,
                        Att_AttendanceTableItemModel.FieldNames.OvertimeHours,
                        Att_AttendanceTableItemModel.FieldNames.OvertimeTypeName,
                    };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                    {
                        {Att_AttendanceTableItemModel.FieldNames.WorkDate,90},
                        {Att_AttendanceTableItemModel.FieldNames.FirstInTime,100},
                        {Att_AttendanceTableItemModel.FieldNames.LastOutTime,110},
                        {Att_AttendanceTableItemModel.FieldNames.WorkHours,120},
                        {Att_AttendanceTableItemModel.FieldNames.ShiftName,110},
                        {Att_AttendanceTableItemModel.FieldNames.LateEarlyMinutes,150},
                        {Att_AttendanceTableItemModel.FieldNames.UnpaidLeaveHours,165},
                        {Att_AttendanceTableItemModel.FieldNames.PaidLeaveHours,150},
                        {Att_AttendanceTableItemModel.FieldNames.WorkPaidHours,150},
                        {Att_AttendanceTableItemModel.FieldNames.NightShiftHours,150},
                        {Att_AttendanceTableItemModel.FieldNames.OvertimeHours,145},
                        {Att_AttendanceTableItemModel.FieldNames.OvertimeTypeName,250},
                    };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
                    {
                        {Att_AttendanceTableItemModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_WorkDay_WorkDate},
                        {Att_AttendanceTableItemModel.FieldNames.FirstInTime,ConstantDisplay.HRM_Attendance_WorkDay_FirstInTime},
                        {Att_AttendanceTableItemModel.FieldNames.LastOutTime,ConstantDisplay.HRM_Attendance_WorkDay_LastOutTime},
                        {Att_AttendanceTableItemModel.FieldNames.WorkHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_WorkHours},
                        {Att_AttendanceTableItemModel.FieldNames.ShiftName,ConstantDisplay.HRM_Category_Shift_ShiftName},
                        {Att_AttendanceTableItemModel.FieldNames.LateEarlyMinutes,ConstantDisplay.HRM_Attendance_AttendanceTableItem_LateEarlyMinutes},
                        {Att_AttendanceTableItemModel.FieldNames.UnpaidLeaveHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_UnpaidLeaveHours},
                        {Att_AttendanceTableItemModel.FieldNames.PaidLeaveHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_PaidLeaveHours},
                        {Att_AttendanceTableItemModel.FieldNames.WorkPaidHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_WorkPaidHours},
                        {Att_AttendanceTableItemModel.FieldNames.NightShiftHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_NightShiftHours},
                        {Att_AttendanceTableItemModel.FieldNames.OvertimeHours,ConstantDisplay.HRM_Attendance_AttendanceTableItem_OvertimeHours},
                        {Att_AttendanceTableItemModel.FieldNames.OvertimeTypeName,ConstantDisplay.HRM_Attendance_AttendanceTableItem_OvertimeTypeName},
                    };

            Dictionary<string, string> formatFields = new Dictionary<string, string>()
                    {
                        {Att_AttendanceTableItemModel.FieldNames.WorkHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.UnpaidLeaveHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.PaidLeaveHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.WorkPaidHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.NightShiftHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.OvertimeHours, ConstantFormat.HRM_Format_Number_Double},
                        {Att_AttendanceTableItemModel.FieldNames.FirstInTime, ConstantFormat.HRM_Format_HourMinSecond},
                        {Att_AttendanceTableItemModel.FieldNames.LastOutTime, ConstantFormat.HRM_Format_HourMinSecond},
                    };

            var grid = new GridBuilderInfo
            {
                Name = "gridAtt_AttendanceTableItem",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                FormatFields = formatFields,
                ReadActionUrl = _hrm_Hre_Service + "Att_GetData/GetAttendanceDetailByProIDandCutOID",
                ReadData = "filterField_Att",
                ShowEditIcon = false,
                ShowCheckbox = false,
                AutoBind=true,
            };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Att_AttendanceTableItemModel>(grid))
                
        </div>
    </div>




