
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models
@{
    ViewBag.Title = "SalaryInfo";
    Layout = null;
    if (Model == null)
    {
        return;
    }
}
@model Sal_SalaryInformationModel
          
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-data">
        <div class="header-box">Thông Tin Lương</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.IsCash)*@
                Phương Thức Thanh Toán 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @{
                    var IsCash = new CheckBoxBuilderInfo()
                    {

                    };
                    if (Model != null)
                    {
                        if (Model.IsCash == true)
                        {
                            IsCash.Value = true;
                        }
                        else
                        {
                            IsCash.Value = false;
                        }
                    }
                }
                @Html.VnrCheckBoxFor(m => m.IsCash, IsCash) Bằng Thẻ
                @{
                    var Iscard = new CheckBoxBuilderInfo()
                    {

                    };
                    if (Model != null)
                    {
                        if (Model.IsCash == true)
                        {
                            Iscard.Value = false;
                        }
                        else
                        {
                            Iscard.Value = true;
                        }
                    }
                }
                @Html.VnrCheckBoxFor(m => m.IsCash, Iscard) Bằng Tiền
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountCurrencyID)*@
                Tiền Tệ Tài Khoản 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m=>m.AccountCurrencyID)*@
                @Model.CurrencyName
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m=>m.BankID)*@
                Ngân Hàng 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.BankID)*@
                @Model.BankName
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.BankBrandName)*@
                Chi Nhánh Ngân Hàng 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.BankBrandName)*@
                @Model.BankBrandName
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountName)*@
                Tên Tài Khoản 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AccountName)*@
                @Model.AccountName
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountNo)*@
                Số Tài Khoản 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AccountNo)*@
                @Model.AccountNo
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.SwiftCode)*@
                Swift Code 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.SwiftCode)*@
                @Model.SwiftCode
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.SortCode)*@
                Sort Code 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.SortCode)*@
                @Model.SortCode
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AmountTransfer)*@
                Số Tiền Chuyển Khoản 1
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AmountTransfer)*@
                @Model.AmountTransfer
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.IsCash2)*@
                Phương Thức Thanh Toán 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @{
                    var IsCash2 = new CheckBoxBuilderInfo()
                    {

                    };
                    if (Model != null)
                    {
                        if (Model.IsCash2 == true)
                        {
                            IsCash2.Value = true;
                        }
                        else
                        {
                            IsCash2.Value = false;
                        }
                    }
                }
                @Html.VnrCheckBoxFor(m => m.IsCash2, IsCash2) Bằng Thẻ
                @{
                    var Iscard2 = new CheckBoxBuilderInfo()
                    {

                    };
                    if (Model != null)
                    {
                        if (Model.IsCash2 == true)
                        {
                            Iscard2.Value = false;
                        }
                        else
                        {
                            Iscard2.Value = true;
                        }
                    }
                }
                @Html.VnrCheckBoxFor(m => m.IsCash2, Iscard2) Bằng Tiền
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountCurrencyID)*@
                Tiền Tệ Tài Khoản 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m=>m.AccountCurrencyID)*@
                @Model.CurrencyName2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m=>m.BankID)*@
                Ngân Hàng 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.BankID)*@
                @Model.BankName2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.BankBrandName)*@
                Chi Nhánh Ngân Hàng 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.BankBrandName)*@
                @Model.BankBrandName2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountName)*@
                Tên Tài Khoản 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AccountName)*@
                @Model.AccountName2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AccountNo)*@
                Số Tài Khoản 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AccountNo)*@
                @Model.AccountNo2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.SwiftCode)*@
                Swift Code 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.SwiftCode)*@
                @Model.SwiftCode2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.SortCode)*@
                Sort Code 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.SortCode)*@
                @Model.SortCode2
            </div>
        </div>
        <div class="div-parent">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Tên nhân viên">
                @*@Html.VnrLabelFor(m => m.AmountTransfer)*@
                Số Tiền Chuyển Khoản 2
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                @*@Html.DisplayFor(m => m.AmountTransfer)*@
                @Model.AmountTransfer2
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>
