
@using HRM.Presentation.EmpPortal.Models
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@model Hre_ProfileModelPortal

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var id = string.Empty;
    if (Model != null)
    {
        id = "?profileID=" + Model.ID;
    }
}
        
@if (Model != null)
{
    <div class="row">
        <div class="header-box">@ConstantDisplay.HRM_HRM_WorkHistory.TranslateString()</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Phòng Ban">
                    @Html.HiddenFor(model => model.ID)
                    @Html.VnrLabelFor(model => model.OrgStructureName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                   @Html.DisplayFor(model => model.OrgStructureName)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Chức Danh">
                    @*@Html.VnrLabelFor(model => model.CodeEmp)*@
                   @Html.VnrLabelFor(model => model.JobTitleName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Html.DisplayFor(model => model.JobTitleName)
                   
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Chức Vụ">
                    @*@Html.VnrLabelFor(model => model.CodeAttendance)*@
                    @Html.VnrLabelFor(model => model.PositionName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Html.DisplayFor(model => model.PositionName)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Loại Nhân Viên">
                    @*@Html.LabelFor(model => model.DateApplyAttendanceCode)*@
                   @Html.VnrLabelFor(model => model.EmployeeTypeName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Html.DisplayFor(model => model.EmployeeTypeName)
                    @*@String.Format("{0:dd/MM/yyyy}", Model.DateApplyAttendanceCode)*@
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable" title="Ngày Hiệu Lực">
                    @*@Html.VnrLabelFor(model => model.LocationCode)*@
                    @Html.VnrLabelFor(model => model.DateOfEffect)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                   @String.Format("{0:dd/MM/yyyy}", Model.DateOfEffect)
                </div>
            </div>
            
         
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-data">
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                    @Html.VnrLabelForNoneIcon(model => model.CostCentreName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Html.DisplayFor(model => model.CostCentreName)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                   @Html.VnrLabelForNoneIcon(model => model.WorkPlaceName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Html.DisplayFor(model => model.WorkPlaceName)
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                    @Html.VnrLabelFor(model => model.SupervisorName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Model.SupervisorName
                </div>
            </div>
            <div class="div-parent">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 lable">
                    @Html.VnrLabelFor(model => model.HighSupervisorName)
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 value">
                    @Model.HighSupervisorName
                </div>
            </div>  
            
        </div>
        </div>

        
    
    
}

@{
    string[] valueFields = new string[]
                            {
                                Hre_WorkHistoryModel.FieldNames.DateEffective,
                                Hre_WorkHistoryModel.FieldNames.JobTitleName,
                                Hre_WorkHistoryModel.FieldNames.PositionName,
                                Hre_WorkHistoryModel.FieldNames.OrgStructureName,
                                Hre_WorkHistoryModel.FieldNames.WorkLocation
                            };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_WorkHistoryModel.FieldNames.DateEffective,120},
                                {Hre_WorkHistoryModel.FieldNames.JobTitleName,200},
                                {Hre_WorkHistoryModel.FieldNames.PositionName,120},
                                {Hre_WorkHistoryModel.FieldNames.OrgStructureName,120},
                                {Hre_WorkHistoryModel.FieldNames.WorkLocation,150}
                            };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_WorkHistoryModel.FieldNames.DateEffective, ConstantDisplay.HRM_HR_WorkHistory_DateEffective},
                                {Hre_WorkHistoryModel.FieldNames.JobTitleName, ConstantDisplay.HRM_HR_WorkHistory_JobTitleID},
                                {Hre_WorkHistoryModel.FieldNames.PositionName, ConstantDisplay.HRM_HR_WorkHistory_PositionID},
                                {Hre_WorkHistoryModel.FieldNames.OrgStructureName, ConstantDisplay.HRM_HR_WorkHistory_OrgStructureID},
                                {Hre_WorkHistoryModel.FieldNames.WorkLocation, ConstantDisplay.HRM_HR_WorkHistory_WorkLocation}
                            };
    var filterable = new Dictionary<string, bool>()
                            {
                               {Hre_WorkHistoryModel.FieldNames.DateEffective,true},
                               {Hre_WorkHistoryModel.FieldNames.JobTitleName,true},
                                {Hre_WorkHistoryModel.FieldNames.PositionName,true},
                                {Hre_WorkHistoryModel.FieldNames.OrgStructureName,true},
                                {Hre_WorkHistoryModel.FieldNames.WorkLocation,true},
                            };

    var grid = new GridBuilderInfo
    {
        Name = "gridWorkHistory1",
        ReadActionUrl = _hrm_Hre_Service + "Hre_GetData/GetWorkHistoryByProfileID" + id,
        ValueFields = valueFields,
        SizeFields = sizeFields,
        DisplayFields = displayFields,
        GridHeight = 350,
        AutoBind = true,
        ShowCheckAll = false,
        ShowCheckbox = false,
        ShowEditIcon=false
    };
}

<!--Khởi tạo Grid-->
@(Html.VnrGrid<Hre_WorkHistoryModel>(grid))