@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Hr.Models.FIN_CashAdvanceModel
@{
    ViewBag.Title = "Index Hre_Contract";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>

    var _profileID = [];

    var Validator = CheckValidate();

    $("input[name=IsEntertaiment]").on('change', function () {
        var radioItem = $("input[name=IsEntertaiment]");
        for (var i = 0; i < radioItem.length; i++) {
            debugger;
            if (radioItem[i].checked) {
                $("#contentOther").show();
                $("#contentTravelRequest").hide();

                radioItem[i].value = true;
            }
            else {

                $("#contentTravelRequest").show();
                $("#contentOther").hide();
                $("#Other").val("");
                //chưa có cách khác nên hard code
                if (radioItem[1].value == "true") {
                    $("#contentTravelRequest").hide();
                }
                radioItem[i].value = false;
            }
        }
    });
    var doSave = function()
    {
        $("#UserCreateID").val('@Session[SessionObjects.UserId]');
        $('input[name=IsEntertaiment]').val(document.getElementById("IsEntertaiment").checked);

        onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/FIN_CashAdvance/');

        return true;
    }
    //var data = SetCharacteFieldRequired();
    function doSave() {

    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/FIN_CashAdvance/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }


</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create" data-role="validator" novalidate="novalidate">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_FIN_CashAdvance_Create_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_FIN_CashAdvance_Back_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>



