
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@{
    ViewBag.Title = ConstantDisplay.HRM_HR_Profile_Home.TranslateString();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var client = Session["CLIENT_ID"];
    var chart = Session["Chart"];
}
@model Hre_NotificationModel
<style>
    .k-content {
        border: 1px solid #ebebeb;
    }
    .thumbnail {
        margin-bottom: 0px !important;
        padding: 0 !important;
    }
</style>
<br />
<div class="container" id="div-home-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4 col-md-6 col-sm-6 pd-left-01">
                @{
                    if (client != null && client.ToString() == "OPA")
                    {
                        if (chart != null)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">@*@ConstantDisplayPortal.UserInfo.TranslateString()*@</div>
                                <div class="list-group thumbnail" style="padding-top:0">
                                    <img src="@chart" alt="Biểu đồ" />
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">@*@ConstantDisplayPortal.UserInfo.TranslateString()*@</div>
                            <div class="list-group" style="padding-top:0">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">@ConstantDisplay.HRM_Hr_CardHistory_ProfileName.TranslateString() :</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.ProfileName)</div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">@ConstantDisplay.HRM_System_User_LoginName.TranslateString() :</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.UserLogin)</div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">@ConstantDisplay.HRM_Canteen_Report_EmpTypes.TranslateString() :</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.EmployeeTypeName)</div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">@ConstantDisplay.HRM_HR_Profile_JobTitleName.TranslateString() :</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.JobTitleName)</div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">@ConstantDisplay.HRM_HR_Reward_OrgStructureName.TranslateString() :</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.OrgStructureName)</div>
                                    </div>
                                </div>
                                @*<div class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 title">Nơi làm việc:</div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 value">@Html.DisplayFor(model => model.WorkingPlace)</div>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 pd-left-02">
                <div class="panel panel-default">
                    <div class="panel-heading">@*@ConstantDisplayPortal.NewNotification.TranslateString()*@</div>
                    <div class="list-group">
                        <a href="/Att_Overtime/Approve" class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.CountOvertime)</span>
                            @ConstantDisplay.HRM_CountOvertime.TranslateString()
                        </a>
                        <a href="/Att_Leaveday/Approve" class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.CountLeaveday)</span>
                            @ConstantDisplay.HRM_CountLeaveday.TranslateString()
                        </a>
                        @*<a href="#" class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.CountRoster)</span>
                            @ConstantDisplay.HRM_CountRoster.TranslateString()
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">0</span>
                            @ConstantDisplay.HRM_CountRoster.TranslateString()
                        </a>*@
                        @*<a href="#" class="list-group-item">
                            <span class="badge">0</span>
                            @ConstantDisplay.HRM_ContractMaturity.TranslateString()

                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">0</span>
                           @ConstantDisplay.HRM_BirthdayInDay.TranslateString()
                        </a>*@
                    </div>
                </div>
            </div>
            @*<div class="demo-section col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">BIỂU ĐỒ LƯƠNG THEO CHỨC VỤ</div>
                    <div class="panel-body">
                        <div id="chart"></div>
                    </div>
                </div>
                <script>
                    function createChart() {
                        $("#chart").kendoChart({
                            //title: {
                            //    text: "BIỂU ĐỒ LƯƠNG THEO CHỨC VỤ"
                            //},
                            legend: {
                                position: "bottom"
                            },
                            seriesDefaults: {
                                labels: {
                                    template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                                    position: "outsideEnd",
                                    visible: true,
                                    background: "transparent"
                                }
                            },
                            series: [{
                                type: "pie",
                                data: [{
                                    category: "Ban lảnh đạo",
                                    value: 14,
                                    color: "#f16a2b"
                                }, {
                                    category: "Quản lý",
                                    value: 23,
                                    color: "#89c225"
                                }, {
                                    category: "Nhân viên",
                                    value: 63,
                                    color: "#288fcc"
                                }]
                            }],
                            tooltip: {
                                visible: true,
                                template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                            }
                        });
                    }
                    $(document).ready(createChart);
                    $(document).bind("kendo:skinChange", createChart);
                </script>
            </div>*@


            @*<div class="col-lg-4 col-md-12 col-sm-12 pd-left-right-0">
                <div class="panel panel-default">
                    <div class="panel-heading">@ConstantDisplayPortal.LeaveSummary.TranslateString()</div>
                    <div class="panel-body GridLeaveSummary">
                        @Html.Partial("_GridLeaveSummary")
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-12">
            <div class="demo-section col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">BIỂU ĐỒ LƯƠNG THEO CHỨC VỤ</div>
                    <div class="panel-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>

            <div class="demo-section col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">BIỂU ĐỒ NĂNG LỰC</div>
                    <div class="panel-body">
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>
            <div class="demo-section1 col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">BIỀU ĐỒ BIẾN ĐỘNG NHÂN SỰ</div>
                    <div class="panel-body">
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>

            <script>
                function createChart() {
                    $("#chart").kendoChart({
                        //title: {
                        //    text: "BIỂU ĐỒ LƯƠNG THEO CHỨC VỤ"
                        //},
                        legend: {
                            position: "bottom"
                        },
                        seriesDefaults: {
                            labels: {
                                template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                                position: "outsideEnd",
                                visible: true,
                                background: "transparent"
                            }
                        },
                        series: [{
                            type: "pie",
                            data: [{
                                category: "Ban lảnh đạo",
                                value: 14,
                                color: "#f16a2b"
                            }, {
                                category: "Quản lý",
                                value: 23,
                                color: "#89c225"
                            }, {
                                category: "Nhân viên",
                                value: 63,
                                color: "#288fcc"
                            }]
                        }],
                        tooltip: {
                            visible: true,
                            template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                        }
                    });
                }
                $(document).ready(createChart);
                $(document).bind("kendo:skinChange", createChart);
            </script>

            <script>
                function createChart() {
                    $("#chart2").kendoChart({
                        //title: {
                        //    text: "BIỂU ĐỒ NĂNG LỰC"
                        //},
                        legend: {
                            position: "bottom"
                        },
                        seriesDefaults: {
                            type: "radarArea"
                        },
                        series: [{
                            name: "TARGET",
                            data: [5, 5.5, 5, 4.5, 4, 3.5, 3, 2.5, 3, 5, 3, 5]
                            //, 91, 255, 120]
                        }, {
                            name: "ACTUAL",
                            data: [5, 4, 5, 3, 4, 5, 4, 5, 4, 5, 4, 5],
                            color: "#00ff00"
                            //, 10, 7, 19, 5]
                        },
                         {
                             name: "2013",
                             data: [4, 4, 3, 3, 4, 3, 4, 4, 4, 3, 4, 3],
                             color: "#3366ff"
                             //, 10, 7, 19, 5]
                         }],
                        categoryAxis: {
                            categories: ["WCM Principles", "WCM Way", "7 WCM Tools", "Safety Mng",
                                "Enviroment Mng", "Cost Deployment", "Policy management", "Problem Solving",
                                "People Development", "Org. Structure", "Basic of QC", "Basic of Maintenance"]
                            //"Rewarding system", "Policy management", "Strategic thinking"]
                        },
                        valueAxis: {
                            labels: {
                                format: "{0}"
                            }
                        },
                        tooltip: {
                            visible: true,
                            format: "{0}"
                        }
                    });
                }

                $(document).ready(createChart);
                $(document).bind("kendo:skinChange", createChart);
            </script>

            <script>
                function createChart() {
                    $("#chart3").kendoChart({
                        //title: {
                        //    text: "BIỀU ĐỒ BIẾN ĐỘNG NHÂN SỰ"
                        //},
                        legend: {
                            visible: true,
                            position: "bottom"
                        },
                        seriesDefaults: {
                            type: "bar"
                        },
                        series: [{
                            name: "Vào trong tháng",
                            data: [900, 800, 600, 700, 500, 300, 400, 200, 100, 150, 300, 180],
                            color: "#89c225"
                        }, {
                            name: "Đang làm việc",
                            data: [2600, 1600, 1500, 1400, 1300, 1200, 1150, 1100, 1000, 900, 800, 700],
                            color: "#288fcc"
                        }, {
                            name: "Đã nghỉ việc",
                            data: [125, 120, 80, 113, 110, 70, 140, 113, 110, 40, 90, 80],
                            color: "#f16a2b"
                        }],
                        valueAxis: {
                            max: 2700,
                            line: {
                                visible: false
                            },
                            minorGridLines: {
                                visible: true
                            }
                        },
                        categoryAxis: {
                            categories: ["Dec", "Nov", "Oct", "Sep", "Aug", "July", "Jun", "May", "Apr", "Mar", "Feb", "Jan"],
                            majorGridLines: {
                                visible: false
                            }
                        },
                        tooltip: {
                            visible: true,
                            template: "#= series.name #: #= value #"
                        }
                    });
                }

                $(document).ready(createChart);
                $(document).bind("kendo:skinChange", createChart);
            </script>
        </div>
    </div>*@
</div>



<script>
    window.onresize = function(event) {
        window.location.reload();
    };
</script>
