@{
    Layout = null;
    var fullName = Session[SessionObjects.FullName];
}
@using HRM.Infrastructure.Utilities
@model HRM.Presentation.HrmSystem.Models.Sys_AllSettingModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/metro-index.css" rel="stylesheet" />
    <style>
        .navbar-brand {
            width: 100% !important;
        }

        .logout-icon {
            position: absolute;
            top: 10px;
            right: 20px;
        }

        .changePass-icon {
            position: absolute;
            top: 30px;
            right: 18px;
        }
    </style>

            @{
        var permissions = new List<string>();
        var listPermission = new List<string>();
        if (ViewBag.ListPermission != null)
        {
            permissions = (List<string>)ViewBag.ListPermission;

            foreach (var permission in permissions)
            {
                listPermission.Add(permission);
            }
            listPermission.Add("Portal_Logout_Portal");
            listPermission.Add("Portal_ChangePasswordDefault_Portal");
        }
        var strPermission = string.Join(",", listPermission.ToArray());

        Session["strPermission"] = strPermission;

        var isFirstLogin = Session[SessionObjects.IsFirstLogin];
        var _Hrm_EmpPortal_Web = ConstantPathWeb.Hrm_EmpPortal_Web;
    }

</head>


<body>
    <div class="grid" id="custom-id-index">
        <div class="row col-md-12">
            <div id="dvLogoutProfile" class="tile tile-green col-md-3 col-xs-12">
                <a href="/Personal/GeneralProfileDetail" class="fa-links">
                    <div>
                        <h1>@ConstantDisplay.HRM_HR_Profile_Personal.TranslateString()</h1>
                        <i class="fa fa-3x fa-user"></i>
                    </div>
                    <div class="navbar-brand col-lg-12" style="text-align:center">@fullName</div>
                </a>
                <a href="/Portal/Logout" class="fa-links">
                    <i class="fa fa-power-off fa-3 logout-icon" title="@ConstantDisplay.Hrm_Portal_LogOut.TranslateString()"></i>
                </a>
                <a href="/Portal/ChangePasswordDefault" class="fa-links">
                    <i class="fa fa-key fa-2s changePass-icon" title="@ConstantDisplay.HRM_System_User_ChangePass.TranslateString()"></i>
                </a>
            </div>

            <div class="col-md-9 col-xs-12 custom-box">
                <a href="/Portal/Home/" class="fa-links">
                    <div class="tile tile-pomegranate col-md-2 col-sm-4 col-xs-6">
                        <h1>Dashboard</h1>
                        <i class="fa fa-3x fa-tachometer"></i>
                    </div>
                </a>

                <a href="/Att_Overtime/OvertimeList" class="fa-links">
                    <div class="tile tile-purple col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.HRM_Attendance_Overtime.TranslateString()</h1>
                        <i class="fa fa-3x fa-exchange"></i>
                    </div>
                </a>

                <a href="/Att_Leaveday/LeavedayList" class="fa-links">

                    <div class="tile tile-purple col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.HRM_Attendance_LeaveDay.TranslateString()</h1>
                        <i class="fa fa-3x fa-exchange"></i>
                    </div>
                </a>

                <a href="/Att_Overtime/Submit" class="fa-links">
                    <div class="tile tile-purple col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.Hrm_Portal_Submit_Overtime.TranslateString()</h1>
                  


                        <i class="fa fa-3x fa-exchange"></i>
                    </div>
                </a>

                <a href="/Att_Leaveday/Submit" class="fa-links">

                    <div class="tile tile-purple col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.Hrm_Portal_Submit_Leaveday.TranslateString()</h1>
                        <i class="fa fa-3x fa-exchange"></i>
                    </div>
                </a>

                <a href="/Att_Overtime/Approve" class="fa-links">
                    <div class="tile tile-pumpkin col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.Hrm_Portal_Approve_Overtime.TranslateString()</h1>
                        <div style="font-size:35px">
                            @Model.Value3


                        </div>
                        @*<i class="fa fa-3x fa-chevron-circle-down"></i>*@
                    </div>
                </a>
                <a href="/Att_Leaveday/Approve" class="fa-links">
                    <div class="tile tile-pumpkin col-md-2 col-sm-4 col-xs-6">
                        <h1>@ConstantDisplay.Hrm_Portal_Approve_Leaveday.TranslateString()</h1>
                        <div style="font-size:35px">
                            @Model.Value4


                        </div>


                        @*<i class="fa fa-3x fa-chevron-circle-down"></i>*@
                    </div>
                </a>
                @{
                    if (Model != null && Model.Value1 == "OPA")
                    {
                        <a href="@Model.Value3" class="fa-links">
                            <div class="tile tile-belize-hole col-md-2 col-sm-4 col-xs-6">
                                <h1>Intranet</h1>
                                <i class="fa fa-3x fa-signal"></i>
                            </div>
                        </a>
                    }
                }


            </div>
        </div>
        <div class="row col-md-12">
        </div>
        <div class="row col-md-12">
        </div>
        <div class="row col-md-12">
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/Content/js/metro-docs.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var lstPermission = '@strPermission';
            $('a').each(function (i) {
                debugger;
                var href = this.pathname;
                if (href.indexOf("/") == 0) {
                    href = href.substr(1, href.length);
                }
                if (href.lastIndexOf('/') == (href.length-1)) {
                    href = href.substr(0, href.length -1);
                }
                href = href.split('/').join('_');
                if (lstPermission.indexOf(href + "_Portal") == -1) {
                    $(this).remove();
                }
            });
        });
    </script>
</body>
</html>
