@{
    Layout = null;
    var logo = Session["LogoPath"];
}
@using HRM.Infrastructure.Utilities;
@model HRM.Presentation.HrmSystem.Models.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ConstantDisplay.HRM_PORTAL_LOGIN_FORM_TITLE.TranslateString()</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .messages-error
        {
            color:red;
        }
        .messages-error ul {
            list-style:none;
            text-align:center;
            padding-left:0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">         
            <div class="logo" style="display: block; margin-left: auto; margin-right: auto ">
                <img src="/Content/images/logo/logo-vnr.png" style="max-height: 50px !important; padding-left: 10px; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; right: 0;">
            </div><!-- /.end logo -->
        </div>
        <div class="row">
            <div style="max-width:355px; margin:0 auto; padding:50px 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ConstantDisplay.HRM_PORTAL_LOGIN_FORM_TITLE.TranslateString()</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Portal", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                <div class="messages-error">
                                    @Html.ValidationSummary(true)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = ConstantDisplay.HRM_System_User_LoginName.TranslateString(), autofocus = "", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { placeholder = ConstantDisplay.HRM_System_User_Password.TranslateString(), @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class="pull-left">
                                        @{
                                            List<SelectListItem> lang = new List<SelectListItem>();
                                            lang.Add(new SelectListItem { Text = "Tiếng Việt", Value = "VN" });
                                            lang.Add(new SelectListItem { Text = "English", Value = "EN" });
                                        }
                                        @Html.DropDownList("Language", lang, new { @class = "form-control" })
                                    </div>
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-primary btn-block" value="@ConstantDisplay.HRM_PORTAL_LOGIN_FORM_BUTTON.TranslateString()" />
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
