@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;
@using HRM.Infrastructure.Security;

@model CatLaundryModel

@{
    ViewBag.Title = "Cat Laundry Index";
    //var Hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
    
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatLaundry",
        Visible = false,
        LoadContentFrom = @_hrm_Main_Web + "Cat_Laundry/LaundryInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    var titleEditPopUp = '@Html.Raw(@ConstantDisplay.HRM_Category_Laundry_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_Laundry_Create_Title.TranslateString())';
     

    //Data khi tìm kiếm
    function filterFieldInfo() {
        
        return {
            Code: $('#Code1').val(),
            LaundryName: $('#LaundryName1').val(),
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        $("#btnSearch").click(function () {
      
            ReadGrid("grid_Cat_Laundry");
            //var grid = $('#grid_Cat_Laundry').data("kendoGrid");
            //grid.dataSource.read();
            //selectedIds = [];
        });
        //Xử lý Edit popup
        
        var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_Laundry');
        if (!isAccess) {
            return;
        }
        var url = '@_hrm_Main_Web' + "Cat_Laundry/LaundryInfo/";
        EditGridPopUp("grid_Cat_Laundry", "windowCatLaundry", url, titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreateCatLaundry").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_Laundry');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowCatLaundry",titleCreatePopUp);
    });

    //Xử Lý grid
    GridCheckbox("grid_Cat_Laundry");
    


    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_Laundry');
        if (!isAccess) {
            return;
        }
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
            
            DeleteSelected("grid_Cat_Laundry", '@_hrm_Main_Web' + "Cat_Laundry/RemoveSelected/", selectedIds.join(","));
        
        return false;
    });


    $(document).ready(function () {
        ShowHidePanel();
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.LaundryName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("LaundryName1", "width:300px;")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("Code1","width:150px")
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCatLaundry", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = "Delete", ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            CatLaundryModel.FieldNames.Code,
            CatLaundryModel.FieldNames.LaundryName,
            CatLaundryModel.FieldNames.Description,
            //CatLaundryModel.FieldNames.DateCreate,
            //CatLaundryModel.FieldNames.DateUpdate,
        };

        var sizeFields = new Dictionary<string, int>()
        {

            {CatLaundryModel.FieldNames.Code,100},
            {CatLaundryModel.FieldNames.LaundryName,150},
            {CatLaundryModel.FieldNames.Description,250}
        };

        var filterable = new Dictionary<string, bool>()
        {
            {CatLaundryModel.FieldNames.Code,true},
            {CatLaundryModel.FieldNames.LaundryName,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            {CatLaundryModel.FieldNames.Code,ConstantDisplay.HRM_Category_Laundry_Code},
            {CatLaundryModel.FieldNames.LaundryName,ConstantDisplay.HRM_Category_Laundry_LaundryName},
            {CatLaundryModel.FieldNames.Description,ConstantDisplay.HRM_Category_Laundry_Description}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Cat_Laundry",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetLaundryList/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<CatLaundryModel>(grid))
</div>
