@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Category.Models.CatLaundryModel
@{
    ViewBag.Title = "CatLaundry";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Laurndry_Service = ConstantPathWeb.Hrm_Lau_Service;
}

<script>
    //var Validator = CheckValidate();
    var data = SetCharacteFieldRequired();

    function onSave() {
        if (CheckValidate(data)) {
            onSaveAndContinue($('#form_lau_CatLaundry'), '@_hrm_Hr_Service', 'api/CatLaundry/', 'grid_Cat_Laundry', 'windowCatLaundry');
        }
        return false;
    }

    function onSaveClose() {
        if (CheckValidate(data)) {
            onSaveAndClose($('#form_lau_CatLaundry'), '@_hrm_Hr_Service', 'api/CatLaundry/', 'grid_Cat_Laundry', 'windowCatLaundry');
        }
        return false;
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_lau_CatLaundry" }))
{
    @Html.HiddenFor(model => model.ID)

   

     <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.LaundryName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.LaundryName, "width:300px")
                        @Html.ValidationMessageFor(model => model.LaundryName)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Code, "width:150px")
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>

                

                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.LaundryPrice)
                    </div>
                    <div class="FieldValue">
                        @{
    var numericTextBoxHoursPerDay = new NumericTextBoxBuilderInfo<double>()
    {
        Name = "LaundryPrice"
    };
                        }
                        @Html.VnrNumericTextBoxFor(model => model.LaundryPrice, numericTextBoxHoursPerDay)

                        @Html.ValidationMessageFor(model => model.LaundryPrice)
                    </div>
                </div>


                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-catLarndry", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-catLaurndry", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
            </td>
        </tr>
 </table>
}

