@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Training.Models.Tra_CertificateModel
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    //var Validator = CheckValidate();
    SetFieldRequired();

    function onSave() {
      //  if (CheckValidate(data)) {
        onSaveAndContinue($('#form_Tra_Certificate'), '@_hrm_Hre_Service', 'api/Tra_Certificate/', '@ConstantControlName.HRM_Tra_Certificate_Grid_Name', '@ConstantControlName.HRM_Tra_Certificate_PopUp_Name');
       // }
        return false;
    }

    function onSaveClose() {
      //  if (CheckValidate(data)) {
        onSaveAndClose($('#form_Tra_Certificate'), '@_hrm_Hre_Service', 'api/Tra_Certificate/', '@ConstantControlName.HRM_Tra_Certificate_Grid_Name', '@ConstantControlName.HRM_Tra_Certificate_PopUp_Name');
       // }
        return false;
    }
    function onSaveDataPopUp() {

        //    if (CheckValidate(data)) {
        //   if (!checkDuplicationCode()) {
        onlySave($('#form_Tra_Certificate'), '@_hrm_Hre_Service', 'api/Tra_Certificate/', '@ConstantControlName.HRM_Tra_Certificate_Grid_Name'); return false;
        //    }
        // }
    }

</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Tra_Certificate" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Code, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.CertificateName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.CertificateName, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.CourseID)
                    </div>
                    <div class="FieldValue">
                        @{
    var _CourseID = new ComboBoxBuilderInfo()
     {
          StyleCss = "width:300px",
         Name = "CertificateInfo_CourseID",
         DataTextField = "CourseName",
         DataValueField = "ID",
         Url = _hrm_Hre_Service + "Tra_GetData/GetMultiTraCourse"
     };
                        }
                        @(Html.VnrComboBoxFor(mode => mode.CourseID, _CourseID).Text(Model != null && Model.CourseName != null ? Model.CourseName.ToString() : string.Empty))
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.TopicID)
                    </div>
                    <div class="FieldValue">
                        @{
    var _TopicID = new ComboBoxBuilderInfo()
    {
        Name = "TraCourseInfo_TopicID",
        DataTextField = "TopicName",
        DataValueField = "ID",
        Url = _hrm_Hre_Service + "Cat_GetData/GetMultiTopic",
        ServerFilter = true,
        StyleCss = "width:300px"
    };
                        }
                        @(Html.VnrComboBoxFor(mode => mode.TopicID, _TopicID).Text(Model != null && Model.TopicName != null ? Model.TopicName.ToString():string.Empty))
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Place)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Place,"width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Tra_Certificate", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-Tra_Certificate", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Tra_Certificate", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
            </td>
        </tr>
    </table>
}