@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_OvertimePermitModel
@{
    ViewBag.Title = "Overtime Permit";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<double>()
    {
        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
        StyleCss = "width:70px"
    };

    var _CheckBoxBuilderInfo = new CheckBoxBuilderInfo() { };
}
<script>
    function eventParaData() {
        
        var param = {
            limitHour_ByDay: $('#@Html.FieldIdFor(model => model.limitHour_ByDay)').val(),
            limitHour_ByDay_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByDay_Lev1)').val(),
            limitHour_ByDay_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByDay_Lev2)').val(),
            limitHour_ByWeek: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek)').val(),
            limitHour_ByWeek_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek_Lev1)').val(),
            limitHour_ByWeek_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek_Lev2)').val(),
            limitHour_ByMonth: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth)').val(),
            limitHour_ByMonth_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth_Lev1)').val(),
            limitHour_ByMonth_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth_Lev2)').val(),
            limitHour_ByYear: $('#@Html.FieldIdFor(model => model.limitHour_ByYear)').val(),
            limitHour_ByYear_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByYear_Lev1)').val(),
            limitHour_ByYear_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByYear_Lev2)').val(),
            limitColor: $('#@Html.FieldIdFor(model => model.limitColor)').val(),
            limitColor_Lev1: $('#@Html.FieldIdFor(model => model.limitColor_Lev1)').val(),
            limitColor_Lev2: $('#@Html.FieldIdFor(model => model.limitColor_Lev2)').val(),
            IsAllowOverLimit_Normal: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal)').val(),
            IsAllowOverLimit_Normal_Lev1: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal_Lev1)').val(),
            IsAllowOverLimit_Normal_Lev2: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal_Lev2)').val(),
            IsAllowOverLimit_AllowOver: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver)').val(),
            IsAllowOverLimit_AllowOver_Lev1: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver_Lev1)').val(),
            IsAllowOverLimit_AllowOver_Lev2: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver_Lev2)').val(),
            IsAllowSplit: $('#@Html.FieldIdFor(model => model.IsAllowSplit)').val(),
        };
        return param;
    }

    function onSaveData() {
        onSaveAndContinue($('#form_att_OvertimePermitConfig'), '@_hrm_Hr_Service', 'api/Att_OvertimePermitConfig/', '', 'form_att_OvertimePermitConfig'); return false;
    }

    $("#Save").click(function () {
        var xxx = eventParaData();
        
        $.ajax({
            type: 'POST',
            url: '@_hrm_Hr_Service' + "api/Att_OvertimePermitConfig/",
            data: xxx,
            dataType: 'json',
            success: function (returnValue) {
                
                if (returnValue == "") {
                    alert("Success");
                }
                else {
                    var url = '@_hrm_Hr_Service' + returnValue;
                    window.location = url;
                }
            }
        });
    });

</script>
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_att_OvertimePermitConfig" }))
{
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div>
                    <h3 style="height:28px">
                        <!--Dòng title cho biết đang ở form nào và link quay lại-->
                        <div style=" width:100%">
                            <div>
                                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")

                            </div>
                        </div>
                    </h3>
                    <h3 style="height:28px">
                        <div style="float: left; margin-top: -3px">
                            @Html.VnrButton(new ButtonBuilderInfo() { Name = "Save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </h3>
                </div>
                <div class="VnRMain">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td valign="top" style="background-color: #ffffff;">
                                    <div style="display:block; padding-top:10px;">
                                        <fieldset>
                                            <legend>
                                                Cấu Hình Giờ Làm Việc
                                            </legend>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek, _NumericTextBoxBuilder)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear, _NumericTextBoxBuilder)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
    var _IsAllowOverLimit_Normal = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal, _IsAllowOverLimit_Normal)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
    var _IsAllowOverLimit_AllowOver = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver, _IsAllowOverLimit_AllowOver)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title_1.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor_Lev1, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @{
    var _IsAllowOverLimit_Normal_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev1 == true ? true : false };
                                                                                    }
                                                                                    @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev1, _IsAllowOverLimit_Normal_Lev1)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
    var _IsAllowOverLimit_AllowOver_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev1 == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev1, _IsAllowOverLimit_AllowOver_Lev1)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Số giờ làm việc tối đa 3*@
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title_2.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor_Lev2, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @{
    var _IsAllowOverLimit_Normal_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev2 == true ? true : false };
                                                                                    }
                                                                                    @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev2, _IsAllowOverLimit_Normal_Lev2)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
    var _IsAllowOverLimit_AllowOver_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev2 == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev2, _IsAllowOverLimit_AllowOver_Lev2)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_IsAllowSplit.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @{
    var _IsAllowSplit = new CheckBoxBuilderInfo() { Value = Model.IsAllowSplit == true ? true : false };
                                                            }
                                                            @Html.VnrCheckBoxFor(model => model.IsAllowSplit, _IsAllowSplit)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </td>
                                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

}
