@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models

@model Sys_LockObjectModel
@{
    ViewBag.Title = ConstantDisplay.HRM_System_LockObject_Create;
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
<script>
    SetFieldRequired();
    var checkedNodes = [];


    function doSave() {

        debugger;
    //check phong ban hoc vien
        var checkedNodesCourseStandars = [];
        var treeViewCourseStandars = $("#LockObject_Info_OrgStructureID").data("kendoTreeView");
        checkedNodeOrderNumbers(treeViewCourseStandars.dataSource.view(), checkedNodesCourseStandars);
        checkedNodesCourseStandars.length > 0 ? $('#@Html.FieldIdFor(model=>model.OrgStructureID)').val(checkedNodesCourseStandars.join(',')) : $('#@Html.FieldIdFor(model => model.OrgStructureID)').val(null);
        if (checkedNodesCourseStandars.length > 0) {
            $('#@Html.FieldIdFor(model => model.OrgStructureID)').val(checkedNodesCourseStandars.join(','));
        }

        var payrollGroup = $('#@Html.FieldIdFor(model => model.PayrollGroups)').val() != null ? $('#@Html.FieldIdFor(model => model.PayrollGroups)').val().join(",") : null;
        $('#@Html.FieldIdFor(model => model.PayrollGroupID)').val(payrollGroup);

        var result = false;
        onCreate($('#form-create'), '@_hrm_Sys_Service', 'api/Sys_LockObject/'); result = true;
        checkedNodes = [];
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            debugger;
            KendoRouteMapping('#Hrm_Sys_Web/Sys_LockObject/Create/', 'Hrm_Sys_Web', '@_hrm_Sys_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Sys_LockObjectIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_System_LockObject_Create_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_System_Back_To_LockObject_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




