
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_MealAllowanceTypeSettingModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Canteen_Line_Title;
    Layout = null;
    var hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Can_Web = ConstantPathWeb.Hrm_Main_Web;
    var mealAllowanceTypeSettingId = Model == null ? 0 : Model.Id;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@*<h1>Test</h1>*@
<script>
    var data = SetCharacteFieldRequired();

    function checkDuplicationMealAllowanceTypeSetting() {
         
        var code = $("#MealAllowanceTypeCode").val();
        var id = '@mealAllowanceTypeSettingId';
        var data = { tableName: "Can_MealAllowanceTypeSetting", columnName: "MealAllowanceTypeCode", keyword: code, id: id };
        var isduplicate = checkDuplicate('@_hrm_Sys_Service', 'Sys_GetData', 'CheckDuplicate', data, "MealAllowanceTypeCode");
        return isduplicate;
    }
    var doSave = function()
    {
        var result = false;
        if (CheckValidate(data)) {
            if (!checkDuplicationMealAllowanceTypeSetting()) {
                onCreate($('#form-create'), '@hrm_Can_Service', 'api/Can_MealAllowanceTypeSetting/'); return true;
            }
        }
        return result;
    }

    function doSaveNew() {
         
        if (doSave()) {
            if (!checkDuplicationMealAllowanceTypeSetting()) {
                KendoRouteMapping('#Hrm_Main_Web/Can_MealAllowanceTypeSetting/Create/', 'Hrm_Main_Web', '@_hrm_Can_Web');
            }
        }
    };

</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Cat_LineIconPath" alt="" width="20" height="20" />
                        @*@ConstantDisplay.HRM_Canteen_MealAllowanceTypeSetting_PopUp_Create_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_MealAllowanceTypeSetting_Back_List.TranslateString() + ")", "Index")*@
                        @ConstantDisplay.HRM_Canteen_MealAllowanceTypeSetting_PopUp_Create_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_MealAllowanceTypeSetting_Back_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




