@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models
@using HRM.Infrastructure.Utilities

@using System.Collections
@using HRM.Infrastructure.Security

@model Tra_TraineeRegisterModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    IList<SelectListItem> listTraineeStatus = Enum.GetValues(typeof(EnumDropDown.TraineeRegisterStatus))
 .Cast<EnumDropDown.TraineeRegisterStatus>()
 .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
 .ToList();
}

<script type="text/javascript">
    SetFieldRequired();
</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>

            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">
                        <div style="float:left; width:100%">
                            <div style="float: left; width: 500px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.HiddenFor(mode => mode.ID)
                                        @Html.VnrLabelFor(mode => mode.ProfileID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            IEnumerable valueProfile = new string[] { };
                                            if (Model != null)
                                            {
                                                valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                            }
                                        }
                                        @{
                                            var Profile = new MultiSelectBuilderInfo()
                                             {
                                                 DataTextField = Tra_TraineeModel.FieldNames.ProfileName,
                                                 DataValueField = "ID",
                                                 Url = @_hrm_Hr_Service + "HrMultiSelect/GetMultiProfile",
                                                 Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                                 Value = valueProfile,
                                                 MaxSelectedItems = 1,
                                                 Width = 200

                                             };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                                    </div>
                                </div>
                                <div id="div4" class="DivContentTitleValue">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelFor(mode => mode.ClassID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            IEnumerable valueClass = new string[] { };
                                            if (Model != null)
                                            {
                                                valueClass = new[] { new { ClassName = Model.ClassName, ID = Model.ClassID } };
                                            }
                                        }
                                        @{
                                            var _Class = new MultiSelectBuilderInfo
                                            {
                                                DataTextField = "ClassName",
                                                DataValueField = "ID",
                                                Url = @_hrm_Hr_Service + "Tra_GetData/GetMultiClass",
                                                MaxSelectedItems = 1,
                                                Placeholder = ConstantDisplay.HRM_Category_SelectClass.TranslateString(),
                                                Value = valueClass,
                                                Width = 200
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(mode => mode.ClassID, _Class)
                                    </div>
                                    <div id="div13">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.Description)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextAreaFor(mode => mode.Description)
                                        </div>
                                    </div>
                                    <div id="div13">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelForNoneIcon(model => model.Status)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ddlStatus = new DropDownListBuilderInfo()
                                                {
                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = listTraineeStatus
                                                };
                                            }
                                            @Html.VnrDropDownListFor(model => model.Status, ddlStatus)
                                        </div>
                                    </div>
                      
                                </div>
                            </div>
                            <div style="float: left; width: 500px;">
                                <div id="div10">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelFor(mode => mode.UserApproveID1)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            IEnumerable Requester = new string[] { };
                                            if (Model != null)
                                            {
                                                Requester = new[] { new { UserLogin = Model.UserApproveName1, ID = Model.UserApproveID1 } };
                                            }
                                        }
                                        @{
                                            var UserApproveID1 = new MultiSelectBuilderInfo()
                                             {
                                                 Width = 300,
                                                 Name = "Reward_UserApproveID1",
                                                 DataTextField = "UserLogin",
                                                 DataValueField = "ID",
                                                 Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiUser",
                                                 Placeholder = ConstantDisplay.HRM_System_SelectUser.TranslateString(),
                                                 MaxSelectedItems = 1,
                                                 Value = Requester
                                             };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.UserApproveID1, UserApproveID1))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div id="div10">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelFor(mode => mode.UserApproveID2)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            IEnumerable Requester1 = new string[] { };
                                            if (Model != null)
                                            {
                                                Requester1 = new[] { new { UserLogin = Model.UserApproveName2, ID = Model.UserApproveID2 } };
                                            }
                                        }
                                        @{
                                            var UserApproveID2 = new MultiSelectBuilderInfo()
                                             {
                                                 Width = 300,
                                                 Name = "Reward_UserApproveID2",
                                                 DataTextField = "UserLogin",
                                                 DataValueField = "ID",
                                                 Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiUser",
                                                 Placeholder = ConstantDisplay.HRM_System_SelectUser.TranslateString(),
                                                 MaxSelectedItems = 1,
                                                 Value = Requester1
                                             };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.UserApproveID2, UserApproveID2))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="contentReason" hidden="hidden">
                                    <div id="div13">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.Reason1)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextAreaFor(mode => mode.Reason1)
                                        </div>
                                    </div>
                                    <div id="div13">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.Reason2)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextAreaFor(mode => mode.Reason2)
                                        </div>
                                    </div>
                                </div>
                               
                             
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @if(Model != null && Model.ID != Guid.Empty){
       <script>
           $("#contentReason").show();
       </script>
    }
</div>
