@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Training.Models.Tra_TraineeRegisterModel
    @{
        ViewBag.Title = "Index  Tra_Trainee";
        Layout = null;
        var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
        var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    }
    <script>

        function doSave() {
            var result = false;
            onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Tra_TraineeRegister/');
            result = true;
            return result;
        }
        function doSaveNew() {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Tra_TraineeRegister/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
        }
    </script>
    <div>
        @ViewBag.MsgInsert
    </div>
    <form action="#" method="POST" id="form-create">
        <div class="panel-wrap">
            <div id="main-content">
                <div class="widget">
                    <div class="section-header">
                        <div class="title">
                            <img src="@ConstantPath.Rec_CandidateIconPath" alt="" width="20" height="20" />
                            @ConstantDisplay.HRM_Tra_TraineeRegister_Update_Title.TranslateString() <a class="link-back" onclick="clickBackTrainee()" style="padding-left: 3px">(@ConstantDisplay.HRM_Tra_TraineeRegister_Back_Title.TranslateString())</a>
                        </div>
                    </div>

                    <div class="commandToolBarWidge">
                        <div class="options" style="margin-top: 5px;">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_Tra_Trainee", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue_Tra_Trainee", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                    @Html.Partial("CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </form>
    <script>
        function clickBackTrainee() {
            var link = $("#CurrentLinkForClickBack").val();
            if (link == "") {
                KendoRouteMapping("#Hrm_Main_Web/Tra_TraineeRegister/Index#NewTab", "Hrm_Main_Web", '@_hrm_Main_Web');
            }
            else {
                clickBack();
            }
        }
    </script>
