@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Payroll.Models
@using HRM.Presentation.Training.Models

@model Tra_TraineeRegisterModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listSaleTypes = Enum.GetValues(typeof(EnumDropDown.SalesType))
     .Cast<EnumDropDown.SalesType>()
     .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
     .ToList();

}

<script>


    function onSaveClose() {
        var reason = $("#Reason1").val();
        var userID = '@Session[SessionObjects.UserId]';
        if (reason == "")
        {
            return;
        }
        $.ajax({
            traditional: true,
            type: 'POST',
            url: '@_hrm_Hr_Service' + "Tra_GetData/ActionRejectSelected",
            dataType: 'html',
            data: { selectedIds: selectedIds.join(','), UserId: userID, Reason: reason },
            success: function (data) {
                CloseHre_ProgressBar();
                selectedIds = [];
                ReadGrid("gridTra_TraineeRegister");

                var window = $("#windowgridTra_TraineeRegisterReason").data("kendoWindow");
                window.refresh().close();
                ShowNotificationProcessor("Success");
                
            },
            error: function (data) {
                ShowNotificationProcessor(data.responseText);
            }
        });
        @*onSaveAndClose($('#form_Tra_PlanDetail'), '@_hrm_Hr_Service', 'api/Tra_PlanDetail/', 'grid_PlanDetail_info', 'windownTra_PlanDetail');*@


        return false;
    }



</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Tra_TraineeRegister" }))
{
    @Html.HiddenFor(model => model.ID)

    <table>
        <tr>
            <td>
               

                <div id="div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabel(ConstantDisplay.HRM_Tra_TraineeRegister_Reason.ToString().TranslateString())
                    </div>
                    <div class="FieldValue">
                  
                        @Html.VnrTextAreaFor(model => model.Reason1)

                    </div>
                </div>

            </td>
        </tr>
        <tr></tr>

        <tr style="height:20px">
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr style="height:20px">
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>

                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-TraineeRegister", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

