
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Hr.Models.Hre_ContractModel
@{
    ViewBag.Title = "Index Hre_Contract";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    function doSave() {
        ShowHre_ProgressBar();
        var _dateStart = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStart").val());
        var _dateEnd = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEnd").val());
        var _dateSigned = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateSigned").val());

        $("#DateStart").val(_dateStart);
        $("#DateEnd").val(_dateEnd);
        $("#DateSigned").val(_dateSigned);

        var _multiSelect = $("#ProfileID").data("kendoMultiSelect");
        var result = false;
        var _profileIDs = $("#ProfileIDs").val(_multiSelect.value());

        var _CreateBasicSalary = document.getElementById("CreateBasicSalary");
        if (_CreateBasicSalary != null && _CreateBasicSalary.checked) {
            $("#CreateBasicSalary").val("true");
        } else {
            $("#CreateBasicSalary").val("false");
        }

        var _BasicSalaryForPerson = document.getElementById("BasicSalaryForPerson");
        if (_BasicSalaryForPerson != null && _BasicSalaryForPerson.checked) {
            $("#BasicSalaryForPerson").val("true");
        } else {
            $("#BasicSalaryForPerson").val("false");
        }

        $.ajax({
            url: '@_hrm_Hr_Service' + "Hre_GetData/SaveContractAndBasicSalary",
            data: $("#form-create").serialize(),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                

                if (data.ActionStatus == "Success") {
                    $("#ID").val(data.ID);
                    $("#Contract_ID").val(data.Contract_ID);
                    $("#ContractID").val(data.Contract_ID);

                    var getDateStart = _dateStart.substring(0, 10);
                    var splitDateStart = getDateStart.split('/');
                    var mDateStart = splitDateStart[0];
                    var dDateStart = splitDateStart[1];
                    var yDateStart = splitDateStart[2];
                    var getFullDateStart = dDateStart + "/" + mDateStart + "/" + yDateStart;

                    var getDateEnd = _dateEnd.substring(0, 10);
                    var splitDateEnd = getDateEnd.split('/');
                    var mDateEnd = splitDateEnd[0];
                    var dDateEnd = splitDateEnd[1];
                    var yDateEnd = splitDateEnd[2];
                    var getFullDateEnd = dDateEnd + "/" + mDateEnd + "/" + yDateEnd;

                    var getDateSigned = _dateSigned.substring(0, 10);
                    var splitDateSigned = getDateSigned.split('/');
                    var mDateSigned = splitDateSigned[0];
                    var dDateSigned = splitDateSigned[1];
                    var yDateSigned = splitDateSigned[2];
                    var getFullDateSigned = dDateSigned + "/" + mDateSigned + "/" + yDateSigned;

                    $("#DateStart").val(getFullDateStart);
                    $("#DateEnd").val(getFullDateEnd);
                    $("#DateSigned").val(getFullDateSigned);
                    CloseHre_ProgressBar();
                    ShowNotification("Thông Báo", "Thao Tác Thành Công", "k-block k-success-colored");
                    result = true;
                }
                else {
                    ShowNotificationProcessor(data);
                    CloseHre_ProgressBar();
                }
            }
        });
      }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Hre_ExpiryContract/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
    
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create" data-role="validator" novalidate="novalidate">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_Contract_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Back_To_Contract_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabStripInformation", Model)
            </div>
        </div>
    </div>
</form>



