@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Infrastructure.Utilities

@using HRM.Presentation.Attendance.Models
@using System.Collections;

@model HRM.Presentation.Attendance.Models.Att_WorkdayModel

@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    IList<SelectListItem> listStatus = Enum.GetValues(typeof(AttendanceDataStatus))
      .Cast<AttendanceDataStatus>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="width:500px; display:block; float:left">
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileName)
                                @Html.HiddenFor(mode => mode.ID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    IEnumerable valueProfile = new string[] { };
                                    if (Model != null)
                                    {
                                        valueProfile = new[] { new { ID = Model.ProfileID, ProfileName = Model.ProfileName } };
                                    }
                                }
                                @{
                                    var Profile = new MultiSelectBuilderInfo()
                                     {
                                         DataTextField = Att_WorkdayModel.FieldNames.ProfileName,
                                         DataValueField = Att_WorkdayModel.FieldNames.ID,
                                         Url = @_hrm_Hr_Service + "HrMultiSelect/GetMultiProfile",
                                         Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                         MaxSelectedItems = 1,
                                         Value = valueProfile
                                     };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.WorkDate)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var workDate = new DatePickerBuilderInfo()
                                    {
                                        Value = @Html.DisplayFor(mode => mode.WorkDate).ToString()
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.WorkDate, workDate)
                            </div>
                            <br />
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.FirstInTime)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var FirstInTime = new DateTimePickerBuilderInfo()
                                    {
                                        Value = @Html.DisplayFor(mode => mode.FirstInTime).ToString()
                                    };
                                }
                                @Html.VnrDateTimePickerFor(model => model.FirstInTime, FirstInTime)
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LastOutTime)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var LastOutTime = new DateTimePickerBuilderInfo()
                                    {
                                        Value = @Html.DisplayFor(mode => mode.LastOutTime).ToString()
                                    };
                                }
                                @Html.VnrDateTimePickerFor(model => model.LastOutTime, LastOutTime)
                            </div>
                        </div>
                    </div>
                    <div style="width:500px; display:block; float:left">
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ShiftID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    IEnumerable valueShift = new string[] { };
                                    if (Model != null)
                                    {
                                        valueShift = new[] { new { ShiftName = Model.ShiftName, ID = Model.ShiftID } };
                                    }
                                }
                                @{
                                    var multiSelectShiftID = new MultiSelectBuilderInfo()
                                    {
                                        Name = "ShiftID",
                                        DataTextField = Att_WorkdayModel.FieldNames.ShiftName,
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                        Placeholder = ConstantDisplay.HRM_Att_SelectShift.TranslateString(),
                                        MaxSelectedItems = 1,
                                        Value = valueShift
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ShiftID, multiSelectShiftID))
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.WorkDuration)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var workDuration = new NumericTextBoxBuilderInfo<double>();
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.WorkDuration, workDuration))
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LateEarlyDuration)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var LateEarlyDuration = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.LateEarlyDuration, LateEarlyDuration)
                            </div>
                        </div>
                        <div id="div13">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Status)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var dropdownStatus = new DropDownListBuilderInfo()
                                    {
                                        Name = "Status",
                                        DataTextField = "Text",
                                        DataValueField = "Value",
                                        BindTo = listStatus,
                                        OptionLabel = @ConstantDisplay.HRM_Category_SelectStatus.TranslateString()
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.Status, dropdownStatus))
                            </div>
                            <br />
                        </div>
                        <div id="div13">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.MissInOutReason)
                            </div>
                            <div class="FieldValue">
                                @*@{
                                    IEnumerable valueMissInOutReason = new string[] { };
                                    if (Model != null)
                                    {
                                        valueShift = new[] { new { TAMScanReasonMissName = Model.TAMScanReasonMissName, Id = Model.MissInOutReason } };
                                    }
                                }*@
                                @{
                                    var multiSelectvalueMissInOut = new MultiSelectBuilderInfo()
                                    {
                                        Name = "MissInOutReason",
                                        DataTextField = Att_WorkdayModel.FieldNames.TAMScanReasonMissName,
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiTamScanReasonMiss",
                                        MaxSelectedItems = 1,
                                        Autobind = true,
                                        Value = new string[] { @Html.DisplayFor(model => model.MissInOutReason).ToString() }
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.MissInOutReason, multiSelectvalueMissInOut))
                            </div>
                            <br />
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
