@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_CommunistPartyPositionModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequired();
    function onSaveNew() {
        //var dataCheck = data[''];
        //if (CheckValidate(data) && !checkDuplicationCode()) {
        onSaveAndContinue($('#form_cat_CommunistPartyposition'), '@_hrm_Hre_Service', 'api/cat_CommunistPartyposition/', '@ConstantControlName.HRM_Category_CommunistPartyPosition_Grid_Name', '@ConstantControlName.HRM_Category_CommunistPartyPosition_PopUp_Name'); return false;
        //}
    }

    function onSaveClose() {
        onSaveAndClose($('#form_cat_CommunistPartyposition'), '@_hrm_Hre_Service', 'api/cat_CommunistPartyposition/', '@ConstantControlName.HRM_Category_CommunistPartyPosition_Grid_Name', '@ConstantControlName.HRM_Category_CommunistPartyPosition_PopUp_Name'); return false;
    }
    function onSaveDataPopUp() {

        //if (CheckValidate(data)) {
        //    if (!checkDuplicationCode()) {
        onlySave($('#form_cat_CommunistPartyposition'), '@_hrm_Hre_Service', 'api/cat_CommunistPartyposition/', '@ConstantControlName.HRM_Category_CommunistPartyPosition_Grid_Name'); return false;
        //    }
        //}
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_CommunistPartyposition" }))
{
    @Html.HiddenFor(model => model.ID)
        <table>
        <tr>
            <td>
    <div>
        <div class="FieldTitle150" style="width: 110px;">
            @Html.VnrLabelFor(mode => mode.Code)
        </div>
        <div class="FieldValue">
            @{
    var txtCode = new TextBoxBuilderInfo()
    {
        Name = "CatCommunistPartyPosition_Code",
        CssStyle = "width:300px",
        Value = Model != null ? Model.Code : null
    };
            }
            @Html.VnrTextBoxFor(mode => mode.Code, txtCode)
        </div>
    </div>
    <div>
        <div class="FieldTitle150" style="width: 110px;">
            @Html.VnrLabelFor(mode => mode.CommunistPartyPositionName)
        </div>
        <div class="FieldValue">
            @Html.VnrTextBoxFor(mode => mode.CommunistPartyPositionName, "width: 300px")
        </div>
    </div>
    <div>
        <div class="FieldTitle150" style="width: 110px;">
            @Html.VnrLabelFor(mode => mode.Notes)
        </div>
        <div class="FieldValue">
            @Html.VnrTextAreaFor(mode => mode.Notes, "width:500px;height:100px;")
        </div>
    </div>
       </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
    <div>
        <div class="FieldTitle150" style="width: 110px;"></div>
        <div class="FieldValue">
            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CommunistPartyposition", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-CommunistPartyposition", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CommunistPartyposition", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
        </div>
    </div>
    </td>
        </tr>
 </table>
}
