@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@model Hre_AddressModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    var isCreate = Model == null;
    var countryId = Model == null ? string.Empty : Model.CountryName;
    var provinceName = Model == null ? string.Empty : Model.ProvinceName;
    var districtName = Model == null ? string.Empty : Model.DistrictName;
    
    
}

<script type="text/javascript" >
    //neu la man hinh tao moi
    var isCreate = '@isCreate' === 'True';
    var countryId = '@Html.Raw(countryId)';
    var provinceName = '@Html.Raw(provinceName)';
    var districtName = '@Html.Raw(districtName)';
    var selectProvinceLabel = '@Html.Raw(ConstantDisplay.HRM_Category_SelectProvince.TranslateString())';
    var selectDistrictLabel = '@Html.Raw(ConstantDisplay.HRM_Category_SelectDistrict.TranslateString())';

    $(document).ready(function () {
        var dataProvince = [];
        $("#ProvinceID").kendoDropDownList({
            dataTextField: "ProvinceName",
            dataValueField: "ID",
            change: getDistrict,
            optionLabel: selectProvinceLabel,
            dataSource: dataProvince
        });

        var dataDistrict = [];
        $("#DistrictID").kendoDropDownList({
            dataTextField: "DistrictName",
            dataValueField: "ID",
            optionLabel: selectDistrictLabel,
            dataSource: dataDistrict
        });

        if (!isCreate && countryId != '') {
            setTimeout(function () {
                var dropdownlist = $("#CountryID").data("kendoDropDownList");
                dropdownlist.text(countryId);
                getProvince();
            }, 200);
        }

    });


    function getProvince() {
        var countryID = $("#CountryID").val();
        $("#ProvinceID").kendoDropDownList({
            name: "ProvinceID",
            dataTextField: "ProvinceName",
            dataValueField: "ID",
            change: getDistrict,
            optionLabel: selectProvinceLabel,
            dataSource: []
        });

        $("#DistrictID").kendoDropDownList({
            dataTextField: "DistrictName",
            dataValueField: "ID",
            optionLabel: selectDistrictLabel,
            dataSource: []
        });
        $.ajax({
            url: '@_hrm_Hr_Service' + "Cat_GetData/GetProvinceCascading?country=" + countryID,
            type: 'Get',
            success: function (data) {
                $("#ProvinceID").kendoDropDownList({
                    name: "ProvinceID",
                    dataTextField: "ProvinceName",
                    dataValueField: "ID",
                    optionLabel: selectProvinceLabel,
                    change: getDistrict,
                    dataSource: data
                });
            }
        });

        if (!isCreate && provinceName) {
            setTimeout(function () {
                var dropdownlist = $("#ProvinceID").data("kendoDropDownList");
                $("#ProvinceID").data("kendoDropDownList").text(provinceName);
                getDistrict();
            }, 200);
        }
    }

    function getDistrict() {
        var provinceId = $("#ProvinceID").val();
        $("#DistrictID").kendoDropDownList({
            dataTextField: "DistrictName",
            dataValueField: "ID",
            optionLabel: selectDistrictLabel,
            dataSource: []
        });
        $.ajax({
            url: '@_hrm_Hr_Service' + "Cat_GetData/GetDistrictCascading?province=" + provinceId,
            type: 'Get',
            success: function (data) {
                $("#DistrictID").kendoDropDownList({
                    dataTextField: "DistrictName",
                    dataValueField: "ID",
                    optionLabel: selectDistrictLabel,
                    dataSource: data
                });
            }
        });

        if (!isCreate && districtName != '') {
            setTimeout(function () {
                $("#DistrictID").data("kendoDropDownList").text(districtName);
                isCreate = true;
            }, 200);
        }
    }

</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.CountryID)
                            @Html.HiddenFor(mode => mode.ID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dropdownCountry = new DropDownListBuilderInfo()
                                {
                                    Name = "CountryID",
                                    DataTextField = "CountryName",
                                    DataValueField = "ID",
                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCountry",
                                    OptionLabel = ConstantDisplay.HRM_Category_SelectCountry.TranslateString(),
                                    StyleCss = "Width:200px",
                                    EventChange = "getProvince"
                                };
                            }
                            @(Html.VnrDropDownListFor(mode => mode.CountryID, dropdownCountry))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ProvinceID)
                        </div>
                        <div class="FieldValue">
                            <input id="ProvinceID" name="ProvinceID" style="width: 200px;" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DistrictID)
                        </div>
                        <div class="FieldValue">
                            <input id="DistrictID" name="DistrictID" style="width: 200px;" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.AddressName)
                        </div>
                        <div class="FieldValue">
                            @(Html.VnrTextAreaFor(mode => mode.AddressName))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
