
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_PregnancyModel
@{
    ViewBag.Title = "Index Att_Pregnancy";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    SetFieldRequired();
    var doSave = function () {
        var result = false;
        onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Att_Pregnancy/');
        result = true;
        return result;
    }
    function doSaveNew() {
        
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Att_Pregnancy/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
    }

</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_PregnancyIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Attendance_Pregnancy_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Attendance_Back_To_Pregnancy_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
