@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities


@model Att_PregnancyModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> list = Enum.GetValues(typeof(EnumDropDown.PregnancyType))
        .Cast<EnumDropDown.PregnancyType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    SelectList data = new SelectList(list, "Value", "Text");
}
<script>
    SetFieldRequired();


    function onSave() {
        onSaveAndContinue($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_Pregnancy/', '@ConstantControlName.HRM_ChangeColum_Grid_Name', '@ConstantControlName.HRM_ChangeColum_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_Pregnancy/', '@ConstantControlName.HRM_ChangeColum_Grid_Name', '@ConstantControlName.HRM_ChangeColum_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {

        onlySave($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_Pregnancy/', '@ConstantControlName.HRM_ChangeColum_Grid_Name');
        return false;
    }
</script>
<style>
    label {
        min-width: 100px;
    }
</style>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RecruitmentCampaign" }))
{
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
           
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td valign="top">
                            
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ProfileID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        System.Collections.IEnumerable userProfile = new string[] { };
                                        if (Model != null)
                                        {
                                            userProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                        }
                                    }
                                    @{
                                        var mtsProfile = new MultiSelectBuilderInfo()
                                        {
                                            Width=300,
                                            Name = "Pregnancy_ProfileID",
                                            DataTextField = "ProfileName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "HrMultiSelect/GetMultiProfileFemale",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                            MaxSelectedItems = 1,
                                            Autobind = false,
                                            Value = userProfile
                                        };
                                    }
                                    @Html.VnrMultiSelectFor(mode => mode.ProfileID, mtsProfile)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div7">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ChildName)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.ChildName,"width:300px")
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div8">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ChildBirthday)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dpDateOfBirth = new DatePickerBuilderInfo()
                                        {
                                            Name = "Pregnancy_ChildBirthday",
                                            
                                            StyleCss = "width:120px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.ChildBirthday, dpDateOfBirth)
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateStart)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dpDateStart = new DatePickerBuilderInfo()
                                        {
                                            Name = "Pregnancy_DateStart",
                                            
                                            StyleCss = "width:120px;",
                                            Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString()
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateStart,dpDateStart)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.DateEnd)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dpDateEnd = new DatePickerBuilderInfo()
                                {
                                    Name = "Pregnancy_DateEnd",
                                    
                                    StyleCss="width:120px;",
                                    Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString()
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateEnd,dpDateEnd)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.Type)
                        </div>
                        <div class="FieldValue">
                            @{
                                var ddlType = new DropDownListBuilderInfo()
                                {
                                    Name = "Pregnancy_Type",                                    
                                    BindTo = list,
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    OptionLabel = ConstantDisplay.HRM_Category_SelectType.TranslateString(),
                                };
                            }
                            @Html.VnrDropDownListFor(model => model.Type,ddlType)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.Comment)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Comment, "width:500px;height:100px;")
                        </div>
                        <div style="clear: both;"></div>
                    </div>


</td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">

                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-RecruitmentCampaign", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-RecruitmentCampaign", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-RecruitmentCampaign", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.HiddenFor(mode => mode.ID)
</div>
}
