@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Canteen.Models


@model HRM.Presentation.Canteen.Models.Can_BackPayModel
@{
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div3">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var ProfileName = new MultiSelectBuilderInfo()
                             {
                                 DataTextField = "ProfileName",
                                 DataValueField = "ID",
                                 Url = @_hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                 Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                 MaxSelectedItems = 1,
                                 Autobind = true,
                                 Value = new string[] { @Html.DisplayFor(mode => mode.ProfileID).ToString() }
                             };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ProfileID, ProfileName))
                            
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.MonthYear)
                        </div>
                        <div class="FieldValue">
                            @{
                                var datepickerMonthYear = new DatePickerBuilderInfo()
                            {
                                Value = @Html.DisplayFor(mode => mode.MonthYear).ToString(),
                                StyleCss = "width:100px;",
                                Placeholder = ConstantDisplay.HRM_Canteen_BackPay_MonthYear.TranslateString(),
                                //Format = ConstantFormat.HRM_Format_DayMonthYear.TranslateString()
                                Format = ConstantFormat.HRM_Format_MonthYear
                            };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthYear, datepickerMonthYear)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div4">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Count)
                        </div>
                        <div class="FieldValue">
                            @{
                                var numericTextBoxCount = new NumericTextBoxBuilderInfo<int>()
                                {
                                    StyleCss = "width:170px;"
                                };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.Count, numericTextBoxCount)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.CountByFomular)
                        </div>
                        <div class="FieldValue">
                            @{
                                var numericCountByFomular = new NumericTextBoxBuilderInfo<int>()
                            {
                                StyleCss = "width:170px;"
                            };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.CountByFomular, numericCountByFomular)
                        </div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Amount)
                        </div>
                        <div class="FieldValue">
                            @{
                                var numericTextBoxAmount = new NumericTextBoxBuilderInfo<double>()
                                {
                                    StyleCss = "width:170px;",
                                    Format = "n0"
                                };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.Amount, numericTextBoxAmount)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.AmountByFomular)
                        </div>
                        <div class="FieldValue">
                            @{
                                var numericAmountByFomular = new NumericTextBoxBuilderInfo<double>()
                                {
                                    StyleCss = "width:170px;",
                                    Format = "n0"
                                };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.AmountByFomular, numericAmountByFomular)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    @*<div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.MealAllowanceTypeSettingID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var MealAllowanceTypeName = new MultiSelectBuilderInfo()
                                {
                                    DataTextField = "MealAllowanceTypeName",
                                    DataValueField = "Id",
                                    Url = @_hrm_Can_Service + "Canteen_GetData/GetMultiMealAllowanceTypeSetting",
                                    MaxSelectedItems = 1,
                                    Autobind = true,
                                    Value = new string[] { @Html.DisplayFor(mode => mode.MealAllowanceTypeSettingID).ToString() }
                                };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.MealAllowanceTypeSettingID, MealAllowanceTypeName))

                        </div>
                        <div style="clear: both;"></div>
                    </div>*@
                    <div id="div7">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.MealAllowanceTypeSettingID)
                        </div>
                        <div class="FieldValue">

                            @{
                                var _MealAllowanceType = new ComboBoxBuilderInfo()
                                {
                                    DataTextField = "MealAllowanceTypeName",
                                    DataValueField = "ID",
                                    StyleCss = "width:170px;",
                                    Url = _hrm_Can_Service + "Canteen_GetData/GetMultiMealAllowanceTypeSetting",
                                    Placeholder = ConstantDisplay.HRM_Canteen_SelectMealAllowanceTypeName.TranslateString(),
                                    Value = @Html.DisplayFor(model => model.MealAllowanceTypeSettingID).ToString()
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.MealAllowanceTypeSettingID, _MealAllowanceType)
                        </div>
                    </div>

                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Note)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Note)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                @Html.HiddenFor(model => model.ID)
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>

