@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model  HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel
@{
    ViewBag.Title = "Annual Leave";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_ATT_LEAVE.TranslateString()
                                @*Cấu Hình Phép*@
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualLeave_FormularConfig">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualLeave_FormularConfig)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualLeave_FormularConfig, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualLeave_FormularCompute)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualLeave_FormularCompute, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualSickLeave_FormularConfig">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualSickLeave_FormularConfig)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualSickLeave_FormularConfig, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualSickLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualSickLeave_FormularCompute)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualSickLeave_FormularCompute, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularConfig">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualInsuranceLeave_FormularConfig)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualInsuranceLeave_FormularConfig, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualInsuranceLeave_FormularCompute)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualInsuranceLeave_FormularCompute, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualMonthBeginYear)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualMonthBeginYear, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualDayBeginFullMonth)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualDayBeginFullMonth, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualSeniorMonth)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualSeniorMonth, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualDayPerMonth)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualDayPerMonth, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualRoundUp)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualRoundUp, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualTypeProfileBegin)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualTypeProfileBegin, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualDayMaxInMonthGetActual)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualDayMaxInMonthGetActual, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualNormalCanGetFullYear)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualNormalCanGetFullYear, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualSeniorCanGetEachLevel)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualSeniorCanGetEachLevel, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualHDT4CanGetMoreNormal)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualHDT4CanGetMoreNormal, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualHDT5CanGetMoreNormal)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualHDT5CanGetMoreNormal, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualNonALNCodes)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualNonALNCodes, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvAnnualInsuranceLeave_FormularCompute">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIconFor(m => m.AnnualMonthInYearToComputeSenior)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextAreaFor(m => m.AnnualMonthInYearToComputeSenior, "width:600px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_ATT_Holiday.TranslateString()
                                @*Cấu Hình Nghỉ*@
                            </legend>
                            <div class="DivContentTitleValue" id="dvLeave_AllowFinalizationHolidays">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIconFor(mode => mode.AnnualBeginMonthToEndMonth)
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _AnnualBeginMonthToEndMonth = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.AnnualBeginMonthToEndMonth == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.AnnualBeginMonthToEndMonth, _AnnualBeginMonthToEndMonth)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvLeave_AllowFinalizationHolidays">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_Leave_AllowFinalizationHolidays.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        //Cho Phép Quyêt Toán Ngày Nghỉ
                                        var allowFinalizationHoliday = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.Leave_AllowFinalizationHolidays == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.Leave_AllowFinalizationHolidays, allowFinalizationHoliday)
                                </div>
                            </div>


                            <div class="DivContentTitleValue" id="dvLeave_AllowFinalizationHolidays">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_Leave_AllowAnalyzeAnnual.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var allowAnalyzeAnnual = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.Leave_AllowAnalyzeAnnual == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.Leave_AllowAnalyzeAnnual, allowAnalyzeAnnual)
                                </div>
                            </div>
                            
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>