@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Security;

@model  HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    var ListResult = ViewData["ListSys_AllSettingModel"] as List<Sys_AllSettingModel>;
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<double>()
    {
        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
        StyleCss = "width:70px"
    };

    var _CheckBoxBuilderInfo = new CheckBoxBuilderInfo() { };

    IList<SelectListItem> listTypeLoadData = Enum.GetValues(typeof(EnumDropDown.TypeLoadData))
      .Cast<EnumDropDown.TypeLoadData>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();
}

<script>
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

        $('#lblSymbolIn').css("visibility", "hidden");
        $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "hidden");
        $('#lblSymbolOut').css("visibility", "hidden");
        $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "hidden");
        selectTypeLoadData();
    });
    function eventParaData() {
        debugger;
        var param = {
            limitHour_ByDay: $('#@Html.FieldIdFor(model => model.limitHour_ByDay)').val(),
            limitHour_ByDay_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByDay_Lev1)').val(),
            limitHour_ByDay_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByDay_Lev2)').val(),
            limitHour_ByWeek: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek)').val(),
            limitHour_ByWeek_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek_Lev1)').val(),
            limitHour_ByWeek_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByWeek_Lev2)').val(),
            limitHour_ByMonth: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth)').val(),
            limitHour_ByMonth_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth_Lev1)').val(),
            limitHour_ByMonth_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByMonth_Lev2)').val(),
            limitHour_ByYear: $('#@Html.FieldIdFor(model => model.limitHour_ByYear)').val(),
            limitHour_ByYear_Lev1: $('#@Html.FieldIdFor(model => model.limitHour_ByYear_Lev1)').val(),
            limitHour_ByYear_Lev2: $('#@Html.FieldIdFor(model => model.limitHour_ByYear_Lev2)').val(),
            limitColor: $('#@Html.FieldIdFor(model => model.limitColor)').val(),
            limitColor_Lev1: $('#@Html.FieldIdFor(model => model.limitColor_Lev1)').val(),
            limitColor_Lev2: $('#@Html.FieldIdFor(model => model.limitColor_Lev2)').val(),
            IsAllowOverLimit_Normal: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal)').val(),
            IsAllowOverLimit_Normal_Lev1: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal_Lev1)').val(),
            IsAllowOverLimit_Normal_Lev2: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_Normal_Lev2)').val(),
            IsAllowOverLimit_AllowOver: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver)').val(),
            IsAllowOverLimit_AllowOver_Lev1: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver_Lev1)').val(),
            IsAllowOverLimit_AllowOver_Lev2: $('#@Html.FieldIdFor(model => model.IsAllowOverLimit_AllowOver_Lev2)').val(),
            IsAllowSplit: $('#@Html.FieldIdFor(model => model.IsAllowSplit)').val(),
            IsAllowCut: $('#@Html.FieldIdFor(model => model.IsAllowCut)').val(),
            MaxHoursOneShift: $('#@Html.FieldIdFor(model => model.MaxHoursOneShift)').val(),
            MaxHoursNextInOut: $('#@Html.FieldIdFor(model => model.MaxHoursNextInOut)').val(),
            MinMinutesSameAtt: $('#@Html.FieldIdFor(model => model.MinMinutesSameAtt)').val(),
            TypeLoadData: $('#@Html.FieldIdFor(model => model.TypeLoadData)').val(),
            SymbolIn: $('#@Html.FieldIdFor(model => model.SymbolIn)').val(),
            SymbolOut: $('#@Html.FieldIdFor(model => model.SymbolOut)').val(),
            DetectShift: $('#@Html.FieldIdFor(model => model.DetectShift)').val(),
        };
        return param;
    }

    $("#Save").click(function () {
        var xxx = eventParaData();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + "api/Att_OvertimePermitConfig/",
            data: xxx,
            dataType: 'json',
            success: function (returnValue) {
                debugger;
                if (returnValue == "") {
                    ShowNotificationProcessor("Cập Nhật Thành Công");
                }
                else {
                    var url = '@_hrm_Sys_Service' + returnValue;
                    window.location = url;
                }
            }
        });

        @*var urlGetData = '@_hrm_Att_Service' + "Att_GetData/GetComputeOvertimeList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = eventParaData(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_ComputeOvertime');*@
    });
    function selectTypeLoadData() {
        debugger;
        var x = $('#@Html.FieldIdFor(model => model.TypeLoadData)').val();
        if (x != null && (x == '@EnumDropDown.TypeLoadData.E_TYPEINOUT' || x == '@EnumDropDown.TypeLoadData.E_TYPEINOUT_MAXMIN')) {
            $('#lblSymbolIn').css("visibility", "visible");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "visible");
            $('#lblSymbolOut').css("visibility", "visible");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "visible");
        }
        else {
            $('#lblSymbolIn').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').val("");
            $('#lblSymbolOut').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').val("");
        }
    }


</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>

            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "Save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                @*<input type="button" id="btnSetting" style="width:100px" value="Lưu" class="k-button">*@
            </div>
            <hr />
            <div>
                @*@Html.Action("Att_OvertimePermit")*@
                <div class="VnRMain">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td valign="top" style="background-color: #ffffff;">
                                    <div style="display:block; padding-top:10px;">
                                        <fieldset>
                                            <legend>
                                                @*@ConstantDisplay.HRM_HR_Profile_Basic.TranslateString()*@
                                                Cấu Hình Giờ Làm Việc
                                            </legend>
                                            @*Số giờ làm việc tối đa*@
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay, _NumericTextBoxBuilder)
                                                                                @*@{
                                                                            var _HRM_ATT_OT_OTPERMIT_LIMITHOUR_BYDAY = new NumericTextBoxBuilderInfo<double>()
                                                                            {
                                                                                Name = "HRM_ATT_OT_OTPERMIT_LIMITHOUR_BYDAY",
                                                                                Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                                                                StyleCss = "width:70px",

                                                                            };
                                                                            var objConfig = ListResult.Where(d => d.Name == AppConfig.HRM_ATT_OT_OTPERMIT_LIMITHOUR_BYDAY.ToString()).FirstOrDefault();
                                                                            if (objConfig != null && !string.IsNullOrEmpty(objConfig.Value1) && objConfig.Value1 != "(null)")
                                                                            {
                                                                                _HRM_ATT_OT_OTPERMIT_LIMITHOUR_BYDAY.Value = double.Parse(objConfig.Value1);
                                                                            };
                                                                        }
                                                                        @Html.VnrNumericTextBox(_HRM_ATT_OT_OTPERMIT_LIMITHOUR_BYDAY)*@
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek, _NumericTextBoxBuilder)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear, _NumericTextBoxBuilder)
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
                                                                                    var _IsAllowOverLimit_Normal = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal, _IsAllowOverLimit_Normal)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
                                                                                    var _IsAllowOverLimit_AllowOver = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver, _IsAllowOverLimit_AllowOver)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Số giờ làm việc tối đa 2*@
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title_1.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev1, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor_Lev1, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @{
                                                                                        var _IsAllowOverLimit_Normal_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev1 == true ? true : false };
                                                                                    }
                                                                                    @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev1, _IsAllowOverLimit_Normal_Lev1)
                                                                                </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
                                                                                    var _IsAllowOverLimit_AllowOver_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev1 == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev1, _IsAllowOverLimit_AllowOver_Lev1)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Số giờ làm việc tối đa 3*@
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_OTPermit_Title_2.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev2, _NumericTextBoxBuilder)
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(m => m.limitColor_Lev2, "width: 70px")
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div id="div2">
                                                                                <div class="FieldTitle">
                                                                                    @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                                                                </div>
                                                                                <div class="FieldValue">
                                                                                    @{
                                                                                        var _IsAllowOverLimit_Normal_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev2 == true ? true : false };
                                                                                    }
                                                                                    @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev2, _IsAllowOverLimit_Normal_Lev2)
                                                                                </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.Label(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @{
                                                                                    var _IsAllowOverLimit_AllowOver_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev2 == true ? true : false };
                                                                                }
                                                                                @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev2, _IsAllowOverLimit_AllowOver_Lev2)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_IsAllowSplit.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @{
                                                                var _IsAllowSplit = new CheckBoxBuilderInfo() { Value = Model.IsAllowSplit == true ? true : false };
                                                            }
                                                            @Html.VnrCheckBoxFor(model => model.IsAllowSplit, _IsAllowSplit)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </td>
                                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color: #ffffff;">
                                    <div style="display:block; padding-top:10px;">
                                        <fieldset>
                                            <legend>
                                                @*@ConstantDisplay.HRM_HR_Profile_Basic.TranslateString()*@
                                                Cấu Hình Chấm Công
                                            </legend>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_MaxHoursOneShift.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @Html.VnrNumericTextBoxFor(m => m.MaxHoursOneShift, _NumericTextBoxBuilder)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_MaxHoursNextInOut.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @Html.VnrNumericTextBoxFor(m => m.MaxHoursNextInOut, _NumericTextBoxBuilder)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_WORKDAY_SUMMARY_Att_MinMinutesSameAtt.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @Html.VnrNumericTextBoxFor(m => m.MinMinutesSameAtt, _NumericTextBoxBuilder)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_TypeLoadData.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            @{
                                                                                var ddlTypeLoadData = new DropDownListBuilderInfo()
                                                                                {
                                                                                    DataTextField = "Text",
                                                                                    DataValueField = "Value",
                                                                                    BindTo = listTypeLoadData,
                                                                                    Value = Model.TypeLoadData,
                                                                                    EventChange = "selectTypeLoadData"
                                                                                };
                                                                            }
                                                                            @Html.VnrDropDownListFor(model => model.TypeLoadData, ddlTypeLoadData)
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.VnrLabelFor(model => model.SymbolIn)
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(model => model.SymbolIn)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="FieldTitle">
                                                                                @Html.VnrLabelFor(model => model.SymbolOut)
                                                                            </div>
                                                                            <div class="FieldValue">
                                                                                @Html.VnrTextBoxFor(model => model.SymbolOut)
                                                                            </div>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; width:100%">
                                                <div style="float:left;">
                                                    <div class="DivContentTitleValue" id="div13">
                                                        <div class="FieldTitle170">
                                                            @Html.Label(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_DetectShift.TranslateString())
                                                        </div>
                                                        <div class="FieldValue">
                                                            @{
                                                                var _DetectShift = new CheckBoxBuilderInfo() 
                                                                {
                                                                    Value = Model.DetectShift == true ? true : false 
                                                                };
                                                            }
                                                            @Html.VnrCheckBoxFor(model => model.DetectShift, _DetectShift)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </td>
                                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>