@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@using Kendo.Mvc.UI.Fluent

@model  HRM.Presentation.HrmSystem.Models.Sys_EvaConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Sys_Eva_Config_Leaday.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC1.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC1, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC2.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC2, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC3.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC3, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC4.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC4, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC5.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC5, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC6.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC6, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC7.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC7, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC8.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC8, "width:400px;height:30px;")
                                </div>
                            </div>
                            
                        </fieldset>
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Sys_Eva_Config_LateAndFailCard.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC9.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC9, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC10.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC10, "width:400px;height:30px;")
                                </div>
                            </div>
                        </fieldset>
                            <fieldset>
                                <legend>@ConstantDisplay.HRM_Sys_Eva_Config_Discipline.TranslateString()</legend>

                                <div class="DivContentTitleValue">
                                    <div class="FieldTitleConfig200">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC11.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(model => model.DataC11, "width:400px;height:30px;")
                                    </div>
                                </div>
                                <div class="DivContentTitleValue">
                                    <div class="FieldTitleConfig200">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC12.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(model => model.DataC12, "width:400px;height:30px;")
                                    </div>
                                </div>
                                <div class="DivContentTitleValue">
                                    <div class="FieldTitleConfig200">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC13.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(model => model.DataC13, "width:400px;height:30px;")
                                    </div>
                                </div>
                            </fieldset>
                        <fieldset>
                            <legend>@ConstantDisplay.HRM_Sys_Eva_Config_KaizenData.TranslateString()</legend>

                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC14.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC14, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC15.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC15, "width:400px;height:30px;")
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_DataC16.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(model => model.DataC16, "width:400px;height:30px;")
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>