@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Recruitment.Models

@model Rec_QuestionTypeModel
@{
    Layout = null;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

}

<script>
    SetFieldRequired();

    function onSave() {
        $("#ResponseTable").val("ResponseTable");
        onSaveAndContinue($('#form_Rec_QuestionType'), '@_hrm_Hre_Service', 'api/Rec_QuestionType/', 'grid_Rec_QuestionType', 'windowRec_QuestionType');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_QuestionType'), '@_hrm_Hre_Service', 'api/Rec_QuestionType/', 'grid_Rec_QuestionType', 'windowRec_QuestionType');
        return false;
    }

    function onSaveDataPopUp() {
        onlySave($('#form_Rec_QuestionType'), '@_hrm_Hre_Service', 'api/Rec_QuestionType/', 'grid_Rec_QuestionType'); return false;
    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_QuestionType" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ResponseTable)
    <table>
        <tr>
            <td>
                <div id=" div1">
                    <div class="FieldTitle150 ">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Code = new TextBoxBuilderInfo()
    {
        Width=300,
        Name = "QuestionTypeInfo_Code"
    };
    if (Model != null)
    {
        _Code.Value = Model.Code == null ? string.Empty : Model.Code;
    }
                        }
                      @Html.VnrTextBoxFor(mode => mode.Code, _Code)
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150 ">
                        @Html.VnrLabelFor(mode => mode.QuestionTypeName)
                    </div>
                    <div class="FieldValue">
                        @{
    var _QuestionTypeName = new TextBoxBuilderInfo()
    {
        Width = 300,
        Name = "QuestionTypeInfo_QuestionTypeName"
    };
    if (Model != null)
    {
        _QuestionTypeName.Value = Model.QuestionTypeName == null ? string.Empty : Model.QuestionTypeName;
    }
                        }
                        @Html.VnrTextBoxFor(mode => mode.QuestionTypeName, _QuestionTypeName)
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150 ">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>

                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-QuestionType", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-QuestionType", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-QuestionType", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
