@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@using VnResource.ARTS.Library
@model HRM.Presentation.HrmSystem.Models.Sys_UserChangePasswordModel
@{
    ViewBag.Title = "Index";
    Layout = null;

    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var oldPassword = string.Empty;
    var userLogin = string.Empty;
    if (Model != null)
    {
        oldPassword = Model.OldPassword;
        userLogin = Model.UserLogin;
    }

}
<script>

    $(document).ready(function () {
      //  var userLoginName = $("#UserLoginName").val();
    //    var userId = $("#UserLoginId").val();
      //  $("#UserInfoName").val(userLoginName);
      //  $("#ID").val(userId);
    });

    function setParam() {
        return {
            UserLogin: $("#UserLoginName").val(),
            UserInfoName :$("#UserInfoName").val(),
            ID: $("#UserLoginId").val(),
            OldPassword: $("#OldPassword").val(),
            NewPassword: $("#NewPassword").val(),
            ConfirmPassword: $("#ConfirmPassword").val(),
        };
    }

    function onChangePassword() {
        var validate = true;
        var newPass = $("#NewPassword").val();
        var confirmPass = $("#ConfirmPassword").val();
        if (newPass != confirmPass) {
            ShowNotificationProcessor("Vui Lòng Xác Nhận Mật Khẩu Mới");
            validate = false;
        }


        if (validate) {
            $.ajax({
                type: 'POST',
                url: '@_hrm_Sys_Service' + 'Sys_GetData/ChangePasswordSys_User',
                data: setParam(),
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data == false) {
                        ShowNotificationProcessor("Mật Khẩu Cũ Không Hợp Lệ");
                        return false;
                    }
                    else {
                        ShowNotificationProcessor("Thay Đổi Mật Khẩu Thành Công");
                        return true;
                    }
                }
            });
        }
        return false;
    }

</script>
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_sys_sysUserChangePassword" }))
{
    @*@Html.Hidden("ID")*@
    @Html.HiddenFor(p => p.ID)
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                    <span class="collapse k-icon k-i-arrowhead-n"></span>
                </h3>

                <div class="contendSearchWidge">
                    <div id="dvUserLogin">
                        <div class="FieldTitle170">
                            @Html.VnrLabelFor(mode => mode.UserLogin)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(p => p.UserInfoName, "disabled:disabled")
                            @*@Html.VnrTextBox("UserInfoName", "disabled:disabled")*@
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="dvOldPassword">
                        <div class="FieldTitle170">
                            @Html.VnrLabelFor(mode => mode.OldPassword)
                        </div>
                        <div class="FieldValue">
                            <input class="k-textbox" name="OldPassword" id="OldPassword" type="password" value="@oldPassword" style="width:300px;" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="dvNewPassword">
                        <div class="FieldTitle170">
                            @Html.VnrLabelFor(model => model.NewPassword)
                        </div>
                        <div class="FieldValue">
                            <input class="k-textbox" name="NewPassword" id="NewPassword" type="password" value="" style="width:300px;" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="dvConfirmPassword">
                        <div class="FieldTitle170">
                            @Html.VnrLabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="FieldValue">
                            <input class="k-textbox" name="ConfirmPassword" id="ConfirmPassword" type="password" value="" style="width:300px;" />
                        </div>
                        <div style="clear: both;"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="commandToolBarWidge">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangePass", EventClick = "onChangePassword", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
    </div>

}











