@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using System.Collections
@model HRM.Presentation.Canteen.Models.Can_MealAllowanceTypeSettingModel

@{
    Layout = null;
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}


<!--Form dùng cho edit và update-->
<div class="VnRMain">
    <table style="width:100%">
    
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Standard,1)
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MealAllowanceTypeName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.MealAllowanceTypeName, "width:300px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MealAllowanceTypeCode)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.MealAllowanceTypeCode, "width:150px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateFrom)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _DateFrom = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                    StyleCss = "width:150px;",
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateFrom, _DateFrom)
                        </div>
                    </div>
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateTo)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _DateTo = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                    StyleCss = "width:150px;",
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateTo, _DateTo)
                        </div>
                    </div>
     
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Amount)
                        </div>
                        <div class="FieldValue">
                            @{
                                var numericTextBoxAmount = new NumericTextBoxBuilderInfo<double>()
                                {
                                    Format="n0",
                                   
                                };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.Amount, numericTextBoxAmount)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    @*<div id="div3">
                        <div class="FieldTitle">
                            @Html.Label(@ConstantDisplay.HRM_Canteen_MealAllowanceTypeSetting_Check_DateFrom_DateTo.TranslateString())
                        </div>
                        <div class="FieldValue">
                            @Html.VnrCheckBox("HideDate")
                        </div>
                        <div style="clear: both;"></div>
                    </div>*@
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Note)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Note)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                

                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>

