@using HRM.Infrastructure.Utilities;
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessApprovedPage</title>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/jquery.min.js")"></script>
</head>
<body>
    <script>
    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: '@_hrm_Hre_Service' + "Att_GetData/Set_RejectLeaveDay_ByModuleApprove",
            data: {
                host: '@_hrm_Main_Web',
                UserLoginID: '@ViewBag.Login',
                selectedIds: '@ViewBag.Record',
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    $('#statusText').html('Từ Chối Ngày Nghỉ Thành Công');

                    @*if (data.Status == '@DataErrorCode.Success.ToString()') {
                    $('#statusText').html('Phê Duyệt Ngày Nghỉ Thành Công');
                }
                else if (data.Status == '@DataErrorCode.Success_Forward.ToString()') {
                    $('#statusText').html('Phê Duyệt Ngày Nghỉ Và Chuyển Tiếp Thành Công');
                }
                else if (data.Status == '@DataErrorCode.Error_NoUserApproved.ToString()') {
                    $('#statusText').html('Bạn Chưa Chọn Người Duyệt Kế Tiếp Cho Ngày Nghỉ');
                }
                else if (data.Status == '@DataErrorCode.Error_Reject.ToString()') {
                    $('#statusText').html('Ngày Nghỉ Đã Từ Chối Không Được Phép Phê Duyệt');
                }
                else if (data.Status == '@DataErrorCode.NoPermission.ToString()') {
                    $('#statusText').html('Tài Khoản Không Có Quyền Duyệt Ngày Nghỉ Này');
                }
                else if (data.Status == '@DataErrorCode.Locked.ToString()') {
                    $('#statusText').html('Đối Tượng Này Đã Bị Khóa');
                }
                else {
                    $('#statusText').html('Duyệt Đối Tượng Thất Bại');
                }*@
            }
        });

    });

</script>

    <div style="text-align:center">
        <h1>Trang Xử Lý Từ Chối!!!</h1>
        <span id="statusText"></span>
    </div>
</body>
</html>
