@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using System.Collections
@using HRM.Presentation.Category.Models


@model Cat_AppendixContractTypeSearchModel

@{
    var hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_Category_AppendixContractType_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Cat_AppendixContractType/CatAppendixContractTypeInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    //Biến để lưu id của các dòng đã check chọn

    var gridName = '@ConstantControlName.HRM_Category_AppendixContractType_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Category_AppendixContractType_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_AppendixContractType_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_AppendixContractType_PopUp_Create_Title.TranslateString())';

    $(document).ready(function () {
        //Ẩn hiện div chứa các input tìm kiếm
        ShowHidePanel();
        //Xử lý sự kiện click button tìm kiếm
        $("#btnSearch").click(function () {

            ReadGrid(gridName);
        });
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_Product');
        if (!isAccess) {
            return;
        }*@
        EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Cat_AppendixContractType/CatAppendixContractTypeInfo/", '@ConstantPermission.Cat_AppendixContractType', titleEditPopUp);
    });
    //Lấy dữ liệu khi tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            AppendixContractName: $('#AppendixContractName1').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
    GridCheckbox(gridName);
    //Tạo mới Sản phẩm
    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_AppendixContractType');
        if (!isAccess) {
            return;
        }
        PopUpCreate(popUpName, titleCreatePopUp);
    });


    //Xóa
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_AppendixContractType');
        if (!isAccess) {
            return;
        }

        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Cat_AppendixContractType/RemoveSelected/", selectedIds.join(","));
    });

    //Export
    $("#btnExportSelected").click(function () {
        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAppendixContractTypeSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_AppendixContractType');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#@ConstantControlName.HRM_Category_AppendixContractType_Grid_Name').data("kendoGrid");
        if (grid.dataSource._data.toJSON().length == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllAppendixContractTypeList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_AppendixContractType');
    });

</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.AppendixContractName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var AppendixContractName = new TextBoxBuilderInfo()
                            {
                                Name = "AppendixContractName1"
                            };
                        }
                        @Html.VnrTextBox(AppendixContractName)
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float: right">
        @*<div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>*@
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnAppendixContractType", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_Category_AppendixContractType_Grid_Name + "__Cat_AppendixContractType_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Category_AppendixContractType_Grid_Name,
            ShowCommand = false,
            ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetAppendixContractTypeList/",
            ReadData = "filterFieldInfo",
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new[]
            {
                Cat_AppendixContractTypeModel.FieldNames.Code,
                Cat_AppendixContractTypeModel.FieldNames.AppendixContractName,
                Cat_AppendixContractTypeModel.FieldNames.ExportName
            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {Cat_AppendixContractTypeModel.FieldNames.Code,80},
                {Cat_AppendixContractTypeModel.FieldNames.AppendixContractName,180},
                {Cat_AppendixContractTypeModel.FieldNames.ExportName,140}
            };

            grid.Filterable = new Dictionary<string, bool>()
            {
                {Cat_AppendixContractTypeModel.FieldNames.Code,true},
                {Cat_AppendixContractTypeModel.FieldNames.AppendixContractName,true},
                {Cat_AppendixContractTypeModel.FieldNames.ExportName,true}
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {Cat_AppendixContractTypeModel.FieldNames.AppendixContractName,ConstantDisplay.HRM_Category_AppendixContractType_Name},
                {Cat_AppendixContractTypeModel.FieldNames.Code,ConstantDisplay.HRM_Category_AppendixContractType_Code},
                {Cat_AppendixContractTypeModel.FieldNames.ExportName,ConstantDisplay.HRM_Category_AppendixContractType_ExportName}
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
    //var grid = new GridBuilderInfo
    //{
    //    Name = ConstantControlName.HRM_Category_AppendixContractType_Grid_Name,
    //    ValueFields = valueFields,
    //    SizeFields = sizeFields,
    //    DisplayFields = displayFields,
    //    Filterable = filterable,
    //    ShowCommand = false,
    //    ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetAppendixContractTypeList/",
    //    ReadData = "filterFieldInfo",
    //};
    }

    @(Html.VnrGrid<Cat_AppendixContractTypeModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnAppendixContractType", "Cat_AppendixContractTypeModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)