
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Hr.Models.Fin_PurchaseRequestModel
@{
    ViewBag.Title = "Index Hre_Contract";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>

    var _profileID = [];

    var Validator = CheckValidate();
    // Xử lý lấy trạng thái tiếp theo của bản ghi
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + 'Sys_GetData/GetNextStatusOfRecord_FIN_PurchaseRequest',
            data: { recordID: '@Model.ID' },
            dataType: 'json',
            async: false,
            success: function (data) {
                
                if (data == 1) {
                    document.getElementById("SelectUserApprove").style.visibility = "hidden";
                } else {
                    document.getElementById("SelectUserApprove").style.display = "none";
                }
            }
        });
    });

    $("#btnApproved").click(function () {
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + 'Sys_GetData/ProcessApproved',
            data: {
                host: '@_hrm_Main_Web',
                _loginID: $("#UserLoginId").val(),
                _userApprovedID: $('#SelectUserApprove').val(),
                _recordID: '@Model.ID',
                type: '@ApproveType.E_FIN_PurchaseRequest.ToString()'
            },
            dataType: 'json',
            async: false,
            success: function (data) {
                
                if (data.Status == '@DataErrorCode.Success.ToString()') {
                    ShowNotificationProcessor('Phê Duyệt Đơn Hàng Thành Công');
                }
                else if (data.Status == '@DataErrorCode.Success_Forward.ToString()') {
                    ShowNotificationProcessor('Phê Duyệt Đơn Hàng Và Chuyển Tiếp Thành Công');
                }
                else if (data.Status == '@DataErrorCode.Error_NoUserApproved.ToString()') {
                    ShowNotificationProcessor('Bạn Chưa Chọn Người Duyệt Kế Tiếp Cho Đơn Hàng');
                }
                else if (data.Status == '@DataErrorCode.Error_Reject.ToString()') {
                    ShowNotificationProcessor('Đơn Hàng Đã Từ Chối Không Được Phép Phê Duyệt');
                }
                else if (data.Status == '@DataErrorCode.NoPermission.ToString()') {
                    ShowNotificationProcessor('Tài Khoản Không Có Quyền Duyệt Đơn Hàng Này');
                }
                else if (data.Status == '@DataErrorCode.Locked.ToString()') {
                    ShowNotificationProcessor('Đối Tượng Này Đã Bị Khóa');
                }
                else {
                    ShowNotificationProcessor('Duyệt Đối Tượng Thất Bại');
                }
            }
        }); 
    });

    $("#btnReject").click(function () {
        
        $.ajax({
            type: 'POST',
            url: '@_hrm_Sys_Service' + 'Sys_GetData/ProcessReject',
            data: {
                host: '@_hrm_Main_Web',
                _loginID: $("#UserLoginId").val(),
                _recordID: '@Model.ID',
                type: '@ApproveType.E_FIN_PurchaseRequest.ToString()'
            },
            dataType: 'json',
            async: false,
            success: function (data) {
                
                if (data.Status == '@DataErrorCode.Success.ToString()') {
                    ShowNotificationProcessor('Từ Chối Đơn Hàng Thành Công');
                }
                else if (data.Status == '@DataErrorCode.Error_Reject.ToString()') {
                    ShowNotificationProcessor('Đơn Hàng Đã Từ Chối Không Được Phép Phê Duyệt');
                }
                else if (data.Status == '@DataErrorCode.NoPermission.ToString()') {
                    ShowNotificationProcessor('Tài Khoản Không Có Quyền Duyệt Đơn Hàng Này');
                }
                else if (data.Status == '@DataErrorCode.Locked.ToString()') {
                    ShowNotificationProcessor('Đối Tượng Này Đã Bị Khóa');
                }
                else {
                    ShowNotificationProcessor('Từ Chối Đối Tượng Thất Bại');
                }

            }
        });
    });


</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create" data-role="validator" novalidate="novalidate">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Fin_PurchaseRequest_View_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Fin_Back_To_PurchaseRequest_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnApproved", Content = ConstantAction.HRM_Common_Approve.TranslateString(), ImageUrl = ConstantPath.IconApprovedPath })
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnReject", Content = ConstantAction.HRM_Common_Reject.TranslateString(), ImageUrl = ConstantPath.IconRejectPath })
                        <script>
                            function userApproved1Data1(e) {
                    
                    return {
                        text: $("#SelectUserApprove").data("kendoComboBox")._prev + "|" + '@Model.ID'
                    };
                }
                        </script>
                        @{
                            var multiSelectUserApproveID1 = new ComboBoxBuilderInfo()
                            {
                                Name = "SelectUserApprove",
                                DataTextField = "UserApproveName",
                                DataValueField = "ID",
                                Url = @_hrm_Sys_Service + "Sys_GetData/GetUserApproved_Multilevel_E_FIN_PurchaseRequest",
                                Placeholder = ConstantDisplay.HRM_System_SelectUserApprove.TranslateString(),
                                Data = "userApproved1Data1",
                            };
                        }
                        @Html.VnrComboBox(multiSelectUserApproveID1)
                        
                    </div>
                </div>
                @Html.Partial("DetailPurchaseRequestInfo", Model)
            </div>
        </div>
    </div>
</form>



