@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@using System.Collections
@using HRM.Infrastructure.Security

@model Fin_PurchaseRequestModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var ContractID = Guid.Empty;
    var ProfileName = string.Empty;
    if (Model != null)
    {
        ContractID = Model.ID;
    }

    var dtFrom = string.Empty;
    var dtTo = string.Empty;
    if (Model.From.HasValue)
    {
        dtFrom = Model.From.Value.ToString(ConstantFormat.HRM_Format_DayMonthYear);
    }
    if (Model.To.HasValue)
    {
        dtTo = Model.To.Value.ToString(ConstantFormat.HRM_Format_DayMonthYear);
    }
    
}


<script type="text/javascript">
    SetFieldRequired();
    var gridName = '@ConstantControlName.HRM_HR_AppendixContract_Grid_Name.TranslateString()';
    var popUpName = '@ConstantControlName.HRM_HR_AppendixContract_PopUp_Name.TranslateString()';
    

    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Xử lý Edit popup
    });

    function filterFieldInfo() {
        return {
            PurchaseRequestID: $("#PruchaseRequest_ID").val()
        };
    }
    GridCheckbox(gridName);
</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>

            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">
                        @Html.HiddenFor(mode => mode.ID)
                        @Html.HiddenFor(mode => mode.PruchaseRequest_ID)
                        @Html.HiddenFor(mode => mode.UserCreateID)
                        <div style="float:left; width:100%">
                            <div style="float: left; width: 500px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Code)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.Code)
                                        @*@Html.VnrTextBoxFor(mode => mode.Code)*@
                                    </div>
                                </div>

                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.FunctionID)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.FunctionName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.BudgetOwnerID)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.BudgetOwnerName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.ChannelID)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.ChannelName)

                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.SupplierID)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.SupplierName)
                                    </div>
                                </div>


                            </div>
                            <div style="float:left">
                                <div id="div4">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelFor(mode => mode.BudgetChargedIn)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.BudgetChargedIn)
                                    </div>
                                </div>


                                <div id="div2">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(mode => mode.From)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                       @Html.Label(dtFrom+" ~ "+dtTo)
                                    </div>
                                </div>


                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Description)
                                    </div>
                                    <div class="FieldValueView" style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.Description)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="commandToolBarWidge">
    <div style="float:right">

    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        //Thông tin hiển column hiển thị
        string[] valueFields = new string[]
                            {
                                Fin_PurchaseRequestItemModel.FieldNames.Code,
                                Fin_PurchaseRequestItemModel.FieldNames.CateCodeType,
                                Fin_PurchaseRequestItemModel.FieldNames.Name,
                                Fin_PurchaseRequestItemModel.FieldNames.ProjectName,
                                Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemName,
                                Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemCost,
                                Fin_PurchaseRequestItemModel.FieldNames.Quantity,
                                Fin_PurchaseRequestItemModel.FieldNames.UnitPrice,
                                Fin_PurchaseRequestItemModel.FieldNames.Amount,

                            };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Fin_PurchaseRequestItemModel.FieldNames.Code, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.CateCodeType, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.Name, 100},
                                {Fin_PurchaseRequestItemModel.FieldNames.ProjectName, 130},
                                {Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemName, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemCost, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.Quantity, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.UnitPrice, 150},
                                {Fin_PurchaseRequestItemModel.FieldNames.Amount, 120}
                            };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Fin_PurchaseRequestItemModel.FieldNames.Code, ConstantDisplay.HRM_Fin_PurchaseRequest_Code},
                                {Fin_PurchaseRequestItemModel.FieldNames.CateCodeType, ConstantDisplay.HRM_Fin_PurchaseRequest_Code},
                                {Fin_PurchaseRequestItemModel.FieldNames.Name,  ConstantDisplay.HRM_Fin_PurchaseRequest_Name},
                                {Fin_PurchaseRequestItemModel.FieldNames.ProjectName,ConstantDisplay.HRM_Fin_PurchaseRequest_ProjectID},
                                {Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemName, ConstantDisplay.HRM_Category_PurchaseItem_PurchaseItemName},
                                {Fin_PurchaseRequestItemModel.FieldNames.PurchaseItemCost, ConstantDisplay.HRM_Category_PurchaseItem_PurchaseItemCost},
                                {Fin_PurchaseRequestItemModel.FieldNames.Quantity, ConstantDisplay.HRM_Fin_PurchaseRequest_Quantity},
                                {Fin_PurchaseRequestItemModel.FieldNames.UnitPrice, ConstantDisplay.HRM_Fin_PurchaseRequest_UnitPrice},
                                {Fin_PurchaseRequestItemModel.FieldNames.Amount,ConstantDisplay.FIN_ClaimItem_Amount},

                            };
        string[] sumFields = new string[]
        {
            Fin_PurchaseRequestItemModel.FieldNames.Amount
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_PurchaseRequestItem",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowEditIcon = false,
            ShowCheckbox = false,
            ShowCheckAll = false,
            ShowCommand = false,
            GridHeight = 200,
            AutoBind = true,
            ReadActionUrl = _hrm_Hr_Service + "Hre_GetData/GetPurchaseRequestItemByPurchaseRequestID?PurchaseRequestID=" + ContractID,
            ReadData = "filterFieldInfo",
            SumFields = sumFields,
            FormatSum = "n2",
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Fin_PurchaseRequestItemModel>(grid))
</div>
<div>
    @{
        if (Model == null)
        {
            <script>
                $(document).ready(function () {
                    
                    var x = location.href.split('/');
                    var arrGradePayrollID = x[x.length - 1];
                    var purchaseID = arrGradePayrollID.split('#');

                    if (purchaseID != "") {
                        $.ajax({
                            type: 'POST',
                            url: '@_hrm_Hr_Service' + '/Hre_GetData/ExportPurchaseRequest',
                            data: { profileID: _profileID },
                            dataType: 'json',
                            success: function (returnValue) {
                                
                            }
                        });
                    }
                });
            </script>


        }
    }
</div>