@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:230px">
                            @Html.VnrLabelFor(mode => mode.TotalDayAnnualLeaveOnYear)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrNumericTextBoxFor(model => model.TotalDayAnnualLeaveOnYear,new NumericTextBoxBuilderInfo<Int32>())
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width: 230px">
                            @Html.VnrLabelFor(mode => mode.FormulaAnnualLeave)
                        </div>
                        <div class="FieldValue" style="width:1000px">
                            @Html.VnrTextAreaFor(model => model.FormulaAnnualLeave,"width:975px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width: 230px">
                            @Html.VnrLabelFor(mode => mode.Seniority)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrNumericTextBoxFor(model => model.Seniority, new NumericTextBoxBuilderInfo<Int32>())
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width: 230px">
                            @Html.VnrLabelFor(mode => mode.OptionReceive)
                        </div>
                        <div class="FieldValue">
                            
                            @{
                                IList<SelectListItem> listOption = Enum.GetValues(typeof(EnumDropDown.OptionReceive))
                                 .Cast<EnumDropDown.OptionReceive>()
                                 .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
                                 .ToList();
                                DropDownListBuilderInfo _optionreceive = new DropDownListBuilderInfo()
                                {
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    BindTo = listOption,
                                    Value = @Html.DisplayFor(mode => mode.OptionReceive).ToString(),
                                };
                            }
                            @Html.VnrDropDownListFor(m => m.OptionReceive, _optionreceive)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>

            </tr>
        </tbody>
    </table>
</div>