@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    IList<SelectListItem> listSalaryTimeType = Enum.GetValues(typeof(EnumDropDown.SalaryTimeType))
                                .Cast<EnumDropDown.SalaryTimeType>()
                                .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
                                .ToList();
                                
    IList<SelectListItem> lstPaymentMethod = Enum.GetValues(typeof(EnumDropDown.MethodPayment))
                                .Cast<EnumDropDown.MethodPayment>()
                                .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
                                .ToList();
}
<script>
   
    
    $("#IsReceiveOvertimeBonus").change(function () {
        if (this.checked) {
            $("#OvertimeTypeDiv").show();
        }
        else {
            $("#OvertimeTypeDiv").hide();
        }
    });

    $(document).ready(function () {
        
        var x = document.getElementById("IsReceiveOvertimeBonus");
        if (x.checked == true) {
            $("#OvertimeTypeDiv").show();
        } else {
            $("#OvertimeTypeDiv").hide();
        }
    });
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" >
                           @Html.VnrLabelFor(mode => mode.IsReceiveOvertimeBonus)
                        </div>
                        <div class="FieldValue" >
                            @Html.VnrCheckBoxFor(mode => mode.IsReceiveOvertimeBonus, new CheckBoxBuilderInfo() {
                           Value = Model != null ? Model.IsReceiveOvertimeBonus != null ? (bool)Model.IsReceiveOvertimeBonus : false : false 
                       }
                      
                       
                       )
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="border: thin solid; border-color: rgba(13, 13, 13, 0.23);height:270px;padding-top:5px;margin-left:145px" id="OvertimeTypeDiv" hidden="hidden">
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTWorkdayFormula)
                            </div>
                            <div class="FieldValue" style="width:1000px">
                                @Html.VnrTextAreaFor(model => model.OTWorkdayFormula, "width:975px;height:30px")
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div>
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.SalaryTimeType)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrLabelFor(mode => mode.SalaryTimeDay)
                                @Html.VnrTextBoxFor(mode => mode.SalaryTimeDay, "width:35px")
                                @{
                                    DropDownListBuilderInfo _SalaryTimeType = new DropDownListBuilderInfo()
                                {
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    BindTo = listSalaryTimeType,
                                    Value = @Html.DisplayFor(mode => mode.SalaryTimeType).ToString(),
                                    Autobind = true,
                                };
                                }
                                @Html.VnrDropDownListFor(m => m.SalaryTimeType, _SalaryTimeType)
                            </div>
                        </div>
                        
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTNomal)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTNomal).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTNomal, _dropdownOvertimeType))
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTNomalNight)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType3 = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTNomalNight).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTNomalNight, _dropdownOvertimeType3))
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTLeaveDay)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType1 = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTLeaveDay).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTLeaveDay, _dropdownOvertimeType1))
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTLeaveDayNight)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType4 = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTLeaveDayNight).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTLeaveDayNight, _dropdownOvertimeType4))
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTHoliday)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType2 = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTHoliday).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTHoliday, _dropdownOvertimeType2))
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(mode => mode.OTHolidayNight)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownOvertimeType5 = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "OvertimeTypeName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.OTHolidayNight).ToString(),
                                        StyleCss = "width:150px",
                                    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.OTHolidayNight, _dropdownOvertimeType5))
                            </div>
                        </div>
                        <div id="div11">
                            <div class="FieldTitle" style="width:220px">
                                @Html.VnrLabelFor(model => model.MethodPayment)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _MethodPayment = new DropDownListBuilderInfo()
                                    {
                                        DataTextField="Text",
                                        DataValueField="Value",
                                        BindTo = lstPaymentMethod,
                                        StyleCss="width:150px"
                                    };
                                }
                                @Html.VnrDropDownListFor(model => model.MethodPayment, _MethodPayment)
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>

</div>

@*<script type="text/javascript">
    //Ẩn hiện thanh nhập công thức
    $("input[type=radio][name=ComputingSalaryMethodInOT]").change(function () {
        
        if ($("#IsFormulaOT")[0].checked) {
            $("#divOTFormula").show();
        }
        else {
            $("#divOTFormula").hide();
        }
    });

</script>*@
