@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.HourOnWorkDate)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrNumericTextBoxFor(model => model.HourOnWorkDate,new NumericTextBoxBuilderInfo<Int32>())
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.ShiftHours)
                        </div>
                        <div class="FieldValue">
                            @*@Html.VnrRadioButtonFor(model => model.ShiftHours, "HourOnWorkDate")*@
                            @Html.CheckBoxFor(m => m.ShiftHours, new { name = "HourOnWorkDate" })
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.FixHours)
                        </div>
                        <div class="FieldValue">
                            @*@Html.VnrRadioButtonFor(model => model.FixHours, "HourOnWorkDate")*@
                            @Html.CheckBoxFor(m => m.FixHours, new { name = "HourOnWorkDate" })
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="divException">
                        <div class="FieldTitle" style="width:220px">
                            Ngoại Lệ @*//Chưa Dịch*@
                        </div>
                        <div class="FieldValue">
                            <div>
                                @Html.VnrLabelFor(mode => mode.ExpHourPerDay)
                                @Html.VnrNumericTextBoxFor(model => model.ExpHourPerDay, new NumericTextBoxBuilderInfo<Int32>())
                                @Html.VnrLabelFor(mode => mode.ExpHourFrom)
                                @Html.VnrDatePickerFor(model => model.ExpHourFrom, new DatePickerBuilderInfo() { })
                                @Html.VnrLabelFor(mode => mode.ExpHourTo)
                                @Html.VnrDatePickerFor(model => model.ExpHourTo, new DatePickerBuilderInfo() { })
                            </div>

                        </div>
                        <div style="clear: both;"></div>
                    </div>


                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    //Ẩn hiện thanh nhập công thức
    $("input[type=radio][name=HourOnWorkDate]").change(function () {
        
        if ($("#FixHours")[0].checked) {
            $("#divException").show();
        }
        else {
            $("#divException").hide();
        }
    });

</script>