@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.UI.Controls.Kendo.DropDownList;
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Category.Models;
@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listSalaryTimeType = Enum.GetValues(typeof(EnumDropDown.SalaryTimeType))
                            .Cast<EnumDropDown.SalaryTimeType>()
                            .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
                            .ToList();
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div>
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.SalaryLeaveTimeType)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrLabelFor(mode => mode.SalaryLeaveTimeDay)

                            @Html.VnrTextBoxFor(mode => mode.SalaryLeaveTimeDay, "width:35px")
                            @{
                                DropDownListBuilderInfo _SalaryLeaveTimeType = new DropDownListBuilderInfo()
                            {
                                DataTextField = "Text",
                                DataValueField = "Value",
                                BindTo = listSalaryTimeType,
                                Value = @Html.DisplayFor(mode => mode.SalaryTimeType).ToString(),
                                Autobind = true,
                            };
                            }
                            @Html.VnrDropDownListFor(m => m.SalaryLeaveTimeType, _SalaryLeaveTimeType)
                        </div>
                    </div>


                    
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>

</div>