@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{
    ViewBag.Title = "Index  GradeAttendance";
    Layout = null;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Main_Web = ConstantPathWeb._hrm_Main_Web;

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    var data = SetCharacteFieldRequired();
    function doSave() {
        var result = false;
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Cat_GradeAttendance/');
            result = true;
            return result;
        }
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Cat_GradeAttendance/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.GradeAttendanceIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Category_GradeAttendance_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Category_GradeAttendance_Back_To_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options" style="margin-top: 5px;">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateNotUpdate", Model)
            </div>
        </div>
    </div>
</form>




