@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradeAttendanceModel
@{    
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    //$(document).ready(function () {
    //    //init là biến kiểm tra đã khởi tạo KendoValidator chưa
    //    init = SetValidate()
    //});
</script>
<div class="VnRMain">
    @Html.HiddenFor(model => model.ID)
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Code)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.GradeAttendanceName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.GradeAttendanceName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:220px">
                            @Html.VnrLabelFor(mode => mode.Description)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Description)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
          
            </tr>
        </tbody>
    </table>
   
</div>
<div class="VnRMain">
    <div id="tabtrip">
        <ul>
            <li class="k-state-active">@ConstantDisplay.Attentendance_Tab.TranslateString()</li>@*//Chưa Dịch*@
            @*<li>Tính Lương Nghỉ</li>*@
            <li>@ConstantDisplay.Shift_Tab.TranslateString()</li>
            @*<li>Số Ngày/Giờ Công</li>*@
            <li>@ConstantDisplay.AnnualLeave_Tab.TranslateString()</li>
            <li>@ConstantDisplay.ComputeLeaveDay_Tab.TranslateString()</li>
            @*<li>Thông Tin Lương</li>*@
        </ul>
        <div>
            @Html.Partial("_AttendanceInfo", Model)
        </div>
        @*<div>
            @Html.Partial("_ComputingSalaryMethodInLeave", Model)
        </div>*@
        <div>
            @Html.Partial("_ComputingSalaryMethodInOT", Model)
        </div>
        @*<div>
            @Html.Partial("_HourOnWorkDate", Model)
        </div>*@
        <div>
            @Html.Partial("_AnnualLeaveMethod", Model)
        </div>
        @*Tạm Thời Mượn _SalInfo Để tính ngày nghỉ*@
        <div>
            @Html.Partial("_SalInfo", Model)
        </div>
    </div>
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabtrip").kendoTabStrip();
    });
</script>


