@using System.Collections

@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@model Hre_ProfilePartyUnionModel
@{
    Layout = null;
    var hrmCatService = ConstantPathWeb.Hrm_Cat_Service;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Hr_Web = ConstantPathWeb.Hrm_Hre_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;


    IList<SelectListItem> lstPoliticalTheory = Enum.GetValues(typeof(EnumDropDown.PoliticalTheory))
.Cast<EnumDropDown.PoliticalTheory>()
.Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
.ToList();
}
<script>

    var IsRelationWithMartyr = document.getElementById("IsRelationWithMartyr");
    var IsCommunistPartyMember = document.getElementById("IsCommunistPartyMember");
    var IsTradeUnionist = document.getElementById("IsTradeUnionist");
    var IsYouthUnionist = document.getElementById("IsYouthUnionist");
    var IsVeteranUnionist = document.getElementById("IsVeteranUnionist");
    var IsSelfDefenceMilitia = document.getElementById("IsSelfDefenceMilitia");


    SetFieldRequired();
    //Hàm lưu
    function onSave() {
        if (IsRelationWithMartyr != null && IsRelationWithMartyr.checked) {
            $("#IsRelationWithMartyr").val("true");
        } else {
            $("#IsRelationWithMartyr").val("false");
        }

        if (IsCommunistPartyMember != null && IsCommunistPartyMember.checked) {
            $("#IsCommunistPartyMember").val("true");
        } else {
            $("#IsCommunistPartyMember").val("false");
        }
        if (IsTradeUnionist != null && IsTradeUnionist.checked) {
            $("#IsTradeUnionist").val("true");
        } else {
            $("#IsTradeUnionist").val("false");
        }
        if (IsYouthUnionist != null && IsYouthUnionist.checked) {
            $("#IsYouthUnionist").val("true");
        } else {
            $("#IsYouthUnionist").val("false");
        }
        if (IsVeteranUnionist != null && IsVeteranUnionist.checked) {
            $("#IsVeteranUnionist").val("true");
        } else {
            $("#IsVeteranUnionist").val("false");
        }
        if (IsSelfDefenceMilitia != null && IsSelfDefenceMilitia.checked) {
            $("#IsSelfDefenceMilitia").val("true");
        } else {
            $("#IsSelfDefenceMilitia").val("false");
        }
        onlySave($('#form_Hre_Hre_PartyAndUnion'), '@_Hrm_Hre_Service', 'api/Hre_ProfilePartyUnion/', 'gridPartyAndUnion', 'windowPartyAndUnion');
        return false;
    }

    //Hàm lưu và đóng
    function onSaveClose() {
        if (IsRelationWithMartyr != null && IsRelationWithMartyr.checked) {
            $("#IsRelationWithMartyr").val("true");
        } else {
            $("#IsRelationWithMartyr").val("false");
        }

        if (IsCommunistPartyMember != null && IsCommunistPartyMember.checked) {
            $("#IsCommunistPartyMember").val("true");
        } else {
            $("#IsCommunistPartyMember").val("false");
        }
        if (IsTradeUnionist != null && IsTradeUnionist.checked) {
            $("#IsTradeUnionist").val("true");
        } else {
            $("#IsTradeUnionist").val("false");
        }
        if (IsYouthUnionist != null && IsYouthUnionist.checked) {
            $("#IsYouthUnionist").val("true");
        } else {
            $("#IsYouthUnionist").val("false");
        }
        if (IsVeteranUnionist != null && IsVeteranUnionist.checked) {
            $("#IsVeteranUnionist").val("true");
        } else {
            $("#IsVeteranUnionist").val("false");
        }
        if (IsSelfDefenceMilitia != null && IsSelfDefenceMilitia.checked) {
            $("#IsSelfDefenceMilitia").val("true");
        } else {
            $("#IsSelfDefenceMilitia").val("false");
        }
        onSaveAndClose($('#form_Hre_Hre_PartyAndUnion'), '@_Hrm_Hre_Service', 'api/Hre_ProfilePartyUnion/', 'gridPartyAndUnion', 'windowPartyAndUnion');
        return false;
    }
    @*//Ham lưu và tạo mới
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('Hrm_Hre_Web/Hre_PartyAndUnion/CreateOrUpdate/', 'Hrm_Hre_Web', '@_Hrm_Hr_Web');
        }
    }*@

    function onSaveDataPopUp() {
        onlySave($('#form_Hre_Hre_PartyAndUnion'), '@_Hrm_Hre_Service', 'api/Hre_ProfilePartyUnion/', 'gridPartyAndUnion'); return false;
    }

</script>
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Hre_Hre_PartyAndUnion" }))
{
    <div id="Hre_ProfilePartyUnionIdForm" class="VnRMain">
        <table style="width:99%">
            <tbody>
                <tr>
                    <td valign="top">
                        <div style="display: block; padding-left:6px; width:100%">
                            <div class="FieldTitle150 ">
                                @Html.VnrLabelFor(mode => mode.ProfileName)
                                @Html.HiddenFor(mode => mode.ID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    IEnumerable valueProfile1 = new string[] { };
                                    if (Model != null)
                                    {
                                        valueProfile1 = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                    }
                                                                }
                                                                @{
                                    var Profile1 = new MultiSelectBuilderInfo()
                                     {
                                         Width = 300,
                                         Name = "PartyUnionInfo_ProfileID",
                                         DataTextField = Hre_ProfilePartyUnionModel.FieldNames.ProfileName,
                                         DataValueField = Hre_ProfilePartyUnionModel.FieldNames.ID,
                                         Url = @_Hrm_Hre_Service + "Hre_GetData/GetMultiProfile",
                                         Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                         MaxSelectedItems = 1,
                                         Value = valueProfile1
                                     };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile1))
                            </div>
                        </div>
                        <!--là con em liệt sĩ-->
                        <div style="display: block; padding-top: 10px; float: left; width:100%">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_Fallenhero.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsRelationWithMartyr)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var IsRelationWithMartyr = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsRelationWithMartyr == true)
        {
            IsRelationWithMartyr.Value = true;
        }
        else
        {
            IsRelationWithMartyr.Value = false;
        }
    }
                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsRelationWithMartyr, IsRelationWithMartyr)
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left; padding-left:136px;">
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.RelationWithMartyr)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.RelationWithMartyr, "width: 300px")
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <!--Đảng viên-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_Party.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:50px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.CommunistPartyReserveDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var PartyEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.CommunistPartyReserveDate, PartyEnrolledDate)
                                        </div>
                                    </div>
                                    <!--Ngay ket nap-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.CommunistPartyEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_CommunistPartyEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.CommunistPartyEnrolledDate, ddk_CommunistPartyEnrolledDate)
                                        </div>
                                    </div>
                                    <!--End-->
                                    <!--so the dang-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.CommunistPartyCardNo)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.CommunistPartyCardNo, "width: 300px")
                                        </div>
                                    </div>
                                    <!--End-->
                                </div>
                                <div style="float:left;">
                                    <!--la dang vien-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsCommunistPartyMember)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var Cb_IsCommunistPartyMember = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsCommunistPartyMember == true)
        {
            Cb_IsCommunistPartyMember.Value = true;
        }
        else
        {
            Cb_IsCommunistPartyMember.Value = false;
        }
    }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsCommunistPartyMember, Cb_IsCommunistPartyMember)
                                        </div>
                                    </div>
                                    <!--end-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.CommunistPartyPositionName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _CommunistPartyPositionName = new ComboBoxBuilderInfo()
    {
        DataTextField = "CommunistPartyPositionName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiCommunistPartyPosition",
        StyleCss = "width:300px",
        Value = Model == null ? string.Empty : Model.CommunistPartyPositionName,
        Autobind = true
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.CommunistPartyPositionID, _CommunistPartyPositionName))
                                        </div>
                                    </div>
                                    <!--Trinh do chi nh tri-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.PoliticalLevelName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _PoliticalLevelName = new ComboBoxBuilderInfo()
    {
        DataTextField = "PoliticalLevelName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiPoliticalLevel",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.PoliticalLevelName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.PoliticalLevelID, _PoliticalLevelName))
                                        </div>
                                    </div>
                                    <!--end-->
                                </div>
                            </fieldset>
                        </div>
                        <!--Đoàn viên công đoàn-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_Union.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <!--la doan vien cong doan-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsTradeUnionist)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var Cb_IsTradeUnionist = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsTradeUnionist == true)
        {
            Cb_IsTradeUnionist.Value = true;
        }
        else
        {
            Cb_IsTradeUnionist.Value = false;
        }
    }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsTradeUnionist, Cb_IsTradeUnionist)
                                        </div>
                                    </div>
                                    <!--End-->
                                    <!--Ngay ket nap-->
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.TradeUnionistEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_TradeUnionistEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.TradeUnionistEnrolledDate, ddk_TradeUnionistEnrolledDate)
                                        </div>
                                    </div>
                                    <!--End-->
                                </div>
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="div13">
                                        <!--de trong-->
                                    </div>
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.TradeUnionistPositionName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _TradeUnionistPositionName = new ComboBoxBuilderInfo()
    {
        DataTextField = "TradeUnionistPositionName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiTradeUnionistPosition",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.TradeUnionistPositionName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.TradeUnionistPositionID, _TradeUnionistPositionName))
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Đoàn viên-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_UnionChild.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <!--la doan vien-->
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsYouthUnionist)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var Cb_IsYouthUnionist = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsYouthUnionist == true)
        {
            Cb_IsYouthUnionist.Value = true;
        }
        else
        {
            Cb_IsYouthUnionist.Value = false;
        }
    }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsYouthUnionist, Cb_IsYouthUnionist)

                                        </div>
                                    </div>
                                    <!--End-->
                                    <!--Ngay ket nap-->
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.YouthUnionEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_YouthUnionEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.YouthUnionEnrolledDate, ddk_YouthUnionEnrolledDate)
                                        </div>
                                    </div>
                                    <!--End-->
                                </div>
                                <div style="float:left;">
                                    <div class="DivContentTitleValue">

                                    </div>
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.YouthUnionPositionName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _YouthUnionPosition = new ComboBoxBuilderInfo()
    {
        DataTextField = "YouthUnionPositionName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiYouthUnionPosition",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.YouthUnionPositionName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.YouthUnionPositionID, _YouthUnionPosition))
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Cách mạng-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_Revolutionary.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.RevolutionEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_RevolutionEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.RevolutionEnrolledDate, ddk_RevolutionEnrolledDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.ArmedForceTypesName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _ArmedForceTypesName = new ComboBoxBuilderInfo()
    {
        DataTextField = "ArmedForceTypesName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiArmedForceTypes",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.ArmedForceTypesName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.ArmedForceTypeID, _ArmedForceTypesName))
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.RevolutionEndDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_RevolutionEndDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.RevolutionEndDate, ddk_RevolutionEndDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.WoundedSoldierTypesName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _WoundedSoldierTypesName = new ComboBoxBuilderInfo()
    {
        DataTextField = "WoundedSoldierTypesName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiWoundedSoldierTypes",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.WoundedSoldierTypesName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.WoundedSoldierTypeID, _WoundedSoldierTypesName))
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Hội cựu chiến binh-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_VeteranAssociation.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsVeteranUnionist)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var Cb_IsVeteranUnionist = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsVeteranUnionist == true)
        {
            Cb_IsVeteranUnionist.Value = true;
        }
        else
        {
            Cb_IsVeteranUnionist.Value = false;
        }
    }
                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsVeteranUnionist, Cb_IsVeteranUnionist)

                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.VeteranUnionEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_VeteranUnionEnrolledDate = new DatePickerBuilderInfo();
                                            
                                            }
                                            @Html.VnrDatePickerFor(model => model.VeteranUnionEnrolledDate, ddk_VeteranUnionEnrolledDate)
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left;">
                                    <div class="DivContentTitleValue">
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle150 ">
                                                @Html.VnrLabelForNoneIcon(model => model.VeteranUnionCardNo)
                                            </div>
                                            <div class="FieldValue">
                                                @Html.VnrTextBoxFor(model => model.VeteranUnionCardNo, "width: 300px")
                                            </div>
                                        </div>
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.VeteranUnionPositionName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _VeteranUnionPositionName = new ComboBoxBuilderInfo()
    {
        
        DataTextField = "VeteranUnionPositionName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiVeteranUnionPosition",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.VeteranUnionPositionName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.VeteranUnionPositionID, _VeteranUnionPositionName))
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--Hội cựu chiến binh-->
                        <div style="display:block; padding-top:10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_ProfilePartyUnion_MilitiaAndSelf.TranslateString()
                                </legend>
                                <div style="float:left; padding-right:100px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.IsSelfDefenceMilitia)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var Cb_IsSelfDefenceMilitia = new CheckBoxBuilderInfo()
    {

    };
    if (Model != null)
    {
        if (Model.IsSelfDefenceMilitia == true)
        {
            Cb_IsSelfDefenceMilitia.Value = true;
        }
        else
        {
            Cb_IsSelfDefenceMilitia.Value = false;
        }
    }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsSelfDefenceMilitia, Cb_IsSelfDefenceMilitia)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.SelfDefenceMilitiaEnrolledDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_SelfDefenceMilitiaEnrolledDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.SelfDefenceMilitiaEnrolledDate, ddk_SelfDefenceMilitiaEnrolledDate)
                                        </div>
                                    </div>
                                </div>

                                <div style="float:left; padding-right:100px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.SelfDefenceMilitiaPositionName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var _SelfDefenceMilitiaPositionName = new ComboBoxBuilderInfo()
    {
        DataTextField = "SelfDefenceMilitiaPositionName",
        DataValueField = "ID",
        Url = hrmCatService + "Cat_GetData/GetMultiSelfDefenceMilitiaPosition",
        StyleCss = "width:300px",
        Autobind = true,
        Value = Model == null ? string.Empty : Model.SelfDefenceMilitiaPositionName,
    };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.SelfDefenceMilitiaPositionID, _SelfDefenceMilitiaPositionName))
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue">

                                        <div class="FieldTitle150 ">
                                            @Html.VnrLabelForNoneIcon(model => model.SelfDefenceMilitiaEndDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddk_SelfDefenceMilitiaEndDate = new DatePickerBuilderInfo();
                                            }
                                            @Html.VnrDatePickerFor(model => model.SelfDefenceMilitiaEndDate, ddk_SelfDefenceMilitiaEndDate)
                                        </div>
                                    </div>
                                    @*<div id="div13">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelForNoneIcon(model => model.PoliticalTheory)
                                        </div>
                                        <div class="FieldValue">
                                            @{
    var ddlStatus = new DropDownListBuilderInfo()
    {
        StyleCss = "width:300px",
        DataTextField = "Text",
        DataValueField = "Value",
        BindTo = lstPoliticalTheory
    };
                                            }
                                            @Html.VnrDropDownListFor(model => model.PoliticalTheory, ddlStatus)
                                        </div>
                                    </div>*@
                                </div>
                            </fieldset>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:2px; padding-bottom:10px;">
                        <div class="LineFooterCommandEdit">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div class="FieldTitle170">
                            </div>
                            <div class="FieldValue">
                                @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-ProfilePartyUnion", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                                @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-Close-ProfilePartyUnion", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                                @*@Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new-ProfilePartyUnion", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })*@
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}