@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities



@model HRM.Presentation.Attendance.Models.Att_CutOffDurationModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    SetFieldRequired();
    //SetFieldRequiredByScreenName("Att_CutOffDurationInfo")
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
    });
    function onSave() {
        onSaveAndContinue($('#form_Att_CutOffDuration'), '@_hrm_Hr_Service', 'api/Att_CutOffDuration/', '@ConstantControlName.HRM_gridAtt_CutOffDuration_Grid_Name', '@ConstantControlName.HRM_gridAtt_CutOffDuration_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Att_CutOffDuration'), '@_hrm_Hr_Service', 'api/Att_CutOffDuration/', '@ConstantControlName.HRM_gridAtt_CutOffDuration_Grid_Name', '@ConstantControlName.HRM_gridAtt_CutOffDuration_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {

        onlySave($('#form_Att_CutOffDuration'), '@_hrm_Hr_Service', 'api/Att_CutOffDuration/', '@ConstantControlName.HRM_gridAtt_CutOffDuration_Grid_Name');
        return false;
    }
</script>
<style>
    label {
        min-width: 100px;
    }
</style>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Att_CutOffDuration" }))
{
     @Html.HiddenFor(mode => mode.ID)
<div class="VnRMain" id="">
    <table style="width:100%">
        <tbody>

           
            <tr><td valign="top">
                
                <div>
                    <div class="FieldTitle150 ">
                        @Html.Label(@ConstantDisplay.HRM_Attendance_Sal_CutOffDuration_CutOffDurationName.TranslateString())
                        @*@Html.VnrLabelFor(mode => mode.CutOffDurationName)*@
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.CutOffDurationName, "width: 250px")
                    </div>
                </div>
                    <div id="div3">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MonthYear)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _MonthYear = new DatePickerBuilderInfo()
                                {
                                    Name = "CutOffDuration_MonthYear",
                                    StyleCss="width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthYear, _MonthYear).Format(ConstantFormat.HRM_Format_MonthYear)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.DateStart)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _DateStart = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                    Name = "CutOffDuration_DateStart",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateStart, _DateStart)
                        
                            @{
                                var _DateEnd = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                    Name = "CutOffDuration_DateEnd",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateEnd, _DateEnd)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div7">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.DurationType)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.DurationType, "width: 250px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>



                    <div id="div8">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.IsInsuranceSocial)
                        </div>
                        <div class="FieldValue">
                            @{
                                bool valueSocial = false;
                                if (Model != null)
                                {
                                    valueSocial = Model.IsInsuranceSocial == true ? true : false;
                                }
                            }
                            @{

                                var _IsInsuranceSocial = new CheckBoxBuilderInfo() { Value = valueSocial };
                            }
                            @Html.VnrCheckBoxFor(model => model.IsInsuranceSocial, _IsInsuranceSocial)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div11">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.OvertimeStart)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _OvertimeStart = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                    Name = "CutOffDuration_OvertimeStart",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.OvertimeStart, _OvertimeStart)
                        

                            @{
                                var _OvertimeEnd = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                    Name = "CutOffDuration_OvertimeEnd",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.OvertimeEnd, _OvertimeEnd)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div13">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.LeavedayStart)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _LeavedayStart = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                    Name = "CutOffDuration_LeavedayStart",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.LeavedayStart, _LeavedayStart)
                        
                            @{
                                var _LeavedayEnd = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                    Name = "CutOffDuration_LeavedayEnd",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.LeavedayEnd, _LeavedayEnd)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                </td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
             
                <td>

                    <div>
                        <div class="FieldTitle150">

                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CutOffDuration", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-CutOffDuration", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CutOffDuration", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

}

<script>
    $(document).ready(function () {
        $("#MonthYear").kendoMaskedTextBox({
            mask: "00/0000"
        });

        $("#DateEnd").kendoMaskedTextBox({
            mask: "00/00/0000"
        });
        $("#DateStart").kendoMaskedTextBox({
            mask: "00/00/0000"
        });
    });
</script>