@using System.Collections
@using HRM.Infrastructure.Utilities

@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Payroll.Models.Sal_UnusualAllowanceModel

@{
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineID = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Layout = null;
}
<script>
    function PagrameterKaiZenPaymenOut() {
        return {
            selectIds: selectedIds,
            MonthYear: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#PaymenOutInfo_MonthStart").val()),
        };
    };

    function PaymentOut() {
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Sal_GetData/SetPaymentOut',
            data: PagrameterKaiZenPaymenOut(),
            type: 'POST',
            traditional: true,
            async: false,
            success: function (data) {
                Notification(data[0] + ' @ConstantMessages.Succeed.TranslateString()/' + data[1] + ' @ConstantMessages.Fail.TranslateString()', '@NotificationType.Success.ToString()');
                ReadGrid('@ConstantControlName.HRM_grid_Kai_KaizenData_Name');
            },
            error: function (data) {
                ShowNotificationProcessor('@ConstantMessages.Fail.TranslateString()');
            }
        });
    };

    //Duyệt và chuyển qua lương
    function EvenClickPaymenOutInfo() {
        PaymentOut();
    };

    function EvenClickPaymenOutInfoClose() {
        PaymentOut();
        var dialog = $("#windowPaymenOutInfo").data("kendoWindow");
        dialog.close();

    };

</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_ApprevedKaiZenPaymenOut_Model" }))
{
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.MonthStart)
                    </div>
                    <div class="FieldValue">
                        @{
                            var datepickerMonthStart = new DatePickerBuilderInfo()
                            {
                                Name = "PaymenOutInfo_MonthStart",
                                StyleCss = "width:120px;",
                                Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString(),
                            };
                        }
                        @Html.VnrDatePickerFor(model => model.MonthStart, datepickerMonthStart).Min(DateTime.Now).Value(DateTime.Now).Format(ConstantFormat.HRM_Format_MonthYear)
                    </div>
                </div>
        
            </td>
        </tr>

        <tr>
            <td>
                <hr />
                <div class="FieldTitle150">
                </div>
                <div class="FieldValue">
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "EvenClickPaymenOutInfo", Name = "save-PaymenOutInfo-Appreved", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "EvenClickPaymenOutInfoClose", Name = "save-PaymenOutInfo-Appreved-Close", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </td>
        </tr>
    </table>
}

