@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Category.Models;
@using HRM.Presentation.Evaluation.Models

@model PUR_ColorModelModel

@{
    Layout = null;

    var _Hrm_Eva_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Eva_Web = ConstantPathWeb.Hrm_Eva_Web;

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script type="text/javascript">
    SetFieldRequiredByScreenName("Cat_NameEntity_CostSourceInfo");
    function onSaveDataPopUpPurColor() {
        $("#ModelID").val($("#Model_ID").val());
        onlySave($('#form_Pur_Color'), '@_hrm_Hr_Service', 'api/Pur_Color/', '@ConstantControlName.HRM_Category_Pur_Color_Grid'); return false;
    };

    function onSavePurColor() {
        debugger;
        $("#ModelID").val($("#Model_ID").val());
        onSaveAndContinue($('#form_Pur_Color'), '@_hrm_Hr_Service', 'api/Pur_Color/', '@ConstantControlName.HRM_Category_Pur_Color_Grid', 'windowPurColor');
        return false;
    };

    function onSaveClosePurColor() {
        $("#ModelID").val($("#Model_ID").val());
        onSaveAndClose($('#form_Pur_Color'), '@_hrm_Hr_Service', 'api/Pur_Color/', '@ConstantControlName.HRM_Category_Pur_Color_Grid', 'windowPurColor');
        return false;
    };

</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Pur_Color" }))
{
    @Html.HiddenFor(mode => mode.ModelID)
    <table>
        <tr>
            <td>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ColorCode)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.ColorCode, "width: 300px"))
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Color)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.Color, "width: 300px"))
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUpPurColor", Name = "save_PurColor", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSavePurColor", Name = "save_continue_PurColor", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClosePurColor", Name = "save_close_PurColor", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

