@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Training.Models.Tra_ScoreTypeModel
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    //var Validator = CheckValidate();
    SetFieldRequired();

    function onSave() {
        //  if (CheckValidate(data)) {
        onSaveAndContinue($('#form_Tra_ScoreType'), '@_hrm_Hre_Service', 'api/Tra_ScoreType/', '@ConstantControlName.HRM_Tra_ScoreType_Grid_Name', 'windowTra_ScoreType');
        // }
        return false;
    }

    function onSaveClose() {
        //  if (CheckValidate(data)) {
        onSaveAndClose($('#form_Tra_ScoreType'), '@_hrm_Hre_Service', 'api/Tra_ScoreType/', '@ConstantControlName.HRM_Tra_ScoreType_Grid_Name', 'windowTra_ScoreType');
        // }
        return false;
    }
    function onSaveDataPopUp() {

        //    if (CheckValidate(data)) {
        //   if (!checkDuplicationCode()) {
        onlySave($('#form_Tra_ScoreType'), '@_hrm_Hre_Service', 'api/Tra_ScoreType/', '@ConstantControlName.HRM_Tra_ScoreType_Grid_Name'); return false;
        //    }
        // }
    }

</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Tra_ScoreType" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
             
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                
                        @Html.VnrTextBoxFor(mode => mode.Code, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ScoreTypeName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.ScoreTypeName, "width: 300px")
                    </div>
                </div>
                
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.NumOrder)
                    </div>
                    <div class="FieldValue">
                        @{
                        var NumOrder = new NumericTextBoxBuilderInfo<int>
                        {
                            StyleCss = "width:150px",
                            Name = "TraCourseInfo_NumOrder",
                            Format = ConstantFormat.HRM_Format_Int, 
                            };
                        }
                        @Html.VnrNumericTextBoxFor(mode => mode.NumOrder,NumOrder)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Tra_ScoreType", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-Tra_ScoreType", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Tra_ScoreType", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
            </td>
        </tr>
    </table>
}