@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_CardHistoryModel
@{
    ViewBag.Title = "Update CardHistory";
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var doSave = function()
    {
        onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Hre_CardHistory/'); return false;
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@ConstantPath.Hre_CardHistoryIconPath" alt="" width="20" height="20" runat="server" />
            @ConstantDisplay.HRM_Hr_CardHistory_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Hr_Back_To_CardHistory_List.TranslateString() + ")", "Index")
        </div>
        <div class="options">
            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
        </div>
    </div>
    @Html.Partial("TabStripInformation", Model)
}
