
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_WorkHistoryModel
@{
    ViewBag.Title = "Index Hre_WorkHistory";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var data = SetCharacteFieldRequired();

    function SetValue() {
        var _HighSupervisorCode = $("#Worhistory_HighSupervisor").data("kendoMultiSelect").value();
        if (_HighSupervisorCode != "" && _HighSupervisorCode != null) {
            $('#@Html.FieldIdFor(model => model.HighSupervisor)').val(_HighSupervisorCode.join(','));
        }
        else {
            $('#@Html.FieldIdFor(model => model.HighSupervisor)').val(null);
        }
    }
    function doEditProfile() {
        var result = false;
        SetValue();
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_WorkHistory/', "popupNotification");
            result = true;
        }
        return result;
    };
    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Main_Web/Hre_WorkHistory/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreWorkHistoryIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_WorkHistory_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Back_To_WorkHistory_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>

