@using HRM.Infrastructure.Utilities
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;
@model Cat_NameEntityModel

@{
    Layout = null;
    var ID = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    IList<SelectListItem> ilType = Enum.GetValues(typeof(EnumDropDown.EntityType))
        .Cast<EnumDropDown.EntityType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();
}
<script>
    SetFieldRequiredByScreenName('Cat_NameEntity_LANGUAGE');
    $(document).ready(function () {


    });
    function onSaveNew() {
        $("#NameEntityType6").val("E_LANGUAGE_TYPE");
        $("#EnumType6").val("E_LANGUAGE_TYPE");
        $("#Order_6").val($("#Order6").val());
        //if (!checkDuplicationCode()) {
        onSaveAndContinue($('#form_Cat_LanguageType'), '@_hrm_Hre_Service', 'api/Cat_LevelGeneral/', '@ConstantControlName.HRM_Category_LanguageType_Grid_Name', '@ConstantControlName.HRM_Category_LanguageType_PopUp_Name'); return false;
        // }
    }

    function onSaveClose() {
        $("#NameEntityType6").val("E_LANGUAGE_TYPE");
        $("#EnumType6").val("E_LANGUAGE_TYPE");
        $("#Order_6").val($("#Order6").val());
        // if (!checkDuplicationCode()) {
        onSaveAndClose($('#form_Cat_LanguageType'), '@_hrm_Hre_Service', 'api/Cat_LevelGeneral/', '@ConstantControlName.HRM_Category_LanguageType_Grid_Name', '@ConstantControlName.HRM_Category_LanguageType_PopUp_Name'); return false;
        // }
    }
    function onSaveDataPopUp() {
        $("#NameEntityType6").val("E_LANGUAGE_TYPE");
        $("#EnumType6").val("E_LANGUAGE_TYPE");
        $("#Order_6").val($("#Order6").val());
        // if (!checkDuplicationCode()) {
        onlySave($('#form_Cat_LanguageType'), '@_hrm_Hre_Service', 'api/Cat_LevelGeneral/', '@ConstantControlName.HRM_Category_LanguageType_Grid_Name'); return false;
        // }
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_LanguageType" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.NameEntityType, new { id = "NameEntityType6" })
    @Html.HiddenFor(model => model.EnumType, new { id = "EnumType6" })
    @Html.HiddenFor(model => model.Order, new { id = "Order_6" })

    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">

                        @{
    var Code = new TextBoxBuilderInfo()
    {
        Width = 300,
        Name = "Code"
    };
    if (Model != null)
    {
        Code.Value = Model == null ? string.Empty : Model.Code;
    }
                        }

                        @Html.VnrTextBoxFor(mode => mode.Code, Code)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @ConstantDisplay.HRM_Category_LanguageType.TranslateString()
                    </div>
                    <div class="FieldValue">

                        @Html.VnrTextBoxFor(mode => mode.NameEntityName, "width: 300px")
                    </div>
                </div>
                @*<div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.EnumType)
                            </div>
                            <div class="FieldValue">
                               @{
                        var EnumType = new DropDownListBuilderInfo()
                        {
                            BindTo = ilType,
                            DataTextField = "Text",
                            DataValueField = "Value"
                        };
                    }
                                @Html.VnrDropDownListFor(mode => mode.EnumType, EnumType)
                            </div>
                        </div>*@
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Order)
                    </div>
                    <div class="FieldValue">

                        @{
    var Order = new NumericTextBoxBuilderInfo<int>()
    {
        StyleCss = "width:150px",
        Name = "Order6",
        Value = Model != null && Model.Order.HasValue ? Model.Order.Value : 0
    };

                        }
                        @Html.VnrNumericTextBoxFor(mode => mode.Order, Order)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">

                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-LanguageType", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-LanguageType", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-LanguageType", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
