@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Laundry.Models


@model HRM.Presentation.Laundry.Models.Lau_LineModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;

    IList<SelectListItem> list = Enum.GetValues(typeof(EnumDropDown.HDTJobType))
        .Cast<EnumDropDown.HDTJobType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    SelectList data = new SelectList(list, "Value", "Text");
}
<div class="VnRMain">
    <table style="width:100%">
        @Html.HiddenFor(model => model.ID)
        <tbody>
            <tr>
                <td colspan="3" style=""></td>
            </tr>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.LineLMSName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.LineLMSName, "width:300px")
                            @Html.ValidationMessageFor(model => model.LineLMSName)
                        </div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.Code, "width:150px")
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MarkerID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _MarkerID = new ComboBoxBuilderInfo()
                                {
                                    DataTextField = "MarkerName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiMarker",
                                    Placeholder = ConstantDisplay.HRM_Laundry_SelectMarker.TranslateString(),
                                    Value = Model == null ? string.Empty : Model.MarkerName,
                                    
                                    StyleCss = "width:300px;"
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.MarkerID, _MarkerID)
                        </div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.LockerID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _LockerID= new ComboBoxBuilderInfo()
                                {
                                    DataTextField = Lau_LockerModel.FieldNames.LockerLMSName,
                                    DataValueField = Lau_LockerModel.FieldNames.ID,
                                    Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiLocker",
                                    Placeholder = ConstantDisplay.HRM_Laundry_Reader_SelectLocker.TranslateString(),
                                    Value = Model == null ? string.Empty : Model.LockerLMSName,

                                    StyleCss = "width:300px;"
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.LockerID, _LockerID)
                        </div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MachineCode)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.MachineCode)
                            @Html.ValidationMessageFor(model => model.MachineCode)
                        </div>
                    </div>
                    <div id="div7">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Amount)
                        </div>
                        <div class="FieldValue">
                            @{
                                var LAmount = new NumericTextBoxBuilderInfo<double>()
                                {
                                    Format = "n0"
                                };
                            }
                            @(Html.VnrNumericTextBoxFor(model => model.Amount, LAmount))
                        </div>
                    </div>
                    <div id="div8">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Note)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Note)
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                    </div>

                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
