
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Hr.Models.Hre_ContractModel
@{
    ViewBag.Title = "Index Hre_Contract";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    var _profileID = [];
    function doSave() {
        debugger;
        var contractType = $("#ContractTypeID").data("kendoMultiSelect");
        if (contractType != undefined) {
            if (contractType._dataItems[0].Type != null && contractType._dataItems[0].Type != "E_NODURATION") {
                if ($("#DateEnd").val() == "") {
                    ShowNotification("Thông Báo", '@ConstantMessages.WaringDateEndGreaterThanDateStart.ToString().TranslateString()', "k-block k-info-colored");
                    return;
                }
            }

        }


        ShowHre_ProgressBar();
        var ProfileID = $('#@Html.FieldIdFor(model => model.ProfileID)').val();
        ProfileID != null ? $('#@Html.FieldIdFor(model => model.ProfileIDs)').val(ProfileID.join(',')) : null;
        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
        checkedNodes != null ? $('#@Html.FieldIdFor(model => model.OrgStructureIDs)').val(checkedNodes.join(',')) : null;
        $("#OrgStructureIDs").val(checkedNodes.join(','));
     
 

        var _dateStart = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStart").val());
        var _dateEnd = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEnd").val());
        var _dateSigned = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateSigned").val());
        var _DateOfContractEva = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateOfContractEva").val());
        var _DateEndNextContract = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEndNextContract").val());
        debugger;



        $("#DateStart").val(_dateStart);
        $("#DateEnd").val(_dateEnd);
        $("#DateSigned").val(_dateSigned);
        $("#DateOfContractEva").val(_DateOfContractEva);
        $("#DateEndNextContract").val(_DateEndNextContract);


        var _multiSelect = $("#ProfileID").data("kendoMultiSelect");
        var result = false;
        var _profileIDs = $("#ProfileIDs").val(_multiSelect.value());

        var _CreateBasicSalary = document.getElementById("CreateBasicSalary");
        if (_CreateBasicSalary != null && _CreateBasicSalary.checked) {
            $("#CreateBasicSalary").val("true");
        } else {
            $("#CreateBasicSalary").val("false");
        }

        var _BasicSalaryForPerson = document.getElementById("BasicSalaryForPerson");
        if (_BasicSalaryForPerson != null && _BasicSalaryForPerson.checked) {
            $("#BasicSalaryForPerson").val("true");
        } else {
            $("#BasicSalaryForPerson").val("false");
        }


        $.ajax({
            url: '@_hrm_Hr_Service' + "Hre_GetData/SaveProfileIDs",
            data: $("#form-create").serialize(),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger;

                if (data.ActionStatus == "Success") {
                    debugger;
                    $("#ID").val(data.ID);
                    $("#Contract_ID").val(data.Contract_ID);
                    $("#ContractID").val(data.Contract_ID);

                    var getDateStart = _dateStart.substring(0, 10);
                    var splitDateStart = getDateStart.split('/');
                    var mDateStart = splitDateStart[0];
                    var dDateStart = splitDateStart[1];
                    var yDateStart = splitDateStart[2];
                    var getFullDateStart = dDateStart + "/" + mDateStart + "/" + yDateStart;

                    var getDateEnd = _dateEnd.substring(0, 10);
                    var splitDateEnd = getDateEnd.split('/');
                    var mDateEnd = splitDateEnd[0];
                    var dDateEnd = splitDateEnd[1];
                    var yDateEnd = splitDateEnd[2];
                    var getFullDateEnd = dDateEnd + "/" + mDateEnd + "/" + yDateEnd;

                    var getDateSigned = _dateSigned.substring(0, 10);
                    var splitDateSigned = getDateSigned.split('/');
                    var mDateSigned = splitDateSigned[0];
                    var dDateSigned = splitDateSigned[1];
                    var yDateSigned = splitDateSigned[2];
                    var getFullDateSigned = dDateSigned + "/" + mDateSigned + "/" + yDateSigned;

                    var getDateOfContractEva = _DateOfContractEva.substring(0, 10);
                    var splitDateOfContractEva = getDateOfContractEva.split('/');
                    var mDateOfContractEva = splitDateOfContractEva[0];
                    var dDateOfContractEva = splitDateOfContractEva[1];
                    var yDateOfContractEva = splitDateOfContractEva[2];
                    var getFullDateOfContractEva = dDateOfContractEva + "/" + mDateOfContractEva + "/" + yDateOfContractEva;

                    var getDateEndNextContract = _DateEndNextContract.substring(0, 10);
                    var splitDateEndNextContract = getDateEndNextContract.split('/');
                    var mDateEndNextContract = splitDateEndNextContract[0];
                    var dDateEndNextContract = splitDateEndNextContract[1];
                    var yDateEndNextContract = splitDateEndNextContract[2];
                    var getFullDateEndNextContract = dDateEndNextContract + "/" + mDateEndNextContract + "/" + yDateEndNextContract;

                    $("#DateStart").val(getFullDateStart);
                    $("#DateEnd").val(getFullDateEnd);
                    $("#DateSigned").val(getFullDateSigned);
                    $("#DateOfContractEva").val(getFullDateOfContractEva);
                    $("#DateEndNextContract").val(getFullDateEndNextContract);
                    CloseHre_ProgressBar();
                    ShowNotification("Thông Báo", "Thao Tác Thành Công", "k-block k-success-colored");
                    result = true;
                }
                else {
                    result = true;
                    ShowNotificationProcessor(data);
                    CloseHre_ProgressBar();
                }
            }

        });

        @*onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Contract/', "popupNotification"); result = true;*@
        result = true;
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Hre_Web/Hre_Contract/Create/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
        }
    }

    // Nút export selected
    $("#btnExportByTemplate").click(function () {





        //if (selectedIds == "") {
        //
        //    ErrorMessages('Vui Lòng Chọn Dữ Liệu Để Xuất.');
        //    return;
        //}
        var currentLocation = window.location.href;
        //Tách link thành 2 phần: trước và sau dấu #
        var strArray = currentLocation.split('#');
        var strArray2 = strArray[1].split('/');

        //Ẩn hết tất cả các validate default của kendo
        $(document.body).find("span.k-tooltip-validation").hide();

        var controllerName = strArray2[1];
        var screenName = strArray2[1] + "/" + strArray2[2];

        //return;
        var urlGetData = '@_hrm_Hr_Service' + "Hre_GetData/ExportContractByTemplate/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = $("#ID").val();

        //alert(selectedIds);
        ExportSelected(urlGetData, listIds, screenName, urlDownload, '@ConstantPermission.Hre_Contract');
    });

</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create" data-role="validator" novalidate="novalidate">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_Contract_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Back_To_Contract_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            <div style="float:right">
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportByTemplate", Content = ConstantAction.HRM_Common_ExportByTemplate.TranslateString(), ImageUrl = ConstantPath.IconWord })
                            </div>
                        
                    </div>
                </div>
                @Html.Partial("TabStripInformation", Model)
            </div>
        </div>
    </div>
</form>



