@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@using System.Collections
@model Hre_AppendixContractModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Category_ExportItem.TranslateString();
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    Guid ContractIDForExpiry = Guid.Empty;
    string aaa = ViewBag.contractID;
    if (!string.IsNullOrEmpty(aaa))
    {
        ContractIDForExpiry = Common.ConvertToGuid(aaa.ToString());
    }
}

<script>
    SetFieldRequiredByScreenName('Hre_ExpiryAppendixContract_Tab');
    $(document).ready(function () {

        document.getElementById("ContractNo3").disabled = true;
        document.getElementById("ProfileName3").disabled = true;
        $("#ContractNo3").val($("#ContractNo").val());
        $("#ProfileName3").val($("#ProfileName").val());
       
        $("#ContractID").val($("#Contract_ID").val());
        
        

    });
    //$(document).ready(function () {
    //    $("#ContractID").val($("#ID").val());
    //});
    
    function onSaveDataPopUp() {
        var _CreateBasicSalary = document.getElementById("CreateBasicSalary");
        if (_CreateBasicSalary != null && _CreateBasicSalary.checked) {
            $("#CreateBasicSalary").val("true");
        } else {
            $("#CreateBasicSalary").val("false");
        }
        onlySave($('#form_Hre_ExpiryAppendixContract'), '@_hrm_Hr_Service', 'api/Hre_AppendixContract/', 'grid_ExpiryAppedixContract');
       
    }

    function onSaveClose() {
        var _CreateBasicSalary = document.getElementById("CreateBasicSalary");
        if (_CreateBasicSalary != null && _CreateBasicSalary.checked) {
            $("#CreateBasicSalary").val("true");
        } else {
            $("#CreateBasicSalary").val("false");
        }
        onSaveAndClose($('#form_Hre_ExpiryAppendixContract'), '@_hrm_Hr_Service', 'api/Hre_AppendixContract/', 'grid_ExpiryAppedixContract', 'windowExpiryAppendixContract');
    }


</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Hre_ExpiryAppendixContract" }))
{
    @Html.HiddenFor(model => model.AppendixContract_ID)
    @*if (Model != null)
    {
        @Html.HiddenFor(mode => mode.ContractID)
    }
    else
    {
         @Html.HiddenFor(mode => mode.ContractID, ContractIDForExpiry)
    }*@
    <table>
        <tbody>
            <tr>
                <td valign="top">
                   
                        <fieldset style="width:100%">
                            <legend>
                                @ConstantDisplay.HRM_HR_ContractCondition.TranslateString()
                            </legend>
                            <div style="float:left; width:550px">
                                <div id="div4">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ProfileName)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBox("ProfileName3","width:250px")
                                        @*@Html.DisplayFor(model => model.ProfileName)*@
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div4">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ContractNo)
                                    </div>
                                    <div class="FieldValue">

                                        @Html.VnrTextBox("ContractNo3")
                                        @*@Html.Display("ContractNo1")*@
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div5" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.JobTitleID)
                                    </div>
                                    <div class="FieldValue">
                                        <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                        @{
                                            IEnumerable valuejobTitle = new string[] { };
                                            if (Model != null)
                                            {
                                                valuejobTitle = new[] { new { JobTitleName = Model.JobTitleName, ID = Model.JobTitleID } };
                                            }
                                            }
                                            @{
                                            var jobTitleID = new MultiSelectBuilderInfo
                                            {
                                                Name = "ExpiryAppendixContractInfo_JobTitleID",
                                                DataTextField = "JobTitleName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                                MaxSelectedItems = 1,
                                                Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                                Value = valuejobTitle,
                                                Width = 200
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(mode => mode.JobTitleID, jobTitleID)
                                    </div>
                                </div>
                                <div id="div4">
                                    <div class="FieldTitle">

                                        @Html.VnrLabelFor(mode => mode.Code)
                                    </div>
                                    <div class="FieldValue">
                                        @(Html.VnrTextBoxFor(model => model.Code))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div6">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.DateofEffect)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var dateofEffect = new DatePickerBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_DateofEffect"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.DateofEffect, dateofEffect)
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div id="div10" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.DateAuthorize)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var DateAuthorize = new DatePickerBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_DateAuthorize"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.DateAuthorize, DateAuthorize)
                                    </div>
                                </div>
                               
                                <div id="div3" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.WorkPlaceID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                        var _workplaceName = new ComboBoxBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_WorkPlaceID",
                                            DataTextField = "WorkPlaceName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiWorkPlace",
                                            StyleCss = "width:150px;",
                                            Value = Model == null ? string.Empty : Model.WorkPlaceID.ToString(),
                                        };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.WorkPlaceID, _workplaceName).Text(Model == null ? string.Empty : Model.WorkPlaceName))
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width :500px">
                                <div id="div6" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ContractTypeID)
                                    </div>
                                    <div class="FieldValue">
                                        <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                        @{
                                        IEnumerable valueContractType = new string[] { };
                                        if (Model != null)
                                        {
                                            valueContractType = new[] { new { ContractTypeName = Model.ContractTypeName, ID = Model.ContractTypeID } };
                                        }
                                        }
                                        @{
                                            var contractTypeID = new MultiSelectBuilderInfo
                                            {
                                                Name = "ExpiryAppendixContractInfo_ContractTypeID",
                                                DataTextField = "ContractTypeName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiContractType",
                                                MaxSelectedItems = 1,
                                                Placeholder = ConstantDisplay.HRM_Category_SelectContractType.TranslateString(),
                                                Value = valueContractType,
                                                EventSelect = "ContractTypeSelect"
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(mode => mode.ContractTypeID, contractTypeID)
                                    </div>
                                </div>

                                <div id="div5">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.AppendixContractTypeID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                        var ContractType = new MultiSelectBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_AppendixContractTypeID",
                                            DataTextField = "AppendixContractName",
                                            DataValueField = "ID",
                                            Autobind = true,
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiAppendixContractType",
                                            ServerFiltering = true,
                                            MaxSelectedItems = 1,
                                            MinLength = 2,
                                            Width = 200,
                                            Value = new string[] { @Html.DisplayFor(mode => mode.AppendixContractTypeID).ToString() }
                                        };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.AppendixContractTypeID, ContractType))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div11" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.PositionID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            IEnumerable valuePosition = new string[] { };
                                            if (Model != null)
                                            {
                                                valuePosition = new[] { new { PositionName = Model.PositionName, ID = Model.PositionID } };
                                            }
                                            }
                                            @{
                                            var positionID = new MultiSelectBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_PositionID",
                                                DataTextField = "PositionName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiPosition",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectPosition.TranslateString(),
                                                Value = valuePosition
                                            };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.PositionID, positionID))
                                    </div>
                                </div>
                                <div id="div6">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.DateSignedAppendixContract)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                                var dateSignedAppendixContract = new DatePickerBuilderInfo()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_DateSignedAppendixContract"
                                                };
                                        }
                                        @Html.VnrDatePickerFor(model => model.DateSignedAppendixContract, dateSignedAppendixContract)
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div6">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.DateEndAppendixContract)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                        var dateEndAppendixContract = new DatePickerBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_DateEndAppendixContract"
                                        };
                                        }
                                        @Html.VnrDatePickerFor(model => model.DateEndAppendixContract, dateEndAppendixContract)
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div3" class="DivContentTitleValue">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.HourWorkInMonth)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var HourWorkInMonth = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "ExpiryAppendixContractInfo_HourWorkInMonth",
                                                StyleCss = "width:100px",
                                                Format = ConstantFormat.HRM_Format_Number_Double
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.HourWorkInMonth, HourWorkInMonth)
                                    </div>
                                </div>
                                <div id="div4">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.KPI)
                                    </div>
                                    <div class="FieldValue">
                                        @(Html.VnrTextBoxFor(model => model.KPI))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                            </div>
                        </fieldset>
                  

                </td>
            </tr>

            <tr>
                <td>
                    <fieldset style="width:100%">
                        <legend>
                            @ConstantDisplay.HRM_HR_SalaryContractInformation.TranslateString()
                        </legend>
                        <div style="float: left; width: 550px">
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Bonus)
                                </div>
                                <div class="FieldValue">
                                    @{
                                    var Bonus = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "ExpiryAppendixContractInfo_Bonus",
                                        StyleCss = "width:100px",
                                        Format = ConstantFormat.HRM_Format_Number_Integer
                                    };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.Bonus, Bonus)
                                </div>
                            </div>
                            <div id="div6">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Amount)
                                </div>
                                <div class="FieldValue">
                                    @{
                                    var amount = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "ExpiryAppendixContractInfo_Amount"
                                    };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.Amount, amount)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Salary)
                                </div>
                                <div class="FieldValue">
                                    @{
                                    var Salary = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "ExpiryAppendixContractInfo_Salary",
                                        StyleCss = "width:150px",
                                        Format = ConstantFormat.HRM_Format_Money
                                    };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.Salary, Salary)
                                </div>
                                <div style="float: left">
                                    @{
                                        var CurrencyName = new ComboBoxBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_CurenncyID",
                                            DataTextField = "CurrencyName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                            StyleCss = "width:60px;",
                                            Value = Model == null ? string.Empty : Model.CurenncyID.ToString(),
                                            Autobind = true
                                        };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.CurenncyID, CurrencyName).Text(Model == null ? string.Empty : Model.CurrencySalName))

                                    @{
                                        var CreateBasicSalary = new CheckBoxBuilderInfo()
                                        {
                                        };
                                        if (Model != null)
                                        {
                                            if (Model.CreateBasicSalary == true)
                                            {
                                                CreateBasicSalary.Value = true;
                                            }
                                            else
                                            {
                                                CreateBasicSalary.Value = false;
                                            }
                                        }
                                    }
                                    @Html.VnrCheckBoxFor(model => model.CreateBasicSalary, CreateBasicSalary)
                                    @Html.VnrLabel(ConstantDisplay.HRM_HR_Contract_CreateBasicSalary.TranslateString())
                                </div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.InsuranceAmount)
                                </div>
                                <div class="FieldValue">
                                    <div style="float:left">
                                        @{
                                        var InsuranceAmount = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Name = "ExpiryAppendixContractInfo_InsuranceAmount",
                                            StyleCss = "width:150px",
                                            Format = ConstantFormat.HRM_Format_Money
                                        };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.InsuranceAmount, InsuranceAmount)
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var CurenncyInsName = new ComboBoxBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_CurenncyID1",
                                                DataTextField = "CurrencyName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                StyleCss = "width:60px;",
                                                Value = Model == null ? string.Empty : Model.CurenncyID1.ToString(),
                                                Autobind = true
                                            };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.CurenncyID1, CurenncyInsName).Text(Model == null ? string.Empty : Model.CurenncyInsName))
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="float:left">
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Allowance1)
                                </div>
                                <div class="FieldValue">
                                    <div style="float:left">
                                        @{
                                        var AllowanceID1Name = new ComboBoxBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_AllowanceID1",
                                            DataTextField = "UsualAllowanceName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                            StyleCss = "width:150px;",
                                            Value = Model == null ? string.Empty : Model.AllowanceID1.ToString(),
                                        };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.AllowanceID1, AllowanceID1Name).Text(Model == null ? string.Empty : Model.AllowanceID1Name))

                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                        var Allowance1 = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Name = "ExpiryAppendixContractInfo_Allowance1",
                                            StyleCss = "width:100px",
                                            Format = ConstantFormat.HRM_Format_Money
                                        };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.Allowance1, Allowance1)
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                        var CurenncyID2Name = new ComboBoxBuilderInfo()
                                        {
                                            Name = "ExpiryAppendixContractInfo_CurenncyID2",
                                            DataTextField = "CurrencyName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                            StyleCss = "width:60px;",
                                            Value = Model == null ? string.Empty : Model.CurenncyID2.ToString(),
                                        };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.CurenncyID2, CurenncyID2Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance1Name))
                                    </div>
                                </div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Allowance2)
                                </div>
                                <div class="FieldValue">
                                    <div>
                                        <div style="float:left">
                                            @{
                                            var AllowanceID2Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_AllowanceID2",
                                                DataTextField = "UsualAllowanceName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                StyleCss = "width:150px;",
                                                Value = Model == null ? string.Empty : Model.AllowanceID2.ToString(),
                                            };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.AllowanceID2, AllowanceID2Name).Text(Model == null ? string.Empty : Model.AllowanceID2Name))
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                            var Allowance2 = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "ExpiryAppendixContractInfo_Allowance2",
                                                StyleCss = "width:100px",
                                                Format = ConstantFormat.HRM_Format_Money
                                            };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.Allowance2, Allowance2)
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                                var CurenncyAllowance2Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_CurenncyID3",
                                                    DataTextField = "CurrencyName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                    StyleCss = "width:60px;",
                                                    Value = Model == null ? string.Empty : Model.CurenncyID3.ToString(),
                                                };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.CurenncyID3, CurenncyAllowance2Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance2Name))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Allowance3)
                                </div>
                                <div class="FieldValue">
                                    <div>
                                        <div>
                                            <div style="float:left">
                                                @{
                                                var AllowanceID3Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_AllowanceID3",
                                                    DataTextField = "UsualAllowanceName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                    StyleCss = "width:150px;",
                                                    Value = Model == null ? string.Empty : Model.AllowanceID3.ToString(),
                                                };
                                                }
                                                @(Html.VnrComboBoxFor(mode => mode.AllowanceID3, AllowanceID3Name).Text(Model == null ? string.Empty : Model.AllowanceID3Name))

                                            </div>
                                            <div style="float: left; padding-left: 2px">
                                                @{
                                                var Allowance3 = new NumericTextBoxBuilderInfo<double>()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_Allowance3",
                                                    StyleCss = "width:100px",
                                                    Format = ConstantFormat.HRM_Format_Money
                                                };
                                                }
                                                @Html.VnrNumericTextBoxFor(model => model.Allowance3, Allowance3)
                                            </div>
                                            <div style="float: left; padding-left: 2px">
                                                @{
                                                var CurenncyAllowance3Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_CurenncyIDSalary",
                                                    DataTextField = "CurrencyName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                    StyleCss = "width:60px;",
                                                    Value = Model == null ? string.Empty : Model.CurenncyIDSalary.ToString(),
                                                };
                                                }
                                                @(Html.VnrComboBoxFor(mode => mode.CurenncyIDSalary, CurenncyAllowance3Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance3Name))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Allowance4)
                                </div>
                                <div class="FieldValue">
                                    <div>
                                        <div style="float:left">
                                            @{
                                                var AllowanceID4Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_AllowanceID4",
                                                    DataTextField = "UsualAllowanceName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                    StyleCss = "width:150px;",
                                                    Value = Model == null ? string.Empty : Model.AllowanceID4.ToString(),
                                                };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.AllowanceID4, AllowanceID4Name).Text(Model == null ? string.Empty : Model.AllowanceID4Name))
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                                var Allowance4 = new NumericTextBoxBuilderInfo<double>()
                                                {
                                                    Name = "ExpiryAppendixContractInfo_Allowance4",
                                                    StyleCss = "width:100px",
                                                    Format = ConstantFormat.HRM_Format_Money
                                                };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.Allowance4, Allowance4)
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                            var CurenncyAllowance4Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_CurenncyID4",
                                                DataTextField = "CurrencyName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                StyleCss = "width:60px;",
                                                Value = Model == null ? string.Empty : Model.CurenncyID4.ToString(),
                                            };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.CurenncyID4, CurenncyAllowance4Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance4Name))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="div3" class="DivContentTitleValue">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Allowance)
                                </div>
                                <div class="FieldValue">
                                    <div>

                                        <div style="float:left">
                                            @{
                                            var Allowance = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "ExpiryAppendixContractInfo_Allowance",
                                                StyleCss = "width:100px",
                                                Format = ConstantFormat.HRM_Format_Money
                                            };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.Allowance, Allowance)
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                            var CurenncyOAllowanceName = new ComboBoxBuilderInfo()
                                            {
                                                Name = "ExpiryAppendixContractInfo_CurenncyID5",
                                                DataTextField = "CurrencyName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                StyleCss = "width:60px;",
                                                Value = Model == null ? string.Empty : Model.CurenncyID5.ToString(),
                                            };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.CurenncyID5, CurenncyOAllowanceName).Text(Model == null ? string.Empty : Model.CurenncyOAllowanceName))

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                   
                    <hr class="LineFooterCommandEdit" />
                    <br />
                    <div id="div10">
                        <div class="FieldTitle"></div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-hre_profileAppendixcontract", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "saveandclose-hre_profileAppendixcontract", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
}   
    
        
        
   
       
            
            
            
            
            


      
    

   


