@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo


@model HRM.Presentation.Hr.Models.Hre_ContractModel
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    IList<SelectListItem> listEvaContract = Enum.GetValues(typeof(EnumDropDown.ContractEvaType))
       .Cast<EnumDropDown.ContractEvaType>()
       .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p => p.Text)
       .ToList();

    IList<SelectListItem> listEvaResultContract = Enum.GetValues(typeof(EnumDropDown.EvaResultContract))
    .Cast<EnumDropDown.EvaResultContract>()
    .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p => p.Text)
    .ToList();

    IList<SelectListItem> listResultContract = Enum.GetValues(typeof(EnumDropDown.ResultContract))
   .Cast<EnumDropDown.ResultContract>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p => p.Text)
   .ToList();

    IList<SelectListItem> listTypeOffPass = Enum.GetValues(typeof(EnumDropDown.TypeOfPass))
    .Cast<EnumDropDown.TypeOfPass>()
    .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p => p.Text)
    .ToList();

}

<script>
    SetFieldRequiredByScreenName("EvaContractinfo");
    function onChanged(e) {

        if (e.sender._old == "E_ANNUAL_EVALUATION") {
            $("#DivSalaryRank").show();
        } else {
            $("#DivSalaryRank").hide();
        }
    }
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="float:left">
                        <div class="hrm_box">
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(model => model.ContractEvaType)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlContractEvaType = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listEvaContract,
                                            EventChange = "onChanged"
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.ContractEvaType, ddlContractEvaType)
                                </div>
                            </div>
                            <div id="div33">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(model => model.DateOfContractEva)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DateOfContractEva = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateOfContractEva, _DateOfContractEva)
                                </div>
                            </div>
                            <div id="div4">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(model => model.EvaluationResult)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlEvaluationResult = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listEvaResultContract
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.EvaluationResult, ddlEvaluationResult)
                                </div>
                            </div>
                            <div id="div5">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(model => model.ContractResult)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlContractResult = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listResultContract
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.ContractResult, ddlContractResult)
                                </div>
                            </div>
                            <div id="div5">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(model => model.TypeOfPass)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlTypeOffPass = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listTypeOffPass
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.TypeOfPass, ddlTypeOffPass)
                                </div>
                            </div>
                            <div id="div6">
                                <div id="div3" class="DivContentTitleValue">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.NextContractTypeID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var NextContractTypeName = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "ContractTypeName",
                                                DataValueField = "ID",
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiContractType",
                                                StyleCss = "width:150px;",
                                                Autobind = true
                                                //   Value = Model == null ? string.Empty : Model.QualificationName,

                                            };
                                            if (Model != null)
                                            {
                                                NextContractTypeName.Value = Model == null ? string.Empty : Model.NextContractTypeID.ToString();
                                            }
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.NextContractTypeID, NextContractTypeName).Text(Model == null ? string.Empty : Model.NextContractTypeName))
                                    </div>
                                </div>
                                <div id="div5">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(model => model.Remark)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextAreaFor(model => model.Remark)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left">
                        <div class="hrm_box">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Contract_CaseChangeSalary.TranslateString()
                                </legend>
                                <div id="div3" class="DivContentTitleValue">

                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.RankDetailForNextContract)
                                    </div>
                                    <div class="FieldValue">
                                        <div>
                                            @{
                                                var SalaryRankNameNextContract = new ComboBoxBuilderInfo()
                                                 {
                                                     // Name ="EvaContract_"
                                                     DataTextField = "SalaryRankName",
                                                     DataValueField = "ID",
                                                     Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiSalaryRank",
                                                     StyleCss = "width:150px;",
                                                     Value = Model == null ? string.Empty : Model.RankDetailForNextContract.ToString(),
                                                     Autobind = true,
                                                     // ServerFilter = true
                                                 };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.RankDetailForNextContract, SalaryRankNameNextContract).Text(Model == null ? string.Empty : Model.SalaryRankNameNextContract))
                                        </div>
                                    </div>
                                </div>
                                <div id="div33">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(model => model.DateEndNextContract)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _DateEndNextContract = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.DateEndNextContract, _DateEndNextContract)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        //document.getElementById("CodeEmp").readOnly = true;

        debugger;
        var x = $("#ContractEvaType").data("kendoDropDownList");
        if (x._old == 'E_ANNUAL_EVALUATION') {
            $("#DivSalaryRank").show();
        } else {
            $("#DivSalaryRank").hide();
        }
    });
</script>