@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo


@model HRM.Presentation.Hr.Models.Hre_ContractExtendModel
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    $(document).ready(function () {
    });

    function onSaveClose() {
    }
    function onSaveDataPopUp() {

    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_ConExtendInfo" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ContractID)
    <table>
        <tr>
            <td>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(model => model.ProfileName)
                    </div>
                    <div class="FieldValue">
                        @{
    var _ProfileName = new TextBoxBuilderInfo()
    {
        Name = "ConExtendInfo_ProfileName",
        Width = 300,
    };
                        }
                        @Html.VnrTextBoxFor(model => model.ProfileName, _ProfileName)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(model => model.ContractNo)
                    </div>
                    <div class="FieldValue">
                        @{
    var _ContractNo = new TextBoxBuilderInfo()
    {
        Name = "ConExtendInfo_ContractNo",
        Width = 300,
    };
                        }
                        @Html.VnrTextBoxFor(model => model.ContractNo, _ContractNo)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @{
    var _AnnexCode = new TextBoxBuilderInfo()
    {
        Name = "ConExtendInfo_AnnexCode",
        Width = 300,
    };
                        }
                        @Html.VnrLabelFor(model => model.AnnexCode)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.AnnexCode, _ContractNo)
                    </div>
                </div>
                <div id="div33">
                    <div class="FieldTitle150">
                        @Html.VnrLabel(ConstantDisplay.HRM_Common_DateStart.TranslateString())
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateStart = new DatePickerBuilderInfo()
    {
        Name = "ConExtendInfo_DateStart",
        StyleCss = "width:100px;",
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateStart, _DateStart)
                    </div>
                </div>
                <div id="div33">
                    <div class="FieldTitle150">
                        @Html.VnrLabel(ConstantDisplay.HRM_Common_DateEnd.TranslateString())
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateEnd = new DatePickerBuilderInfo()
    {
        Name = "ConExtendInfo_DateEnd",
        StyleCss = "width:100px;",
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateEnd, _DateEnd)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-ConExtendInfo", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-ConExtendInfo", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
