@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Recruitment.Models.Rec_InterviewCampaignModel
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    SetFieldRequired();
    var gridName = '@ConstantControlName.HRM_Rec_InterviewCampaign_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Rec_InterviewCampaign_PopUp_Name';
    function onSave() {
        onSaveAndContinue($('#form_rec_InterviewCampaign'), '@_hrm_Hre_Service', 'api/Rec_InterviewCampaign/', gridName, popUpName);
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_rec_InterviewCampaign'), '@_hrm_Hre_Service', 'api/Rec_InterviewCampaign/', gridName, popUpName);
        return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_rec_InterviewCampaign'), '@_hrm_Hre_Service', 'api/Rec_InterviewCampaign/', gridName); return false;
    }

</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_rec_InterviewCampaign" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Code)
                    </div>
                </div>

                <div>
                    <div class="FieldTitle" >
                        @Html.VnrLabelFor(mode => mode.InterviewCampaignName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.InterviewCampaignName)
                    </div>
                </div>
                
                <div id="dvDateFrom">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.HoldDate)
                    </div>
                    <div class="FieldValue">
                        @{
                        var holdDate = new DatePickerBuilderInfo()
                        {
                            Name = "InterviewCampaign_HoldDate"
                        };
                        }
                        @Html.VnrDatePickerFor(mode => mode.HoldDate, holdDate)
                    </div>
                </div>
                <div id="dvDateFrom">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.DateInterviewFrom)
                    </div>
                    <div class="FieldValue">
                        @{
    var DateInterviewFrom = new DatePickerBuilderInfo()
    {
    };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateInterviewFrom, DateInterviewFrom)
                    </div>
                </div>
                <div id="dvDateFrom">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.DateInterviewTo)
                    </div>
                    <div class="FieldValue">
                        @{
    var DateInterviewTo = new DatePickerBuilderInfo()
    {
    };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateInterviewTo, DateInterviewTo)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle" >
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle" >

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-recInterviewCampaign", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-recInterviewCampaign", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-recInterviewCampaign", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
            </td>
        </tr>
    </table>
}