@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.HrmSystem.Models.Sys_GroupPermissionModel
@using HRM.Presentation.HrmSystem.Models
@{
    ViewBag.Title = "SysGroupPermission";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_sys_sysgrouppermission" }))
{
    @Html.HiddenFor(model => model.ID)
    <div>
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.Code)
        </div>
        <div class="FieldValue">
            @Html.VnrTextBoxFor(mode => mode.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>
    <div>
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.GroupID)
        </div>
        <div class="FieldValue">
            @{
                var mtsGroup = new MultiSelectBuilderInfo()
                 {
                     Name = Sys_GroupPermissionModel.FieldNames.GroupID,
                     DataTextField = Sys_GroupPermissionModel.FieldNames.GroupName,
                     DataValueField = Sys_GroupPermissionModel.FieldNames.ID,
                     Url = @_hrm_Sys_Service + "Sys_GetData/GetGroup",
                     Placeholder = ConstantDisplay.HRM_System_SelectGroup.TranslateString(),
                     MaxSelectedItems = 1,
                 };
            }
            @(Html.VnrMultiSelectFor(model => model.GroupID, mtsGroup))
        </div>
    </div>
    <div>
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.ResourceID)
        </div>
        <div class="FieldValue">
            @{
                var mtsResource = new MultiSelectBuilderInfo()
                {
                    Name = Sys_GroupPermissionModel.FieldNames.ResourceID,
                    DataTextField = Sys_GroupPermissionModel.FieldNames.ResourceName,
                    DataValueField = Sys_GroupPermissionModel.FieldNames.ResourceID,
                    Url = @_hrm_Sys_Service + "Sys_GetData/GetResource",
                    Placeholder = ConstantDisplay.HRM_System_SelectResource.TranslateString(),
                    MaxSelectedItems = 1,
                };
            }
            @(Html.VnrMultiSelectFor(mode => mode.ResourceID, mtsResource))
            @Html.ValidationMessageFor(model => model.ResourceID)
        </div>
    </div>
    <div>
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.PrivilegeNumber)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.PrivilegeNumber))
        </div>
    </div>

    <div>
        <div class="FieldTitle">

        </div>
        <div class="FieldValue">
            <input type="button" value="@ConstantAction.HRM_Common_SaveNew.TranslateString()" onclick="onSaveAndContinue($('#form_sys_sysgrouppermission'), '@_hrm_Sys_Service', 'api/Sys_GroupPermission/', 'gridSys_GroupPermission','windowSys_GroupPermission'); return false;" class="k-button" />
            <input type="button" value="@ConstantAction.HRM_Common_SaveClose.TranslateString()" onclick="onSaveAndClose($('#form_sys_sysgrouppermission'), '@_hrm_Sys_Service', 'api/Sys_GroupPermission/', 'gridSys_GroupPermission','windowSys_GroupPermission'); return false;" class="k-button" />
        </div>
    </div>

}

