@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.UI.Controls.Kendo.DropDownList;
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Category.Models;


@model HRM.Presentation.Category.Models.Cat_GradePayrollModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;



}
<script type="text/javascript">
    document.getElementById("IsFormulaSalary").checked = true;
    $("#IsFormulaSalary").change(function () {
        if (this.checked) {
            $("#ElementGrid").show();
        }
        else {
            $("#ElementGrid").hide();
        }
    });
    $('input[type=checkbox]').change(function () {
        if ($(this).is(':checked')) {
            $(this).val('true');
        } else {
            $(this).val('false');
        }
    });
    function changeAttendenceMethod(e) {

        if (e.sender._old == "E_TAM") {
            $("#E_TAM").show();
        }
        else {
            $("#E_TAM").hide();
        }
    };
    function changeMinWorkDay(e) {
        if (e.sender._old == "E_SUBTRACT") {
            $("#E_SUBTRACT").show();
        }
        else {
            $("#E_SUBTRACT").hide();
        }

    }
    $("input[type=radio][name=DeductInLateOutEarly]").change(function () {

        if ($("#LateEarly")[0].checked) {
            $("#LateEarlyRuleGrid").hide();
        }
        else {
            $("#LateEarlyRuleGrid").show();
        }
    });


</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; float: left; width:100%">
                        <div class="FieldTitle150">
                            @Html.VnrLabel(ConstantDisplay.HRM_Category_GradePayroll_GradeMethod.TranslateString())
                        </div>
                        <div class="FieldValue" style="float: left;width:85%">

                            <div style="float:left">
                                @Html.VnrCheckBoxFor(mode => mode.IsFormulaSalary, new CheckBoxBuilderInfo() { Value = Model != null ? Model.IsFormulaSalary != null ? (bool)Model.IsFormulaSalary : false : false })
                                @Html.VnrLabelFor(mode => mode.IsFormulaSalary)
                            </div>
                            <div style="float: left; margin-left: 40px; ">
                                @Html.VnrCheckBoxFor(mode => mode.IsDeptSalary, new CheckBoxBuilderInfo() { Value = Model != null ? Model.IsDeptSalary != null ? (bool)Model.IsDeptSalary : false : false })
                                @Html.VnrLabelFor(mode => mode.IsDeptSalary)
                            </div>
                            <div style="float: left; margin-left: 40px; ">
                                @Html.VnrCheckBoxFor(mode => mode.IsCommissionSalary, new CheckBoxBuilderInfo() { Value = Model != null ? Model.IsCommissionSalary != null ? (bool)Model.IsCommissionSalary : false : false })
                                @Html.VnrLabelFor(mode => mode.IsCommissionSalary)
                            </div>


                            <div id="ElementGrid">
                                @Html.Partial("_ElementGrid", Model)
                            </div>
                        </div>
                    </div>

                    @*<div style="display: block; float: left; width:100%; padding-top:50px">
                            <div class="FieldTitle" style="float:left;width:15%;">
                                @Html.VnrLabel("Hình Thức Ứng Lương")
                            </div>
                            <div class="FieldValue" style="float: left;width:85%">

                                <div id="ElementGrid">
                                    @Html.Partial("_AdvanacePaymentGrid", Model)
                                </div>
                            </div>
                        </div>*@
                    @*<div style="display: block; float: left; width:100%">
                            <div class="FieldTitle170">
                                @Html.VnrLabel("")
                            </div>
                            <div class="FieldValue" style="width:85%">
                                <div id="ElementGrid">
                                    @Html.Partial("_ElementGrid", Model)
                                </div>
                            </div>
                        </div>*@
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>

</div>

