@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.UI.Controls.Kendo.DropDownList;
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Category.Models;


@model HRM.Presentation.Category.Models.CatElementModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var gradePayrollID = Guid.Empty;
    if (Model != null)
    {
        gradePayrollID = Model.GradePayrollID.Value;
    }
    
}
<script>
    $(document).ready(function () {
        $("#GradePayrollID").val($("#ID").val());
    });
    function checkedBox() {

    }
    function onSaveNew() {

        onSaveAndContinue($('#form_Cat_ElementForm'), '@_hrm_Hr_Service', 'api/CatElementCustom/', 'Element', 'windowElementForm'); return false;

    }

    function onSaveClose() {


        onSaveAndClose($('#form_Cat_ElementForm'), '@_hrm_Hr_Service', 'api/CatElementCustom/', 'Element', 'windowElementForm'); return false;

    }
    function onSaveDataPopUp() {

        onlySave($('#form_Cat_ElementForm'), '@_hrm_Hr_Service', 'api/CatElementCustom/', 'Element'); return false;

    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_ElementForm" }))
{
   if (Model != null)
    {
        @Html.HiddenFor(mode => mode.GradePayrollID)
    }
    else
    {
         @Html.HiddenFor(mode => mode.GradePayrollID, gradePayrollID)
    }

    <table  >
        <tr style="border: 1px solid #dddddd; ">
            <td style="border: 1px solid #dddddd; ">
                <div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsSalaryTime)
                    </div>

                    @Html.VnrLabelFor(mode => mode.IsSalaryTime)

                </div>
            </td>
            <td style="border: 1px solid #dddddd; ">
                @Html.VnrLabel("Lương Ngày * Ngày Công đi làm")
            </td>
        </tr>
        <tr style="border: 1px solid #dddddd; ">
            <td style="border: 1px solid #dddddd; ">
                <div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsSalaryOvertime)
                    </div>

                    @Html.VnrLabelFor(mode => mode.IsSalaryOvertime)

                </div>
            </td>
            <td style="border: 1px solid #dddddd; ">
                @Html.VnrLabel("Lương Giờ * Tổng Số Giờ Tăng Ca Quy Đổi 1")
            </td>
        </tr>
        <tr style="border: 1px solid #dddddd; ">
            <td style="border: 1px solid #dddddd; ">
                <div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsSalaryLeaveDay)
                    </div>

                    @Html.VnrLabelFor(mode => mode.IsSalaryLeaveDay)

                </div>
            </td>
            <td style="border: 1px solid #dddddd; ">
                @Html.VnrLabel("Lương Giờ * Tổng Số Giờ Nghỉ Có Lương")
            </td>
        </tr>
        <tr style="border: 1px solid #dddddd; ">
            <td style="border: 1px solid #dddddd; ">
                <div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsSalaryUsualAllowance)
                    </div>

                    @Html.VnrLabelFor(mode => mode.IsSalaryUsualAllowance)

                </div>
            </td>
            <td style="border: 1px solid #dddddd; ">
                @Html.VnrLabel("Tổng Các Khoản Phụ Cấp Được Nhận")
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle" style="width: 70px;"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-ElementForm", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-ElementForm", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-ElementForm", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

