@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_GradePayrollModel
@{
    ViewBag.Title = "Index  GradeAttendance";
    Layout = null;
    var hrm_Cat_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var Hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    
    SetFieldRequired();
    function doSave() {
        var _isFormualSalary = document.getElementById("IsFormulaSalary");
        if (_isFormualSalary.checked) {
            $("#IsFormulaSalary").val("true");
        } else {
            $("#IsFormulaSalary").val("false");
        }

        //xử lý dấu cộng
        var formula = $("#FormulaSalaryIns").val();
        $("#FormulaSalaryIns").val(formula.replace(/\+/g, '[+]'));

        var result = false;
   //     if (CheckValidate(data)) {
        onCreate($('#form-create'), '@hrm_Cat_Service', 'api/Cat_GradePayroll/'); return false;

        //hiện lại dấu cộng như bình thường
        $("#FormulaSalaryIns").val(formula.replace(/\[+]/g, "+"));
      //  }
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            
            KendoRouteMapping('#Hrm_Main_Web/Cat_GradePayroll/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">

                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_GradeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Category_GradePayroll_Create.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Category_GradePayroll_BackList.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options" style="margin-top: 5px;">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




