@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.Cat_GradePayrollModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    IList<SelectListItem> listSalaryTimeTypeClose = Enum.GetValues(typeof(SalaryTimeTypeClose))
  .Cast<SalaryTimeTypeClose>()
  .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
  .ToList();
    IList<SelectListItem> lstDay = Common.Day();
}
<script>
    //$(document).ready(function () {
    //    //init là biến kiểm tra đã khởi tạo KendoValidator chưa
    //    init = SetValidate()
    //});
</script>
<div class="VnRMain">
    @Html.HiddenFor(model => model.ID)

    <table style="width:100%">
        <tbody>

            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div class="hrm_box" style="float: left;">
                        <div id="div2">
                            <div class="FieldTitle150" >
                                @Html.VnrLabelFor(mode => mode.Code)
                            </div>
                            <div class="FieldValue">

                                @Html.VnrTextBoxFor(model => model.Code)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle150" >
                                @Html.VnrLabelFor(mode => mode.GradeCfgName)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.GradeCfgName)
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        @*<div>
                            <div class="FieldTitle" style="width:135px">
                                @Html.VnrLabelFor(model => model.SalaryTimeTypeClose)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _dropdownSalaryTimeTypeClose = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "Text",
                                        DataValueField = "Value",
                                        BindTo = listSalaryTimeTypeClose
                                    };
                                }
                                @Html.VnrDropDownListFor(model => model.SalaryTimeTypeClose, _dropdownSalaryTimeTypeClose)
                            </div>
                        </div>*@
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(model => model.SalaryDayClose)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var ddlDay = new DropDownListBuilderInfo()
                                    {
                                        Name = "GradePayrolle_SalaryDayClose",
                                        DataTextField = "Text",
                                        DataValueField = "Value",
                                        //  FilterType = FilterType.Contains,
                                        StyleCss = "width:60px",
                                        BindTo = lstDay,
                                        OptionLabel = string.Empty,
                                        Value = Model == null ? string.Empty : Model.SalaryDayClose.ToString()
                                    };
                                }
                                @Html.VnrDropDownListFor(model => model.SalaryDayClose, ddlDay)

                                @{
                                    var _dropdownSalaryTimeTypeClose = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "Text",
                                        DataValueField = "Value",
                                        BindTo = listSalaryTimeTypeClose,
                                        StyleCss = "width:135px;",
                                    };
                                }
                                @Html.VnrDropDownListFor(model => model.SalaryTimeTypeClose, _dropdownSalaryTimeTypeClose)
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="hrm_box" >
                        <div id="dvFormulaSalaryIns">
                            <div class="FieldTitle200" >
                                @Html.VnrLabelFor(mode => mode.FormulaSalaryIns)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(model => model.FormulaSalaryIns, "width:450px")
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        
                        <div id="dvFormulaJobNameIns">
                            <div class="FieldTitle200" >
                                @Html.VnrLabelFor(mode => mode.FormulaJobNameIns)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(model => model.FormulaJobNameIns, "width:450px")
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        
                        <div id="dvDescription">
                            <div class="FieldTitle200" >
                                @Html.VnrLabelFor(mode => mode.Description)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(model => model.Description, "width:450px")
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

        </tbody>
    </table>

</div>
<div class="VnRMain">
    <div id="tabtrip">
        <ul>
            <li class="k-state-active">@ConstantDisplay.HRM_Category_GradePayroll_Config.TranslateString()</li>@*//Chưa Dịch*@
            <li>@ConstantDisplay.HRM_Category_AdvancePayment_Config.TranslateString()</li>
            <li>@ConstantDisplay.HRM_HR_Profile_Insurance.TranslateString()</li>
            <li>@ConstantDisplay.HRM_Category_GradePayroll_IsCommissionSalary.TranslateString()</li>
            @*<li>Số Ngày/Giờ Công</li>*@
            @*<li>Tính Phép Năm</li>*@
            @*<li>Thông Tin Lương</li>*@
        </ul>
        <div>
            @Html.Partial("_PayrollInfo", Model)
        </div>
        <div>
            @Html.Partial("_AdvancePaymentInfo", Model)
        </div>
        <div>
            @Html.Partial("_InsuranceInfo", Model)
        </div>
        <div>
            @Html.Partial("_PayCommission", Model)
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabtrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } }
        });
    });
</script>


