@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@model TrackingInfoModel
@{
    ViewBag.Title = "LogTracking";
    Layout = null;
    string _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listStateTracking = Enum.GetValues(typeof(StateTracking))
    .Cast<StateTracking>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x).TranslateString() }).OrderBy(p=>p.Text)
    .ToList();
    IList<SelectListItem> listModules = Enum.GetValues(typeof(Modules))
.Cast<Modules>()
.Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x).TranslateString() }).OrderBy(p=>p.Text)
.ToList();
}
<script>
    function filterFieldInfo() {
        var dataParameter = {
            ObjectID: $('#@Html.FieldIdFor(model => model.ObjectID)').val(),
            UserUpdate: $('#@Html.FieldIdFor(model => model.UserUpdate)').val(),
            TableName: $('#@Html.FieldIdFor(model => model.TableName)').val(),
            ObjectCode: $('#@Html.FieldIdFor(model => model.ObjectCode)').val(),
            DateUpdate: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $('#@Html.FieldIdFor(model => model.DateUpdate)').val()),
            DateUpdateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $('#@Html.FieldIdFor(model => model.DateUpdateTo)').val()),
            State: $('#@Html.FieldIdFor(model => model.State)').val(),
            ObjectName: $('#@Html.FieldIdFor(model => model.ObjectName)').val(),
            ModuleName: $('#@Html.FieldIdFor(model => model.ModuleName)').val(),
        };
        return dataParameter;
    }
    $("#btnSearch").click(function () {
        ReadGrid("gridLogTracking");
    });
</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div>
                    <div class="contendSearchWidge" style="overflow:visible">
                        <div>
                            <div class="hrm_box">
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ModuleName)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var moduleName = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "Text",
                                                DataValueField = "Value",
                                                StyleCss = "width:200px",
                                                BindTo = listModules,
                                            };
                                        }
                                        @Html.VnrComboBoxFor(mode => mode.ModuleName, moduleName)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ObjectID)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.ObjectID)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.UserUpdate)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.UserUpdate)
                                    </div>
                                </div>

                            </div>
                            <div class="hrm_box">
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.TableName)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var tableName = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "Name",
                                                DataValueField = "Name",
                                                StyleCss = "width:200px",
                                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiObjectName",
                                                Placeholder = ConstantDisplay.HRM_Category_Cat_Import_ObjectName.TranslateString(),
                                            };
                                        }
                                        @Html.VnrComboBoxFor(mode => mode.TableName, tableName)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ObjectCode)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.ObjectCode)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.DateUpdate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var dateUpdate = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString()
                                            };
                                        }
                                        @(Html.VnrDatePickerFor(mode => mode.DateUpdate, dateUpdate))
                                        @{
                                            var dateUpdateTo = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString()
                                            };
                                        }
                                        @(Html.VnrDatePickerFor(mode => mode.DateUpdateTo, dateUpdateTo))
                                    </div>
                                </div>
                            </div>
                            <div class="hrm_box">
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.State)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var state = new DropDownListBuilderInfo()
                                            {
                                                DataValueField = "Value",
                                                DataTextField = "Text",
                                                BindTo = listStateTracking
                                            };
                                        }
                                        @(Html.VnrDropDownListFor(mode => mode.State, state))
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.ObjectName)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.ObjectName)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
        </div>
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var grid = new GridBuilderInfo
        {
            Name = "gridLogTracking",
            ShowCommand = false,
            ShowEditIcon = false,
            ReadData = "filterFieldInfo",
            ReadActionUrl = _hrm_Sys_Service + "Sys_GetData/GetLogTrackingList/",
        };

        grid.ValueFields = new[]
        {
            TrackingInfoModel.FieldNames.TableName,
            TrackingInfoModel.FieldNames.State,
            TrackingInfoModel.FieldNames.ObjectCode,
            TrackingInfoModel.FieldNames.ObjectName,
            TrackingInfoModel.FieldNames.MoreInfo,
            TrackingInfoModel.FieldNames.FieldName,
            TrackingInfoModel.FieldNames.OriginalValue,
            TrackingInfoModel.FieldNames.CurrentValue,
            TrackingInfoModel.FieldNames.UserUpdate,
            TrackingInfoModel.FieldNames.DateUpdate,
        };
    }

    @(Html.VnrGrid<TrackingInfoModel>(grid))
</div>

