@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Category.Models;
@model Cat_UnitPriceSearchModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_UnitPrice_Title.TranslateString();
    //var _hrm_Main_Web = ConstantPathWeb._hrm_Main_Web;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_Category_UnitPrice_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Cat_UnitPrice/Cat_UnitPriceInfo/",
    };
}
@(Html.VnrWindow(window))
<script src="~/Scripts/knockout-3.2.0.js"></script>
<script>
    //Biến để lưu id của các dòng đã check chọn
    var selectedIds = [];
    var gridName = '@ConstantControlName.HRM_Category_UnitPrice_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Category_UnitPrice_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_UnitPrice_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_UnitPrice_PopUp_Create_Title.TranslateString())';

    $(document).ready(function () {
        //Ẩn hiện div chứa các input tìm kiếm
        ShowHidePanel();
        //Xử lý sự kiện click button tìm kiếm
        $("#btnSearch").click(function () {

            ReadGrid(gridName);
        });
        EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Cat_UnitPrice/Cat_UnitPriceInfo/", '@ConstantPermission.Cat_UnitPrice', titleEditPopUp);

    });
    //Lấy dữ liệu khi tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            RoleID: $('#SRoleID').val(),
            JobTypeID: $('#SJobTypeID').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
    GridCheckbox(gridName);
    //Tạo mới ngân hàng
    $("#btnCreateCat_UnitPrice").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_UnitPrice');
        if (!isAccess) {
            return;
        }
        PopUpCreate(popUpName, titleCreatePopUp);
    });

    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_UnitPrice');
        if (!isAccess) {
            return;
        }

        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Cat_UnitPrice/RemoveSelected/", selectedIds.join(","));
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportUnitPriceSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_UnitPrice');
    });

    $("#btnExportAll").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_ProfileQuit');
        if (!isAccess) {
            return;
        }*@
        var grid = $('#@ConstantControlName.HRM_Category_UnitPrice_Grid_Name').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllUnitPriceList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_UnitPrice');
    });
    function showJobType(e)
    {
        debugger;
        var _roleID = e.sender._old;
        $.ajax({
            type: 'POST',
            url: '@_hrm_Hr_Service' + "Cat_GetData/GetJobTypeNameByRoleID",
            data: { roleid: _roleID },
            dataType: 'json',
            async: false,
            success: function(data)
            {
                debugger;
                var jobtypenamemulti = $("#SJobTypeID").data("kendoComboBox");
                jobtypenamemulti.setDataSource(data);
                jobtypenamemulti.refresh();
            }

        });

    }


</script>
<div id="idControl" class="k-content"></div>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.RoleID)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _RoleID = new ComboBoxBuilderInfo()
                            {
                                Name = "SRoleID",
                                DataTextField = "RoleName",
                                DataValueField = "ID",
                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiRole",
                                EventChange="showJobType"
                                
                            };
                        }
                        @(Html.VnrComboBoxFor(mode => mode.RoleID, _RoleID))
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.JobTypeID)
                    </div>
                    <div class="FieldValue" id="aaa">
                        @{
                            var _JobTypeID = new ComboBoxBuilderInfo()
                             {
                                 Name = "SJobTypeID",
                                 DataTextField = "JobTypeName",
                                 DataValueField = "ID",
                                 Url = _hrm_Hr_Service + "Cat_GetData/GetMultiJobType"
                             };
                        }
                        @(Html.VnrComboBoxFor(mode => mode.JobTypeID, _JobTypeID))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCat_UnitPrice", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeUnitPrice", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_Category_UnitPrice_Grid_Name + "__Cat_UnitPrice_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Category_UnitPrice_Grid_Name,
            ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetUnitPriceList/",
            ReadData = "filterFieldInfo",
            //EventDataBound = "changePageGird",
            ShowCommand = false,
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new[]
            {

                Cat_UnitPriceModel.FieldNames.RoleName,
                Cat_UnitPriceModel.FieldNames.JobTypeName,
                Cat_UnitPriceModel.FieldNames.Amount,
                Cat_UnitPriceModel.FieldNames.Date,
                Cat_UnitPriceModel.FieldNames.Note
            };

            grid.SizeFields = new Dictionary<string, int>()
            {

                {Cat_UnitPriceModel.FieldNames.RoleName,125},
                {Cat_UnitPriceModel.FieldNames.JobTypeName,130},
                {Cat_UnitPriceModel.FieldNames.Amount,100},
                {Cat_UnitPriceModel.FieldNames.Date,100},
                {Cat_UnitPriceModel.FieldNames.Note,150}
            };

            grid.Filterable = new Dictionary<string, bool>()
            {
                {Cat_UnitPriceModel.FieldNames.Amount,true}
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {

                {Cat_UnitPriceModel.FieldNames.RoleName,ConstantDisplay.HRM_Category_UnitPrice_RoleID},
                {Cat_UnitPriceModel.FieldNames.JobTypeName,ConstantDisplay.HRM_Category_UnitPrice_JobTypeID},
                {Cat_UnitPriceModel.FieldNames.Amount,ConstantDisplay.HRM_Category_UnitPrice_Amount},
                {Cat_UnitPriceModel.FieldNames.Date,ConstantDisplay.HRM_Category_UnitPrice_Date},
                {Cat_UnitPriceModel.FieldNames.Note,ConstantDisplay.HRM_Category_Role_Note}
            };

            grid.FormatFields = new Dictionary<string, string>()
            {
                {Cat_UnitPriceModel.FieldNames.Amount, ConstantFormat.HRM_Format_Int},

            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = ConstantControlName.HRM_Category_UnitPrice_Grid_Name,
        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    Filterable = filterable,
        //    ShowCommand = false,
        //    ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetUnitPriceList/",
        //    ReadData = "filterFieldInfo",
        //    FormatFields = formatFields
        //};
    }

    @(Html.VnrGrid<Cat_UnitPriceModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeUnitPrice", "Cat_UnitPriceModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)