@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Presentation.Recruitment.Models
@model Rec_QuestionModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
   IEnumerable lstQuestionBankID = null;
        if(Model!=null)
        {
            lstQuestionBankID = new[] { new { QuestionBankName = Model.QuestionBankName, ID = Model.QuestionBankID } };
            
        }

}
<script>
    SetFieldRequiredByScreenName('Rec_Question');
    function Setvalue()
    {
        $("#QuestionBankID_1").val($("#Question_QuestionBankID").val());
        $("#Rate_1").val($("#Question_Rate").val());
    }
    function onSave() {
        Setvalue();
        onSaveAndContinue($('#form_Rec_Question'), '@_hrm_Hre_Service', 'api/Rec_Question/', 'gridQuestion', '@ConstantControlName.HRM_Rec_Question_PopUp_Name');
    }

    function onSaveClose() {
        Setvalue();
        onSaveAndClose($('#form_Rec_Question'), '@_hrm_Hre_Service', 'api/Rec_Question/', 'gridQuestion', '@ConstantControlName.HRM_Rec_Question_PopUp_Name');
    }

    function onSaveDataPopUp() {
        Setvalue();
        onlySave($('#form_Rec_Question'), '@_hrm_Hre_Service', 'api/Rec_Question/', 'gridQuestion');
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_Question" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.QuestionaireID)
    
   
    <table>
        <tr>
            <td>
                <div style="display:block">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.QuestionBankID)
                        </div>
                        <div class="FieldValue">
                            @{
                            var QuestionBankID = new MultiSelectBuilderInfo
                            {
                                Name = "Question_QuestionBankID",
                                DataTextField = "QuestionBankName",
                                DataValueField = "ID",
                                Url = @_hrm_Hre_Service + "Rec_GetData/GetMultiQuestionBank",
                                MaxSelectedItems = 1,
                                Placeholder = ConstantDisplay.HRM_Recruitment_SelectQuestionBank.TranslateString(),
                                Value = lstQuestionBankID
                            };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.QuestionBankID, QuestionBankID)@Html.HiddenFor(model => model.QuestionBankID, new { id = "QuestionBankID_1" })
                        </div>
                    </div>

                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Rate)
                        </div>
                        <div class="FieldValue">
                            @{
    var Rate = new NumericTextBoxBuilderInfo<double>()
                                {
                                    Name = "Question_Rate",
                                    

                                };
                            }
                            @Html.VnrNumericTextBoxFor(model => model.Rate, Rate).Value(Model != null && Model.Rate != null ? Model.Rate : 0) @Html.HiddenFor(model => model.Rate, new { id = "Rate_1" })
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                   
                </div>

            </td>

        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Question", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-Question", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Question", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

