@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models
@using HRM.Infrastructure.Utilities

@using System.Collections
@using HRM.Infrastructure.Security

@model Pur_MCAMModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var ContractID = Guid.Empty;
    var ProfileName = string.Empty;
    var Status = string.Empty;
    if (Model != null)
    {
        ContractID = Model.ID;
    }
    IList<SelectListItem> lstStatus = Enum.GetValues(typeof(EnumDropDown.Status))
   .Cast<EnumDropDown.Status>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).ToList().OrderBy(x=>x.Text).ToList();


    IList<SelectListItem> ModelType = Enum.GetValues(typeof(EnumDropDown.PurColor))
   .Cast<EnumDropDown.PurColor>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).ToList();
   
    IList<SelectListItem> CurrencyCode = Enum.GetValues(typeof(CurrencyCode))
   .Cast<CurrencyCode>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).ToList();
}

<script type="text/javascript">
    SetFieldRequiredByScreenName("Pur_MCAM_CreateOrUpdate");
    var gridName = '@ConstantControlName.HRM_HR_AppendixContract_Grid_Name.TranslateString()';
    var popUpName = '@ConstantControlName.HRM_HR_AppendixContract_PopUp_Name.TranslateString()';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_HR_AppendixContract_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_HR_AppendixContract_PopUp_Create_Title.TranslateString())';
    
    //function filterFieldInfo() {
    //    return {
    //        ColorID: $('#ColorID').val(),
    //        ModelID: $('#ModelID').val(),
    //    };
    //}
    function onSelected(e) {
        debugger;
        var muti = $("#PurMCAM_ProfileID").data("kendoMultiSelect");
        
        var profileID = e.sender._old[0];
        
        if (profileID != null) {
            var profileID = e.sender._old[0];
            $.ajax({
                url: '@_hrm_Hr_Service' + "Hre_GetData/GetDataByProfileIDv2",
                type: "POST",
                data: { ProfileID: profileID },
                dataType: "json",
                success: function (data) {
                    debugger;
                    $("#PurMCAM_OrgStructureID").val(data.OrgStructureName);
                    $("#PurMCAM_IDNo").val(data.IDNo);
                    $("#PurMCAM_ContractTypeID").val(data.ContractTypeName);
                    $("#PurMCAM_GrossAmount").val(data.BasicSalary);
                },
                error: function (data) {
                    _RankListData.value(null);
                }
            });
        }
    }

   
</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_System_Resource_HR_ProfileInformationDetail.TranslateString()
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float: left; width: 500px">
                                    <!--Ten Nhan Vien-->
                                    <div id="div2">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode=>mode.ProfileName)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                IEnumerable valuepro = new string[] { };
                                                if (Model != null)
                                                {
                                                    valuepro = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                                }
                                            }
                                            @{
                                                var multiSelectProfileID = new MultiSelectBuilderInfo()
                                                {
                                                    Name="PurMCAM_ProfileID",
                                                    Width = 203,
                                                    DataTextField = "ProfileName",
                                                    DataValueField = "ID",
                                                    MaxSelectedItems= 1,
                                                    Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                                    Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                                    Value = valuepro,
                                                    EventChange = "onSelected"

                                                };
                                            }
                                            @Html.VnrMultiSelectFor(mode => mode.ProfileID, multiSelectProfileID)
                                        </div>
                                    </div>
                                    <!--CMND-->
                                    <div id="div4">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.IDNo)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var IDNo = new TextBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_IDNo",
                                                    CssStyle="Width:203px;",
                                                   Disabled=true
                                                };
                                            }
                                            @Html.VnrTextBoxFor(model => model.IDNo, IDNo)
                                        </div>
                                    </div>
                                    <!--Phong ban-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.OrgStructureName)
                                        </div>
                                        <div class="FieldValue">
                                          @{
                                                var OrgStructureName = new TextBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_OrgStructureID",
                                                    CssStyle = "Width:203px;",
                                                    Disabled=true
                                                };
                                            }
                                        @Html.VnrTextBoxFor(model => model.OrgStructureID, OrgStructureName)
                                        </div>
                                    </div>
                                        <!--Loai Hop Dong-->
                                        <div id="div6">
                                            <div class="FieldTitle150">
                                                @Html.VnrLabelFor(mode => mode.ContractTypeID)
                                            </div>
                                            <div class="FieldValue">
                                                @{
                                                    var ContractTypeID = new TextBoxBuilderInfo()
                                                    {
                                                        Name = "PurMCAM_ContractTypeID",
                                                        CssStyle = "Width:203px;",
                                                        Disabled=true
                                                        };
                                                }
                                                @Html.VnrTextBoxFor(model => model.ContractTypeID, ContractTypeID)
                                            </div>
                                        </div>
                                        <!--Luong Co Ban-->
                                        <div>
                                            <div class="FieldTitle150">
                                                @Html.VnrLabelFor(mode => mode.GrossAmount)
                                            </div>
                                            <div class="FieldValue">
                                                @{
                                                    var GrossAmount = new TextBoxBuilderInfo()
                                                    {
                                                        Name = "PurMCAM_GrossAmount",
                                                        CssStyle = "Width:140px;",
                                                         Disabled=true
                                                    };
                                                }
                                                @Html.VnrTextBoxFor(model => model.GrossAmount, GrossAmount)
                                                @{
                                                    var _CurrencyCode = new DropDownListBuilderInfo()
                                                    {
                                                        DataTextField = "Text",
                                                        DataValueField = "Value",
                                                        BindTo = CurrencyCode,
                                                        StyleCss = "Width: 60px",
                                                        OptionLabel = null,
                                                        Enable=false,
                                                    };
                                                }
                                                @Html.VnrDropDownListFor(mode=>mode.CurrencyCode,_CurrencyCode)
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: block; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Category_Pur_MCAM_Info.TranslateString()
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float:left; width:500px">
                                    <!--Ngay yeu cau-->
                                    <div id="div9">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.DateRequest)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var DateRequest = new DatePickerBuilderInfo()
                                                {
                                                    StyleCss = "width:100px;"

                                                };
                                            }
                                            @Html.VnrDatePickerFor(model => model.DateRequest, DateRequest)
                                        </div>
                                    </div>
                                    <!--Ngay bat dau-->
                                    <div id="div9">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.StartDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var StartDate = new DatePickerBuilderInfo()
                                                {
                                                    StyleCss = "width:100px;"

                                                };
                                            }
                                            @Html.VnrDatePickerFor(model => model.StartDate, StartDate)
                                        </div>
                                    </div>
                                    <!--Ngay ket thuc-->
                                    <div id="div9">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.EndDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var EndDate = new DatePickerBuilderInfo()
                                                {
                                                    StyleCss = "width:100px;"

                                                };
                                            }
                                            @Html.VnrDatePickerFor(model => model.EndDate, EndDate)
                                        </div>
                                    </div>
                                    <!--Ngay nhan xe-->
                                    <div id="div9">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ReceiveDate)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ReceiveDate = new DatePickerBuilderInfo()
                                                {
                                                    StyleCss = "width:100px;"
                                                };
                                            }
                                            @Html.VnrDatePickerFor(model => model.ReceiveDate, ReceiveDate)
                                        </div>
                                    </div>
                                    <!--Loai xe-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ModelType)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var _ModelType = new ComboBoxBuilderInfo()
                                                {

                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = ModelType,
                                                    
                                                    StyleCss = "Width: 203px",
                                                    
                                                };
                                            }
                                            @Html.VnrComboBoxFor(model => model.ModelType, _ModelType)
                                        </div>
                                    </div>
                                    <!--Ma mode xe-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ModelID)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ModelID = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_ModelID",
                                                    DataTextField = "ModelName",
                                                    DataValueField = "ID",
                                                    StyleCss = "Width:203px;",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiModelCode",

                                                };
                                            }
                                            @Html.VnrComboBoxFor(model => model.ModelID, ModelID)
                                        </div>
                                    </div>
                                    <!--Ma mau xe-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ColorID)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ColorID = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_ColorModelID",
                                                    DataTextField = "Color",
                                                    DataValueField = "ID",
                                                    StyleCss = "Width:203px;",
                                                    Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiColorCode",
                                                    //Placeholder = ConstantDisplay.HRM_Category_Product_SelectProductType.TranslateString(),

                                                };
                                            }
                                            @Html.VnrComboBoxFor(model => model.ColorModelID, ColorID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: block; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Category_Pur_MCAM_PayMentMethod_Info.TranslateString()
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float:left; width:500px">
                                    <!--Ky Thanh Toan-->
                                    <div id="div9">
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.DeadlinePayment)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var DeadlinePayment = new NumericTextBoxBuilderInfo<double>()
                                                {
                                                    StyleCss = "width:203px;"
                                                };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.DeadlinePayment, DeadlinePayment)
                                        </div>
                                    </div>
                                    <!--Nơi  nhan xe-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ReceivePlace)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ReceivePlace = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_RecevivePlaceID",
                                                    DataTextField = "ReceivePlace",
                                                    DataValueField = "ID",
                                                    StyleCss="Width:203px;",
                                                    Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiReceivePlace",
                                                    Placeholder = ConstantDisplay.HRM_Category_Pur_MCAM_ReceivePlace_Select.TranslateString(),

                                                };
                                            }
                                            @Html.VnrComboBoxFor(model => model.RecevivePlaceID, ReceivePlace)
                                        </div>
                                    </div>
                                    <!--hinh thuc thanh toan-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.PaymentMethodID)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var PaymentMethodID = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "PurMCAM_PaymentMethodID",
                                                    DataTextField = "PaymentMethod",
                                                    DataValueField = "ID",
                                                    StyleCss = "Width:203px;",
                                                    Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiPaymentMethod",
                                                    Placeholder = ConstantDisplay.HRM_Category_Pur_MCAM_PayMentMethod_Select.TranslateString(),
                                                };
                                            }
                                            @Html.VnrComboBoxFor(model => model.PaymentMethodID, PaymentMethodID)
                                        </div>
                                    </div>
                                    <!--da thanh toan-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.AmountDeposit)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var AmountDeposit = new NumericTextBoxBuilderInfo<Double>()
                                                {
                                                    StyleCss = "Width:140px",
                                                };
                                            }
                                            @Html.VnrNumericTextBoxFor(mode => mode.AmountDeposit, AmountDeposit)
                                           
                                             @{
                                                var _CurrencyAmountDeposit = new DropDownListBuilderInfo()
                                                {
                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = CurrencyCode,
                                                    StyleCss = "Width: 60px",
                                                    OptionLabel = null,
                                                };
                                            }
                                            @Html.VnrDropDownListFor(mode => mode.CurrencyAmountDeposit, _CurrencyAmountDeposit)
                                        </div>
                                    </div>
                                    <!--chua thanh toan-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.AmountRemain)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var AmountRemain = new NumericTextBoxBuilderInfo<Double>()
                                                {
                                                    StyleCss = "Width:140px",
                                                };
                                            }
                                            @Html.VnrNumericTextBoxFor(mode => mode.AmountRemain, AmountRemain)
                                            
                                            @{
                                                var _CurrencyAmountRemain = new DropDownListBuilderInfo()
                                                {
                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = CurrencyCode,
                                                    StyleCss = "Width: 60px",
                                                    OptionLabel = null,
                                                };
                                            }
                                            @Html.VnrDropDownListFor(mode => mode.CurrencyAmountRemain, _CurrencyAmountRemain)
                                        </div>
                                    </div>
                                    <!--trang thai-->
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.Status)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var status = new DropDownListBuilderInfo()
                                                {
                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = lstStatus,
                                                    StyleCss = "Width: 140px",
                                                    OptionLabel = null,
                                                };
                                            }
                                            @Html.VnrDropDownListFor(mode => mode.Status, status)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>



