@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@using VnResource.ARTS.Library
@model HRM.Presentation.HrmSystem.Models.Sys_ConfigDBModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
}
<script>
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
    });

    $("#btn_Save").click(function () {
       // var notificationWidget = $("#popupNotification").kendoNotification().data("kendoNotification");
        $.ajax({
            url: '@_hrm_Sys_Web' + '/Sys_ConfigDB/ConfigDB/',
            data: {
                // Config Attendance
                Att_ServerName1: $('#@Html.FieldIdFor(model => model.Att_ServerName1)').val(),
                Att_Password1: $('#@Html.FieldIdFor(model => model.Att_Password1)').val(),
                Att_UserID1: $('#@Html.FieldIdFor(model => model.Att_UserID1)').val(),
                Att_DBName1: $('#@Html.FieldIdFor(model => model.Att_DBName1)').val(),
                Att_TableName1: $('#@Html.FieldIdFor(model => model.Att_TableName1)').val(),
                Att_CardColName1: $('#@Html.FieldIdFor(model => model.Att_CardColName1)').val(),
                Att_DataColName1: $('#@Html.FieldIdFor(model => model.Att_DataColName1)').val(),
                Att_SerialNumber1: $('#@Html.FieldIdFor(model => model.Att_SerialNumber1)').val(),
                Att_In_Out1: $('#@Html.FieldIdFor(model => model.Att_In_Out1)').val(),
                Att_IsCodeEmp1: $('#@Html.FieldIdFor(model => model.Att_IsCodeEmp1)').val(),
                Att_FilterData1: $('#@Html.FieldIdFor(model => model.Att_FilterData1)').val(),
                Att_FilterDataSplit1: $('#@Html.FieldIdFor(model => model.Att_FilterDataSplit1)').val(),
                Att_IsActive1: $('#@Html.FieldIdFor(model => model.Att_IsActive1)').val(),
                // Config Canteen
                Att_ServerName2: $('#@Html.FieldIdFor(model => model.Att_ServerName2)').val(),
                Att_Password2: $('#@Html.FieldIdFor(model => model.Att_Password2)').val(),
                Att_UserID2: $('#@Html.FieldIdFor(model => model.Att_UserID2)').val(),
                Att_DBName2: $('#@Html.FieldIdFor(model => model.Att_DBName2)').val(),
                Att_TableName2: $('#@Html.FieldIdFor(model => model.Att_TableName2)').val(),
                Att_CardColName2: $('#@Html.FieldIdFor(model => model.Att_CardColName2)').val(),
                Att_DataColName2: $('#@Html.FieldIdFor(model => model.Att_DataColName2)').val(),
                Att_SerialNumber2: $('#@Html.FieldIdFor(model => model.Att_SerialNumber2)').val(),
                Att_In_Out2: $('#@Html.FieldIdFor(model => model.Att_In_Out2)').val(),
                Att_IsCodeEmp2: $('#@Html.FieldIdFor(model => model.Att_IsCodeEmp2)').val(),
                Att_FilterData2: $('#@Html.FieldIdFor(model => model.Att_FilterData2)').val(),
                Att_FilterDataSplit2: $('#@Html.FieldIdFor(model => model.Att_FilterDataSplit2)').val(),
                Att_IsActive2: $('#@Html.FieldIdFor(model => model.Att_IsActive2)').val(),
            },
            type: 'POST',
            datatype: 'json',
            success: function (result) {
                ShowNotificationProcessor("Thêm Mới Thành Công");
            },
            error: function (e) {
                notificationWidget.show('Thêm Mới Thất Bại');
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }
        });
    });

    // [Son.Vo] - 20140802 - Kiểm tra kết nối đến server 1
    $("#CheckConnect_1").click(function () {
        showAjaxLoading();
        var Att_ServerName1 = $('#@Html.FieldIdFor(model => model.Att_ServerName1)').val();
        var Att_UserID1 = $('#@Html.FieldIdFor(model => model.Att_UserID1)').val();
        var Att_Password1 = $('#@Html.FieldIdFor(model => model.Att_Password1)').val();
        var Att_DBName1 = $('#@Html.FieldIdFor(model => model.Att_DBName1)').val();

        $.ajax({
            url: '@_hrm_Att_Service' + 'Att_GetData/CheckConnectTAMConfig',
            data: {
                serverName: Att_ServerName1,
                userId: Att_UserID1,
                password: Att_Password1,
                dbName: Att_DBName1,
            },
            type: 'POST',
            success: function (isConnect) {
                hideAjaxLoading();
                if (isConnect == "True") {
                    $("#idTamStatus1").attr("style", "color:green; font-weight: bold");
                    $("#idTamStatus1").text("ON");
                } else {
                    $("#idTamStatus1").attr("style", "color:red; font-weight: bold");
                    $("#idTamStatus1").text("OFF");
                }
            },
        });
    });
    // [Son.Vo] - 20140802 - Kiểm tra kết nối đến server 2
    $("#CheckConnect_2").click(function () {
        showAjaxLoading();
        var Att_ServerName2 = $('#@Html.FieldIdFor(model => model.Att_ServerName2)').val();
        var Att_UserID2 = $('#@Html.FieldIdFor(model => model.Att_UserID2)').val();
        var Att_Password2 = $('#@Html.FieldIdFor(model => model.Att_Password2)').val();
        var Att_DBName2 = $('#@Html.FieldIdFor(model => model.Att_DBName2)').val();

        $.ajax({
            url: '@_hrm_Att_Service' + 'Att_GetData/CheckConnectTAMConfig',
            data: {
                serverName: Att_ServerName2,
                userId: Att_UserID2,
                password: Att_Password2,
                dbName: Att_DBName2,
            },
            type: 'POST',
            success: function (isConnect) {
                hideAjaxLoading();
                if (isConnect == "True") {
                    $("#idTamStatus2").attr("style", "color:green; font-weight: bold");
                    $("#idTamStatus2").text("ON");
                } else {
                    $("#idTamStatus2").attr("style", "color:red; font-weight: bold");
                    $("#idTamStatus2").text("OFF");
                }
            },
        });
    });

</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <div style="display: block;">
                <fieldset>
                    <legend>
                        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                    </legend>
                    <div style="float: left;padding-right: 20px">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Server1.TranslateString()
                            </legend>
                            <legend>
                                @ConstantDisplay.HRM_System_Config_Database.TranslateString()
                            </legend>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_IsActive1)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsActive1 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsActive1, checkIsActive1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_ServerName1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_ServerName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_UserID1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_UserID1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_Password1)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var pass1 = new PasswordBuilderInfo() { };
                                    }
                                    @Html.VnrPasswordFor(mode => mode.Att_Password1, pass1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_DBName1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DBName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <br />
                            <legend>
                                @ConstantDisplay.HRM_System_Config_TAM.TranslateString()
                            </legend>

                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_TableName1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_TableName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_DataColName1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DataColName1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_CardColName1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_CardColName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_In_Out1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_In_Out1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_SerialNumber1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_SerialNumber1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterData1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterData1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterDataSplit1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterDataSplit1)
                                    <div class="clear"></div>
                                </div>
                            </div>                            
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_IsCodeEmp1)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsCode1 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsCodeEmp1, checkIsCode1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "CheckConnect_1", Content = ConstantDisplay.HRM_System_CheckConnect.TranslateString(), ImageUrl = ConstantPath.IconCheckConnect })
                                </div>
                                <div class="FieldValue">
                                    <span id="idTamStatus1" style="padding-top: 10px; float: left"></span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="float: left">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Server2.TranslateString()
                            </legend>
                            <legend>
                                @ConstantDisplay.HRM_System_Config_Database.TranslateString()
                            </legend>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_IsActive2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsActive2 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsActive2, checkIsActive2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_ServerName2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_ServerName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div22">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_UserID2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_UserID2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_Password2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var pass2 = new PasswordBuilderInfo() { };
                                    }
                                    @Html.VnrPasswordFor(mode => mode.Att_Password2, pass2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_DBName2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DBName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <br />
                            <legend>
                                @ConstantDisplay.HRM_System_Config_TAM.TranslateString()
                            </legend>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_TableName2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_TableName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_DataColName2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DataColName2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_CardColName2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_CardColName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_In_Out2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_In_Out2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_SerialNumber2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_SerialNumber2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterData2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterData2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterDataSplit2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterDataSplit2)
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_IsCodeEmp2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsCode2 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsCodeEmp2, checkIsCode2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            @*<div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelFor(mode => mode.Att_CodeAttendance2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_CodeAttendance2)
                                    <div class="clear"></div>
                                </div>
                            </div>*@
                            <div id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "CheckConnect_2", Content = ConstantDisplay.HRM_System_CheckConnect.TranslateString(), ImageUrl = ConstantPath.IconCheckConnect })
                                </div>
                                <div class="FieldValue">
                                    <span id="idTamStatus2" style="padding-top: 8px; float: left"></span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btn_Save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
</div>













