@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Category.Models.Cat_TAMScanReasonMissModel
@{
    ViewBag.Title = "Cat_TAMScanReasonMissForAtt";
    Layout = null;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Cat_Service;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Can_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;



    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    var TAMScanReasonMissForAtt_Id = Model == null ? Guid.Empty : Model.ID;
}


<script>
    SetFieldRequired();

    var data = SetCharacteFieldRequired();
   
    @*function checkDuplicationTAMScanReasonMissForAtt() {
        
        var code = $("#TAMScanReasonMissForAtt_Code").val();
        var ID = '@TAMScanReasonMissForAtt_Id';
        var data = { tableName: "Cat_TAMScanReasonMiss", columnName: "Code", keyword: code, ID: ID };
        var isduplicate = checkDuplicate('@_hrm_Sys_Service', 'Sys_GetData', 'CheckDuplicate', data, "Code");
        return isduplicate;
    }*@
    function onSave() {
        //if (CheckValidate(data)) {
            //[Tam.Le] - 16.8.2014 - Kiem tra neu chon "Dung cho Nha An" thi phai chon Loai Tro Cap An
            var _IsForCMS = $('#IsForCMS').is(':checked');
            var _MealAllowanceTypeSettingID = $("#TAMScanReasonMiss_MealAllowanceTypeSettingID").val();
            if (_IsForCMS == true && _MealAllowanceTypeSettingID == "") {
                window.ShowNotificationProcessor('@ConstantMessages.HRM_Category_TAMScanReasonMiss_RequiredMealAllowanceTypeSettingName.TranslateString()');
            }
                //end [Tam.Le] - 16.8.2014 - Kiem tra neu chon "Dung cho Nha An" thi phai chon Loai Tro Cap An
            else {
              //  if (!checkDuplicationTAMScanReasonMissForAtt()) {
                    onSaveAndContinue($('#form_Cat_TAMScanReasonMissForAtt'), '@_hrm_Hr_Service', 'api/Cat_TAMScanReasonMissForAtt/', 'grid_Cat_TAMScanReasonMissForAtt', 'windowCat_TAMScanReasonMissForAtt');
                //}
            }
        //}
        return false;
    }

    function onSaveClose() {
        

        //if (CheckValidate(data)) {
            //[Tam.Le] - 16.8.2014 - Kiem tra neu chon "Dung cho Nha An" thi phai chon Loai Tro Cap An
            var _IsForCMS = $('#IsForCMS').is(':checked');
            var _MealAllowanceTypeSettingID = $("#MealAllowanceTypeSettingID").val();
            if (_IsForCMS == true && _MealAllowanceTypeSettingID == "") {
                window.ShowNotificationProcessor('@ConstantMessages.HRM_Category_TAMScanReasonMiss_RequiredMealAllowanceTypeSettingName.TranslateString()');
            }
                //end [Tam.Le] - 16.8.2014 - Kiem tra neu chon "Dung cho Nha An" thi phai chon Loai Tro Cap An
            else {
                //if (!checkDuplicationTAMScanReasonMissForAtt()) {
                    onSaveAndClose($('#form_Cat_TAMScanReasonMissForAtt'), '@_hrm_Hr_Service', 'api/Cat_TAMScanReasonMissForAtt/', 'grid_Cat_TAMScanReasonMissForAtt', 'windowCat_TAMScanReasonMissForAtt');
              //  }
            }
        //}
        return false;
    }

    function onSaveDataPopUp() {
        
        //if (CheckValidate(data)) {
            //if (!checkDuplicationTAMScanReasonMissForAtt()) {
                onlySave($('#form_Cat_TAMScanReasonMissForAtt'), '@_hrm_Hr_Service', 'api/Cat_TAMScanReasonMissForAtt/', 'grid_Cat_TAMScanReasonMissForAtt'); return false;
            //}
        //}
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_TAMScanReasonMissForAtt" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div>

                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.TAMScanReasonMissName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.TAMScanReasonMissName, "width:300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @{
    var _TAMScanReasonMissForAttCode = new TextBoxBuilderInfo() { 
        Name = "TAMScanReasonMissForAtt_Code",
        CssStyle = "width:300px"
    };
    if(Model != null){
        _TAMScanReasonMissForAttCode.Value = Model.Code == null ? string.Empty : Model.Code;    
    }
                            
                        }
                        @Html.VnrTextBoxFor(mode => mode.Code, _TAMScanReasonMissForAttCode)
                    </div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.IsRemind)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsRemind)
                    </div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.IsForCMS)
                    </div>
                    <div class="FieldValue">                      
                        @Html.VnrCheckBoxFor(mode => mode.IsForCMS)
                    </div>
                    <div id="div7">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MealAllowanceTypeSettingID)
                        </div>
                        <div class="FieldValue">
                        @{
                            var _MealAllowanceTypeSetting = new ComboBoxBuilderInfo()
                        {
                            DataTextField = "MealAllowanceTypeSettingName",
                            DataValueField = "ID",
                            Url = _hrm_Hr_Service + "Canteen_GetData/GetMultiMealAllowanceTypeSetting",
                            Placeholder = ConstantDisplay.HRM_Canteen_SelectMealAllowanceTypeName.TranslateString(),
                            StyleCss = "width:300px",
                            Name = "TAMScanReasonMiss_MealAllowanceTypeSettingID"
       
                        };
                        if(Model != null){
                            _MealAllowanceTypeSetting.Value = Model.MealAllowanceTypeSettingID == null ? string.Empty : Model.MealAllowanceTypeSettingID.ToString();
                            _MealAllowanceTypeSetting.Autobind = true;
                        }
                        }
                            @Html.VnrComboBoxFor(mode => mode.MealAllowanceTypeSettingID, _MealAllowanceTypeSetting)
                        </div>
                    </div>

                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150" style="width: 170px;">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-TAMScanReasonMiss", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-Cat_TAMScanReasonMissForAtt", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Cat_TAMScanReasonMissForAtt", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

