@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;

@model Kai_RankMarkSearchModel

@{
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowKai_RankMark",
        Visible = false,
        Width = 1000,
        LoadContentFrom = @_hrm_Main_Web + "Kai_RankMark/Kai_RankMarkInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    var gridName = '@ConstantControlName.HRM_Kai_RankMark_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Kai_RankMark_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Kai_RankMark_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Kai_RankMark_Create_Title.TranslateString())';


    //Data khi tìm kiếm
    function filterFieldInfo() {
        debugger;
        var _MarkArea=$('#@Html.FieldIdFor(model=>model.MarkArea)').val();
        return {
            MarkArea: _MarkArea,
            IsExport: false,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        $("#btnSearch").click(function () {
            ReadGrid(gridName);
        });

        //Xử lý Edit popup
        var url = '@_hrm_Main_Web' + "Kai_RankMark/Kai_RankMarkInfo/";
        EditGridPopUp("@ConstantControlName.HRM_Kai_RankMark_Grid_Name", "windowKai_RankMark", url, '@ConstantPermission.Kai_RankMark', titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreateKai_RankMark").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Kai_RankMark');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowKai_RankMark", titleCreatePopUp, '@ConstantPermission.Kai_RankMark');
    });

    //Xử Lý grid
    GridCheckbox(gridName);

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }

        e.preventDefault();
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Kai_RankMark/RemoveSelected/", selectedIds, '@ConstantPermission.Kai_RankMark');
        return false;
    });

    $(document).ready(function () {
        ShowHidePanel();
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Sal_GetData/ExportKai_RankMarkSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Kai_RankMark');
    });

    $("#btnExportAll").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_ProfileQuit');
        if (!isAccess) {
            return;
        }*@
        debugger;
        var grid = $('#@ConstantControlName.HRM_Kai_RankMark_Grid_Name').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Sal_GetData/ExportAllKai_RankMarkList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Kai_RankMark');
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div1">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.MarkArea)
                    </div>
                    <div class="FieldValue">
                       @{
                           var _MarkArea = new TextBoxBuilderInfo()
                           {

                           };
                       }
                        @Html.VnrTextBoxFor(model=>model.MarkArea,_MarkArea)
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateKai_RankMark", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnRankMark", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_Kai_RankMark_Grid_Name + "__Kai_RankMark_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Kai_RankMark_Grid_Name,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hr_Service + "Sal_GetData/GetKai_RankMarkList/",
            ReadData = "filterFieldInfo",
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new[]
            {
                Kai_RankMarkModel.FieldNames.MarkArea,
                Kai_RankMarkModel.FieldNames.MarkIdea,
                Kai_RankMarkModel.FieldNames.AmountIdea,
                Kai_RankMarkModel.FieldNames.MarkPerform,
                Kai_RankMarkModel.FieldNames.AmountPerform,
                Kai_RankMarkModel.FieldNames.TotalAmount,
                Kai_RankMarkModel.FieldNames.Accumulate
            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {Kai_RankMarkModel.FieldNames.MarkArea,140},
                {Kai_RankMarkModel.FieldNames.MarkIdea,140},
                {Kai_RankMarkModel.FieldNames.AmountIdea,110},
                {Kai_RankMarkModel.FieldNames.MarkPerform,120},
                {Kai_RankMarkModel.FieldNames.AmountPerform,140},
                {Kai_RankMarkModel.FieldNames.TotalAmount,110},
                {Kai_RankMarkModel.FieldNames.Accumulate,120}
            };

            grid.Filterable = new Dictionary<string, bool>()
            {
                {Kai_RankMarkModel.FieldNames.MarkArea,true},
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {Kai_RankMarkModel.FieldNames.MarkArea,ConstantDisplay.HRM_Kai_RankMark_MarkArea},
                {Kai_RankMarkModel.FieldNames.MarkIdea,ConstantDisplay.HRM_Kai_RankMark_MarkIdea},
                {Kai_RankMarkModel.FieldNames.AmountIdea,ConstantDisplay.HRM_Kai_RankMark_AmountIdea},
                {Kai_RankMarkModel.FieldNames.MarkPerform,ConstantDisplay.HRM_Kai_RankMark_MarkPerform},
                {Kai_RankMarkModel.FieldNames.AmountPerform,ConstantDisplay.HRM_Kai_RankMark_AmountPerform},
                {Kai_RankMarkModel.FieldNames.TotalAmount,ConstantDisplay.HRM_Kai_RankMark_TotalAmount},
                {Kai_RankMarkModel.FieldNames.Accumulate,ConstantDisplay.HRM_Kai_RankMark_Accumulate}
            };
            grid.FormatFields = new Dictionary<string, string>()
            {
                {Kai_RankMarkModel.FieldNames.MarkIdea,ConstantFormat.HRM_Format_Number_Integer},
                {Kai_RankMarkModel.FieldNames.AmountIdea,ConstantFormat.HRM_Format_Money},
                {Kai_RankMarkModel.FieldNames.MarkPerform,ConstantFormat.HRM_Format_Number_Integer},
                {Kai_RankMarkModel.FieldNames.AmountPerform,ConstantFormat.HRM_Format_Money},
                {Kai_RankMarkModel.FieldNames.TotalAmount,ConstantFormat.HRM_Format_Money},
                {Kai_RankMarkModel.FieldNames.Accumulate,ConstantFormat.HRM_Format_Number_Integer}
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
    //var grid = new GridBuilderInfo
    //{
    //    Name = ConstantControlName.HRM_Category_SourceAds_Grid_Name,
    //    ValueFields = valueFields,
    //    SizeFields = sizeFields,
    //    DisplayFields = displayFields,
    //    Filterable = filterable,
    //    ShowCommand = false,
    //    ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetSourceAdsList/",
    //    ReadData = "filterFieldInfo",
    //};
    }

    @(Html.VnrGrid<Kai_RankMarkModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnRankMark", "Kai_RankMarkModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)