@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Infrastructure.Security
@using HRM.Presentation.Category.Models;
@model CatEmployeeTypeModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_EmployeeType;
  //  va_hrm_Main_Web_Web = ConstantPath_hrm_Main_Webin_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
    string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowEmployeeType",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Cat_EmployeeType/CatEmployeeTypeInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    //Biến để lưu id của các dòng đã check chọn
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_EmployeeType_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_EmployeeType_Create_Title.TranslateString())';

     
    function filterFieldInfo(isExport) {
        return {
            EmployeeTypeName: $('#SEmployeeTypeName').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        $("#btnSearch").click(function () {
            var grid = $('#gridEmployeeType').data("kendoGrid");
            grid.dataSource.read();
        });
        //Xử lý nút Edit
        var url = '@_hrm_Main_Web' + "Cat_EmployeeType/CatEmployeeTypeInfo/";
        EditGridPopUp("gridEmployeeType", "windowEmployeeType", url, '@ConstantPermission.Cat_EmployeeType', titleEditPopUp);
    });

    $("#btnCreateEmployeeType").click(function () {
        PopUpCreate("windowEmployeeType", titleCreatePopUp, '@ConstantPermission.Cat_EmployeeType');
    });


    //Xử Lý Grid
    GridCheckbox("gridEmployeeType");
    //Xử lý nút Delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("gridEmployeeType", '@_hrm_Main_Web' + "Cat_EmployeeType/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_EmployeeType');
        return false;
    });


    //Export
    $("#btnExportSelected").click(function () {
        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportOrgStrucTypeSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_EmployeeType');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#gridEmployeeType').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllEmployeeTypeList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_EmployeeType');
    });
</script>



<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div class="hrm_box">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.EmployeeTypeName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("SEmployeeTypeName", "width:200px;")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge" id="anchor">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateEmployeeType", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float: right">
        @*<div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>*@
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnEmployeeType", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
         var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_gridEmployeeType_Name + "__Cat_EmployeeType_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_gridEmployeeType_Name,
            ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetEmployeeTypeList/",
            ShowCommand = false,
            ReadData = "filterFieldInfo"
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {
                CatEmployeeTypeModel.FieldNames.EmployeeTypeName,
                CatEmployeeTypeModel.FieldNames.Notes,
                CatEmployeeTypeModel.FieldNames.UserUpdate,
                CatEmployeeTypeModel.FieldNames.DateUpdate
            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {CatEmployeeTypeModel.FieldNames.EmployeeTypeName,140},
                {CatEmployeeTypeModel.FieldNames.Notes,200},
                {CatEmployeeTypeModel.FieldNames.UserUpdate,140},
                {CatEmployeeTypeModel.FieldNames.DateUpdate,110}
            };

            grid.Filterable = new Dictionary<string, bool>()
            {
                {CatEmployeeTypeModel.FieldNames.EmployeeTypeName,true},
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {CatEmployeeTypeModel.FieldNames.EmployeeTypeName,ConstantDisplay.HRM_Category_EmployeeType_EmployeeTypeName},
                {CatEmployeeTypeModel.FieldNames.Notes,ConstantDisplay.HRM_Category_EmployeeType_Notes},
                {CatEmployeeTypeModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Attendance_Overtime_UserUpdate},
                {CatEmployeeTypeModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Hr_CardHistory_DateUpdate},
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "gridEmployeeType",
        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetEmployeeTypeList/",
        //    ShowCommand = false,
        //    ReadData = "filterFieldInfo"

        //};
    }

    @(Html.VnrGrid<CatEmployeeTypeModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnEmployeeType", "CatEmployeeTypeModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)