@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.HrmSystem.Models.Sys_AllSettingModel
@{
    ViewBag.Title = ConstantDisplay.HRM_System_AllSetting.TranslateString();
    Layout = null;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
<script>  
    var data = SetCharacteFieldRequired();
    var doSave = function () {
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@hrm_Sys_Service', 'api/Sys_AllSetting/'); return false;
        }
    }

    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Sys_Web/Sys_AllSetting/Create/', 'Hrm_Sys_Web', '@_hrm_Sys_Web');
        }
    };
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.UserSettingIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_System_AllSetting_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_System_AllSetting.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick= "doSaveNew",  Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
