@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@model HRM.Presentation.Hr.Models.Hre_ProfileModel
@Html.Hidden("tabselect")
<script>
    var UserLoginId = $('#UserLoginId').val();

    function filterFieldInfo_Reload(isExport) {
        debugger;
        var param = {
            CutOffDurationID: $('#CutOffDurationID').val(),
            ProfileID: SelectID,
            UserCreateID: UserLoginId,
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };

        return param;
    };

    function reload() {
        LoadForm();
    };
</script>
<style>
    .btn-custom {
        color: #333333;
        border-radius: 0 !important;
        border-bottom: 0 !important;
        border-top: 1px !important;
        font-weight:bold;
    }

    .btn-group-custom {
        width: 100% !important;
        background-color: #f4f4f4;
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 0px solid #cccccc;
        margin-bottom: 0px;
    }

    .k-dropdown .k-input {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }

    .curentSelected {
        background-color: #fff;
        color: #42a5dc !important;
    }
    .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item {
     
        border-width: 0px 1px 0;
    }
</style>
@Html.Hidden("valueFieldsGrid")
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            @*<h3>
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                </h3>*@
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                <ul class="breadcrumb">
                    <li><a href="/Home">@ConstantDisplay.HRM_HR_Profile_Home.TranslateString()</a> </li>
                    <li><a href="/">@ConstantDisplay.HRM_HR_Profile_HR.TranslateString()</a></li>
                    <li><a href="/">@ConstantDisplay.HRM_HR_Profile_ProfileDetail.TranslateString()</a></li>
                    <li class="active" id="profileNameView">
                    </li>
                </ul>
            </h3>
            
            <table cellpadding="0" cellspacing="0" style="vertical-align: top; width: 100%;" class="Hrm_hr_general_table">
                <tr style="height:500px;">
                    <td style="vertical-align: top; width: 250px;height:500px;">
                        <div class="commandToolBarWidge" id="anchor">
                            <div>
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", ImageUrl = ConstantPath.IconAddNewPath })
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnEdit", ImageUrl = ConstantPath.IconEditPath })
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", ImageUrl = ConstantPath.IconDeletePath })
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnRefesh", ImageUrl = ConstantPath.IconRefeshPath })
                            </div>
                        </div>
                        <div style="float:left; width: 250px">
                            @{
                                var org = new TreeViewDropdDownBuilderInfo()
                                {
                                    Name = "ProfileDetail_OrgStructureID",
                                    Width = "250px",
                                };
                            }
                            @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                        </div>
                        <div>
                            @Html.Partial("GridProfile")

                        </div>
                    </td>
                    <td style="vertical-align: top; width: 99%;height:500px;" class="td_general_table">
                        <div>
                            <div id="buttonTop" class="btn-group btn-group-sm btn-group-custom">
                                <button type="button" value="child_Hre" id="InfoPersionalDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_HR.TranslateString()</button>
                                <button type="button" value="child_InfoContact" id="InfoContactDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HR_ContractAndInsurance.TranslateString()</button>
                                <button type="button" value="child_WorkHistory" id="WorkHistoryDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_HRM_WorkHistory.TranslateString()</button>
                                <button type="button" value="child_Att" id="AttendenceDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)"> @ConstantDisplay.HRM_Attendance.TranslateString()</button>
                                <button type="button" value="child_Sal" id="SalaryDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_Payroll.TranslateString()</button>
                                <button type="button" value="child_Eva" id="EvaluationDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_Evaluation_SaleEvaluation_List.TranslateString()</button>
                                <button type="button" value="child_TraAndEva" id="TraAndEvaDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_Evaluation_TraAndEva_List.TranslateString()</button>
                                <button type="button" value="child_Appr" id="ApprDetail" class="btn btn-default btn-custom" onclick="EvenClickBtn(this.value)">@ConstantDisplay.HRM_Evaluation_Eva_List.TranslateString()</button>
                                <div style="float: right; margin: 1px 3px 1px 0; ">
                                    @{
                                        var cutOffDurationName = new DropDownListBuilderInfo()
                                        {
                                            Name = "CutOffDurationID",
                                            DataTextField = "CutOffDurationName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hre_Service + "Att_GetData/GetMultiCutOffDuration",
                                            OptionLabel = ConstantDisplay.HRM_Att_SelectCutOffDuration.TranslateString(),
                                            StyleCss = "width:100%;",
                                            EventChange = "reload"
                                        };
                                    }
                                    @(Html.VnrDropDownList(cutOffDurationName))
                                </div>
                            </div>
                            @Html.Hidden("buttonCurentSelect")
                        </div>
                        <div id="child_Hre">
                            <ul>
                                <li id="HR_ProfileInformationDetail">@ConstantDisplay.HR_ProfileInformation.TranslateString()</li>
                                <li id="HR_ContactInformationDetail">@ConstantDisplay.HR_ContactInformation.TranslateString()</li>
                                <li id="HR_ProfileLaborForeignDetail">@ConstantDisplay.HR_ProfileLaborForeign.TranslateString()</li>
                                <li id="HR_RelativesDetail">@ConstantDisplay.HR_Relatives.TranslateString()</li>
                                <li id="HR_QualificationDetail">@ConstantDisplay.HR_Qualification.TranslateString()</li>
                                <li id="HR_PartyAndUnionDetail">@ConstantDisplay.HR_PartyAndUnion.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_InfoContact" style="display:none">
                            <ul>
                                <li id="HR_ContractDetail">@ConstantDisplay.HR_Contract.TranslateString()</li>
                                <li id="HR_AppendixContractDetail">@ConstantDisplay.HRM_HR_AppendixContract.TranslateString()</li>
                                <li id="HR_InsuranceDetail">@ConstantDisplay.HR_Insurance.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_WorkHistory" style="display:none">
                            <ul>
                                <li id="HR_WorkHistoryDetail">@ConstantDisplay.HR_WorkHistory.TranslateString()</li>
                                <li id="HR_HDTJobDetail">@ConstantDisplay.HR_HDTJob.TranslateString()</li>
                                <li id="HR_RewardDetail">@ConstantDisplay.HR_Reward.TranslateString()</li>
                                <li id="HR_DisciplineDetail">@ConstantDisplay.HR_Discipline.TranslateString()</li>
                                <li id="HR_AccidentDetail">@ConstantDisplay.HR_Accident.TranslateString()</li>
                                <li id="HR_CandidateHistoryDetail">@ConstantDisplay.HR_CandidateHistory.TranslateString()</li>
                                <li id="HR_CardHistoryDetail">@ConstantDisplay.HR_CardHistory.TranslateString()</li>
                                <li id="HR_CongressDeputyDetail">@ConstantDisplay.HR_MP.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_Att" style="display:none">
                            <ul>
                                <li id="Att_TAMScanDetail">@ConstantDisplay.Att_TAMScan.TranslateString()</li>
                                <li id="Att_WorkDayDetail">@ConstantDisplay.Att_WorkDay.TranslateString()</li>
                                <li id="Att_RosterDetail">@ConstantDisplay.Att_Roster.TranslateString()</li>
                                <li id="Att_LeaveDayDetail">@ConstantDisplay.Att_LeaveDay.TranslateString()</li>
                                <li id="Att_CompensationDetail">@ConstantDisplay.HRM_Attendance_CompensationDetailView.TranslateString()</li>
                                <li id="Att_Annualdetail">@ConstantDisplay.HRM_Attendance_AnnualDetailView.TranslateString()</li>
                                <li id="Att_OvertimeDetail">@ConstantDisplay.Att_Overtime.TranslateString()</li>
                                <li id="AttendanceTableDetail">@ConstantDisplay.Att_AttendanceTableDetail.TranslateString()</li>
                                <li id="Att_GradeDetail">@ConstantDisplay.Att_Grade.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_Sal" style="display:none">
                            <ul>
                                <li id="Sal_SalaryInfoDetail">@ConstantDisplay.Sal_SalaryInfo.TranslateString()</li>
                                <li id="Sal_BasicSalaryTabDetail">@ConstantDisplay.Sal_BasicSalaryTab.TranslateString()</li>
                                <li id="Sal_DependantDetail">@ConstantDisplay.HR_Dependant.TranslateString()</li>
                                <li id="Sal_GradeAndAllowanceDetail">@ConstantDisplay.Sal_GradeAndAllowance.TranslateString()</li>
                                <li id="Sal_UnsualAllowanceTXDetail">@ConstantDisplay.Sal_UnsualAllowanceTX.TranslateString()</li>
                                <li id="Sal_UnsualAllowanceBTDetail">@ConstantDisplay.Sal_UnsualAllowanceBT.TranslateString()</li>
                                <li id="Sal_UnusualEDChildCareDetail">@ConstantDisplay.Hre_UnusualEDChildCare.TranslateString()</li>
                                <li id="Sal_UnusualAllowanceDetail">@ConstantDisplay.Hre_UnusualAllowance.TranslateString()</li>
                                <li id="Sal_UnusualPayDetail">@ConstantDisplay.Hre_UnusualPay.TranslateString()</li>
                                <li id="Sal_PaysCommission">@ConstantDisplay.HRM_Category_GradePayroll_IsCommissionSalary.TranslateString()</li>
                                <li id="Sal_PayslipsDetail">@ConstantDisplay.Sal_Payslips.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_Eva" style="display:none">
                            <ul>
                                <li id="Eva_SaleOutDetail">Doanh Số Mua Vào Và Bán Ra @*@ConstantDisplay.Eva_SaleOut.TranslateString()*@</li>
                                <li id="Eva_Sale4SDetail">@ConstantDisplay.Eva_Sale4S.TranslateString()</li>
                            </ul>
                            @*<div></div>*@
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_TraAndEva" style="display:none">
                            <ul>
                                <li id="Eva_TrainningResultDetail">@ConstantDisplay.HRM_TrainningResult.TranslateString()</li>
                               @*<li id="Eva_EvaResultDetail">@ConstantDisplay.HRM_EvaResult.TranslateString()</li>*@
                            </ul>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="child_Appr" style="display:none">
                            <ul>                              
                                <li id="Eva_EvaResultDetail">@ConstantDisplay.HRM_EvaResult.TranslateString()</li>
                            </ul>
                            <div></div>
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div data-role="toolbar" id="Text111111" class="k-toolbar k-widget k-toolbar-resizable" data-uid="65034744-fb88-4854-95f2-642d004914c0"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    //lưu id profile is selected
    var SelectID = "";
    //lưu tabid is selected
    var tabID = "child_Hre-1";
    //lưu giá trị của các btn cha để ẩn hiện các tabbar con tương ứng với btn
    var isSelectTabId = "child_Hre";
    //Biến static dùng để lưu dữ liệu giữa 2 page
    var tabIndex = 0;

    //Biến lưu lại các Enum quyền của từng tabstrip
    var ArrayPermission = ['InfoPersionalDetail', 'InfoContactDetail', 'WorkHistoryDetail', 'AttendenceDetail', 'SalaryDetail',
        'EvaluationDetail', 'TraAndEvaDetail', 'HR_ProfileInformationDetail',
        'HR_ContactInformationDetail', 'HR_ProfileLaborForeignDetail', 'HR_RelativesDetail', 'HR_QualificationDetail',
        'HR_PartyAndUnionDetail', 'HR_ContractDetail', 'HR_AppendixContractDetail', 'HR_InsuranceDetail', 'HR_WorkHistoryDetail', 'HR_HDTJobDetail',
        'HR_RewardDetail', 'HR_DisciplineDetail', 'HR_AccidentDetail', 'HR_CandidateHistoryDetail', 'HR_CardHistoryDetail',
        'Att_TAMScanDetail', 'Att_WorkDayDetail', 'Att_RosterDetail', 'Att_LeaveDayDetail', 'Att_OvertimeDetail', 'AttendanceTableDetail',
        'Att_GradeDetail', 'Sal_SalaryInfoDetail', 'Sal_BasicSalaryTabDetail', 'Sal_DependantDetail', 'Sal_GradeAndAllowanceDetail',
        'Sal_UnsualAllowanceTXDetail', 'Sal_UnsualAllowanceBTDetail', 'Sal_UnusualEDChildCareDetail', 'Sal_UnusualAllowanceDetail',
        'Sal_UnusualPayDetail', 'Sal_PaysCommission', 'Sal_PayslipsDetail', 'Eva_SaleOutDetail', 'Eva_Sale4SDetail', 'Eva_TrainningResultDetail',
        'Eva_EvaResultDetail', 'HR_CongressDeputyDetail'];

    //Phân quyền ẩn hiển các tabstrip
    $(document).ready(function () {
        $.ajax({
            url:'@_hrm_Main_Web' +'/Home/GetPermissionForGeneralProfile',
            type: 'POST',
            success: function (data) {
                if (data.length > 0)
                {
                    for (var i = 0; i < ArrayPermission.length; i++)
                    {
                        if (data.indexOf(ArrayPermission[i]) == -1)
                        {
                            var _tmp = $('#' + ArrayPermission[i]);
                            $('#' + ArrayPermission[i]).attr("style", "display:none");
                        }
                    }
                }
            },
            error: function (data) {
              
            }
        });

    
        //select default tab
        setTimeout(function () {
            //var ModuleValue = location.href.split('/');
            //$("#" + ModuleValue[ModuleValue.length - 1].replace("#NewTab", "")).click();

            //var tabStripID = $("#" + ModuleValue[ModuleValue.length - 1].replace("#NewTab", "")).val();
            //var tabStrip = $("#" + tabStripID).kendoTabStrip().data("kendoTabStrip");
            //tabStrip.select(0);

            //tabID = $("#" + ModuleValue[ModuleValue.length - 1].replace("#NewTab", "")).val() + "-1";
            //LoadForm();

            $('#InfoPersionalDetail').click();
        }, 500);

    });

   


    //Biến lưu tạm các tabindex con đang được chọn để load lại khi quay lại tab cha
    var IndexHre = 0;
    var IndexAtt = 0;
    var IndexHistory = 0;
    var IndexInfoContact = 0;
    var IndexEvaluation = 0;
    var IndexTraAndEva = 0;
    var IndexAppr = 0;
    var IndexSal = 0;

    //Array để lưu tất cả các tab
    var arrChildTab = [["child_Hre-1", ""], ["child_Hre-2", ""],
     ["child_Hre-3", ""], ["child_Hre-4", ""],
     ["child_Hre-5", ""], ["child_Hre-6", ""],
     ["child_InfoContact-1", ""], ["child_InfoContact-2", ""], ["child_InfoContact-3", ""],
     ["child_WorkHistory-1", ""], ["child_WorkHistory-2", ""], ["child_WorkHistory-3", ""], ["child_WorkHistory-4", ""],
     ["child_WorkHistory-5", ""], ["child_WorkHistory-6", ""], ["child_WorkHistory-7", ""], ["child_WorkHistory-8", ""],
     ["child_Att-1", ""], ["child_Att-2", ""], ["child_Att-3", ""],
     ["child_Att-4", ""], ["child_Att-5", ""], ["child_Att-6", ""], ["child_Att-7", ""], ["child_Att-8", ""], ["child_Att-9", ""],
     ["child_Sal-1", ""], ["child_Sal-2", ""], ["child_Sal-3", ""], ["child_Sal-4", ""], ["child_Sal-5", ""], ["child_Sal-6", ""],
     ["child_Sal-7", ""], ["child_Sal-8", ""], ["child_Sal-9", ""], ["child_Sal-10", ""], ["child_Sal-11", ""],
     ["child_Eva-1", ""], ["child_Eva-2", ""], ["child_TraAndEva-1", ""], ["child_Appr-1", ""]];


    //Init các tabstrip
    $("#child_Hre").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_InfoContact").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_WorkHistory").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_Att").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_Sal").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_Eva").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_TraAndEva").kendoTabStrip({ select: onSelect, animation: false });
    $("#child_Appr").kendoTabStrip({ select: onSelect, animation: false });


    //Xử lý đổi backgroud cho button khi button được chọn
    $(function () {
        $('#buttonTop button').click(function () {
            var removeId = $("#buttonCurentSelect").val();
            if (removeId != '') {
                $("#" + removeId).removeClass('curentSelected');
            }
            $(this).addClass('curentSelected');
            $("#buttonCurentSelect").val(this.id);
        })
    });

    //even select in tabstrip
    function onSelect(e) {
        var ParentTab = e.sender._ariaId.replace("_ts_active", "");
        if (ParentTab == "child_Hre") {
            IndexHre = e.contentElement.id.replace("child_Hre-", "");
        }
        else if (ParentTab == "child_InfoContact") {
            IndexInfoContact = e.contentElement.id.replace("child_InfoContact-", "");
        }
        else if (ParentTab == "child_WorkHistory") {
            IndexHistory = e.contentElement.id.replace("child_WorkHistory-", "");
        }
        else if (ParentTab == "child_Att") {
            IndexAtt = e.contentElement.id.replace("child_Att-", "");
        } else if (ParentTab == "child_Sal") {
            IndexSal = e.contentElement.id.replace("child_Sal-", "");
        }
        else if (ParentTab == "child_Eva") {
            IndexEvaluation = e.contentElement.id.replace("child_Eva-", "");
        }
        else if (ParentTab == "child_TraAndEva") {
            IndexTraAndEva = e.contentElement.id.replace("child_TraAndEva-", "");
        }
        else if (ParentTab == "child_Appr") {
            IndexAppr = e.contentElement.id.replace("child_Appr-", "");
        }

        if (IsFormLoaded(e.contentElement.id)) {
            tabID = e.contentElement.id;
            if (ParentTab == "child_Att")
                LoadForm();
            return;
        }

        //Get tab id is select
        tabID = e.contentElement.id;
        LoadForm();
    };
    var profileId = $("#" + '@ConstantDisplay.HRM_HR_GeneralProfile_H_IdProfile').val();

    //Hàm trả về chuỗi url post action
    function FindPostUrl(tabid) {
        switch (tabid) {
            // Tab Nhân sự
            case "child_Hre-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileBasicView";
                break;
                @*case "child_Hre-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfilePersonalView/";
                break;*@
                @*case "child_Hre-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileWorkHistoryView/";
                break;*@
            case "child_Hre-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileContactView/";
                break;

                @*case "child_Hre-5":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileQuitView/";
                break;*@
            case "child_Hre-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileLaborForeignView/";
                break;
            case "child_Hre-4":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileRelativeView/";
                break;
                @*case "child_Hre-7":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileInsuranceView/";
                break;*@
            case "child_Hre-5":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileQualificationView/";
                break;
            case "child_Hre-6":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_PartyAndUnionView/" + profileId;
                break;

                // Tab Hợp đồng & Bảo hiểm
            case "child_InfoContact-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_Contract/";
                break;           
            case "child_InfoContact-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_AppendixContractView/";
                break;
            case "child_InfoContact-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileInsuranceView/";
                break;
                //Qua trinh cong tac
            case "child_WorkHistory-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileWorkHistoryView/";
                break;
            case "child_WorkHistory-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_HDTJob/";
                break;
                @*case "child_WorkHistory-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileProcessWorkView/";
                break;*@
            case "child_WorkHistory-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_RewardView/";
                break;
            case "child_WorkHistory-4":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_DisciplineView/";
                break;
            case "child_WorkHistory-5":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_AccidentView/";
                break;
            case "child_WorkHistory-6":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_CandidateHistoryView/";
                break;
            case "child_WorkHistory-7":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_CardHistory/";
                break;
            case "child_WorkHistory-8":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileMPView/";
                break;
                //End

                @*case "child_WorkHistory-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_CardHistory/";
                break;*@
                // Tab Chấm Công
            case "child_Att-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_TAMScanLogView/";
                break;
            case "child_Att-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_WorkDayView/";
                break;
            case "child_Att-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_RosterView/";
                break;
            case "child_Att-4":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_LeaveDayView/";
                break;
            case "child_Att-5":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_CompensationDetailView/";
                break;
            case "child_Att-6":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_AnnualDetailView/";
                break;
            case "child_Att-7":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_OvertimeView/";
                break;
            case "child_Att-8":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileAttendanceDetail/";
                break;
            case "child_Att-9":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileGradeAttendance/";
                break;

                // Lương
            case "child_Sal-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_SalaryInformationView/";
                break;
            case "child_Sal-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_BasicSalary/";
                break;
            case "child_Sal-3":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileDependantView/";
                break;
            case "child_Sal-4":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_GradeAndAllowance/";
                break;
            case "child_Sal-5":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_UnusualED/";
                break;
            case "child_Sal-6":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_UnusualAllowanceED/";
                break;
            case "child_Sal-7":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_UnusualEDChildCareView/";
                break;
            case "child_Sal-8":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_UnusualAllowanceView/";
                break;
            case "child_Sal-9":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_UnusualPay/";
                break;
            case "child_Sal-10":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_PaysCommission/";
                break;
            case "child_Sal-11":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_Paysips/";
                break;



                // Tab Đánh giá
            @*case "child_Eva-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_SaleEvaluation/";
                break;*@
            case "child_Eva-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_SaleEvaluationOut/";
                break;
            case "child_Eva-2":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_SaleEvaluation4S/";
                break;

            case "child_TraAndEva-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_TrainningResultView/";
                break;

            case "child_Appr-1":
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_PerformanceResultView/";
                break;

            default:
                return '@_hrm_Main_Web' + "Hre_Profile/Hre_ProfileBasicView";
        }

    };


    //Load content cho tab đang select
    function LoadForm() {
        //Loại bỏ lần load đầu tiên khi tabIndex==0
        if (tabID.split(/[\s-]+/)[tabID.split(/[\s-]+/).length - 1] == "0")
        {
            tabID = tabID.replace('-0', '-1');
        }

        //Mở hiệu ứng load form
        ShowHre_ProgressBar();

        var url = FindPostUrl(tabID);
        $.ajax({
            url: url,
            data: { id: SelectID },
            type: 'POST',
            async: false,
            success: function (data) {
                $("#" + tabID).html(data);
                CloseHre_ProgressBar();
            },
            error: function (data) {
                CloseHre_ProgressBar();
            }
        });
    };

    //Mo cac tab mat dinh khi chhua chon tab nao
    function OpenFirstTab(tabstripID) {
        var tabs = $("#" + tabstripID).data("kendoTabStrip");
        var index = tabs.select().index();
        //Neu chua chon tab nao thi load tab mat dinh len
        if (index == -1) {
            tabID = tabstripID + '-1';
            tabs.select(0);
            LoadForm();
        }
    };

    //Xử lý ẩn hiện tabbar khi click btn
    function EvenClickBtn(id) {
        OpenFirstTab(id);
        debugger;
        if (id != isSelectTabId) {
            $("#" + isSelectTabId).hide();
            $("#" + id).show();
            isSelectTabId = id;

            //auto select first child tab
            //var tabStrip = $("#" + id).kendoTabStrip().data("kendoTabStrip");
            //tabStrip.select(0);
        }
        debugger;
        //lấy lại tab Index đã lưu trong sự kiện changetab
        UpdateTabIndex();

        //kiểm tra xem đã load


        //Kiểm tra xem trong quá khứ đã load form này chưa
        if (IsFormLoaded(isSelectTabId + "-" + tabIndex)) {
            return;
        }

        //load lại form tương tứng
        if (tabIndex != -1) {
            tabID = isSelectTabId + "-" + tabIndex;
            LoadForm();
        }
    };

    //lấy lại tab Index đã lưu trong sự kiện changetab
    function UpdateTabIndex() {
        //lấy lại tab Index đã lưu trong sự kiện changetab
        if (isSelectTabId == "child_Hre") {
            tabIndex = IndexHre;
        }
        else if (isSelectTabId == "child_InfoContact") {
            tabIndex = IndexInfoContact;
        }
        else if (isSelectTabId == "child_WorkHistory") {
            tabIndex = IndexHistory;
        }
        else if (isSelectTabId == "child_Att") {
            tabIndex = IndexAtt;
        }
        else if (isSelectTabId == "child_Sal") {
            tabIndex = IndexSal;
        }
        else if (isSelectTabId == "child_Eva") {
            tabIndex = IndexEvaluation;
        }
        else if (isSelectTabId == "child_TraAndEva") {
            tabIndex = IndexTraAndEva;
        }
        else if (isSelectTabId == "child_Appr") {
            tabIndex = IndexAppr;
        }
    };

    //Kiểm tra xem tab đã được load tương ứng với profile đang select hay chưa
    //nếu chưa thì gán lại profileid cho tab đó luôn
    function IsFormLoaded(tabid) {
        for (var i = 0; i < arrChildTab.length; i++) {
            if (arrChildTab[i][0] == tabid)
            {
                if (arrChildTab[i][1] == SelectID)
                    return true;
                //Gán id vào tab và trả về false để load dữ liệu cho tab
                arrChildTab[i][1] = SelectID;
                return false;
            }
        }
    }

</script>

<style>
    .textbox {
        background: white;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        color: #2e2e2e;
        outline: none;
        height: 25px;
        width: 260px;
        position: relative;
        z-index: 0;
        padding-left: 5px;
    }
</style>


