@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@model ItemTrackingModel
@{
    ViewBag.Title = "ItemTracking";
    Layout = null;
    string _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    string _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    function filterFieldInfo() {
        return {
            Name: $('#Name').val(),
        };
    }
    $("#btnSearch").click(function () {
        ReadGrid("gridItemTracking");
    });
</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div>
                    <div class="contendSearchWidge" style="overflow:visible">
                        <div>
                            <div class="hrm_box">
                                <div>
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.Name)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var tableName = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "Name",
                                                DataValueField = "Name",
                                                StyleCss = "width:300px",
                                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiObjectName",
                                                Placeholder = ConstantDisplay.HRM_Category_Cat_Import_ObjectName.TranslateString(),
                                            };
                                        }
                                        @Html.VnrComboBoxFor(mode => mode.Name, tableName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
        </div>
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var grid = new GridBuilderInfo
        {
            Name = "gridItemTracking",
            ShowCommand = true,
            ShowEditIcon = false,
            AutoBind = true,
            ShowDeleteButton = true,
            ShowEditButton = true,
            ReadData = "filterFieldInfo",
            EditMode = GridEditMode.InLine,
            EditActionUrl = _hrm_Sys_Web + "Sys_ItemTracking/SaveItemTracking/",
            ReadActionUrl = _hrm_Sys_Service + "Sys_GetData/GetItemTrackingList/",
        };

        grid.ValueFields = new[]
        {
            ItemTrackingModel.FieldNames.Alias,
            ItemTrackingModel.FieldNames.Name,
            ItemTrackingModel.FieldNames.CodeField,
            ItemTrackingModel.FieldNames.NameField,
            ItemTrackingModel.FieldNames.Create,
            ItemTrackingModel.FieldNames.Update,
        };
        grid.DisableFields = new[]
        {
            ItemTrackingModel.FieldNames.Alias,
            ItemTrackingModel.FieldNames.Name,
        };
        grid.DisplayFields = new Dictionary<string, string>()
        {
            {ItemTrackingModel.FieldNames.Alias, ItemTrackingModel.FieldNames.Alias.TranslateString()},
            {ItemTrackingModel.FieldNames.Name, ItemTrackingModel.FieldNames.Name.TranslateString()},
            {ItemTrackingModel.FieldNames.CodeField, ItemTrackingModel.FieldNames.CodeField.TranslateString()},
            {ItemTrackingModel.FieldNames.NameField, ItemTrackingModel.FieldNames.NameField.TranslateString()},
            {ItemTrackingModel.FieldNames.Create, ItemTrackingModel.FieldNames.Create.TranslateString()},
            {ItemTrackingModel.FieldNames.Update, ItemTrackingModel.FieldNames.Update.TranslateString()},
        };
    }

    @(Html.VnrGrid<ItemTrackingModel>(grid))
</div>

