@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Presentation.Recruitment.Models
@model Rec_RelativeModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var CandidateID = Guid.Empty;
    if (ViewData["CandidateID"] != null)
    {
        CandidateID = Common.ConvertToGuid(ViewData["CandidateID"].ToString());
    }
    if (Model != null && Model.CandidateID.HasValue)
    { 
        CandidateID = Model.CandidateID.Value;
    }

}
<script>
    SetFieldRequiredByScreenName('Rec_Relative');
    SetFieldRequired();

    $(document).ready(function () {

    })
    function SetValue() {
        $("#Type").val('@RelativeType.E_SUPPLIER.ToString()');
        $("#CandidateID").val('@CandidateID');
        $("#RelativeSupplier_CompanyName1").val($("#RelativeSupplier_CompanyName").val());
        $("#RelativeSupplier_RelativeName1").val($("#RelativeSupplier_RelativeName").val());

    }

    function onSave() {
        SetValue();
        onSaveAndContinue($('#form_Rec_RelativeSupplier'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeSupplier', 'windowRelativeSupplier');
    }

    function onSaveClose() {
        SetValue();
        onSaveAndClose($('#form_Rec_RelativeSupplier'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeSupplier', 'windowRelativeSupplier');
    }

    function onSaveDataPopUp() {
        SetValue();
        onlySave($('#form_Rec_RelativeSupplier'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeSupplier');
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RelativeSupplier" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(mode => mode.CandidateID)
    @Html.HiddenFor(mode => mode.Type)
    @Html.HiddenFor(mode => mode.CompanyName, new { id = "RelativeSupplier_CompanyName1" })
    @Html.HiddenFor(mode => mode.RelativeName, new { id = "RelativeSupplier_RelativeName1" })

    <table>
        <tr>
            <td>
                <div style="display:block">


                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.CompanyName)
                        </div>
                        <div class="FieldValue">
                            @{
                        var txtCompanyName = new TextBoxBuilderInfo()
                        {
                            Width=300,
                            Name = "RelativeSupplier_CompanyName",
                            Value=Model!=null?Model.CompanyName:null
                        };
                            }
                            @Html.VnrTextBoxFor(mode => mode.CompanyName,txtCompanyName)
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.RelativeName)
                        </div>
                        <div class="FieldValue">
                            @{
                                var txtRelativeName = new TextBoxBuilderInfo()
                                {
                                    Width = 300,
                                    
                                    Name = "RelativeSupplier_RelativeName",
                                    Value = Model != null ? Model.RelativeName : null
                                };
                            }
                            @Html.VnrTextBoxFor(mode => mode.RelativeName, txtRelativeName)
                        </div>

                        <div style="clear: both;"></div>
                    </div>

                </div>

            </td>

        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-RelativeSupplier", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-RelativeSupplier", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-RelativeSupplier", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

