@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Presentation.Recruitment.Models
@model Rec_RelativeModel

@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var CandidateID = Guid.Empty;
    if (ViewData["CandidateID"] != null)
    {
        CandidateID = Common.ConvertToGuid(ViewData["CandidateID"].ToString());
    }
    if (Model != null && Model.CandidateID.HasValue)
    {
        CandidateID = Model.CandidateID.Value;
    }
   IEnumerable lstNameEntity = null;
        if(Model!=null)
        {
            lstNameEntity = new[] { new { NameEntityName = Model.RelationshipName, ID = Model.RelationshipID } };
            
        }

}
<script>
    SetFieldRequiredByScreenName('Rec_Relative');
    function Setvalue() {
        $("#RelativeOpponent_RelationshipID1").val($("#RelativeOpponent_RelationshipID").val());
        $("#RelativeOpponent_Type").val('@RelativeType.E_OPPONENT.ToString()');
        $("#CandidateID").val('@CandidateID');
        $("#RelativeOpponent_CompanyName1").val($("#RelativeOpponent_CompanyName").val());
        $("#RelativeOpponent_RelativeName1").val($("#RelativeOpponent_RelativeName").val());
        $("#RelativeOpponent_DateOrBirth1").val($("#RelativeOpponent_DateOrBirth").val());
    }
    $(document).ready(function () {
        
    })
    function onSave() {
        Setvalue();
        onSaveAndContinue($('#form_Rec_RelativeOpponent'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeOpponent', 'windowRelativeOpponent');
    }

    function onSaveClose() {
        Setvalue();
        onSaveAndClose($('#form_Rec_RelativeOpponent'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeOpponent', 'windowRelativeOpponent');
    }

    function onSaveDataPopUp() {
        Setvalue();
        onlySave($('#form_Rec_RelativeOpponent'), '@_hrm_Hre_Service', 'api/Rec_Relative/', 'gridRelativeOpponent');
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RelativeOpponent" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Type, new { id = "RelativeOpponent_Type" })
    @Html.HiddenFor(mode => mode.CandidateID)
     @Html.HiddenFor(mode => mode.CompanyName, new { id = "RelativeOpponent_CompanyName1" })
    @Html.HiddenFor(mode => mode.RelativeName, new { id = "RelativeOpponent_RelativeName1" })
    @Html.HiddenFor(mode => mode.DateOrBirth, new { id = "RelativeOpponent_DateOrBirth1" })
   
    <table>
        <tr>
            <td>
                <div style="display:block">
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.RelativeName)
                        </div>
                        <div class="FieldValue">
                           @{
                            var txtRelativeName = new TextBoxBuilderInfo()
                            {
                                Width=300,
                                Name = "RelativeOpponent_RelativeName",
                                Value = Model != null ? Model.RelativeName : null
                            };
                        }
                        @Html.VnrTextBoxFor(mode => mode.RelativeName, txtRelativeName)
                        </div>

                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.RelationshipID)
                        </div>
                        <div class="FieldValue">
                            @{
                            var RelationshipID = new MultiSelectBuilderInfo()
                            {

                                Name = "RelativeOpponent_RelationshipID",
                                DataTextField = "NameEntityName",
                                DataValueField = "ID",
                                Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiCatNameEntityByType?Type=" + HRM.Infrastructure.Utilities.EnumDropDown.EntityType.E_DEPENDANT_TYPE.ToString(),
                                Placeholder = ConstantDisplay.HRM_HR_SelectRelativeType.TranslateString(),
                                MaxSelectedItems = 1,
                                Width = 300,
                                Value = lstNameEntity
                            };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.RelationshipID, RelationshipID)@Html.HiddenFor(model => model.RelationshipID, new { id = "RelativeOpponent_RelationshipID1" })
                        </div>
                    </div>

                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.CompanyName)
                        </div>
                        <div class="FieldValue">
                            @{
                                var txtCompanyName = new TextBoxBuilderInfo()
                                {
                                    Width = 300,
                                    
                                    Name = "RelativeOpponent_CompanyName",
                                    Value = Model != null ? Model.CompanyName : null
                                };
                            }
                            @Html.VnrTextBoxFor(mode => mode.CompanyName, txtCompanyName)
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.DateOrBirth)
                        </div>
                        <div class="FieldValue">
                           @Html.Kendo().MaskedTextBoxFor(model => model.DateOrBirth).Mask("0000").HtmlAttributes(new { style = "width:100px", id = "RelativeOpponent_DateOrBirth" })
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                   
                </div>

            </td>

        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-RelativeOpponent", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-RelativeOpponent", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-RelativeOpponent", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

