@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities
@using System.Collections

@model HRM.Presentation.Hr.Models.Hre_AppendixContractModel

@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@Html.ValidationSummary(false)
@Html.AntiForgeryToken()
<script>
    //$(document).ready(function () {
    //    $("#AppendixCreateBasicSalary").click(function () {
    //        return false;
    //    });
    //});<script>
    SetFieldRequired();
    function onSave() {
        if (AppendixCreateBasicSalary != null && AppendixCreateBasicSalary.checked) {
            $("#AppendixCreateBasicSalary").val("true");
        } else {
            $("#AppendixCreateBasicSalary").val("false");
        }
        onlySave($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_AppendixContract/', 'gridHre_AppendixContract', 'popupNotification');
        return false;
    }
</script>
<table style="width:100%">
    <tbody>
        <tr>
            <td valign="top">
                <fieldset>
                    <legend>
                        @ConstantDisplay.HRM_HR_ContractCondition.TranslateString()
                    </legend>
                    <div class="hrm_box">
                        <div>
                            @Html.HiddenFor(mode => mode.ID)
                            @Html.HiddenFor(m => m.ContractID)
                        </div>

                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileName)
                            </div>
                            <div class="FieldValueView">
                                @Html.DisplayFor(mode => mode.ProfileName)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ContractNo)
                            </div>
                            <div class="FieldValueView" style="width:200px;height:27px">
                                @Html.DisplayFor(Mode => Mode.ContractNo)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div5" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.JobTitleID)
                            </div>
                            <div class="FieldValue">
                                <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                @{
                                    IEnumerable valuejobTitle = new string[] { };
                                    if (Model != null)
                                    {
                                        valuejobTitle = new[] { new { JobTitleName = Model.JobTitleName, ID = Model.JobTitleID } };
                                    }
                                }
                                @{
                                    var jobTitleID = new MultiSelectBuilderInfo
                                    {
                                        Name = "AppendixContractInfo_JobTitleID",
                                        DataTextField = "JobTitleName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                        MaxSelectedItems = 1,
                                        Width = 200,
                                        Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                        Value = valuejobTitle
                                    };
                                }
                                @Html.VnrMultiSelectFor(mode => mode.JobTitleID, jobTitleID)
                            </div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">

                                @Html.VnrLabelFor(mode => mode.Code)
                            </div>
                            <div class="FieldValue">
                                @(Html.VnrTextBoxFor(model => model.Code))
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateofEffect)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var dateofEffect = new DatePickerBuilderInfo()
                                    {
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateofEffect, dateofEffect)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div10" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateAuthorize)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateAuthorize = new DatePickerBuilderInfo()
                                    {
                                        Name = "AppendixContractInfo_DateAuthorize"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateAuthorize, DateAuthorize)
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.WorkPlaceID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _workplaceName = new ComboBoxBuilderInfo()
                                    {
                                        DataTextField = "WorkPlaceName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hr_Service + "Cat_GetData/GetMultiWorkPlace",
                                        StyleCss = "width:150px;",
                                        Value = Model == null ? string.Empty : Model.WorkPlaceID.ToString(),
                                        Autobind = true
                                    };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.WorkPlaceID, _workplaceName).Text(Model == null ? string.Empty : Model.WorkPlaceName))
                            </div>
                        </div>
                    </div>
                    <div class="hrm_box">
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AppendixContractTypeID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var ContractType = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "AppendixContractName",
                                        DataValueField = "ID",
                                        Autobind = true,
                                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiAppendixContractType",
                                        Placeholder = ConstantDisplay.HRM_Category_SelectContractType.TranslateString(),
                                        ServerFiltering = true,
                                        MaxSelectedItems = 1,
                                        MinLength = 2,
                                        Width = 200,
                                        Value = new string[] { @Html.DisplayFor(mode => mode.AppendixContractTypeID).ToString() }
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.AppendixContractTypeID, ContractType))
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div11" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.PositionID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    IEnumerable valuePosition = new string[] { };
                                    if (Model != null)
                                    {
                                        valuePosition = new[] { new { PositionName = Model.PositionName, ID = Model.PositionID } };
                                    }
                                }
                                @{
                                    var positionID = new MultiSelectBuilderInfo()
                                    {
                                        Name = "AppendixContractInfo_PositionID",
                                        DataTextField = "PositionName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hr_Service + "Cat_GetData/GetMultiPosition",
                                        MaxSelectedItems = 1,
                                        Width = 200,
                                        Placeholder = ConstantDisplay.HRM_Category_SelectPosition.TranslateString(),
                                        Value = valuePosition
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.PositionID, positionID))

                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateSignedAppendixContract)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var dateSignedAppendixContract = new DatePickerBuilderInfo()
                                    {
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateSignedAppendixContract, dateSignedAppendixContract)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateEndAppendixContract)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var dateEndAppendixContract = new DatePickerBuilderInfo()
                                    {
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateEndAppendixContract, dateEndAppendixContract)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.HourWorkInMonth)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var HourWorkInMonth = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "AppendixContractInfo_HourWorkInMonth",
                                        StyleCss = "width:100px",
                                        Format = ConstantFormat.HRM_Format_Number_Double
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.HourWorkInMonth, HourWorkInMonth)
                            </div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.KPI)
                            </div>
                            <div class="FieldValue">
                                @(Html.VnrTextBoxFor(model => model.KPI))
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <fieldset>
                    <legend>
                        @ConstantDisplay.HRM_HR_SalaryContractInformation.TranslateString()
                    </legend>
                    <div class="hrm_box">
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Bonus)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var Bonus = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:100px",
                                        Format = ConstantFormat.HRM_Format_Money
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.Bonus, Bonus)
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Amount)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var amount = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Format = ConstantFormat.HRM_Format_Money
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.Amount, amount)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Salary)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var Salary = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "AppendixContractInfo_Salary",
                                        StyleCss = "width:150px",
                                        Format = ConstantFormat.HRM_Format_Money
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.Salary, Salary)
                            </div>
                            <div style="float: left; padding-left: 2px">
                                @{
                                    var CurrencyName = new ComboBoxBuilderInfo()
                                    {
                                        Name = "AppendixContractInfo_CurenncyID",
                                        DataTextField = "CurrencyName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                        StyleCss = "width:60px;",
                                        Value = Model == null ? string.Empty : Model.CurenncyID.ToString(),
                                        Autobind = true
                                    };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.CurenncyID, CurrencyName).Text(Model == null ? string.Empty : Model.CurrencySalName))
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                            </div>
                            <div class="FieldValue">
                                @{
                                    var AppendixCreateBasicSalary = new CheckBoxBuilderInfo()
                                    {
                                    };
                                    if (Model != null)
                                    {
                                        if (Model.AppendixCreateBasicSalary == true)
                                        {
                                            AppendixCreateBasicSalary.Value = true;
                                        }
                                        else
                                        {
                                            AppendixCreateBasicSalary.Value = false;
                                        }
                                    }
                                }
                                @Html.VnrCheckBoxFor(model => model.AppendixCreateBasicSalary, AppendixCreateBasicSalary)
                                @Html.VnrLabel(ConstantDisplay.HRM_HR_Contract_CreateBasicSalary.TranslateString())
                            </div>
                        </div>

                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.InsuranceAmount)
                            </div>
                            <div class="FieldValue">
                                <div style="float:left">
                                    @{
                                        var InsuranceAmount = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Name = "AppendixContractInfo_InsuranceAmount",
                                            StyleCss = "width:150px",
                                            Format = ConstantFormat.HRM_Format_Money
                                        };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.InsuranceAmount, InsuranceAmount)
                                </div>
                                <div style="float: left; padding-left: 2px">
                                    @{
                                        var CurenncyInsName = new ComboBoxBuilderInfo()
                                        {
                                            Name = "AppendixContractInfo_CurenncyID1",
                                            DataTextField = "CurrencyName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                            StyleCss = "width:60px;",
                                            Value = Model == null ? string.Empty : Model.CurenncyID1.ToString(),
                                            Autobind = true
                                        };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.CurenncyID1, CurenncyInsName).Text(Model == null ? string.Empty : Model.CurenncyInsName))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left; padding-right:100px">
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Allowance1)
                            </div>
                            <div class="FieldValue">
                                <div style="float:left">
                                    @{
                                        var AllowanceID1Name = new ComboBoxBuilderInfo()
                                        {
                                            Name = "AppendixContractInfo_AllowanceID1",
                                            DataTextField = "UsualAllowanceName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                            StyleCss = "width:150px;",
                                            Value = Model == null ? string.Empty : Model.AllowanceID1.ToString(),
                                            Autobind = true
                                        };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.AllowanceID1, AllowanceID1Name).Text(Model == null ? string.Empty : Model.AllowanceID1Name))

                                </div>
                                <div style="float: left; padding-left: 2px">
                                    @{
                                        var Allowance1 = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Name = "AppendixContractInfo_Allowance1",
                                            StyleCss = "width:90px",
                                            Format = ConstantFormat.HRM_Format_Money
                                        };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.Allowance1, Allowance1)
                                </div>
                                <div style="float: left; padding-left: 2px">
                                    @{
                                        var CurenncyID2Name = new ComboBoxBuilderInfo()
                                        {
                                            Name = "AppendixContractInfo_CurenncyID2",
                                            DataTextField = "CurrencyName",
                                            DataValueField = "ID",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                            StyleCss = "width:60px;",
                                            Value = Model == null ? string.Empty : Model.CurenncyID2.ToString(),
                                            Autobind = true
                                        };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.CurenncyID2, CurenncyID2Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance1Name))
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Allowance2)
                            </div>
                            <div class="FieldValue">
                                <div>
                                    <div style="float:left">
                                        @{
                                            var AllowanceID2Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "AppendixContractInfo_AllowanceID2",
                                                DataTextField = "UsualAllowanceName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                StyleCss = "width:150px;",
                                                Value = Model == null ? string.Empty : Model.AllowanceID2.ToString(),
                                                Autobind = true
                                            };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.AllowanceID2, AllowanceID2Name).Text(Model == null ? string.Empty : Model.AllowanceID2Name))
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var Allowance2 = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "AppendixContractInfo_Allowance2",
                                                StyleCss = "width:90px",
                                                Format = ConstantFormat.HRM_Format_Money
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.Allowance2, Allowance2)
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var CurenncyAllowance2Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "AppendixContractInfo_CurenncyID3",
                                                DataTextField = "CurrencyName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                StyleCss = "width:60px;",
                                                Value = Model == null ? string.Empty : Model.CurenncyID3.ToString(),
                                                Autobind = true
                                            };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.CurenncyID3, CurenncyAllowance2Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance2Name))

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Allowance3)
                            </div>
                            <div class="FieldValue">
                                <div>
                                    <div>
                                        <div style="float:left">
                                            @{
                                                var AllowanceID3Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "AppendixContractInfo_AllowanceID3",
                                                    DataTextField = "UsualAllowanceName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                    StyleCss = "width:150px;",
                                                    Value = Model == null ? string.Empty : Model.AllowanceID3.ToString(),
                                                    Autobind = true
                                                };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.AllowanceID3, AllowanceID3Name).Text(Model == null ? string.Empty : Model.AllowanceID3Name))

                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                                var Allowance3 = new NumericTextBoxBuilderInfo<double>()
                                                {
                                                    Name = "AppendixContractInfo_Allowance3",
                                                    StyleCss = "width:90px",
                                                    Format = ConstantFormat.HRM_Format_Money
                                                };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.Allowance3, Allowance3)
                                        </div>
                                        <div style="float: left; padding-left: 2px">
                                            @{
                                                var CurenncyAllowance3Name = new ComboBoxBuilderInfo()
                                                {
                                                    Name = "AppendixContractInfo_CurenncyIDSalary",
                                                    DataTextField = "CurrencyName",
                                                    DataValueField = "ID",
                                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                    StyleCss = "width:60px;",
                                                    Value = Model == null ? string.Empty : Model.CurenncyIDSalary.ToString(),
                                                    Autobind = true
                                                };
                                            }
                                            @(Html.VnrComboBoxFor(mode => mode.CurenncyIDSalary, CurenncyAllowance3Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance3Name))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Allowance4)
                            </div>
                            <div class="FieldValue">
                                <div>
                                    <div style="float:left">
                                        @{
                                            var AllowanceID4Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "AppendixContractInfo_AllowanceID4",
                                                DataTextField = "UsualAllowanceName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiUsualAllowance",
                                                StyleCss = "width:150px;",
                                                Value = Model == null ? string.Empty : Model.AllowanceID4.ToString(),
                                                Autobind = true
                                            };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.AllowanceID4, AllowanceID4Name).Text(Model == null ? string.Empty : Model.AllowanceID4Name))
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var Allowance4 = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "AppendixContractInfo_Allowance4",
                                                StyleCss = "width:90px",
                                                Format = ConstantFormat.HRM_Format_Money
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.Allowance4, Allowance4)
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var CurenncyAllowance4Name = new ComboBoxBuilderInfo()
                                            {
                                                Name = "AppendixContractInfo_CurenncyID4",
                                                DataTextField = "CurrencyName",
                                                DataValueField = "ID",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                                StyleCss = "width:60px;",
                                                Value = Model == null ? string.Empty : Model.CurenncyID4.ToString(),
                                                Autobind = true
                                            };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.CurenncyID4, CurenncyAllowance4Name).Text(Model == null ? string.Empty : Model.CurenncyAllowance4Name))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Allowance)
                            </div>
                            <div class="FieldValue">
                                <div>

                                    <div style="float:left">
                                        @{
                                            var Allowance = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                Name = "AppendixContractInfo_Allowance",
                                                StyleCss = "width:100px",
                                                Format = ConstantFormat.HRM_Format_Money
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.Allowance, Allowance)
                                    </div>
                                    <div style="float: left; padding-left: 2px">
                                        @{
                                            var CurenncyOAllowanceName = new ComboBoxBuilderInfo()
                                         {
                                             Name = "AppendixContractInfo_CurenncyID5",
                                             DataTextField = "CurrencyName",
                                             DataValueField = "ID",
                                             Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCurrency",
                                             StyleCss = "width:60px;",
                                             Value = Model == null ? string.Empty : Model.CurenncyID5.ToString(),
                                             Autobind = true
                                         };
                                        }
                                        @(Html.VnrComboBoxFor(mode => mode.CurenncyID5, CurenncyOAllowanceName).Text(Model == null ? string.Empty : Model.CurenncyOAllowanceName))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </td>
        </tr>
    </tbody>
</table>