@{
    Layout = null;
    var _hrm_sys_service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Eva_Web = ConstantPathWeb.Hrm_Eva_Web;
    var _Hrm_Eva_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.HrmSystem.Models.DashboardAlertsModel

@*@model HRM.Presentation.HrmSystem.Models.DashboardAlertsModel*@



<script>
    function HreExpiryContract() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_ExpiryContract/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_ProfileProbation() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_ProfileProbation/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_ReportBirthday() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_ReportBirthday/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }

    function Eva_PerformanceEvaWaitingEva() {
        KendoRouteMapping('#Hrm_Eva_Web/Eva_PerformanceEvaWaitingEva/Index/', 'Hrm_Eva_Web', '@_hrm_Main_Web');
    }
    function Hre_ContractWaiting() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_ContractWaiting/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_HDTJobWaitingApprove() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_HDTJobWaitingApproved/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Sal_BasicSalaryPending() {
        KendoRouteMapping('#Hrm_Hre_Web/Sal_BasicSalary/BasicSalaryPending/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }

    function Hre_ExpiredContractWaiting() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_AppendixExpiryContract/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_RegisterSuspense() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_RegisterSuspense/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_StopWorking() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_StopWorking/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function Hre_RegisterComback() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_RegisterComeBack/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function onHre_ShowExpiryWorkPermit() {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_ReportVisaInfoMoreDateEnd/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }
    function onHre_SumProfileQuitNotSettlement() {
        KendoRouteMapping('#Hrm_Hre_Web/Ins_InsuranceSettlement/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    }

    var ProfileID = $("#ProfileIDByUser").val();

    $(document).ready(function () {

        $.ajax({
            url: '@_Hrm_Eva_Service' + "Eva_GetData/CountWaitEva/",
            type: "POST",
            datatype: "json",
            data: { EvaluatorID: ProfileID },
            success: function (data) {
                if (data === 0) {
                    //$("#Eva_PerformanceEvaWaitingEva").hide();
                    $("#sumWaitEva").text(0);
                }
                else {
                    $("#sumWaitEva").text(data);
                }
            }
        });
    })
</script>

<div style="padding-left: 10px; padding-top: 10px">
    <div>
        <table>
            <tr>
                <td>
                    <div id="IsHre_ExpiryContract">
                        <a id="Hre_ExpiryContract" onclick="HreExpiryContract();">
                            <div class="FieldTitle" style="width: 100%;">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("5") @Model.sumContract
                                @Html.Label(ConstantDisplay.HRM_Dashboard_SummaryContract.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsSal_BasicSalaryPending">
                        <a id="Sal_BasicSalaryPending" onclick="Sal_BasicSalaryPending();">
                            <div class="FieldTitle" style="width: 100%;">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("5") @Model.BasicSalaryPending
                                @Html.Label(ConstantDisplay.HRM_Payroll_BasicSalaryPending.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_ContractWaiting">
                        <a id="Hre_ContractWaiting" onclick="Hre_ContractWaiting();" style="cursor:pointer">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("79") @Model.sumContractWaiting
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumContractWaiting.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_ExpiredContractWaiting">
                        <a id="Hre_ExpiredContractWaiting" onclick="Hre_ExpiredContractWaiting();" style="cursor:pointer">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("79") @Model.sumAppendixExpiryContract
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumAppendixContract.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="cursor:pointer" id="IsHre_ProfileProbation">
                        <a id="Hre_ProfileProbation" onclick="Hre_ProfileProbation();">
                            <div class="FieldTitle" style="width: 100%">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("1") @Model.sumProbation
                                @Html.Label(ConstantDisplay.HRM_Dashboard_SummaryProbation.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div style="cursor:pointer" id="IsHre_HDTJobWaitingApprove">
                        <a id="Hre_HDTJobWaitingApprove" onclick="Hre_HDTJobWaitingApprove();">
                            <div class="FieldTitle" style="width: 100%">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("39") @Model.sumHDTJobWaitingApproved
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumHDTJobWaitingApproved.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsEva_PerformanceEvaWaitingEva">
                        <a id="Eva_PerformanceEvaWaitingEva" onclick="Eva_PerformanceEvaWaitingEva();">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                <span id="sumWaitEva"></span>
                                @Html.Label(ConstantDisplay.HRM_Dashboard_SummaryWaitEva.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_RegisterSuspense">
                        <a id="Hre_RegisterSuspense" onclick="Hre_RegisterSuspense();">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("99") @Model.sumDaySuspenseExpiry
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumDaySuspenseExpiry.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_StopWorking">
                        <a id="Hre_StopWorking" onclick="Hre_StopWorking();">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("101") @Model.sumDayStopWorking
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumDayStopWorking.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_RegisterComback">
                        <a id="Hre_RegisterComback" onclick="Hre_RegisterComback();">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />
                                @Html.Display("101") @Model.sumDayComeBackExpiry
                                @Html.Label(ConstantDisplay.HRM_Dashboard_sumDayComback.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="IsHre_ReportBirthday">
                        <a id="Hre_ReportBirthday" onclick="Hre_ReportBirthday();" style="cursor:pointer">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertBirthday.png" />
                                @Html.Display("12") @Model.sumBirthDay
                                @Html.Label(ConstantDisplay.HRM_Dashboard_SummaryBirthDay.TranslateString(), new { style = "cursor:pointer" })
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="Hre_IsShowExpiryWorkPermit">
                        <a onclick="onHre_ShowExpiryWorkPermit();" style="cursor:pointer">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />

                                @Html.Display("12") @Model.sumExpiryWorkPermit
                                @Html.Label(ConstantDisplay.HRM_HR_Profile_ExpiryWorkPermitStatus.TranslateString(), new { style = "cursor:pointer" })
                                <br />
                                <br />
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="Hre_IsShowSumProfileQuitNotSettlement">
                        <a onclick="onHre_SumProfileQuitNotSettlement();" style="cursor:pointer">
                            <div class="FieldTitle" style="width: 100%; cursor: pointer">
                                <img src="~/Content/images/alertWarning.png" />

                                @Html.Display("12") @Model.SumProfileQuitNotSettlement
                                @Html.Label(ConstantDisplay.HRM_HR_Profile_SumProfileQuitNotSettlement.TranslateString(), new { style = "cursor:pointer" })
                                <br />
                                <br />
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    @{
        if (Model.ShowValue1 == true)
        {
            <script>
                $("#IsHre_ExpiryContract").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_ExpiryContract").hide();
            </script>
        }


        if (Model.IsShowSumProfileQuitNotSettlement == true)
        {
            <script>
                $("#Hre_IsShowSumProfileQuitNotSettlement").show();
            </script>
        }
        else
        {
            <script>
                $("#Hre_IsShowSumProfileQuitNotSettlement").hide();
            </script>
        }

        if (Model.IsShowBasicSalaryWaitingAprove == true)
        {
            <script>
                $("#IsSal_BasicSalaryPending").show();
            </script>
        }
        else
        {
            <script>
                $("#IsSal_BasicSalaryPending").hide();
            </script>
        }

        if (Model.IsShowContractWaitingAprove == true)
        {
            <script>
                $("#IsHre_ContractWaiting").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_ContractWaiting").hide();
            </script>
        }

        if (Model.IsShowContractAppendixExpriday == true)
        {
            <script>
                $("#IsHre_ExpiredContractWaiting").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_ExpiredContractWaiting").hide();
            </script>
        }
        if (Model.ShowValue2 == true)
        {
            <script>
                $("#IsHre_ProfileProbation").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_ProfileProbation").hide();
            </script>
        }

        if (Model.IsShowHDTJobWaitingApproved == true)
        {
            <script>
                $("#IsHre_HDTJobWaitingApprove").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_HDTJobWaitingApprove").hide();
            </script>
        }

        if (Model.IsShowDaySuspenseExpiry == true)
        {
            <script>
                $("#IsHre_RegisterSuspense").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_RegisterSuspense").hide();
            </script>
        }
        if (Model.IsShowDayStopWorking == true)
        {
            <script>
                $("#IsHre_StopWorking").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_StopWorking").hide();
            </script>
        }
        if (Model.IsShowDayComeBackExpiry == true)
        {
            <script>
                $("#IsHre_RegisterComback").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_RegisterComback").hide();
            </script>
        }
        if (Model.ShowValue5 == true)
        {
            <script>
                $("#IsHre_ReportBirthday").show();
            </script>
        }
        else
        {
            <script>
                $("#IsHre_ReportBirthday").hide();
            </script>
        }

        if (Model.IsShowEvalutionWaiting == true)
        {
            <script>
                $("#IsEva_PerformanceEvaWaitingEva").show();
            </script>
        }
        else
        {
            <script>
                $("#IsEva_PerformanceEvaWaitingEva").hide();
            </script>
        }
        if (Model.IsShowExpiryWorkPermit == true)
        {
            <script>
                $("#Hre_IsShowExpiryWorkPermit").show();
            </script>
        }
        else
        {
            <script>
                $("#Hre_IsShowExpiryWorkPermit").hide();
            </script>
        }
    }
</div>