@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Main.Controllers.DashboardModel
<style>
    .myDiv {
        float: left;
        width: 600px;
        border: 1px dotted pink;
        border-radius: 5px;
        margin: 10px 0 0 10px;
    }

    .panel-wrap {
        display: table;
        margin: 0 0 10px;
        width: auto;
        height: 100%;
        /*background-color: #F8F8F8;
        border: 1px solid #e5e5e5;*/
    }

    #sidebar {
        display: table-cell;
        margin: 0;
        padding: 10px 0 10px 10px;
        width: 400px;
        vertical-align: top;
    }

    #main-content {
        display: table-cell;
        margin: 0;
        padding: 10px;
        width: 600px;
        vertical-align: top;
    }
    #sidebarRight {
        display: table-cell;
        margin: 0;
        padding: 10px 0 10px 10px;
        width: 400px;
        vertical-align: top;
    }
    #main-content1 {
        display: table-cell;
        margin: 0;
        padding: 10px;
        vertical-align: top;
        text-align: center;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        /*width: 600px;*/
        cursor: move;
    }

        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }



        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    .Information {
        width: auto;
    }

    #sidebar #StatisticsView h4 {
        font-size: 1em;
    }

    #sidebar #StatisticsView p {
        display: none;
    }

    #sidebar #StatisticsView .blog-info {
        display: block;
    }
</style>

@{  var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
  var hasMasterDataGroup = false;
  var userId = Guid.Empty;
  if (Session[SessionObjects.HasMasterDataGroup] != null)
  {
      hasMasterDataGroup = (bool)Session[SessionObjects.HasMasterDataGroup];
      Session[SessionObjects.HasMasterDataGroup] = null;
  }

  if (Session[SessionObjects.ProfileID] != null)
  {
      Guid.TryParse(Session[SessionObjects.ProfileID].ToString(), out userId);
  }

  var window = new WindowBuilderInfo
  {
      Name = "WindowgridCatMasterDataGroupInfoDashBoard",
      Visible = false,
      Width = 400,
      Title = "Dự Án",

      LoadContentFrom = @_hrm_Main_Web + "Cat_MasterDataGroup/CatMasterDataGroupForDashBoardInfo?ProfileID=" + userId,
  };
}
@Html.VnrWindow(window)
<script>
    $(document).ready(function () {
        setTimeout(function () {
            debugger;
            if ('@hasMasterDataGroup' == 'True') {
                var windowMasterDataGroup = $("#WindowgridCatMasterDataGroupInfoDashBoard").data("kendoWindow");
                windowMasterDataGroup.center().open();
            }
        }, 5000);
    });
</script>



<div id="Dashboard_Option_Id">
    @if (Model != null && Model.DashboardSetting != null)
    {
        var setting = Model.DashboardSetting;
        <div id="Contain" class="panel-wrap">
            <div id="sidebar">

                @{
        if (setting.Contains("TopFunction"))
        {
                <div id="Dashboard_Option_Id_TopFunction" class="widget">
                    <h3>@ConstantDisplay.HRM_Dashboard_TopFunction.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
                    @*@Html.Partial("TopFunctionView")*@
                </div>
        }
        if (setting.Contains("Information"))
        {
                <div style="display:block " id="Dashboard_Option_Id_Information" class="widget">
                    <h3>@ConstantDisplay.HRM_Dashboard_MyInformation.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
                    @Html.Partial("MyInformationView")
                </div>
        }
        if (setting.Contains("AlertsView"))
        {
                <div id="Dashboard_Option_Id_AlertsView" style="display: inline-block; width: 100%" class="widget">
                    <h3>@ConstantDisplay.HRM_Dashboard_Alerts.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span> </h3>
                    @Html.Partial("AlertsView", Model.AlertModel)
                </div>
        }
        if (setting.Contains("LeavesSummaryView"))
        {
                <div id="Dashboard_Option_Id_LeavesSummaryView" style="display: inline-block;width: 100%; " class="widget">
                    <h3>@ConstantDisplay.HRM_Dashboard_SummaryLeaves.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span> </h3>
                    @Html.Partial("LeavesSummaryView")
                </div>
        }
                }

            </div>

            <div id="main-content">
                @{
        if (setting.Contains("Chart2"))
        {
            <div id="Dashboard_Option_Id_Chart2" style="display: inline-block;width: 100%; " class="widget">
                <h3>@ConstantDisplay.HRM_Dashboard_CAPACITYCHART.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span> </h3>
                <div id="chart2"></div>
            </div>
        }
        if (setting.Contains("Chart1"))
        {
            <div id="Dashboard_Option_Id_Chart1" style="display: inline-block;width: 100%; " class="widget">
                <h3>@ConstantDisplay.HRM_Dashboard_SalaryByPosition.TranslateString()<span class="collapse k-icon k-i-arrowhead-n"></span> </h3>
                <div id="chart"></div>
            </div>
        }
        if (setting.Contains("Chart3"))
        {
            <div id="Dashboard_Option_Id_Chart3" style="display: inline-block;width: 100%; " class="widget">
                <h3>@ConstantDisplay.HRM_Dashboard_MovementsStaff.TranslateString() <span class="collapse k-icon k-i-arrowhead-n"></span> </h3>
                <div id="chart3"></div>
            </div>
        }
                }

            </div>
        </div>
    }
</div>
<script>

    function createChart() {
        $("#chart").kendoChart({
            //title: {
            //    text: "BIỂU ĐỒ LƯƠNG THEO CHỨC VỤ"
            //},
            legend: {
                position: "top"
            },
            seriesDefaults: {
                labels: {
                    template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                    position: "outsideEnd",
                    visible: true,
                    background: "transparent"
                }
            },
            series: [{
                type: "pie",
                data: [{
                    category: "Ban lảnh đạo",
                    value: 14,
                    color: "#f16a2b"
                }, {
                    category: "Quản lý",
                    value: 23,
                    color: "#89c225"
                }, {
                    category: "Nhân viên",
                    value: 63,
                    color: "#288fcc"
                }]
            }],
            tooltip: {
                visible: true,
                template: "#= category # - #= kendo.format('{0:P}', percentage) #"
            }
        });
    }
    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>

<script>
    function createChart() {
        $("#chart2").kendoChart({
            //title: {
            //    text: "BIỂU ĐỒ NĂNG LỰC"
            //},
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "radarArea"
            },
            series: [{
                name: "TARGET",
                data: [5, 5.5, 5, 4.5, 4, 3.5, 3, 2.5, 3, 5, 3, 5]
                //, 91, 255, 120]
            }, {
                name: "ACTUAL",
                data: [5, 4, 5, 3, 4, 5, 4, 5, 4, 5, 4, 5],
                color: "#00ff00"
                //, 10, 7, 19, 5]
            },
             {
                 name: "2013",
                 data: [4, 4, 3, 3, 4, 3, 4, 4, 4, 3, 4, 3],
                 color: "#3366ff"
                 //, 10, 7, 19, 5]
             }],
            categoryAxis: {
                categories: ["WCM Principles", "WCM Way", "7 WCM Tools", "Safety Mng",
                    "Enviroment Mng", "Cost Deployment", "Policy management", "Problem Solving",
                    "People Development", "Org. Structure", "Basic of QC", "Basic of Maintenance"]
                //"Rewarding system", "Policy management", "Strategic thinking"]
            },
            valueAxis: {
                labels: {
                    format: "{0}"
                }
            },
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>

<script>
    function createChart() {
        $("#chart3").kendoChart({
            //title: {
            //    text: "BIỀU ĐỒ BIẾN ĐỘNG NHÂN SỰ"
            //},
            legend: {
                visible: true,
                position: "bottom"
            },
            seriesDefaults: {
                type: "bar"
            },
            series: [{
                name: "Vào trong tháng",
                data: [900, 800, 600, 700, 500, 300, 400, 200, 100, 150, 300, 180],
                color: "#89c225"
            }, {
                name: "Đang làm việc",
                data: [2600, 1600, 1500, 1400, 1300, 1200, 1150, 1100, 1000, 900, 800, 700],
                color: "#288fcc"
            }, {
                name: "Đã nghỉ việc",
                data: [125, 120, 80, 113, 110, 70, 140, 113, 110, 40, 90, 80],
                color: "#f16a2b"
            }],
            valueAxis: {
                max: 2700,
                line: {
                    visible: false
                },
                minorGridLines: {
                    visible: true
                }
            },
            categoryAxis: {
                categories: ["Dec", "Nov", "Oct", "Sep", "Aug", "July", "Jun", "May", "Apr", "Mar", "Feb", "Jan"],
                majorGridLines: {
                    visible: false
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name #: #= value #"
            }
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>
<script>
    $(document).ready(function () {

        $("#sidebar").kendoSortable({
            filter: ">div",
            cursor: "move",
            connectWith: "#main-content",
            placeholder: placeholder,
            hint: hint
        });

        $("#main-content").kendoSortable({
            filter: ">div",
            cursor: "move",
            connectWith: "#sidebar",
            placeholder: placeholder,
            hint: hint
        });

        $("#sidebarRight").kendoSortable({
            filter: ">div",
            cursor: "move",
            connectWith: "#main-content",
            placeholder: placeholder,
            hint: hint
        });
        //exapand
        $(".panel-wrap").on("click", "span.k-i-arrowhead-s", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-s")
                .addClass("k-i-arrowhead-n");

            kendo.fx(contentElement).expand("vertical").stop().play();
        });

        //collapse
        $(".panel-wrap").on("click", "span.k-i-arrowhead-n", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-n")
                .addClass("k-i-arrowhead-s");

            kendo.fx(contentElement).expand("vertical").stop().reverse();
        });
    });

    function placeholder(element) {
        return element.clone().addClass("placeholder");
    }

    function hint(element) {
        return element.clone().addClass("hint")
                    .height(element.height())
                    .width(element.width());
    }
</script>
