@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
@using HRM.Infrastructure.Utilities
@model HRM.Presentation.Main.Controllers.DashboardModel
<style>
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
         padding-right: 0; 
         padding-left: 0; 
    }
    .custom-row {
        border-bottom: 1px solid #ebebeb;
    }
    .dashboard-option {
        max-width: 840px;
        min-width: 840px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#save-dashboard-option").click(function () {
            
            var str = "";
            var idList = document.getElementById("list-dashboard-option");
            if (idList!= null && idList !="" && idList != undefined) {
                var arr = idList.getElementsByTagName("input");
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].type == "checkbox" && arr[i].checked)
                    {
                        str += arr[i].id + ",";
                    }
                }
            }
            var length = str.length;
            if (length > 0) {
                str = str.substring(0, length - 1)
            }
            $.ajax({
                url: '@_hrm_Main_Web' + "Home/DashboardOptionView",
                data: { text: str },
                type: 'POST',
                async: false,
                success: function (data) {
                    var link = location.href;
                    if (link.concat("Dashboard")) {
                        location.reload();
                    }
                    var window = $('@ConstantControlName.HRM_CONFIG_DASHBOARD_OPTION_POPUP_NAME').data("kendoWindow");
                    window.refresh().close();
                    ShowNotificationProcessor('@NotificationType.Success.ToString()');
                },
                error: function (data) {
                    alert('error DashboardOptionView');
                }
            });
        });
    });
</script>
<div class="container dashboard-option">
    @{
    if (Model != null && Model.DashboardAll != null)
    {
        var list = Model.DashboardAll;
        var listSetting = Model.DashboardSetting;
        <div class="row">
            <div class="col-md-12" id="list-dashboard-option">
                @foreach (var item in list)
                {
                    var check = false;
                    if (listSetting != null && listSetting.Contains(item))
                    {
                        check = true;
                    }
                    <div class="col-md-6 custom-row">
                        <div class="col-md-1">
                            <input id="@(item)" type="checkbox" checked="@(check)" />
                        </div>
                        <div class="col-md-1"><span></span></div>
                        <div class="col-md-9">@(item.TranslateString())</div>
                    </div>
                }
            </div>
        </div>
         <div class="row">
             <br />
             <hr />
             <div class="col-md-12" style="text-align:center; padding-top:5px">
                 <input type="button" id="save-dashboard-option" class="k-button" value="Lưu Thay Đổi " />
             </div>
        </div>
    }
    
}
</div>

