@{
    Layout = null;
}
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@*@using HRM.Presentation.HrmSystem.Models
@model DashboardLeavesSummaryModel*@

<div style="padding-left: 10px; padding-top: 10px">
    <table style="width:100%">
        <tr>
            <td style="width: 45%">
                @*@Html.VnrLabelFor(model => model.LeavesType)*@
                @Html.VnrLabel(ConstantDisplay.HRM_Category_LeaveDayType_LeaveDayTypeName.TranslateString())
            </td>
            <td style="width: 15%;">
                @Html.VnrLabel(ConstantDisplay.HRM_Dashboard_Entitled.TranslateString())
                @*@Html.VnrLabelFor(model => model.Entitled)*@
            </td>
            <td style="width: 15%; ">
                @Html.VnrLabel(ConstantDisplay.HRM_Dashboard_Taken.TranslateString())
                @*@Html.VnrLabelFor(model => model.Taken)*@
            </td>
            <td style="width: 15%; ">
                @Html.VnrLabel(ConstantDisplay.HRM_Dashboard_Balance.TranslateString())
                @*@Html.VnrLabelFor(model => model.Balance)*@
            </td>
        </tr>
    </table>
    <hr />
    <table style="width: 100%">
        <tr>
            <td style="width: 55%">
                @Html.VnrLabel("Nghỉ Ốm")
            </td>
            <td style="width: 15%">2</td>
            <td style="width: 15%">0</td>
            <td style="width: 15%">2</td>
        </tr>
        <tr>
            <td>
                @Html.VnrLabel("Nghỉ Thai Sản")
            </td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
        </tr>
        <tr>
            <td>
                @Html.VnrLabel("Nghỉ Thường")
            </td>
            <td>5</td>
            <td>0</td>
            <td>5</td>
        </tr>
        <tr>
            <td>
                @Html.VnrLabel("Nghỉ Phép Năm")
            </td>
            <td>10</td>
            <td>0</td>
            <td>10</td>
        </tr>
    </table>
    <br />
</div>
