@using HRM.Presentation.UI.Controls.Kendo
@using VnResource.ARTS.Library
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@model HRM.Presentation.HrmSystem.Models.LoginModel
@{
    ViewBag.Title = ConstantDisplay.HRM_System_Login.TranslateString();
    ViewBag.MessageError = HttpContext.Current.Server.HtmlDecode(ConstantDisplay.HRM_System_InvalidUserLogin.TranslateString());
    var inputRequired = @ConstantDisplay.HRM_System_RequireUserLogin.TranslateString();
    var inputRequiredRunscript = @ConstantDisplay.HRM_System_RequireUserLoginRunScript.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _Version = "";
    var _Build = "";

    var isGoogleSignIn = Common.IsGoogleSignIn;
    var googleClientID = Common.GoogleClientID;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="application/json, charset=utf-8" />
    <link href="@Url.Content("~/Content/login/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login/skeleton.css")" rel="stylesheet" type="text/css" />
    @*<script src=@Url.Content("~/Scripts/jquery-1.5.1.min.js")></script>*@
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/jquery.min.js")"></script>
    <script src=@Url.Content("~/Scripts/hrm-data.js")></script>
    <script src=@Url.Content("~/Scripts/login/app.js")></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="@googleClientID">
</head>
<body>

    <div class="notice">
        <div class="logo"></div>
        <div>
            <a href="" class="close">close</a>
            <p style="color: #428bca;" id="messagesError" class="warn">@inputRequired</p>
        </div>
    </div>
    <!-- Primary Page Layout -->

    <div id="hrm_main_content" class="container">
        <div class="container-content">
            @*<div class="contentformLeft">
                    <form>
                        <ul>
                            <li>- State of the art <b>HR Solution</b></li>
                            <li>- Extremely<b>User Friendly</b>Interface </li>
                            <li>- Highly<b>Cost Effective</b></li>
                            <li>- Covers everything from<b>Hire</b>to <b>Retire</b></li>
                            <li>- Comprehensive <b>Reporting </b>with <b>Graphs</b></li>
                            <li>- Integrated <b>HR Modules</b></li>
                            <li>- Includes <b>Job Portal </b></li>
                        </ul>
                    </form>
                </div>*@
            <div class="form-bg">
                <form action="#" method="POST" id="form-login">
                    <h2>@ConstantDisplay.HRM_System_Login.TranslateString()</h2>
                    <p>
                        @*<div style="position: absolute; padding: 35px; padding-top: 8px;">
                                <img src="../Content/Images/alertWarning.png">
                            </div>*@
                        @Html.TextBoxFor(m => m.UserName)
                    </p>

                    <p>
                        @Html.PasswordFor(m => m.Password)
                    </p>
                    <div class="language" style="margin-left:-10px;">
                        <select id="sltLang">
                            <option value="VN">Tiếng Việt</option>
                            <option value="EN">English</option>
                        </select>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <div class="rememberLogin" style="margin-left:11px;">
                                    <button type="button" onclick="CheckLogin()"></button>
                                </div>
                            </td>
                        </tr>
                        @if (isGoogleSignIn)
                        {
                            <tr>
                                <td>
                                    <div class="g-signin2 rememberLogin" data-onsuccess="onGoogleSignIn" data-width="standard"
                                         data-height="30" data-theme="dark" data-longtitle="true">
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </form>
            </div>
        </div>

    </div><!-- container -->


    <div class="WebHRBottom">
        <div class="WebHRMain" align="right">
            <div align="center" class="WebHRBottomText">
                Terms &amp; Conditions&nbsp;|&nbsp;Contact Us | Ver: <span id="Version"></span> - Build: <span id="TimeBuild"></span>
                <br>
                ©&nbsp;2014 - VnResource HRM Pro - Developed by VnResource
            </div>
        </div>
    </div>
    <div id="Hre_ProgressBar" style="position: absolute; display: none; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px; ">
        <img src="~/Content/kendo/2014.1.415/DefaultVnR2/loading-image.gif" />
    </div>
    <script>
    function onGoogleSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var profileID = profile.getId();
        var profileImage = profile.getImageUrl();
        var profileName = profile.getName();
        var profileEmail = profile.getEmail();
        var isSignIn = true;
        CheckLogin(isSignIn, profileEmail, profileName);
    }

    $(document).ready(function () {
        debugger;
      
        if (getQueryString('Logout') == 'True') {
            //clear project mainselecttest.selectedIndex = 0;
            $.ajax({
                url: '@ConstantPathWeb.Hrm_Main_Web' + '/Home/ClearCache',
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (result) {
                    //document.location.reload(true);
                },
                error: function (e) {

                }
            });
            //claer service Hre
            $.ajax({
                url: '@ConstantPathWeb.Hrm_Hre_Service' + '/Cat_GetData/ClearCache',
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (result) {
                },
                error: function (e) {

                }
            });
        }

        $("#UserName").focus();
        $('#form-login').keypress(function (event) {
            if (event.keyCode == 13) {
                CheckLogin();
            }
        });


        var _stringurl = "";
        $.ajax({
            url: '@_hrm_Sys_Service' + 'Sys_GetData/GetVerSion',
            data: { Stringurl: _stringurl },
            type: 'POST',
            success: function (data) {
                debugger;
                $("#Version").html(data[1]);
                $("#TimeBuild").html(data[0]); 
                $("#sltLang").val(data[2]);
            }
        });
  
    });
    var CheckLogin = function (isSignIn, profileEmail, profileName) {
        debugger;
        var _isSignIn = false;
        var _profileEmail = '';
        var _profileName = '';
        if (isSignIn != undefined) {
            _isSignIn = isSignIn;
        }
        if (profileEmail != undefined) {
            _profileEmail = profileEmail;
        }
        if (profileName != undefined) {
            _profileName = profileName;
        }

        var lang = $("#sltLang").val();
        var userName = $('#@Html.FieldIdFor(model => model.UserName)').val();
        var password = $('#@Html.FieldIdFor(model => model.Password)').val();

        if (userName == "" || password == "") {
            $("#messagesError").css("color", "red");
            $("#messagesError").html('@inputRequired');
            return;
        }
        ShowHre_ProgressBar();
        $.ajax({
            url: '@_hrm_Main_Web' + 'Home/CheckLogin',
            data: { UserName: userName, Password: password, IsGoogleSign: _isSignIn, GoogleMail: _profileEmail, GoogleProfileName: _profileName, Language: lang },
                type: 'POST',
                async: false,
                success: function (loginStatus) {
                    if (loginStatus.IsRunScriptNew == true) {
                        CloseHre_ProgressBar();
                        if (loginStatus.Execption != null)
                        {
                            var _tr = "";
                            for (i = 0; i < loginStatus.Execption.length ; i++) {
                                _tr += '<h1>' + loginStatus.Name[i] + '</h1>';
                                _tr += loginStatus.Execption[i];
                            }
                            $("#messagesError").css("color", "red");
                            $("#messagesError").html(_tr);
                            ShowNotificationProcessor('Error');

                        }
                        else
                        {
                            $("#messagesError").css("color", "red");
                            $("#messagesError").html('@inputRequiredRunscript');
                    }


                } else {
                    if (loginStatus.succeed == false) {
                        CloseHre_ProgressBar();
                        $("#messagesError").css("color", "red");
                        $("#messagesError").html('@ViewBag.MessageError');

                    } else {
                        location.href = '@_hrm_Main_Web' + '#Hrm_Main_Web/Home/Dashboard#NewTab';

                    }
                }
            },
            error: function (data) {
                //alert('error');
            }
        });
    };

    function SetLanguageHRM(lang,  _hrm_Main_Web) {

            $.ajax({
            url: _hrm_Main_Web + 'Setting/setLanguage/',
            data: { Language: lang },
            type: 'POST',
            datatype: 'json',
            success: function (result) { }
        });
    }
    function ShowHre_ProgressBar() {
        document.getElementById("hrm_main_content").style.opacity = "0.5";
        $("#Hre_ProgressBar").show();
    };

    function CloseHre_ProgressBar() {
        document.getElementById("hrm_main_content").style.opacity = "1";
        $("#Hre_ProgressBar").hide();
    };
    </script>
</body>
</html>
