@{
    Layout = null;
    var _hrm_sys_service = ConstantPathWeb.Hrm_Sys_Service;
}
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@*@model HRM.Presentation.HrmSystem.Models.DashboardInformationModel*@

<div style="padding-left:10px; padding-top:10px" >
    @*<div id="div2">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.ProfileName)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.ProfileName)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div3">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.UserName)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div4">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.EmployeeTypeName)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.EmployeeTypeName)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div5">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.JobTitleName)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.JobTitleName)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div6">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.OrgStructureName)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.OrgStructureName)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div7">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.WorkingPlace)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.WorkingPlace)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div8">
        <div class="FieldTitle">
            @Html.VnrLabelFor(model => model.LastLogin)
        </div>
        <div class="FieldValueView">
            @Html.DisplayFor(model => model.LastLogin)
        </div>
        <div style="clear: both;"></div>
    </div>*@


    <div id="div2">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_HR_Profile_ProfileName.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("Hiếu Văn")Hiếu Văn
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div3">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_System_User_LoginName.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("Admin Manager")Admin Manager
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div4">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Category_EmployeeType_EmployeeTypeName.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("Chính Thức")Chính Thức
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div5">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Category_JobTitle_JobTitleName.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("Nhân Viên")Nhân Viên
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div6">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Category_OrgStructure_OrgStructureName.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("HRM Developing")HRM Developing
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div7">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_HR_Profile_WorkingPlace.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("Hồ Chí Minh")Hồ Chí Minh
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div8">
        <div class="FieldTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_System_User_LastLogin.TranslateString())
        </div>
        <div class="FieldValueView">
            @Html.Display("24/06/2014 14:30 PM")24/06/2014 14:30 PM
        </div>
        <div style="clear: both;"></div>
    </div>
    <br />
</div>