@using HRM.Presentation.UI.Controls.Kendo
@using VnResource.ARTS.Library
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@model HRM.Presentation.HrmSystem.Models.TestPerformanceModel

@{
    ViewBag.Title = ConstantDisplay.HRM_System_Login.TranslateString();
    ViewBag.MessageError = HttpContext.Current.Server.HtmlDecode(ConstantDisplay.HRM_System_InvalidUserLogin.TranslateString());
    var inputRequired = @ConstantDisplay.HRM_System_RequireUserLogin.TranslateString();
    var inputRequiredRunscript = @ConstantDisplay.HRM_System_RequireUserLoginRunScript.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;

}
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="application/json, charset=utf-8" />
    <link href="@Url.Content("~/Content/login/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login/skeleton.css")" rel="stylesheet" type="text/css" />
    @*<script src=@Url.Content("~/Scripts/jquery-1.5.1.min.js")></script>*@
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/jquery.min.js")"></script>
    <script src=@Url.Content("~/Scripts/hrm-data.js")></script>
    <script src=@Url.Content("~/Scripts/login/app.js")></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <style>
        .FieldTitle170 {
            float: left;
            margin-left: 16px;
            margin-top: 2px;
            width: 170px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            font-weight: bold;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .FieldTitle180 {
            float: left;
            margin-left: 16px;
            margin-top: 2px;
            width: 180px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            font-weight: bold;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .FieldTitle150 {
            float: left;
            margin-left: 16px;
            margin-top: 2px;
            width: 150px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            font-weight: bold;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .FieldTitleConfig200 {
            float: left;
            margin-left: 16px;
            margin-top: 4px;
            width: 200px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .FieldTitleConfig300 {
            float: left;
            margin-left: 16px;
            margin-top: 4px;
            width: 300px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .FieldTitleConfig400 {
            float: left;
            margin-left: 16px;
            margin-top: 4px;
            width: 400px;
            padding-top: 4px;
            font-size: 12px;
            display: block;
            clear: both;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .GridTitle {
            float: left;
            padding-top: 5px;
            color: #438eb9;
            font-weight: bold;
            white-space: nowrap;
        }

        .FieldValue {
            float: left;
            margin-top: 1px;
            width: 320px;
            width: auto;
            font-size: 12px;
            color: #000000;
            display: block;
            padding-bottom: 1px;
        }

    </style>
</head>
<body>
    <div class="notice">
        <div class="logo"></div>
        <div>
            <a href="" class="close">close</a>
        </div>
    </div>
    <div id="Hre_ProgressBar" style="position: absolute; display: none; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px; ">
        <img src="~/Content/kendo/2014.1.415/DefaultVnR2/loading-image.gif" />
    </div>
    <br />
    <br />
    <div id="hrm_main_content" class="panel-wrap">
        <div class="container-content">
            <div>
                <form action="#" method="POST" id="form-Performace">
                    <div style="display: block; vertical-align: top; float: left; width:100%">
                        <div style="float:left">
                            <fieldset>
                                <div style="float:left; width:500px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            User No.
                                        </div>
                                        <div class="FieldValue">
                                            @*@{
                        var _Loop = new NumericTextBoxBuilderInfo<int>() { };
                    }
                    @Html.VnrNumericTextBoxFor(m => m.Loop, _Loop)*@
                                            @Html.TextBoxFor(m => m.Loop)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                        <div class="FieldTitle170">
                                            User Name
                                        </div>
                                        <div class="FieldValue">
                                            @Html.TextBoxFor(m => m.UserName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                        <div class="FieldTitle170">
                                            Pass Word
                                        </div>
                                        <div class="FieldValue">
                                            @Html.PasswordFor(m => m.PassWord)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                        <div class="FieldTitle170">
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doCall", Name = "btnCall" })
                                        </div>
                                    </div>

                                    <br />
                                   
                                    <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                        <div class="FieldTitle170">
                                        </div>
                                        <div class="FieldValueView">
                                            @*@{
                                                var _messages = new TextAreaBuilderInfo()
                                                {
                                                    Name = "messages",
                                                    Width = 380,
                                                    Height = 100,
                                                };
                                            }
                                            @Html.VnrTextArea(_messages)*@
                                            @*@Html.VnrTextArea("messages")*@


                                            <div style="border:1px solid #808080; width:550px; height:400px; overflow:auto; background-color:#fff" id="messages"></div></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="WebHRBottom">
        <div class="WebHRMain" align="right">
            <div align="center" class="WebHRBottomText">
                Terms &amp; Conditions&nbsp;|&nbsp;Contact Us | Ver: <span id="Version"></span> - Build: <span id="TimeBuild"></span>
                <br>
                ©&nbsp;2014 - VnResource HRM Pro - Developed by VnResource
            </div>
        </div>
    </div>
   
    <script>
        function doCall() {
        debugger;
            var _Loop = $('#@Html.FieldIdFor(m => m.Loop)').val();
            var _UserName = $('#@Html.FieldIdFor(m => m.UserName)').val();
            var _PassWord = $('#@Html.FieldIdFor(m => m.PassWord)').val();
        ShowHre_ProgressBar();
        var _message = "<h5>No |&nbsp; User Login | Status | &nbsp;Time Login </h5> <br/> --------------------------------------------------------<br/>";
        var isStop = false;
        var _count = 0;
        for (var i = 0; i < _Loop; i++) {
            var start = new Date().getTime();
            $.ajax({
                url: '@_hrm_Main_Web' + 'Home/doTestPerformace',
                data: { Loop: _Loop, UserName: _UserName, PassWord: _PassWord },
                type: 'POST',
                async: true,
                success: function (model) {
                    debugger;
                    if (model.IsSusscess == true) {
                        var end = new Date().getTime();
                        var time = end - start;
                        start = new Date().getTime();
                        _count++;
                        _message += _count + "   &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;  " + _UserName + " &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   |   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;pass" + " &nbsp;&nbsp;&nbsp;   |    " + time / 1000 + "<br/>";

                        $("#messages").css("color", "red");
                        $("#messages").html(_message);
                    } else {
                        var end = new Date().getTime();
                        var time = end - start;
                        start = new Date().getTime();
                        _count++;
                        _message += _count + "    &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;   " + _UserName + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;|   fail  " + "&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  |    &nbsp;&nbsp;&nbsp;" + time / 1000 + "<br/>";

                        $("#messages").css("color", "blue");
                        $("#messages").html(_message);
                    }
                },
                error: function (data) {
                    isStop = true;
                    _message = "Error";
                   
                }
            });
            if (isStop)
                break;
        };
        //if (!isStop)
            //    _message = _count;
            debugger;
        $("#messages").css("color", "red");
        $("#messages").html(_message);
        CloseHre_ProgressBar();
    }
        function ShowHre_ProgressBar() {
            document.getElementById("hrm_main_content").style.opacity = "0.5";
            $("#Hre_ProgressBar").show();
        };

        function CloseHre_ProgressBar() {
            document.getElementById("hrm_main_content").style.opacity = "1";
            $("#Hre_ProgressBar").hide();
        };
    </script>
</body>
</html>
