
@{
    ViewBag.Title = @Html.VnrLabel(ConstantDisplay.HRM_Dashboard_TopFunction.TranslateString());

    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
<script>
    $("#Att_ComputeWorkDay").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_ComputeWorkDay/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#Att_ComputeWorkdayAdjust").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_ComputeWorkdayAdjust/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#Att_ComputeLeaveLateEarly").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_ComputeLeaveLateEarly/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#Att_ComputeOvertime").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_ComputeOvertime/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#Att_ComputeAttendance").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_ComputeAttendance/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#Att_TAMScanLog").click(function () {
        KendoRouteMapping('#Hrm_Att_Web/Att_TAMScanLog/Index/', 'Hrm_Att_Web', '@_hrm_Main_Web');
    });
    $("#GeneralProfile").click(function () {
        KendoRouteMapping('#Hrm_Hre_Web/GeneralProfile/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    });
    $("#Hre_Profile").click(function () {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_Profile/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    });
    $("#Hre_Contract").click(function () {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_Contract/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    });
    $("#Hre_WorkHistory").click(function () {
        KendoRouteMapping('#Hrm_Hre_Web/Hre_WorkHistory/Index/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
    });

</script>

<div style="padding-left:10px; padding-top:10px">
<table>
    <tr style="height:25px">
        <td>
            <a id="Att_ComputeWorkDay">
                <img src="@ConstantPath.Att_ComputeWorkDayIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_Attendance_ComputeWorkDay.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Att_ComputeWorkdayAdjust">
                <img src="@ConstantPath.Att_ComputeWorkDayIconPath" alt="" width="15" height="15" />
                @Html.VnrLabel(ConstantDisplay.HRM_Attendance_ComputeWorkdayAdjust.TranslateString())
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Att_ComputeLeaveLateEarly">
                <img src="@ConstantPath.AttLeavedayIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_Attendance_ComputeLeaveLateEarly.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Att_ComputeOvertime">
                <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_Att_ComputeOvertime_Title.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Att_ComputeAttendance">
                <img src="@ConstantPath.Att_AttendanceIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_Attendance_CalculateAttendance.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Att_TAMScanLog">
                <img src="@ConstantPath.Att_TAMScanLogIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_Attendance_TAMScanLog.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="GeneralProfile">
                <img src="@ConstantPath.HreProfileIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_HR_GeneralProfileTitle.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Hre_Profile">
                <img src="@ConstantPath.HreProfileIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_HR_Profile.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Hre_Contract">
                <img src="@ConstantPath.HreContractIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_HR_Contract.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
    <tr style="height:25px">
        <td>
            <a id="Hre_WorkHistory">
                <img src="@ConstantPath.HreWorkHistoryIconPath" alt="" width="15" height="15" />
                @Html.Label(ConstantDisplay.HRM_HR_WorkHistory.TranslateString(), new { style = "cursor:pointer" })
            </a>
        </td>
    </tr>
</table>

</div> 