@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.CatContractTypeModel
@{
    ViewBag.Title = "CatContractTypeInfo";
    Layout = null;
   // var _hrm_Hre_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
   // var _hrm_Main_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script>
  //  var data = SetCharacteFieldRequired();
    //SetFieldRequiredByScreenName('Cat_ContractType');
    //SetFieldRequired();

    $("input[name=NoneEndContract]").on('change', function () {
        var radioItem = $("input[name=NoneEndContract]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
            
                radioItem[i].value = true;
            }
            else {
                
                radioItem[i].value = false;
            }
        }
    });

    $("input[name=NoneTypeInsuarance]").on('change', function () {
        var radioItem = $("input[name=NoneTypeInsuarance]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
                $("#advanceConfig").show();
                radioItem[i].value = true;
            }
            else {
                $("#advanceConfig").hide();
                radioItem[i].value = false;
            }
        }
    });

    function doSave() {
        debugger;
        var result = false;
        var _EmailToList = $('#@Html.FieldIdFor(model => model.ORGSTRUCTURETYPEID)').val();
        _EmailToList != null ? $('#@Html.FieldIdFor(model => model.EmailToList)').val(_EmailToList.join(',')) : null;
        $('input[name=NoneEndContract]').val(document.getElementById("NoneEndContract").checked);
        $('input[name=NoneTypeInsuarance]').val(document.getElementById("NoneTypeInsuarance").checked);


        var _IsSocialInsurance = document.getElementById("IsSocialInsurance");
        if (_IsSocialInsurance != null && _IsSocialInsurance.checked) {
            $("#IsSocialInsurance").val("true");
        } else {
            $("#IsSocialInsurance").val("false");
        }

        var _IsHealthInsurance = document.getElementById("IsHealthInsurance");
        if (_IsHealthInsurance != null && _IsHealthInsurance.checked) {
            $("#IsHealthInsurance").val("true");
        } else {
            $("#IsHealthInsurance").val("false");
        }

        var _IsUnEmployInsurance = document.getElementById("IsUnEmployInsurance");
        if (_IsUnEmployInsurance != null && _IsUnEmployInsurance.checked) {
            $("#IsUnEmployInsurance").val("true");
        } else {
            $("#IsUnEmployInsurance").val("false");
        }


        $.ajax({
            type: 'POST',
            url: '@_hrm_Hre_Service' + 'api/CatContractType',
            data: queryStringToJSON(slpitQueryEntity($("#form-create").serialize())),
            dataType: 'json',
            async: false,
            success: function (data) {
                
                //if (data.ActionStatus != "")
                //{
                //    ShowNotificationProcessor(data.ActionStatus);
                //    return;
                //}
                
                if (data.ActionStatus.indexOf('[') == 0) {
                    ShowNotificationProcessor(data.ActionStatus);
                    return;
                }
                if(data.ActionStatus.indexOf(',') > 0)
                {
                    var strStatus = data.ActionStatus.split(',');
                    if(strStatus[0] == "Error"){
                        ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', "Đăng Ký Ngày Nghỉ Bị Trùng", "k-block k-info-colored");
                        return;
                    }
                }
                if (data.ActionStatus == "Success") {
                    ShowNotificationProcessor(data.ActionStatus);
                    result = true;
                    return result;
                }
                if (data.ActionStatus == "ErrorTotalLeave")
                {
                    ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', "Số Ngày Nghỉ Vượt Quá Quy Định", "k-block k-info-colored");
                    return;
                }

            }
        });
            @*onCreate($('#form-create'), '@_hrm_Att_Service', 'api/Att_Leaveday/');
            result = true;*@
        //}
        return result;
        @*var result = false;
        if (CheckValidate(data)) {
            var ProfileID = $('#@Html.FieldIdFor(model => model.ProfileID)').val();
            $('#@Html.FieldIdFor(model => model.ProfileIds)').val(ProfileID.join(','));

            onCreate($('#form-create'), '@_hrm_Att_Service', 'api/Att_Leaveday/');
            result = true;
        }
        return result;*@

    }
    function doSaveNew() {

      //  if (CheckValidate(data)) {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Cat_ContractType/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
                @*KendoRouteMapping('#Hrm_Att_Web/Att_Leaveday/Create/', 'Hrm_Att_Web', '@_hrm_Att_Web');*@
            }
        //}
    }

</script>

<div>
    @ViewBag.MsgInsert
</div>

<span id="popupNotification"></span>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Cat_CateringIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_Category_ContractType_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Category_Back_To_ContractType_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabView", Model)
            </div>
        </div>

    </div>
</form>

