@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using System.Collections;
@model HRM.Presentation.Hr.Models.Hre_ProfileLanguageLevelModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Guid ProfileID = Guid.Empty;
    string aaa = ViewBag.profileID;
    if (!string.IsNullOrEmpty(aaa))
    {
        ProfileID = Common.ConvertToGuid(aaa.ToString());

    }
}
<script>
    SetFieldRequiredByScreenName('Hre_ProfileLanguage');
    $("input[name=ProfileID]").val(SelectID);
    function onSaveNew() {



        onSaveAndContinue($('#form_hre_language'), '@_hrm_Hre_Service', 'api/Hre_ProfileLanguage/', 'grid_Language', 'windowLanguage'); return false;


    }

    function onSaveClose() {

        onSaveAndClose($('#form_hre_language'), '@_hrm_Hre_Service', 'api/Hre_ProfileLanguage/', 'grid_Language', 'windowLanguage'); return false;


    }
    function onSaveDataPopUp() {


        onlySave($('#form_hre_language'), '@_hrm_Hre_Service', 'api/Hre_ProfileLanguage/', 'grid_Language'); return false;

    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_hre_language" }))
{

    @Html.HiddenFor(model => model.Language_ID)
    <div>
        @{
    if (Model != null)
    {
        @Html.HiddenFor(m => m.ProfileID)
    }
    else
    {
        @Html.Hidden("ProfileID", ProfileID)
    }

        }
    </div>
    <table>
        <tr>
            <td>
                <div id="div3">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.SpecialTypeID)
                    </div>
                    <div class="FieldValue">
                        @{
    var dropdownSpecialTypeID = new DropDownListBuilderInfo()
    {
        Name = "Language_SpecialTypeID",
        DataTextField = "NameEntityName",
        DataValueField = "ID",
        Url = @_hrm_Hre_Service + "Hre_GetData/GetMultiLanguageType",
        Value = @Html.DisplayFor(mode => mode.SpecialTypeID).ToString(),
        StyleCss = "width:300px"
    };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.SpecialTypeID, dropdownSpecialTypeID))

                    </div>
                    <br />
                </div>
                <div id="div3">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.SpecialSkillID)
                    </div>
                    <div class="FieldValue">
                        @{
    var dropdownSpecialSkillID = new DropDownListBuilderInfo()
    {
        Name = "Language_SpecialSkillID",
        DataTextField = "NameEntityName",
        DataValueField = "ID",
        Url = @_hrm_Hre_Service + "Hre_GetData/GetMultiLanguageSkill",
        Value = @Html.DisplayFor(mode => mode.SpecialSkillID).ToString(),
        StyleCss = "width:300px"
    };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.SpecialSkillID, dropdownSpecialSkillID))
                        @Html.ValidationMessageFor(model => model.SpecialSkillID)
                    </div>
                    <br />
                </div>

                <div id="div3">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.SpecialLevelID)
                    </div>
                    <div class="FieldValue">
                        @{
    var dropdownSpecialLevelID = new DropDownListBuilderInfo()
    {
        Name = "Language_SpecialLevelID",
        DataTextField = "NameEntityName",
        DataValueField = "ID",
        Url = @_hrm_Hre_Service + "Hre_GetData/GetMultiLanguageLevel",
        Value = @Html.DisplayFor(mode => mode.SpecialLevelID).ToString(),
        StyleCss = "width:300px"
    };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.SpecialLevelID, dropdownSpecialLevelID))
                        @Html.ValidationMessageFor(model => model.SpecialLevelID)
                    </div>
                    <br />
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Language", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @*@Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-Language", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })*@
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Language", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
