@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Laundry.Models;
@using HRM.Infrastructure.Security;

@model Lau_LockerModel

@{
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowLauLocker",
        Visible = false,
        Width=700,
        LoadContentFrom = @_hrm_Main_Web + "Lau_Locker/LockerInfo/00000000-0000-0000-0000-000000000000",
    };
}
@(Html.VnrWindow(window))

<script>
    var titleEditPopUp = '@Html.Raw(@ConstantDisplay.HRM_Laundry_Locker_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Laundry_Locker_Create_Title.TranslateString())';
     

    //Data khi tìm kiếm
    function filterFieldInfo() {
        
        return {
            Code: $('#LockerCode1').val(),
            LockerLMSName: $('#LockerName1').val(),
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var grid = $('#grid_Lau_Locker').data("kendoGrid");
            grid.dataSource.read();
            selectedIds = [];
        });
        //Xử lý Edit popup
       
        var url = '@_hrm_Main_Web' + "Lau_Locker/LockerInfo/";
        EditGridPopUp("grid_Lau_Locker", "windowLauLocker", url, '@ConstantPermission.Lau_Locker', titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreateLauLocker").click(function () {
        PopUpCreate("windowLauLocker", titleCreatePopUp, '@ConstantPermission.Lau_Locker');
    });
    
    //Xử Lý grid
    GridCheckbox("grid_Lau_Locker");

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        e.preventDefault();
        DeleteSelected("grid_Lau_Locker", '@_hrm_Main_Web' + "Lau_Locker/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Lau_Locker');
        return false;
    });

    $(document).ready(function () {
        ShowHidePanel();
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.LockerLMSName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("LockerName1", "width:300px;")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("LockerCode1")
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateLauLocker", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Lau_LockerModel.FieldNames.Code,
            Lau_LockerModel.FieldNames.LockerLMSName,
            Lau_LockerModel.FieldNames.Note,
        };

        var sizeFields = new Dictionary<string, int>()
        {

            {Lau_LockerModel.FieldNames.Code,120},
            {Lau_LockerModel.FieldNames.LockerLMSName,150},
            {Lau_LockerModel.FieldNames.Note,250}
        };

        var filterable = new Dictionary<string, bool>()
        {
            {Lau_LockerModel.FieldNames.Code,true},
            {Lau_LockerModel.FieldNames.LockerLMSName,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Lau_LockerModel.FieldNames.Code,ConstantDisplay.HRM_Laundry_Locker_Code},
            {Lau_LockerModel.FieldNames.LockerLMSName,ConstantDisplay.HRM_Laundry_Locker_LockerName},
            {Lau_LockerModel.FieldNames.Note,ConstantDisplay.HRM_Laundry_Locker_Notes}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Lau_Locker",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hre_Service + "Lau_GetData/GetLockerList/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<Lau_LockerModel>(grid))
</div>
