@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models;
@using HRM.Presentation.Training.Models;
@model Tra_ClassModel
@{
    ViewBag.Title = "Update AttGrade";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Services = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    //function SetValue() {
    //    var TrainerOtherList = $("#TrainerOtherListIDs").data("kendoMultiSelect").value();
    //    if (TrainerOtherList != "" && TrainerOtherList != null) {
    //        $("#TrainerOtherList").val(TrainerOtherList);
    //    }
    //}
    SetFieldRequired();

    function SetValue() {
        debugger;
        var _TrainerOtherListCode = $("#TraClass_TrainerOtherListCode").data("kendoMultiSelect").value();
        if (_TrainerOtherListCode != "" && _TrainerOtherListCode != null) {
            $('#@Html.FieldIdFor(model => model.TrainerOtherList)').val(_TrainerOtherListCode.join(','));
        }
        else {
            $('#@Html.FieldIdFor(model => model.TrainerOtherList)').val(null);
        }
    }
    $("input[name=IsTrainingOut]").on('change', function () {
        debugger;

        var radioItem = $("input[name=IsTrainingOut]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
                radioItem[i].value = true;
            }
            else {
                radioItem[i].value = false;
            }
        }
    });

    var doSave = function () {

        if ($("#Class_ID").val() != '') {
            $("#ID").val($("#Class_ID").val());
        }
        SetValue();
        var Formula = $("#Formula").val();
        $("#Formula").val(Formula.replace(/\+/g, '[+]'));
        var result = false;
        debugger;
        $('input[name=IsTrainingOut]').val(document.getElementById("IsTrainingOut").checked);

        onCreate($('#form-create'), '@_hrm_Hr_Services', 'api/Tra_Class/');


        $("#Formula").val(Formula.replace(/\[+]/g, '+'));
        result = true;

        return result;
    }
    function doSaveNew() {
        //  if (CheckValidate(data)) {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Tra_Class/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
        // }
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Rec_CandidateIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Tra_Class_Update_Title.TranslateString() <a class="link-back" onclick="clickBackClass()" style="padding-left: 3px">(@ConstantDisplay.HRM_Tra_Class_Back_Title.TranslateString())</a>
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
<script>
    function clickBackClass() {
        var link = $("#CurrentLinkForClickBack").val();
        if (link == "") {
            KendoRouteMapping("#Hrm_Main_Web/Tra_Class/Index#NewTab", "Hrm_Main_Web", '@_hrm_Main_Web');
        }
        else {
            clickBack();
        }
    }
</script>
