@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@using Kendo.Mvc.UI.Fluent

@model  HRM.Presentation.HrmSystem.Models.Sys_EvaConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}



<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_System_ConfigEva.TranslateString()
                            </legend>

                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Eva_DateStartAllowInputMark.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                    var DateStart = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                    }
                                     @Html.VnrDatePickerFor(model => model.DateStartMark, DateStart)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Eva_DateEndAllowInputMark.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var DateEnd = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateEndMark, DateEnd)
                                </div>
                            </div>

                            <div >
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Eva_DateTime1.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _DateStartTime1 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                            StyleCss = "width:100px",
                                            //Format = ConstantFormat.HRM_Format_DayMonth
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateStartTime1, _DateStartTime1).Format(ConstantFormat.HRM_Format_DayMonth)
                                    @{
                                        var _DateEndTime1 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateEndTime1, _DateEndTime1).Format(ConstantFormat.HRM_Format_DayMonth)
                                </div>
                            </div>
                            <div>
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Eva_DateTime2.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _DateStartTime2 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateStartTime2, _DateStartTime2).Format(ConstantFormat.HRM_Format_DayMonth)
                                    @{
                                        var _DateEndTime2 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateEndTime2, _DateEndTime2).Format(ConstantFormat.HRM_Format_DayMonth)
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>