@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@using Kendo.Mvc.UI.Fluent

@model  HRM.Presentation.HrmSystem.Models.Sys_EvaConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    IList<SelectListItem> lstDay = Common.Day();
}



<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Sys_Eva_TypeConfig.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_IsEmployeeEvaluation.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsEmployeeEvaluation = new CheckBoxBuilderInfo()
                                        {
                                            Value=Model.IsEmployeeEvaluation==true?true:false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model=>model.IsEmployeeEvaluation,_IsEmployeeEvaluation)
                                </div>
                            </div>
                            @*<div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_EmployeeEvaluationContent.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                   @Html.VnrTextAreaFor(model=>model.EmployeeEvaluationContent,"width:600px")
                                </div>
                            </div>*@
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_IsUserApproveEvaluation1.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsUserApproveEvaluation1 = new CheckBoxBuilderInfo()
                                        {
                                            Value=Model.IsUserApproveEvaluation1==true?true:false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model=>model.IsUserApproveEvaluation1,_IsUserApproveEvaluation1)
                                </div>
                            </div>
                            @*<div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_UserApproveEvaluationContent1.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextAreaFor(model=>model.UserApproveEvaluationContent1,"width:600px")
                                </div>
                            </div>*@
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_IsUserApproveEvaluation2.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsUserApproveEvaluation2 = new CheckBoxBuilderInfo()
                                        {
                                            Value=Model.IsUserApproveEvaluation2==true?true:false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model=>model.IsUserApproveEvaluation2,_IsUserApproveEvaluation2)
                                </div>
                            </div>
                            @*<div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_UserApproveEvaluationContent2.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextAreaFor(model=>model.UserApproveEvaluationContent2,"width:600px")
                                </div>
                            </div>*@
                            </fieldset>
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Sys_Eva_Time.TranslateString()
                            </legend>

                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_IsCycle.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsCycle = new CheckBoxBuilderInfo()
                                        {
                                            Value=Model.IsCycle==true?true:false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsCycle, _IsCycle)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_CycleDay1.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @*@{
                                        var _CycleDay1 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Common_PleaseSelect.TranslateString(),
                                            StyleCss = "width:120px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.CycleDay1, _CycleDay1)*@

                                    @{
                                        var _CycleDay1 = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "width:80px",
                                            BindTo = lstDay,
                                            OptionLabel = string.Empty,
                                            Value = Model == null ? string.Empty : Model.CycleDay1.ToString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.CycleDay1, _CycleDay1)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_CycleDay2.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @*@{
                                        var _CycleDay2 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Common_PleaseSelect.TranslateString(),
                                            StyleCss = "width:120px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.CycleDay2, _CycleDay2)*@


                                    @{
                                        var _CycleDay2 = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "width:80px",
                                            BindTo = lstDay,
                                            OptionLabel = string.Empty,
                                            Value = Model == null ? string.Empty : Model.CycleDay2.ToString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.CycleDay2, _CycleDay2)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_CycleDay3.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @*@{
                                        var _CycleDay3 = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Common_PleaseSelect.TranslateString(),
                                            StyleCss = "width:120px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.CycleDay3, _CycleDay3)*@


                                    @{
                                        var _CycleDay3 = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "width:80px",
                                            BindTo = lstDay,
                                            OptionLabel = string.Empty,
                                            Value = Model == null ? string.Empty : Model.CycleDay3.ToString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.CycleDay3, _CycleDay3)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_IsTime.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsTime = new CheckBoxBuilderInfo()
                                        {
                                            Value=Model.IsTime==true?true:false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model=>model.IsTime,_IsTime)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_TimeDateFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @*@{
                                        var _TimeDateFrom = new DatePickerBuilderInfo()
                                        {
                                            Placeholder = ConstantDisplay.HRM_Common_PleaseSelect.TranslateString(),
                                            StyleCss = "width:120px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.TimeDateFrom, _TimeDateFrom)*@
                                    @{
                                        var _TimeDateFrom = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "width:80px",
                                            BindTo = lstDay,
                                            OptionLabel = string.Empty,
                                            Value = Model == null ? string.Empty : Model.TimeDateFrom.ToString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.TimeDateFrom, _TimeDateFrom)
                                </div>
                            </div>
                            <div class="DivContentTitleValue">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Sys_Eva_TimeDateTo.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _TimeDateTo = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "width:80px",
                                            BindTo = lstDay,
                                            OptionLabel = string.Empty,
                                            Value = Model == null ? string.Empty : Model.TimeDateTo.ToString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.TimeDateTo, _TimeDateTo)
                                </div>
                            </div>



                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>