@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Presentation.Recruitment.Models
@model Rec_RecruitmentCampaignItemModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    IEnumerable lstPositionID = null;
    IEnumerable lstRecruitmentCampaignID = null;
    if (Model != null)
    {
        lstPositionID = new[] { new { PositionName = Model.PositionName, ID = Model.PositionID } };
        lstRecruitmentCampaignID = new[] { new { RecruitmentCampaignName = Model.RecruitmentCampaignName, ID = Model.RecruitmentCampaignID } };
    }

}
<script>
    SetFieldRequired();
   

    function onSave() {
        onSaveAndContinue($('#form_Rec_RecruitmentCampaignItem'), '@_hrm_Hre_Service', 'api/Rec_RecruitmentCampaignItem/', '@ConstantControlName.HRM_Rec_RecruitmentCampaignItem_Grid_Name', '@ConstantControlName.HRM_Rec_RecruitmentCampaignItem_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_RecruitmentCampaignItem'), '@_hrm_Hre_Service', 'api/Rec_RecruitmentCampaignItem/', '@ConstantControlName.HRM_Rec_RecruitmentCampaignItem_Grid_Name', '@ConstantControlName.HRM_Rec_RecruitmentCampaignItem_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {
        
        onlySave($('#form_Rec_RecruitmentCampaignItem'), '@_hrm_Hre_Service', 'api/Rec_RecruitmentCampaignItem/', '@ConstantControlName.HRM_Rec_RecruitmentCampaignItem_Grid_Name');
        return false;
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RecruitmentCampaignItem" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div style="display:block; padding-top:10px;">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.PositionID)
                        </div>
                        <div class="FieldValue">
                            @{
                            var PositionName = new MultiSelectBuilderInfo
                            {
                                DataTextField = "PositionName",
                                DataValueField = "ID",
                                Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiPosition",
                                MaxSelectedItems = 1,
                                Placeholder = ConstantDisplay.HRM_Category_SelectPosition.TranslateString(),
                                Value = lstPositionID
                            };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.PositionID, PositionName)
                        </div>
                    </div>

                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.RecruitmentCampaignID)
                        </div>
                        <div class="FieldValue">
                            @{
                            var RecruitmentCampaignID = new MultiSelectBuilderInfo
                            {
                                DataTextField = "RecruitmentCampaignName",
                                DataValueField = "ID",
                                Url = @_hrm_Hre_Service + "Rec_GetData/GetMultiRecruitmentCampaign",
                                MaxSelectedItems = 1,
                                Placeholder = ConstantDisplay.HRM_Recruitment_SelectRecruitmentCampaign.TranslateString(),
                                Value = lstRecruitmentCampaignID
                            };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.RecruitmentCampaignID, RecruitmentCampaignID)
                        </div>
                    </div>

                    <div id="dvSalesTypeName">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.HeadCount)
                        </div>
                        <div class="FieldValue">
                            @{
                            var HeadCount = new NumericTextBoxBuilderInfo<int>()
                            {
                                Format = ConstantFormat.HRM_Format_Int,
                                Value=Model!=null&&Model.HeadCount!=null?Model.HeadCount:0
                                
                            };
                                
                            }
                            @Html.VnrNumericTextBoxFor(model => model.HeadCount, HeadCount)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="dvNote">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Comment)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Comment)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>

            </td>

        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-RecruitmentCampaignItem", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-RecruitmentCampaignItem", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-RecruitmentCampaignItem", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

