@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Attendance.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_ImportFromTAMModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Attendance_ImportFromTAM;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script>
    $(document).ready(function () {
        //exapand
        $(".panel-wrap").on("click", "span.k-i-arrowhead-s", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-s")
                .addClass("k-i-arrowhead-n");

            kendo.fx(contentElement).expand("vertical").stop().play();
        });

        //collapse
        $(".panel-wrap").on("click", "span.k-i-arrowhead-n", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-n")
                .addClass("k-i-arrowhead-s");

            kendo.fx(contentElement).expand("vertical").stop().reverse();
        });
    });


</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.CodeEmp)
                    </div>
                    <div class="FieldValue">
                       @Html.VnrTextBoxFor(model => model.CodeEmp)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.TimeScan)
                    </div>
                    <div class="FieldValue">
                       @Html.Kendo().DatePickerFor(model => model.TimeScan)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Status)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.Status)
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl=ConstantPath.IconSearchPath })
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
           Att_ImportFromTAMModel.FieldNames.CodeEmp,
           Att_ImportFromTAMModel.FieldNames.TimeScan,
           Att_ImportFromTAMModel.FieldNames.Status
     

        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {

            {Att_ImportFromTAMModel.FieldNames.CodeEmp,80},
            {Att_ImportFromTAMModel.FieldNames.TimeScan,150},
            {Att_ImportFromTAMModel.FieldNames.Status,150}

    };

        Dictionary<string, string>
            displayFields = new Dictionary<string, string>
                ()
            {
            {Att_ImportFromTAMModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Attendance_CodeEmp},
            {Att_ImportFromTAMModel.FieldNames.TimeScan,ConstantDisplay.HRM_Attendance_TimeScan},
            {Att_ImportFromTAMModel.FieldNames.Status,ConstantDisplay.HRM_Attendance_Status}
            };

        Dictionary<string, string>
            formatFields = new Dictionary<string, string>
                ()
                    {
                    {Att_ImportFromTAMModel.FieldNames.TimeScan,"{0:hh:mm}"}
                    };
        var grid = new GridBuilderInfo
        {
            Name = ConstantDisplay.HRM_Attendance_ReportSumaryInOut,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            FormatFields = formatFields,
            ShowCommand = false,
            ReadActionUrl = "/HRM_Attendance_ImportFromTAM/GetAll/",
            ShowEditIcon = false
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_ImportFromTAMModel>(grid))
</div>
