@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model HRM.Presentation.HrmSystem.Models.Sys_SalConfigModel
@{
    Layout = null;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script type="text/javascript">
    @*@if (Model == null)
    {
        <text>
    $(document).ready(function () {
        document.getElementById("Value54").checked = true;
        document.getElementById("Value52").checked = true;

    });
    </text>
    }*@

    function GetDataFromConfig() {
        debugger;
        var value52 = $("input[type='radio'][name='Value52']:checked");
        var value54 = $("input[type='radio'][name='Value54']:checked");
        debugger;

        //Get value combobox
        var combobox = $("#HRM_SAL_HOLDSALARY_ELEMENT").data("kendoComboBox");
        var combobox1 = $("#HRM_SAL_HOLDSALARY_ELEMENT_AFTERTAX").data("kendoComboBox");

        debugger;
        return {
            Value8: $("#Value8").val(),
            Value52: value52 == undefined ? "" : value52.attr("dataid"),
            Value53: $("#Value53").is(':checked'),
            Value54: value54 == undefined ? "" : value54.attr("dataid"),
            Value55: $("#Value55").is(':checked'),
            Value56: $("#Value56").is(':checked'),
            Value57: $("#Value57").val(),
            Value58: $("#Value58").val(),
            Value59: $("#Value59").is(':checked'),
            HRM_SAL_HOLDSALARY_ELEMENT: combobox.value(),
            HRM_SAL_HOLDSALARY_ELEMENT_AFTERTAX:combobox1.value(),
            HRM_SAL_DATECLOSE_ALLOWANCE: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#HRM_SAL_DATECLOSE_ALLOWANCE").val()),
            HRM_SAL_NUMBER_WARRING_HOMEPAGE: $('#HRM_SAL_NUMBER_WARRING_HOMEPAGE').val(),
            HRM_SAL_DATECLOSE_SALARY: $("#HRM_SAL_DATECLOSE_SALARY").val(),
            HRM_SAL_ELEMENT_REALWAGES: $('#HRM_SAL_ELEMENT_REALWAGES').val(),
            HRM_SAL_COMPUTEPAYROLL_ORDERNUMBER: $("#HRM_SAL_COMPUTEPAYROLL_ORDERNUMBER").is(':checked'),
        };
    };
</script>

<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_GeneralConfig.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Coefficient_of_Food_Products.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.RadioButtonFor(mode => mode.Value52, true, new { dataid = AppConfig.E_RATE_BY_BASICSALARY.ToString(), @id = AppConfig.E_RATE_BY_BASICSALARY.ToString() }) @ConstantDisplay.HRM_SAL_Get_Basic_Salary.TranslateString()</label>
                                    <label>@Html.RadioButtonFor(mode => mode.Value52, false, new { dataid = AppConfig.E_RATE_BY_ATUALARISING.ToString(), @id = AppConfig.E_RATE_BY_ATUALARISING.ToString() }) @ConstantDisplay.HRM_SAL_Enter_Demand_Generation_Reality.TranslateString()   </label>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Calculate_Converted_OT.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.RadioButtonFor(mode => mode.Value54, true, new { dataid = AppConfig.E_OT_NO_CHANGE_COMPUTE.ToString(), @id = AppConfig.E_OT_NO_CHANGE_COMPUTE.ToString() }) @ConstantDisplay.HRM_SAL_Not_The_Change_Up_OT.TranslateString()</label>
                                    <label>@Html.RadioButtonFor(mode => mode.Value54, true, new { dataid = AppConfig.E_OT_CHANGE_COMPUTE.ToString(), @id = AppConfig.E_OT_CHANGE_COMPUTE.ToString() }) @ConstantDisplay.HRM_SAL_Calculate_Converted_OT.TranslateString()</label>
                                    <label>@Html.RadioButtonFor(mode => mode.Value54, true, new { dataid = AppConfig.E_NOT_OT_COMPUTE.ToString(), @id = AppConfig.E_NOT_OT_COMPUTE.ToString() }) @ConstantDisplay.HRM_SAL_Not_Compute_OT.TranslateString()</label>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Compute_Output_By_Formula.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.CheckBox("Value55", Model.Value55 == null ? false : bool.Parse(Model.Value55)) @ConstantDisplay.HRM_SAL_UseIt.TranslateString()</label>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Check_The_Level_Output.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.CheckBox("Value53", Model.Value53 == null ? false : bool.Parse(Model.Value53)) @ConstantDisplay.HRM_SAL_Warning_Enter_gas_production_exceeded.TranslateString()</label>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Configuration_For_Use_With_Female_Employee.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.CheckBox("Value56", Model.Value56 == null ? false : bool.Parse(Model.Value56)) @ConstantDisplay.HRM_SAL_Is_Application_Not_Pregnant_Women.TranslateString()</label>
                                    <br />
                                    @ConstantDisplay.HRM_SAL_WorkDay_Minus.TranslateString() @Html.VnrTextBoxFor(m => m.Value57, "width:50px;") @ConstantDisplay.HRM_SAL_Actual_Days_In_May.TranslateString() @Html.VnrTextBoxFor(m => m.Value58, "width:50px;") @ConstantDisplay.HRM_SAL_Day.TranslateString()
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Hours_To_Calculate_Salary_Deparment.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    <label>@Html.CheckBox("Value59", Model.Value59 == null ? false : bool.Parse(Model.Value59)) @ConstantDisplay.HRM_SAL_Get_Actual_Hours.TranslateString()</label>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel(ConstantDisplay.HRM_SAL_Hours_To_Calculate_Salary_Deparment.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        IList<SelectListItem> listOvertime = Enum.GetValues(typeof(EnumDropDown.OverTimeStatus))
                                        .Cast<EnumDropDown.OverTimeStatus>()
                                        .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
                                        .ToList();
                                        var combobox = new ComboBoxBuilderInfo()
                                        {
                                            DataValueField = "Value",
                                            DataTextField = "Text",
                                            BindTo = listOvertime,
                                        };
                                    }
                                    @Html.VnrComboBoxFor(m => m.Value8, combobox)

                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Phần tử tính Giữ Lương Trước Thuế")
                                </div>
                                <div class="FieldValueConfig">
                                 @{
                                     var Element_Combobox = new ComboBoxBuilderInfo()
                                     {
                                         Name = "HRM_SAL_HOLDSALARY_ELEMENT",
                                         Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCatElement",
                                         DataTextField = "ElementName",
                                         DataValueField = "ElementCode",
                                         Value = Model != null ? Model.HRM_SAL_HOLDSALARY_ELEMENT : "",
                                         ServerFilter = true,
                                     };
                                 }
                                 @Html.VnrComboBoxFor(m=>m.HRM_SAL_HOLDSALARY_ELEMENT,Element_Combobox)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Phần tử tính Giữ Lương Sau Thuế")
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var Element_Combobox_AfterTax = new ComboBoxBuilderInfo()
                                        {
                                            Name = "HRM_SAL_HOLDSALARY_ELEMENT_AFTERTAX",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCatElement",
                                            DataTextField = "ElementName",
                                            DataValueField = "ElementCode",
                                            Value = Model != null ? Model.HRM_SAL_HOLDSALARY_ELEMENT_AFTERTAX : "",
                                            ServerFilter = true,
                                        };
                                    }
                                    @Html.VnrComboBoxFor(m => m.HRM_SAL_HOLDSALARY_ELEMENT_AFTERTAX, Element_Combobox_AfterTax)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Phẩn Tử Lương Thực Nhập")
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var HRM_SAL_ELEMENT_REALWAGES = new ComboBoxBuilderInfo()
                                        {
                                            Name = "HRM_SAL_ELEMENT_REALWAGES",
                                            Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCatElement",
                                            DataTextField = "ElementName",
                                            DataValueField = "ElementCode",
                                            Value = Model != null ? Model.HRM_SAL_ELEMENT_REALWAGES : "",
                                            ServerFilter = true,
                                        };
                                    }
                                    @Html.VnrComboBoxFor(m => m.HRM_SAL_ELEMENT_REALWAGES, HRM_SAL_ELEMENT_REALWAGES)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Ngày Chốt Tính Phụ Cấp Sức Khỏe")
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var Element_DateComputeAllow = new DatePickerBuilderInfo()
                                        {
                                            Name = "HRM_SAL_DATECLOSE_ALLOWANCE",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(m => m.HRM_SAL_DATECLOSE_ALLOWANCE, Element_DateComputeAllow)
                                </div>
                            </div>
                          
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Ngày Chốt Lương")
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var DataCloseSalary = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Name = "HRM_SAL_DATECLOSE_SALARY",
                                        };
                                    }
                                    @Html.VnrNumericTextBoxFor(m => m.HRM_SAL_DATECLOSE_SALARY, DataCloseSalary)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvConfigElement">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabel("Tính Lương Theo Thứ Tự Phần Tử")
                                </div>
                                <div class="FieldValueConfig">
                                   @Html.VnrCheckBoxFor(m => m.HRM_SAL_COMPUTEPAYROLL_ORDERNUMBER)
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>