@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Hr.Models;
@using HRM.Presentation.UI.Controls.Kendo

@model Hre_ReportSummaryDisciplineModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
}
@Html.Hidden("Screen", screen)
<script>
    SetFieldRequired();
    var checkedNodes = [];
    var isCreateTemplate = false;
    var isCreateTemplateForDynamicGrid = false;
    function filterFieldInfo(isExport) {
        var elementPara = {
            DateFrom: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateFrom").val()),
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            OrgStructureID: checkedNodes.join(','),
            ValueFields: $('#valueFieldsGrid').val(),
            IsCreateTemplate: isCreateTemplate,
            IsCreateTemplateForDynamicGrid: isCreateTemplateForDynamicGrid
        };
        if (isExport == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
    $("#btnSearch").click(function () {
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes)
        debugger;
        $.ajax({
            type: 'POST',
            url: '@_hrm_Hr_Service' + 'Hre_GetData/GetReportSummaryDisciplineValidate',
            data: filterFieldInfo(false),
            dataType: 'json',
            async: false,
            success: function (data) {
                debugger;

                if (data[0] == "error") {
                    ShowNotificationProcessor(data[1]);
                }
                else {
                    var grid = $('#GridReportSummaryDiscipline').data("kendoGrid");
                    grid.dataSource.read();
                }
            }
        });
        selectedIds = [];
        checkedNodes = [];

        return false;
    });
    });
    $("#btnExport").click(function () {

        var isAccess = checkPermission(PrivilegeType.Export, '@HRM.Infrastructure.Security.ConstantPermission.Hre_ReportProfileDiscipline');
        if (!isAccess) {
            return;
        }
        isCreateTemplate = false;
        isCreateTemplateForDynamicGrid = false;
        if ($('#ddlScreenName').val() == "") {
            ExportFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Hre_GetData/GetReportSummaryDiscipline";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload);
        checkedNodes = [];
    });
    $("#btnCreateTemplate").click(function () {
        isCreateTemplate = true;
        isCreateTemplateForDynamicGrid = false;
        CreateTemplate('@_hrm_Hre_Service' + '/Hre_GetData/GetReportSummaryDiscipline', filterFieldInfo(true));
    });
</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabel(ConstantDisplay.HRM_HR_MonthOfEffective.TranslateString())
                    </div>
                    <div class="FieldValue">
                        @{
                            var DateFrom = new DatePickerBuilderInfo()
                            {
                                Name = "DateFrom",
                                StyleCss = "width:100px;",
                                Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString(),
                                Value = new DateTime(DateTime.Now.Year, 1, 1).ToShortDateString()
                            };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateFrom, DateFrom)
                        @{
                            var DateTo = new DatePickerBuilderInfo()
                            {
                                Name = "DateTo",
                                StyleCss = "width:100px;",
                                Placeholder = ConstantDisplay.HRM_HR_Profile_DateTo.TranslateString(),
                                Value = new DateTime(DateTime.Now.Year, 12, 31).ToShortDateString()
                            };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateTo, DateTo)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div14">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.OrgStructureID)
                    </div>
                    <div class="FieldValue">
                        <div class="FieldValue">
                            @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        <script>
            function GetScreenName() {
                return {
                    screenName: '@screen'
                };
            }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_hrm_Hr_Service + "Cat_GetData/GetScreenName",
                    Data = "GetScreenName",
                };
            }
            @Html.VnrDropDownList(screenName)

            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateTemplate", Content = ConstantDisplay.HRM_Common_CreateTemplate_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new string[]
                            {
                                Hre_ReportSummaryDisciplineModel.FieldNames.DisciplineTypeName,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Jan,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Feb,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Mar,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Apr,
                                Hre_ReportSummaryDisciplineModel.FieldNames.May,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Jun,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Jul,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Aug,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Sep,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Oct,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Nov,
                                Hre_ReportSummaryDisciplineModel.FieldNames.Dec,
                            };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_ReportSummaryDisciplineModel.FieldNames.DisciplineTypeName,120},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Jan,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Feb,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Mar,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Apr,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.May,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Jun,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Jul,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Aug,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Sep,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Oct,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Nov,90},
                                {Hre_ReportSummaryDisciplineModel.FieldNames.Dec,90},
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_ReportSummaryDisciplineModel.FieldNames.DisciplineTypeName,ConstantDisplay.HRM_HR_ReportProfileDiscipline_DisciplineType},
                            };
        var grid = new GridBuilderInfo
        {
            Name = "GridReportSummaryDiscipline",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowNextPrevious = true,
            PageSize = 20,
            ShowPageNumber = true,
            ReadActionUrl = _hrm_Hre_Service + "Hre_GetData/GetReportSummaryDiscipline",
            ReadData = "filterFieldInfo",
            ShowCheckbox = false,
            ShowEditIcon = false,
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_ReportSummaryDisciplineModel>(grid))
</div>

