@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities

@{
    Layout = null;
    string _hrm_Main_Web = System.Configuration.ConfigurationManager.AppSettings["Hrm_Main_Web"];
    string _hrm_Hre_Service = System.Configuration.ConfigurationManager.AppSettings["Hrm_Hre_Service"];
}
@model HRM.Presentation.Hr.Models.CreateTemplateModel
<form action="#" method="POST" id="form-create">
   
     <div id="dvTemplateName">
        <div class="FieldTitle150">
            @Html.Label(ConstantDisplay.HRM_CreateTemplate_TemplateName.TranslateString())
        </div>
        <div class="FieldValue">
            @Html.TextBoxFor(model => model.TemplateName, new { @class = "k-textbox"})
        </div>
        <div style="clear: both;"></div>
    </div>
    
    
    <div id="dvIsDynamic">
        <div class="FieldTitle150">
            @Html.Label(ConstantDisplay.HRM_CreateTemplate_Template_DynamicGrid.TranslateString())
        </div>
        <div class="FieldValue">
            @Html.CheckBoxFor(model => model.IsDynamic)
        </div>
        <div style="clear: both;"></div>
    </div>
    <div id="dvIsProtected">
        <div class="FieldTitle150">
            @Html.Label(ConstantDisplay.HRM_Category_Export_IsProtected.TranslateString())
        </div>
        <div class="FieldValue">
            @Html.VnrCheckBoxFor(model => model.IsProtected)
        </div>
        <div style="clear: both;"></div>
    </div>
    <div id="dvIsReadOnly">
        <div class="FieldTitle150">
            @Html.Label(ConstantDisplay.HRM_Category_Export_IsReadOnly.TranslateString())
        </div>
        <div class="FieldValue">
            @Html.VnrCheckBoxFor(model => model.IsReadOnly)
        </div>
        <div style="clear: both;"></div>
    </div>
    <div id="dvTemplateFile">
        <div class="FieldTitle150">
            @Html.Label("File template")
        </div>
        <div class="FieldValue">
            <input type="file" name="files" id="UploadTemplateFile" />
            @Html.HiddenFor(model => model.TemplateFileCustom)
        </div>
        <div style="clear: both;"></div>
    </div>
    @Html.HiddenFor(model => model.ScreenName)
    <script>
        var vnrUpload = VnrUploadBuilder;
        vnrUpload.Id = "UploadTemplateFile";
        vnrUpload.Host = '@_hrm_Main_Web';
        vnrUpload.Field = "TemplateFileCustom";
        vnrUpload.AutoUpload = true;
        VnrUpload(vnrUpload);
        $(document).ready(function () {
            var screen = $("#Screen").val();
            $("#ScreenName").val(screen);
        });
    </script>
    
    <div id="dvTemplateFile">
        <div class="FieldTitle150">
        </div>
        <div class="FieldValue">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateTemplateCode", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        </div>
        <div style="clear: both;"></div>
    </div>

     @*<input type="button" name="name" id="btnCreateTemplateCode" class="k-button" value="Tạo mới" />*@
</form>

    <script>
        $("#btnCreateTemplateCode").click(function () {
            debugger;
            //Cách lấy theo form ko hieu sao truyen chua dc nen dung tam cách này
            var v1 = $("#TemplateName").val();
            var v2 = $("#IsDynamic").is(":checked");
            var v3 = $("#TemplateFileCustom").val();
            var v4 = $("#Screen").val();
            var v5 = $('#IsReadOnly').is(":checked");
            var v6 = $("#IsProtected").is(":checked");
          
            $.ajax({
                url: '@_hrm_Hre_Service' + 'Hre_GetData/CreateTemplate',
                //data: $("#form-create").serialize(),
                data : {t1:v1,t2:v2,t3:v3,t4:v4, t5: v5, t6:v6 },
                type: 'POST',
                success: function (data) {
                    
                    ShowNotificationProcessor(data.ActionStatus);
                    location.reload();
                },
                error: function (data) {
                    ShowNotificationProcessor("error,Thêm Mới Thất Bại");
                }
            });
        });
    </script>
