@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList

@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@model HRM.Presentation.Hr.Models.Hre_DisciplineModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@{
    IList<SelectListItem> list = Enum.GetValues(typeof(EnumDropDown.DisciplineType))
        .Cast<EnumDropDown.DisciplineType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
        .ToList();

    SelectList data = new SelectList(list, "Value", "Text");

    IList<SelectListItem> listDisciplineLevel = Enum.GetValues(typeof(EnumDropDown.DisciplineLevel))
      .Cast<EnumDropDown.DisciplineLevel>()
      .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
      .ToList();

    IList<SelectListItem> listDisciplineStatus = Enum.GetValues(typeof(EnumDropDown.StatusDiscipline))
   .Cast<EnumDropDown.StatusDiscipline>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
   .ToList();
}

<script>
    SetFieldRequired();
    function ProfileSelect(e) {
        var dataItem = this.dataSource.view()[e.item.index()];
        $.ajax({
            url: '@_hrm_Hr_Service' + "Hre_GetData/CountTimeDisByPro",
            data: { ProfileID: dataItem.ID },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data != null) {
                    $("#CountDis").val(data);
                }
            }
        });
    }
</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_HR_Infringe_Info.TranslateString()
                        </legend>
                        <div style="float:left; width:510px">
                            <div id="div1">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ProfileName)
                                    @Html.HiddenFor(mode => mode.ID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        IEnumerable valueProfile = new string[] { };
                                        if (Model != null)
                                        {
                                            valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                        }
                                    }
                                    @{
                                        var Profile = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = Hre_DisciplineModel.FieldNames.ProfileName,
                                            DataValueField = Hre_DisciplineModel.FieldNames.ID,
                                            Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                            MaxSelectedItems = 1,
                                            //Value = new string[] { @Html.DisplayFor(mode => mode.ProfileID).ToString() }
                                            EventSelect = "ProfileSelect",
                                            Value = valueProfile
                                        };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabel(ConstantDisplay.HRM_CountDiscipline.TranslateString())
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var CountDis = new TextBoxBuilderInfo()
                                        {
                                            Name = "CountDis",
                                            Width = 50,
                                            Readonly = true,
                                        };
                                    }
                                    @Html.VnrTextBoxFor(model => model.CountDis, CountDis)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.OrgID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var org = new TreeViewDropdDownBuilderInfo()
                                        {
                                            Value = Model == null ? string.Empty : Model.OrgStructureName,
                                            SetFieldID = "OrgID",
                                            SetFieldName = "OrgID",
                                            IsShowCheckBox = false,
                                            Width = "200px;"
                                        };
                                    }

                                    @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                                    @Html.HiddenFor(model => model.OrgID)
                                    @Html.HiddenFor(model => model.OrgStructureName)
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateOfViolation)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _dateOfViolation = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateOfViolation, _dateOfViolation)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.DisciplinedTypesSuggestID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var DisciplinedTypesSuggestID = new ComboBoxBuilderInfo()
                                          {
                                              DataTextField = "DisciplinedTypesName",
                                              DataValueField = "ID",
                                              Url = _hrm_Hr_Service + "Cat_GetData/GetMultiDisciplinedTypes",
                                              Value = Model == null ? string.Empty : Model.DisciplinedTypesSuggestID.ToString(),
                                          };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.DisciplinedTypesSuggestID, DisciplinedTypesSuggestID).
                                                Text(Model == null ? string.Empty : Model.DisciplinedTypesSuggestName))
                                </div>
                            </div>
                        </div>
                        <div style="display: block; float: left; width: 500px">
                            <div id="div1">
                                <div class="FieldTitle" style="width:150px;">
                                    @Html.VnrLabelFor(mode => mode.DisciplineResonID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DisciplineReason = new ComboBoxBuilderInfo()
                                          {
                                              DataTextField = "NameEntityName",
                                              DataValueField = "ID",
                                              Url = _hrm_Hr_Service + "Cat_GetData/GetMultiDisciplineReason",
                                              Value = Model == null ? string.Empty : Model.DisciplineResonID.ToString(),
                                          };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.DisciplineResonID, _DisciplineReason).
                                                Text(Model == null ? string.Empty : Model.DisciplineResonName))
                                </div>
                            </div>
                            
                            <div id="div3">
                                <div class="FieldTitle" style="width:150px;">
                                    @Html.VnrLabelFor(mode => mode.ViolationExplain)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextAreaFor(model => model.ViolationExplain)
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_HR_Discipline_Info.TranslateString()
                        </legend>
                        <div style="float:left; width:510px">
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DisciplineLevel)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlDisciplineLevel = new DropDownListBuilderInfo()
    {
        DataTextField = "Text",
        DataValueField = "Value",
        BindTo = listDisciplineLevel
    };
                                    }
                                    @Html.VnrDropDownListFor(model => model.DisciplineLevel, ddlDisciplineLevel)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.DisciplineTypeID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var DisciplineTypeID = new ComboBoxBuilderInfo()
                                          {
                                              DataTextField = "DisciplinedTypesName",
                                              DataValueField = "ID",
                                              Url = _hrm_Hr_Service + "Cat_GetData/GetMultiDisciplinedTypes",
                                              Value = Model == null ? string.Empty : Model.DisciplineTypeID.ToString(),
                                          };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.DisciplineTypeID, DisciplineTypeID).
                                                                Text(Model == null ? string.Empty : Model.DisciplinedTypesName))
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateReview)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DateReview = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateReview, _DateReview)
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateOfEffective)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DateOfEffective = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateOfEffective, _DateOfEffective)
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateEndOfViolation)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _dateEndOfViolation = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateEndOfViolation, _dateEndOfViolation)
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.PersonApproved)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.PersonApproved)
                                </div>
                            </div>
                        </div>
                        <div style="display: block; float: left; width: 500px">
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.Status)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlDisciplineStatus = new DropDownListBuilderInfo()
    {
        DataTextField = "Text",
        DataValueField = "Value",
        BindTo = listDisciplineStatus
    };
                                    }
                                    @Html.VnrDropDownListFor(model => model.Status, ddlDisciplineStatus)
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DecisionNo)
                                </div>
                                <div class="FieldValue">
                                   @Html.VnrTextBoxFor(mode => Model.DecisionNo)
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.TermsViolation)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => Model.TermsViolation)
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.AmountOfFine)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var AmountOfFine = new NumericTextBoxBuilderInfo<double>()
                                        {
                                            Format = ConstantFormat.HRM_Format_Number_Double
                                        };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.AmountOfFine, AmountOfFine)
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.Notes)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextAreaFor(mode => Model.Notes)
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @{
        if (Model != null && Model.ProfileID != null)
        {
            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: '@_hrm_Hr_Service' + "Hre_GetData/CountTimeDisByPro",
                        data: { ProfileID: '@Model.ProfileID' },
                        type: 'POST',
                        datatype: 'json',
                        success: function (data) {
                            if (data != null) {
                                $("#CountDis").val(data);
                            }
                        }
                    });
                });
            </script>
        }
    }
</div>