
@using HRM.Infrastructure.Utilities;
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Laundry.Models;

@model Lau_ReportSearchModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Laundry_ReportSummaryExceptClothing.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    string[] valueFields = null;

    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
}

<script>
    var checkedNodes = [];

    function filterFieldInfo(isExport) {
        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
        var _ProfileIDs = $('#@Html.FieldIdFor(model => model.ProfileIDs)').val() != null ? $('#@Html.FieldIdFor(model => model.ProfileIDs)').val().join(',') : $('#@Html.FieldIdFor(model => model.ProfileIDs)').val();
        var _Lines = $('#@Html.FieldIdFor(model => model.LineID)').val() != null ? $('#@Html.FieldIdFor(model => model.LineID)').val().join(',') : $('#@Html.FieldIdFor(model => model.LineID)').val();
        var _Lockers = $('#@Html.FieldIdFor(model => model.LockerID)').val() != null ? $('#@Html.FieldIdFor(model => model.LockerID)').val().join(',') : $('#@Html.FieldIdFor(model => model.LockerID)').val();

        var elementPara = {
            ProfileIDs: _ProfileIDs,
            DateFrom: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateFrom").val()),
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            LineID: _Lines,
            LockerID: _Lockers,
            isIncludeQuitEmp: $('#@Html.FieldIdFor(model => model.isIncludeQuitEmp)').val(),
            isViewOverProfile: $('#@Html.FieldIdFor(model => model.isViewOverProfile)').val(),
            OrgStructureID: checkedNodes.join(","),
            ShiftID: $('#@Html.FieldIdFor(model => model.ShiftID)').val() != null ? $('#@Html.FieldIdFor(model => model.ShiftID)').val().join(',') : $('#@Html.FieldIdFor(model => model.ShiftID)').val(),
            MarkerID: $('#@Html.FieldIdFor(model => model.MarkerID)').val() != null ? $('#@Html.FieldIdFor(model => model.MarkerID)').val().join(',') : $('#@Html.FieldIdFor(model => model.MarkerID)').val(),
            selectedIds: selectedIds.join(",")
        };
        if (isExport == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }
    var data = SetCharacteFieldRequired();
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {

            if (CheckValidate(data)) {
                checkedNodes = [];
                var treeView = $("#treeviewOrg").data("kendoTreeView");
                checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
                ReadGrid("grid_ReportSummaryExceptClothing");
            }
        });

        $('input[type=radio]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });

    //Xử Lý Grid
    GridCheckbox("grid_ReportSummaryExceptClothing");

    $("#btnExport").click(function () {
        var isAccess = checkPermission(PrivilegeType.Export, '@ConstantPermission.Lau_ReportSumaryExceptClothing');
        if (!isAccess) {
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Lau_GetData/GetReportSummaryExceptClothing/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);

        ExportAll(urlGetData, dataParameter, urlDownload);
        checkedNodes = [];
        selectedIds = [];
    });


    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }
</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <form id="form-search">
                    <div style="width:550px; display:block; float:left">
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabel(@ConstantDisplay.HRM_Common_Search_Duration.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateStart = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateFrom, DateStart)
                                @{
                                    var DateEnd = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateTo, DateEnd)
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileIDs)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var multiSelectProfileID = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "ProfileName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                        Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                    };
                                }
                                @Html.VnrMultiSelectFor(mode => mode.ProfileIDs, multiSelectProfileID)
                            </div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.OrgStructureID)
                            </div>
                            <div class="FieldValue">
                                @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                            </div>
                        </div>

                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ShiftID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var Shift = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = Lau_ReportExceptClothingModel.FieldNames.ShiftName,
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Cat_GetData/GetMultiShift",
                                        Placeholder = ConstantDisplay.HRM_Att_SelectShift.TranslateString(),
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ShiftID, Shift))
                            </div>
                        </div>
                        
                    </div>
                    <div style="width:550px; display:block; float:left">

                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Marker_MarkerName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _marker = new ComboBoxBuilderInfo()
                                    {
                                        Name = "_Markers",
                                        DataTextField = "MarkerName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiMarker",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectMarker.TranslateString(),
                                        Autobind = true,
                                        StyleCss = "width:200px;",
                                    };
                                }
                                @Html.VnrComboBoxFor(mode => mode.MarkerID, _marker)
                            </div>
                        </div>

                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Locker_LockerName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _locker = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "LockerLMSName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiLocker",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectLocker.TranslateString(),
                                    };
                                }
                                @Html.VnrMultiSelectFor(mode => mode.LockerID, _locker)
                            </div>
                        </div>

                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Line_LineName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _line = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "LineLMSName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiLine",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectLine.TranslateString(),
                                    };
                                }
                                @Html.VnrMultiSelectFor(mode => mode.LineID, _line)
                            </div>
                        </div>

                        <div id="div8">
                            <div class="FieldTitle">
                            </div>
                            <div class="FieldValue">
                                @Html.VnrRadioButtonFor(mode => mode.isIncludeQuitEmp)
                                @Html.VnrLabelFor(mode => mode.isIncludeQuitEmp)
                            </div>
                        </div>

                        <div id="div8">
                            <div class="FieldTitle">
                            </div>
                            <div class="FieldValue">
                                @Html.VnrRadioButtonFor(mode => mode.isViewOverProfile)
                                @Html.VnrLabelFor(mode => mode.isViewOverProfile)
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    
    <div style="float:right">
        <script>
                    function GetScreenName() {
                        return {
                            screenName: '@screen'
                        };
                    }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_hrm_Hre_Service + "Cat_GetData/GetScreenName",
                    Data = "GetScreenName",
                    StyleCss = "width:200px"
                };
            }
            @Html.VnrDropDownList(screenName)
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>





    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        valueFields = new string[]
        {
           Lau_ReportSummaryExceptClothingModel.FieldNames.ProfileName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.CodeEmp,
           Lau_ReportSummaryExceptClothingModel.FieldNames.LockerName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.LineName,
           
           Lau_ReportSummaryExceptClothingModel.FieldNames.SumMonthAmount,
           Lau_ReportSummaryExceptClothingModel.FieldNames.StandardAmount,
           Lau_ReportSummaryExceptClothingModel.FieldNames.ExceedingStandards,
           Lau_ReportSummaryExceptClothingModel.FieldNames.SubtractSalary,
           
           Lau_ReportSummaryExceptClothingModel.FieldNames.BranchName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.TeamName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.SectionName,
           Lau_ReportSummaryExceptClothingModel.FieldNames.BranchCode,
           Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentCode,
           Lau_ReportSummaryExceptClothingModel.FieldNames.TeamCode,
           Lau_ReportSummaryExceptClothingModel.FieldNames.SectionCode,
      };

        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Lau_ReportSummaryExceptClothingModel.FieldNames.ProfileName,160},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.CodeEmp,80},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.LockerName,170},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.LineName,150},
            
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SumMonthAmount,100},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.StandardAmount,180},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.ExceedingStandards,180},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SubtractSalary,160},
            
            {Lau_ReportSummaryExceptClothingModel.FieldNames.BranchName,80},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentName,100},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.TeamName,80},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SectionName,80},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.BranchCode,100},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentCode,100},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.TeamCode,100},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SectionCode,80},
            

        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Lau_ReportSummaryExceptClothingModel.FieldNames.ProfileName,ConstantDisplay.HRM_Laundry_ReportSummaryExceptClothing_ProfileName},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Laundry_ReportSummaryExceptClothing_CodeEmp},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.LockerName,ConstantDisplay.HRM_Laundry_LaundryRecord_LockerName},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.LineName,ConstantDisplay.HRM_Laundry_Line_LineName},
            
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SumMonthAmount,ConstantDisplay.HRM_Laundry_Report_SumMonthAmount},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.StandardAmount,ConstantDisplay.HRM_Laundry_Report_MonthStandards},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.ExceedingStandards,ConstantDisplay.HRM_Laundry_Report_ExceedingStandards},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SubtractSalary,ConstantDisplay.HRM_Laundry_Report_SubtractSalary},
            
            
            {Lau_ReportSummaryExceptClothingModel.FieldNames.BranchName,ConstantDisplay.HRM_Attendance_BranchName1},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentName,ConstantDisplay.HRM_Attendance_DepartmentName1},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.TeamName,ConstantDisplay.HRM_Attendance_TeamName1},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SectionName,ConstantDisplay.HRM_Attendance_SectionName1},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.BranchCode,ConstantDisplay.HRM_Attendance_BranchCode},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.DepartmentCode,ConstantDisplay.HRM_Attendance_DepartmentCode},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.TeamCode,ConstantDisplay.HRM_Attendance_TeamCode},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SectionCode,ConstantDisplay.HRM_Attendance_SectionCode},

        };

        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SumMonthAmount, ConstantFormat.HRM_Format_Number_Integer},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.StandardAmount,ConstantFormat.HRM_Format_Number_Integer},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.ExceedingStandards,ConstantFormat.HRM_Format_Number_Integer},
            {Lau_ReportSummaryExceptClothingModel.FieldNames.SubtractSalary,ConstantFormat.HRM_Format_Money},
        };

        var grid = new GridBuilderInfo
        {
            ShowCheckbox = false,
            ShowEditIcon = false,
            Name = "grid_ReportSummaryExceptClothing",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            FormatFields = formatFields,
            ReadActionUrl = _hrm_Hre_Service + "Lau_GetData/GetReportSummaryExceptClothing",
            ReadData = "filterFieldInfo",
            ServerOperation = false
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Lau_ReportSummaryExceptClothingModel>(grid))
</div>

@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)