@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@using HRM.Presentation.Evaluation.Models
@model Eva_PerformanceExtendModel

@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Guid? PerformanceID = Guid.Empty;
    if (ViewData["PerformanceID"] != null)
    {
        PerformanceID = Guid.Parse(ViewData["PerformanceID"].ToString());
    }
    IList<SelectListItem> lstMobility = Enum.GetValues(typeof(Mobility))
     .Cast<Mobility>()
     .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
     .ToList();
    IList<SelectListItem> lstProficiency = Enum.GetValues(typeof(Proficiency))
    .Cast<Proficiency>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text).ToList();
    
    IList<SelectListItem> lstThisYear = Enum.GetValues(typeof(ThisYear))
     .Cast<ThisYear>()
     .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
     .ToList();

    IList<SelectListItem> lstOption = Enum.GetValues(typeof(Option))
     .Cast<Option>()
     .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
     .ToList();
    IList<SelectListItem> lstMeasureType = Enum.GetValues(typeof(MeasureType))
   .Cast<MeasureType>()
   .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text).ToList();


   //employee career interested
    IList<SelectListItem> lstCareerOption = Enum.GetValues(typeof(Option))
     .Cast<Option>()
     .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
     .ToList();

    IList<SelectListItem> lstRiskToLose = Enum.GetValues(typeof(RiskToLose))
 .Cast<RiskToLose>()
 .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
 .ToList();


    IList<SelectListItem> lstUrgencyToMove = Enum.GetValues(typeof(UrgencyToMove))
 .Cast<UrgencyToMove>()
 .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
 .ToList();
}
<style>
    /*textarea {
        min-width: 100px;
    }

    table {
        padding: 10px;
        margin: 10px 10px 10px 10px;
    }*/

    .td {
        border-style: inset;
        text-align: center;
    }

    .CSSTableGenerator {
        margin-right: 5px;
        padding: 0px;
        /*width: 100%;*/
        /*box-shadow: 10px 10px 5px #888888;*/
        border: 1px solid #949494;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }

        .CSSTableGenerator table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        /*.CSSTableGenerator tr:last-child td:last-child {
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:first-child {
            -moz-border-radius-topleft: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:last-child {
            -moz-border-radius-topright: 0px;
            -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .CSSTableGenerator tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }*/

        /*.CSSTableGenerator tr:hover td {
        }

        .CSSTableGenerator tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .CSSTableGenerator tr:nth-child(even) {
            background-color: #ffffff;
        }*/

        .CSSTableGenerator td {
            vertical-align: middle;
            border: 1px solid #949494;
            border-width: 0px 1px 1px 0px;
            text-align: center;
            padding: 1.5px;
            /*font-size: 1px;*/
            font-family: Arial;
            font-weight: bold;
            color: #000000;
            background-color: #D6D5D5;
        }

    /*.CSSTableGenerator tr:last-child td {
            border-width: 0px 1px 0px 0px;
        }

        .CSSTableGenerator tr td:last-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            border-width: 0px 0px 0px 0px;
        }*/
    .mau {
        background: -o-linear-gradient(bottom, #1a91db 5%, #1b6fc4 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1a91db), color-stop(1, #1b6fc4) );
        background: -moz-linear-gradient( center top, #1a91db 5%, #1b6fc4 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a91db", endColorstr="#1b6fc4");
        background: -o-linear-gradient(top,#1a91db,1b6fc4);
        background-color: #1a91db;
        border: 0px solid #000000;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 14px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        font-weight: bold;
    }
</style>

<script>
    SetFieldRequired();
    var PerformanceID = "";
    $(document).ready(function () {
        if ('@PerformanceID' != '@Guid.Empty') {
            PerformanceID = '@PerformanceID';
        }
        else if ($("#PerformanceID").val() == "" || $("#PerformanceID").val() == undefined) {
            PerformanceID = $("#PerformanceID").val();
        }

    })
    function UpdatePerformanceExtendIDOfPerformance()
    {
        

        $.ajax({
            traditional: true,
            url: '@_Hrm_Hre_Service' + 'Eva_GetData/UpdatePerformanceExtendIDOfPerformanceV2',
            data: { PerformanceExtendID: $("#PerformanceExtendID").val(),PerformanceID:PerformanceID},
            type: 'POST',
            success: function (data) {

            }

        })

    }
    function CreateOrUpdatePerformanceExtend()
    {
        debugger;
        if (PerformanceID=="")
        {
            ShowNotificationProcessor("Lưu Đánh Giá Trước");
            return;
        }
        onCreate($('#form_Eva_PerformanceExtend'), '@_Hrm_Hre_Service', 'api/Eva_PerformanceExtend/');
        $("#PerformanceExtendID").val($("#ID").val());
          UpdatePerformanceExtendIDOfPerformance();
    }

</script>


<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Eva_PerformanceExtend" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.PerformanceExtendID)
    <div style="padding-top:3px;">
        <div class="commandToolBarWidge" id="anchor">
            <div style="float:left">
                @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "CreateOrUpdatePerformanceExtend", Name = "btnCreatePerformanceExtend", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
            </div>
            <div style="float:right">
            </div>

            <div class="clear"></div>
        </div>
        <table style="width:99%" class="khung">
            <tbody>
                <tr>
                    <td valign="top">
                        <div>
                            <div style="display:block; padding-top:10px;">
                                <fieldset>
                                    @*<legend>
                                        <h2>@ConstantDisplay.HRM_Evaluation_OverView.TranslateString()</h2> 
                                    </legend>*@
                                    <div style="float: left;">
                                        <table style="background-color: #1a91db; width:115px; border: 1px solid #949494; height: 220px; text-align: center; border-width: 0px 1px 1px 0px; font-family: Arial; font-weight: bold; padding: 7px; ">
                                            <tr>
                                                <td style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-writing-mode: tb-rl;">
                                                    @ConstantDisplay.HRM_Evaluation_OverView.TranslateString()
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                        <div style="float: left; width: 480px" class="CSSTableGenerator">
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 230px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Mobility.TranslateString()
                                                    </td>
                                                    <td class="mau">
                                                        @ConstantDisplay.HRM_Category_DayOff_Comments.TranslateString()
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="padding-bottom: 167px;">
                                                        @{
    var V1 = new DropDownListBuilderInfo()
    {
        BindTo = lstMobility,
        Value = Model != null ? Model.V1 : null,
        StyleCss = "width:100%"
    };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V1, V1)
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextAreaFor(model => model.V2, "height:190px; width:220px;")
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                        <div style="float: left; width: 480px" class="CSSTableGenerator">
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width:225px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Languages.TranslateString()
                                                    </td>
                                                    <td class="mau" style="">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Proficiency.TranslateString()
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V3, "width:100%")
                                                    </td>
                                                    <td>
                                                        @{
    var V8 = new DropDownListBuilderInfo()
        {
            BindTo = lstProficiency,
            Value = Model != null ? Model.V8 : null,
            StyleCss = "width:100%"
        };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V8, V8)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V4, "width:100%")
                                                    </td>
                                                    <td>
                                                        @{
    var V9 = new DropDownListBuilderInfo()
    {
        BindTo = lstProficiency,
        Value = Model != null ? Model.V9 : null,
        StyleCss = "width:100%"
    };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V9, V9)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V5, "width:100%")
                                                    </td>
                                                    <td>
                                                        @{
    var V10 = new DropDownListBuilderInfo()
    {
        BindTo = lstProficiency,
        Value = Model != null ? Model.V10 : null,
        StyleCss = "width:100%"
    };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V10, V10)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V6, "width:100%")
                                                    </td>
                                                    <td>
                                                        @{
    var V11 = new DropDownListBuilderInfo()
    {
        BindTo = lstProficiency,
        Value = Model != null ? Model.V11 : null,
        StyleCss = "width:100%"
    };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V11, V11)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V7, "width:100%")
                                                    </td>
                                                    <td>
                                                        @{
    var V12 = new DropDownListBuilderInfo()
    {
        BindTo = lstProficiency,
        Value = Model != null ? Model.V12 : null,
        StyleCss = "width:100%"
    };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V12, V12)
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>

</fieldset>

                            </div>

                            <div style="display:block; padding-top:10px;">
                                <fieldset>
                                    @*<legend>
                                        <h2>@ConstantDisplay.HRM_Evaluation_PerfPotential.TranslateString()</h2>
                                    </legend>*@
                                    <div style="float: left;">
                                        <table style="background-color: #1a91db; border: 1px solid #949494; width:115px; height: 303px; text-align: center; border-width: 0px 1px 1px 0px; font-family: Arial; font-weight: bold; padding: 7px; ">
                                            <tr>
                                                <td style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-writing-mode: tb-rl;">
                                                    @ConstantDisplay.HRM_Evaluation_PerfPotential.TranslateString()
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="float: left; width: 485px">
                                        <div class="CSSTableGenerator">
                                            <table style=" width: 480px;">
                                                <tr>
                                                    <td rowspan="2" class="mau" style="width:120px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_PerformanceRatings.TranslateString()
                                                    </td>
                                                    <td class="mau" style="width: 120px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_LastYear.TranslateString()
                                                    </td>
                                                    <td>
                                                        @{
                                                            var V13 = new NumericTextBoxBuilderInfo<double>()
                                                            {
                                                                Format = ConstantFormat.HRM_Format_Money,
                                                                StyleCss = "width:220px;"
                                                            };
                                                        }
                                                        @Html.VnrNumericTextBoxFor(model => model.V13, V13)
                                                    </td>

                                                </tr>
                                                <tr>
                                                    @*<td class="mau">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_ThisYear.TranslateString()
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V14, "width:100%")
                                                    </td>*@
                                                    <td class="mau">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_ThisYear.TranslateString()
                                                    </td>
                                                    <td>
                                                        @{
                                                            var V14 = new NumericTextBoxBuilderInfo<double>()
                                                            {
                                                                Format = ConstantFormat.HRM_Format_Money,
                                                                StyleCss = "width:220px;"
                                                            };
                                                        }
                                                        @Html.VnrNumericTextBoxFor(model => model.V14, V14)
                                                    </td>

                                                </tr>

                                            </table>
                                        </div>
                                        <br />
                                        <div class="CSSTableGenerator">
                                            <table style=" width: 480px">
                                                <tr>
                                                    <td rowspan="2" class="mau" style="width: 115px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_TalentStatus.TranslateString()
                                                    </td>
                                                    <td class="mau" style="width: 100px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Old.TranslateString()
                                                    </td>
                                                    <td>

                                                        @Html.VnrTextBoxFor(model => model.V17, "width:100%")
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="mau">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_New.TranslateString()
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextBoxFor(model => model.V18, "width:100%")
                                                    </td>

                                                </tr>

                                            </table>
                                        </div>
                                        <br />
                                        <div class="CSSTableGenerator">

                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 115px; height: 61px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_KeyStrengths.TranslateString()
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextAreaFor(model => model.V20, "width:100%")
                                                    </td>
                                                </tr>
                                            </table>
                                            
                                           
                                        </div>
                                        
                                        <div class="CSSTableGenerator">
                                            <br />
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 115px; height: 61px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_RiskToLose.TranslateString()
                                                    </td>
                                                    <td>
                                                        @{var V22 = new DropDownListBuilderInfo()
                                                        {
                                                        BindTo = lstRiskToLose,
                                                        Value = Model != null ? Model.V22 : null,
                                                        StyleCss = "width:100%"
                                                        };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V22, V22)

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                    <div style="float: left; width: 487px">
                                        <div class="CSSTableGenerator">
                                            <table style=" width: 480px">
                                                <tr>
                                                    <td rowspan="2" class="mau" style="width: 120px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_PotentialRatings.TranslateString()
                                                    </td>
                                                    <td class="mau" style="width: 120px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_LastYear.TranslateString()
                                                    </td>
                                                    <td>
                                                        @{
                                                        var V15 = new DropDownListBuilderInfo()
                                                        {
                                                            BindTo = lstThisYear,
                                                            Value = Model != null ? Model.V15 : null,
                                                            StyleCss = "width: 220px;"
                                                        };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V15, V15)
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="mau">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_ThisYear.TranslateString()
                                                    </td>
                                                    <td>
                                                        @{
                                                        var V16 = new DropDownListBuilderInfo()
                                                        {
                                                            BindTo = lstThisYear,
                                                            Value = Model != null ? Model.V16 : null,
                                                            StyleCss = "width: 220px;"
                                                        };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V16, V16)
                                                    </td>

                                                </tr>

                                            </table>
                                        </div>
                                        <br />
                                        <div class="CSSTableGenerator">
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 111px; height: 65px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Rationale.TranslateString()
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextAreaFor(model => model.V19, "width:100%")
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <br />
                                        <div class="CSSTableGenerator">
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 111px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_KeyDevelopmentAreas.TranslateString()
                                                    </td>
                                                    <td>
                                                        @Html.VnrTextAreaFor(model => model.V21, "width:100%")
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        
                                        
                                        <div class="CSSTableGenerator">
                                            <br />
                                            <table>
                                                <tr>
                                                    <td class="mau" style="width: 111px">
                                                        @ConstantDisplay.HRM_Evaluation_PerformanceExtend_UrgencyToMove.TranslateString()
                                                    </td>
                                                    <td>
                                                       @{ var V23 = new DropDownListBuilderInfo()
                                                        {
                                                        BindTo = lstUrgencyToMove,
                                                        Value = Model != null ? Model.V23 : null,
                                                        StyleCss = "width:100%"
                                                        };
                                                        }
                                                        @Html.VnrDropDownListFor(model => model.V23, V23)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>



                                </fieldset>

                            </div>
                            <div>
                                <div style="display:block; margin-left:7px; margin-top:25px; margin-bottom:15px; float:left;">
                                    @*<fieldset>*@
                                        <div style="float: left;">
                                            <table style="background-color: #1a91db; width:115px; border: 1px solid #949494; height: 551px; text-align: center; border-width: 0px 1px 1px 0px; font-family: Arial; font-weight: bold; padding: 7px; ">
                                                <tr>
                                                    <td style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-writing-mode: tb-rl;">
                                                        @ConstantDisplay.HRM_Evaluation_Development.TranslateString()
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    @*</fieldset>*@
</div>
                                <div style="float:left;">
                                    <div style="display:block; padding-top:10px;">
                                        @*<fieldset>*@
                                            <legend style="width: 500px;">
                                                <h2>@ConstantDisplay.HRM_Evaluation_NextCareerSteps.TranslateString()</h2>
                                            </legend>
                                            <div style="float: left; width: 485px">
                                                <div class="CSSTableGenerator">
                                                    <table style=" width: 480px">
                                                        <tr>
                                                            <td colspan="3" class="mau">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Function.TranslateString()
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="2" class="mau" style="width: 115px">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_ShortTerm.TranslateString()
                                                            </td>
                                                            <td class="mau" style="width:100px">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Option1.TranslateString()
                                                            </td>
                                                            <td>
                                                                @{
    var V25 = new DropDownListBuilderInfo()
    {
        BindTo = lstOption,
        Value = Model != null ? Model.V25 : null,
        StyleCss = "width:100%"
    };
                                                                }
                                                                @Html.VnrDropDownListFor(model => model.V25, V25)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="mau">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Option2.TranslateString()
                                                            </td>
                                                            <td>
                                                                @{
    var V26 = new DropDownListBuilderInfo()
    {
        BindTo = lstOption,
        Value = Model != null ? Model.V26 : null,
        StyleCss = "width:100%"
    };
                                                                }
                                                                @Html.VnrDropDownListFor(model => model.V26, V26)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />
                                                <div class="CSSTableGenerator">
                                                    <table style=" width: 480px">

                                                        <tr>
                                                            <td rowspan="2" class="mau" style="width:115px">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_MidTerm.TranslateString()
                                                            </td>
                                                            <td class="mau" style="width:100px">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Option1.TranslateString()
                                                            </td>
                                                            <td>
                                                                @{
    var V27 = new DropDownListBuilderInfo()
    {
        BindTo = lstOption,
        Value = Model != null ? Model.V27 : null,
        StyleCss = "width:100%"
    };
                                                                }
                                                                @Html.VnrDropDownListFor(model => model.V27, V27)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="mau">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Option2.TranslateString()
                                                            </td>
                                                            <td>
                                                                @{
    var V28 = new DropDownListBuilderInfo()
    {
        BindTo = lstOption,
        Value = Model != null ? Model.V28 : null,
        StyleCss = "width:100%"
    };
                                                                }
                                                                @Html.VnrDropDownListFor(model => model.V28, V28)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />

                                                <div class="CSSTableGenerator">
                                                    <table style=" width: 480px">
                                                        <tr>
                                                            <td class="mau" style="width:115px">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_EmployeeCareerInterest.TranslateString()

                                                            </td>
                                                            <td style="height:67px">
                                                                @{
    var V29 = new DropDownListBuilderInfo()
    {
        BindTo = lstCareerOption,
        Value = Model != null ? Model.V29 : null,
        StyleCss = "width:100%"
    };
                                                                }
                                                                @Html.VnrDropDownListFor(model => model.V29, V29)
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                            <div style="float:left">
                                                <div class="CSSTableGenerator">
                                                    <table style=" width: 480px">
                                                        <tr>
                                                            <td class="mau">
                                                                @ConstantDisplay.HRM_Evaluation_PerformanceExtend_TargetPositionDescription.TranslateString()
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.VnrTextBoxFor(model => model.V30, "width:100%")
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.VnrTextBoxFor(model => model.V31, "width:100%")
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <br />
                                                <div class="CSSTableGenerator" style="margin-top: 3px;">
                                                    <table style=" width: 480px">
                                                        <tr>
                                                            <td>
                                                                @Html.VnrTextBoxFor(model => model.V32, "width:100%")
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.VnrTextBoxFor(model => model.V33, "width:100%")
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />
                                                <div class="CSSTableGenerator" style="margin-top: 1px;">
                                                    <table style=" width: 480px">
                                                        <tr>
                                                            <td>
                                                                @Html.VnrTextAreaFor(model => model.V34, "width:100%")
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div>


                                            </div>

                                        @*</fieldset>*@

                                    </div>

                                    <div style="display:block; padding-top:10px;">
                                        @*<fieldset>*@
                                            <legend style="width:500px;">
                                                @*@ConstantDisplay.HRM_Evaluation_NextCareerSteps.TranslateString()*@

                                                <h2>Key Supporting Measures</h2>
                                                <h3>
                                                    Based on the identified Key Strengths and Key  Development Areas , what measures are requeired to<br />
                                                    support the employee on her/his current position and/or prepare her/him for the next career steps?
                                                </h3>


                                            </legend>
                                            <div class="CSSTableGenerator" style="width: 960px; float: left">
                                                <table style="width: 960px">
                                                    <tr>
                                                        <td class="mau" style="width: 223px">
                                                            @ConstantDisplay.HRM_Evaluation_PerformanceExtend_MeasureType.TranslateString()
                                                        </td>
                                                        <td class="mau" style="width: 225px;">
                                                            @ConstantDisplay.HRM_Evaluation_PerformanceExtend_MeasureDescriptionObjective.TranslateString()
                                                        </td>
                                                        <td class="mau" style="width: 225px; ">
                                                            @ConstantDisplay.HRM_Evaluation_PerformanceExtend_Responsible.TranslateString()
                                                        </td>
                                                        <td class="mau">
                                                            @ConstantDisplay.HRM_Evaluation_PerformanceExtend_DueDate.TranslateString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @{
    var V35 = new DropDownListBuilderInfo()
    {
        BindTo = lstMeasureType,
        Value = Model != null ? Model.V35 : null,
        StyleCss = "width:250px"
    };
                                                            }
                                                            @Html.VnrDropDownListFor(model => model.V35, V35)
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V39, "width:100px")
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V43, "width:100px")
                                                        </td>
                                                        <td>
                                                            @{
    var V47 = new DatePickerBuilderInfo()
    {
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px;"
    };
                                                            }
                                                            @Html.VnrDatePickerFor(model => model.V47, V47)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @{
    var V36 = new DropDownListBuilderInfo()
    {
        BindTo = lstMeasureType,
        Value = Model != null ? Model.V36 : null,
        StyleCss = "width:100%"
    };
                                                            }
                                                            @Html.VnrDropDownListFor(model => model.V36, V36)
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V40, "width:100%")
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V44, "width:100%")
                                                        </td>
                                                        <td>
                                                            @{
    var V48 = new DatePickerBuilderInfo()
    {
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px;"
    };
                                                            }
                                                            @Html.VnrDatePickerFor(model => model.V48, V48)
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            @{
    var V37 = new DropDownListBuilderInfo()
    {
        BindTo = lstMeasureType,
        Value = Model != null ? Model.V37 : null,
        StyleCss = "width:100%"
    };
                                                            }
                                                            @Html.VnrDropDownListFor(model => model.V37, V37)
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V41, "width:100%")
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V45, "width:100%")
                                                        </td>
                                                        <td>
                                                            @{
    var V49 = new DatePickerBuilderInfo()
    {
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px;"
    };
                                                            }
                                                            @Html.VnrDatePickerFor(model => model.V49, V49)
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            @{
    var V38 = new DropDownListBuilderInfo()
    {
        BindTo = lstMeasureType,
        Value = Model != null ? Model.V38 : null,
        StyleCss = "width:100%"
    };
                                                            }
                                                            @Html.VnrDropDownListFor(model => model.V38, V38)
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V42, "width:100%")
                                                        </td>
                                                        <td>
                                                            @Html.VnrTextAreaFor(model => model.V46, "width:100%")
                                                        </td>
                                                        <td>
                                                            @{
    var V50 = new DatePickerBuilderInfo()
    {
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px;"
    };
                                                            }
                                                            @Html.VnrDatePickerFor(model => model.V50, V50)
                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>



                                        @*</fieldset>*@

                                    </div>

                                </div>
                            </div>
                           <br />

                            <div style="display:block; padding-top:10px;">
                                <fieldset>
                                    @*<legend>*@
                                        @*@ConstantDisplay.HRM_Evaluation_NextCareerSteps.TranslateString()*@

                                        @*<h2>Possible successors for the position</h2>*@
                                       
                                       

                                    @*</legend>*@
                                    <div style="float: left;">
                                        <table style="background-color: #1a91db; border: 1px solid #949494; color:black; height: 110px; text-align: center; border-width: 0px 1px 1px 0px; font-family: Arial; font-weight: bold; padding: 7px; ">
                                            <tr>
                                                <td style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-writing-mode: tb-rl;">
                                                    @ConstantDisplay.HRM_Evaluation_SucessionPlanning.TranslateString()
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="CSSTableGenerator" style="width: 970px; float:left;">
                                        <table style="width: 970px">
                                            <tr>
                                                <td colspan="2" class="mau" style="width: 228px">
                                                     @ConstantDisplay.HRM_Evaluation_firstCandidate.TranslateString()
                                                </td>
                                                <td class="mau" style="width: 225px; ">
                                                    @ConstantDisplay.HRM_Evaluation_secondCandidate.TranslateString()
                                                </td>
                                                <td class="mau">
                                                    @ConstantDisplay.HRM_Evaluation_thirdCandidate.TranslateString()
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td  class="mau" style="width: 228px">
                                                    @ConstantDisplay.HRM_Evaluation_emergencyCover.TranslateString()
                                                </td>
                                                <td>
                                                    @Html.VnrTextBoxFor(model => model.V51, "width:100%")
                                                </td>
                                                <td  style="width: 225px; ">
                                                    @Html.VnrTextBoxFor(model => model.V52, "width:100%")
                                                </td>
                                                <td >
                                                    @Html.VnrTextBoxFor(model => model.V53, "width:350px")
                                                </td>
                                            </tr>
                                            

                                            <tr>
                                                <td class="mau" style="width: 228px">
                                                    @ConstantDisplay.HRM_Evaluation_readyNow.TranslateString()
                                                </td>
                                                <td>
                                                    @Html.VnrTextBoxFor(model => model.V54, "width:100%")
                                                </td>
                                                <td >
                                                    @Html.VnrTextBoxFor(model => model.V55, "width:100%")
                                                </td>
                                                <td >
                                                    @Html.VnrTextBoxFor(model => model.V56, "width:100%")
                                                </td>
                                            </tr>
                                            

                                            <tr>
                                                <td class="mau" style="width: 228px">
                                                    @ConstantDisplay.HRM_Evaluation_ready3Year.TranslateString()
                                                </td>
                                                <td>
                                                    @Html.VnrTextBoxFor(model => model.V57, "width:100%")
                                                </td>
                                                <td>
                                                    @Html.VnrTextBoxFor(model => model.V58, "width:100%")
                                                </td>
                                                <td>
                                                    @Html.VnrTextBoxFor(model => model.V59, "width:100%")
                                                </td>
                                            </tr>
                                        </table>
                                    </div>



                                </fieldset>

                            </div>
                        </div>

                    </td>

                    <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
}

