
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_CateringModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Canteen_Catering_Title;
    Layout = null;
    var hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Can_Web = ConstantPathWeb.Hrm_Main_Web;
 
}
@*<h1>Test</h1>*@
<script>
    var data = SetCharacteFieldRequired();
    function onSaveNew() {
         
        if (CheckValidate(data)) {
            onSaveAndContinue($('#form_can_Catering'), '@hrm_Can_Service', 'api/Can_Catering/', '@ConstantControlName.HRM_Canteen_Catering_Grid_Name', 'windowCanTering'); return false;
        }
    }

    function onSaveClose() {
        if (CheckValidate(data)) {
            onSaveAndClose($('#form_can_Catering'), '@hrm_Can_Service', 'api/Can_Catering/', '@ConstantControlName.HRM_Canteen_Catering_Grid_Name', 'windowCanTering'); return false;
        }
    }
</script>
@*<script>
    var data = SetCharacteFieldRequired();
    function doSave() {
        var result = false;
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@hrm_Can_Service', 'api/Can_Catering/');
            result = false;
        }
        return result;
    };
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Can_Web/Can_Catering/Create/', 'Hrm_Can_Web', '@_hrm_Can_Web');
        }
    };

</script>*@
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Cat_CateringIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Canteen_Catering_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_Catering_Back_To_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-canMachineOfLine", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-canMachineOfLine", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                    @*<div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "saveAndNew", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>*@
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




