
@using HRM.Infrastructure.Utilities;
@using HRM.Infrastructure.Security
@model HRM.Presentation.Canteen.Models.Can_CateringModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Canteen_Catering_Title.TranslateString();
    Layout = null;
    var _hrm_Can_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCanTering",
        Visible = false,
        Width=700,
        LoadContentFrom = _hrm_Can_Web + "Can_Catering/CreateOrUpdate/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var checkedNodes = [];
     
    var gridName = '@ConstantControlName.HRM_Canteen_Catering_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Canteen_Catering_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Canteen_Catering_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Canteen_Catering_Create_Title.TranslateString())';
    $(document).ready(function () {
        //Ẩn hiện div chứa các input tìm kiếm
        ShowHidePanel();
        //Xử lý sự kiện click button tìm kiếm
        $("#btnSearch").click(function () {
             
            ReadGrid(gridName);
        });
        //Chỉnh sửa
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Can_Catering');
        if (!isAccess) {
            return;
        }*@
        EditGridPopUp(gridName, 'windowCanTering', '@_hrm_Can_Web' + "Can_Catering/CreateOrUpdate/",'@ConstantPermission.Can_Catering' ,titleEditPopUp);
    });
    //Lấy dữ liệu khi tìm kiếm
    function filterFieldInfo() {
        return {
            CateringName: $('#SCateringName').val(),
            CateringCode: $('#SCateringCode').val(),
            //Gán tạm vì các Cat chưa xử lý Export
            IsExport: false
        };
    }
    //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
    GridCheckbox(gridName);
    //Tạo mới
    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Can_Catering');
        if (!isAccess) {
            return;
        }
        PopUpCreate('windowCanTering', titleCreatePopUp);
    });
    
    //Xóa
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Can_Catering');
        if (!isAccess) {
            return;
        }
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected(gridName, '@_hrm_Can_Web' + "Can_Catering/RemoveSelected/", selectedIds.join(","));
        return false;
    });

</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form id="form-search">
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.CateringName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SCateringName","width:200px")
                        </div>
                    </div>     
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.CateringCode)
                        </div>
                        <div class="FieldValue">
                            <div class="FieldValue">                                
                                @Html.VnrTextBox("SCateringCode", "width:200px")
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Canteen.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Can_CateringModel.FieldNames.CateringCode,
            Can_CateringModel.FieldNames.CateringName,    
            Can_CateringModel.FieldNames.Note            
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Can_CateringModel.FieldNames.CateringCode,120},
            {Can_CateringModel.FieldNames.CateringName, 250},     
            {Can_CateringModel.FieldNames.Note, 200},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Can_CateringModel.FieldNames.CateringCode, ConstantDisplay.HRM_Canteen_Catering_CateringCode},
            {Can_CateringModel.FieldNames.CateringName, ConstantDisplay.HRM_Canteen_Catering_CateringName}, 
            {Can_CateringModel.FieldNames.Note, ConstantDisplay.HRM_Canteen_Catering_Notes}            
        };
        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Canteen_Catering_Grid_Name,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = @_hrm_Can_Service + "Canteen_GetData/GetCateringList/",
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<HRM.Presentation.Canteen.Models.Can_CateringModel>(grid))
</div>
