@model HRM.Presentation.HrmSystem.Models.Sys_GroupUserModel
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models

@using HRM.Infrastructure.Utilities

@{
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@{
    ViewBag.Title = "InsertSysGroupUser";

}

<div class="insert-sysgroup" style="width: 450px;">
    <table style="margin-left:30px; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Code)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.Code))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.GroupUserName)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.GroupUserName))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.UserID)</th>
            <td style="text-align:left;">
                @{
                    var mtsUser = new MultiSelectBuilderInfo()
                    {
                        Name = Sys_GroupUserModel.FieldNames.UserID,
                        DataTextField = Sys_GroupUserModel.FieldNames.LoginName,
                        DataValueField = Sys_GroupUserModel.FieldNames.Id,
                        Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiUser",
                        Placeholder = ConstantDisplay.HRM_System_SelectUser.TranslateString(),
                        MaxSelectedItems = 1,
                    };
                }
                @(Html.VnrMultiSelectFor(model => model.UserID, mtsUser))
            </td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.GroupID)</th>
            <td style="text-align:left;">
                @{
                    var mtsGroup = new MultiSelectBuilderInfo()
                    {
                        Name = Sys_GroupUserModel.FieldNames.GroupID,
                        DataTextField = Sys_GroupUserModel.FieldNames.GroupName,
                        DataValueField = Sys_GroupUserModel.FieldNames.Id,
                        Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiGroup",
                        Placeholder = ConstantDisplay.HRM_System_SelectGroup.TranslateString(),
                        MaxSelectedItems = 1,
                    };
                }
                @(Html.VnrMultiSelectFor(model => model.GroupID, mtsGroup))
            </td>

        </tr>

        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Note)</th>
            <td style="text-align:left;">@(Html.VnrTextAreaFor(model => model.Note))</td>

        </tr>

    </table>
</div>
