@model HRM.Presentation.HrmSystem.Models.Sys_GroupModel
@using HRM.Presentation.UI.Controls.Kendo

@{
    ViewBag.Title = "InsertSysGroup";

}

<div class="insert-sysgroup" style="width: 450px;">
    <table style="margin-left:30px; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Code)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.Code))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.GroupName)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.GroupName))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.IsActive)</th>
            <td style="text-align:left;">@(Html.VnrCheckBoxFor(model => model.IsActive))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Description)</th>
            <td style="text-align:left;">@(Html.VnrTextAreaFor(model => model.Description))</td>

        </tr>


        <tr>

    </table>
</div>
