@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.UI.Controls.VnrSelectProfileOrOrgStructure
@{
    string NameControlProfile = "VnrSelectProfileOrOrgStructure_Profile_" + Model.Name;
    string NameControlExclusionProfile = "VnrSelectProfileOrOrgStructure_ExclusionProfile_" + Model.Name;
    string NameControlOrg = "VnrSelectProfileOrOrgStructure_OrgStructure_" + Model.Name;
    string ChooseProfileOrOrgStructure = "ChooseProfileOrOrgStructure_" + Model.Name;
    string div_profile = "Profile_" + Model.Name;
    string div_org = "OrgStructure_" + Model.Name;
    string ExclusionProfile = "ExclusionProfile_" + Model.Name;
}
@if (1 != 1)
{
    <script src="~/Scripts/VnrJsFramework.js"></script>
}
<script type="text/javascript">
    //Xử lý ẩn hiện control
    $(document).on("change", "input[name=@ChooseProfileOrOrgStructure]", function () {
        var value = $('input[name=@ChooseProfileOrOrgStructure]:checked').val();
        if (value == 0) {
            $('#@div_profile').show();
            $('#@div_org').hide();
            $('#@Model.BindingOrgStructureForField').val('');
            EvenChangeVnrSelectProfileOrOrgStructure_Profile();
        }
        else {
            $('#@div_org').show();
            $('#@div_profile').hide();
            $('#@Model.BindingProfileForField').val('');
            var checkedNodes = [],
            checkedNodesName = [],
            treeView = $("#@NameControlOrg").data("kendoTreeView");
            checkedNodeOrderNumbersAndName(treeView.dataSource.view(), checkedNodes, checkedNodesName);
            $('#@Model.BindingOrgStructureForField').val(checkedNodes.join(','));
        }
    });

    function EvenChangeVnrSelectProfileOrOrgStructure_Profile() {
        var Profile = new VnrMultiSelect('@NameControlProfile');
        $('#@Model.BindingProfileForField').val(Profile.GetSelectValue().join(','));
    };

    function EvenChangeVnrSelectProfileOrOrgStructure_ExclusionProfile() {
        var Profile = new VnrMultiSelect('@NameControlExclusionProfile');
        $('#@Model.BindingExclusionProfileForField').val(Profile.GetSelectValue().join(','));
    };



    $(document).on("change", "input[name=@ExclusionProfile]", function () {
        var IsCheck = $("input[name=@ExclusionProfile]").is(':checked');
        if (IsCheck) {
            $('#@ExclusionProfile').show();
            EvenChangeVnrSelectProfileOrOrgStructure_ExclusionProfile();
        }
        else {
            $('#@ExclusionProfile').hide();
            $('#@Model.BindingExclusionProfileForField').val('');
        }
    });

    @{
        if (Model != null && Model.ProfileMultiSelect != null && Model.BindingProfileForField != null && Model.ProfileMultiSelect.Value!=null)
        {
            <text>
    $('#@Model.ProfileMultiSelect.Name').val('@Model.ProfileMultiSelect.Value.Get(1)');
            </text>
        }
    }
</script>


<div>
    <div id="Choose">
        <label>
            <input type="radio" value="0" name="@ChooseProfileOrOrgStructure" checked /> Nhân Viên
        </label>
        <label>
            <input type="radio" value="1" name="@ChooseProfileOrOrgStructure" /> Phòng Ban
        </label>
    </div>

    <div id="@div_profile" style="display:block;">
        @{
            var Profile = Model.ProfileMultiSelect;
            Profile.Name = NameControlProfile;
            if (Model.BindingProfileForField != null && Model.BindingProfileForField != string.Empty)
            {
                Profile.EventChange = "EvenChangeVnrSelectProfileOrOrgStructure_Profile";
            }
        }
        @Html.VnrMultiSelect(Profile)
    </div>

    <div id="@div_org" style="display:none;">
        <div>
            @{
                Model.OrgTreeView.Name = NameControlOrg;
                Model.OrgTreeView.Fixed = true;
                if (Model.BindingOrgStructureForField != null && Model.BindingOrgStructureForField != string.Empty)
                {
                    Model.OrgTreeView.SetFieldName = Model.BindingOrgStructureForField;
                }
            }
            @Html.Partial("EditorTemplates/OrgTreeViewDropDown", Model.OrgTreeView)
        </div>
        <label>
            <input type="checkbox" name="@ExclusionProfile" /> Loại Trừ Nhân Viên
        </label>
        <div id="@ExclusionProfile" style="display:none;">
            @{
                var ExclusionProfile1 = Model.ProfileMultiSelect;
                Profile.Name = NameControlExclusionProfile;
                if (Model.BindingProfileForField != null && Model.BindingProfileForField != string.Empty)
                {
                    ExclusionProfile1.EventChange = "EvenChangeVnrSelectProfileOrOrgStructure_ExclusionProfile";
                }
            }
            @Html.VnrMultiSelect(ExclusionProfile1)
        </div>
    </div>

</div>


