@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models

@model Cat_MasterDataGroupItemModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var masterDataGroupID = Request["MasterDataGroupID"];
}

<script>
    $(document).ready(function () {
        var data = [];
        $("#ObjectID").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "ObjectID",
            maxSelectedItems: 10,
            dataSource: data
        });
    });


    function showInfo_ObjectName_Changing() {
        var objectName = $("#ObjectName_Name").val();
        $("#ObjectName").val(objectName);
        $.ajax({
            url: '@_hrm_Hre_Service' + 'Cat_GetData/GetChildObjectName',
            data: { objectName: objectName },
            type: 'Get',
            success: function (data) {
                var multi = $("#ObjectID").data("kendoMultiSelect");
                multi.setDataSource(data);              
            }
        });
    }

    function onSaveDataPopUp() {
        var multi = $("#ObjectID").data("kendoMultiSelect");
        $("#ObjectID").val(multi.value());
        $("#ObjectIDStr").val(multi.value());
        $("#MasterDataGroupID").val($("#MasterDataGroupID1").val());
        onlySave($('#form_Cat_MasterDataGroupItem'), '@_hrm_Hre_Service', 'api/Cat_MasterDataGroupItem/', 'grid_Cat_MasterDataGroupItem'); return false;
    }
    
    function onSaveNew() {
        var multi = $("#ObjectID").data("kendoMultiSelect");
        $("#ObjectID").val(multi.value());
        $("#ObjectIDStr").val(multi.value());
        $("#MasterDataGroupID").val($("#MasterDataGroupID1").val());
        onSaveAndContinue($('#form_Cat_MasterDataGroupItem'), '@_hrm_Hre_Service', 'api/Cat_MasterDataGroupItem/', 'grid_Cat_MasterDataGroupItem', 'windowCatMasterDataGroupItem'); return false;
    }

    function onSaveClose() {
        var multi = $("#ObjectID").data("kendoMultiSelect");
        $("#ObjectID").val(multi.value());
        $("#ObjectIDStr").val(multi.value());
        $("#MasterDataGroupID").val($("#MasterDataGroupID1").val());
        onSaveAndClose($('#form_Cat_MasterDataGroupItem'), '@_hrm_Hre_Service', 'api/Cat_MasterDataGroupItem/', 'grid_Cat_MasterDataGroupItem', 'windowCatMasterDataGroupItem'); return false;
    }

</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_MasterDataGroupItem" }))
{
   @Html.HiddenFor(model => model.ID)
   @Html.Hidden("ObjectName")   
   @Html.Hidden("MasterDataGroupID")   
   @Html.Hidden("ObjectIDStr")   
    <table>
        <tr>
            <td>
                <div id="dvObjectName">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.ObjectName)
                    </div>
                    <div class="FieldValue">
                        @{
                        var _ObjectNameID = new ComboBoxBuilderInfo()
                        {
                            Name = "ObjectName_Name",
                            DataTextField = "Name",
                            DataValueField = Cat_HDTJobGroupModel.FieldNames.ID,
                            Url = _hrm_Hre_Service + "Cat_GetData/GetMultiCatTable",
                            StyleCss = "width:300px",
                            //Value = Model == null ? string.Empty : Model.HDTJobGroupID.ToString(),
                            EventChange = "showInfo_ObjectName_Changing"
                        }; }
                        @(Html.VnrComboBoxFor(mode => mode.ObjectName, _ObjectNameID).Text(Model == null ? string.Empty : Model.ObjectName))
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div id="dvObjectID">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.ObjectID)
                    </div>
                    <div class="FieldValue">
                        <input class="k-input" id="ObjectID" name="ObjectID" style="width: 300px;" />
                    </div>
                    <div style="clear: both;"></div>
                </div>          
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CatItem", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-CatItem", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CatItem", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}