@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models

@model Cat_MasterDataGroupItemModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_MasterDataGroupItem" }))
{
    @Html.HiddenFor(model => model.ID)
    <div id="dvMasterDataGroupID">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.MasterDataGroupID)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.MasterDataGroupID))
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="dvMasterDataGroupID">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.ObjectName)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.ObjectName))
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="dvMasterDataGroupID">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.ObjectID)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.ObjectID))
        </div>
        <div style="clear: both;"></div>
    </div>
}

