@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_MasterDataGroupModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Category_Export_AddNew.TranslateString();
    Layout = null;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
     var masterDataGroupID = Guid.Empty;

}
<script>

    function doSave() {
        var result = false;
        var _orderNumber = document.getElementById("CatMasterDataGroup_OrderNumber");
        if (_orderNumber.value == "") {
            ShowNotification('@ConstantDisplay.HRM_Dashboard_Alerts.TranslateString()', '[@ConstantDisplay.OrderNumber.TranslateString()] ' + '@Html.Raw(ConstantMessages.Required.TranslateString())', "k-block k-info-colored");
            return false;
        }

        $.ajax({
            url: '@_hrm_Hr_Service' + 'api/Cat_MasterDataGroup',
            type: 'POST',
            data: { Code: $("#Code").val(), MasterDataGroupName: $("#MasterDataGroupName").val(), Notes: $("#Notes").val(), OrderNumber: $("#CatMasterDataGroup_OrderNumber").val() },
            success: function (data) {
                if (data != null && data.ActionStatus != "Success") {
                    ShowNotificationProcessor(data.ActionStatus);
                    return;
                }
                else {
                    ShowNotificationProcessor("Success");
                    if (data != null) {
                        $("#MasterDataGroupID1").val(data.ID)
                    }
                }
            }
        });
        return result;
    }

    function doSaveNew() {
        debugger;
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Cat_MasterDataGroup/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }

</script>
<div>
    @ViewBag.MsgInsert
</div>

<form action="#" method="POST" id="form-create">
    @Html.Hidden("MasterDataGroupID1")
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.ExportIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Category_MasterDataGroup_AddNew.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_Category_MasterDataGroup_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_MasterDataGroup", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue_MasterDataGroupt", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>





