@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;
@using HRM.Infrastructure.Security;

@model Cat_MasterDataGroupModel

@{
    ViewBag.Title = "Cat_MasterDataGroupModel Index";
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}

<script>
    //Data khi tìm kiếm
    function filterFieldInfo() {
        return {
            Code: $('#Code1').val(),
            MasterDataGroupName: $('#MasterDataGroupName1').val(),
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {
            ReadGrid("grid_CatMasterDataGroup");
        });
        //Xử lý nút Edit      
        EditGridNewPage("grid_CatMasterDataGroup", '#Hrm_Main_Web/Cat_MasterDataGroup/Edit/', 'Hrm_Main_Web', '@_hrm_Main_Web');
    });
       
    $("#btnCreateCatMasterDataGroup").kendoButton({
        click: function (e) {
            var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_MasterDataGroup');
            if (!isAccess) {
                return;
            }
            KendoRouteMapping('#Hrm_Main_Web/Cat_MasterDataGroup/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    });
    
    //Xử Lý Grid
    GridCheckbox("grid_CatMasterDataGroup");
    //Xử lý nút Delete
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_MasterDataGroup');
        if (!isAccess) {
            return;
        }
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_CatMasterDataGroup", '@_hrm_Main_Web' + "Cat_MasterDataGroup/RemoveSelected/", selectedIds.join(","));
        return false;
    });

</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div>
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(model => model.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("LaundryName1", "width:300px;")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(model => model.MasterDataGroupName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("Code1", "width:150px")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCatMasterDataGroup", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Cat_MasterDataGroupModel.FieldNames.Code,
            Cat_MasterDataGroupModel.FieldNames.MasterDataGroupName,
            Cat_MasterDataGroupModel.FieldNames.OrderNumber,            
            Cat_MasterDataGroupModel.FieldNames.Notes,           
        };

        var sizeFields = new Dictionary<string, int>()
        {

            {Cat_MasterDataGroupModel.FieldNames.Code,120},
            {Cat_MasterDataGroupModel.FieldNames.MasterDataGroupName,150},
            {Cat_MasterDataGroupModel.FieldNames.OrderNumber,100},
            {Cat_MasterDataGroupModel.FieldNames.Notes,250}
        };

        var filterable = new Dictionary<string, bool>()
        {
            {Cat_MasterDataGroupModel.FieldNames.Code,true},
            {Cat_MasterDataGroupModel.FieldNames.MasterDataGroupName,true},
            {Cat_MasterDataGroupModel.FieldNames.OrderNumber,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Cat_MasterDataGroupModel.FieldNames.Code,ConstantDisplay.HRM_Category_MasterDataGroup_Code},
            {Cat_MasterDataGroupModel.FieldNames.MasterDataGroupName,ConstantDisplay.HRM_Category_MasterDataGroup_MasterDataGroupName},
            {Cat_MasterDataGroupModel.FieldNames.OrderNumber,ConstantDisplay.HRM_Category_MasterDataGroup_OrderNumber},
            {Cat_MasterDataGroupModel.FieldNames.Notes,ConstantDisplay.HRM_Category_MasterDataGroup_Notes}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_CatMasterDataGroup",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetCat_MasterDataGroupList/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<Cat_MasterDataGroupModel>(grid))
</div>
