@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models;
@model Sys_ReleaseNoteModel
@{
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="dvCode">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Code)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="dvReleaseNoteName">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.ReleaseNoteName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.ReleaseNoteName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
              
                    <div id="dvDateRelease">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.DateRelease)
                        </div>
                        <div class="FieldValue">
                            @{
                                var datepickerDateStart = new DatePickerBuilderInfo()
                                {
                                    Value = @Html.DisplayFor(mode => mode.DateRelease).ToString(),
                                    StyleCss = "width:100px;",
                                    Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString(),
                                    Format = ConstantFormat.HRM_Format_DayMonthYear.TranslateString()
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateRelease, datepickerDateStart)
                           
                        </div>
                        <div style="clear: both;"></div>
                    </div>


                    <div id="dvEnhancements">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Enhancements)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Enhancements)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    
                    <div id="dvFixes">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Fixes)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Fixes)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    
                    <div id="dvFeaturesNew">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.FeaturesNew)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.FeaturesNew)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    
                    
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>


