@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Security
@model HRM.Presentation.HrmSystem.Models.Rep_MasterModel
@{
    Layout = null;
    var _hrm_Att_Web = ConstantPathWeb.Hrm_Att_Web;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sal_Service = ConstantPathWeb.Hrm_Sal_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;

    Guid MasterID = Guid.Empty;
    if (Model != null)
    {
        MasterID = Model.ID;
    }
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowRepCondition",
        Visible = false,

        LoadContentFrom = @_hrm_Sys_Web + "Sys_CustomReport/ConditionInfo/",
    };
}
@(Html.VnrWindow(window))

@{
    var windowItem = new WindowBuilderInfo
    {
        Name = "windowRepConditionItem",
        Visible = false,

        LoadContentFrom = @_hrm_Sys_Web + "Sys_CustomReport/ConditionItemInfo?MasterID=" + MasterID.ToString(),
    };
}
@(Html.VnrWindow(windowItem))
<script type="text/javascript">
    $("#grid_ConditionItem").on("click", ".gridEditImgButton", function (e) {
        var grid = $("#grid_ConditionItem").data("kendoGrid");
        e.preventDefault();
        var row = $(this).closest("tr");
        var dataItem = grid.dataItem(row);
  
        var window = $("#windowRepConditionItem").data("kendoWindow");
        window.refresh({
            url:  '@_hrm_Sys_Web' + "Sys_CustomReport/ConditionItemInfo",
            data: { id: dataItem.ID, MasterID: $("#IDMaster").val() }
        }).center().open().title("Cập Nhật Điều Kiện Lọc");

        ReadGrid("grid_ConditionItem");
    });

    function filterFieldInfoCondition() {
        
        return {
            MasterID:$("#IDMaster").val(),
        };
    };

    function btnCreateGroup() {
        PopUpCreate('windowRepCondition', 'Tạo Mới Nhóm Điều Kiện');//Chưa Dịch!
    };
    function btnCreateItem() {
        @*PopUpCreate('windowRepConditionItem', 'Thêm Mới Nhóm');//Chưa Dịch!


        var window = $("#windowRepConditionItem").data("kendoWindow");
        window.refresh({
            url: "@_hrm_Sys_Web" + "Sys_CustomReport/ConditionItemInfo?MasterID=" + $("#IDMaster").val(),
        });*@

        var window = $("#windowRepConditionItem").data("kendoWindow");
        window.refresh({
            url: "@_hrm_Sys_Web" + "Sys_CustomReport/ConditionItemInfo",
            data: { id: "", MasterID: $("#IDMaster").val() }
        }).center().open().title("Tạo Mới Điều Kiện Lọc");

    };

    function btnDeleteItem() {
        DeleteSelected("grid_ConditionItem", '@_hrm_Sys_Web' + "Sys_CustomReport/RemoveSelected/", selectedIds.join(","));
    };

</script>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "btnCreateGroup", Name = "btnCreateGroup", Content = "Tạo Mới Nhóm Điều Kiện", ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "btnCreateItem", Name = "btnCreateItem", Content = "Tạo Mới Điều Kiện", ImageUrl = ConstantPath.IconAddNewPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "btnDeleteItem", Name = "btnDeleteItem", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>

    <div class="clear"></div>
</div>



<div>
    @{
        var groupFields = new[]
        {
            Rep_ConditionItemModel.FieldNames.ConditionGroupName,
        };
        
        
        var valueFields = new[]
        {
            Rep_ConditionItemModel.FieldNames.ConditionItemName,
            Rep_ConditionItemModel.FieldNames.JoinType,
            Rep_ConditionItemModel.FieldNames.TableName,
            Rep_ConditionItemModel.FieldNames.ColumnName,
            Rep_ConditionItemModel.FieldNames.Operator,
            Rep_ConditionItemModel.FieldNames.Value1,
            Rep_ConditionItemModel.FieldNames.Value2
        };
        var sizeFields = new Dictionary<string, int>()
        {
            {Rep_ConditionItemModel.FieldNames.ConditionItemName,100},
            {Rep_ConditionItemModel.FieldNames.JoinType,100},
            {Rep_ConditionItemModel.FieldNames.TableName,140},
            {Rep_ConditionItemModel.FieldNames.ColumnName,120},
            {Rep_ConditionItemModel.FieldNames.Operator,100},
            {Rep_ConditionItemModel.FieldNames.Value1,100},
             {Rep_ConditionItemModel.FieldNames.Value2,100},
        };
        var displayFields = new Dictionary<string, string>()
        {
            {Rep_ConditionItemModel.FieldNames.ConditionItemName,"Tên Điều Kiện"},
            {Rep_ConditionItemModel.FieldNames.JoinType,"Điều Kiện Lọc"},
            {Rep_ConditionItemModel.FieldNames.TableName,"Tên Bảng"},
            {Rep_ConditionItemModel.FieldNames.ColumnName,"Tên Cột"},
            {Rep_ConditionItemModel.FieldNames.Operator,"Toán Tử"},
            {Rep_ConditionItemModel.FieldNames.Value1,"Giá Trị 1"},
            {Rep_ConditionItemModel.FieldNames.Value2,"Giá Trị 1"},
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_ConditionItem",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            //ForeignKey = foreignKey,
            ReadActionUrl = _hrm_Sys_Service + "Sys_GetData/GetRep_ConditionItem",
            ReadData = "filterFieldInfoCondition",
            GroupFields = groupFields,
            GridHeight=300,
            AutoBind=true,
        };
        
        
    }
    @(Html.VnrGrid<Rep_ConditionItemModel>(grid))
</div>