@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections
@model HRM.Presentation.Category.Models.CatResignReasonModel

@{
    ViewBag.Title = "CatResignReasonInfo";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineID = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>

    //var data = SetCharacteFieldRequired();
    SetFieldRequired();
  
    function onSave() {
       //     if (!checkDuplicationCode()) {
            
            onSaveAndContinue($('#form_Cat_ResignReason'), '@_hrm_Hr_Service', 'api/CatResignReason/', 'grid_Cat_ResignReason', 'windowCatResignReason');

      //  }
        return false;
    }

    function onSaveClose() {
           //  if (!checkDuplicationCode()) {
            onSaveAndClose($('#form_Cat_ResignReason'), '@_hrm_Hr_Service', 'api/CatResignReason/', 'grid_Cat_ResignReason', 'windowCatResignReason');

       // }
        return false;
    }
    function onSaveDataPopUp() {
        
       //     if (!checkDuplicationCode()) {
                onlySave($('#form_Cat_ResignReason'), '@_hrm_Hr_Service', 'api/CatResignReason/', 'grid_Cat_ResignReason'); return false;
       // }
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_ResignReason" }))
{
    @Html.HiddenFor(model => model.ID)


     <table>
        <tr>
            <td>
                <div id="div5">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @{
    var _ResignReasonCode = new TextBoxBuilderInfo()
    {
        Width = 300,
        Name = "ResignReasoninfo_Code",
    };
    if (Model != null)
    {
        _ResignReasonCode.Value = Model.Code == null ? string.Empty : Model.Code;
    }

                        }
                        @(Html.VnrTextBoxFor(model => model.Code, _ResignReasonCode))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResignReasonName)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.ResignReasonName, "width: 300px"))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div id="div4">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResignReasonNameEn)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.ResignReasonNameEn, "width: 300px"))
                    </div>
                    <div style="clear: both;"></div>
                </div>
             
                <div id="div4">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Notes)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Notes, "width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.NotesEn)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(model => model.NotesEn, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-ResignReason", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-catResignReason", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-catResignReason", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
 </table>
}


