@using HRM.Infrastructure.Utilities

@using HRM.Infrastructure.Security;

@model HRM.Presentation.Category.Models.CatResignReasonModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_ResignReason.TranslateString();
    Layout = null;

    var hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatResignReason",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Cat_ResignReason/CatResignReasonInfo/",
    };
}
@(Html.VnrWindow(window))

<script type="text/javascript">
    //Biến để lưu id của các dòng đã check chọn
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_ResignReason_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_ResignReason_Create_Title.TranslateString())';

     
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            ResignReasonName: $('#SResignReasonName').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var grid = $('#grid_Cat_ResignReason').data("kendoGrid");
            grid.dataSource.read();
        });
        //Xử lý Edit popup
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_ResignReason');
        if (!isAccess) {
            return;
        }*@
        var url = '@_hrm_Main_Web' + "Cat_ResignReason/CatResignReasonInfo/";
        EditGridPopUp("grid_Cat_ResignReason", "windowCatResignReason", url, '@ConstantPermission.Cat_ResignReason', titleEditPopUp);
    });

    $("#btnCreate").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_ResignReason');
        if (!isAccess) {
            return;
        }*@
        PopUpCreate("windowCatResignReason", titleCreatePopUp, '@ConstantPermission.Cat_ResignReason');
    });

    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
    });

    //Xử Lý grid
    GridCheckbox("grid_Cat_ResignReason");
    
    //Xử Lý button delete

    $('#btnDelete').click(function (e) {
        @*var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_ResignReason');
        if (!isAccess) {
            return;
        }*@
       
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Cat_ResignReason", '@_hrm_Main_Web' + "Cat_ResignReason/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_ResignReason');
        return false;
    });

    //Export
    $("#btnExportSelected").click(function () {
        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@hrm_Hre_Service' + "Cat_GetData/ExportResignReasonSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_ResignReason');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#grid_Cat_ResignReason').data("kendoGrid");
        if (grid.dataSource._data.length == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@hrm_Hre_Service' + "Cat_GetData/ExportAllResignReasonList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_ResignReason');
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ResignReasonName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("SResignReasonName", "width:200px")
                    </div>
                </div>
         

            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge" id="anchor">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float: right">
        @*<div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>*@
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnResignReason", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_grid_Cat_ResignReason_Name + "__Cat_ResignReason_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_grid_Cat_ResignReason_Name,
            ReadActionUrl = hrm_Hre_Service + "Cat_GetData/GetResignReasonList",
            ReadData = "filterFieldInfo",
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {
                CatResignReasonModel.FieldNames.Code,
                CatResignReasonModel.FieldNames.ResignReasonName,
                CatResignReasonModel.FieldNames.UserUpdate,
                CatResignReasonModel.FieldNames.DateUpdate,
                CatResignReasonModel.FieldNames.Notes,
            };

            //Set độ rộng cho từng column
            grid.SizeFields = new Dictionary<string, int>()
            {
              {CatResignReasonModel.FieldNames.Code,80},
              {CatResignReasonModel.FieldNames.ResignReasonName,150},
              {CatResignReasonModel.FieldNames.UserUpdate,140},
              {CatResignReasonModel.FieldNames.DateUpdate,110},
              {CatResignReasonModel.FieldNames.Notes,200},

            };

            //Thông tin hiển thị được dịch
            grid.DisplayFields = new Dictionary<string, string>()
            {
                {CatResignReasonModel.FieldNames.Code,ConstantDisplay.HRM_Category_ResignReason_Code},
                {CatResignReasonModel.FieldNames.ResignReasonName,ConstantDisplay.HRM_Category_ResignReason_ReasonName},
                {CatResignReasonModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Category_ResignReason_UserUpdate},
                {CatResignReasonModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Category_ResignReason_DateUpdate},
                {CatResignReasonModel.FieldNames.Notes,ConstantDisplay.HRM_Category_ResignReason_Notes},

            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "grid_Cat_ResignReason",
        //    ValueFields = valueFields,
        //    DisplayFields = displayFields,
        //    SizeFields = sizeFields,
        //    ReadActionUrl = hrm_Hre_Service + "Cat_GetData/GetResignReasonList",
        //    ReadData = "filterFieldInfo"
        //};

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatResignReasonModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnResignReason", "CatResignReasonModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)