@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Recruitment.Models
@using HRM.Presentation.UI.Controls.Kendo

@model Rec_CandidateModel
@{
    Layout = null;
    ViewBag.Title = "Confirm Black List Reason";
    var hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    //List<Guid> lstIDs = null;
    string strIDs = null;
    if (ViewData["lstIDs"] != null)
    {
        strIDs = ViewData["lstIDs"].ToString();
    }
}
<script>
    //SetFieldRequired();
    SetFieldRequiredByScreenName("CorfirmBlackListReason_FailCandidate");
    $(document).ready(function () {
    });
    function onSaveClose() {
        var _FailCandidate_ReasonBlackListID = $('#FailCandidate_ReasonBlackListID').val();
        if (_FailCandidate_ReasonBlackListID == '') {
            ShowNotificationProcessor('@ConstantDisplay.HRM_REC_Candidate_ReasonBlackListID.TranslateString()' + '@ConstantDisplay.HRM_Common_NotEmtpy.TranslateString()');
            return;
        }

        $("#FailCandidate_profileids").val(selectedIds.join(','));
        $.ajax({
            url: '@hrm_Hr_Service' + 'Rec_Getdata/AddToBlackListCandidate',
            type: "POST",
            dataType: "json",
            data: slpitQueryEntity($('#form_CorfirmBlackList_FailCandidate').serialize()),
            success: function () {
                var window = $("#windowCorfirmBlackList_FailCandidate").data("kendoWindow");
                window.refresh().close();
                ShowNotificationProcessor("@ConstantDisplay.HRM_Attendance_WorkDay_UpdateSuccess.TranslateString()");
                var grid = $("#" + '@ConstantControlName.HRM_gridRec_FailCandidate_Name').data("kendoGrid");
                grid.dataSource.read();
                selectedIds = [];
            },
            error: function () {
                alert("error");
            },
        });
    };
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_CorfirmBlackList_FailCandidate" }))
{
    @Html.HiddenFor(m => m.lstprofileid, new { id = "FailCandidate_profileids" })
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <div>
                        <!--Li do-->
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ReasonBlackListID)
                            </div>
                            <div class="FieldValue">
                                @{
    var _ReasonBlackListID = new DropDownListBuilderInfo()
    {
        Name = "FailCandidate_ReasonBlackListID",
        DataTextField = "NameEntityName",
        DataValueField = "ID",
        Url = @hrm_Hr_Service + "Cat_GetData/GetMultiResonBlackList",
        Value = @Html.DisplayFor(mode => mode.ReasonBlackListID).ToString(),
        StyleCss = "width:300px"
    };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.ReasonBlackListID, _ReasonBlackListID))
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">
                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CorfirmBlackList_FailCandidate", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
    </table>
}
