@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities

@model HRM.Presentation.Attendance.Models.Att_RosterModel

@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listStatus = Enum.GetValues(typeof(EnumDropDown.StatusRoster))
      .Cast<EnumDropDown.StatusRoster>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();
}

@Html.ValidationSummary(false)
@Html.AntiForgeryToken()

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                   
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ProfileID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.ProfileID)                                   
                                </div>
                                <br /><br />
                            </div>

                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateStart)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.DateStart)                                    
                                </div>
                                <br /><br />
                            </div>
                            <div id="div5">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateEnd)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.DateEnd)                                    
                                </div>
                                <br /><br />
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Status)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.Status)                                    
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MonShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.MonShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.TueShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.TueShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.WedShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.WedShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ThuShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.ThuShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.FriShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.FriShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.SatShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.SatShiftID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.SunShiftID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.SunShiftID)
                                </div>
                                <br /><br />
                            </div>
                      

                            <div id="div11">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApproveID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.UserApproveID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApprove2ID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.UserApprove2ID)
                                </div>
                                <br /><br />
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Comment)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.Comment)
                                </div>
                                <br /><br />
                            </div>
                      
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
