@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_RosterModel
@{
    ViewBag.Title = "Update AttRoster";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service; 
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

<script>
    SetFieldRequired();
    //var data = SetCharacteFieldRequired();
    var doSave = function () { 
        var result = false;
        //if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Att_Roster/');
            result = true;
        //}
        return result;
    }
    function doSaveNew() {
        //if (CheckValidate(data)) {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Att_Roster/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
        //}
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_Roster" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Attendance_Roster_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Attendance_Back_To_Roster_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick="doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
