@using HRM.Presentation.UI.Controls.Kendo.TabStrip
@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}


<style>
    /*.k-widget {
        border-style: solid;
        border-width: 0px;
        -webkit-appearance: none;
        border-left-width: 1px;
    }
    .hrm_treeview {
        border: 0px solid #c5c5c5;
        border-top: 1px solid #c5c5c5;
        max-height: 700px;
        overflow-y: auto;
        overflow-x: auto;
        border-radius: 0px;
    }*/

    .k-widget {
        border-style: solid;
        border-width: 0px;
        -webkit-appearance: none;
        border-top-width: 1px;
        border-left-width: 1px;
    }

    .hrm_treeview {
        border: 0px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        max-height: 700px;
        overflow-y: auto;
        overflow-x: auto;
        border-radius: 0px;
    }
    .widgetORG {
        padding: 0;
        background-color: #fff;
        border: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        /*padding-bottom:5px;*/
        margin-right: 2px;
        margin-left: 2px;
    }
</style>
<script>
    var titleEditPopUp = '@Html.Raw(@ConstantDisplay.HRM_Category_OrgStructure_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_OrgStructure_Create_Title.TranslateString())';

    var orgID;
    var selectOrg = "";
    function onSelect(e) {
        debugger;
        var data = $('#treeviewOrg_SumProfiles').data('kendoTreeView').dataItem(e.node);
        checkedNodes = data.OrderNumber;
        orgID = data.id;
        selectOrg = data.Name;
        $("#OrgID").val(orgID);
        
        var grid = $('#gridHre_Profile').data("kendoGrid");
        grid.dataSource.read();
        selectedIds = [];
    }
    $("#btnCreateOrgStructureDetail").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_OrgStructure');
        if (!isAccess) {
            return;
        }*@
        
        //var data = $('#treeviewOrg_SumProfiles').data('kendoTreeView');
        //data.dataSource.read();
        PopUpCreate("windowOrgStructureDetail", titleCreatePopUp, '@ConstantPermission.Cat_OrgStructure');
       
        setTimeout(function () { $("#TreeViewDropDownInput").val(selectOrg); }, 1000);
        $("#ParentID").val($("#OrgID").val());
       
       
    });
    $("#btnEditOrgStructureDetail").click(function () {
             var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_OrgStructure');
        if (!isAccess) {
            return;
        }
        var url = '@_hrm_Main_Web' + "Hre_OrgStructureDetails/CreateOrUpdate/";
        PopUpEdit('windowOrgStructureDetail', url, orgID, titleEditPopUp);
       
    });


    $('#btnDeleteOrgStructureDetail').click(function (e) {
        @*var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_OrgStructure');
        if (!isAccess) {
            return;
        }*@
        if (orgID == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        debugger;
        DeleteSelected("grid_Cat_OrgStructure", '@_hrm_Main_Web' + "Cat_OrgStructure/RemoveSelected/", orgID, '@ConstantPermission.Cat_OrgStructure');
        setTimeout(function () {
            ReloadParentTreeViewDropdown();
        },2000)
        //ReloadParentTreeViewDropdown();
        return false;
    });

    function ReloadParentTreeViewDropdown() {
        $.ajax({
            url: '@_hrm_Hre_Service' + "Cat_GetData/ClearCacheOrgStructure",
            type: 'POST',
            async: false,
            success: function () {
                reloadTreeView('treeviewOrg_SumProfiles');
            },
            error: function (data) {
                alert('error Translate');
            }
        });
    };

    //reload lại treeview
    function reloadTreeView(treeviewName) {
        var data = $('#treeviewOrg_SumProfiles').data('kendoTreeView');
        data.dataSource.read();
    };

</script>
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowOrgStructureDetail",
        Visible = false,
        LoadContentFrom = _hrm_Main_Web + "Hre_OrgStructureDetails/CreateOrUpdate/",
    };
}
@(Html.VnrWindow(window))
<div class="panel-wrap">
    <div id="main-content">
        <div class="widgetORG">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            </h3>
            <table cellpadding="0" cellspacing="0" class="Hrm_hr_general_table">
                <tr>
                    <td class="hrm_hr_general_left" width="230px" style="vertical-align: top;">
                        <div style="float:left;">
                            <div class="commandToolBarWidge" id="anchor">
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateOrgStructureDetail", Content = "", ImageUrl = ConstantPath.IconAddNewPath })
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnEditOrgStructureDetail", Content = "", ImageUrl = ConstantPath.IconEditPath })
                                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDeleteOrgStructureDetail", Content = "", ImageUrl = ConstantPath.IconDeletePath })
                                @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "ReloadParentTreeViewDropdown", Name = "btnRefeshOrgStructureDetail", Content = "", ImageUrl = ConstantPath.IconRefeshPath })
                            </div>
                            <div class="hrm_treeview" id="treeview">
                                <script>
                                    //Custom function Contains toUpper
                                    jQuery.expr[':'].contains = function (a, i, m) {
                                        return jQuery(a).text().toUpperCase()
                                            .indexOf(m[3].toUpperCase()) >= 0;
                                    };
                                    $("#searchOrgNoCheckbox").keyup(function () {
                                        if (this.value !== "") {
                                            $("#treeviewOrg_SumProfiles").data("kendoTreeView").expand(".k-item");
                                            $("#treeviewOrg_SumProfiles .k-group .k-group .k-in").closest("li").hide();
                                            $("#treeviewOrg_SumProfiles .k-group .k-group .k-in:contains(" + this.value + ")").each(function () {

                                                $(this).parents("ul, li").each(function () {
                                                    $(this).show();
                                                });
                                            });
                                        } else {
                                            $("#treeviewOrg_SumProfiles .k-group").find("ul").hide();
                                            $("#treeviewOrg_SumProfiles .k-group").find("li").show();
                                            $("#treeviewOrg_SumProfiles").data("kendoTreeView").collapse('.k-item');
                                        }
                                    });

                                </script>
                                <div id="search">
                                    @(Html.TextBox("searchOrgNoCheckbox", null, new
                        {
                            @class = "k-textbox",
                            // Sửa place holder theo task 0049098
                            placeholder = ConstantDisplay.HRM_PleaseSelectDept.TranslateString(),
                            onkeyup = "GetSearchName(value);",
                            style = "border-color:transparent;border-radius:0px;border-bottom: 1px dotted #C1D16E;width:300px;"
                        }))
                                </div>
                                @{
                                    var orgTreeView = new TreeViewBuilderInfo
                                    {
                                        Name = "treeviewOrg_SumProfiles",
                                        DataTextField = "Name",
                                        Id = "id",
                                        Url = @_hrm_Hre_Service + "Cat_GetData/GetOrgStructureTreeSummaryProfile",
                                        Icon = "IconPath",
                                        LoadOnDemand = false,
                                        EventSelect = "onSelect",
                                        ShowCheckbox = false,
                                    };
                                }
                                @(Html.VnrTreeView(orgTreeView))
                            </div>


                            @* @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdownForCreate")*@

                            <!--Html.Partial("EditorTemplates/OrgStructureTreeView")-->
                        </div>
                    </td>
                    <td class="hrm_hr_general_left" style="vertical-align: top;">
                        @{
                            var tab = new TabStripInfomation
                            {
                                Name = "tabHre_Profile",
                            };

                            var t1 = new ItemsInformation
                            {
                                LoadContentFrom = _hrm_Main_Web + "Hre_OrgStructureDetails/ProfileOfOrgStructure/",
                                Selected = true
                            };

                            tab.TabItems.Add(ConstantDisplay.HRM_HR_Profile_OrgStructureDetail.TranslateString(), t1);

                        }
                        @(Html.TabStripControl(tab))
                    </td>
                </tr>

            </table>
           
        </div>

    </div>
    @Html.Hidden("OrgID", null, new { @id = "OrgID" })
</div>

<script>
    //Custom function Contains toUpper
    jQuery.expr[':'].contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };
    function GetSearchName(value) {
        if (value !== "") {
            $("#treeviewOrg_SumProfiles").data("kendoTreeView").expand(".k-item");
            $("#treeviewOrg_SumProfiles .k-group .k-group .k-in").closest("li").hide();
            $("#treeviewOrg_SumProfiles .k-group .k-group .k-in:contains(" + value + ")").each(function () {
                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        } else {
            $("#treeviewOrg_SumProfiles .k-group").find("ul").hide();
            $("#treeviewOrg_SumProfiles .k-group").find("li").show();
            $("#treeviewOrg_SumProfiles").data("kendoTreeView").collapse('.k-item');
            //$("#treeviewOrg_SumProfiles").data("kendoTreeView").collapsingOthers = true;
        }
    }
</script>


