@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@using System.Collections
@using HRM.Infrastructure.Security

@model FIN_TravelRequestModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var ContractID = Guid.Empty;
    var ProfileName = string.Empty;
    if (Model != null)
    {
        ContractID = Model.ID;
    }

}


<style>
    .k-window div.k-window-content {
        overflow: hidden;
    }
</style>
<script type="text/javascript">

    function filterFieldInfo() {
        return {
            TravelRequestID: $("#TravelRequest_ID").val()
        };
    }
    //GridCheckbox(gridName);

</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">
                        @Html.HiddenFor(mode => mode.ID)
                        @Html.HiddenFor(mode => mode.TravelRequest_ID)
                        <div style="float:left; width:100%">
                            <div style="float:left; width: 500px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Subject)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.Subject)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Type)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.Type)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Description)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.Description)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.DateFromEstimate)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.DateFromEstimate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.DateToEstimate)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.DateToEstimate)
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width: 500px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.DateRequest)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(mode => mode.DateRequest)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.UserCreateID)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.UserCreateID)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Position)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.Position)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Dept)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.Dept)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Status)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="commandToolBarWidge">

</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        //Thông tin hiển column hiển thị
        string[] valueFields = new string[]
                            {
                                FIN_TravelRequestItemModel.FieldNames.TravelRequestName,
                                FIN_TravelRequestItemModel.FieldNames.Date,
                                FIN_TravelRequestItemModel.FieldNames.Description,
                                FIN_TravelRequestItemModel.FieldNames.Amount

                            };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {FIN_TravelRequestItemModel.FieldNames.TravelRequestName, 130},
                                {FIN_TravelRequestItemModel.FieldNames.Date, 100},
                                {FIN_TravelRequestItemModel.FieldNames.Description, 130},
                                {FIN_TravelRequestItemModel.FieldNames.Amount, 100},
                            };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {FIN_TravelRequestItemModel.FieldNames.TravelRequestName, ConstantDisplay.HRM_FIN_Claim_TravelRequestName},
                                {FIN_TravelRequestItemModel.FieldNames.Date, ConstantDisplay.FIN_ClaimItem_Date},
                                {FIN_TravelRequestItemModel.FieldNames.Description,ConstantDisplay.FIN_ClaimItem_Description},
                                {FIN_TravelRequestItemModel.FieldNames.Amount, ConstantDisplay.FIN_ClaimItem_Amount}

                            };

        var grid = new GridBuilderInfo
        {
            Name = "grid_TravelRequestItem",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            GridHeight = 200,
            AutoBind = true,
            ReadActionUrl = _hrm_Hr_Service + "Hre_GetData/GetTravelRequestItemByTravelRequestID?TravelRequestID=" + ContractID,
            ReadData = "filterFieldInfo",
            ShowCheckAll=false,
            ShowCheckbox=false,
            ShowEditButton=false,
            ShowEditIcon=false
            
            
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<FIN_TravelRequestItemModel>(grid))
</div>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">
                        <div style="float:left; width:100%">
                            <div class="hrm_box">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Attachment)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.Attachment)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.CostEstimate)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                               
                                        @Html.DisplayFor(model => model.CostEstimate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.CashAdvance)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                               
                                        @Html.DisplayFor(model => model.CashAdvance)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.CostActual)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                
                                        @Html.DisplayFor(model => model.CostActual)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.Balance)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.Balance)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(model => model.PaidAmount)
                                    </div>
                                    <div class="FieldValueView"  style="min-height:24px">
                                        @Html.DisplayFor(model => model.PaidAmount)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
