
@using HRM.Infrastructure.Utilities;
@using HRM.Infrastructure.Security;

@model HRM.Presentation.Laundry.Models.LMS_LocationLMSModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Laundry_Location_Title.TranslateString();
    Layout = null;
    var _hrm_Lau_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Lau_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowLauLocation",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Lau_Web + "Lau_Location/LocationInfo/00000000-0000-0000-0000-000000000000",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Laundry_Location_Update.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Laundry_Location_AddNew.TranslateString())';
    var checkedNodes = [];

    @*//Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        var LocationCode = $('#@Html.FieldIdFor(model => model.Code)').val();
        var LocationName = $('#@Html.FieldIdFor(model => model.LocationLMSName)').val();
        return {
            LocationCode: $("#SLocationCode").val(),
            LocationName: $("#SLocationName").val()
        };
    }


    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Xử lý show hide form tìm kiếm
        ShowHidePanel();
        $("#btnSearch").click(function () {
            var grid = $('#gridLau_Location').data("kendoGrid");
            grid.dataSource.read();
            checkedNodes = [];
        });
        //Xử Lý Grid
        GridCheckbox("gridLau_Location");

        var url = '@_hrm_Lau_Web' + "Lau_Location/LocationInfo/";

        EditGridPopUp("gridLau_Location", "windowLauLocation", url, '@ConstantPermission.Lau_Location', titleEditPopUp);

        //Xử lý nút Delete
        DeleteGrid("gridLau_Location", '@_hrm_Lau_Web' + "Lau_Location/Remove/");
        $("#btnCreate").click(function ()
        {

            PopUpCreate("windowLauLocation", titleCreatePopUp, '@ConstantPermission.Lau_Location');
        });
        $('#btnDelete').click(function (e) {
             if (selectedIds == "") {
                DeleteFail();
                return;
            }
            e.preventDefault();
            DeleteSelected("gridLau_Location", '@_hrm_Lau_Web' + "Lau_Location/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Lau_Location');
            return false;
        });
    });

    function NewPageInsert() {
        window.location.href = '@_hrm_Lau_Web' + 'Lau_Location/Create';
    }*@



    //Data khi tìm kiếm
    function filterFieldInfo(isExport) {

        return {
            Code: $('#SLocationCode').val(),
            LocationLMSName: $('#SLocationName').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {

            var grid = $('#gridLau_Location').data("kendoGrid");
            grid.dataSource.read();
            selectedIds = [];
        });
    });

    //Xử lý Create
    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Lau_Location');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowLauLocation", titleCreatePopUp);
    });

    //Xử Lý grid
    GridCheckbox("grid_Lau_Line");
    //Xử lý Edit popup
    var url = '@_hrm_Lau_Web' + "Lau_Location/LocationInfo/";
    EditGridPopUp("gridLau_Location", "windowLauLocation", url, '@ConstantPermission.Lau_Location', titleEditPopUp);



    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Lau_Location');
        if (!isAccess) {
            return;
        }
        e.preventDefault();
        DeleteSelected("gridLau_Location", '@_hrm_Lau_Web' + "Lau_Location/RemoveSelected/", selectedIds.join(","));
        return false;
    });


    $(document).ready(function () {
        ShowHidePanel();
    });


</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form id="form-search">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Code)
                        </div>
                        <div class="FieldValue">
                            <div class="FieldValue">
                                @Html.VnrTextBox("SLocationCode", "width:200px")
                            </div>
                        </div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.LocationLMSName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SLocationName", "width:200px")
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Laundry.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {   
            LMS_LocationLMSModel.FieldNames.Code,
            LMS_LocationLMSModel.FieldNames.LocationLMSName,
            LMS_LocationLMSModel.FieldNames.Note
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {LMS_LocationLMSModel.FieldNames.Code,120},
            {LMS_LocationLMSModel.FieldNames.LocationLMSName, 150},
            {LMS_LocationLMSModel.FieldNames.Note, 200},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {LMS_LocationLMSModel.FieldNames.Code, ConstantDisplay.HRM_Laundry_Location_Code},
            {LMS_LocationLMSModel.FieldNames.LocationLMSName, ConstantDisplay.HRM_Laundry_Location_LocationLMSName},
            {LMS_LocationLMSModel.FieldNames.Note, ConstantDisplay.HRM_Laundry_Location_Note}
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridLau_Location",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = @_hrm_Lau_Service + "Lau_GetData/GetLocationList/",
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<HRM.Presentation.Laundry.Models.LMS_LocationLMSModel>(grid))
</div>
