
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models;

@model Sal_GradeModel
@{
    ViewBag.Title = "Index  AttGrade";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Services = ConstantPathWeb.Hrm_Hre_Service;
}
<div>
    @ViewBag.MsgInsert
</div>
<script>
    var checkedNodes = [];
    //var data = SetCharacteFieldRequired();
    SetFieldRequired();
    var doSave = function () {
        var result = false;
        
        
       
        
        var ProfileID = $('#@Html.FieldIdFor(model => model.ProfileID)').val();
        ProfileID != null ? $('#@Html.FieldIdFor(model => model.ProfileIDs)').val(ProfileID.join(',')) : null;
        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
        checkedNodes != null ? $('#@Html.FieldIdFor(model => model.OrgStructureID)').val(checkedNodes.join(',')) : null;
        $("#OrgStructureID").val(checkedNodes.join(','));
       
      
            onCreate($('#form-create'), '@_hrm_Hr_Services', 'api/Sal_Grade/');
            result = true;
        // }
            checkedNodes = [];
        return result;
    }
    function doSaveNew() {
      //  if (CheckValidate(data)) {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Sal_Grade/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
      //  }
    }
</script>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
           

                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.GradeAttendanceIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Sal_Grade_Create.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Sal_Grade_Back_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @*<input type="submit" name="save" class="k-button" value="@ConstantAction.HRM_Common_Save.TranslateString()" onclick="onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Att_Grade/'); return false;" />
            <input type="submit" name="save-continue" class="k-button" value="@ConstantAction.HRM_Common_SaveContinue.TranslateString()" />*@

                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick="doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>

