@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using HRM.Presentation.Category.Models;
@using HRM.Presentation.Attendance.Models
@model Att_GradeModel
@{
    Layout = null;

    var _Hrm_Eva_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Eva_Web = ConstantPathWeb.Hrm_Eva_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
@if (1 != 1)
{
    <script src="~/Scripts/VnrJsFramework.js"></script>
}

<script type="text/javascript"> 
    function OnLoadMultiSelect_ProfileName() {
        var multiselect = new VnrMultiSelect('MultiSelect_ProfileName');
        multiselect.SelectAll('ID');
    };

    SetFieldRequiredByScreenName("Att_ProfileNotGradeInfo");
    function Setvalue()
    {
        $('#@Html.FieldIdFor(model=>model.IsProfileNotGrade)').val(true);
        var profileMulti = $("#MultiSelect_ProfileName").data("kendoMultiSelect");
        $("#ProfileIDs").val(profileMulti.value().join(","));
    }
    //Luu 
    function onSaveDataPopUpProFileNotGrade() {
        debugger;
        Setvalue();
        onlySave($('#form_Att_ProfileNotGrade'), '@_hrm_Hr_Service', 'api/Att_Grade', '@ConstantControlName.HRM_Attendance_ProfilenotGrade_Grid_Name'); return false;
    };
    //luu va tao moi
    function onSaveProFileNotGrade() {
        debugger;
        Setvalue();
        onSaveAndContinue($('#form_Att_ProfileNotGrade'), '@_hrm_Hr_Service', 'api/Att_Grade', '@ConstantControlName.HRM_Attendance_ProfilenotGrade_Grid_Name', '@ConstantControlName.HRM_Attendance_ProfilenotGrade_PopUp_Name');
        return false;
    };
    //luu va dong
    function onSaveCloseProFileNotGrade() {
        debugger;
        Setvalue();
        onSaveAndClose($('#form_Att_ProfileNotGrade'), '@_hrm_Hr_Service', 'api/Att_Grade', '@ConstantControlName.HRM_Attendance_ProfilenotGrade_Grid_Name', '@ConstantControlName.HRM_Attendance_ProfilenotGrade_PopUp_Name');
        return false;
    };

    function ReadDataProfile() {
        return {
            text: selectedIds.join(',')
        };
    };
</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Att_ProfileNotGrade" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(mode => mode.ProfileIDs)
    @Html.HiddenFor(model => model.IsProfileNotGrade);
   
    <table>
        <tr>
            <td>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ProfileID)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ProfileIDs = new MultiSelectBuilderInfo
                            {
                                Name = "MultiSelect_ProfileName",
                                DataTextField = "ProfileName",
                                DataValueField = "ID",
                                Url = @_hrm_Hr_Service + "Hre_GetData/GetProfileNotGradeMultids",
                                ReadData = "ReadDataProfile",
                                Autobind = true,
                                EventDataBound = "OnLoadMultiSelect_ProfileName"
                            };
                        }
                        @Html.VnrMultiSelectFor(mode => mode.ProfileID, _ProfileIDs)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.GradeAttendanceID)
                    </div>
                    <div class="FieldValue">
                        @{
                                var _GradeLevel = new DropDownListBuilderInfo
                                {
                                    Name = "ProfileNotGradeInfo_GradeAttendanceID",
                                    DataTextField = "GradeAttendanceName",
                                    DataValueField = "ID",
                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiGradeAttendance",
                                    StyleCss = "width:200px",
                                };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.GradeAttendanceID,_GradeLevel))
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.MonthStart)
                    </div>
                    <div class="FieldValue">
                        @{
                            var MonthStart = new DatePickerBuilderInfo()
                            {
                                Name="MonthStart",
                                StyleCss = "width:120px;",
                                Placeholder = ConstantDisplay.HRM_Sal_Grade_MonthStart.TranslateString(),
                            };
                        }
                        @Html.VnrDatePickerFor(mode => mode.MonthStart, MonthStart)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.MonthEnd)
                    </div>
                    <div class="FieldValue">
                        @{
                            var MonthEnd = new DatePickerBuilderInfo()
                            {
                                Name = "MonthEnd",
                                StyleCss = "width:120px;",
                                Placeholder = ConstantDisplay.HRM_Sal_Grade_MonthEnd.TranslateString(),
                                
                            };
                        }
                        @Html.VnrDatePickerFor(mode => mode.MonthEnd, MonthEnd)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUpProFileNotGrade", Name = "save-ProFileNotGrade", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveProFileNotGrade", Name = "save-continue-ProFileNotGrade", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveCloseProFileNotGrade", Name = "save-close-ProFileNotGrade", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

