
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Laundry.Models;
@using HRM.Infrastructure.Security;
@model Lau_ReportSearchModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Laundry_ReportSummaryLaundry.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    string[] valueFields = null;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
}

<script>
    var checkedNodes = [];
     
    function filterFieldInfo(isExport) {

        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
        var _Lines = $('#@Html.FieldIdFor(model => model.LineID)').val() != null ? $('#@Html.FieldIdFor(model => model.LineID)').val().join(',') : $('#@Html.FieldIdFor(model => model.LineID)').val();
        var _Lockers = $('#@Html.FieldIdFor(model => model.LockerID)').val() != null ? $('#@Html.FieldIdFor(model => model.LockerID)').val().join(',') : $('#@Html.FieldIdFor(model => model.LockerID)').val();
        var _Markers = $('#@Html.FieldIdFor(model => model.MarkerID)').val() != null ? $('#@Html.FieldIdFor(model => model.MarkerID)').val().join(',') : $('#@Html.FieldIdFor(model => model.MarkerID)').val();
        var elementPara = {
            CodeEmp: $('#@Html.FieldIdFor(model => model.CodeEmp)').val(),
            DateFrom: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateFrom").val()),
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            LineID: _Lines,
            LockerID: _Lockers,
            MarkerID: _Markers,
            isIncludeQuitEmp: $('#@Html.FieldIdFor(model => model.isIncludeQuitEmp)').val(),
            OrgStructureID: checkedNodes.join(","),
            selectedIds: selectedIds.join(",")
        };
        if (isExport == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }
    var data = SetCharacteFieldRequired();
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {

            if (CheckValidate(data)) {
                checkedNodes = [];
                var treeView = $("#treeviewOrg").data("kendoTreeView");
                checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
                var grid = $('#grid_ReportSummaryLaundryRecord').data("kendoGrid");
                grid.dataSource.read();
            }
        });

        $('input[type=radio]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });

    //Xử Lý Grid
    GridCheckbox("grid_ReportSummaryLaundryRecord");

    $("#btnExport").click(function () {
        var isAccess = checkPermission(PrivilegeType.Export, '@ConstantPermission.Lau_ReportSumaryLaundryRecord');
        if (!isAccess) {
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Lau_GetData/GetReportSummaryLaundryRecord/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);

        ExportAll(urlGetData, dataParameter, urlDownload);
        checkedNodes = [];
        selectedIds = [];
    });

    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <form id="form-search">
                    <div style="width:550px; display:block; float:left">
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabel(@ConstantDisplay.HRM_Common_Search_Duration.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateStart = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateFrom, DateStart)
                                @{
                                    var DateEnd = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateTo, DateEnd)
                            </div>
                        </div>

                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.CodeEmp)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.CodeEmp)
                            </div>
                        </div>
                        
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.OrgStructureID)
                            </div>
                            <div class="FieldValue">
                                @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                            </div>
                        </div>
                        <div id="div8">
                            <div class="FieldTitle">
                            </div>
                            <div class="FieldValue">
                                @Html.VnrRadioButtonFor(mode => mode.isIncludeQuitEmp)
                                @Html.VnrLabelFor(mode => mode.isIncludeQuitEmp)
                            </div>
                        </div>
                    </div>
                    <div style="width:550px; display:block; float:left">
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Marker_MarkerName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _marker = new ComboBoxBuilderInfo()
                                    {
                                        Name = "_Markers",
                                        DataTextField = "MarkerName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiMarker",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectMarker.TranslateString(),
                                        Autobind = true,
                                        StyleCss = "width:250px;",
                                    };
                                }
                                @Html.VnrComboBoxFor(mode => mode.MarkerID, _marker)
                            </div>

                            @*<div class="FieldValue">
                                @{
                                    var _marker = new MultiSelectBuilderInfo()
                                    {
                                        DataTextField = "MarkerName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiMarker",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectMarker.TranslateString(),
                                    };
                                }
                                @Html.VnrMultiSelectFor(mode => mode.MarkerID, _marker)
                            </div>*@

                        </div>

                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Locker_LockerName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _locker = new ComboBoxBuilderInfo()
                                    {
                                        Name = "_Lockers",
                                        DataTextField = "LockerLMSName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiLocker",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectLocker.TranslateString(),
                                        Autobind = true,
                                        StyleCss = "width:250px;",
                                    };
                                }
                                @Html.VnrComboBoxFor(mode => mode.LockerID, _locker)
                            </div>
                        </div>
                        
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Laundry_Line_LineName.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _line = new ComboBoxBuilderInfo()
                                    {
                                        Name = "_Lines",
                                        DataTextField = "LineLMSName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Lau_GetData/GetMultiLine",
                                        Placeholder = ConstantDisplay.HRM_Laundry_SelectLine.TranslateString(),
                                        Autobind = true,
                                        StyleCss = "width:250px;",
                                    };
                                }
                                @Html.VnrComboBoxFor(mode => mode.LineID, _line)
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    
    <div style="float:right">
        <script>
            function GetScreenName() {
                return {
                    screenName: '@screen'
                };
            }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_hrm_Hre_Service + "Cat_GetData/GetScreenName",
                    Data = "GetScreenName",
                    StyleCss = "width:200px"
                };
            }
            @Html.VnrDropDownList(screenName)
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        valueFields = new string[]
        {
           Lau_ReportSummaryLaundryRecordModel.FieldNames.MarkerName,
           Lau_ReportSummaryLaundryRecordModel.FieldNames.LockerLMSName,
           Lau_ReportSummaryLaundryRecordModel.FieldNames.LineLMSName,
           Lau_ReportSummaryLaundryRecordModel.FieldNames.Price,
           Lau_ReportSummaryLaundryRecordModel.FieldNames.Volume,
           Lau_ReportSummaryLaundryRecordModel.FieldNames.TotalAmount,
      };

        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.MarkerName,280},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.LockerLMSName,170},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.LineLMSName,150},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.Price,130},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.Volume,150},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.TotalAmount,100},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.LineLMSName,ConstantDisplay.HRM_Laundry_Line_LineName},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.LockerLMSName,ConstantDisplay.HRM_Laundry_LaundryRecord_LockerName},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.MarkerName,ConstantDisplay.HRM_Laundry_LaundryRecord_MarkerName},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.Price,ConstantDisplay.HRM_Laundry_LaundryRecord_Price},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.Volume,ConstantDisplay.HRM_Laundry_LaundryRecord_Volume},
            {Lau_ReportSummaryLaundryRecordModel.FieldNames.TotalAmount,ConstantDisplay.HRM_Laundry_LaundryRecord_TotalAmount},
        };

        var grid = new GridBuilderInfo
        {
            ShowEditIcon = false,
            Name = "grid_ReportSummaryLaundryRecord",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Hre_Service + "Lau_GetData/GetReportSummaryLaundryRecord",
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Lau_ReportSummaryLaundryRecordModel>(grid))
</div>

