@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Category.Models
@model CatDistrictModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_District.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
}
<script>
    SetFieldRequired();
    function checkDuplicationCode() {
        
        var _code = $("#District_Code").val();
        var _id = '@lineId';
        var param = {
            tableName: 'Cat_District',
            columnName: 'Code',
            keyword: _code,
            id: _id
        };

        var isduplicate = checkDuplicate('@_hrm_Sys_Service', 'Sys_GetData', 'CheckDuplicate', param, "Code");
        
        return isduplicate;
    }
    function onSave() {
      //  if (CheckValidate(data)) {
        //     if (!checkDuplicationCode()) {
            onSaveAndContinue($('#form_Cat_District'), '@_hrm_Hre_Service', 'api/CatDistrict/', 'grid_Cat_District', 'windowCatDistrict');
        //     }

      //  }
        return false;
    }

    function onSaveClose() {
      //  if (CheckValidate(data)) {
       //      if (!checkDuplicationCode()) {
            onSaveAndClose($('#form_Cat_District'), '@_hrm_Hre_Service', 'api/CatDistrict/', 'grid_Cat_District', 'windowCatDistrict');
       //      }

      //  }
        return false;
    }
    function onSaveDataPopUp() {
        
    //    if (CheckValidate(data)) {
       //     if (!checkDuplicationCode()) {
                onlySave($('#form_Cat_District'), '@_hrm_Hre_Service', 'api/CatDistrict/', 'grid_Cat_District'); return false;
       //     }
      //  }
    }

</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_District" }))
{
    @Html.HiddenFor(model => model.ID)

    


     <table>
        <tr>
            <td>
                
                <div id="div3">
                    <div class="FieldTitle150" style="width: 140px;">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @{
    var _DistrictCode = new TextBoxBuilderInfo() { 
        Name = "District_Code",
        CssStyle = "width:300px"
    };
    if(Model != null){
        _DistrictCode.Value = Model.Code == null ? string.Empty : Model.Code;
    }
                        }
                        @(Html.VnrTextBoxFor(model => model.Code, _DistrictCode))
                    </div>
                    <div style="clear: both;"></div>

                </div>
                <div id="div4">
                    <div class="FieldTitle150" style="width: 140px;">
                        @Html.VnrLabelFor(mode => mode.DistrictName)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.DistrictName, "width:300px"))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150" style="width: 140px;">
                        @Html.VnrLabelFor(mode => mode.ProvinceID)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Province = new MultiSelectBuilderInfo()
    {
        DataTextField = CatDistrictModel.FieldNames.ProvinceName,
        DataValueField = CatDistrictModel.FieldNames.ID,
        Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiProvince",
        Placeholder = ConstantDisplay.HRM_Category_SelectProvince.TranslateString(),
        MaxSelectedItems = 1,
        Autobind = true,
        Width = 300,
        Value = new string[] { @Html.DisplayFor(mode => mode.ProvinceID).ToString() },
        Name = "ProvinceID"
    };
                        }
                        @(Html.VnrMultiSelectFor(mode => mode.ProvinceID, _Province))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div5">
                    <div class="FieldTitle150" style="width: 140px;">
                        @Html.VnrLabelFor(mode => mode.Notes)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextAreaFor(model => model.Notes, "width:500px;height:100px;"))
                    </div>
                    <div style="clear: both;"></div>
                </div>

            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150" style="width: 140px;">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-District", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-catDistrict", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-catDistrict", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
 </table>
}

