@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities;
@using MvcSiteMapProvider.Web.Html
@using HRM.Infrastructure.Security;
@using HRM.Infrastructure.Security;

@model Sys_ConfigProcessApproveModel

@{
    ViewBag.Title = ConstantDisplay.HRM_System_ConfigProcessApprove.TranslateString();
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var gridName = "gridConfigPApprove";
    var windowName = "windowConfigPApprove";
      IList<SelectListItem> lstApproveType = Enum.GetValues(typeof(ApproveType))
  .Cast<ApproveType>()
  .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
  .ToList();
}
@{
    var window = new WindowBuilderInfo
    {
        Name = windowName,
        Visible = false,
        Width = 700,
        Title = "Thông Tin Người Duyệt",
        LoadContentFrom = @hrm_Sys_Web + "Sys_ConfigProcessApprove/SysConfigPApproveInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var windowName = '@windowName';
    var gridName = '@gridName';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_System_ConfigPA_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_System_ConfigPA_PopUp_Create_Title.TranslateString())';

    var checkedNodes = [];
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            @*ConfigProcessApproveName: $('#@Html.FieldIdFor(model => model.ConfigProcessApproveName)').val(),
            Function: $('#@Html.FieldIdFor(model => model.Function)').val(),*@
            ConfigProcessApproveName: $('#SConfigProcessApproveName').val(),
            Function: $('#Function1').val(),
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //
        $("#btnSearch").click(function () {
            ReadGrid(gridName);
        });
        //Xử lý Edit popup
        var url = '@hrm_Sys_Web' + "Sys_ConfigProcessApprove/SysConfigPApproveInfo/";
        EditGridPopUp(gridName, windowName, url, '@ConstantPermission.Sys_ConfigProcessApprove', titleEditPopUp);
    });


    $("#btnCreate").click(function () {
        PopUpCreate(windowName, titleCreatePopUp, '@ConstantPermission.Sys_ConfigProcessApprove');
    });

    //Xử Lý grid
    GridCheckbox(gridName);

    //Xử Lý button delete
   $('#btnDelete').click(function (e) {
       DeleteSelected(gridName, '@hrm_Sys_Web' + "Sys_ConfigProcessApprove/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sys_ConfigProcessApprove');
    })
</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>

            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">

                    <div id="div2">
                        <div class="FieldTitle" style="width: 130px;">
                            @Html.VnrLabelFor(mode => mode.ConfigProcessApproveName)
                        </div>
                        <div class="FieldValue">
                            @{
                                var ConfigProcessApproveName = new TextBoxBuilderInfo()
                                {
                                    Width = 200,
                                    Name = "SConfigProcessApproveName"
                                };
                            }
                            @Html.VnrTextBox(ConfigProcessApproveName)
                        </div>
                    </div>

                    <div id="div4">
                        <div class="FieldTitle" style="width: 130px;">
                            @Html.VnrLabelFor(mode => mode.Function)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _Function = new DropDownListBuilderInfo()
                                {
                                    Name = "Function1",
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    BindTo = lstApproveType,
                                    OptionLabel = @ConstantDisplay.HRM_System_UserApprove_SelectType.TranslateString(),
                                    StyleCss = "width:200px;"
                                };
                            }
                            @Html.VnrDropDownListFor(model => model.Function, _Function)
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>

</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        {
               {Sys_ConfigProcessApproveModel.FieldNames.Function,new object[]
               { "Value", "Text", lstApproveType, ConstantDisplay.HRM_System_ConfigPA_Function,""}},
        };


        string[] valueFields = new string[]
        {
           Sys_ConfigProcessApproveModel.FieldNames.ConfigProcessApproveName,
           Sys_ConfigProcessApproveModel.FieldNames.DeptID,
           Sys_ConfigProcessApproveModel.FieldNames.Function,
           Sys_ConfigProcessApproveModel.FieldNames.CurrentStatus,
           Sys_ConfigProcessApproveModel.FieldNames.NextStatusFormular,
           Sys_ConfigProcessApproveModel.FieldNames.Description,
           Sys_ConfigProcessApproveModel.FieldNames.UserUpdate,
           Sys_ConfigProcessApproveModel.FieldNames.DateUpdate,
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_ConfigProcessApproveModel.FieldNames.ConfigProcessApproveName, 200},
            {Sys_ConfigProcessApproveModel.FieldNames.DeptID, 120},
            {Sys_ConfigProcessApproveModel.FieldNames.Function, 120},
            {Sys_ConfigProcessApproveModel.FieldNames.CurrentStatus, 150},
            {Sys_ConfigProcessApproveModel.FieldNames.NextStatusFormular, 150},
            {Sys_ConfigProcessApproveModel.FieldNames.Description, 200},
            {Sys_ConfigProcessApproveModel.FieldNames.UserUpdate, 130},
            {Sys_ConfigProcessApproveModel.FieldNames.DateUpdate, 130},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sys_ConfigProcessApproveModel.FieldNames.ConfigProcessApproveName, ConstantDisplay.HRM_System_ConfigPA_ConfigProcessApproveName},
            {Sys_ConfigProcessApproveModel.FieldNames.DeptID, ConstantDisplay.HRM_System_ConfigPA_DeptID},
            {Sys_ConfigProcessApproveModel.FieldNames.Function, ConstantDisplay.HRM_System_ConfigPA_Function},
            {Sys_ConfigProcessApproveModel.FieldNames.CurrentStatus, ConstantDisplay.HRM_System_ConfigPA_CurrentStatus},
              {Sys_ConfigProcessApproveModel.FieldNames.NextStatusFormular, ConstantDisplay.HRM_System_ConfigPA_NextStatusFormular},
            {Sys_ConfigProcessApproveModel.FieldNames.Description, ConstantDisplay.HRM_HR_Reward_Description},
            {Sys_ConfigProcessApproveModel.FieldNames.UserUpdate, ConstantDisplay.HRM_Common_UserUpdate},
            {Sys_ConfigProcessApproveModel.FieldNames.DateUpdate, ConstantDisplay.HRM_Common_DateUpdate},
        };
        var grid = new GridBuilderInfo
        {
            Name = gridName,
            ValueFields = valueFields,
            ReadActionUrl = hrm_Sys_Service + "Sys_GetData/GetConfigAPList",
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ForeignKey = foreignKey,
            ReadData = "filterFieldInfo",
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_ConfigProcessApproveModel>(grid))
</div>
