@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Attendance.Models;
@using HRM.Presentation.UI.Controls.Kendo

@model Att_ReportSummaryOvertimeMonthModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    string[] valueFields = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;

}

@Html.Hidden("Screen", screen)


<script>
    var checkedNodes = [];
    var isCreateTemplate = false;
    var isCreateTemplateForDynamicGrid = false;
    SetFieldRequired();
    $('input[type=checkbox]').change(function () {
        if ($(this).is(':checked')) {
            $(this).val('true');
        } else {
            $(this).val('false');
        }
    });
    function filterFieldInfo(isExportDDL) {
        

        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes)

        var elementPara = {
            OrgStructureID: checkedNodes.join(','),
            OverTimeTypeID: $('#SOverTimeTypeID').val() != null ? $('#SOverTimeTypeID').val().join(',') : null,
            DateFrom: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateFrom").val()),
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            CodeEmp: $('#@Html.FieldIdFor(model => model.CodeEmp)').val(),
            ProfileName: $('#@Html.FieldIdFor(model => model.ProfileName)').val(),
            ShiftID: $('#@Html.FieldIdFor(model => model.ShiftID)').val() != null ? $('#@Html.FieldIdFor(model => model.ShiftID)').val().join(',') : null,
            NoDisplay0Data: $('#@Html.FieldIdFor(model => model.NoDisplay0Data)').val(),
            IsIncludeQuitEmp: $('#@Html.FieldIdFor(model => model.IsIncludeQuitEmp)').val(),
            IsCreateTemplate: isCreateTemplate,
            IsCreateTemplateForDynamicGrid: isCreateTemplateForDynamicGrid,
            UserExport: $('#UserLoginName').val()
        };
        if (isExportDDL == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            ShowHre_ProgressBar();
            
            $.ajax({
                type: 'POST',
                url: '@_hrm_Hr_Service' + 'Att_GetData/GetReportSummaryOvertimeMonthListValidate',
                data: filterFieldInfo(),
                dataType: 'json',
                async: false,
                success: function (data) {
                    
                    if (data[0] == "error") {
                        CloseHre_ProgressBar();
                        ShowNotificationProcessor(data[1]);
                    }
                    else {
                        $.ajax({
                            url: '@_hrm_Hr_Service' + "Att_GetData/GetReportSummaryOvertimeMonthList",
                            data: filterFieldInfo(false),
                            type: 'POST',
                            datatype: 'json',
                            success: function (data) {
                                dateFields = [];
                                CloseHre_ProgressBar();
                                
                                var grid = VnrGridDynamic;
                                grid.GridName = "gridAtt_ReportSummaryOvertimeMonth";
                                grid.DataSource = data.Data;
                                VnrGridDynamicControl(grid);
                            }
                        });
                        checkedNodes = [];
                    }
                }
            });

        });
    });

    $("#btnExport").click(function () {
        var isAccess = checkPermission(PrivilegeType.Export, '@ConstantPermission.Att_ReportSummaryOvertimeMonth');
        if (!isAccess) {
            return;
        }
        if ($('#ddlScreenName').val() == "") {
            ExportFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Att_GetData/GetReportSummaryOvertimeMonthList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload);
        checkedNodes = [];
    });

    $("#btnCreateTemplate").click(function () {
        
        isCreateTemplate = true;
        isCreateTemplateForDynamicGrid = true;
        CreateTemplate('@_hrm_Hr_Service' + '/Att_GetData/GetReportSummaryOvertimeMonthList', filterFieldInfo(true));
    });
</script>
@Html.Hidden("valueFields")
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="2" style="float:left;width:450px">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(m => m.DateFrom)
                            @Html.HiddenFor(m => m.UserExport)
                        </div>
                        <div class="FieldValue">
                            @{
                                var DateStart = new DatePickerBuilderInfo()
                                {
                                    Value=DateTime.Today.ToShortDateString(),
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                    StyleCss = "width:100px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateFrom, DateStart)

                            @{
                                var DateEnd = new DatePickerBuilderInfo()
                                {
                                    Value=DateTime.Today.ToShortDateString(),
                                    Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                    StyleCss = "width:100px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateTo, DateEnd)
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.CodeEmp)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.CodeEmp, "Width:200px;")
                        </div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.OrgStructureID)
                        </div>
                        <div class="FieldValue">
                            @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                        </div>
                    </div>
                </div>
                <div style="float:left">
                    <div id="div1">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.OvertimeTypeID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _OverTimeType = new MultiSelectBuilderInfo()
                                {
                                    Name = "SOverTimeTypeID",
                                    DataTextField = "OvertimeTypeName",
                                    DataValueField = "ID",
                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                    Placeholder = ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.OvertimeTypeID, _OverTimeType)
                        </div>
                    </div>
                    <div id="div1">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ShiftID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var shift = new MultiSelectBuilderInfo()
                                {
                                    DataTextField = "ShiftName",
                                    DataValueField = "ID",
                                    Url = _hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                    Placeholder = ConstantDisplay.HRM_Att_SelectShift.TranslateString(),
                                };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ShiftID, shift))
                        </div>
                    </div>
                    <div class="DivContentTitleValue" id="div33">
                        <div class="FieldTitle">
                        </div>
                        <div class="FieldValue">
                            <div style="float:left">
                                @{
                                    var _NoDisplay0Data = new CheckBoxBuilderInfo()
                                    {
                                    };
                                }
                                @Html.VnrCheckBoxFor(mode => mode.NoDisplay0Data, _NoDisplay0Data)
                            </div>
                            <div style="float:left; padding-top:3px">
                                @Html.VnrLabelForNoneIcon(model => model.NoDisplay0Data)
                            </div>
                        </div>
                    </div>

                    <div id="dvisIncludeQuitEmp">
                        <div class="FieldTitle">
                        </div>
                        <div class="FieldValue">
                            <div style="float:left">
                                @{
                                    var IsIncludeQuitEmp = new CheckBoxBuilderInfo()
                                    {

                                    };
                                }
                                @Html.VnrCheckBoxFor(model => model.IsIncludeQuitEmp, IsIncludeQuitEmp)
                            </div>
                            <div style="float:left; padding-top:3px">
                                @Html.VnrLabelForNoneIcon(model => model.IsIncludeQuitEmp)
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

<div class="commandToolBarWidge">
    <div style="float: left">@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantDisplay.HRM_Common_Search_Button.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })</div>
    <div style="float:right">
        <script>
            function GetScreenName() {
                return {
                    screenName: '@screen'
                };
            }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_hrm_Hr_Service + "Cat_GetData/GetScreenName",
                    Data = "GetScreenName",
                };
            }
            @Html.VnrDropDownList(screenName)
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_ExportReport.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateTemplate", Content = ConstantAction.HRM_Common_CreateTemplate.TranslateString() , ImageUrl = ConstantPath.IconExportPath })
         </div>
    </div>
    <div class="clear"></div>
</div>
<div id="gridAtt_ReportSummaryOvertimeMonth">

</div>

