@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Attendance.Models
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Infrastructure.Security
@model HRM.Presentation.Attendance.Models.Att_ReportOvertimeOverLimitModel

    @{
        ViewBag.Title = ConstantDisplay.HRM_Attendance_ReportOvertimeOverLimit;
        Layout = "~/Views/Shared/_Layout.cshtml";
        var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    }

<script>
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
    });
</script>

    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                    <span class="collapse k-icon k-i-arrowhead-n"></span>
                </h3>
                <!--Bất đầu nôi dung tìm kiếm-->
                <div class="contendSearchWidge">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.DateFrom)
                        </div>
                        <div class="FieldValue">
                            @Html.Kendo().DatePickerFor(model => model.DateFrom)
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.DateTo)
                        </div>
                        <div class="FieldValue">
                            @Html.Kendo().DatePickerFor(model => model.DateTo)
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.CodeEmp)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.CodeEmp)
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.ProfileName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.ProfileName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="commandToolBarWidge">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
        <div style="float:right">

            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_ExportReport.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>
    <div>
        <!--Khai báo các thông tin cho Grid-->
        @using HRM.Presentation.UI.Controls.Kendo
        @{
            string[] valueFields = new string[]
        {
           Att_ReportOvertimeOverLimitModel.FieldNames.CodeEmp,
           Att_ReportOvertimeOverLimitModel.FieldNames.ProfileName,
           Att_ReportOvertimeOverLimitModel.FieldNames.DepartmentName,
           Att_ReportOvertimeOverLimitModel.FieldNames.Position,
           Att_ReportOvertimeOverLimitModel.FieldNames.OTHours

        };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {

            {Att_ReportOvertimeOverLimitModel.FieldNames.CodeEmp,80},
            {Att_ReportOvertimeOverLimitModel.FieldNames.ProfileName,200},
            {Att_ReportOvertimeOverLimitModel.FieldNames.DepartmentName,150},
            {Att_ReportOvertimeOverLimitModel.FieldNames.Position,150},
            {Att_ReportOvertimeOverLimitModel.FieldNames.OTHours,200}
    };
            Dictionary<string, string>
                displayFields = new Dictionary<string, string>
                    ()
            {
            {Att_ReportOvertimeOverLimitModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Attendance_CodeEmp},
            {Att_ReportOvertimeOverLimitModel.FieldNames.ProfileName,ConstantDisplay.HRM_Attendance_ProfileName},
            {Att_ReportOvertimeOverLimitModel.FieldNames.DepartmentName,ConstantDisplay.HRM_Attendance_DepartmentCode},
            {Att_ReportOvertimeOverLimitModel.FieldNames.Position,ConstantDisplay.HRM_Attendance_Position},
            {Att_ReportOvertimeOverLimitModel.FieldNames.OTHours,ConstantDisplay.HRM_Attendance_OTHours}
            };


            var grid = new GridBuilderInfo
            {
                Name = ConstantDisplay.HRM_Attendance_ReportOvertimeOverLimit,
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ShowCommand = false,
                ReadActionUrl = "/Att_ReportOvertimeOverLimit/GetAll/",
                ServerOperation = false,
                ShowEditIcon = false,
                ShowCheckbox = false,
            };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Att_ReportOvertimeOverLimitModel>(grid))
    </div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)