
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Payroll.Models.Sal_SalaryDepartmentModel
@{
    ViewBag.Title = "Index Hre_Contract";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>

    var _profileID = [];

    var Validator = CheckValidate();

    //xử lý nút tính lương sản phẩm
    function ComputeSalaryDeparment() {
        if (doSave()) {
            ShowHre_ProgressBar();

            var idDeparment = $("#ID").val();
            $("#Department_ID").val(idDeparment);

            $.ajax({
                url: '@_hrm_Hr_Service' + 'Sal_GetData/ComputeSalaryDeparment',
                data: { id: idDeparment },
                type: 'POST',
                success: function (data) {
                    debugger;
                    if (data == false) {
                        ShowNotificationProcessor('@ConstantDisplay.SaveError.TranslateString()');
                        ReadGrid('gridSal_SalDepartmentItem');
                    }
                    else {
                        ShowNotificationProcessor('@ConstantDisplay.SaveSuccess.TranslateString()');
                        ReadGrid('gridSal_SalDepartmentItem');
                    }
                    ReadGrid('gridSal_SalDepartmentItem');

                    CloseHre_ProgressBar();
                },
                error: function (data) {
                    alert('error Translate');
                    CloseHre_ProgressBar();
                }
            });
        }
        else {
            ShowNotificationProcessor('@ConstantDisplay.SaveError.TranslateString()');
        }
        
    };

    function doSave() {
        onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Sal_SalaryDepartment/');

        return true;
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Sal_SalaryDepartmentController/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }


</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create" data-role="validator" novalidate="novalidate">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Fin_PurchaseRequest_Create_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Fin_Back_To_PurchaseRequest_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-newandforward", Content = ConstantAction.HRM_Common_SaveAndForward.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                          
                        
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>



