
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_AddressModel
@{
    ViewBag.Title = "Index Hre_Address";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var data = SetCharacteFieldRequired();
    function doSave() {
           debugger;
        ShowHre_ProgressBar();
        $.ajax({
            url: '@_hrm_Hr_Service' + 'api/Att_ChangeRosterGroupTable',
            data: $('#form_att_ChangeRosterGroup').serializeArray(),
            type: 'POST',
            success: function (data) {

                if (data != "00000000-0000-0000-0000-000000000000") {
                    $("#ID").val(data);
                    groupId = data;
                }
                ShowNotificationProcessor("@ConstantDisplay.HRM_System_GroupPermissionSaveSuccess.TranslateString()");
                CloseHre_ProgressBar();
            }
        });
    }

</script>
<div>
    @ViewBag.MsgInsert
</div>
    <form action="#" method="POST" id="form-create">
        <div class="panel-wrap">
            <div id="main-content">
                <div class="widget">
                    <div class="section-header">
                        <div class="title">
                            <img src="@ConstantPath.PositionIconPath" alt="" width="20" height="20" />
                            @ConstantDisplay.HRM_HR_Address_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Back_To_Address_List.TranslateString() + ")", "Index")
                        </div>
                    </div>

                    <div class="commandToolBarWidge">
                        <div class="options">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @*@Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })*@
                        </div>
                    </div>
                    @Html.Partial("DataRosterGroup", Model)
                </div>
            </div>
        </div>
    </form>
