@using HRM.Infrastructure.Utilities
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;

@model Cat_AbilityTileModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequired();

     function onSaveClose() {
         onSaveAndClose($('#form_Cat_AbilityTile'), '@_hrm_Hre_Service', 'api/Cat_AbilityTile/', '@ConstantControlName.HRM_Cat_AbilityTile_Grid_Name', '@ConstantControlName.HRM_Cat_AbilityTile_PopUp_Name'); return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_Cat_AbilityTile'), '@_hrm_Hre_Service', 'api/Cat_AbilityTile/', '@ConstantControlName.HRM_Cat_AbilityTile_Grid_Name'); return false;
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_AbilityTile" }))
{
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabel(ConstantDisplay.HRM_System_DynamicColumn_Code.TranslateString())
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Code)
                        @Html.HiddenFor(mode => mode.ID)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150 ">
                        @Html.VnrLabelFor(mode => mode.AbilityTitleVNI)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.AbilityTitleVNI)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150 ">
                        @Html.VnrLabelFor(mode => mode.AbilityTitleEng)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.AbilityTitleEng)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-AbilityTile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-AbilityTile", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
