@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Category.Models

@model HRM.Presentation.Category.Models.CatPositionModel
@{    
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Code, "width:250px")
                            @Html.HiddenFor(model => model.ID)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.PositionName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.PositionName,"width:250px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.JobtitleID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dropdownJobtitleD1 = new DropDownListBuilderInfo()
                            {
                                Name = "JobtitleD1",
                                DataTextField = CatPositionModel.FieldNames.JobTitleName,
                                DataValueField = CatPositionModel.FieldNames.ID,
                                Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                Value = @Html.DisplayFor(mode => mode.JobtitleID).ToString(),
                                OptionLabel = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                StyleCss = "width:250px"
                            };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.JobtitleID, dropdownJobtitleD1))
                            @*@{
                                var JobTitleName = new MultiSelectBuilderInfo()
                                 {
                                     DataTextField = CatPositionModel.FieldNames.JobTitleName,
                                     DataValueField = CatPositionModel.FieldNames.ID,
                                     Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                     Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                     MaxSelectedItems = 1,
                                     Value = new string[] { @Html.DisplayFor(mode => mode.JobtitleID).ToString() }
                                 };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.JobtitleID, JobTitleName))*@

                        </div>
                    </div>
                    
                    <div id="div4">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.PositionEngName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.PositionEngName, "width:250px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.CostCentreID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var mtCostCentre = new MultiSelectBuilderInfo()
                                 {
                                     DataTextField = Cat_JobTitleModel.FieldNames.CostCentreName,
                                     DataValueField = Cat_JobTitleModel.FieldNames.ID,
                                     Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiCostCentre",
                                     Placeholder = ConstantDisplay.HRM_Category_SelectCostCentre.TranslateString(),
                                     MaxSelectedItems = 1,
                                     Autobind = true,
                                     Value = new string[] { @Html.DisplayFor(mode => mode.CostCentreID).ToString() },

                                 };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.CostCentreID, mtCostCentre))
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div6">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.OrgStructureID)
                        </div>
                        <div class="FieldValue">
                            @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdownForCreate")
                            @Html.HiddenFor(model => model.OrgStructureID)
                            @Html.HiddenFor(model => model.OrgStructureName)
                            @*@{
                    var mts2 = new MultiSelectBuilderInfo()
                    {

                        DataTextField = Cat_JobTitleModel.FieldNames.OrgStructureName,
                        DataValueField = Cat_JobTitleModel.FieldNames.Id,
                        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOrgStructure",
                        Placeholder = ConstantDisplay.HRM_Category_SelectOrgStructure.TranslateString(),
                        MaxSelectedItems = 1,
                        Value = new string[] { @Html.DisplayFor(mode => mode.OrgStructureID).ToString() }
                    };
                }
                @(Html.VnrMultiSelectFor(mode => mode.OrgStructureID, mts2))*@
                        </div>
                    </div>
                   
                 
                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Description)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Description, "min-width:250px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Gán giá trị cho cây phòng ban khi edit -->
@if (Model != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TreeViewDropDownInput").val('@Model.OrgStructureName');
            $("#OrgStructureID").val('@Model.OrgStructureID');
            @*var treeview = $("#treeviewOrg").data("kendoTreeView");
            var getitem = treeview.dataSource.get('@Model.OrgStructureID');
            treeview.findByUid(getitem.uid);
            var selectitem = treeview.findByUid(getitem.uid);
            treeview.select(selectitem);*@
        });
        $('#@ConstantDisplay.HRM_HR_GeneralProfile_H_IdProfile').val('@Model.ID');

    </script>
}
