
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_OvertimeModel
@{
    ViewBag.Title = "Index  AttOvertime";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Att_Service;
}
<script>
    var doSave = function()
    {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Att_OvertimeCustom/');
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>


<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel") @Html.ActionLink("(" + ConstantDisplay.HRM_Attendance_Back_To_Overtime_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




