@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities

@model HRM.Presentation.Attendance.Models.Att_OvertimeModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    IList<SelectListItem> listMethodPayment = Enum.GetValues(typeof(EnumDropDown.MethodPayment))
         .Cast<EnumDropDown.MethodPayment>()
         .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
         .ToList();

    IList<SelectListItem> listStatus = Enum.GetValues(typeof(EnumDropDown.StatusOT))
       .Cast<EnumDropDown.StatusOT>()
       .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
       .ToList();
}

@Html.ValidationSummary(false)
@Html.AntiForgeryToken()

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="float:left;background-color: #ffffff;"> 
                    <div>
                        <div style="float:left; width:580px">
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.WorkDate)
                                </div>
                                <div class="FieldValue">

                                    @{
                                        var datetimepickerWorkDate = new DateTimePickerBuilderInfo()
                                        {
                                            Value = @Html.DisplayFor(mode => mode.WorkDate).ToString(),
                                            
                                        };
                                    }
                                    @Html.VnrDateTimePickerFor(model => model.WorkDate, datetimepickerWorkDate)
                                    @Html.ValidationMessageFor(model => model.WorkDate)
                                </div>                               
                            </div>
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ShiftID)
                                </div>
                                <div class="FieldValue">                                   
                                    @{
                                        var dropdownShiftID = new DropDownListBuilderInfo()
                                        {
                                            Name = "ShiftID",
                                            DataTextField = "ShiftName",
                                            DataValueField = "Id",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                            Value = @Html.DisplayFor(mode => mode.ShiftID).ToString(),
                                            OptionLabel = @ConstantDisplay.HRM_Attendance_SelectShift.TranslateString(),
                                            Enable = true,
                                            StyleCss = "width:170px"
                                        };
                                    }
                                    @(Html.VnrDropDownListFor(mode => mode.ShiftID, dropdownShiftID))
                                    @Html.ValidationMessageFor(model => model.ShiftID)
                                </div>
                                <br />
                            </div>                         
                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ProfileID)
                                    @Html.HiddenFor(mode => mode.ID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                    var multiSelectProfileID = new MultiSelectInformation()
                                    {
                                        Name = "ProfileID",
                                        DataTextField = "ProfileName",
                                        DataValueField = "Id",
                                        Url = @_hrm_Hr_Service + "Hre_ProfileCustom/GetMultiselect",
                                        Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),                                       
                                        MaxSelectedItems = 1,
                                        ValueMultiselect = @Html.DisplayFor(mode => mode.ProfileID).ToString()
                                    };
                                    }
                                    @(Html.MultiSelectListControl(multiSelectProfileID))
                                    @Html.ValidationMessageFor(model => model.ProfileID)
                                </div>
                                <br />
                            </div>
                            <div id="div5">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.RegisterHours)
                                </div>
                                <div class="FieldValue">
                                   @{
                                       var numericTextBoxRegisterHours = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                StyleCss = "width:170px"
                                            };
                                    }
                                    @Html.VnrNumericTextBoxFor(model => model.RegisterHours, numericTextBoxRegisterHours)
                                </div>
                                <br />
                            </div>
                            <div id="div6">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MethodPayment)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dropdownMethodPayment = new DropDownListBuilderInfo()
                                        {
                                            Name = "MethodPayment",
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listMethodPayment,
                                            OptionLabel = @ConstantDisplay.HRM_Attendance_SelectMethodPayment.TranslateString(),
                                            StyleCss = "width:170px"
                                        };
                                    }
                                    @(Html.VnrDropDownListFor(mode => mode.MethodPayment, dropdownMethodPayment))
                                    @Html.ValidationMessageFor(model => model.MethodPayment)
                                </div>
                                <br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.OvertimeTypeID)
                                </div>
                                <div class="FieldValue">
                                   
                                    @{
                                        var dropdownOvertimeTypeID = new DropDownListInfomation()
                                        {
                                            Name = "OvertimeTypeID",
                                            DataTextField = "OvertimeTypeName",
                                            DataValueField = "Id",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiOvertimeType",
                                            Width = 170,
                                            Value = @Html.DisplayFor(mode => mode.OvertimeTypeID).ToString(),
                                            OptionLabel = @ConstantDisplay.HRM_Attendance_SelectOvertimeType.TranslateString(),
                                            Enable = true,
                                        };
                                    }
                                    @(Html.DropDownListControl(mode => mode.OvertimeTypeID, dropdownOvertimeTypeID))
                                    @Html.ValidationMessageFor(model => model.OvertimeTypeID)
                                </div>
                                <br />
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Status)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dropdownStatus = new DropDownListBuilderInfo()
                                        {
                                            Name = "Status",
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listStatus,
                                            OptionLabel = @ConstantDisplay.HRM_Category_SelectStatus.TranslateString(),
                                            StyleCss = "width:170px"
                                        };
                                    }
                                    @(Html.VnrDropDownListFor(mode => mode.Status, dropdownStatus))
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                                <br />
                            </div>
                        </div>
                        <div style="display: block; float: left; width: 580px">                            
                            <div id="div8">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApproveID)
                                </div>
                                <div class="FieldValue">
                                  
                                    @{
                                        var multiSelectUserApproveID = new MultiSelectInformation()
                                        {
                                            Name = "UserApproveID",
                                            DataTextField = "ProfileName",
                                            DataValueField = "Id",
                                            Url = @_hrm_Hr_Service + "Hre_ProfileCustom/GetMultiselect",
                                            Placeholder = ConstantDisplay.HRM_System_SelectUserApprove.TranslateString(),                                           
                                            MaxSelectedItems = 1,
                                            ValueMultiselect = @Html.DisplayFor(mode => mode.ProfileID).ToString()
                                        };
                                    }
                                    @(Html.MultiSelectListControl(multiSelectUserApproveID))
                                    @Html.ValidationMessageFor(model => model.UserApproveID)
                                </div>
                                <br />
                            </div>
                            <div id="div9">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApproveID2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var multiSelectUserApproveID2 = new MultiSelectInformation()
                                        {
                                            Name = "UserApproveID2",
                                            DataTextField = "ProfileName",
                                            DataValueField = "Id",
                                            Url = @_hrm_Hr_Service + "Hre_ProfileCustom/GetMultiselect",
                                            Placeholder = ConstantDisplay.HRM_System_SelectUserApprove.TranslateString(),                                       
                                            MaxSelectedItems = 1,
                                            ValueMultiselect = @Html.DisplayFor(mode => mode.ProfileID).ToString()

                                        };
                                    }
                                    @(Html.MultiSelectListControl(multiSelectUserApproveID2))
                                    @Html.ValidationMessageFor(model => model.UserApproveID2)
                                </div>
                                <br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ReasonOT)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextAreaFor(model => model.ReasonOT, "width:300px")
                                    @Html.ValidationMessageFor(model => model.ReasonOT)
                                </div>
                                <br />
                            </div>
                            <div id="div12" style="float:left">
                                <div class="FieldTitle">
                                </div>
                                <div class="FieldValue">
                                    <input type="submit" name="Analysis" class="k-button" value="@ConstantDisplay.HRM_Attendance_ButtonAnalysis.TranslateString()" />
                                </div>
                            </div>
                    </div>
                        </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="listOT">
                        <div class="section-header">
                            <div class="title">
                                <img src="@HRM.Infrastructure.Utilities.ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                                @ConstantDisplay.HRM_Attendance_Overtime_List.TranslateString()
                            </div>
                        </div>
                        <div>
                            @using HRM.Presentation.Attendance.Models
                            @using HRM.Presentation.UI.Controls.Kendo
                            @{        
                                string[] valueFields = new string[] 
                                { 
                                    Att_OvertimeModel.FieldNames.ProfileName, 
                                    Att_OvertimeModel.FieldNames.ProfileID, 
                                    Att_OvertimeModel.FieldNames.OrgStructureName,
                                    Att_OvertimeModel.FieldNames.JobTitleName,
                                    Att_OvertimeModel.FieldNames.PositionName, 
                                    Att_OvertimeModel.FieldNames.WorkDate,   
                                    Att_OvertimeModel.FieldNames.ShiftName,    
                                    Att_OvertimeModel.FieldNames.OvertimeTypeName,                       
                                    Att_OvertimeModel.FieldNames.RegisterHours, 
                                    Att_OvertimeModel.FieldNames.Status, 
                                    Att_OvertimeModel.FieldNames.MethodPayment,            
                                    Att_OvertimeModel.FieldNames.ReasonOT,
                                    Att_OvertimeModel.FieldNames.UserApproveID, 
                                    Att_OvertimeModel.FieldNames.UserApproveID2
                                };

                                Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                                {
                                    {Att_OvertimeModel.FieldNames.ProfileName, 180},
                                    {Att_OvertimeModel.FieldNames.ProfileID, 120},
                                    {Att_OvertimeModel.FieldNames.OrgStructureName, 200},
                                    {Att_OvertimeModel.FieldNames.JobTitleName, 130},
                                    {Att_OvertimeModel.FieldNames.PositionName,130},
                                    {Att_OvertimeModel.FieldNames.WorkDate, 120},    
                                    {Att_OvertimeModel.FieldNames.ShiftName, 100},
                                    {Att_OvertimeModel.FieldNames.OvertimeTypeName, 120},         
                                    {Att_OvertimeModel.FieldNames.RegisterHours, 100},
                                    {Att_OvertimeModel.FieldNames.Status, 100},
                                    {Att_OvertimeModel.FieldNames.MethodPayment, 130},            
                                    {Att_OvertimeModel.FieldNames.ReasonOT, 120},
                                    {Att_OvertimeModel.FieldNames.UserApproveID, 150},
                                    {Att_OvertimeModel.FieldNames.UserApproveID2, 150}
                                };

                                Dictionary<string, string> displayFields = new Dictionary<string, string>()
                                {
                                    {Att_OvertimeModel.FieldNames.ProfileName, ConstantDisplay.HRM_Attendance_Overtime_ProfileName},
                                    {Att_OvertimeModel.FieldNames.ProfileID, ConstantDisplay.HRM_Attendance_Overtime_ProfileID}, 
                                    {Att_OvertimeModel.FieldNames.OrgStructureName, ConstantDisplay.HRM_Category_OrgStructure_OrgStructureName},
                                    {Att_OvertimeModel.FieldNames.JobTitleName, ConstantDisplay.HRM_Category_JobTitle_JobTitleName},
                                    {Att_OvertimeModel.FieldNames.PositionName, ConstantDisplay.HRM_Category_Position_PositionName},          
                                    {Att_OvertimeModel.FieldNames.WorkDate, ConstantDisplay.HRM_Attendance_Overtime_WorkDate},   
                                    {Att_OvertimeModel.FieldNames.ShiftName, ConstantDisplay.HRM_Attendance_Overtime_ShiftID},
                                    {Att_OvertimeModel.FieldNames.OvertimeTypeName, ConstantDisplay.HRM_Attendance_Overtime_OvertimeTypeID},           
                                    {Att_OvertimeModel.FieldNames.RegisterHours, ConstantDisplay.HRM_Attendance_Overtime_RegisterHours},
                                    {Att_OvertimeModel.FieldNames.Status, ConstantDisplay.HRM_Attendance_Overtime_Status},
                                    {Att_OvertimeModel.FieldNames.MethodPayment, ConstantDisplay.HRM_Attendance_Overtime_MethodPayment},            
                                    {Att_OvertimeModel.FieldNames.ReasonOT, ConstantDisplay.HRM_Attendance_Overtime_ReasonOT},
                                    {Att_OvertimeModel.FieldNames.UserApproveID, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID},
                                    {Att_OvertimeModel.FieldNames.UserApproveID2, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID2}
                                };
                                var grid = new GridBuilderInfo
                                {
                                    Name = "gridAtt_Overtime",
                                    ValueFields = valueFields,
                                    ShowCommand = true,
                                    ShowEditButton = true,
                                    ShowCreateButton = true,
                                    ShowDeleteButton = true,
                                    ShowCustomEdit = true,
                                    ShowCustomCreate = true,
                                    EventCustomEdit = "showpage",
                                    EventCustomAdd = "NewPageInsert()",
                                    DeleteActionUrl = @_hrm_Main_Web + "Att_Overtime/Remove/",
                                    ReadActionUrl = @_hrm_Main_Web + "Att_Overtime/Analysis",
                                    SizeFields = sizeFields,
                                    DisplayFields = displayFields
                                };
                            }
                            <!--Khởi tạo Grid-->
                            @(Html.VnrGrid<HRM.Presentation.Attendance.Models.Att_OvertimeModel>(grid))
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
    @Html.HiddenFor(mode => mode.ID)
</div>

<script type="text/javascript">
    function showpage(e) {
        //alert(1);
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = '@_hrm_Main_Web' + 'Att_Overtime/Edit/' + id;
    }

    function NewPageInsert() {
        window.location.href = '@_hrm_Main_Web' + 'Att_Overtime/Create';
    }
   
</script>