@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities

@model HRM.Presentation.Attendance.Models.Att_OvertimeModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    IList<SelectListItem> listMethodPayment = Enum.GetValues(typeof(EnumDropDown.MethodPayment))
         .Cast<EnumDropDown.MethodPayment>()
         .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
         .ToList();

    IList<SelectListItem> listStatus = Enum.GetValues(typeof(EnumDropDown.StatusOT))
       .Cast<EnumDropDown.StatusOT>()
       .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
       .ToList();


}

@Html.ValidationSummary(false)
@Html.AntiForgeryToken()

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="float:left;background-color: #ffffff;">
                 

                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.WorkDate)
                                </div>
                                <div class="FieldValue">

                                    @Html.DisplayFor(model => model.WorkDate)
                               
                                </div>

                            </div>
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ShiftID)
                                </div>
                                <div class="FieldValue">
                                   @Html.DisplayFor(model => model.ShiftName)
                                </div>
                                <br />
                            </div>
                           
                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ProfileID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(model => model.ProfileName)
                                </div>
                                <br />
                            </div>
                            <div id="div5">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.RegisterHours)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(model => model.RegisterHours)
                                </div>
                                <br />
                            </div>
                            <div id="div6">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MethodPayment)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(model => model.MethodPayment)
                                </div>
                                <br />
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.OvertimeTypeID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(model => model.OvertimeTypeName)
                                 
                                </div>
                                <br />
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Status)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(model => model.Status)
                                </div>
                                <br />
                            </div>
                     
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ReasonOT)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.ReasonOT)
                                </div>
                                <br />
                            </div>
                            <div id="div8">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApproveID)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.UserApproveName1)
                                </div>
                                <br />
                            </div>

                            <div id="div9">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.UserApproveID2)
                                </div>
                                <div class="FieldValue">
                                    @Html.DisplayFor(mode => mode.UserApproveName2)
                                </div>
                                <br />
                            </div>
                           
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
