@using HRM.Infrastructure.Utilities;

@model HRM.Presentation.Attendance.Models.Att_OvertimeModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Attendance_Overtime.TranslateString();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<div class="section-header">
    <div class="options">
        @(Html.Kendo().Button()
                                .Name("btnOpenAnalysis")
                                .Tag("a")
                                .Content(ConstantDisplay.HRM_Attendance_ButtonAnalysis.TranslateString()))

    </div>
</div>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                @ConstantDisplay.HRM_Attendance_Overtime_List.TranslateString()
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ProfileName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.ProfileName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.ActionLink(ConstantAction.HRM_Common_Create.TranslateString(), "Create", null, new { @class = "k-button" })
    @Html.ActionLink(ConstantAction.HRM_Common_Export.TranslateString(), "Export", null, new { @class = "k-button" })
    @Html.ActionLink(ConstantAction.HRM_Common_Import.TranslateString(), "Import", null, new { @class = "k-button" })
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Attendance.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{

        string[] valueFields = new string[]
        {
            Att_OvertimeModel.FieldNames.ProfileName,
            Att_OvertimeModel.FieldNames.ShiftName,
            Att_OvertimeModel.FieldNames.WorkDate,
            Att_OvertimeModel.FieldNames.OvertimeTypeName,
            Att_OvertimeModel.FieldNames.RegisterHours,
            Att_OvertimeModel.FieldNames.MethodPayment,
            Att_OvertimeModel.FieldNames.ReasonOT,
            Att_OvertimeModel.FieldNames.UserApproveID,
            Att_OvertimeModel.FieldNames.UserApproveID2
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Att_OvertimeModel.FieldNames.ProfileName, 200},
            {Att_OvertimeModel.FieldNames.ShiftName, 100},
            {Att_OvertimeModel.FieldNames.WorkDate, 100},
            {Att_OvertimeModel.FieldNames.OvertimeTypeName, 150},
            {Att_OvertimeModel.FieldNames.RegisterHours, 150},
            {Att_OvertimeModel.FieldNames.MethodPayment, 150},
            {Att_OvertimeModel.FieldNames.ReasonOT, 150},
            {Att_OvertimeModel.FieldNames.UserApproveID, 150},
            {Att_OvertimeModel.FieldNames.UserApproveID2, 150}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Att_OvertimeModel.FieldNames.ProfileName, ConstantDisplay.HRM_Attendance_Overtime_ProfileName},
            {Att_OvertimeModel.FieldNames.ShiftName, ConstantDisplay.HRM_Attendance_Overtime_ShiftID},
            {Att_OvertimeModel.FieldNames.WorkDate, ConstantDisplay.HRM_Attendance_Overtime_WorkDate},
            {Att_OvertimeModel.FieldNames.OvertimeTypeName, ConstantDisplay.HRM_Attendance_Overtime_OvertimeTypeID},
            {Att_OvertimeModel.FieldNames.RegisterHours, ConstantDisplay.HRM_Attendance_Overtime_RegisterHours},
            {Att_OvertimeModel.FieldNames.MethodPayment, ConstantDisplay.HRM_Attendance_Overtime_MethodPayment},
            {Att_OvertimeModel.FieldNames.ReasonOT, ConstantDisplay.HRM_Attendance_Overtime_ReasonOT},
            {Att_OvertimeModel.FieldNames.UserApproveID, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID},
            {Att_OvertimeModel.FieldNames.UserApproveID2, ConstantDisplay.HRM_Attendance_Overtime_UserApproveID2}
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridAtt_Overtime",
            ValueFields = valueFields,
            ShowCommand = true,
            ShowEditButton = true,
            ShowDeleteButton = true,
            ShowCustomEdit = true,
            EventCustomEdit = "showpage",
            EventCustomAdd = "NewPageInsert()",
            ReadActionUrl = "GetByProfileIdGrid",
            Controller = "Att_Overtime",
            ReadParameter = new { id = @ViewBag.ProfileId },
            SizeFields = sizeFields,
            DisplayFields = displayFields
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<HRM.Presentation.Attendance.Models.Att_OvertimeModel>(grid))
</div>

<script type="text/javascript">
    $("#btnOpenAnalysis").kendoButton({
        click: function (e) {
            window.location.href = '@_hrm_Main_Web' + 'Att_Overtime/Analysis/';
        }
    });
    function showpage(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = '@_hrm_Main_Web' + 'Att_Overtime/Edit/' + id;
    }

    function NewPageInsert() {
        window.location.href = '@_hrm_Main_Web' + 'Att_Overtime/Create';
    }

</script>

