@{
    //page title
    string adminPageTitle = "";
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@adminPageTitle</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<link href="@Url.Content("~/Content/kendo/2013.3.1324/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2013.3.1324/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link id="pagestyle" href="" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/defaultstyle.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/hrmsite.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ribbon.css")" rel="stylesheet" type="text/css" />
   
	<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/jquery.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.tooltip.min.js")"></script>*@
	<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/ribbon.js")"></script>
    @*<link href="@Url.Content("~/Content/vtip.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/vtip.js")"></script>*@
    

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">    
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">*@

    <link href="@Url.Content("~/Content/jquery-ui-1.10.4.custom.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script>
        $(function () {
            $(document).tooltip();
        });
    </script>
    <style>
        .k-popup-edit-form .k-edit-form-container {
            width: auto;
            padding: 0px 20px;
        }

        .k-tabstrip .k-content {
            position: static;
            border-style: solid;
            border-width: 1px 0px 0px 0px;
            margin: 0px;
            padding: 0px 0px 0px 2px;
            zoom: 1;
        }
      
    </style>
</head>
<body>


    <div id="ajaxBusy">
        <span>&nbsp;</span>
    </div>
    <div class="master-wrapper-page k-content">
        <div class="master-wrapper-content">
            @if (IsSectionDefined("header"))
            {
                @RenderSection("header")
            }
            else
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#restart-application").click(function (e) {
                            showThrobber('@Html.Raw(HttpUtility.JavaScriptStringEncode("Admin.Header.RestartApplication.Progress"))');
                        });
                    });
                </script>
                <div class="header">
                    <div class="logo">
                    </div>

                    <div class="links">
                        @*@Html.ActionLink("Admin.Header.PublicStore", "Index", "Home", new { area = "" }, null)*@
                        <a href="#">Help</a>
                        <span class="separator">|</span>
                       @* @Html.ActionLink("Admin.Header.ClearCache", "ClearCache", "Common")*@
                        <a href="#">Clear cache</a>
                        <span class="separator">|</span>
                        <a href="#">Setting</a>
                       @* @Html.ActionLink("Admin.Header.RestartApplication", "RestartApplication", "Common", null, new { id = "restart-application" })*@
                    </div>
                    <div class="login-info">
                        @String.Format("Admin.Header.LoggedInAs", "")
                        @Html.ActionLink("Admin.Header.Logout", "Logout", "Customer", new { area = "" }, null)
                    </div>

                </div>
            }
           @if (IsSectionDefined("headermenu"))
            {
                @RenderSection("headermenu")
            }
            else
            {
                <div class="header-menu">
                    @Html.Partial("Menu")
                    <div class="menucss">
                        <img src="~/Content/images/drop-up-icon.png" id="icon1" height="20" title="Show/Hide Sub-Menu" onclick='checkshowhide()' />
                    </div>
                    <div id="showhidesubmenu" style="border-width:0px">
                        @Html.Partial("SubMenu")
                    </div>
                </div>
                 @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")

            }

            @*@if (IsSectionDefined("statusbar"))
    {
        @RenderSection("statusbar")
    }
    else
    {
        <div class="status-bar">

        </div>
    }*@


            <div class="content">
                @*@Html.Partial("Notifications")*@
                <div class="cph">
                    @RenderBody()
                </div>
            </div>
            @*<div class="throbber">
                <div class="curtain">
                </div>
                <div class="curtain-content">
                    <div>
                        <h1 class="throbber-header">Wait...</h1>
                        <p>
                            <img src="@Url.Content("~/administration/content/images/throbber-synchronizing.gif")" alt="" />
                        </p>
                    </div>
                </div>
            </div>*@
</div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#icon1").click(function () {
            $('#showhidesubmenu').toggle();
        });
        function checkshowhide() {

            if ($('#showhidesubmenu').css('display') != 'none') {
                document.getElementById("icon1").src = '/Content/images/drop-down-icon.png';
            }
            else {
                document.getElementById("icon1").src = '/Content/images/drop-up-icon.png';
            }
        }
    </script>

</body>
</html>

<script>
    function setCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        if(ca.length > 0)
        {
            var c = ca[ca.length - 1];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    
</script>
@*Xử dụng show hoặc hide div màn hình search*@
<script>
    $(document).ready(function () {
        //exapand
        $(".panel-wrap").on("click", "span.k-i-arrowhead-s", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-s")
                .addClass("k-i-arrowhead-n");

            kendo.fx(contentElement).expand("vertical").stop().play();
        });

        //collapse
        $(".panel-wrap").on("click", "span.k-i-arrowhead-n", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-n")
                .addClass("k-i-arrowhead-s");

            kendo.fx(contentElement).expand("vertical").stop().reverse();
        });
    });
</script>
<script type="text/javascript">

function getCookie(w){
	cName = "";
	pCOOKIES = new Array();
	pCOOKIES = document.cookie.split('; ');
	for(bb = 0; bb < pCOOKIES.length; bb++){
		NmeVal  = new Array();
		NmeVal  = pCOOKIES[bb].split('=');
		if(NmeVal[0] == w){
			cName = unescape(NmeVal[1]);
		}
	}
	return cName;
}



function setCookie(name, value, expires, path, domain, secure){
	document.cookie = name + "=" + escape(value) + "; ";

	if(expires){
		expires = setExpiration(expires);
		document.cookie += "expires=" + expires + "; ";
	}
	if(path){
		document.cookie += "path=" + path + "; ";
	}
	if(domain){
		document.cookie += "domain=" + domain + "; ";
	}
	if(secure){
		document.cookie += "secure; ";
	}
}



//////>>>> fix Theme when edit

var fullPath = '@HttpContext.Current.Request.Url.Scheme://@HttpContext.Current.Request.Url.Authority';
function GetPath(url) {
    return fullPath + url;
}

// Change Theme, set css
if (getCookie("ts") == "") {
    setCookie("ts", "/Content/kendo/2013.3.1324/kendo.bootstrap.min.css");
}
document.getElementById("pagestyle").setAttribute("href", GetPath(getCookie("ts")));
window.onload = initate;

</script>

