@{
    //load sitemap
    var siteMap = new HRM.Presentation.UI.Controls.Menu.XmlSiteMap();
    siteMap.LoadFrom("~/Mvc.sitemap");
}
@helper RenderMenuItem(HRM.Presentation.UI.Controls.Menu.SiteMapNode item)
{
    string url = null;
    if (!string.IsNullOrEmpty(item.ControllerName) && !string.IsNullOrEmpty(item.ActionName))
    {
        url = Url.Action(item.ActionName, item.ControllerName, null, null, null);
    }
    else if (!string.IsNullOrEmpty(item.Url))
    {
        url = Url.Action(item.ActionName, item.ControllerName, null, null, null);
        //url = item.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(item.Url) : item.Url;
    }
    <li>

        @if (!String.IsNullOrEmpty(url))
        {
            <a href="@url">
                @if (!String.IsNullOrEmpty(item.ImageUrl))
                {
                    <text>
                        <img alt="" src="@Url.Content(item.ImageUrl)" title="@Url.Content(item.Title)" width="16" height="16" />
                    </text>
                }
                @item.Title
            </a>
        }
        else
        {
            if (!String.IsNullOrEmpty(item.ImageUrl))
            {
                <text>
                    <img src="@Url.Content(item.ImageUrl)" title="@Url.Content(item.Title)" width="16" height="16" />
                </text>
            }
            @item.Title
        }
        @if (item.ChildNodes.Any(x => x.Visible))
        {
            <ul>
                @foreach (var childItem in item.ChildNodes.Where(x => x.Visible))
                {
                    @RenderMenuItem(childItem)
                }
            </ul>
        }
    </li>
}

<ul id="admin-menu">
    @foreach (var item in siteMap.RootNode.ChildNodes.Where(x => x.Visible))
    {
        @RenderMenuItem(item)
    }
</ul>
<script>
    $(document).ready(function () {
        $("#admin-menu").kendoMenu();
    });
</script>
