@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.HrmSystem.Models.Sys_ProcessApprovedModel

@{
    ViewBag.Title = "Sys_ProcessApproved";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var ProcessApprovedId = Model == null ? Guid.Empty : Model.ID;
    var formName = "form_cat_sysProcessApproved";
    var gridName = "gridProcessApproved";
    var windowName = "windowSysProcessApproved";

    IList<SelectListItem> lstExpensesType = Enum.GetValues(typeof(ExpensesType))
    .Cast<ExpensesType>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();

    IList<SelectListItem> lstApproveType = Enum.GetValues(typeof(ApproveType))
    .Cast<ApproveType>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();


}

<script>
    var data = SetCharacteFieldRequired();
    var formName = '@formName';
    var gridName = '@gridName';
    var windowName = '@windowName';


    $(document).ready(function () {

    });


    function onSave() {
        onlySave($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_ProcessApproved/', gridName, windowName); return false;
    }

    function onSaveDataPopUp() {
        onSaveAndContinue($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_ProcessApproved/', gridName, windowName); return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_ProcessApproved/', gridName, windowName); return false;
    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = formName }))
{
    @Html.HiddenFor(model => model.ID)

    <table>
        <tr>
            <td>
                <div>
                    <div style="width: 400px; float: left; display: inline; ">
                        <div class="div11">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ProcessName)
                            </div>
                            <div class="FieldValue">
                                @(Html.VnrTextBoxFor(mode => mode.ProcessName))
                            </div>
                        </div>
                        <div class="div1">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved1)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved1)
                            </div>
                        </div>
                        <div class="div2">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved2)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved2)
                            </div>
                        </div>
                        <div class="div3">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved3)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved3)
                            </div>
                        </div>
                        <div class="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved4)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved4)
                            </div>
                        </div>
                        <div class="div5">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved5)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved5)
                            </div>
                        </div>
                    </div>
                    <div style="width: 480px; float: right; display: inline;">
                        <div class="div6">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved6)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved6)
                            </div>
                        </div>
                        <div class="div7">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved7)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved7)
                            </div>
                        </div>
                        <div class="div8">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved8)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved8)
                            </div>
                        </div>
                        <div class="div9">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved9)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved9)
                            </div>
                        </div>
                        <div class="div10">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Approved10)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Approved10)
                            </div>
                        </div>

                        <div class="div12">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Description)
                            </div>
                            <div class="FieldValue">
                                @(Html.VnrTextAreaFor(mode => mode.Description))
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-SysProcessApproved", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-continue-SysProcessApproved", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-SysProcessApproved", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

