@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@using Kendo.Mvc.UI.Fluent

@model  HRM.Presentation.HrmSystem.Models.Sys_InsConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<int>()
    {
        Format = ConstantFormat.HRM_Format_Int.ToString(),
        StyleCss = "width:70px"
    };

    var _NumericTextBoxBuilderFrom = new NumericTextBoxBuilderInfo<int>()
    {
        Format = ConstantFormat.HRM_Format_Int.ToString(),
        Placeholder = ConstantDisplay.HRM_Common_From.TranslateString(),
        StyleCss = "width:70px"
    };
    var _NumericTextBoxBuilderTo = new NumericTextBoxBuilderInfo<int>()
    {
        Format = ConstantFormat.HRM_Format_Int.ToString(),
        Placeholder = ConstantDisplay.HRM_Common_To.TranslateString(),
        StyleCss = "width:70px"
    };
}



<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_System_ConfigIns.TranslateString()
                            </legend>

                            
                            <div class="DivContentTitleValue" id="dvSumDataTempt">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_SumDataTempt.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.SumDataTempt, _NumericTextBoxBuilder)
                                </div>
                            </div>
                            

                            <div class="DivContentTitleValue" id="dvSumDataMain">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_SumDataMain.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.SumDataMain, _NumericTextBoxBuilder)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvPeriodInsuranceDay">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_PeriodInsuranceDay.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDay, _NumericTextBoxBuilder)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvPeriodInsuranceDayDefaultFrom">
                                @*Ngày Bắt Đầu Chu Kỳ BH  (ngày 15 tháng [N-1] đến 14 tháng N đối với honda)*@ 
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_PeriodInsuranceDayDefaultFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayDefaultFrom, _NumericTextBoxBuilderFrom)
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayDefaultTo, _NumericTextBoxBuilderTo)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvPeriodInsuranceDayDecreaseFrom">
                                @*Ngày Bắt Đầu Chu Kỳ Báo Giảm LĐ (ngày 15 tháng N-1 đến 14 tháng N đối với honda)*@
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_PeriodInsuranceDayDecreaseFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayDecreaseFrom, _NumericTextBoxBuilderFrom)
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayDecreaseTo, _NumericTextBoxBuilderTo)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvPeriodInsurance14DayFrom">
                                @*Ngày bắt đầu số ngày nghỉ >=14 ngày  (ngày 1 đến 31 tháng N đối với honda)*@
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_PeriodInsurance14DayFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsurance14DayFrom, _NumericTextBoxBuilderFrom)
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsurance14DayTo, _NumericTextBoxBuilderTo)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvPeriodInsurance14DayFrom">
                                @*Ngày bắt đầu Thay đổi lương  (ngày 15 tháng [N-1] đối với honda)*@
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_INS_PeriodInsuranceDayChangeSalFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayChangeSalFrom, _NumericTextBoxBuilderFrom)
                                    @Html.VnrNumericTextBoxFor(model => model.PeriodInsuranceDayChangeSalTo, _NumericTextBoxBuilderTo)
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>