@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.Hr.Models

@using HRM.Infrastructure.Utilities
@using System.Collections;
@model HRM.Presentation.Hr.Models.Hre_StopWorkingModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    IList<SelectListItem> listTypeOfStop = Enum.GetValues(typeof(EnumDropDown.TypeOfStop))
   .Cast<EnumDropDown.TypeOfStop>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
   .ToList();

    IList<SelectListItem> listStopWorkStatus = Enum.GetValues(typeof(EnumDropDown.StopWorkStatus))
   .Cast<EnumDropDown.StopWorkStatus>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
   .ToList();

}

<script>
    SetFieldRequired();
    function ProfileSelect(e) {
        var _DateHire = $("#DateHire").data("kendoDatePicker");
        var dataItem = this.dataSource.view()[e.item.index()];
        $.ajax({
            url: '@_hrm_Hr_Service' + "Hre_GetData/GetDataViewStop",
            data: { ProfileID: dataItem.ID },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data != null) {
                    _DateHire.value(data.DateHire);
                    $("#StopWorking_DeptPath").val(data.OrgStructureName);
                }
            }
        });
    }

</script>

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            @Html.HiddenFor(mode => mode.UserID)
            @Html.HiddenFor(model => model.StopWorkType)
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div>
                        <div style="float: left">
                            <div id="div1">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ProfileName)
                                    @Html.HiddenFor(mode => mode.ID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        IEnumerable valueProfile = new string[] { };
                                        if (Model != null)
                                        {
                                            valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                        }
                                    }
                                    @{
                                        var Profile = new MultiSelectBuilderInfo()
                                         {
                                             DataTextField = Hre_ProfileModel.FieldNames.ProfileName,
                                             DataValueField = Hre_ProfileModel.FieldNames.ID,
                                             Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                             Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                             MaxSelectedItems = 1,
                                             EventSelect = "ProfileSelect",
                                             Width = 250,
                                             Value = valueProfile
                                         };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                                </div>
                            </div>
                            <div id="div41">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.TypeOfStop)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _TypeOfStop = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listTypeOfStop,
                                            Value = (Model == null || Model.TypeOfStop == null) ? null : Model.TypeOfStop
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.TypeOfStop, _TypeOfStop)
                                </div>
                            </div>
                            <div id="div4">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.ResignReasonID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _resignReasonID = new ComboBoxBuilderInfo()
                                        {
                                            DataTextField = "ResignReasonName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiResignReason",
                                            Value = Model == null ? string.Empty : Model.ResignReasonID.ToString(),
                                            StyleCss = "width:200px"
                                        };
                                    }
                                    @Html.VnrComboBoxFor(mode => mode.ResignReasonID, _resignReasonID).Text(Model == null ? string.Empty : Model.ResignReasonName)
                                </div>
                            </div>
                            <div id="div42">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateStop)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DateStop = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateStop, _DateStop)
                                </div>
                            </div>
                            <div id="div41">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.RequestDate)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _RequestDate = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.RequestDate, _RequestDate)
                                </div>
                            </div>
                            <div id="div7">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.Status)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _Status = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listStopWorkStatus,
                                            Value = (Model == null || Model.Status == null) ? EnumDropDown.StopWorkStatus.E_WAITAPPROVE.ToString() : Model.Status
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.Status, _Status)
                                </div>
                            </div>
                            <div id="div8">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.Note)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextAreaFor(mode => mode.Note)
                                </div>
                            </div>
                        </div>
                        <div style="float: left">
                            <div id="div8">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DateHire)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var DateHire = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateHire, DateHire)
                                </div>
                            </div>
                            <div id="div8">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DeptPath)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DeptPath = new TextBoxBuilderInfo()
                                         {
                                             Name = "StopWorking_DeptPath",
                                             Readonly = true,
                                         };
                                    }
                                    @Html.VnrTextBoxFor(mode => mode.DeptPath, _DeptPath)
                                </div>
                            </div>
                            <div id="div8">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.DecisionNo)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _DecisionNo = new TextBoxBuilderInfo()
                                         {
                                             Readonly = true,
                                             Value = Model != null ? Model.DecisionNo : null
                                         };
                                    }
                                    @Html.VnrTextBoxFor(mode => mode.DecisionNo, _DecisionNo)
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var datehire = $('#DateHire').data("kendoDatePicker");
    datehire.readonly();
</script>
<div>
    @{
        if (Model != null && Model.ProfileID != null)
        {
            <script>
                $(document).ready(function () {
                    debugger;
                    var _DateHire = $("#DateHire").data("kendoDatePicker");
                    $.ajax({
                        url: '@_hrm_Hr_Service' + "Hre_GetData/GetDataViewStop",
                        data: { ProfileID: '@Model.ProfileID' },
                        type: 'POST',
                        datatype: 'json',
                        success: function (data) {
                            if (data != null) {
                                _DateHire.value(data.DateHire);
                                $("#StopWorking_DeptPath").val(data.OrgStructureName);
                            }
                        }
                    });
                });
            </script>
        }
    }
</div>


<script>
    var _Status = $('#Status').data("kendoDropDownList");
    _Status.readonly();
</script>
