@using HRM.Infrastructure.Utilities;
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models

@model Hre_CandidateHistoryModel


@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Guid ProfileID = Guid.Empty;
    string aaa = ViewBag.profileID;
    if (!string.IsNullOrEmpty(aaa))
    {
        if (Model != null && Model.ProfileID == Guid.Empty)
        {
            Model.ProfileID = ProfileID;
        }
    }
}
<script>
    SetFieldRequiredByScreenName('Hre_CandidateHistory_Profile');

    function changeSalaryMoney1(e) {
        $("#CandidateHistory1_Salary").val(e.sender._value);
    };
    $("input[name=ProfileID]").val(SelectID);
    function onSaveClose() {
        onSaveAndClose($('#form_CandidateHistory'), '@_hrm_Hr_Service', 'api/Hre_CandidateHistory/', '@ConstantControlName.HRM_HR_CandidateHistory_Grid_Name', '@ConstantControlName.HRM_HR_CandidateHistory_PopUp_Name'); return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_CandidateHistory'), '@_hrm_Hr_Service', 'api/Hre_CandidateHistory/', '@ConstantControlName.HRM_HR_CandidateHistory_Grid_Name'); return false;
    }

    function onChange() {
        debugger;
        var positionLast = $("#RecHreCandidateHistoryInfo_LastPositionID").data("kendoComboBox");
        $("#RecHreCandidateHistoryInfo_LastPositionID").val(positionLast.value());
        var lastName = positionLast.text();
        $("#PositionLast").val(lastName);
    }
    function onChange_1() {
        debugger;
        var positionFirst = $("#RecHreCandidateHistoryInfo_FirstPositionID").data("kendoComboBox");
        $("#RecHreCandidateHistoryInfo_FirstPositionID").val(positionFirst.value());
        var firstName = positionFirst.text();
        $("#PositionFirst").val(firstName);
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_CandidateHistory" }))
{

    <table>
        <tr>
            <td>
                @Html.HiddenFor(model => model.CandidateHistory_ID)
                @{
    if (Model != null)
    {
        @Html.HiddenFor(m => m.ProfileID)
    }
    else
    {
        @Html.Hidden("ProfileID", ProfileID)
    }
                }
                @Html.HiddenFor(mode => mode.ID)

                <div style="display:block; padding-top:10px;">
                    <div style="float:left">
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.DateStart)
                            </div>
                            <div class="FieldValue">
                                @{
    var DateStart = new DatePickerBuilderInfo()
    {
        Name = "HreCandidateHistoryInfo_DateStart",
        StyleCss = "Width:120px"
    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateStart, DateStart)

                            </div>
                        </div>
                    </div>
                    <div style="float:left; padding-left: 47px">
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabelForNoneIcon(mode => mode.DateFinish)
                            </div>
                            <div class="FieldValue">
                                @{
    var DateFinish = new DatePickerBuilderInfo()
    {
        Name = "HreCandidateHistoryInfo_DateFinish",
        StyleCss = "Width:120px"
    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateFinish, DateFinish)
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.CompanyName)
                        </div>
                        <div>
                            @Html.VnrTextAreaFor(model => model.CompanyName, "width: 415px; Height: 30px")
                        </div>
                    </div>
                    <div style="float:left">
                        <div>
                            <div>
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(mode => mode.BussinessType)
                                </div>
                                <div class="FieldValue">
                                    @{
    var _BussinessType = new TextBoxBuilderInfo()
    {
        Name = "HreCandidateHistoryInfo_BussinessType",
        Width = 150,
    };
                                    }
                                    @Html.VnrTextBoxFor(model => model.BussinessType, _BussinessType)
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.CountryID)

                            </div>
                            <div class="FieldValue">
                                @{
    var _CountryID = new ComboBoxBuilderInfo()
     {
         DataTextField = "CountryName",
         DataValueField = "ID",
         Url = _hrm_Hr_Service + "Cat_GetData/GetMultiCountry",
         Value = Model == null ? string.Empty : Model.CountryID.ToString(),
     };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.CountryID, _CountryID).Text(Model == null ? string.Empty : Model.CountryName))
                            </div>
                        </div>
                    </div>
                    <div style="float:left">
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabelForNoneIcon(mode => mode.Phone)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Phone, "Width: 150px")
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabel(ConstantDisplay.HRM_Category_Village_ProvinceID.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
    var _ProvinceID = new ComboBoxBuilderInfo()
     {
         DataTextField = "ProvinceName",
         DataValueField = "ID",
         Url = _hrm_Hr_Service + "Cat_GetData/GetMultiProvince",
         Value = Model == null ? string.Empty : Model.ProvinceID.ToString(),
     };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.ProvinceID, _ProvinceID).Text(Model == null ? string.Empty : Model.ProvinceName))
                            </div>
                        </div>
                    </div>
                    <div style="float:left">
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.SalaryLast)
                            </div>
                            <div class="FieldValue">
                                @{
    var SalaryLast = new NumericTextBoxBuilderInfo<double>()
    {
        Name = "RecHreCandidateHistoryInfo_SalaryLast",
        StyleCss = "width:120px",
        Format = ConstantFormat.HRM_Format_Number_Double
    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.SalaryLast, SalaryLast)
                            </div>
                        </div>
                    </div>
                    <div style="float:left; padding-left: 10px">
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.SalaryFirst)
                            </div>
                            <div class="FieldValue">
                                @{
    var SalaryFirst = new NumericTextBoxBuilderInfo<double>()
    {
        Name = "RecHreCandidateHistoryInfo_SalaryFirst",
        StyleCss = "width:120px",
        Format = ConstantFormat.HRM_Format_Number_Double
    };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.SalaryFirst, SalaryFirst)
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="DivContentTitleValue" id="div13">
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.JobDescription)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(model => model.JobDescription, "Width: 415px")
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="float:left">
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.LastPositionID)
                            </div>
                            <div class="FieldValue">
                                @{
    var _LastPositionID = new ComboBoxBuilderInfo()
     {
         Name = "RecHreCandidateHistoryInfo_LastPositionID",
         DataTextField = "PositionName",
         DataValueField = "ID",
         Url = _hrm_Hr_Service + "Cat_GetData/GetMultiPosition",
         Value = Model == null ? string.Empty : Model.LastPositionID.ToString(),
         EventChange = "onChange"
     };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.LastPositionID, _LastPositionID).Text(Model == null ? string.Empty : Model.LastPositionName))
                            </div>
                        </div>
                        <div style="float:left">
                            @Html.VnrTextBoxFor(mode => mode.PositionLast, "Width: 265px")
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelForNoneIcon(mode => mode.FirstPositionID)
                            </div>
                            <div class="FieldValue">
                                @{
    var _FirstPositionID = new ComboBoxBuilderInfo()
     {
         Name = "RecHreCandidateHistoryInfo_FirstPositionID",
         DataTextField = "PositionName",
         DataValueField = "ID",
         Url = _hrm_Hr_Service + "Cat_GetData/GetMultiPosition",
         Value = Model == null ? string.Empty : Model.FirstPositionID.ToString(),
         EventChange = "onChange_1"
     };
                                }
                                @(Html.VnrComboBoxFor(mode => mode.FirstPositionID, _FirstPositionID).Text(Model == null ? string.Empty : Model.FirstPositionName))
                            </div>
                        </div>
                        <div style="float:left">
                            @Html.VnrTextBoxFor(mode => mode.PositionFirst, "Width: 265px")
                        </div>
                    </div>
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.ResignReason)
                        </div>
                        <div>
                            @Html.VnrTextAreaFor(model => model.ResignReason, "width: 415px; Height: 30px")
                        </div>
                    </div>
                    <div style="float:left">
                        <div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(mode => mode.SupRelation)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.SupRelation, "Width: 150px")
                                </div>
                            </div>
                            <div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle150">
                                        @Html.VnrLabelForNoneIcon(mode => mode.SupMobile)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.SupMobile, "Width: 150px")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left">
                        <div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelForNoneIcon(mode => mode.SupPosition)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.SupPosition, "Width: 150px")
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelForNoneIcon(mode => mode.SupEmail)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.SupEmail, "Width: 150px")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.SupComment)
                        </div>
                        <div>
                            @Html.VnrTextAreaFor(model => model.SupComment, "width: 415px; Height: 30px")
                        </div>
                    </div>
                </div>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CandidateHistory", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CandidateHistory", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
