
@using HRM.Infrastructure.Utilities;
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@using HRM.Presentation.Payroll.Models

@model Sal_CodeAlocalModel

@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Guid ProfileID = Guid.Empty;

    string profileid = ViewBag.profileID;
    if (!string.IsNullOrEmpty(profileid))
    {
        ProfileID = Common.ConvertToGuid(profileid.ToString());
    }
}
<script>
    $("input[name=ProfileID]").val(SelectID);
    SetFieldRequiredByScreenName('Sal_CodeAlocal_Tab');
    function onSaveCloseCodeAlocal() {
      
        onSaveAndClose($('#form_CodeAlocalInfo'), '@_hrm_Hr_Service', 'api/Sal_CodeAlocal/', '@ConstantControlName.HRM_Sal_CodeAlocal_Grid_Name', '@ConstantControlName.HRM_Sal_CodeAlocal_PopUp_Name'); return false;
    }
    function onSaveDataPopUpCodeAlocal() {
     
        onlySave($('#form_CodeAlocalInfo'), '@_hrm_Hr_Service', 'api/Sal_CodeAlocal/', '@ConstantControlName.HRM_Sal_CodeAlocal_Grid_Name'); return false;
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_CodeAlocalInfo" }))
{
    @Html.HiddenFor(model => model.CodeAlocal_ID)
    
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.Code, "width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.CodeAlocalName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.CodeAlocalName, "width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @{
                            if (Model != null)
                            {
                                @Html.HiddenFor(m => m.ProfileID, "width: 300px")
                            }
                            else
                            {
                                @Html.Hidden("ProfileID", ProfileID, "width: 300px")
                            }
                        }
                        @Html.VnrLabelFor(mode => mode.DateStart)
                    </div>
                    <div class="FieldValue">
                        @{
                            var dateStart = new DatePickerBuilderInfo()
                            {
                                  StyleCss = "Width: 120px",
                                Name = "CodeAlocalInfo_DateStart"
                            };
                        }
                        @Html.VnrDatePickerFor(model => model.DateStart, dateStart)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Rate)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Rate = new NumericTextBoxBuilderInfo<double>()
 {
     Name = "CodeAlocalInfo_Rate",
     StyleCss = "Width: 150px"
 };
                        }
                        @Html.VnrNumericTextBoxFor(model => model.Rate, _Rate)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUpCodeAlocal", Name = "save-CodeAlocalInfo", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveCloseCodeAlocal", Name = "save-close-CodeAlocalInfo", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
