@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo

@model Hre_ProfileModel
@{
    Layout = null;
    ViewBag.Title = ConstantDisplay.HRM_HR_ProfileWaitingHire;
    var hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    //List<Guid> lstIDs = null;
    string strIDs = null;
    if (ViewData["lstIDs"] != null)
    {
        strIDs = ViewData["lstIDs"].ToString();
    }
}
<script>
    SetFieldRequired();
    $(document).ready(function () {
    });

    function onSaveClose() {
        $("#litId").val(selectedIds.join(','));
        $.ajax({
            url: '@hrm_Hr_Service' + 'Hre_Getdata/UpdateReasonDenny',
            type: "POST",
            dataType: "json",
            data: $('#form_Hre_ReasonDeny').serialize(),
            success: function () {

                var window = $("#" + '@ConstantControlName.HRM_ReasonDeny_PopUp_Name').data("kendoWindow");
                window.refresh().close();
                ShowNotificationProcessor("@ConstantDisplay.HRM_Attendance_WorkDay_UpdateSuccess.TranslateString()");
                var grid = $("#" + '@ConstantControlName.HRM_gridHre_ProfileWaitingHire_Grid_Name').data("kendoGrid");
                grid.dataSource.read();
            },
            error: function () {
                alert("error");
            },
        });
    };
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Hre_ReasonDeny" }))
{
    @Html.HiddenFor(m => m.listId, new { id = "litId" })
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <div>
                        <!--Li do-->
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ReasonDeny)
                            </div>
                            <div class="FieldValue">
                                @{
                            var dropdownReasonDeny = new DropDownListBuilderInfo()
                            {
                                DataTextField = "NameEntityName",
                                DataValueField = "NameEntityName",
                                Url = @hrm_Hr_Service + "Cat_GetData/GetMultiReasonDeny",
                                Value = @Html.DisplayFor(mode => mode.ReasonDeny).ToString(),
                                StyleCss = "width:300px"
                            };
                                }
                                @(Html.VnrDropDownListFor(mode => mode.ReasonDeny, dropdownReasonDeny))
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">
                        </div>
                        <div class="FieldValue">
                            @*@Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CandidateHistory", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                                @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-CandidateHistory", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })*@
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CandidateHistory", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
    </table>
}
