@using HRM.Infrastructure.Utilities;
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models

@model HRM.Presentation.Payroll.Models.Sal_GradeModel


@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

}

<script type="text/javascript">
    $(document).ready(function () {
        $("#GradeAndAllowanceInfo_ProfileID").val(SelectID);
        $("#GradeAndAllowanceInfo_ProfileName").val($("#profileNameView").text());
    });

    SetFieldRequiredByScreenName('Sal_Grade_Tab');
    function onSave() {
        onSaveAndContinue($('#form_GradeAndAllowanceInfo'), '@_hrm_Hr_Service', 'api/Sal_Grade/', 'gridSal_Grade', '@ConstantDisplay.HRM_Sal_Grade_Title');
        return false;
    };
    function onSaveClose() {
        onSaveAndClose($('#form_GradeAndAllowanceInfo'), '@_hrm_Hr_Service', 'api/Sal_Grade/', 'gridSal_Grade', '@ConstantDisplay.HRM_Sal_Grade_Title');
        return false;
    };
    function onSaveDataPopUp() {
        onlySave($('#form_GradeAndAllowanceInfo'), '@_hrm_Hr_Service', 'api/Sal_Grade/', 'gridSal_Grade');
        return false;
    };


</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_GradeAndAllowanceInfo" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(m => m.IsCreateByProfile, new { @Value = "true" })
    <table>
        <tr>
            <td>
                <div style="display:block;">
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                        </div>
                        <div class="FieldValue">
                            @{
    var txt = new TextBoxBuilderInfo()
    {
        Width = 300,
        Name = "GradeAndAllowanceInfo_ProfileName",
        Disabled = true,
    };
                            }
                            @Html.VnrTextBoxFor(mode => mode.ProfileName, txt)
                            @Html.HiddenFor(m => m.ProfileID, new { id = "GradeAndAllowanceInfo_ProfileID" })
                        </div>
                    </div>

                    <div id="div2">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.GradePayrollID)
                        </div>
                        <div class="FieldValue">
                            @{
    var multiSelectGradeAndAllowanceInfo = new DropDownListBuilderInfo()
    {
        StyleCss = "width:300px",
        Name = "GradeAndAllowanceInfo_GradePayrollID",
        DataTextField = "GradeCfgName",
        DataValueField = "ID",
        Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiGradePayroll",
        Autobind = true,
    };
                            }
                            @(Html.VnrDropDownListFor(mode => mode.GradePayrollID, multiSelectGradeAndAllowanceInfo))
                        </div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MonthStart)
                        </div>
                        <div class="FieldValue">
                            @{
    var datepickerMonthStart1 = new DatePickerBuilderInfo()
    {
        StyleCss = "width:120px",
        Name = "GradeAndAllowanceInfo_MonthStart",
        Value = @Html.DisplayFor(mode => mode.MonthStart).ToString(),
        Placeholder = ConstantDisplay.HRM_HR_Profile_DateFrom.TranslateString(),
        Format = ConstantFormat.HRM_Format_DayMonthYear.TranslateString()
    };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthStart, datepickerMonthStart1)
                        </div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.MonthEnd)
                        </div>
                        <div class="FieldValue">
                            @{
    var datepickerMonthEnd1 = new DatePickerBuilderInfo()
    {
        StyleCss = "width:120px",
        Name = "GradeAndAllowanceInfo_MonthEnd",
        Value = @Html.DisplayFor(mode => mode.MonthEnd).ToString(),
        Placeholder = ConstantDisplay.HRM_HR_Profile_DateTo.TranslateString(),
        Format = ConstantFormat.HRM_Format_DayMonthYear.TranslateString()
    };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthEnd, datepickerMonthEnd1)
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "GradeAndAllowanceInfo_onSaveDataPopUp", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "GradeAndAllowanceInfo_onSaveNew", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "GradeAndAllowanceInfo_onSaveClose", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
