@*load PC thường xuyên*@
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;
@{
    Layout = null;
    ViewBag.Title = "Hre_CardHistory";
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowProfileUnusual",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Sal_UnusualED/Sal_ProfielUnusualInfo?profileID=" + profileID,
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualED_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualED_Create_Title.TranslateString())';
    function filterFieldInfo(isExport) {
        return {
            CutOffDurationID: $('#CutOffDurationID').val(),
            ProfileID: SelectID,
            IsExport: isExport,
            ValueFields: $("#valueFieldsGrid").val()
        };
    }
    $(document).ready(function () {
        EditGridPopUp("grid_ProfileUnusualED", "windowProfileUnusual", '@_hrm_Main_Web' + "Sal_UnusualED/Sal_ProfielUnusualInfo/", '@ConstantPermission.Sal_UnusualED', titleEditPopUp);

        $("#btnCreateUnusual").click(function () {

            PopUpCreate("windowProfileUnusual", titleCreatePopUp, '@ConstantPermission.Sal_UnusualED');

        });
    });
    //Xử Lý button delete
    $('#btnDeleteUnusual').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_ProfileUnusualED", '@_hrm_Main_Web' + "Sal_UnusualED/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sal_UnusualED');
        return false;
    });
    GridCheckbox("grid_ProfileUnusualED");

    $("#btnExportUnusual").click(function () {
        var grid = $('#grid_ProfileUnusualED').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Sal_GetData/GetUnusualEDByIdProfile/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_TAMScanLog');

    });
</script>
@*<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox("txt_HiddenProfileCardHistory", null, new { style = "display: none" }))
<div style="padding-top:3px">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Payroll_UnusualED_Title.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateUnusual", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportUnusual", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDeleteUnusual", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
            @*@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })*@
        </div>

        <div class="clear"></div>
    </div>
    <div style=" width:100%;">
        <!--Khai báo các thông tin cho Grid-->
        @{
            string[] valueFields = new[]
        {

            Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,
            Sal_UnusualAllowanceModel.FieldNames.Amount,
            Sal_UnusualAllowanceModel.FieldNames.ChargePIT,
            Sal_UnusualAllowanceModel.FieldNames.MonthStart,
            Sal_UnusualAllowanceModel.FieldNames.MonthEnd,
            Sal_UnusualAllowanceModel.FieldNames.UserUpdate,
            Sal_UnusualAllowanceModel.FieldNames.DateUpdate
        };

            var sizeFields = new Dictionary<string, int>()
        {
            {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,100},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,110},
            {Sal_UnusualAllowanceModel.FieldNames.ChargePIT,70},
            {Sal_UnusualAllowanceModel.FieldNames.MonthStart,105},
            {Sal_UnusualAllowanceModel.FieldNames.MonthEnd,110},
            {Sal_UnusualAllowanceModel.FieldNames.UserUpdate,110},
            {Sal_UnusualAllowanceModel.FieldNames.DateUpdate,120}
        };



            var displayFields = new Dictionary<string, string>()
        {
            {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,ConstantDisplay.HRM_Payroll_UnusualED_UnusualAllowanceCfgName},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,ConstantDisplay.HRM_Payroll_UnusualED_Amount},
            {Sal_UnusualAllowanceModel.FieldNames.ChargePIT,ConstantDisplay.HRM_Payroll_UnusualED_ChargePIT},
            {Sal_UnusualAllowanceModel.FieldNames.MonthStart,ConstantDisplay.HRM_Payroll_UnusualED_MonthStart},
            {Sal_UnusualAllowanceModel.FieldNames.MonthEnd,ConstantDisplay.HRM_Payroll_UnusualED_MonthEnd},
            {Sal_UnusualAllowanceModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Payroll_UnusualED_UserUpdate},
            {Sal_UnusualAllowanceModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Payroll_UnusualED_DateUpdate}
        };

            var grid = new GridBuilderInfo
            {
                Name = "grid_ProfileUnusualED",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                //   Filterable = filterable,
                ShowCommand = false,
                GridWidth = Common.ScreenWidth - 260,
                ReadActionUrl = _hrm_Hr_Service + "Sal_GetData/GetUnusualEDByIdProfile/",
                ReadData = "filterFieldInfo_Reload",
                AutoBind = true,
                GridHeight = 550,
            };
            @(Html.VnrGrid<Sal_UnusualAllowanceModel>(grid))
        }


    </div>



</div>

@{
    var valueFields1 = ",ProfileName,CodeEmp";
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
<script>
    $(document).ready(function () {
        $("#valueFieldsGrid").val('@valueFields1');
    });
</script>