@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Security
@model HRM.Presentation.Hr.Models.Hre_ProfileModel
@{
    var profileID = Guid.Empty;
    string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}
<div style="padding-top:3px">
    <!--lịch Sử Ứng Viên-->
    <div>
        @{
            var windowCandidateHistory = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_HR_CandidateHistory_PopUp_Name,
        Visible = false,
        Width = 630,
        LoadContentFrom = @_hrm_Main_Web + "Hre_Profile/CandidateHistoryInfo?profileID=" + profileID,
    };
        }
        @(Html.VnrWindow(windowCandidateHistory))
        @{
            var windowError = new WindowBuilderInfo
            {
                Name = "windowError",
                Visible = false,
                Height = 150,
                Width = 300,
                Title = "Thông Báo Lỗi",
                Content = "<br><br><center><b>Chưa Có Nhân Viên!!!</b></center>"
            };
        }
        @(Html.VnrWindow(windowError))
        <script>

            var selectedIds = [];
            var gridName = '@ConstantControlName.HRM_HR_CandidateHistory_Grid_Name';
            var popUpName = '@ConstantControlName.HRM_HR_CandidateHistory_PopUp_Name';
            var titleEditPopUpCandidateHistory = '@Html.Raw(ConstantDisplay.HRM_HR_CandidateHistory_Profile_PopUp_Edit_Title.TranslateString())';
            var titleCreatePopUpCandidateHistory = '@Html.Raw(ConstantDisplay.HRM_HR_CandidateHistory_Profile_PopUp_Create_Title.TranslateString())';
            $(document).ready(function () {
                ShowHidePanel();
                EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Hre_Profile/CandidateHistoryInfo/", '@ConstantPermission.Hre_CandidateHistory', titleEditPopUpCandidateHistory);


            });


            //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
            GridCheckbox(gridName);
            //Tạo mới kinh nghiệm
            $("#btnCreate_CandidateHistory").click(function () {

                var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_CandidateHistory');
                if (!isAccess) {
                    return;
                }
                var x = '@profileID';

                if (x == '') {
                    PopUpCreate("windowError");
                }
                else {
                    var url = '@_hrm_Main_Web' + "Hre_Profile/CandidateHistoryInfo/";
                    PopUpEdit('@ConstantControlName.HRM_HR_CandidateHistory_PopUp_Name', url, SelectID, titleCreatePopUpCandidateHistory);
                }
            });


            //Xóa kinh nghiem
            $('#btnDelete_CandidateHistory').click(function (e) {
                var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_CandidateHistory');
                if (!isAccess) {
                    return;
                }
                if (selectedIds == "") {
                    DeleteFail();
                    return;
                }

                DeleteSelected(gridName, '@_hrm_Main_Web' + "Hre_CandidateHistory/RemoveSelected/", selectedIds, '@ConstantPermission.Hre_CandidateHistory');
                return false;
            });

        </script>

        <div class="commandToolBarWidge">
            <div class="GridTitle">
                @Html.VnrLabel(ConstantDisplay.HRM_HR_CandidateHistory_WordHistoryName.TranslateString())
            </div>
            <div style="float:right">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate_CandidateHistory", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete_CandidateHistory", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
            </div>
            <div class="clear"></div>
        </div>

        <div style="width:100%; height:580px">
            <!--Khai báo các thông tin cho Grid-->
            @using HRM.Presentation.UI.Controls.Kendo
            @{
                var valueFieldsWorkHistory = new[]
                        {

                            Hre_CandidateHistoryModel.FieldNames.CompanyName,
                            Hre_CandidateHistoryModel.FieldNames.Phone,
                            Hre_CandidateHistoryModel.FieldNames.DateStart,
                            Hre_CandidateHistoryModel.FieldNames.DateFinish,
                            Hre_CandidateHistoryModel.FieldNames.SupPosition,
                            Hre_CandidateHistoryModel.FieldNames.PositionLast,
                            Hre_CandidateHistoryModel.FieldNames.SalaryLast,
                            Hre_CandidateHistoryModel.FieldNames.ResignReason,
                        };

                Dictionary<string, int> sizeFieldsWorkHistory = new Dictionary<string, int>()
                        {

                           {Hre_CandidateHistoryModel.FieldNames.CompanyName, 130},
                            {Hre_CandidateHistoryModel.FieldNames.Phone, 130},
                            {Hre_CandidateHistoryModel.FieldNames.DateStart,130},
                            {Hre_CandidateHistoryModel.FieldNames.DateFinish, 130},
                            {Hre_CandidateHistoryModel.FieldNames.SupPosition, 130},
                            {Hre_CandidateHistoryModel.FieldNames.PositionLast, 130},
                            {Hre_CandidateHistoryModel.FieldNames.SalaryLast, 130},
                            {Hre_CandidateHistoryModel.FieldNames.ResignReason, 130},
                        };

                Dictionary<string, string> displayFieldsWorkHistory = new Dictionary<string, string>()
                        {

                            {Hre_CandidateHistoryModel.FieldNames.CompanyName, ConstantDisplay.HRM_HR_CandidateHistory_CompanyName},
                            {Hre_CandidateHistoryModel.FieldNames.Phone, ConstantDisplay.HRM_HR_CandidateHistory_Phone},
                            {Hre_CandidateHistoryModel.FieldNames.DateStart, ConstantDisplay.HRM_HR_CandidateHistory_DateStart},
                            {Hre_CandidateHistoryModel.FieldNames.DateFinish, ConstantDisplay.HRM_HR_CandidateHistory_DateFinish},
                            {Hre_CandidateHistoryModel.FieldNames.SupPosition, ConstantDisplay.HRM_HR_CandidateHistory_SupPosition},
                            {Hre_CandidateHistoryModel.FieldNames.PositionLast, ConstantDisplay.HRM_HR_CandidateHistory_PositionLast},
                            {Hre_CandidateHistoryModel.FieldNames.SalaryLast, ConstantDisplay.HRM_HR_CandidateHistory_SalaryLast},
                            {Hre_CandidateHistoryModel.FieldNames.ResignReason, ConstantDisplay.HRM_HR_Profile_ResignReason},
                        };

                var gridWork = new GridBuilderInfo
                {
                    Name = ConstantControlName.HRM_HR_CandidateHistory_Grid_Name,
                    ValueFields = valueFieldsWorkHistory,
                    SizeFields = sizeFieldsWorkHistory,
                    DisplayFields = displayFieldsWorkHistory,
                    GridHeight = 580,
                    ShowCheckAll = false,
                    GridWidth = Common.ScreenWidth - 260,
                    AutoBind = true,
                    ReadActionUrl = _Hrm_Hre_Service + "Hre_GetData/GetCandidateHistoryByProfileID?profileID=" + profileID,
                    //   ReadData = "filterFieldInfo"
                };
            }
            <!--Khởi tạo Grid-->
            @(Html.VnrGrid<Hre_CandidateHistoryModel>(gridWork).Navigatable()
            )
        </div>
        @{
            var sizeFieldsWork = string.Empty;
            for (int i = 0; i < valueFieldsWorkHistory.Count(); i++)
            {
                sizeFieldsWork += "," + valueFieldsWorkHistory[i];
            }
        }
        @Html.Hidden("valueFieldsGridAcc", sizeFieldsWork)
    </div>
</div>
@*<script>
        $("#gridReWard .k-grid-pager").css('display', 'none');
        $("#gridDiscipline .k-grid-pager").css('display', 'none');
        $("#gridAccident .k-grid-pager").css('display', 'none');
        $("#gridWorkHistory .k-grid-pager").css('display', 'none');
        $("#@ConstantControlName.HRM_HR_CandidateHistory_Grid_Name .k-grid-pager").css('display', 'none');

        $(document).ready(function () {
            $("#panelbar").kendoPanelBar();
        });
    </script>*@
