@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;

@model Sal_UnusualAllowanceModel

@{
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    Layout = null;
    Guid profileID = Guid.Empty;
    profileID = ViewBag.ProfileID;

    IList<SelectListItem> listStatusUnusual = Enum.GetValues(typeof(WorkHistoryStatus))
.Cast<WorkHistoryStatus>()
.Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
.ToList();
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "window_Hre_UnusualEDChildCare",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Sal_UnusualEDChildCare/Hre_UnusualEDChildCareInfo?profileID=" + profileID,
    };
}
@(Html.VnrWindow(window))

<script>
    var userLG = $('#UserLoginId').val();
    var popUpName = '@ConstantControlName.HRM_Payroll_UnusualEDChild_PopUp_Name';
    var titleEditPopUp_UnusualEDChildCare = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualEDChild_Update_Title.TranslateString())';
    var titleCreatePopUp_UnusualEDChildCare = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualEDChild_Create_Title.TranslateString())';

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();

        //Xử lý Edit popup
        var url = '@_hrm_Main_Web' + "Sal_UnusualEDChildCare/Hre_UnusualEDChildCareInfo/";
        EditGridPopUp("grid_Hre_UnusualEDChildCare", "window_Hre_UnusualEDChildCare", url, '@ConstantPermission.Sal_UnusualEDChildCare', titleEditPopUp_UnusualEDChildCare);
    });



    //Xử lý Create
    $("#btnCreate_HreUnusualEDChildCare").click(function () {
        debugger;
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Sal_UnusualEDChildCare');
        if (!isAccess) {
            return;
        }
        var url = '@_hrm_Main_Web' + "Sal_UnusualEDChildCare/Hre_UnusualEDChildCareInfo/";
        PopUpEdit("window_Hre_UnusualEDChildCare", url, SelectID, titleCreatePopUp_UnusualEDChildCare);
    });

    //Xử Lý grid
    GridCheckbox("grid_Hre_UnusualEDChildCare");

    //Xử Lý button delete
    $('#btnDelete_HreUnusualEDChildCare').click(function (e) {
        debugger;
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Hre_UnusualEDChildCare", '@_hrm_Main_Web' + "Sal_UnusualEDChildCare/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sal_UnusualEDChildCare');
        return false;
    });

    $(document).ready(function () {
        ShowHidePanel();
    });

</script>

<div class="commandToolBarWidge" id="anchor">
 
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate_HreUnusualEDChildCare", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete_HreUnusualEDChildCare", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{


        Dictionary<object, object[]> foreignKey = new Dictionary<object, object[]>()
        {
            {Sal_UnusualAllowanceModel.FieldNames.Status,new object[]
               { "Value", "Text", listStatusUnusual, ConstantDisplay.HRM_Category_DayOff_Status,""}},
        };
        string[] valueFields = new[]
        {

         
            Sal_UnusualAllowanceModel.FieldNames.RelativeName,
            Sal_UnusualAllowanceModel.FieldNames.YearOfBirth,
            Sal_UnusualAllowanceModel.FieldNames.NoCompensation,
            Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,
            Sal_UnusualAllowanceModel.FieldNames.Amount,
            Sal_UnusualAllowanceModel.FieldNames.BudgetName,
            Sal_UnusualAllowanceModel.FieldNames.MonthStart,
            Sal_UnusualAllowanceModel.FieldNames.MonthEnd,
            Sal_UnusualAllowanceModel.FieldNames.Status,
            Sal_UnusualAllowanceModel.FieldNames.UserUpdate,
            Sal_UnusualAllowanceModel.FieldNames.DateUpdate
        };

        var sizeFields = new Dictionary<string, int>()
        {
  
            {Sal_UnusualAllowanceModel.FieldNames.RelativeName,140},
            {Sal_UnusualAllowanceModel.FieldNames.YearOfBirth,82},
            {Sal_UnusualAllowanceModel.FieldNames.NoCompensation,90},
            {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,120},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,110},
            {Sal_UnusualAllowanceModel.FieldNames.BudgetName,83},
            {Sal_UnusualAllowanceModel.FieldNames.MonthStart,105},
            {Sal_UnusualAllowanceModel.FieldNames.MonthEnd,110},
            {Sal_UnusualAllowanceModel.FieldNames.Status,90},
            {Sal_UnusualAllowanceModel.FieldNames.UserUpdate,110},
            {Sal_UnusualAllowanceModel.FieldNames.DateUpdate,102}
        };

   

        var displayFields = new Dictionary<string, string>()
        {
     
            {Sal_UnusualAllowanceModel.FieldNames.RelativeName,ConstantDisplay.HRM_Recruitment_UnusualAllowance_RelativeName},
            {Sal_UnusualAllowanceModel.FieldNames.YearOfBirth,ConstantDisplay.HRM_HR_ReportBirthday_DayOfBirth},
            {Sal_UnusualAllowanceModel.FieldNames.NoCompensation,ConstantDisplay.HRM_Payroll_UnusualEDChild_NoCompensation},
            {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,ConstantDisplay.HRM_Payroll_UnusualED_UnusualAllowanceCfgName},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,ConstantDisplay.HRM_Payroll_UnusualED_Amount},
            {Sal_UnusualAllowanceModel.FieldNames.BudgetName,ConstantDisplay.HRM_Payroll_UnusualED_BudgetName},
            {Sal_UnusualAllowanceModel.FieldNames.MonthStart,ConstantDisplay.HRM_Payroll_UnusualED_MonthStart},
            {Sal_UnusualAllowanceModel.FieldNames.MonthEnd,ConstantDisplay.HRM_Payroll_UnusualED_MonthEnd},
            {Sal_UnusualAllowanceModel.FieldNames.Status,ConstantDisplay.HRM_Category_DayOff_Status},
            {Sal_UnusualAllowanceModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Payroll_UnusualED_UserUpdate},
            {Sal_UnusualAllowanceModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Payroll_UnusualED_DateUpdate}
        };

      
        var grid = new GridBuilderInfo
        {
            Name = "grid_Hre_UnusualEDChildCare",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            AutoBind = true,
            GridWidth = Common.ScreenWidth - 260,
            ReadActionUrl = _hrm_Hr_Service + "Sal_GetData/GetHre_UnusualEDChildCareList?profileID=" + profileID,
            ForeignKey = foreignKey
        };
    }

    @(Html.VnrGrid<Sal_UnusualAllowanceModel>(grid))
</div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)
