@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Security

@using HRM.Presentation.Hr.Models

@{
    Layout = null;
    ViewBag.Title = "Hre_HDTJob";
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}
@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_HR_Hre_HDTJob_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Hre_Profile/HreHDTJobInfo?profileID=" + profileID,
    };
}
@(Html.VnrWindow(window))
@{
    var windowError = new WindowBuilderInfo
    {
        Name = "windowError",
        Visible = false,
        Height = 150,
        Width = 300,
        Title = "Thông Báo Lỗi",
        Content = "<br><br><center><b>Chưa Có Nhân Viên!!!</b></center>"
    };
}
@(Html.VnrWindow(windowError))
<script type="text/javascript">
    var selectedIds = [];
    var gridName = '@ConstantControlName.HRM_HR_Hre_HDTJob_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_HR_Hre_HDTJob_PopUp_Name';
    var titleEditPopUpHDTJob = '@Html.Raw(ConstantDisplay.HRM_HR_HDTJob_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUpHDTJob = '@Html.Raw(ConstantDisplay.HRM_HR_HDTJob_PopUp_Create_Title.TranslateString())';
    $(document).ready(function () {
           ShowHidePanel();
           EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Hre_Profile/HreHDTJobInfo/", '@ConstantPermission.Hre_HDTJob', titleEditPopUpHDTJob);
    });
    GridCheckbox(gridName);
    $("#btnCreateHDTJob").click(function () {
        
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_HDTJob');
        if (!isAccess) {
            return;
        }
        var x = '@profileID';

        if (x == '') {
            PopUpCreate("windowError");
        }
        else {
            var url = '@_hrm_Main_Web' + "Hre_Profile/HreHDTJobInfo/";
            PopUpEdit('@ConstantControlName.HRM_HR_Hre_HDTJob_PopUp_Name', url, SelectID, titleCreatePopUpHDTJob);
        }
    });
    $('#_Hre_HDTJob_btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Hre_HDTJob');
        if (!isAccess) {
            return;
        }
        if (selectedIds == "") {
            DeleteFail();
            return;
        }

        DeleteSelected(gridName, '@_hrm_Main_Web' + "Hre_HDTJob/RemoveSelected/", selectedIds, '@ConstantPermission.Hre_HDTJob');
        return false;
    });
</script>


<div class="commandToolBarWidge" style="margin-top:3px">
    <div class="GridTitle">
        @Html.VnrLabel(ConstantDisplay.HRM_HR_HDTJob.TranslateString())
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateHDTJob", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "_Hre_HDTJob_btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div style="overflow:hidden">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new string[]
                            {
                                Hre_HDTJobModel.FieldNames.HDTJobTypeName,
                                Hre_HDTJobModel.FieldNames.DateFrom,
                                Hre_HDTJobModel.FieldNames.DateTo
                            };
                                 Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_HDTJobModel.FieldNames.HDTJobTypeName,130},
                                {Hre_HDTJobModel.FieldNames.DateFrom,95},
                                {Hre_HDTJobModel.FieldNames.DateTo,100}
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_HDTJobModel.FieldNames.HDTJobTypeName, ConstantDisplay.HRM_HR_HDTJob_HDTType},
                                {Hre_HDTJobModel.FieldNames.DateFrom, ConstantDisplay.HRM_HR_HDTJob_DateFrom},
                                {Hre_HDTJobModel.FieldNames.DateTo, ConstantDisplay.HRM_HR_HDTJob_DateTo}
                            };
                            
        var grid = new GridBuilderInfo
        {

            Name = ConstantControlName.HRM_HR_Hre_HDTJob_Grid_Name,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = Hrm_Hre_Service + "Hre_GetData/GetHDTJobByProfileID?profileID=" + profileID,
            //ReadData = "filterFieldInfo",
            AutoBind = true,
            ShowDeleteButton = false,
            PageSize = 10,
            GridHeight = 550,
            DeleteActionUrl = _hrm_Main_Web + "/Hre_HDTJob/Remove/",
            ShowCheckAll = false
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_HDTJobModel>(grid))
</div>
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox("txt_HiddenProfileHDTJob", null, new { style = "display: none" }))
<script>
    $("#gridHre_HDTJob .k-grid-pager").css('display', 'none');
</script>