@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;


    IList<SelectListItem> listFormType = Enum.GetValues(typeof(EnumDropDown.FormType))
      .Cast<EnumDropDown.FormType>()
      .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
      .ToList();


    IList<SelectListItem> listLaborType = Enum.GetValues(typeof(EnumDropDown.LaborType))
      .Cast<EnumDropDown.LaborType>()
      .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
      .ToList();
}

@model Hre_ProfileModel

<script>
    SetFieldRequired();
    
    @*function OrgSelect(e) {
        showAjaxLoading();
        var _OrgStructureID = $("#OrgStructureID").val();
        $.ajax({
            type: 'POST',
            url: '@_Hrm_Hre_Service' + "Hre_GetData/GetLstJobTitleByOrgStructureID/",
            data: { OrgStructureID: _OrgStructureID},
            dataType: 'json',
            success: function (data) {
                hideAjaxLoading();
            }
        });
    }*@
 
    function FilterByOrg() {
        var _OrgStructureID = $("#OrgStructureID").val();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@_Hrm_Hre_Service' + "Hre_GetData/GetLstJobTitleByOrgStructureID/",
            data: { OrgStructureID: _OrgStructureID },
            dataType: 'json',
            success: function (data) {
                debugger;
                var multi = $("#JobTitleID").data("kendoMultiSelect");
                if (data.length == 0)
                {
                    multi.dataSource.filter({});
                    multi.setDataSource("");
                    multi.value("");
                    return;
                }
                    
                    multi.dataSource.filter({});
                    multi.setDataSource(data);
                    hideAjaxLoading();
             
               
            }
        });
    }

</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; float: left; width: 100% ;padding-top: 10px; ">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HRM_WorkingPosition.TranslateString()
                            </legend>
                        </fieldset>
                        <div style=" display: block;float: left; width: 450px;">
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.DateOfEffect)
                                    @Html.HiddenFor(model => model.DateOfEffectOld)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dateOfEffect = new DatePickerBuilderInfo()
                                        {

                                            StyleCss = "width:100px;",
                                            Name = "ProfileBasic_DateOfEffect"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateOfEffect, dateOfEffect)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.OrgStructureID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var org = new TreeViewDropdDownBuilderInfo()
                                        {
                                           
                                            Value = Model == null ? string.Empty : Model.OrgStructureName,
                                            SetFieldID = "OrgStructureID",
                                            SetFieldName = "OrgStructureID",
                                            IsShowCheckBox = false,
                                            Width = "200px;",
                                            //EvenSelect = "OrgSelect"
                                        };
                                    }

                                    @*@Html.Partial("EditorTemplates/OrgStructureTreeViewNoCheckbox")*@
                                    @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                                    @Html.HiddenFor(model => model.OrgStructureID)
                                    @Html.HiddenFor(model => model.OrgStructureName)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="div33">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(model => model.ShopID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _ShopID = new ComboBoxBuilderInfo()
                                        {
                                            Name = "WorkHis_ShopID",
                                            StyleCss = "Width: 200px",
                                            DataTextField = "ShopName",
                                            DataValueField = "ID",
                                            ServerFilter = true,
                                            FilterType = FilterType.Contains,
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiShop/",
                                            // CascadeFrom = "OrgStructureID",
                                            //Data = "filterShops",
                                            Autobind = true,
                                            Value = Model == null ? string.Empty : Model.ShopID.ToString()
                                        };
                                    }
                                    @Html.VnrComboBoxFor(model => model.ShopID, _ShopID).Text(Model == null ? string.Empty : Model.ShopName)

                                </div>
                            </div>
                            <script>

                                $(document).ready(function () {
                                    function filterShops() {


                                        return {
                                            orgID: $("#OrgStructureID").val(),
                                            ShopFilter: $("#WorkHis_ShopID").data("kendoComboBox").input.val()
                                        };
                                    }
                                    $('input[id$=OrgTreeViewDropDowninput]').bind("change", function () {

                                        $.ajax({
                                            url: '@_Hrm_Hre_Service' + "Cat_GetData/GetShopByOrgID",
                                            type: 'POST',
                                            data: filterShops(),
                                            datatype: 'json',
                                            success: function (data) {

                                                var shop = $("#WorkHis_ShopID").data("kendoComboBox");
                                                if (data[0] == undefined) {
                                                    shop.value("");
                                                    $("#WorkHis_ShopID").val("");
                                                    shop.text("");
                                                }
                                                else {
                                                    var shopID = data[0].ID;
                                                    var shopName = data[0].ShopName;
                                                    shop.value(shopID);
                                                    $("#WorkHis_ShopID").val(shopID);
                                                    shop.text(shopName);
                                                    //$("#WorkHis_ShopID").data("kendoComboBox").value(data[0].ID);
                                                }

                                            }
                                        });

                                    });

                                });

                            </script>
                            
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.JobTitleName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @*@{
                                        IEnumerable valuejobTitle = new string[] { };
                                        if (Model != null)
                                        {
                                            valuejobTitle = new[] { new { JobTitleName = Model.JobTitleName, ID = Model.JobTitleID } };
                                        }
                                    }*@
                                    @{
                                        var jobTitleID = new ComboBoxBuilderInfo
                                        {
                                            DataTextField = "JobTitleName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiJobTitle",
                                          //  MaxSelectedItems = 1,
                                            Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                            Value = Model != null ? Model.JobTitleID.ToString(): string.Empty,
                                            Autobind = true,
                                            ServerFilter = true,
                                            FilterType = FilterType.Contains,
                                          //  Value = valuejobTitle,
                                         //   Width = 200,
                                           // EventOpen = "FilterByOrg"
                                            
                                        };
                                    }
                                    @Html.VnrComboBoxFor(mode => mode.JobTitleID, jobTitleID).Text(Model != null ? Model.JobTitleName : string.Empty)
                                </div>

                                <div>
                                    <script>
                                        $(document).ready(function () {
                                            function filterJobTitle() {

                                                return {
                                                    orgID: $("#OrgStructureID").val(),
                                                    JobTitleFilter: $("#JobTitleID").data("kendoComboBox").input.val()
                                                };
                                            }
                                            $('input[id$=OrgTreeViewDropDowninput]').bind("change", function () {

                                                $.ajax({
                                                    url: '@_Hrm_Hre_Service' + "Hre_GetData/GetLstJobTitleByOrgStructureID",
                                                    type: 'POST',
                                                    data: filterJobTitle(),
                                                    datatype: 'json',
                                                    success: function (data) {
                                                        debugger;
                                                        var shop = $("#JobTitleID").data("kendoComboBox");
                                                        if (data[0] == undefined) {
                                                            shop.value("");
                                                            $("#JobTitleID").val("");
                                                            shop.text("");
                                                        }
                                                        else {
                                                            shop.setDataSource(data);
                                                            shop.text("")
                                                            //var shopID = data[0].ID;
                                                            //var shopName = data[0].ShopName;
                                                            //shop.value(shopID);
                                                            //$("#WorkHis_ShopID").val(shopID);
                                                            //shop.text(shopName);
                                                            //$("#WorkHis_ShopID").data("kendoComboBox").value(data[0].ID);
                                                        }

                                                    }
                                                });



                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.PositionName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @{
                                        IEnumerable valuePosition = new string[] { };
                                        if (Model != null)
                                        {
                                            valuePosition = new[] { new { PositionName = Model.PositionName, ID = Model.PositionID } };
                                        }
                                    }
                                    @{
                                        var positionID = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = "PositionName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiPosition",
                                            Placeholder = ConstantDisplay.HRM_Category_SelectPosition.TranslateString(),
                                            MaxSelectedItems = 1,
                                            Value = valuePosition,
                                            Width = 200
                                        };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.PositionID, positionID))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.SupervisorName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @{
                                        IEnumerable valueSupervisor = new string[] { };
                                        if (Model != null)
                                        {
                                            valueSupervisor = new[] { new { ProfileName = Model.SupervisorName, ID = Model.SupervisorID } };
                                        }
                                    }
                                    @{
                                        var SupervisorID = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = "ProfileName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Hre_GetData/GetMultiProfile",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                            Value = valueSupervisor,
                                            MaxSelectedItems = 1,
                                            Width = 200
                                        };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.SupervisorID, SupervisorID))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.HighSupervisorName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @{
                                        IEnumerable valueHighSupervisor = new string[] { };
                                        if (Model != null)
                                        {
                                            valueHighSupervisor = new[] { new { ProfileName = Model.HighSupervisorName, ID = Model.HighSupervisorID } };
                                        }
                                    }
                                    @{
                                        var highSupervisorID = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = "ProfileName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Hre_GetData/GetMultiProfile",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                            Value = valueHighSupervisor,
                                            MaxSelectedItems = 1,
                                            Width = 200
                                        };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.HighSupervisorID, highSupervisorID))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.RegionID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _RegionID = new ComboBoxBuilderInfo()
                                        {
                                          
                                            StyleCss = "Width: 200px",
                                            DataTextField = "RegionName",
                                            DataValueField = "ID",
                                            ServerFilter = true,
                                            Autobind = true,
                                            FilterType = FilterType.Contains,
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiRegion/",
                                            Placeholder = ConstantDisplay.HRM_Category_SelectRegion.TranslateString(),
                                            Value = Model == null ? string.Empty : Model.RegionID.ToString()
                                        };
                                    }
                                    @Html.VnrComboBoxFor(model => model.RegionID, _RegionID).Text(Model == null ? string.Empty : Model.RegionName)
                                </div>
                                <div>
                                    <script>
                                        $(document).ready(function () {
                                            function filterRegion() {
                                                return {
                                                    ID: $("#OrgStructureID").val(),
                                                    profileID: $("#ID").val(),
                                                    Check: $("#RegionID_input").val(),
                                                    RegionFilter: $("#RegionID").data("kendoComboBox").input.val()
                                                };
                                            }
                                            $('input[id$=OrgTreeViewDropDowninput]').bind("change", function () {
                                                debugger;
                                                $.ajax({
                                                    url: '@_Hrm_Hre_Service' + "Cat_GetData/GetOrgStructurebyID",
                                                    type: 'POST',
                                                    data: filterRegion(),
                                                    datatype: 'json',
                                                    success: function (data) {
                                                        debugger;
                                                       
                                                        var shop = $("#RegionID").data("kendoComboBox");
                                                        if (typeof (data) == "object") {
                                                            var item = [];
                                                            if (data.Data != undefined) {
                                                                for (var i = 0; i < data.Data.length; i++) {
                                                                    item.push(data.Data[i]);
                                                                }
                                                                shop.setDataSource(item);
                                                                shop.text("")
                                                            }
                                                            else {
                                                                var item = [];
                                                                    item.push(data);
                                                                shop.setDataSource(item);
                                                                shop.text("")
                                                            }
                                                        }
                                                        else {
                                                                shop.value("");
                                                                $("#RegionID").val("");
                                                                shop.text("");
                                                            }
                                                    }
                                                });

                                            });
                                        });
                                    </script>
                                </div>
                                <div>
                                    <script>
                                        $(document).ready(function () {
                                            function filterRegion() {
                                                return {
                                                    ID: $("#WorkPlaceID").val(),
                                                    profileID: $("#ID").val(),
                                                    Check: $("#RegionID_input").val(),
                                                    RegionFilter: $("#RegionID").data("kendoComboBox").input.val()
                                                };
                                            }
                                            $('input[id$=WorkPlaceID]').bind("change", function () {
                                                debugger;
                                                $.ajax({
                                                    url: '@_Hrm_Hre_Service' + "Cat_GetData/GetRegionByWorkPlaceID",
                                                    type: 'POST',
                                                    data: filterRegion(),
                                                    datatype: 'json',
                                                    success: function (data) {
                                                        debugger;

                                                        var shop = $("#RegionID").data("kendoComboBox");
                                                        if (typeof (data) == "object") {
                                                            var item = [];
                                                            if (data.Data != undefined) {
                                                                for (var i = 0; i < data.Data.length; i++) {
                                                                    item.push(data.Data[i]);
                                                                }
                                                                shop.setDataSource(item);
                                                                shop.text("")
                                                            }
                                                            else {
                                                                var item = [];
                                                                    item.push(data);
                                                                shop.setDataSource(item);
                                                                shop.text("")
                                                            }
                                                        }
                                                        else {
                                                                shop.value("");
                                                                $("#RegionID").val("");
                                                                shop.text("");
                                                            }
                                                    }
                                                });

                                            });
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.IsHeadDept)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsHeadDept = new CheckBoxBuilderInfo()
                                        {
                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsHeadDept == true)
                                            {
                                                IsHeadDept.Value = true;
                                            }
                                            else
                                            {
                                                IsHeadDept.Value = false;
                                            }
                                        }

                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsHeadDept, IsHeadDept)
                                </div>
                            </div>

                        </div>
                        <div style=" display: block; padding-top: 10px; float: left">
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.EmployeeTypeName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @{
                                        IEnumerable valueEmpType = new string[] { };
                                        if (Model != null)
                                        {
                                            valueEmpType = new[] { new { EmployeeTypeName = Model.EmployeeTypeName, ID = Model.EmpTypeID } };
                                        }
                                    }
                                    @{
                                        var empTypeID = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "EmployeeTypeName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiEmployeeType",
                                            StyleCss = "Width: 200px",
                                            OptionLabel = ConstantDisplay.HRM_Category_SelectEmployeeType.TranslateString(),
                                            Autobind = false,
                                            Value = Model != null ? Model.EmpTypeID.ToString() : string.Empty
                                        };
                                    }
                                    @*@Html.VnrDropDownListFor(mode => mode.EmpTypeID, empTypeID).Text(Model!=null? Model.EmployeeTypeName != null ? Model.EmployeeTypeName:string.Empty :string.Empty)*@
                                    @Html.VnrDropDownListFor(mode => mode.EmpTypeID, empTypeID).Text(Model == null ? string.Empty : Model.EmployeeTypeName)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div131">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.LaborType)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlLaborType = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            StyleCss = "Width: 200px",
                                            BindTo = listLaborType
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.LaborType, ddlLaborType)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div131">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.SikillLevel)
                                </div>
                                <div class="FieldValue">

                                    @Html.VnrTextBoxFor(model => model.SikillLevel)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.CostCentreName)
                                </div>
                                <div class="FieldValue">
                                    <!--Xử lý gán trực tiếp dữ liệu cho Multi, không cần load dữ liệu từ database lên, giảm kết nối đến database khi edit-->
                                    @{
                                        var costCentreID = new ComboBoxBuilderInfo()
                                        {
                                            DataTextField = "CostCentreName",
                                            DataValueField = "ID",
                                            Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiCostCentre",
                                            StyleCss = "Width: 200px",
                                            Placeholder = ConstantDisplay.HRM_Category_SelectCostCentre.TranslateString(),
                                            Autobind = false,
                                            Value = Model != null ? Model.CostCentreID.ToString() : string.Empty
                                        };
                                    }
                                    @*@Html.VnrDropDownListFor(mode => mode.CostCentreID, costCentreID).Text(Model != null ? Model.CostCentreName != null ? Model.CostCentreName.ToString() : string.Empty : string.Empty)*@
                                    @Html.VnrComboBoxFor(mode => mode.CostCentreID, costCentreID).Text(Model == null ? string.Empty : Model.CostCentreName)
                                </div>
                            </div>

                            <div>
                                <script>
                                        $(document).ready(function () {
                                            function filterCostCentre() {

                                                return {
                                                    orgID: $("#OrgStructureID").val(),
                                                    CostCentreFilter: $("#CostCentreID").data("kendoComboBox").input.val()
                                                };
                                            }
                                            $('input[id$=OrgTreeViewDropDowninput]').bind("change", function () {

                                                $.ajax({
                                                    url: '@_Hrm_Hre_Service' + "Hre_GetData/GetLstCostCentreByOrgStructureID",
                                                    type: 'POST',
                                                    data: filterCostCentre(),
                                                    datatype: 'json',
                                                    success: function (data) {
                                                        debugger;
                                                        var costcentre = $("#CostCentreID").data("kendoComboBox");
                                                        if (data[0] == undefined) {
                                                            costcentre.value("");
                                                            $("#CostCentreID").val("");
                                                            costcentre.text("");
                                                        }
                                                        else {
                                                            costcentre.setDataSource(data);
                                                            costcentre.text("")
                                                        }

                                                    }
                                                });

                                            });
                                        });
                                </script>
                            </div>



                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelForNoneIcon(model => model.CostSourceID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _CostSourceID = new ComboBoxBuilderInfo()
                                         {
                                             DataTextField = "NameEntityName",
                                             DataValueField = "ID",
                                             Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiCostSource",
                                             StyleCss = "width:200px;",
                                             Value = (Model == null || Model.CostSourceID == null) ? string.Empty : Model.CostSourceID.ToString(),
                                         };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.CostSourceID, _CostSourceID).Text(Model == null ? string.Empty : Model.CostSourceName))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(model => model.SalaryClassID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _SalaryClassName = new ComboBoxBuilderInfo()
                                         {
                                             DataTextField = "SalaryClassName",
                                             DataValueField = "ID",
                                             Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiSalaryClass",
                                             StyleCss = "width:200px",
                                             Value = Model == null ? string.Empty : Model.SalaryClassID.ToString(),
                                         };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.SalaryClassID, _SalaryClassName).Text(Model == null ? string.Empty : Model.SalaryClassName))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(model => model.PayrollGroupID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _PayrollGroupName = new ComboBoxBuilderInfo()
                                         {
                                             DataTextField = "PayrollGroupName",
                                             DataValueField = "ID",
                                             Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiPayrollGroup",
                                             StyleCss = "width:200px",
                                             Value = Model == null ? string.Empty : Model.PayrollGroupID.ToString(),
                                         };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.PayrollGroupID, _PayrollGroupName).Text(Model == null ? string.Empty : Model.PayrollGroupName))
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle150">
                                    @Html.VnrLabelFor(model => model.WorkPlaceID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var _workplaceName = new ComboBoxBuilderInfo()
                                         {
                                               
                                             DataTextField = "WorkPlaceName",
                                             DataValueField = "ID",
                                             Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiWorkPlace",
                                             StyleCss = "width:200px;",
                                             Value = Model == null ? string.Empty : Model.WorkPlaceID.ToString(),
                                         };
                                    }
                                    @(Html.VnrComboBoxFor(mode => mode.WorkPlaceID, _workplaceName).Text(Model == null ? string.Empty : Model.WorkPlaceName))
                                </div>
                            </div>


                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>



<!-- Gán giá trị cho cây phòng ban khi edit -->
@if (Model != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TreeViewDropDownInput").val('@Model.OrgStructureName');
            $("#OrgStructureID").val('@Model.OrgStructureID');
            @*$("#RegionID_input").val('@Model.RegionName')
            var treeview = $("#treeviewOrg").data("kendoTreeView");
            var getitem = treeview.dataSource.get('@Model.OrgStructureID');
            treeview.findByUid(getitem.uid);
            var selectitem = treeview.findByUid(getitem.uid);
            treeview.select(selectitem);*@
        });
        $('#@ConstantDisplay.HRM_HR_GeneralProfile_H_IdProfile').val('@Model.ID');

    </script>
}











