@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models

@using HRM.Presentation.Hr.Models
@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;
@{
    Layout = null;
    ViewBag.Title = "Hre_CardHistory";
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
 
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}
        @{
            var window = new WindowBuilderInfo
            {
                Name = "windowBasicSalary",
                Visible = false,
                Width = 1000,
                LoadContentFrom = @_hrm_Main_Web + "Sal_BasicSalary/BasicSalaryInfo?profileID=" + profileID
            };
        }
        @(Html.VnrWindow(window))
<script type="text/javascript">
    function filterFieldInfo(isExport) {
        var elementPara = {
            CutOffDurationID: $('#CutOffDurationID').val(),
            ProfileID: SelectID,
            IsExport: isExport,
            ValueFields: $("#valueFieldsGrid").val()

        };
       
        return elementPara;
    }
    var titleCreatePopUpBasicSalary = '@Html.Raw(ConstantDisplay.HRM_Payroll_BasicSalary_Create_Title.TranslateString())';
    var titleUpdatePopUpBasicSalary = '@Html.Raw(ConstantDisplay.HRM_Payroll_BasicSalary_Update_Title.TranslateString())';
    $(document).ready(function () {
        EditGridPopUp("gridPayroll_BasicSalary", "windowBasicSalary", '@_hrm_Main_Web' + "Sal_BasicSalary/BasicSalaryInfo/", '@ConstantPermission.Sal_BasicSalary', titleUpdatePopUpBasicSalary);

        $("#btnCreateBasicSalary").click(function () {
         
            PopUpCreate("windowBasicSalary", titleCreatePopUpBasicSalary, '@ConstantPermission.Sal_BasicSalary');

        });
    });
    //Xử Lý button delete
    $('#btnDeleteBasicSalary').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        
        e.preventDefault();
        DeleteSelected("gridPayroll_BasicSalary", '@_hrm_Main_Web' + "Sal_BasicSalary/RemoveSelected/", selectedIds, '@ConstantPermission.Sal_BasicSalary');
        return false;
    });
    GridCheckbox("gridPayroll_BasicSalary");

    $("#btnExportBasicSalary").click(function () {
        var grid = $('#gridPayroll_BasicSalary').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Sal_GetData/GetBasicSalaryByIdProfile/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_TAMScanLog');

    });

    function onDataBoundGrid() {
        SetStyleStringGrid('gridPayroll_BasicSalary', 'GrossAmount', '2');
    }

</script>
@*<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox("txt_HiddenProfileCardHistory", null, new { style = "display: none" }))
<div style="padding-top:3px">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Payroll_BasicSalary.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateBasicSalary", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportBasicSalary", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDeleteBasicSalary", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
            @*@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })*@
        </div>
    
        <div class="clear"></div>
    </div>
    <div style=" width:100%;">
        <!--Khai báo các thông tin cho Grid-->
      @{
    string[] valueFields = new string[]
        {
            Sal_BasicSalaryModel.FieldNames.GrossAmount,
            Sal_BasicSalaryModel.FieldNames.InsuranceAmount,
            Sal_BasicSalaryModel.FieldNames.DateOfEffect,
            Sal_BasicSalaryModel.FieldNames.CurrencyName,
            //Sal_BasicSalaryModel.FieldNames.DateOfRequest,

        };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount,100},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount,150},
            {Sal_BasicSalaryModel.FieldNames.DateOfEffect,100},
            {Sal_BasicSalaryModel.FieldNames.CurrencyName,70},
            //{Sal_BasicSalaryModel.FieldNames.DateOfRequest,145},
        };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount,ConstantDisplay.HRM_Payroll_BasicSalary_GrossAmount},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount,ConstantDisplay.HRM_Payroll_BasicSalary_InsuranceAmount},
            {Sal_BasicSalaryModel.FieldNames.DateOfEffect,ConstantDisplay.HRM_Payroll_BasicSalary_DateOfEffect},
            {Sal_BasicSalaryModel.FieldNames.CurrencyName,ConstantDisplay.HRM_Payroll_BasicSalary_CurrencyName},
            //{Sal_BasicSalaryModel.FieldNames.DateOfRequest,ConstantDisplay.HRM_Payroll_BasicSalary_DateOfRequest},
        };

    Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {Sal_BasicSalaryModel.FieldNames.GrossAmount, ConstantFormat.HRM_Format_Int},
            {Sal_BasicSalaryModel.FieldNames.InsuranceAmount, ConstantFormat.HRM_Format_Int},

        };
    var grid = new GridBuilderInfo
    {
        Name = "gridPayroll_BasicSalary",
        ValueFields = valueFields,
        SizeFields = sizeFields,
        FormatFields = formatFields,
        DisplayFields = displayFields,
        ReadActionUrl = @_hrm_Hr_Service + "Sal_GetData/GetBasicSalaryByIdProfile",
        AutoBind = true,
        ReadData = "filterFieldInfo_Reload",
        GridHeight=550,
        EventDataBound = "onDataBoundGrid"
    };
    @(Html.VnrGrid<Sal_BasicSalaryModel>(grid))
}
    </div>

</div>
@{
    var valueFields1 = ",ProfileName,CodeEmp";
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
<script>
    $(document).ready(function () {
        $("#valueFieldsGrid").val('@valueFields1');
    });
</script>