@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

@model Hre_ProfileModel

@{
    IList<SelectListItem> listWorkPermitStatus = Enum.GetValues(typeof(EnumDropDown.WorkPermitStatus))
        .Cast<EnumDropDown.WorkPermitStatus>()
        .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() }).OrderBy(p=>p.Text)
        .ToList();

    //IList<SelectListItem> listMarriageStatus = Enum.GetValues(typeof(EnumDropDown.MarriageStatus))
    //.Cast<EnumDropDown.MarriageStatus>()
    //.Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
    //.ToList();

    //IList<SelectListItem> listBloodType = Enum.GetValues(typeof(EnumDropDown.BloodType))
    //.Cast<EnumDropDown.BloodType>()
    //.Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
    //.ToList();
}
<script>
    SetFieldRequired();
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    @*<div style=" display: block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_PassPortInfo.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="div4">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.PassportNo)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.PassportNo)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div2">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.PassportPlaceOfIssue)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.PassportPlaceOfIssue)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div1">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.PassportDateOfIssue)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var PassportDateOfIssue1 = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.PassportDateOfIssue, PassportDateOfIssue1)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div3">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.PassportDateOfExpiry)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var PassportDateOfExpiry1 = new DatePickerBuilderInfo() {
                                            StyleCss = "width:100px;",
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.PassportDateOfExpiry, PassportDateOfExpiry1)

                                </div>
                            </div>
                        </fieldset>
                    </div>*@
                    <div style=" display: block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_WorkPermitStatus.TranslateString()
                            </legend>
                        </fieldset>

                        <div style=" display: block; padding-top: 10px; float: left; padding-right: 70px">
                            <div class="DivContentTitleValue" id="div5">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitStatus)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ddlxWorkPermitStatus = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "Text",
                                            DataValueField = "Value",
                                            BindTo = listWorkPermitStatus
                                        };
                                    }
                                    @Html.VnrDropDownListFor(model => model.WorkPermitStatus, ddlxWorkPermitStatus)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div7">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitNo)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.WorkPermitNo)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div6">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitInsDate)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var WorkPermitInsDate = new DatePickerBuilderInfo() {
                                            Name = "ProfileLaborForeign_WorkPermitInsDate",
                                            StyleCss = "width:100px;"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.WorkPermitInsDate, WorkPermitInsDate)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div8">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitExpiredDate)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var WorkPermitExpiredDate = new DatePickerBuilderInfo()
                                        {
                                            StyleCss = "width:100px;",
                                            Name = "ProfileLaborForeign_WorkPermitExpiredDate"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.WorkPermitExpiredDate, WorkPermitExpiredDate)
                                </div>
                            </div>
                        </div>
                        <div style=" display: block; padding-top: 10px; float: left">
                           
                    
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
@*<script>
        $(document).ready(function () {
            var dataSourceMonth = new kendo.data.DataSource({
                data: [
                       { text: "1", value: "1" },
                       { text: "2", value: "2" },
                       { text: "3", value: "3" },
                       { text: "4", value: "4" },
                       { text: "5", value: "5" },
                       { text: "6", value: "6" },
                       { text: "7", value: "7" },
                       { text: "8", value: "8" },
                       { text: "9", value: "9" },
                       { text: "10", value: "10" },
                       { text: "11", value: "11" },
                       { text: "12", value: "12" }
                ]
            });
            $("#MonthOfBirth").data("kendoComboBox").setDataSource(dataSourceMonth);

            var dataSourceDay = new kendo.data.DataSource({
                data: [
                       { text: "1", value: "1" },
                       { text: "2", value: "2" },
                       { text: "3", value: "3" },
                       { text: "4", value: "4" },
                       { text: "5", value: "5" },
                       { text: "6", value: "6" },
                       { text: "7", value: "7" },
                       { text: "8", value: "8" },
                       { text: "9", value: "9" },
                       { text: "10", value: "10" },
                       { text: "11", value: "11" },
                       { text: "12", value: "12" },
                       { text: "13", value: "13" },
                       { text: "14", value: "14" },
                       { text: "15", value: "15" },
                       { text: "16", value: "16" },
                       { text: "17", value: "17" },
                       { text: "18", value: "18" },
                       { text: "19", value: "19" },
                       { text: "20", value: "20" },
                       { text: "21", value: "21" },
                       { text: "22", value: "22" },
                       { text: "23", value: "23" },
                       { text: "24", value: "24" },
                       { text: "25", value: "25" },
                       { text: "26", value: "26" },
                       { text: "27", value: "27" },
                       { text: "28", value: "28" },
                       { text: "29", value: "29" },
                       { text: "30", value: "30" },
                       { text: "31", value: "31" }
                ]
            });
            $("#DayOfBirth").data("kendoComboBox").setDataSource(dataSourceDay);
        });
    </script>*@




