@using System.Collections

@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@model Hre_ProfileModel
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="padding-top: 10px; ">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_SocialInsurance.TranslateString()
                            </legend>
                            @*<div style="display: block; float: left; width:100%">
                                <div class="FieldTitle180">
                                    @Html.VnrLabelForNoneIcon(model => model.IsRegisterSocialIns)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsRegisterSocialIns = new CheckBoxBuilderInfo()
                                        {

                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsRegisterSocialIns == true)
                                            {
                                                IsRegisterSocialIns.Value = true;
                                            }
                                            else
                                            {
                                                IsRegisterSocialIns.Value = false;
                                            }
                                        }

                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRegisterSocialIns, IsRegisterSocialIns)
                                </div>
                            </div>*@
                            <div style="display: block; float: left; padding-right:70px; width: 410px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsNo)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.SocialInsNo)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsOldNo)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.SocialInsOldNo)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsIssueDate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var SocialInsIssueDate = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_SocialInsIssueDate"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.SocialInsIssueDate, SocialInsIssueDate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsDateReg)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var SocialInsDateReg = new DatePickerBuilderInfo() {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_SocialInsDateReg"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.SocialInsDateReg, SocialInsDateReg)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsIssuePlace)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.SocialInsIssuePlace)
                                    </div>
                                </div>
                            </div>
                            <div style="display: block; float: left">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialIns)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var ReceiveSocialIns = new CheckBoxBuilderInfo()
                                            {

                                            };
                                            if (Model != null)
                                            {
                                                if (Model.ReceiveSocialIns == true)
                                                {
                                                    ReceiveSocialIns.Value = true;
                                                }
                                                else
                                                {
                                                    ReceiveSocialIns.Value = false;
                                                }
                                            }

                                        }
                                        @Html.VnrCheckBoxFor(model => model.ReceiveSocialIns, ReceiveSocialIns)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialInsDate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var ReceiveSocialInsDate = new DatePickerBuilderInfo() {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_ReceiveSocialInsDate"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.ReceiveSocialInsDate, ReceiveSocialInsDate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookStatus)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.SocialInsSubmitBookStatus)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookDate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var SocialInsSubmitBookDate = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_SocialInsSubmitBookDate"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.SocialInsSubmitBookDate, SocialInsSubmitBookDate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.SocialInsPlaceID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var SocialInsPlaceID = new ComboBoxBuilderInfo()
                                            {
                                                Name = "Profileinsurance_SocialInsPlaceID",
                                                DataTextField = "ProvinceName",
                                                DataValueField = "ID",
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiProvince",
                                                Value = (Model == null || Model.SocialInsPlaceID != null) ? string.Empty : Model.SocialInsPlaceID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.SocialInsPlaceID, SocialInsPlaceID).Text(Model == null ? string.Empty : Model.SocialInsPlaceName)
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div style="display: block; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_HealthInsurance.TranslateString()
                            </legend>
                            @*<div style="display: block; padding-top: 10px; float: left; width:100%">
                                <div class="FieldTitle180">
                                    @Html.VnrLabelForNoneIcon(model => model.IsRegisterHealthIns)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsRegisterHealthIns = new CheckBoxBuilderInfo()
                                        {

                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsRegisterHealthIns == true)
                                            {
                                                IsRegisterHealthIns.Value = true;
                                            }
                                            else
                                            {
                                                IsRegisterHealthIns.Value = false;
                                            }
                                        }

                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRegisterHealthIns, IsRegisterHealthIns)
                                </div>
                            </div>*@
                            <div style="display: block; float: left; padding-right: 70px; width: 410px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.HealthInsNo)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.HealthInsNo)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.HealthInsIssueDate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var HealthInsIssueDate = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_HealthInsIssueDate"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.HealthInsIssueDate, HealthInsIssueDate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.HealthInsExpiredDate)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var HealthInsExpiredDate = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_HealthInsExpiredDate"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.HealthInsExpiredDate, HealthInsExpiredDate)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlace)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.HealthTreatmentPlace)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlaceCode)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.HealthTreatmentPlaceCode)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.IsPeriodicExamination)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var IsPeriodicExamination = new CheckBoxBuilderInfo()
                                            {

                                            };
                                            if (Model != null)
                                            {
                                                if (Model.IsPeriodicExamination == true)
                                                {
                                                    IsPeriodicExamination.Value = true;
                                                }
                                                else
                                                {
                                                    IsPeriodicExamination.Value = false;
                                                }
                                            }
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsPeriodicExamination, IsPeriodicExamination)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: block; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_UnEmploymentInsurance.TranslateString()
                            </legend>
                            @*<div style="display: block; padding-top: 10px; float: left; width:100%">
                                <div class="FieldTitle180">
                                    @Html.VnrLabelForNoneIcon(model => model.IsRegisterUnEmploymentIns)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsRegisterUnEmploymentIns = new CheckBoxBuilderInfo()
                                        {

                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsRegisterUnEmploymentIns == true)
                                            {
                                                IsRegisterUnEmploymentIns.Value = true;
                                            }
                                            else
                                            {
                                                IsRegisterUnEmploymentIns.Value = false;
                                            }
                                        }

                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRegisterUnEmploymentIns, IsRegisterUnEmploymentIns)
                                </div>
                            </div>*@
                            <div style="display: block; float: left; padding-right: 70px; width: 410px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsDateReg)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var UnEmpInsDateReg = new DatePickerBuilderInfo()
                                            {
                                                StyleCss = "width:100px;",
                                                Name = "ProfileInsurance_UnEmpInsDateReg"
                                            };
                                        }
                                        @Html.VnrDatePickerFor(model => model.UnEmpInsDateReg, UnEmpInsDateReg)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsCountMonthOld)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _UnEmpInsCountMonthOld = new NumericTextBoxBuilderInfo<int>() { };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.UnEmpInsCountMonthOld, _UnEmpInsCountMonthOld)
                                    </div>
                                </div>
                               
                            </div>
                            <div style="float: left">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.FileStore)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextBoxFor(model => model.FileStore)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle180">
                                        @Html.VnrLabelForNoneIcon(model => model.CommentIns)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextAreaFor(model => model.CommentIns)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>




























