@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models

@using HRM.Presentation.Hr.Models

@{
    Layout = null;
    ViewBag.Title = "Hre_CardHistory";
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}
<script type="text/javascript">
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnCreateCardHistory").click(function () {
            KendoRouteMapping('#_hrm_Main_Web/Hre_CardHistory/Create/', '_hrm_Main_Web', '@_hrm_Main_Web');
        });
    });
</script>
@*<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2013.3.1324/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox("txt_HiddenProfileCardHistory", null, new { style = "display: none" }))
<div style="padding-top:3px">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HR_CardHistory.TranslateString())
        </div>
        <div style="float:right">
        </div>
        <div class="clear"></div>
    </div>
    <div style=" width:100%; height:580px">
        <!--Khai báo các thông tin cho Grid-->
        @{
        string[] valueFields = new string[]
                            {
                                Hre_CardHistoryModel.FieldNames.CardCode,
                                Hre_CardHistoryModel.FieldNames.ProfileName,

                                Hre_CardHistoryModel.FieldNames.DateEffect,
                                Hre_CardHistoryModel.FieldNames.UserUpdate,
                                Hre_CardHistoryModel.FieldNames.DateUpdate

                            };
                                 Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_CardHistoryModel.FieldNames.ProfileName,130},
                                {Hre_CardHistoryModel.FieldNames.CardCode,100},
                                {Hre_CardHistoryModel.FieldNames.DateEffect,100},
                                {Hre_CardHistoryModel.FieldNames.UserUpdate,110},
                                {Hre_CardHistoryModel.FieldNames.DateUpdate,110}
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_CardHistoryModel.FieldNames.ProfileName, ConstantDisplay.HRM_Att_Report_ProfileName},
                                {Hre_CardHistoryModel.FieldNames.CardCode, ConstantDisplay.HRM_Attendance_TAMScanLog_CardCode},
                                {Hre_CardHistoryModel.FieldNames.DateEffect, ConstantDisplay.HRM_Hr_CardHistory_DateEffect},
                                {Hre_CardHistoryModel.FieldNames.UserUpdate, ConstantDisplay.HRM_Attendance_Overtime_UserUpdate},
                                {Hre_CardHistoryModel.FieldNames.DateUpdate, ConstantDisplay.HRM_Attendance_Overtime_DateUpdate}
                            };

        var grid = new GridBuilderInfo
        {

            Name = "gridHre_CardHistory",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = Hrm_Hre_Service + "Hre_GetData/GetCardHistoryByProfileID?profileID=" + profileID,
            //ReadData = "filterFieldInfo",
            AutoBind = true,
            GridHeight = 530,
            ShowDeleteButton = true,
            ShowEditIcon = false,
            ShowCheckAll = false,
            ShowCheckbox = false,
            DeleteActionUrl = _hrm_Main_Web + "/Hre_CardHistory/Remove/",
        };
        }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Hre_CardHistoryModel>(grid))
    </div>

</div>