@using HRM.Infrastructure.Utilities

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Hr.Models.Hre_ProfileModel

<script>
    $(document).ready(function () {
        $("#IsBlackList").click(function () {
            return false;
        });
    });
</script>



<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td valign="top">
                    <div style="display: block; padding-top: 10px; float: left; width:100%">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_Quit.TranslateString()
                            </legend>
                            <div style=" display: block; padding-top: 10px">
                                    @Html.HiddenFor(model => model.ID)
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.RequestDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.RequestDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13" style="display:block; clear:both">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.DateQuitRequest)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.DateQuitRequest)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.DateQuitSign)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(mode => mode.DateQuitSign)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ResignNo)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(mode => mode.ResignNo)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ResignReasonName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(mode => mode.ResignReasonName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.IsBlackList)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var IsBlackList = new CheckBoxBuilderInfo()
                                                {
                                                };
                                                if (Model != null)
                                                {
                                                    if (Model.IsBlackList == true)
                                                    {
                                                        IsBlackList.Value = true;
                                                    }
                                                    else
                                                    {
                                                        IsBlackList.Value = false;
                                                    }
                                                }
                                            }
                                            @Html.VnrCheckBoxFor(model => model.IsBlackList, IsBlackList)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div33">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ProfileSign)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(mode => mode.ProfileSign)
                                        </div>
                                    </div>
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

