@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@using HRM.Infrastructure.Utilities

@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Hr.Models.Hre_ProfileModel

<div class="VnRMain">
    <table style="width:100%; height: 580px; vertical-align:top">
        <tbody>
            <tr>
                <td valign="top" style="vertical-align:top">
                    <div style="vertical-align:top">
                        <div style="display: block; padding-top: 10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_Contact.TranslateString()
                                </legend>
                                <div style="float:left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Email)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.Email)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Cellphone)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.Cellphone)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.BusinessPhone)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.BusinessPhone)
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Email2)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.Email2)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HomePhone)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.HomePhone)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.AddressEmergency)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.AddressEmergency)
                                        </div>
                                    </div>  
                                </div>      
                            </fieldset>
                        </div>
                        <div style="display: block; padding-top: 10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_TAAddress.TranslateString()
                                </legend>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TCountryName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.TCountryName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TProvinceName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.TProvinceName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TDistrictName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.TDistrictName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TAddress)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.TAddress)
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div style="display: block; padding-top: 10px;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_PAAddress.TranslateString()
                                </legend>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PCountryName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PCountryName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PProvinceName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PProvinceName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PDistrictName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PDistrictName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PAddress)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PAddress)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox(ConstantDisplay.HRM_Hr_GeneralProfile_HiddenField_Tab[1], null, new { @class = "k-input k-textbox", style = "display: none" }))