@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

@model Hre_ProfileModel
<script>
    SetFieldRequired();
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="padding-top: 10px">
                        <div style="display: block;float: left; width:100%;">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_ContactInfo.TranslateString()
                                </legend>
                                <div style="float: left; padding-right: 30px; width:500px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Email)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.Email)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Email2)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.Email2)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Cellphone)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.Cellphone)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.BusinessPhone)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.BusinessPhone)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HomePhone)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.HomePhone)
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.AddressEmergency)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextAreaFor(model => model.AddressEmergency)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.NameContactForEmergency)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.NameContactForEmergency)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.CellPhoneForEmergency)
                                        </div>
                                        <div class="FieldValue">
                                            @Html.VnrTextBoxFor(model => model.CellPhoneForEmergency)
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div style="display: block;float: left; width:100%">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_TAAddress.TranslateString()
                                </legend>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TCountryID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var tCountryID = new ComboBoxBuilderInfo()
                                            {
                                                Name = "TCountryID",
                                                StyleCss = "Width: 200px",
                                                DataTextField = "CountryName",
                                                DataValueField = "ID",
                                                ServerFilter = true,
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiCountry",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectCountry.TranslateString(),
                                                Value = Model == null ? string.Empty : Model.TCountryID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.TCountryID, tCountryID).Text(Model == null ? string.Empty : Model.TCountryName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TProvinceID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterProvinces() {

                                                return {
                                                    country: $("#TCountryID").val(),
                                                    provinceFilter: $("#TProvinceID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var tProvince = new ComboBoxBuilderInfo()
                                            {
                                                Name = "TProvinceID",
                                                StyleCss = "Width: 200px",
                                                DataTextField = "ProvinceName",
                                                DataValueField = "ID",
                                                ServerFilter = true,
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetProvinceCascading/",
                                                CascadeFrom = "TCountryID",
                                                Data = "filterProvinces",
                                                //Autobind = false,
                                                Placeholder = ConstantDisplay.HRM_Category_SelectProvince.TranslateString(),
                                                Value = Model == null ? string.Empty : Model.TProvinceID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.TProvinceID, tProvince).Text(Model == null ? string.Empty : Model.TProvinceName)

                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TDistrictID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterDistricts() {
                                                return {
                                                    province: $("#TProvinceID").val(),
                                                    districtFilter: $("#TDistrictID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var tDistrictID = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "DistrictName",
                                                DataValueField = "ID",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetDistrictCascading/",
                                                CascadeFrom = "TProvinceID",
                                                ServerFilter = true,
                                                StyleCss = "Width: 200px",
                                                Data = "filterDistricts",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectDistrict.TranslateString(),
                                                Value = Model == null ? string.Empty : Model.TDistrictID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.TDistrictID, tDistrictID).Text(Model == null ? string.Empty : Model.TDistrictName)
                                    </div>
                                </div>

                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TAVillageID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterDistricts() {
                                                return {
                                                    districtid: $("#TDistrictID").val(),
                                                    villageFilter: $("#TAVillageID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var tVillageID = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "VillageName",
                                                DataValueField = "ID",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetVillageCascading/",
                                                CascadeFrom = "TDistrictID",
                                                ServerFilter = true,
                                                StyleCss = "Width: 200px",
                                                Data = "filterDistricts",
                                                Value = Model == null ? string.Empty : Model.TAVillageID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.TAVillageID, tVillageID).Text(Model == null ? string.Empty : Model.TVillageName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TAddress)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextAreaFor(model => model.TAddress)
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div style="display: block;float: left; width:100%">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_PAAddress.TranslateString()
                                </legend>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PCountryID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var pCountry = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "CountryName",
                                                DataValueField = "ID",
                                                StyleCss = "Width: 200px",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiCountry",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectCountry.TranslateString(),
                                                Value = Model == null ? string.Empty : Model.PCountryID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.PCountryID, pCountry).Text(Model == null ? string.Empty : Model.PCountryName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PProvinceID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterProvincesDown() {
                                                return {
                                                    country: $("#PCountryID").val(),
                                                    provinceFilter: $("#PProvinceID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var pProvince = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "ProvinceName",
                                                DataValueField = "ID",
                                                StyleCss = "Width: 200px",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetProvinceCascading/",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectProvince.TranslateString(),
                                                CascadeFrom = "PCountryID",
                                                ServerFilter = true,
                                                Data = "filterProvincesDown",
                                                Value = Model == null ? string.Empty : Model.PProvinceID.ToString()

                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.PProvinceID, pProvince).Text(Model == null ? string.Empty : Model.PProvinceName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PDistrictID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterDistrictsDown() {
                                                return {
                                                    province: $("#PProvinceID").val(),
                                                    districtFilter: $("#PDistrictID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var pDistrict = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "DistrictName",
                                                StyleCss = "Width: 200px",
                                                DataValueField = "ID",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetDistrictCascading/",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectDistrict.TranslateString(),
                                                CascadeFrom = "PProvinceID",
                                                ServerFilter = true,
                                                Data = "filterDistrictsDown",
                                                Value = Model == null ? string.Empty : Model.PDistrictID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.PDistrictID, pDistrict).Text(Model == null ? string.Empty : Model.PDistrictName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.VillageID)
                                    </div>
                                    <div class="FieldValue">
                                        <script>
                                            function filterDistrictsDown() {
                                                return {
                                                    districtid: $("#PDistrictID").val(),
                                                    villageFilter: $("#VillageID").data("kendoComboBox").input.val()
                                                };
                                            }
                                        </script>
                                        @{
                                            var pVillageID = new ComboBoxBuilderInfo()
                                            {
                                                DataTextField = "VillageName",
                                                DataValueField = "ID",
                                                FilterType = FilterType.Contains,
                                                Url = _Hrm_Hre_Service + "Cat_GetData/GetVillageCascading/",
                                                CascadeFrom = "PDistrictID",
                                                ServerFilter = true,
                                                StyleCss = "Width: 200px",
                                                Data = "filterDistrictsDown",
                                                Value = Model == null ? string.Empty : Model.VillageID.ToString()
                                            };
                                        }
                                        @Html.VnrComboBoxFor(model => model.VillageID, pVillageID).Text(Model == null ? string.Empty : Model.PVillageName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PAddress)
                                    </div>
                                    <div class="FieldValue">
                                        @Html.VnrTextAreaFor(model => model.PAddress)
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
