@using HRM.Infrastructure.Utilities

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Hr.Models.Hre_ProfileModel

<script>
    $(document).ready(function () {
        
       
        $("#ReceiveSocialIns").click(function () {
            return false;
        });
        $("#ReceiveHealthIns").click(function () {
            return false;
        });

        $("#IsRegisterSocialIns").click(function () {
            return false;
        });
        $("#IsRegisterHealthIns").click(function () {
            return false;
        });
        $("#IsRegisterUnEmploymentIns").click(function () {
            return false;
        });
    });
</script>
<div class="VnRMain">
    <table style="width: 100%; height:16px">
        <tbody>
            <tr>
                <td valign="top"> 
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_SocialInsurance.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.IsRegisterSocialIns)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsRegisterSocialIns = new CheckBoxBuilderInfo()
                                        {
                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsRegisterSocialIns == true)
                                            {
                                                IsRegisterSocialIns.Value = true;
                                            }
                                            else
                                            {
                                                IsRegisterSocialIns.Value = false;
                                            }
                                        }
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRegisterSocialIns, IsRegisterSocialIns)
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13" >
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsNo)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.SocialInsNo)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsOldNo)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.SocialInsOldNo)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsIssueDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.SocialInsIssueDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsDateReg)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.SocialInsDateReg)
                                        </div>
                                    </div>
                                    
                                </div>
                                <div style="float: left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsIssuePlace)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.SocialInsIssuePlace)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialIns)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ReceiveSocialIns = new CheckBoxBuilderInfo()
                                                {
                                                };
                                                if (Model != null)
                                                {
                                                    if (Model.ReceiveSocialIns == true)
                                                    {
                                                        ReceiveSocialIns.Value = true;
                                                    }
                                                    else
                                                    {
                                                        ReceiveSocialIns.Value = false;
                                                    }
                                                }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.ReceiveSocialIns, ReceiveSocialIns)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ReceiveSocialInsDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.ReceiveSocialInsDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookStatus)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.SocialInsSubmitBookStatus)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SocialInsSubmitBookDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.SocialInsSubmitBookDate)
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </fieldset>
                    </div>
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_HealthInsurance.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitle170">
                                    @Html.VnrLabelForNoneIcon(model => model.IsRegisterHealthIns)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var IsRegisterHealthIns = new CheckBoxBuilderInfo()
                                        {
                                        };
                                        if (Model != null)
                                        {
                                            if (Model.IsRegisterHealthIns == true)
                                            {
                                                IsRegisterHealthIns.Value = true;
                                            }
                                            else
                                            {
                                                IsRegisterHealthIns.Value = false;
                                            }
                                        }

                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRegisterHealthIns, IsRegisterHealthIns)
                                </div>
                            </div>

                            <div style="float:left; width:100%">
                                <div style="float:left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HealthInsNo)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.HealthInsNo)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HealthInsIssueDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.HealthInsIssueDate)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HealthInsExpiredDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.HealthInsExpiredDate)
                                        </div>
                                    </div>
                                    
                                </div>
                                <div style="float: left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlace)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.HealthTreatmentPlace)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HealthTreatmentPlaceCode)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.HealthTreatmentPlaceCode)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthIns)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var ReceiveHealthIns = new CheckBoxBuilderInfo()
                                                {

                                                };
                                                if (Model != null)
                                                {
                                                    if (Model.ReceiveHealthIns == true)
                                                    {
                                                        ReceiveHealthIns.Value = true;
                                                    }
                                                    else
                                                    {
                                                        ReceiveHealthIns.Value = false;
                                                    }
                                                }

                                            }
                                            @Html.VnrCheckBoxFor(model => model.ReceiveHealthIns, ReceiveHealthIns)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthInsDate)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.ReceiveHealthInsDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: block; padding-top: 10px;">
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_HR_Profile_UnEmploymentInsurance.TranslateString()
                        </legend>
                        <div class="DivContentTitleValue" id="div13">
                            <div class="FieldTitle170">
                                @Html.VnrLabelForNoneIcon(model => model.IsRegisterUnEmploymentIns)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var IsRegisterUnEmploymentIns = new CheckBoxBuilderInfo()
                                    {
                                    };
                                    if (Model != null)
                                    {
                                        if (Model.IsRegisterUnEmploymentIns == true)
                                        {
                                            IsRegisterUnEmploymentIns.Value = true;
                                        }
                                        else
                                        {
                                            IsRegisterUnEmploymentIns.Value = false;
                                        }
                                    }

                                }
                                @Html.VnrCheckBoxFor(model => model.IsRegisterUnEmploymentIns, IsRegisterUnEmploymentIns)
                            </div>
                        </div>
                        <div style="float: left; width: 100%">
                            <div style="float: left; width: 450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsDateReg)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.UnEmpInsDateReg)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.UnEmpInsCountMonthOld)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.UnEmpInsCountMonthOld)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                    <!--Đoàn viên công đoàn-->
                    <div style="display:block; float:left; width:100% ">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_ProfilePartyUnion_Union.TranslateString()
                            </legend>
                            <div style="float:left; width:420px">
                                <!--la doan vien cong doan-->
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.IsTradeUnionist)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var Cb_IsTradeUnionist = new CheckBoxBuilderInfo()
                                            {

                                            };
                                            if (Model != null)
                                            {
                                                if (Model.IsTradeUnionist == true)
                                                {
                                                    Cb_IsTradeUnionist.Value = true;
                                                }
                                                else
                                                {
                                                    Cb_IsTradeUnionist.Value = false;
                                                }
                                            }

                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsTradeUnionist, Cb_IsTradeUnionist)
                                    </div>
                                </div>
                                <!--End-->
                                <!--Ngay ket nap-->
                                <div class="DivContentTitleValue">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TradeUnionistEnrolledDate)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.TradeUnionistEnrolledDate)
                                    </div>
                                </div>
                                <!--End-->
                            </div>
                            <div style="float:left;">
                                <div class="DivContentTitleValue" id="div13">
                                    <!--de trong-->
                                </div>
                                <div class="DivContentTitleValue">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TradeUnionistPositionName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(mode => mode.TradeUnionistPositionName)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clear"></div>
