@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;

@model Sal_UnusualAllowanceModel

@{
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    Layout = null;
    Guid profileID = Guid.Empty;
     profileID = ViewBag.ProfileID;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "window_Hre_UnusualAllowance",
        Visible = false,
        
        LoadContentFrom = @_hrm_Main_Web + "Sal_UnusualAllowance/Hre_UnusualAllowanceInfo?profileID=" + profileID,
    };
}
@(Html.VnrWindow(window))

<script>

    var popUpName = '@ConstantControlName.HRM_Category_UnusualAllowance_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Recruitment_UnusualAllowance_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Recruitment_UnusualAllowance_Create_Title.TranslateString())';
  
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        var url = '@_hrm_Main_Web' + "Sal_UnusualAllowance/Hre_UnusualAllowanceInfo/";
        EditGridPopUp("grid_Hre_UnusualAllowance", "window_Hre_UnusualAllowance", url, '@ConstantPermission.Sal_UnusualAllowance', titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreate_Hre_UnusualAllowance").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Sal_UnusualAllowance');
        if (!isAccess) {
            return;
        }
        //PopUpCreate("window_Hre_UnusualAllowance", titleCreatePopUp, '@ConstantPermission.Sal_UnusualAllowance');

        var url = '@_hrm_Main_Web' + "Sal_UnusualAllowance/Hre_UnusualAllowanceInfo/";
        PopUpEdit("window_Hre_UnusualAllowance", url, SelectID, titleCreatePopUp);
    });

    //Xử Lý grid
    GridCheckbox("grid_Hre_UnusualAllowance");

    //Xử Lý button delete
    $('#btn_Delete_UnusualAllowance').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Hre_UnusualAllowance", '@_hrm_Main_Web' + "Sal_UnusualAllowance/RemoveSelected/", selectedIds, '@ConstantPermission.Sal_UnusualAllowance');
        return false;
    });

</script>

<div class="commandToolBarWidge" id="anchor">
  
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate_Hre_UnusualAllowance", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btn_Delete_UnusualAllowance", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            //Sal_UnusualAllowanceModel.FieldNames.CodeEmp,
            //Sal_UnusualAllowanceModel.FieldNames.ProfileName,
            Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,
            Sal_UnusualAllowanceModel.FieldNames.Amount,
            Sal_UnusualAllowanceModel.FieldNames.MonthStart,
            Sal_UnusualAllowanceModel.FieldNames.RelativeName,
            Sal_UnusualAllowanceModel.FieldNames.RelativeTypeName,
            Sal_UnusualAllowanceModel.FieldNames.DateOccur
        };

        var sizeFields = new Dictionary<string, int>()
        {
            //{Sal_UnusualAllowanceModel.FieldNames.CodeEmp,81},
            //{Sal_UnusualAllowanceModel.FieldNames.ProfileName,140},
            {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,120},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,105},
            {Sal_UnusualAllowanceModel.FieldNames.MonthStart,124},
            {Sal_UnusualAllowanceModel.FieldNames.RelativeName,120},
            {Sal_UnusualAllowanceModel.FieldNames.RelativeTypeName,120},
            {Sal_UnusualAllowanceModel.FieldNames.DateOccur,88},

        };

        var filterable = new Dictionary<string, bool>()
        {
            {Sal_UnusualAllowanceModel.FieldNames.ProfileName,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            //{Sal_UnusualAllowanceModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Recruitment_UnusualAllowance_CodeEmp},
            //{Sal_UnusualAllowanceModel.FieldNames.ProfileName,ConstantDisplay.HRM_Recruitment_UnusualAllowance_ProfileName},
               {Sal_UnusualAllowanceModel.FieldNames.UnusualAllowanceCfgName,ConstantDisplay.HRM_Recruitment_UnusualAllowance_TypeUnusual},
            {Sal_UnusualAllowanceModel.FieldNames.Amount,ConstantDisplay.HRM_Recruitment_UnusualAllowance_Amount},
               {Sal_UnusualAllowanceModel.FieldNames.MonthStart,ConstantDisplay.HRM_Recruitment_UnusualAllowance_MonthStart},
            {Sal_UnusualAllowanceModel.FieldNames.RelativeName,ConstantDisplay.HRM_Recruitment_UnusualAllowance_RelativeName},
                {Sal_UnusualAllowanceModel.FieldNames.RelativeTypeName,ConstantDisplay.HRM_Recruitment_UnusualAllowance_RelativeTypeName},
            {Sal_UnusualAllowanceModel.FieldNames.DateOccur,ConstantDisplay.HRM_Recruitment_UnusualAllowance_DateOccur},
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Hre_UnusualAllowance",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hr_Service + "Sal_GetData/GetHre_UnusualAllowanceList?profileID=" + profileID,
            AutoBind = true,

        };
    }

    @(Html.VnrGrid<Sal_UnusualAllowanceModel>(grid))
</div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)