@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models

@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Security
@model HRM.Presentation.Hr.Models.Hre_ProfileModel
@{
    Layout = null;
    //ViewBag.Title = "Hre_Contract";
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var ProfileName = string.Empty;
    var JobTitleID = Guid.Empty;
    var PositionID = Guid.Empty;
    var ProfileID = Guid.Empty;
    if (Model != null)
    {
        ProfileID = Model.ID;
        JobTitleID = (Model.JobTitleID == null) ? Guid.Empty : Model.JobTitleID.Value;
        PositionID = (Model.PositionID == null) ? Guid.Empty : Model.PositionID.Value;
    }
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowContract",
        Visible = false,
        //LoadContentFrom = @_hrm_Main_Web + "Hre_Contract/ContractInfo?profileID=" + ProfileID,
        LoadContentFrom = @_hrm_Main_Web + "Hre_Contract/Profile_ContractInfo?profileID=" + ProfileID,
        Width = 1250
    };
}
@(Html.VnrWindow(window))

<script type="text/javascript">
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#gridHre_Contract").removeAttr("style");
        $("#gridHre_Contract").attr("style", "height: 546px!important;");

        resizeControl('gridHre_Contract', 200);
        @*$("#btnCreateContract").click(function () {
            KendoRouteMapping('#_hrm_Main_Web/Hre_Contract/Create/', '_hrm_Main_Web', '@_hrm_Main_Web');
        });*@

    });
</script>
@*<script src="@Url.Content("~/Scripts/kendo/2014.09.30/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.09.30/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.09.30/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <div class="clear"></div>*@
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox("txt_HiddenProfileContract", null, new { style = "display: none" }))
<div style="padding-top:3px; height:480px">
    <div id="toolbarContract"></div>
    <script>

    $(document).ready(function () {
        var titleCreatePopUpContract = '@Html.Raw(ConstantDisplay.HRM_HR_Contract_AddNew.TranslateString())';
        var titleEditPopUpContract = '@Html.Raw(ConstantDisplay.HRM_HR_Contract_Update.TranslateString())';
        var url = '@_hrm_Main_Web' + "Hre_Contract/Profile_ContractInfo/";
        EditGridPopUp("gridHre_Contract", "windowContract", url, '@ConstantPermission.Hre_Qualification', titleEditPopUpContract);



        @*$("#toolbarContract").kendoToolBar({
                items: [
                    { type: "button", id: "btnCreateContract", text: "@ConstantAction.HRM_Common_Create.TranslateString()", imageUrl: "@ConstantPath.IconAddNewPath" },
                ],
                click: function (e) {
                    $("#btnCreateContract").click(function () {
                        PopUpCreate("windowContract", titleCreatePopUpQualification);

                    });
                }
            });*@
        GridCheckbox("gridHre_Contract");

        $("#btnCreateContract").click(function () {
            
            var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_Qualification');
            if (!isAccess) {
                return;
            }
            var x = '@ProfileID';
            if (x == '') {
                PopUpCreate("windowError");
            }
            else {
                setTimeout(function () {
                    @*var url = '@_hrm_Main_Web' + "Hre_Contract/ContractInfo/";
                        PopUpEdit("windowContract", url, SelectID, titleCreatePopUp);*@
                          PopUpCreate("windowContract", titleCreatePopUpContract, '@ConstantPermission.Hre_Qualification');
                }, 1000)


            }
        });

        //Xử lý delete

        $('#btnDeleteContract').click(function (e) {
            if (selectedIds == "") {
                DeleteFail();
                return;
            }
            e.preventDefault();
            DeleteSelected("gridHre_Contract", '@_hrm_Main_Web' + "Hre_Contract/RemoveSelected/", selectedIds, '@ConstantPermission.Hre_Discipline');
            return false;
        });
    });
    </script>
    <div>
        @{
            if (Model != null)
            {
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.ProfileName)
                    @Html.HiddenFor(m => m.JobTitleID)
                    @Html.HiddenFor(m => m.PositionID)
            }
            else
            {
            @Html.Hidden("ProfileID", ProfileID)
            @Html.Hidden("ProfileName", ProfileName)
            @Html.Hidden("JobTitleID", JobTitleID)
            @Html.Hidden("PositionID", PositionID)
            }

        }
    </div>
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_HR_Contract.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateContract", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDeleteContract", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
        </div>
        <div class="clear"></div>
    </div>
    <div style="overflow:hidden">
        <!--Khai báo các thông tin cho Grid-->
        @{
            string[] valueFields = new string[]
                            {
                                Hre_ContractModel.FieldNames.ContractNo,
                                Hre_ContractModel.FieldNames.JobTitleName,
                                Hre_ContractModel.FieldNames.PositionName,
                                Hre_ContractModel.FieldNames.ContractTypeName,
                                Hre_ContractModel.FieldNames.DateSigned,
                                Hre_ContractModel.FieldNames.DateStart,
                                Hre_ContractModel.FieldNames.DateEnd
                            };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_ContractModel.FieldNames.ContractNo,100},
                                {Hre_ContractModel.FieldNames.JobTitleName,100},
                                {Hre_ContractModel.FieldNames.PositionName,100},
                                {Hre_ContractModel.FieldNames.ContractTypeName,100},
                                {Hre_ContractModel.FieldNames.DateSigned,90},
                                {Hre_ContractModel.FieldNames.DateStart,90},
                                {Hre_ContractModel.FieldNames.DateEnd,90}
                            };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_ContractModel.FieldNames.ContractNo, ConstantDisplay.HRM_HR_Contract_ContractNo},
                                {Hre_ContractModel.FieldNames.JobTitleName, ConstantDisplay.HRM_HR_Contract_JobTitleID},
                                {Hre_ContractModel.FieldNames.PositionName, ConstantDisplay.HRM_HR_Contract_PositionID},
                                {Hre_ContractModel.FieldNames.ContractTypeName, ConstantDisplay.HRM_HR_Contract_ContractTypeID},
                                {Hre_ContractModel.FieldNames.DateSigned, ConstantDisplay.HRM_HR_Contract_DateSigned},
                                {Hre_ContractModel.FieldNames.DateStart, ConstantDisplay.HRM_HR_Contract_DateStart},
                                {Hre_ContractModel.FieldNames.DateEnd, ConstantDisplay.HRM_HR_Contract_DateEnd}
                            };

            var grid = new GridBuilderInfo
            {

                Name = "gridHre_Contract",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ReadActionUrl = Hrm_Hre_Service + "Hre_GetData/GetContractByProfileID?profileID=" + ProfileID,
                //ReadData = "filterFieldInfo",
                AutoBind = true,
                GridHeight = 480,
                GridWidth = Common.ScreenWidth - 260,
                ShowDeleteButton = true,
                ShowCheckAll = false,
                DeleteActionUrl = @_hrm_Main_Web + "/Hre_Contract/Remove/",
            };
        }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Hre_ContractModel>(grid))
    </div>
</div>

<script>
    $("#gridHre_Contract .k-grid-pager").css('display', 'none');
</script>