@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security

@{
    Layout = null;
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models

@model Hre_ProfileModel


<script> 
    $(document).ready(function () {
        var fullName = $(this).val().trim();
        var col_array = fullName.split(" ");
        var part_num = 0;
        $("#IsBlackList").click(function () {
            return false;
        });


        var dataItem = '@(Model==null?Guid.Empty:Model.OrgStructureID)';
        if (dataItem != '@Guid.Empty')
        {
            $.ajax({
                url: '@Hrm_Hre_Service' + 'Hre_GetData/GetCodeOrgStructureForID',
                data: { id: dataItem },
                type: 'POST',
                success: function (data) {

                    $("#DeptPath").html(data);
                }
            });
        }
    });
</script>
<div class="VnRMain">
    <table style="width: 100%; height: 580px; vertical-align: top">
        <tbody>
            <tr>
                <td valign="top" style="background-color: #ffffff; vertical-align: top">
                    <div style="display: block; vertical-align: top; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_Basic.TranslateString()<a class="link-back" onclick="clickExportWordProfile()" style="padding-left: 3px"><b>[@ConstantDisplay.HRM_HR_Profile_ExportWord_Profile.TranslateString()]</b></a>
                            </legend>
                      
                            <div style="float:left; width:450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ProfileName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.ProfileName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CodeEmp)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CodeEmp)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13" style="display: block; clear: both">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CodeEmpClient)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CodeEmpClient)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CodeAttendance)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CodeAttendance)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.DateHire)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.DateHire)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ProbationDays)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.ProbationDays)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.DateEndProbation)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.DateEndProbation)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CodeTax)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CodeTax)
                                    </div>
                                </div>

                            </div>
                            <div style="float: left; width: 420px;">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.NameEnglish)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.NameEnglish)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.GenderView)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.GenderView)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.IDNo)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.IDNo)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.IDDateOfIssue)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.IDDateOfIssue)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.IDPlaceOfIssue)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.IDPlaceOfIssue)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PassportNo)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PassportNo)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PassportDateOfIssue)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.PassportDateOfIssue)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PassportDateOfExpiry)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.PassportDateOfExpiry)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PassportPlaceOfIssue)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PassportPlaceOfIssue)
                                    </div>
                                </div>
                            </div>
                            <div class='hrm-image k-upload' style="vertical-align: top">
                                <div>
                                    @{
                                        var img = Html.DisplayFor(model => model.ImagePath).ToString();
                                        if (img == "")
                                        {
                                            img = "no_avatar.jpg";
                                        }
                                        var imgUrl = _hrm_Main_Web + "Images/" + img;
                                    }
                                    <div id="kendoUploadImage">
                                        <img id="imgUploaded" src="@imgUrl" alt="" class="profile-photo" />
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    @* Thông Tin Thôi Việc *@
                    @if (Model != null && Model.DateQuit != null)
                    {
                        <div style="display: block;" id="Resign">
                            <fieldset>
                                <legend>
                                    @ConstantDisplay.HRM_HR_Profile_Quit.TranslateString()
                                </legend>
                                <div style="float:left; width:100%">
                                    <div style="float:left; width:450px">
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.RequestDate)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.RequestDate)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.DateQuitRequest)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.DateQuitRequest)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ResignReasonName)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.DisplayFor(model => model.ResignReasonName)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.DateQuit)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.DateQuit)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthIns)
                                            </div>
                                            <div class="FieldValue">
                                                @{
                        var ReceiveHealthIns = new CheckBoxBuilderInfo()
                        {
                        };
                        if (Model != null)
                        {
                            if (Model.ReceiveHealthIns == true)
                            {
                                ReceiveHealthIns.Value = true;
                            }
                            else
                            {
                                ReceiveHealthIns.Value = false;
                            }
                        }
                                                }
                                                @Html.VnrCheckBoxFor(model => model.ReceiveHealthIns, ReceiveHealthIns)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ReceiveHealthInsDate)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.ReceiveHealthInsDate)
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div style="float: left; width: 500px;">
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ResignNo)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.DisplayFor(model => model.ResignNo)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.DateQuitSign)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.DateQuitSign)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ProfileSign)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.DisplayFor(model => model.ProfileSign)
                                            </div>
                                        </div>                                       
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.IsBlackList)
                                            </div>
                                            <div class="FieldValue">
                                                @{
                                                    var IsBlackList = new CheckBoxBuilderInfo()
                                                    {

                                                    };
                                                    if (Model != null)
                                                    {
                                                        if (Model.IsBlackList == true)
                                                        {
                                                            IsBlackList.Value = true;
                                                        }
                                                        else
                                                        {
                                                            IsBlackList.Value = false;
                                                        }
                                                    }
                                                }
                                                @Html.VnrCheckBoxFor(model => model.IsBlackList, IsBlackList)
                                            </div>
                                        </div>
                                        <div class="DivContentTitleValue" id="div13">
                                            <div class="FieldTitle170">
                                                @Html.VnrLabelForNoneIcon(model => model.ResonBackList)
                                            </div>
                                            <div class="FieldValueView">
                                                @Html.VnrDisplayFor(model => model.ResonBackList)
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                    @*Vị Trí Công Tác*@
                    <div style="display: block" id="Resign">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HRM_WorkingPosition.TranslateString()
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float: left; width: 450px">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.DateOfEffect)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.VnrDisplayFor(model => model.DateOfEffect)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.OrgStructureName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.OrgStructureName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.DeptPath)
                                        </div>
                                        <div class="FieldValueView" id="DeptPath">
                                            @Html.VnrDisplayFor(model => model.DeptPath)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.JobTitleName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.JobTitleName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.PositionName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.PositionName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.WorkPlaceName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.WorkPlaceName)
                                        </div>
                                    </div>

                                </div>
                                <div style="float: left; width: 500px;">
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.EmployeeTypeName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.EmployeeTypeName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.PayrollGroupName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.PayrollGroupName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.CostCentreName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.CostCentreName)
                                        </div>
                                    </div>                                   
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.SupervisorName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.SupervisorName)
                                        </div>
                                    </div>
                                    <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.HighSupervisorName)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.HighSupervisorName)
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    @*Thông tin chi tiết*@
                    <div style=" display: block; float: left; width: 100%;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_HR_Profile_Detail.TranslateString()
                            </legend>
                            <div style="float:left; width:450px">
                                
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.MarriageStatus)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.MarriageStatusView)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.DayOfBirth)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.DayOfBirth) /
                                        @Html.DisplayFor(model => model.MonthOfBirth) /
                                        @Html.DisplayFor(model => model.YearOfBirth)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PlaceOfBirth)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PlaceOfBirth)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Origin)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Origin)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.NationalityName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.NationalityName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.EthnicGroupName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.EthnicGroupName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ReligionName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.ReligionName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.GraduatedLevelName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.GraduatedLevelName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.EducationLevelName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.EducationLevelName)
                                    </div>
                                </div>
                                
                            </div>
                            <div style="float: left; width: 500px;">                                                             
                                <div class="DivContentTitleValue" id="div13">
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelForNoneIcon(model => model.Height)
                                        </div>
                                        <div class="FieldValueView">
                                            @Html.DisplayFor(model => model.Height)
                                        </div>
                                    </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Weight)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Weight)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.BloodType)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.BloodType)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CoatSize)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CoatSize)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PantSize)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PantSize)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ShoeSize)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.ShoeSize)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.VehicleName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.VehicleName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ReqDocumentName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.ReqDocumentName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Notes)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Notes)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clear"></div>
<script>
    function clickExportWordProfile() {
        debugger;
        var currentLocation = window.location.href;
        //Tách link thành 2 phần: trước và sau dấu #
        var strArray = currentLocation.split('#');
        var strArray2 = strArray[1].split('/');

        //Ẩn hết tất cả các validate default của kendo
        $(document.body).find("span.k-tooltip-validation").hide();

        var controllerName = strArray2[1];
        var screenName = strArray2[1] + "/" + strArray2[2];

        var urlGetData = '@Hrm_Hre_Service' + "Hre_GetData/ExportWordProfileByTemplate/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = SelectID;

        ExportSelected(urlGetData, listIds, screenName, urlDownload, '@ConstantPermission.Hre_Profile');
    }
</script>

