@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Security

@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Services = ConstantPathWeb.Hrm_Hre_Service;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}

@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantDisplay.HRM_Sal_Grade_Title,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Hre_Profile/GradeAndAllowanceInfo/" + profileID,
    };
}
@(Html.VnrWindow(window))
@{
    var windowError = new WindowBuilderInfo
    {
        Name = "windowError",
        Visible = false,
        Height = 150,
        Width = 300,
        Title = "Thông Báo Lỗi",
        Content = "<br><br><center><b>Chưa Có Nhân Viên!!!</b></center>"
    };
}
@(Html.VnrWindow(windowError))

<script type="text/javascript">
    var checkedNodes = [];
    var titleGradeCreate = '@Html.Raw(ConstantDisplay.HRM_Sal_Grade_Create.TranslateString())';
    $(document).ready(function () {
        EditGridPopUp('gridSal_Grade', '@ConstantDisplay.HRM_Sal_Grade_Title', '@_hrm_Main_Web' + "Hre_Profile/GradeAndAllowanceInfo/", '@ConstantPermission.Sal_Grade', "@ConstantDisplay.HRM_Category_GradePayroll_Create.TranslateString()");
    });

    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo(isExport) {
        
        return {
            CutOffDurationID: $('#CutOffDurationID').val(),
            ProfileID: SelectID,
            IsExport: isExport,
            ValueFields: $("#valueFieldsGrid").val()
        };
    };
    //Xử lý nút Delete
    $('#GradeAndAllowance_Delete').click(function (e) {
        
        if (selectedIds.length == 0) {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("gridSal_Grade", '@_hrm_Main_Web' + "Sal_Grade/RemoveSelected/", selectedIds, '@ConstantPermission.Att_Grade');
        //selectedIds = [];
    });

    //create
    $("#GradeAndAllowance_Create").click(function () {
        @*var url = '@_hrm_Main_Web' + "Hre_Profile/GradeAndAllowanceInfo/";
        PopUpEdit('@ConstantDisplay.HRM_Sal_Grade_Title', url, "", "@ConstantDisplay.HRM_Category_GradePayroll_Create.TranslateString()");*@
        PopUpCreate('@ConstantDisplay.HRM_Sal_Grade_Title', titleGradeCreate, '@ConstantPermission.Sal_BasicSalary');
        @*var x = '@profileID';
        if (x == '@Guid.Empty') {
            PopUpCreate("windowError");
        }
        else {
            var url = '@_hrm_Main_Web' + "Hre_Profile/GradeAndAllowanceInfo/";
            PopUpEdit('@ConstantDisplay.HRM_Sal_Grade_Title', url, SelectID, titleCreatePopUpLeaveday);
        }*@
    });

    $("#GradeAndAllowance_Export").click(function () {
        var grid = $('#gridSal_Grade').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Services' + "Sal_GetData/GetGradeAndAllowanceByIdProfile/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_TAMScanLog');

    });

</script>

<div style="padding-top:3px">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_Sal_Grade_Title.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "GradeAndAllowance_Create", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "GradeAndAllowance_Export", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "GradeAndAllowance_Delete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
            @*@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })*@
        </div>

        <div class="clear"></div>
    </div>

    <div>
        <!--Khai báo các thông tin cho Grid-->
        @using HRM.Presentation.Payroll.Models
        @using HRM.Presentation.UI.Controls.Kendo
        @{
        valueFields = new string[]
        {
           // Sal_GradeModel.FieldNames.ProfileName,
            Sal_GradeModel.FieldNames.GradeCfgName,
            Sal_GradeModel.FieldNames.MonthStart,
            Sal_GradeModel.FieldNames.MonthEnd,

        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {

            //{Sal_GradeModel.FieldNames.ProfileName, 135},
            {Sal_GradeModel.FieldNames.GradeCfgName, 120},
            {Sal_GradeModel.FieldNames.MonthStart, 100},
            {Sal_GradeModel.FieldNames.MonthEnd, 110}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {

            //{Sal_GradeModel.FieldNames.ProfileName, ConstantDisplay.HRM_HR_Profile_ProfileName},
            {Sal_GradeModel.FieldNames.GradeCfgName, ConstantDisplay.HRM_Category_GradeAttendance_GradeAttendanceName},
            {Sal_GradeModel.FieldNames.MonthStart, ConstantDisplay.HRM_Att_Grade_MonthStart},
            {Sal_GradeModel.FieldNames.MonthEnd, ConstantDisplay.HRM_Att_Grade_MonthEnd},

        };

        var grid = new GridBuilderInfo
        {
            Name = "gridSal_Grade",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = @_hrm_Hr_Services + "Sal_GetData/GetGradeAndAllowanceByIdProfile/",
            ReadData = "filterFieldInfo",
            AutoBind=true,
            GridHeight = 550,
            EventDataBound = "changePageGird",
            //GridHeight=200,
        };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Sal_GradeModel>(grid))
    </div>
</div>

@{
    var valueFields1 = ",ProfileName,CodeEmp";
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
<script>
    $(document).ready(function () {
        $("#valueFieldsGrid").val('@valueFields1');
    });
</script>
