@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models

@model Hre_ProfileModel

@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var profileID = Guid.Empty;
    if (Model != null)
    {
        profileID = Model.ID;
    }
}

@{
    var windowError = new WindowBuilderInfo
    {
        Name = "windowError",
        Visible = false,
        Height = 150,
        Width = 300,
        Title = "Thông Báo Lỗi",
        Content = "<br><br><center><b>Chưa Có Nhân Viên!!!</b></center>"
    };
}
@(Html.VnrWindow(windowError))

@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_HR_VisaInfo_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Hre_Profile/VisaInfoInfo?profileID=" + profileID,
    };
}
@(Html.VnrWindow(window))

<script>

    var gridName = '@ConstantControlName.HRM_HR_VisaInfo_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_HR_VisaInfo_PopUp_Name';
    var titleEditPopUpVisaInfo = '@Html.Raw(ConstantDisplay.HRM_HR_VisaInfo_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUpVisaInfo = '@Html.Raw(ConstantDisplay.HRM_HR_VisaInfo_PopUp_Create_Title.TranslateString())';
    $(document).ready(function () {
        ShowHidePanel();
        EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Hre_Profile/VisaInfoInfo/", '@ConstantPermission.Hre_VisaInfo', titleEditPopUpVisaInfo);

        @*//$("#ID").val(@profileID.ToString());*@


    });


    @*$("#btnSearch").click(function () {
        
        var grid = $('#@ConstantControlName.HRM_HR_VisaInfo_Grid_Name').data("kendoGrid");
        grid.dataSource.read();

    });*@
    //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
    GridCheckbox(gridName);
    //Tạo mới Quá Trình Công Tác
    $("#btnCreateVisaInfo").click(function () {
        
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_Profile');
        if (!isAccess) {
            return;
        }
        var x = '@profileID';

        if (x == '') {
            PopUpCreate("windowError");
        }
        else {
            var url = '@_hrm_Main_Web' + "Hre_Profile/VisaInfoInfo/";
            PopUpEdit('@ConstantControlName.HRM_HR_VisaInfo_PopUp_Name', url, SelectID, titleCreatePopUpVisaInfo);
        }
    });


    //Xóa Quá Trình Công Tác
    $("#btnDelete_Visa").click(function (e) {
        
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Hre_Profile');
        if (!isAccess) {
            return;
        }

        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Hre_VisaInfo/RemoveSelected/", selectedIds);
    });
</script>
@*<div>
    <div style="display: block; padding-top: 10px">
        <fieldset>
            <legend>
                @ConstantDisplay.HRM_HR_Profile_PassPortInfo.TranslateString()
            </legend>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.HiddenFor(model => model.ID)
                    @Html.VnrLabelForNoneIcon(model => model.PassportNo)
                </div>
                <div class="FieldValueView">
                    @Html.DisplayFor(model => model.PassportNo)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.PassportPlaceOfIssue)
                </div>
                <div class="FieldValueView">
                    @Html.DisplayFor(model => model.PassportPlaceOfIssue)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.PassportDateOfIssue)
                </div>
                <div class="FieldValueView">
                    @Html.VnrDisplayFor(model => model.PassportDateOfIssue)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.PassportDateOfExpiry)
                </div>
                <div class="FieldValueView">
                    @Html.VnrDisplayFor(model => model.PassportDateOfExpiry)
                </div>
            </div>

        </fieldset>
    </div>
</div>*@
<div>
    <div style="display: block; padding-top: 10px">
        <fieldset>
            <legend>
                @ConstantDisplay.HRM_HR_Profile_WorkPermitStatus.TranslateString()
            </legend>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitStatus)
                </div>
                <div class="FieldValueView">
                    @Html.DisplayFor(model => model.WorkPermitStatus)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitNo)
                </div>
                <div class="FieldValueView">
                    @Html.DisplayFor(model => model.WorkPermitNo)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitInsDate)
                </div>
                <div class="FieldValueView">
                    @Html.VnrDisplayFor(model => model.WorkPermitInsDate)
                </div>
            </div>
            <div class="DivContentTitleValue" id="div13">
                <div class="FieldTitle170">
                    @Html.VnrLabelForNoneIcon(model => model.WorkPermitExpiredDate)
                </div>
                <div class="FieldValueView">
                    @Html.VnrDisplayFor(model => model.WorkPermitExpiredDate)
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div>
        <div class="commandToolBarWidge">
            <div class="GridTitle">
                @Html.VnrLabel(ConstantDisplay.HRM_HR_VisaInfo.TranslateString())
            </div>
            <div style="float:right">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateVisaInfo", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete_Visa", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <!--Khai báo các thông tin cho Grid-->
            @{
                string[] valueFields = new string[]
                            {
                                Hre_VisaInfoModel.FieldNames.VisaInfoName,
                                Hre_VisaInfoModel.FieldNames.DateStart,
                                Hre_VisaInfoModel.FieldNames.DateEnd,
                                Hre_VisaInfoModel.FieldNames.CountryName,
                                Hre_VisaInfoModel.FieldNames.Notes
                            };
                Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Hre_VisaInfoModel.FieldNames.VisaInfoName,90},
                                {Hre_VisaInfoModel.FieldNames.DateStart,95},
                                {Hre_VisaInfoModel.FieldNames.DateEnd,100},
                                {Hre_VisaInfoModel.FieldNames.CountryName,70},
                                {Hre_VisaInfoModel.FieldNames.Notes,150}
                            };

                Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Hre_VisaInfoModel.FieldNames.VisaInfoName, ConstantDisplay.HRM_HR_VisaInfo_Name},
                                {Hre_VisaInfoModel.FieldNames.DateStart, ConstantDisplay.HRM_HR_VisaInfo_DateStart},
                                {Hre_VisaInfoModel.FieldNames.DateEnd, ConstantDisplay.HRM_HR_VisaInfo_DateEnd},
                                {Hre_VisaInfoModel.FieldNames.CountryName, ConstantDisplay.HRM_HR_Country},
                                {Hre_VisaInfoModel.FieldNames.Notes, ConstantDisplay.HRM_HR_VisaInfo_Notes}
                            };
                var filterable = new Dictionary<string, bool>()
                            {
                               {Hre_VisaInfoModel.FieldNames.VisaInfoName,true},
                               {Hre_VisaInfoModel.FieldNames.DateStart,true},
                                {Hre_VisaInfoModel.FieldNames.DateEnd,true},
                                {Hre_VisaInfoModel.FieldNames.CountryName,true},
                                {Hre_VisaInfoModel.FieldNames.Notes,true},

                            };
                var grid = new GridBuilderInfo
                {
                    Name = ConstantControlName.HRM_HR_VisaInfo_Grid_Name,
                    ReadActionUrl = Hrm_Hre_Service + "Hre_GetData/GetVisaInfoByProfileID?profileID=" + profileID,
                    //ReadData = "filterFieldInfo",
                    ValueFields = valueFields,
                    SizeFields = sizeFields,
                    DisplayFields = displayFields,
                    AutoBind = true,
                    PageSize = 10,
                    ShowCheckAll = false,
                    GridWidth = Common.ScreenWidth - 260,
                    GridHeight = 291,
                };
            }
            <!--Khởi tạo Grid-->
            @(Html.VnrGrid<Hre_VisaInfoModel>(grid))
        </div>
</div>
<!--Hidden field cho mỗi tab giúp xác định dữ liệu đã load rồi thì không load lại-->
@(Html.TextBox(ConstantDisplay.HRM_Hr_GeneralProfile_HiddenField_Tab[1], null, new { @class = "k-input k-textbox", style = "display: none" }))

<script>
    $("#@ConstantControlName.HRM_HR_VisaInfo_Grid_Name .k-grid-pager").css('display', 'none');
</script>