@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo.TabStrip

@using HRM.Presentation.Hr.Models
@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    string profileID = "";
    if (Model != null)
    {
        profileID = Model.ID.ToString();
    }

}

@model Hre_ProfileModel

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_HR_Profile_Info.TranslateString()
        </li>
        @*<li>
                @ConstantDisplay.HRM_HR_Profile_Personal.TranslateString()
            </li>*@
        <li>
            @ConstantDisplay.HRM_HR_Profile_Contact.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_HRM_WorkingPosition.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_HR_Profile_LaborForeign.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_HR_Profile_Insurance.TranslateString()
        </li>
        <li>
            @{
                if (Model != null)
                {
                    @ConstantDisplay.HRM_HR_Profile_Quit.TranslateString()
                }
            }
        </li>
      
        @*<li>
                @ConstantDisplay.HRM_HR_Profile_PartyAndUnion.TranslateString()
            </li>*@
    </ul>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    @*<div>
            @{
                var prodileId = Guid.Empty;
                if (Model != null)
                {
                    prodileId = Model.ID;
                }
                var tempModel = new Hre_ProfilePartyUnionModel()
                {
                    ProfileID = prodileId
              };}
            @Html.Partial("Hre_PartyAndUnion", tempModel)
        </div>*@
</div>
<script>
    $(document).ready(function () {

        var countTab=6;
        LoadContent("tabstrip-" + 1);
        setTimeout(function () {
            for (var i = 2; i <= countTab; i++) {
                LoadContent("tabstrip-" + i);
            }
        }, 1000);
     
    });



    function LoadContent(tabID) {
        $.ajax({
            url: FindPostUrl(tabID),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabID).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    function onSelectTabs(e) {
        
        var tabIndex = e.contentElement.id;
        $.ajax({
            url: FindPostUrl(tabIndex),
            type: 'POST',
            // async: false,
            success: function (data) {
                $("#" + tabIndex).html(data);
            },
            error: function (data) {
                
            }
        });
    };

    $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } }
        // contentUrls: [
        //            '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileBasic?id=' + '@profileID',
        //          '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileContact?id=' + '@profileID',
        //          '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileWorkHistory?id=' + '@profileID',
        //            @*'@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfilePersonal?id=' + '@profileID',*@
        //            '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileLaborForeign?id=' + '@profileID',
        //           '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileInsurance?id=' + '@profileID',
        //          '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileQuit?id=' + '@profileID',
        //]
    });


    function FindPostUrl(tabid) {
        switch (tabid) {
            case "tabstrip-1":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileBasic?id=' + '@profileID';
                break;
            case "tabstrip-2":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileContact?id=' + '@profileID';
                break;
            case "tabstrip-3":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileWorkHistory?id=' + '@profileID';
                break;
            case "tabstrip-4":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileLaborForeign?id=' + '@profileID';
                break;
            case "tabstrip-5":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileInsurance?id=' + '@profileID';
                break;
            case "tabstrip-6":
                return '@_hrm_Main_Web' + 'Hre_Profile/Hre_ProfileQuit?id=' + '@profileID';
                break;

            default:
                return "";
        }
    };
</script>