
@using HRM.Infrastructure.Utilities;
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Attendance.Models

@model Att_TAMScanLogModel


@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Guid ProfileID = Guid.Empty;
    var ProfileName = string.Empty;
    string proid = ViewBag.profileID;
    if (!string.IsNullOrEmpty(proid))
    {
        ProfileID = Common.ConvertToGuid(proid.ToString());

    }
    IList<SelectListItem> listSrcType = Enum.GetValues(typeof(EnumDropDown.TamScanLogSrcType))
      .Cast<EnumDropDown.TamScanLogSrcType>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();

    IList<SelectListItem> listType = Enum.GetValues(typeof(EnumDropDown.TamScanLogType))
    .Cast<EnumDropDown.TamScanLogType>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
    .ToList();

    SelectList dataStatus = new SelectList(listSrcType, "Value", "Text");
    SelectList dataType = new SelectList(listType, "Value", "Text");
}
<script type="text/javascript">
    $(document).ready(function () {

        //Gán profile id lại cho tất cả các form đư
        $("input[name=ProfileID]").val(SelectID);
        $("#TAMScanLogInfo_ProfileName").val($("#profileNameView").html());
        var dataItem = $("input[name=ProfileID]").val();
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/GetCardCodeByProfileID',
            data: { id: dataItem },
            type: 'POST',
            success: function (data) {
                
                if (data.length > 1 || data != null) {
                    $("#TAMScanLogInfo_CardCode").val(data[1].CodeAttendance);
                }
            }
        });


    });
    var data = SetCharacteFieldRequired();
    SetFieldRequiredByScreenName('Att_TAMScanLog_Tab');
    function onSaveClose() {
        
        if (CheckValidate(data)) {
            onSaveAndClose($('#form_TAMScanLog'), '@_hrm_Hr_Service', 'api/Att_TAMScanLog/', 'gridTab_TAMScanLogView', '@ConstantControlName.HRM_Att_TAMScanLog_PopUp_Name');
            return false;
        }
    }
    function onSaveDataPopUp() {
        
        if (CheckValidate(data)) {
            onlySave($('#form_TAMScanLog'), '@_hrm_Hr_Service', 'api/Att_TAMScanLog/', 'gridTab_TAMScanLogView');



            return false;
        }
    }


</script>


@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_TAMScanLog" }))
{
    @Html.HiddenFor(model => model.TAMScanLog_ID)
   
    <div>
        @{
    if (Model != null)
    {
        @Html.HiddenFor(m => m.ProfileID)
            @Html.HiddenFor(m => m.ProfileName)

    }
    else
    {
        @Html.Hidden("ProfileID", ProfileID)
            @Html.Hidden("ProfileName", ProfileName)

    }

        }
    </div>

<!--Form dùng cho edit và update-->

    @Html.HiddenFor(model => model.ProfileID)

    <table>
        <tr>
            <td>
                <div id="div4" class="DivContentTitleValue">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ProfileName)
                    </div>
                    <div class="FieldValue">
                        @{
    var _ProfileName = new TextBoxBuilderInfo()
    {
        Width = 300,
        Name = "TAMScanLogInfo_ProfileName",
        Disabled = true
    };
    if (Model != null)
    {
        _ProfileName.Value = Model == null ? string.Empty : Model.ProfileName;
    }
                        }
                        @Html.VnrTextBoxFor(model => model.ProfileName, _ProfileName)
                    </div>

                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.CardCode)
                    </div>
                    <div class="FieldValue">
                       @{
    var _CardCode = new TextBoxBuilderInfo()
    {
        Width = 300,
                                Name = "TAMScanLogInfo_CardCode",
                                Readonly=true,
                             
                            };
                            if(Model!= null){
                                _CardCode.Value = Model == null ? string.Empty : Model.CardCode;
                            }
                       }
                        @Html.VnrTextBoxFor(model => model.CardCode, _CardCode)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.TimeLog)
                    </div>
                    <div class="FieldValue">
                        @{
    var timeLog = new DateTimePickerBuilderInfo()
    {
        Name = "TAMScanlogInfo_TimeLog",
        StyleCss = "width: 120px"
    };
                        }
                        @Html.VnrDateTimePickerFor(model => model.TimeLog, timeLog)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div4">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Type)
                    </div>
                    <div class="FieldValue">
                        @{
    var Type = new DropDownListBuilderInfo()
    {
        StyleCss = "width:300px",
        Name = "TAMScanlogInfo_Type",
        DataTextField = "Text",
        DataValueField = "Value",
        OptionLabel = ConstantDisplay.HRM_Category_SelectType.TranslateString(),
        Value = @Html.DisplayFor(mode => mode.Type).ToString(),
        BindTo = listType
    };
                        }
                        @Html.VnrDropDownListFor(mode => mode.Type, Type)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div6">

                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Status)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Status = new DropDownListBuilderInfo()
    {
        StyleCss = "width:300px",
        Name = "TAMScanlogInfo_Status",
        DataTextField = "Text",
        DataValueField = "Value",
        OptionLabel = ConstantDisplay.HRM_Category_SelectStatus.TranslateString(),
        Value = @Html.DisplayFor(mode => mode.Status).ToString(),
        BindTo = listSrcType
    };
                        }
                        @Html.VnrDropDownListFor(mode => mode.Status, _Status)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div8">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.MachineNo)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.MachineNo, "width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div7">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Comment)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Comment, "width:500px;height:100px;")
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-TAMScanlog", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-TAMScanlog", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
