@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections

@model Hre_ProfileModel
@{
    Layout = null;
    ViewBag.Title = ConstantDisplay.HRM_HR_ProfileWaitingHire;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    SetFieldRequired();
    function onSaveClose() {
        $("#ProfileId").val(selectedIds.join(','));
        $.ajax({
            url: '@hrm_Hr_Service' + 'Hre_Getdata/UpdateOrgProfile',
            type: "POST",
            dataType: "json",
            data: $('#form_Hre_OrgProfile').serialize(),
            success: function () {
                var window = $("#" + '@ConstantControlName.HRM_Update_Profile_PopUp_Name').data("kendoWindow");
                window.refresh().close();
                var grid = $("#" + '@ConstantControlName.HRM_Hre_Profile_Grid_Name').data("kendoGrid");
                grid.dataSource.read();
            },
            error: function () {
                alert("error");
            },
        });
    };
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Hre_OrgProfile" }))
{
    @Html.HiddenFor(m => m.listId, new { id = "ProfileId" })
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <div style="width:100%;height:200px;">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.OrgStructureID)
                        </div>
                        <div class="FieldValue">
                            @{
    var org = new TreeViewDropdDownBuilderInfo()
    {
        Name = "OrgPopup",
        Value = Model == null ? string.Empty : Model.OrgStructureName,
        SetFieldID = "OrgStructureID",
        SetFieldName = "OrgStructureID",
        Width = "300px",

        IsShowCheckBox = false,
    };
                            }
                            @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                            @Html.HiddenFor(model => model.OrgStructureID)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">
                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-OrgProfile", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
    </table>
}
