@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Infrastructure.Utilities


@model HRM.Presentation.Attendance.Models.Att_AttendanceTableModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>

            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="width:500px; display:block; float:left">
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileID)
                                @Html.HiddenFor(mode => mode.ID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var multiSelectProfileID = new MultiSelectInformation()
                                    {
                                        Name = "ProfileID",
                                        DataTextField = "ProfileName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                        Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                        Width = 170,
                                        Height = 170,
                                        MaxSelectedItems = 1,
                                        ValueMultiselect = @Html.DisplayFor(mode => mode.ProfileID).ToString()
                                    };
                                }
                                @(Html.MultiSelectListControl(multiSelectProfileID))
                                @Html.ValidationMessageFor(model => model.ProfileID)
                            </div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.MonthYear)
                            </div>
                            <div class="FieldValue">
                                @Html.Kendo().DatePickerFor(model => model.MonthYear)
                                @Html.ValidationMessageFor(model => model.MonthYear)
                            </div>
                            <br />
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.StdWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var StdWorkDayCount = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.StdWorkDayCount, StdWorkDayCount))
                                @Html.ValidationMessageFor(model => model.StdWorkDayCount)
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.RealWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var RealWorkDayCount = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.RealWorkDayCount, RealWorkDayCount))
                                @Html.ValidationMessageFor(model => model.RealWorkDayCount)
                            </div>
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.PaidWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var PaidWorkDayCount = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.PaidWorkDayCount, PaidWorkDayCount))
                                @Html.ValidationMessageFor(model => model.PaidWorkDayCount)
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.HourPerDay)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var HourPerDay = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.HourPerDay, HourPerDay))
                                @Html.ValidationMessageFor(model => model.HourPerDay)
                            </div>
                        </div>
                        <div id="div61">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.NightShiftHours)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var NightShiftHours = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.NightShiftHours, NightShiftHours))
                                @Html.ValidationMessageFor(model => model.NightShiftHours)
                            </div>
                        </div>
                        <div id="div62">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.OTNightShiftHours)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var OTNightShiftHours = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.OTNightShiftHours, OTNightShiftHours))
                                @Html.ValidationMessageFor(model => model.OTNightShiftHours)
                            </div>
                        </div>
                    </div>
                    <div style="width:500px; display:block; float:left">
                        <div id="div63">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AnlDayTaken)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var AnlDayTaken = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.AnlDayTaken, AnlDayTaken))
                                @Html.ValidationMessageFor(model => model.AnlDayTaken)
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AnlDayAvailable)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var AnlDayAvailable = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.AnlDayAvailable, AnlDayAvailable))
                                @Html.ValidationMessageFor(model => model.AnlDayAvailable)
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateStart)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateStart = new DatePickerBuilderInfo() { };
                                }
                                @(Html.VnrDatePickerFor(model => model.DateStart, DateStart))
                                @Html.ValidationMessageFor(model => model.DateStart)
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateEnd)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateEnd = new DatePickerBuilderInfo() { };
                                }
                                @(Html.VnrDatePickerFor(model => model.DateEnd, DateEnd))
                                @Html.ValidationMessageFor(model => model.DateEnd)
                            </div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LateEarlyDeductionHours)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var LateEarlyDeductionHours = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.LateEarlyDeductionHours, LateEarlyDeductionHours))
                                @Html.ValidationMessageFor(model => model.LateEarlyDeductionHours)
                            </div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Note)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(model => model.Note)
                            </div>
                            <br />
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid">
                </td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
