
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_AttendanceTableModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Att_AttendanceTable.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var data = SetCharacteFieldRequired();
    function doSave() {
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Att_AttendanceTable/', "popupNotification"); 
        }
    }
    function doSaveNew() {
        if (CheckValidate(data)) {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Att_AttendanceTable/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.AttLeavedayIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Attendance_AttendanceTable_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Attendance_Back_To_AttendanceTable_List.TranslateString() + ")", "Index")
                    </div>
                </div>
            </div>
            <div class="commandToolBarWidge">
                <div class="options">
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
            @Html.Partial("CreateOrUpdate", Model)
        </div>
    </div>
</form>





