@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList

@model HRM.Presentation.Attendance.Models.Att_AttendanceTableModel
@Html.ValidationSummary(false)
@Html.AntiForgeryToken()

<div class="VnRMain">
    <table style="width:50%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="width:500px; display:block; float:left">
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileID)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.ProfileName)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.MonthYear)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.MonthYear)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.StdWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.StdWorkDayCount)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.RealWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.RealWorkDayCount)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.PaidWorkDayCount)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.PaidWorkDayCount)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.HourPerDay)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.HourPerDay)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div8">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.NightShiftHours)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.NightShiftHours)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div7">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.OTNightShiftHours)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.OTNightShiftHours)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div style="width:500px; display:block; float:left">
                        <div id="div9">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AnlDayTaken)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.AnlDayTaken)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div10">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AnlDayAvailable)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.AnlDayAvailable)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div11">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateStart)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.DateStart)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div12">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateEnd)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.DateEnd)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div13">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LateEarlyDeductionHours)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.LateEarlyDeductionHours)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div13">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Note)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.Note)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
