@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Attendance.Models;
@using HRM.Presentation.UI.Controls.Kendo

@model Att_AnalyzeInsuranceModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    $(document).ready(function () {
        //exapand
        $(".panel-wrap").on("click", "span.k-i-arrowhead-s", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-s")
                .addClass("k-i-arrowhead-n");

            kendo.fx(contentElement).expand("vertical").stop().play();
        });

        //collapse
        $(".panel-wrap").on("click", "span.k-i-arrowhead-n", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-arrowhead-n")
                .addClass("k-i-arrowhead-s");

            kendo.fx(contentElement).expand("vertical").stop().reverse();
        });
    });


</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Config)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Config, "width:700px; height:30px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Compute)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Compute, "width:700px; height:30px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateFrom)
                        </div>
                        <div class="FieldValue">
                            @{
                                        var dtpDateTo = new DatePickerBuilderInfo()
                                        {
                                            Format = "{0:yyyy}"
                                        };
                            }
                            @Html.VnrDatePickerFor(model => model.DateFrom, dtpDateTo)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.OrgStructure)
                        </div>
                        <div class="FieldValue">
                            @{
                                    var orgTreeView = new TreeViewBuilderInfo
                                    {
                                        Name = "treeviewOrg",
                                        DataTextField = "Name",
                                        Url = @_hrm_Hre_Service + "Cat_GetData/GetOrgStructureTree",
                                        Icon = "IconPath",
                                        ExpandAll = true
                                    };
                            }
                            @Html.VnrTreeView(orgTreeView)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
                            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), SpriteCssClass = "k-icon k-i-search" })
                        </div>
                        <div style="clear: both;"><br /></div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div style="overflow:hidden">
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new string[]
                            {
                                Att_AnalyzeInsuranceModel.FieldNames.Config,
                                Att_AnalyzeInsuranceModel.FieldNames.Compute,
                                Att_AnalyzeInsuranceModel.FieldNames.DateFrom,
                                Att_AnalyzeInsuranceModel.FieldNames.OrgStructure
                            };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Att_AnalyzeInsuranceModel.FieldNames.Config,200},
                                {Att_AnalyzeInsuranceModel.FieldNames.Compute,150},
                                {Att_AnalyzeInsuranceModel.FieldNames.DateFrom,150},
                                {Att_AnalyzeInsuranceModel.FieldNames.OrgStructure,150}
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Att_AnalyzeInsuranceModel.FieldNames.Config,ConstantDisplay.HRM_Attendance_AnalyzeInsurance_Config},
                                {Att_AnalyzeInsuranceModel.FieldNames.Compute,ConstantDisplay.HRM_Attendance_AnalyzeInsurance_Compute},
                                {Att_AnalyzeInsuranceModel.FieldNames.DateFrom,ConstantDisplay.HRM_Attendance_AnalyzeInsurance_DateFrom},
                                {Att_AnalyzeInsuranceModel.FieldNames.OrgStructure,ConstantDisplay.HRM_Category_OrgStructure_OrgStructureName}
                            };
        var grid = new GridBuilderInfo
        {
            Name = "gridAtt_AnalyzeInsurance",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowNextPrevious = true,
            PageSize = 5,
            ShowPageNumber = true,ShowEditIcon=false
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_AnalyzeInsuranceModel>(grid))
</div>




