@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Category.Models.Cat_ShopModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    IList<SelectListItem> listRank = Enum.GetValues(typeof(EnumDropDown.Rank))
  .Cast<EnumDropDown.Rank>()
  .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
  .ToList();
}
<script>
    SetFieldRequired();
    function onSaveNew() {
        onSaveAndContinue($('#form_cat_Shop'), '@_hrm_Hre_Service', 'api/Cat_Shop/', '@ConstantControlName.HRM_Category_Shop_Grid_Name', '@ConstantControlName.HRM_Category_Shop_PopUp_Name'); return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_cat_Shop'), '@_hrm_Hre_Service', 'api/Cat_Shop/', '@ConstantControlName.HRM_Category_Shop_Grid_Name', '@ConstantControlName.HRM_Category_Shop_PopUp_Name'); return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_cat_Shop'), '@_hrm_Hre_Service', 'api/Cat_Shop/', '@ConstantControlName.HRM_Category_Shop_Grid_Name'); return false;
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_Shop" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div>
                    <div style="float:left">
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ShopGroupID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _shopGroup = new DropDownListBuilderInfo()
                                    {
                                        StyleCss = "width:300px",
                                        DataTextField = "ShopGroupName",
                                        DataValueField = "ID",
                                        Url = _hrm_Hre_Service + "Cat_GetData/GetMultiShopGroup",
                                        OptionLabel = ConstantDisplay.HRM_Category_SelectShopGroup.TranslateString()
                                    };
                                }
                                @Html.VnrDropDownListFor(mode => mode.ShopGroupID, _shopGroup)
                            </div>
                        </div>

                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Code)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Code, "width: 300px")
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ShopName)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.ShopName, "width: 300px")
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle150" >
                                @Html.VnrLabelFor(mode => mode.OrgStructureID)
                            </div>
                            <div class="FieldValue">
                                @{
                                var org = new TreeViewDropdDownBuilderInfo()
                                {
                                    Value = Model == null ? string.Empty : Model.OrgStructureName,
                                    SetFieldID = "OrgStructureID",
                                    SetFieldName = "OrgStructureID",
                                    IsShowCheckBox = false,
                                    
                                    
                                };
                                }

                                @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                                @Html.HiddenFor(model => model.OrgStructureID)
                                @Html.HiddenFor(model => model.OrgStructureName)

                            </div>
                        </div>

                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.NoShiftLeader)
                            </div>
                            <div class="FieldValue">
                                @{
    var _NoShiftLeader = new NumericTextBoxBuilderInfo<int>()
    {
        StyleCss = "width:150px",
        Name = "Shopinfo_NoShiftLeader",
        Format = ConstantFormat.HRM_Format_Number_Integer,
    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.NoShiftLeader, _NoShiftLeader))
                            </div>
                        </div>
                        @*<div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.NoCustomer)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _NoCustomer = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "Shopinfo_NoCustomer",
                                        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.NoCustomer, _NoCustomer))
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.MoneyCollectService)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _MoneyCollectService = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "Shopinfo_MoneyCollectService",
                                        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.MoneyCollectService, _MoneyCollectService))
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.NoCustomerService)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _NoCustomerService = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        Name = "Shopinfo_NoCustomerService",
                                        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.NoCustomerService, _NoCustomerService))
                            </div>
                        </div>*@
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.MainLineProduct)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _MainLineProduct = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",
                                        Name = "Shopinfo_MainLineProduct",
                                        Format = "#\\%",
                                        Min = 0,
                                        Max = 100
                                      //  Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.MainLineProduct, _MainLineProduct))
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.PromoteProduct)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _PromoteProduct = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",
                                        Name = "Shopinfo_PromoteProduct",
                                        Format = "#\\%",
                                        Min = 0,
                                        Max = 100
                                        //Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
                                    };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.PromoteProduct, _PromoteProduct))
                            </div>
                        </div>

                    </div>
                    <div style="float:left">
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Rank)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var dropdown = new DropDownListBuilderInfo()
                                    {
                                        Name = "Shopinfo_Rank",
                                        BindTo=listRank,
                                        StyleCss = "width: 300px"
                                    };
                                    
                                }
                                @Html.VnrDropDownListFor(M=>M.Rank,dropdown)
                                @*@Html.VnrTextBoxFor(mode => mode.Rank)*@
                            </div>
                        </div>
                        @*<div>
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ShiftLeaderID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _ShiftLeader = new ComboBoxBuilderInfo()
                                     {
                                         Name = "CatShopInfo_ShiftLeaderID",
                                         DataTextField = "ProfileName",
                                         StyleCss = "Width: 200px",
                                         DataValueField = "ID",
                                         FilterType = FilterType.Contains,
                                         Url = _hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                         Value = Model == null ? string.Empty : Model.ShiftLeaderID.ToString(),
                              
                                     };
                                }
                                @Html.VnrComboBoxFor(model => model.ShiftLeaderID, _ShiftLeader).Text(Model == null ? string.Empty : Model.ShiftLeaderName)
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ShopLeaderID)
                            </div>
                            <div class="FieldValue">
                                @{
                                var _ShopLeader = new ComboBoxBuilderInfo()
                                 {
                                     Name = "CatShopInfo_ShopLeaderID",
                                     DataTextField = "ProfileName",
                                     StyleCss = "Width: 200px",
                                     DataValueField = "ID",
                                     FilterType = FilterType.Contains,
                                     Url = _hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                     Value = Model == null ? string.Empty : Model.ShopLeaderID.ToString()
                                 };
                                }
                                @Html.VnrComboBoxFor(model => model.ShopLeaderID, _ShopLeader).Text(Model == null ? string.Empty : Model.ShopLeaderName)
                            </div>
                        </div>*@
                        <div>
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.Note)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(mode => mode.Note, "width: 300px")
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:100%">
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(m => m.Formular)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(m => m.Formular, "min-Width: 500px; min-height:60px")
                        </div>
                    </div>
                </div>
                <div style="width:100%">
                    <div>
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(m => m.Formular1)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(m => m.Formular1, "min-Width: 500px; min-height:60px")
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Shop", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-Cat_Shop", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Cat_Shop", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
