@using HRM.Infrastructure.Utilities

@using HRM.Infrastructure.Security;

@model HRM.Presentation.Category.Models.Cat_TAMScanReasonMissModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_TAMScanReasonMiss.TranslateString();
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCat_TAMScanReasonMiss",
        Visible = false,
        Title = ConstantDisplay.HRM_Category_TAMScanReasonMiss_Create_Title.TranslateString(),
        LoadContentFrom = @_hrm_Main_Web + "Cat_TAMScanReasonMiss/Cat_TAMScanReasonMissInfo/",
    };
}
@(Html.VnrWindow(window))

<script type="text/javascript">
    //Biến để lưu id của các dòng đã check chọn
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_TAMScanReasonMiss_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_TAMScanReasonMiss_Create_Title.TranslateString())';

     
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        

        return {
            TAMScanReasonMissName: $('#STAMScanReasonMissName').val(),

        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var grid = $('#grid_Cat_TAMScanReasonMiss').data("kendoGrid");
            grid.dataSource.read();
        });
       
        var url = '@_hrm_Main_Web' + "Cat_TAMScanReasonMiss/Cat_TAMScanReasonMissInfo/";
        EditGridPopUp("grid_Cat_TAMScanReasonMiss", "windowCat_TAMScanReasonMiss", url,'@ConstantPermission.Cat_TAMScanReasonMiss', titleEditPopUp);
    });

    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_TAMScanReasonMiss');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowCat_TAMScanReasonMiss", titleCreatePopUp);
    });

    //Xử Lý grid
    GridCheckbox("grid_Cat_TAMScanReasonMiss");

    //Xử lý Edit popup
    var url = '@_hrm_Main_Web' + "Cat_TAMScanReasonMiss/Cat_TAMScanReasonMissInfo/";
    EditGridPopUp("grid_Cat_TAMScanReasonMiss", "windowCat_TAMScanReasonMiss", url, '@ConstantPermission.Cat_TAMScanReasonMiss', titleEditPopUp);


    //Xử Lý button delete

    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_TAMScanReasonMiss');
        if (!isAccess) {
            return;
        }

        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Cat_TAMScanReasonMiss", '@_hrm_Main_Web' + "Cat_TAMScanReasonMiss/RemoveSelected/", selectedIds.join(","));

        return false;
    });



    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
    });


</script>




<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.TAMScanReasonMissName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("STAMScanReasonMissName", "width:200px")
                    </div>
                </div>
            


            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @*<div class="HideExportCate">*@  
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
        @*</div>*@
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Cat_TAMScanReasonMissModel.FieldNames.Code,
            Cat_TAMScanReasonMissModel.FieldNames.TAMScanReasonMissName,
            Cat_TAMScanReasonMissModel.FieldNames.IsFullPay,
            Cat_TAMScanReasonMissModel.FieldNames.MealAllowanceTypeSettingName,
            Cat_TAMScanReasonMissModel.FieldNames.Description,
            Cat_TAMScanReasonMissModel.FieldNames.UserUpdate,
            Cat_TAMScanReasonMissModel.FieldNames.DateUpdate,
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Cat_TAMScanReasonMissModel.FieldNames.Code,130},
          {Cat_TAMScanReasonMissModel.FieldNames.TAMScanReasonMissName,150},
          {Cat_TAMScanReasonMissModel.FieldNames.IsFullPay,130},
          {Cat_TAMScanReasonMissModel.FieldNames.MealAllowanceTypeSettingName,140},
          {Cat_TAMScanReasonMissModel.FieldNames.Description,200},
          {Cat_TAMScanReasonMissModel.FieldNames.UserUpdate,150},
          {Cat_TAMScanReasonMissModel.FieldNames.DateUpdate,150}

        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Cat_TAMScanReasonMissModel.FieldNames.Code,ConstantDisplay.HRM_Category_TAMScanReasonMiss_Code},
            {Cat_TAMScanReasonMissModel.FieldNames.TAMScanReasonMissName,ConstantDisplay.HRM_Category_ResignReason_ReasonName},
            {Cat_TAMScanReasonMissModel.FieldNames.IsFullPay,ConstantDisplay.HRM_Category_TAMScanReasonMiss_IsFullPay},
            {Cat_TAMScanReasonMissModel.FieldNames.MealAllowanceTypeSettingName,ConstantDisplay.HRM_Category_TAMScanReasonMiss_MealAllowanceTypeSettingName},
            {Cat_TAMScanReasonMissModel.FieldNames.Description,ConstantDisplay.HRM_Category_TAMScanReasonMiss_Description},
            {Cat_TAMScanReasonMissModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Category_TAMScanReasonMiss_UserUpdate},
            {Cat_TAMScanReasonMissModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Category_TAMScanReasonMiss_DateUpdate }

        };
        var grid = new GridBuilderInfo
        {
            Name = "grid_Cat_TAMScanReasonMiss",
            ValueFields = valueFields,
            DisplayFields = displayFields,
            SizeFields = sizeFields,
            ReadActionUrl = _hrm_Hre_Service + "Cat_GetData/GetTAMScanReasonMissList/",
            ReadData = "filterFieldInfo"
            //ShowEditIcon = false,
            //ShowCheckbox = false
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Cat_TAMScanReasonMissModel>(grid))
</div>