@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@model Sys_GroupModel
@{
    //ViewBag.Title = HRM.Infrastructure.Utilities.Constant.TitleListCategory;
    Layout = null;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    
    
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowSysGroup",
        Visible = false,
        Title = "Thông tin nhóm quyền",
        LoadContentFrom = @hrm_Sys_Web + "Sys_Group/SysGroupInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">

    var checkedNodes = [];
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            GroupName: $('#GroupName1').val()
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            ReadGrid("Group");
        });
      
        //dùng chuyển trang edit
        $("#Group").on("click", ".gridEditImgButton", function (e) {
            var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Sys_Group');
            if (!isAccess) {
                return;
            }
            
            var grid = $("#Group").data("kendoGrid");
            e.preventDefault();
            var row = $(this).closest("tr");
            var dataItem = grid.dataItem(row);
            var id = dataItem.ID;
            KendoRouteMapping('#Hrm_Sys_Web/Sys_GroupPermission/Index/' + id, 'Hrm_Sys_Web', '@hrm_Sys_Web');
        });

    });

    //Tao mới chuyển trang
    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Sys_Group');
        if (!isAccess) {
            return;
        }
        KendoRouteMapping('#Hrm_Sys_Web/Sys_GroupPermission/Index/' , 'Hrm_Sys_Web', '@hrm_Sys_Web');
        //PopUpCreate("windowSysGroup");
    });
    
    
    function onEditSysGroup(e) {
        var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Sys_Group');
        if (!isAccess) {
            return;
        }
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.ID;
        KendoRouteMapping('#Hrm_Sys_Web/Sys_GroupPermission/Index/' + id, 'Hrm_Sys_Web', '@hrm_Sys_Web');
    }
    //Xử Lý grid
    GridCheckbox("Group");
    
    //Xử Lý button delete
    $('#btnDelete').click(function(e) {
        e.preventDefault();
        DeleteSelected("Group", '@hrm_Sys_Web' + "Sys_Group/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sys_Group');
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <form action="#" method="POST" id="form-search">
                <div class="contendSearchWidge">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.GroupName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("GroupName1","Width:200px;")
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Permission = PrivilegeType.Create.ToString(), Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    
    @*@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnEdit", Permission = PrivilegeType.Modify.ToString(), Content = ConstantAction.HRM_Common_Edit.TranslateString(), ImageUrl = ConstantPath.IconEditPath })*@

    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch",  Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl=ConstantPath.IconSearchPath })
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Permission = PrivilegeType.Delete.ToString(), Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->    
    @using VnResource.Helper.Security
    @{
        string[] valueFields = new string[]
        {
            Sys_GroupModel.FieldNames.Code,
            Sys_GroupModel.FieldNames.GroupName,
            Sys_GroupModel.FieldNames.IsActivate,
            Sys_GroupModel.FieldNames.Notes,
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_GroupModel.FieldNames.Code, 150},
            {Sys_GroupModel.FieldNames.GroupName, 200},
            {Sys_GroupModel.FieldNames.IsActivate, 100},
            {Sys_GroupModel.FieldNames.Notes, 250},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sys_GroupModel.FieldNames.Code, ConstantDisplay.HRM_System_Group_Code},
            {Sys_GroupModel.FieldNames.GroupName, ConstantDisplay.HRM_System_Group_GroupName},
            {Sys_GroupModel.FieldNames.IsActivate, ConstantDisplay.HRM_System_Group_IsActivate},
            {Sys_GroupModel.FieldNames.Notes, ConstantDisplay.HRM_System_Group_Description},
        };
        var grid = new GridBuilderInfo
        {
            Name = "Group",
            ValueFields = valueFields,
            EventCustomEdit = "onEditSysGroup",
            ReadActionUrl = hrm_Sys_Service + "Sys_GetData/GetGroupList",
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadData = "filterFieldInfo",
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_GroupModel>(grid))
</div>

