@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.HrmSystem.Models.Sys_GroupModel

@{
    ViewBag.Title = "SysGroup";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    var data = SetCharacteFieldRequired();
    function onSave() {
        if (CheckValidate(data)) {
            onSaveAndContinue($('#form_cat_sysgroup'), '@_hrm_Sys_Service', 'api/Sys_Group/', 'Group', 'windowSysGroup'); return false;
        }
        return false;
    }

    function onSaveClose() {
        if (CheckValidate(data)) {
            onSaveAndClose($('#form_cat_sysgroup'), '@_hrm_Sys_Service', 'api/Sys_Group/', 'Group', 'windowSysGroup'); return false;
        }
        return false;
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_sysgroup" }))
{
    @Html.HiddenFor(model => model.ID)
    
     <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Code)
                      
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.GroupName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.GroupName)
                      
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.IsActive)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrCheckBoxFor(model => model.IsActive))
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Notes)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Notes)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>
                    <div class="FieldValue">

                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-SysGroup", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-SysGroup", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @*<input type="button" value="@ConstantAction.HRM_Common_SaveNew.TranslateString()" onclick="onSaveAndContinue($('#form_cat_sysgroup'), '@_hrm_Sys_Service', 'api/Sys_Group/', 'Group','windowSysGroup'); return false;" class="k-button" />
                <input type="button" value="@ConstantAction.HRM_Common_SaveClose.TranslateString()" onclick="onSaveAndClose($('#form_cat_sysgroup'), '@_hrm_Sys_Service', 'api/Sys_Group/', 'Group','windowSysGroup'); return false;" class="k-button" />*@
                    </div>
                </div>
            </td>
        </tr>
 </table>
}

