@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Laundry.Models


@model HRM.Presentation.Laundry.Models.Lau_LaundryRecordModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;

    IList<SelectListItem> listStatus = Enum.GetValues(typeof(EnumDropDown.LaundryRecord_Status))
       .Cast<EnumDropDown.LaundryRecord_Status>()
       .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
       .ToList();
}
<script>

    $(document).ready(function () {
        $("#MarkerID").prop("readonly", true);
        $("#LockerID").prop("readonly", true);
        document.getElementById("LaundryRecordMachineCode").readOnly = true;
        document.getElementById("Amount").readOnly = true;
    });

    function onDataBound() {
        
        var _lineId = $("#LineID").val();
        $.ajax({
            url: '@_hrm_Hre_Service' + 'Lau_GetData/GetLineById',
            type: 'POST',
            data: { id: _lineId },
            success: function (strResponse) {
                
                var rs = strResponse;
                $('#MarkerID').data('kendoComboBox').value(rs.MarkerID);
                $('#LockerID').data('kendoComboBox').value(rs.LockerID);
                $('#LaundryRecordMachineCode').val(rs.LineMachineCode);
                $('#Amount').data('kendoNumericTextBox').value(rs.Amount);

            },
        });
    };
</script>
<div class="VnRMain">
    <table style="width:100%">
        @Html.HiddenFor(model => model.ID)
        <tbody>
            <tr>
                <td colspan="3" style=""></td>
            </tr>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.ProfileID)
                        </div>

                        <div class="FieldValue">
                            @{
                                var _ProfileName = new MultiSelectBuilderInfo
                                {
                                    DataTextField = "ProfileName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                    MaxSelectedItems = 1,
                                    Autobind = true,
                                    Value = new string[] { @Html.DisplayFor(mode => mode.ProfileID).ToString() }
                                };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.ProfileID, _ProfileName)
                        </div>

                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.TimeLog)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _time = new DateTimePickerBuilderInfo() { };
                            }
                            @Html.VnrDateTimePickerFor(mode => mode.TimeLog, _time)
                        </div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.LineLMSName)
                        </div>

                        <div class="FieldValue">
                            @{
                                var _LineName = new ComboBoxBuilderInfo()
                                {
                                    DataTextField = "LineName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiLine",
                                    StyleCss = "width:300px;",
                                    Autobind = true,
                                    EventChange = "onDataBound"
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.LineID, _LineName)
                        </div>

                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.MarkerName)
                        </div>

                        <div class="FieldValue">

                            @{
                                var _MarkerName = new ComboBoxBuilderInfo
                                {
                                    DataTextField = "MarkerName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiMarker/",
                                    StyleCss = "width:300px;",
                                    Autobind = true,
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.MarkerID, _MarkerName)
                        </div>

                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.LockerLMSName)
                        </div>

                        <div class="FieldValue">

                            @{
                                var _LockerName = new ComboBoxBuilderInfo
                                {
                                    DataTextField = "LockerName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiLocker/",
                                    StyleCss = "width:300px;",
                                    Autobind = true,
                                };
                            }
                            @Html.VnrComboBoxFor(mode => mode.LockerID, _LockerName)
                        </div>

                    </div>
                    <div id="div7">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MachineCode)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.MachineCode, "width:250px; ")
                        </div>
                    </div>
                    <div id="div8">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Amount)
                        </div>
                        <div class="FieldValue">
                            @{
                                var Amount = new NumericTextBoxBuilderInfo<double>()
                                {
                                    Format = ConstantFormat.HRM_Format_Money,
                                    StyleCss = "width:180px"
                                };
                            }
                            @(Html.VnrNumericTextBoxFor(model => model.Amount, Amount))

                        </div>
                    </div>
                    <div id="div9">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Status)
                        </div>
                        <div class="FieldValue">
                            @{
                                string valueStatus = "E_REQUEST";
                                if (Model != null)
                                {
                                    valueStatus = Model.Status;
                                }

                            }
                            @{
                                var dropdownStatus = new DropDownListBuilderInfo()
                                {
                                    Name = "Status",
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    BindTo = listStatus,
                                    Value = valueStatus,
                                    StyleCss = "width:180px"
                                };
                            }
                            @(Html.VnrDropDownListFor(mode => mode.Status, dropdownStatus))
                        </div>
                        <br />
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
