@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Recruitment.Models.Rec_CandidateModel
@{
    ViewBag.Title = "Index  Candidate";
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    var data = SetCharacteFieldRequired();
    SetFieldRequired();
    function SetValue()
    {
        
        var DiseaseListIDs = $("#DiseaseListIDs1").data("kendoMultiSelect").value();
        if (DiseaseListIDs != "" && DiseaseListIDs != null) {
            $("#DiseaseListIDs").val(DiseaseListIDs);
        }
        else
        {
            $("#DiseaseListIDs").val(null);
        }
    }
    function doSave() {
        
        SetValue();
        var result = false;
        if (CheckValidate(data)) {
            var radioItem = $("input[type=radio]");
            radioItem.change(function () {
                for (var i = 0; i < radioItem.length; i++) {
                    if (radioItem[i].checked) {
                        radioItem[i].value = true;
                    }
                    else {
                        radioItem[i].value = false;
                    }
                }
            });

            onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Rec_Candidate/');
            result = true;
            return result;
        }
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            var radioItem = $("input[type=radio]");
            radioItem.change(function () {
                for (var i = 0; i < radioItem.length; i++) {
                    if (radioItem[i].checked) {
                        radioItem[i].value = true;
                    }
                    else {
                        radioItem[i].value = false;
                    }
                }
            });

            KendoRouteMapping('#Hrm_Main_Web/Rec_Candidate/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Rec_CandidateIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Rec_Candidate_Update.TranslateString() <a class="link-back" onclick="clickBackCandidate()" style="padding-left: 3px">(@ConstantDisplay.HRM_Rec_Candidate_Back_To_List.TranslateString())</a>
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options" style="margin-top: 5px;">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
<script>
    function clickBackCandidate() {
        var link = $("#CurrentLinkForClickBack").val();
        if (link == "") {
            KendoRouteMapping("#Hrm_Main_Web/GeneralCandidate/Index#NewTab", "Hrm_Main_Web", '@_hrm_Main_Web');
        }
        else
        {
            clickBack();
        }
    }
</script>



