@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security;
@using System.Collections
@using HRM.Presentation.Category.Models

@model CatConditionalColorSearchModel

@{
    //var _hrm_Main_Web = ConstantPathWeb._hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_HR_Cat_ConditionalColor_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Cat_ConditionalColor/Cat_ConditionalColorInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    //Biến để lưu id của các dòng đã check chọn
     
    var gridName = '@ConstantControlName.HRM_HR_Cat_ConditionalColor_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_HR_Cat_ConditionalColor_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_ConditionalColor_PopUp_Edit_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_ConditionalColor_PopUp_Create_Title.TranslateString())';
    
    $(document).ready(function () {
        //Ẩn hiện div chứa các input tìm kiếm
        ShowHidePanel();
        //Xử lý sự kiện click button tìm kiếm
        $("#btnSearch").click(function () {
            
            ReadGrid(gridName);
        });
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_Product');
        if (!isAccess) {
            return;
        }*@
        EditGridPopUp(gridName, popUpName, '@_hrm_Main_Web' + "Cat_ConditionalColor/Cat_ConditionalColorInfo/", '@ConstantPermission.Cat_ConditionalColor', titleEditPopUp);
    });
    //Lấy dữ liệu khi tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            ConditionalColorNameSearch: $('#ConditionalColorNameSearch').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý khi check chọn các dòng trên lưới thì lưu id của các dòng đó cào biến selectedIds ở trên
    GridCheckbox(gridName);
    //Tạo mới Sản phẩm
    $("#btnCreate").click(function () {
        PopUpCreate(popUpName, titleCreatePopUp, '@ConstantPermission.Cat_ConditionalColor');
    });
    //Chỉnh sửa màu
    
    //Xóa màu
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Cat_ConditionalColor/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_ConditionalColor');
    });
    $("#btnExportSelected").click(function () {
        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportCatConditionalColorSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_ConditionalColor');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#' + gridName).data("kendoGrid");
        
        if (grid.dataSource.data().length == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllCatConditionalColor/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_ConditionalColor');
    });

</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                    <span class="collapse k-icon k-i-arrowhead-n"></span>
                </h3>
                <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                       @ConstantDisplay.HRM_Category_ConditionalColor_ConditionalColorName.TranslateString()
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("ConditionalColorNameSearch", "width:200px;")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>

    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            
            Cat_ConditionalColorModel.FieldNames.ConditionalCode,
            Cat_ConditionalColorModel.FieldNames.ConditionalColorName,
            Cat_ConditionalColorModel.FieldNames.PropertyName,
            Cat_ConditionalColorModel.FieldNames.Condition,
            Cat_ConditionalColorModel.FieldNames.Value,
            Cat_ConditionalColorModel.FieldNames.ColorCode,
            Cat_ConditionalColorModel.FieldNames.BGColorCode,
        };

        var sizeFields = new Dictionary<string, int>()
        {
          
            {Cat_ConditionalColorModel.FieldNames.ConditionalCode,120},
            {Cat_ConditionalColorModel.FieldNames.ConditionalColorName,150},
            {Cat_ConditionalColorModel.FieldNames.PropertyName,200},
            {Cat_ConditionalColorModel.FieldNames.Condition,120},
            {Cat_ConditionalColorModel.FieldNames.Value,200},
            {Cat_ConditionalColorModel.FieldNames.ColorCode,150},
            {Cat_ConditionalColorModel.FieldNames.BGColorCode,300},
        };

        var filterable = new Dictionary<string, bool>()
        {
           {Cat_ConditionalColorModel.FieldNames.ConditionalCode,true},
            {Cat_ConditionalColorModel.FieldNames.ConditionalColorName,true},
            {Cat_ConditionalColorModel.FieldNames.PropertyName,true},
            {Cat_ConditionalColorModel.FieldNames.Condition,true},
            {Cat_ConditionalColorModel.FieldNames.Value,true},
            {Cat_ConditionalColorModel.FieldNames.ColorCode,true},
            {Cat_ConditionalColorModel.FieldNames.BGColorCode,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            
            
            {Cat_ConditionalColorModel.FieldNames.ConditionalCode,ConstantDisplay.HRM_Category_ConditionalColor_ConditionalCode},
            {Cat_ConditionalColorModel.FieldNames.ConditionalColorName,ConstantDisplay.HRM_Category_ConditionalColor_ConditionalColorName},
            {Cat_ConditionalColorModel.FieldNames.PropertyName,ConstantDisplay.HRM_Category_ConditionalColor_PropertyName},
            {Cat_ConditionalColorModel.FieldNames.Condition,ConstantDisplay.HRM_Category_ConditionalColor_Condition},
            {Cat_ConditionalColorModel.FieldNames.Value,ConstantDisplay.HRM_Category_ConditionalColor_Value},
            {Cat_ConditionalColorModel.FieldNames.ColorCode,ConstantDisplay.HRM_Category_ConditionalColor_ColorCode},
             {Cat_ConditionalColorModel.FieldNames.BGColorCode,ConstantDisplay.HRM_Category_ConditionalColor_BGColorCode},
        };

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_HR_Cat_ConditionalColor_Grid_Name,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetCatConditionalColor/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<Cat_ConditionalColorModel>(grid))
</div>

@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)