@using HRM.Infrastructure.Utilities
@
@using HRM.Infrastructure.Security;

@model HRM.Presentation.Category.Models.CatLateEarlyRuleModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_LateEarlyRule.TranslateString();
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatLateEarlyRule",
        Visible = false,
        
        LoadContentFrom = @_hrm_Main_Web + "Cat_LateEarlyRule/CatLateEarlyRuleInfo/",
    };
}
@(Html.VnrWindow(window))

<script type="text/javascript">
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_LateEarlyRule_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_LateEarlyRule_Create_Title.TranslateString())';
     
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        
       
        return {
            GradeCfgName: $('#SGradeName').val(),
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var grid = $('#grid_Cat_LateEarlyRule').data("kendoGrid");
            grid.dataSource.read();
        });
        //Xử lý Edit popup
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_LateEarlyRule');
        if (!isAccess) {
            return;
        }*@
        var url = '@_hrm_Main_Web' + "Cat_LateEarlyRule/CatLateEarlyRuleInfo/";
        EditGridPopUp("grid_Cat_LateEarlyRule", "windowCatLateEarlyRule", url, '@ConstantPermission.Cat_LateEarlyRule', titleEditPopUp);
    });

    $("#btnCreate").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_LateEarlyRule');
        if (!isAccess) {
            return;
        }*@
        PopUpCreate("windowCatLateEarlyRule", titleCreatePopUp, '@ConstantPermission.Cat_LateEarlyRule');
    });

    @*function onEditDistrict(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = '@_hrm_Main_Web' + "CatDistrict/CreateOrUpdate/";
        PopUpEdit("windowCatDistrict", url, dataItem.Id);
    }*@
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
    });

    //Xử Lý grid
    GridCheckbox("grid_Cat_LateEarlyRule");

   
    @*DeleteGrid("grid_Cat_District", '@_hrm_Main_Web' + "/CatDistrict/Remove/");*@


    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        @*var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_LateEarlyRule');
        if (!isAccess) {
            return;
        }*@
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Cat_LateEarlyRule", '@_hrm_Main_Web' + "Cat_LateEarlyRule/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_LateEarlyRule');
        
        return false;
    });

</script>




<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.GradeCfgName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("SGradeName", "width:300px")
                    </div>
                </div>
         

            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = "Delete", ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div> 
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            CatLateEarlyRuleModel.FieldNames.Code,
            CatLateEarlyRuleModel.FieldNames.GradeCfgName,
            CatLateEarlyRuleModel.FieldNames.Order,
            CatLateEarlyRuleModel.FieldNames.MinValue,
            CatLateEarlyRuleModel.FieldNames.MaxValue,
            CatLateEarlyRuleModel.FieldNames.RoundValue,
            CatLateEarlyRuleModel.FieldNames.Comment
            
      
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {CatLateEarlyRuleModel.FieldNames.Code, 150},
            {CatLateEarlyRuleModel.FieldNames.GradeCfgName,150},
            {CatLateEarlyRuleModel.FieldNames.Order,100},
            {CatLateEarlyRuleModel.FieldNames.MinValue, 150},
            {CatLateEarlyRuleModel.FieldNames.MaxValue, 150},
            {CatLateEarlyRuleModel.FieldNames.RoundValue, 120},
            {CatLateEarlyRuleModel.FieldNames.Comment,150}

        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {CatLateEarlyRuleModel.FieldNames.Code,ConstantDisplay.HRM_Category_LateEarlyRule_GradeCfgID},
            {CatLateEarlyRuleModel.FieldNames.GradeCfgName,ConstantDisplay.HRM_Category_LateEarlyRule_GradeName},
             {CatLateEarlyRuleModel.FieldNames.Order,ConstantDisplay.HRM_Category_LateEarlyRule_Order},
            {CatLateEarlyRuleModel.FieldNames.MinValue,ConstantDisplay.HRM_Category_LateEarlyRule_MinValue},
            {CatLateEarlyRuleModel.FieldNames.MaxValue,ConstantDisplay.HRM_Category_LateEarlyRule_MaxValue},
            {CatLateEarlyRuleModel.FieldNames.RoundValue,ConstantDisplay.HRM_Category_LateEarlyRule_RoundValue},
            {CatLateEarlyRuleModel.FieldNames.Comment,ConstantDisplay.HRM_Category_LateEarlyRule_Comment},
            
          
        };
        Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {CatLateEarlyRuleModel.FieldNames.MinValue, ConstantFormat.HRM_Format_Int},
            {CatLateEarlyRuleModel.FieldNames.MaxValue, ConstantFormat.HRM_Format_Int},
            {CatLateEarlyRuleModel.FieldNames.RoundValue, ConstantFormat.HRM_Format_Int},
        };
    
        var grid = new GridBuilderInfo
        {
            Name = "grid_Cat_LateEarlyRule",
            ValueFields = valueFields,
            DisplayFields = displayFields,
            SizeFields = sizeFields,
            FormatFields = formatFields,
            //ShowCustomEdit = true,
            //ShowDeleteButton = true,
            //EventCustomEdit = "onEditDistrict",
            //DeleteActionUrl = _hrm_Cat_Web + "/CatDistrict/Remove/",
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetCatLateEarlyRuleList",
            ReadData = "filterFieldInfo"
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatLateEarlyRuleModel>(grid))
</div>