@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@using System.Collections;

@model Hre_SoftSkillModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    SetFieldRequired();
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            @*<tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>*@
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                            @Html.HiddenFor(mode => mode.ID)
                        </div>
                        <div class="FieldValue">
                            @{
                                IEnumerable valueProfile = new string[] { };
                                if (Model != null)
                                {
                                    valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                }
                            }
                            @{
                                var Profile = new MultiSelectBuilderInfo()
                                 {
                                     DataTextField = Hre_SoftSkillModel.FieldNames.ProfileName,
                                     DataValueField = Hre_SoftSkillModel.FieldNames.ID,
                                     Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                     Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                     Width =200,
                                     MaxSelectedItems = 1,
                                     Value = valueProfile
                                 };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.SoftSkillName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.SoftSkillName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.SoftSkillType)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.SoftSkillType)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.SoftSkillLevel)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.SoftSkillLevel)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.TrainingPlace)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.TrainingPlace)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div7">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.TrainingFrom)
                        </div>
                        <div class="FieldValue">
                            @{
                                var TrainingFrom = new DatePickerBuilderInfo() 
                                {
                                    StyleCss = "width:100px" 
                                };
                            }
                            @(Html.VnrDatePickerFor(model => model.TrainingFrom, TrainingFrom))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div8">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.TrainingTo)
                        </div>
                        <div class="FieldValue">
                            @{
                                var TrainingTo = new DatePickerBuilderInfo()
                                {
                                    StyleCss = "width:100px"
                                };
                            }
                            @(Html.VnrDatePickerFor(model => model.TrainingTo, TrainingTo))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div10">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Certificate)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Certificate)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
