@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security
@model HRM.Presentation.Hr.Models.FIN_ApproveTravelCostModel
@{
    ViewBag.Title = "Update HreContract";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;   
}
<script>

    function doEditProfile() {
          debugger;
        $("#UserCreateID").val('@Session[SessionObjects.UserId]');

        $.ajax({
            url: '@_hrm_Hr_Service' + "Cat_GetData/ApprovedTravelRequest",
            data: { travelRequestId: $("#ID").val(), userId: $("#UserCreateID").val(), type: "E_APPROVED" },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                debugger;
                ShowNotificationProcessor(data);
            }
        });

        return true;
    };

    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Main_Web/FIN_ApproveTravelCost/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>
<form action="#" method="POST" id="form-edit">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_FIN_ApproveTravelRequest_Update_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Fin_Back_To_ApproveTravelRequest_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                       

                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
