@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.FIN_TravelRequestItemModel

@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
   // var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    Guid ContractID = Guid.Empty;
    string aaa = ViewBag.contractID;
    if (!string.IsNullOrEmpty(aaa))
    {
        ContractID = Common.ConvertToGuid(aaa.ToString());
    }
}
<script>
    SetFieldRequiredByScreenName("TravelRequestItemInfo")
    //SetFieldRequired();
    $(document).ready(function () {
       
        //$("#TravelRequestID").val($("#TravelRequest_ID").val());
        $("#Claim_TravelRequestID").val($("#TravelRequest_ID").val());
       
      
    });

    function onSaveClose() {
        //$("#TravelRequestID").val($("#TravelRequest_ID").val());
       
        
        onSaveAndClose($('#form_cat_Claim_TravelRequestItem'), '@_hrm_Hr_Service', 'api/Fin_TravelRequestItem/', 'grid_TravelRequestItem', 'windowTravelRequestItem'); return false;
    }

    function onSaveDataPopUp() {
        onlySave($('#form_cat_Claim_TravelRequestItem'), '@_hrm_Hr_Service', 'api/Fin_TravelRequestItem/', 'grid_TravelRequestItem');

    }

    function onSaveNew() {
      
        onlySave($('#form_cat_Claim_TravelRequestItem'), '@_hrm_Hr_Service', 'api/Fin_TravelRequestItem/', 'grid_TravelRequestItem');

    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_Claim_TravelRequestItem" }))
{
    @Html.HiddenFor(model => model.TravelRequestItem_ID)
    @Html.HiddenFor(mode => mode.Claim_TravelRequestID)
    @*if (Model != null)
    {
        @Html.HiddenFor(mode => mode.TravelRequestID)
    }
    else
    {
        @Html.HiddenFor(mode => mode.TravelRequestID, ContractID)
    }*@
    <table>
        <tr>
            <td>
                <div class="DivContentTitleValue" id="div13">
                    <div class="FieldTitle">
                        @Html.VnrLabelForNoneIcon(model => model.Date)
                    </div>
                    <div class="FieldValue">
                        @{
                            var Date = new DatePickerBuilderInfo()
                            {
                                StyleCss = "width:120px",
                            };
                        }
                        @Html.VnrDatePickerFor(model => model.Date, Date)
                    </div>
                </div>

              
                <div class="DivContentTitleValue" id="div13">
                    <div class="FieldTitle">
                        @Html.VnrLabelForNoneIcon(model => model.Amount)
                    </div>
                    <div class="FieldValue">
                        @{
    var Amount = new NumericTextBoxBuilderInfo<double>()
    {
        StyleCss = "width:150px",
    };
                        }
                        @Html.VnrNumericTextBoxFor(model => model.Amount, Amount)
                    </div>
                </div>
                <div class="DivContentTitleValue" id="div13">
                    <div class="FieldTitle">
                        @Html.VnrLabelForNoneIcon(model => model.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-TravelRequestItem", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-TravelRequestItem", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "saveclose-TravelRequestItem", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

