@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security
@model HRM.Presentation.Hr.Models.FIN_ClaimModel
@{
    ViewBag.Title = "Update HreContract";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>


     //var data = SetCharacteFieldRequired();
    function doEditProfile() {
        $("#UserCreateID").val('@Session[SessionObjects.UserId]');
        var IsClaim = document.getElementById("IsClaim");

        if (IsClaim != null && IsClaim.checked) {
            $("#IsClaim").val("true");
        } else {
            $("#IsClaim").val("false");
        }
        onCreate($('#form-edit'), '@_hrm_Hr_Service', 'api/FIN_Claim/');
        //$("#TravelRequest_ID").val($("#ID").val());
        return true;
    };

    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Main_Web/FIN_TravelRequest/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }


</script>
<div>
    @ViewBag.MsgUpdate
</div>
<form action="#" method="POST" id="form-edit">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_FIN_Claim_PopUp_Edit_Title.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Fin_Back_To_TravelRequest_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        
                    </div>
                </div>
                @Html.Partial("CreateOrUpdatePayment", Model)
            </div>
        </div>
    </div>
</form>
