@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_StopWorkingModel
@{
    ViewBag.Title = "Update StopWorking";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var userId = Session[SessionObjects.UserId];
}
<script>
    function doEditProfile() {
        $("#UserID").val('@userId');
        $("#StopWorkType").val("E_SUSPENSE");
        var result = false;
        var IsHoldSal = document.getElementById("IsHoldSal");

        if (IsHoldSal != null && IsHoldSal.checked) {
            $("#IsHoldSal").val("true");
        } else {
            $("#IsHoldSal").val("false");
        }
        onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_StopWorking/', "popupNotification");
            result = true;
        return result;
    };
    function doSaveNew() {
        if (doEditProfile()) {
            KendoRouteMapping('#Hrm_Main_Web/Hre_RegisterSuspense/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.PositionIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_RegisterSuspense_Edit.TranslateString()<a class="link-back" onclick="clickBackSuspense()" style="padding-left: 3px">(@ConstantDisplay.HRM_HR_Back_To_RegisterSuspense_List.TranslateString())</a>
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doEditProfile", Name = "btnEditProfile", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>

<script>
    function clickBackSuspense() {
        var link = $("#CurrentLinkForClickBack").val();
        if (link == "") {
            KendoRouteMapping("#Hrm_Main_Web/Hre_RegisterSuspense/Index#NewTab", "Hrm_Main_Web", '@_hrm_Main_Web');
        }
        else
        {
            clickBack();
        }
    }
</script>