@using HRM.Infrastructure.Utilities;
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Hr.Models

@model HRM.Presentation.Hr.Models.Hre_StopWorkingModel

@{
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@{
    IList<SelectListItem> listTypeSuspense = Enum.GetValues(typeof(EnumDropDown.TypeSuspense))
  .Cast<EnumDropDown.TypeSuspense>()
  .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
  .ToList();

    IList<SelectListItem> listStopWorkStatus = Enum.GetValues(typeof(EnumDropDown.StopWorkStatus))
   .Cast<EnumDropDown.StopWorkStatus>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
   .ToList();
}

<script>
    SetFieldRequiredByScreenName('Hre_StopWorking_SusRegisterComeBack');

    function onSaveClose() {
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/ValidateRegisterComeBack',
            type: 'POST',
            async: false,
            data: queryStringToJSON(slpitQueryEntity($('#form_Sus_RegisterComeBack').serialize())),
            success: function (returnValue) {
                if (returnValue != null && returnValue != "") {
                    CloseHre_ProgressBar();
                    ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', returnValue, "k-block k-info-colored");
                    return;
                }
                else
                {
                    $("#StatusComeBack").val("E_WAITAPPROVE");
                    $("#SusRegisterComeBackInfo_ProfileID").val($("#ProfileIDTemp").val());
                    onSaveAndClose($('#form_Sus_RegisterComeBack'), '@_hrm_Hr_Service', 'api/Hre_StopWorking/', 'gridHre_RegisterSuspense', 'windowSus_RegisterComeBackInfo'); return false;
                }
            },
        });
    }

    function onSaveDataPopUp() {
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/ValidateRegisterComeBack',
            type: 'POST',
            async: false,
            data: queryStringToJSON(slpitQueryEntity($('#form_Sus_RegisterComeBack').serialize())),
            success: function (returnValue) {
                if (returnValue != null && returnValue != "")
                {
                    CloseHre_ProgressBar();
                    ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', returnValue, "k-block k-info-colored");
                    return;
                }
                else {
                    $("#StatusComeBack").val("E_WAITAPPROVE");
                    $("#SusRegisterComeBackInfo_ProfileID").val($("#ProfileIDTemp").val());
                    onlySave($('#form_Sus_RegisterComeBack'), '@_hrm_Hr_Service', 'api/Hre_StopWorking/', 'gridHre_RegisterSuspense'); return false;
                }
            },
        });
    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Sus_RegisterComeBack" }))
{
    <table>
        <tr>
            <td>
                <div id="div1">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.ProfileName)
                        @Html.HiddenFor(mode => mode.ID)
                        @Html.HiddenFor(mode => mode.ProfileID)
                        @Html.HiddenFor(mode => mode.LastStatusSyn)
                        @Html.HiddenFor(mode => mode.StopWorkType)
                        @Html.HiddenFor(mode => mode.DecisionNo)
                        @Html.HiddenFor(mode => mode.Status)
                        @Html.HiddenFor(mode => mode.StatusComeBack)
                    </div>
                    <div class="FieldValue">
                        @{
    IEnumerable valueProfile = new string[] { };
    if (Model != null)
    {
        valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
    }
                        }
                        @{
    var Profile = new MultiSelectBuilderInfo()
     {
         Name = "SusRegisterComeBackInfo_ProfileID",
         DataTextField = Hre_RewardModel.FieldNames.ProfileName,
         DataValueField = Hre_RewardModel.FieldNames.ID,
         Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
         Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
         MaxSelectedItems = 1,
         //  Autobind = true,
         Value = valueProfile,
         //Enable = false
     };
                        }
                        @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.TypeSuspense)
                    </div>
                    <div class="FieldValue">
                        @{
    var _TypeSuspense = new DropDownListBuilderInfo()
    {
        Name = "SusRegisterComeBackInfo_TypeSuspense",
        DataTextField = "Text",
        DataValueField = "Value",
        BindTo = listTypeSuspense,

        Value = (Model == null || Model.TypeSuspense == null) ? null : Model.TypeSuspense

    };
                        }
                        @Html.VnrDropDownListFor(model => model.TypeSuspense, _TypeSuspense)
                    </div>
                    @*<script>
                            $(document).ready(function () {
                                debugger;
                                var stopType = $("#StopWorkType").data("kendoDropDownList");
                                stopType.readonly();

                            });
                        </script>*@
                </div>

                <div id="div41">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.DateStop)
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateStop = new DatePickerBuilderInfo
    {
        Name = "SusRegisterComeBackInfo_DateStop",
        // Enable = false
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateStop, _DateStop)
                    </div>
                </div>
                @*<div id="div5">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.IsHoldSal)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                    var IsHoldSal = new CheckBoxBuilderInfo()
                    {

                    };
                    if (Model != null)
                    {
                        if (Model.IsHoldSal == true)
                        {
                            IsHoldSal.Value = true;
                        }
                        else
                        {
                            IsHoldSal.Value = false;
                        }
                    }
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsHoldSal, IsHoldSal)
                                    </div>

                                </div>*@
                <div id="div41">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.DateExpired)
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateExpired = new DatePickerBuilderInfo
    {
        Name = "SusRegisterComeBackInfo_DateExpired"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateExpired, _DateExpired)
                    </div>
                </div>
                <div id="div41">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.RequestDateComeBack)
                    </div>
                    <div class="FieldValue">
                        @{
    var _RequestDateComeBack = new DatePickerBuilderInfo
    {
        Name = "SusRegisterComeBackInfo_RequestDateComeBack"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.RequestDateComeBack, _RequestDateComeBack)
                    </div>
                </div>
                <div id="div41">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.DateComeBack)
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateComeBack = new DatePickerBuilderInfo
    {
        Name = "SusRegisterComeBackInfo_DateComeBack"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateComeBack, _DateComeBack)
                    </div>
                </div>

                <div id="div8">
                    <div class="FieldTitle170">
                        @Html.VnrLabelFor(mode => mode.Note)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Note)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle170">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Sus-RegisterComeBackInfo", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Sus-RegisterComeBackInfo", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
<script>
    debugger;
    var pro1 = $('#SusRegisterComeBackInfo_ProfileID').data("kendoMultiSelect");
    //var reason1 = $('#SusRegisterComeBackInfo_ResignReasonID').data("kendoComboBox");
    var type1 = $('#SusRegisterComeBackInfo_TypeSuspense').data("kendoDropDownList");
    var dateRepeat1 = $('#SusRegisterComeBackInfo_DateStop').data("kendoDatePicker");

    pro1.readonly();
    type1.readonly();
    //reason1.readonly();
    dateRepeat1.readonly();
</script>
