@using System.Collections

@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Insurance.Models
@using HRM.Infrastructure.Security
@model Ins_ReportJoinInsuranceMonthlyModel
@{
    //BC Tham Gia Bảo Hiểm Tháng
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    Layout = null;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
    string[] valueFields = null;
    var gridName = "gridIns_ReportJoinInsuranceMonthly";
}

@Html.Hidden("Screen", screen)
<script>
    var checkedNodes = [];
    SetFieldRequired();
    var gridName = '@gridName';
    var isCreateTemplate = false;
    var isCreateTemplateForDynamicGrid = false;
    function filterFieldInfo(isExportDDL) {

        checkedNodes = [];
        var treeView = $("#treeviewOrg").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);              
        var elementPara = {
            OrgStructureID: checkedNodes.join(','),
            MonthYear: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#MonthYear").val()),
            ValueFields: $('#valueFieldsGrid').val(),
            CodeEmp: $("#CodeEmp").val(),
            SocialInsPlaceIDs: $('#@Html.FieldIdFor(model => model.SocialInsPlaceID)').val() ? $('#@Html.FieldIdFor(model => model.SocialInsPlaceID)').val() : null,
            IsCreateTemplate: isCreateTemplate,
            IsCreateTemplateForDynamicGrid: isCreateTemplateForDynamicGrid,
            UserID: $("#ProfileIDByUser").val()
        };
        if (isExportDDL == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();

        $("#btnSearch").click(function () {
            //validate
            isCreateTemplate = false;
            var isactive = true;
            $.ajax({
                type: 'POST',
                url: '@_Hrm_Hre_Service' + 'Ins_GetData/ReportJoinInsuranceMonthlyValidate',
                data: filterFieldInfo(),
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data[0] == "error") {
                        ShowNotificationProcessor(data[1]);
                        isactive = false;
                        return isactive;
                    }
                }
            });
            if (isactive == false) {
                return;
            }

            //Chức năng tìm kiếm
            var treeView = $("#treeviewOrg").data("kendoTreeView");
            checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
            ReadGrid(gridName);
            selectedIds = [];
            checkedNodes = [];
            return false;
        });
                
    });

    $("#btnExport").click(function () {
        var isactive = true;
        $.ajax({
            type: 'POST',
            url: '@_Hrm_Hre_Service' + 'Ins_GetData/ReportJoinInsuranceMonthlyValidate',
            data: filterFieldInfo(),
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data[0] == "error") {
                    ShowNotificationProcessor(data[1]);
                    isactive = false;
                    return isactive;
                }
            }
        });
        if (isactive == false) {
            return;
        }

        ShowHre_ProgressBar();

        var isAccess = checkPermission(PrivilegeType.Export, '@ConstantPermission.Ins_ReportJoinInsuranceMonthly');
        if (!isAccess) {
            return;
        }
        if ($('#ddlScreenName').val() == "") {
            ExportFail();
            return;
        }

        $.ajax({
            type: 'POST',
            url: '@_Hrm_Hre_Service' + '/Ins_GetData/ReportJoinInsuranceMonthly',
            data: filterFieldInfo(true),
            dataType: 'json',
            success: function (returnValue) {
                CloseHre_ProgressBar();
                if (returnValue == "-1") {
                    alert("Lỗi Export: <br/>Vui lòng kiểm tra FileTemplate hoặc cấu hình ExportIntem");
                }
                else {
                    var url = '@_hrm_Main_Web' + returnValue;
                    window.location = url;
                }
            },
            error: function () {
                alert("Lỗi hàm Ajax khi Export");
            }

        });
    });



    $("#btnCreateTemplate").click(function () {
        isCreateTemplate = true;
        isCreateTemplateForDynamicGrid = false;
        CreateTemplate('@_Hrm_Hre_Service' + '/Ins_GetData/ReportJoinInsuranceMonthly', filterFieldInfo(true));
    });
</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div class="hrm_box">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.OrgStructureIDs)
                        </div>
                        <div class="FieldValue">
                            @{
                                var org = new TreeViewDropdDownBuilderInfo()
                                {
                                    Width = "220px",
                                    Name = "treeviewOrg",
                                };
                            }
                            @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                        </div>
                    </div>

                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.CodeEmp)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.CodeEmp)
                        </div>
                    </div>  
                </div>

                <div class="hrm_box">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.MonthYear)
                        </div>
                        <div class="FieldValue">
                            @{
                                var RecordDateFrom = new DatePickerBuilderInfo()
                                {
                                    Placeholder = ConstantDisplay.HRM_HR_MonthSearch.TranslateString(),
                                    StyleCss = "width:100px",
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.MonthYear, RecordDateFrom).Format(ConstantFormat.HRM_Format_MonthYear)
                        </div>
                    </div>
                    <div id="dvWorkPlaceID">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.WorkPlaceID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var multiSelectSocialInsPlaceID = new MultiSelectBuilderInfo()
                                {
                                    DataTextField = "ProvinceName",
                                    DataValueField = "ID",
                                    MaxSelectedItems = 10,
                                    Url = _Hrm_Hre_Service + "Cat_GetData/GetMultiProvince",
                                    Placeholder = ConstantDisplay.HRM_Ins_SelectWorkPlace.TranslateString(),
                                    Width = 200
                                };
                            }
                            @Html.VnrMultiSelectFor(mode => mode.SocialInsPlaceID, multiSelectSocialInsPlaceID)
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" style="margin-top:3px">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })

    <div style="float:right">
        <script>
            function GetScreenName() {
                return {
                    screenName: '@screen'
                };
            }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_Hrm_Hre_Service + "Cat_GetData/GetScreenName",
                    Data = "GetScreenName",
                };
            }
            @Html.VnrDropDownList(screenName)
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_ExportReport.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateTemplate", Content = "Tạo temlate", ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        valueFields = new string[]
                        {
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.STT,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CodeEmp,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CostCentreName,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SocialInsNo,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.HealthInsNo,                               
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.ProfileName,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDNo,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDDateOfIssue,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDPlaceOfIssue,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.DateOfBirth,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Gender,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.PAddress,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureName,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureCode,                            
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryInsurance,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryHealthInsurance,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryUnEmpInsurance,
                            Ins_ReportJoinInsuranceMonthlyModel.FieldNames.JobName,
                            //Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Location,
                        };

        var sizeFields = new Dictionary<string, int>()
                        {
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.STT, 50},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CodeEmp, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CostCentreName, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SocialInsNo, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.HealthInsNo, 100},                           
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.ProfileName, 250},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDNo, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDDateOfIssue, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDPlaceOfIssue, 250},                            
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.DateOfBirth, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Gender, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.PAddress, 300},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureName, 150},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureCode, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryInsurance, 150},                            
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryHealthInsurance, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryUnEmpInsurance, 100},
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.JobName, 300},
                            //{Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Location, 200},
                        };

        var displayFields = new Dictionary<string, string>()
                        {
                            {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.STT, ConstantDisplay.HRM_Category_Element_OrderNumber},    
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CodeEmp, ConstantDisplay.HRM_HR_Profile_CodeEmp},    
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.CostCentreName, ConstantDisplay.HRM_HR_Profile_CostCentreID},    
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SocialInsNo, ConstantDisplay.HRM_HR_Profile_SocialInsNo},    
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.HealthInsNo, ConstantDisplay.HRM_HR_Profile_HealthInsNo},                           
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.ProfileName, ConstantDisplay.HRM_HR_Profile_ProfileName},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDNo, ConstantDisplay.HRM_HR_Profile_IDNo},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDDateOfIssue, ConstantDisplay.HRM_HR_Profile_IDDateOfIssue},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.IDPlaceOfIssue, ConstantDisplay.HRM_HR_Profile_IDPlaceOfIssue},                        
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.DateOfBirth, ConstantDisplay.HRM_HR_Profile_DayOfBirth},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Gender, ConstantDisplay.HRM_HR_Profile_Gender},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.PAddress, ConstantDisplay.HRM_HR_Profile_PAAddress},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureName, ConstantDisplay.HRM_HR_Profile_OrgStructureName},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.OrgStructureCode,  "CodeSection"},
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryInsurance, ConstantDisplay.HRM_Insurance_AnalyzeInsurance_SalaryInsurance},                       
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryHealthInsurance, ConstantDisplay.HRM_Insurance_AnalyzeInsurance_SalaryHealthInsurance}, 
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.SalaryUnEmpInsurance, ConstantDisplay.HRM_Insurance_AnalyzeInsurance_SalaryUnEmpInsurance}, 
                        {Ins_ReportJoinInsuranceMonthlyModel.FieldNames.JobName, ConstantDisplay.HRM_Insurance_AnalyzeInsurance_JobName},
                        //{Ins_ReportJoinInsuranceMonthlyModel.FieldNames.Location, ConstantDisplay.HRM_Hre_CandidateGeneral_OrgStructureID},                            
                        };
       
        var grid = new GridBuilderInfo
        {
            Name = gridName,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowEditIcon = false,
            ReadActionUrl = _Hrm_Hre_Service + "Ins_GetData/ReportJoinInsuranceMonthly",
            ReadData = "filterFieldInfo",
        };
    }
    @(Html.VnrGrid<Ins_ReportJoinInsuranceMonthlyModel>(grid))
</div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)