@model HRM.Presentation.Category.Models.CatProvinceModel
@{
     ViewBag.Title = "InsertCatProvince";
   
}

<div class="insert-catcurrency">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>Code</th>
            <td style="width: 50%;">@(Html.EditorFor(model => model.Code))</td>
           
        </tr>
        <tr>
            <th>ProvinceName</th>
            <td>@(Html.EditorFor(model => model.ProvinceName))</td>
           
        </tr>
        <tr>
            <th>Notes</th>
            <td>@(Html.EditorFor(model => model.Notes))</td>
        </tr>
        <tr>
            <th>CountryID</th>
            <td>@(Html.EditorFor(model => model.CountryID))</td>
        </tr>
        <tr>
            <th>RegionID</th>
            <td>@(Html.EditorFor(model => model.RegionID))</td>
        </tr>
        <tr>
            <th>Order</th>
            <td>@(Html.EditorFor(model => model.Order))</td>
        </tr>

    </table>
</div>

