@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Attendance.Models.CatShiftModel
@{
    ViewBag.Title = "InsertCatShift";
   
}

<div class="insert-catcurrency">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.ShiftName)</th>
            <td style="width: 50%;">@(Html.VnrTextBoxFor(model => model.ShiftName))</td>
           
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Code)</th>
            <td>@(Html.VnrTextBoxFor(model => model.Code))</td>
           
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.InTime)</th>
            <td>@(Html.EditorFor(model => model.InTime))</td>
        </tr>
    </table>
</div>

