@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DatePicker
@model HRM.Presentation.Attendance.Models.CatDayOffModel
@{
    ViewBag.Title = "InsertCatShift";
   
}

<div class="insert-catcurrency">
    <table style="width: 80%; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.DateOff)</th>
            <td>@(Html.EditorFor(model => model.DateOff))</td>
           
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Type)</th>
            <td>@(Html.VnrTextBoxFor(model => model.Type))</td>
           
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Status)</th>
            <td>@(Html.VnrTextBoxFor(model => model.Status))</td>
        </tr>

        <tr>
            <th>@Html.VnrLabelFor(mode => mode.OrgStructureID)</th>
            <td>@(Html.VnrTextBoxFor(model => model.OrgStructureID))</td>
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.IsLeaveDay)</th>
            <td>@(Html.VnrTextBoxFor(model => model.IsLeaveDay))</td>
        </tr>
    </table>
</div>

