@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Attendance.Models.CatLeaveDayTypeModel

@{
    ViewBag.Title = "InsertCatLeaveDayType";
   
}

<div class="insert-catLeaveDayType">
    <table style ="width: 80%; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Code)</th>
            <td>@(Html.VnrTextBoxFor(model => model.Code))</td>
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.LeaveDayTypeName)</th>
            <td>@(Html.VnrTextBoxFor(model => model.LeaveDayTypeName))</td>
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.PaidRate)</th>
            <td>@(Html.Kendo().NumericTextBoxFor(model => model.PaidRate))</td>
        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.SocialRate)</th>
            <td>@(Html.Kendo().NumericTextBoxFor(model => model.SocialRate))</td>
        </tr>
        </table>
</div>

