@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Training.Models
@using HRM.Infrastructure.Security
@model Tra_CourseModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}


<script>
    //SetFieldRequired();
    SetFieldRequiredByScreenName("Tra_CourseInfo")
    function changeGrossAmountMoney1(e) {
        $("#Course_GrossAmount").val(e.sender._value);
    };
    $("input[name=IsComplex]").on('change', function () {
        debugger;

        var radioItem = $("input[name=IsComplex]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
                $("#contentTopic").show();
                $("#contentFormula").show();
                $("#contentGrid").show();
                radioItem[i].value = true;
            }
            else {
                $("#contentTopic").hide();
                $("#contentFormula").hide();
                $("#contentGrid").hide();
                radioItem[i].value = false;
            }
        }
    });
    $("input[name=IsTypeHandleFomularAuto]").on('change', function () {
        debugger;

        var radioItem = $("input[name=IsTypeHandleFomularAuto]");
        for (var i = 0; i < radioItem.length; i++) {
            if (radioItem[i].checked) {
                $('#TypeHandleFomular').val('@EnumDropDown.FormulaType.E_TYPEHANDLEFORMULA_AVERAGE.ToString()');
                radioItem[i].value = true;
            }
            else {
                $('#TypeHandleFomular').val('@EnumDropDown.FormulaType.E_TYPEHANDLEFORMULA_NORMAL.ToString()');
                radioItem[i].value = false;
            }
        }
    });

    var data = SetCharacteFieldRequired();
    function doSave() {
        debugger;
        
        $("#Formula").val($("#Formula").val().replace("+", "[+]"));
        var _IsAttendance = document.getElementById("IsAttendance");
        if (_IsAttendance != null && _IsAttendance.checked) {
            $("#IsAttendance").val("true");
        } else {
            $("#IsAttendance").val("false");
        }
        debugger;
        //check phong ban hoc vien
        var checkedNodesCourseStandars = [];
        var treeViewCourseStandars = $("#TraCourseStandards_OrgStructureID").data("kendoTreeView");
        checkedNodeOrderNumbers(treeViewCourseStandars.dataSource.view(), checkedNodesCourseStandars);
        checkedNodesCourseStandars.length > 0 ? $('#@Html.FieldIdFor(model=>model.OrgListCode1)').val(checkedNodesCourseStandars.join(',')) : $('#@Html.FieldIdFor(model => model.OrgListCode1)').val(null);
        if (checkedNodesCourseStandars.length > 0)
        {
            $('#@Html.FieldIdFor(model=>model.OrgListCode1)').val(checkedNodesCourseStandars.join(','));
        }


        //check phong ban giao vien
        var checkedNodes = [];
        var treeView = $("#TabTraCourseTrainer_OrgTrainerID").data("kendoTreeView");
        checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
        checkedNodes.length > 0 ? $('#@Html.FieldIdFor(model=>model.OrgListTrainerCode)').val(checkedNodes.join(',')) : $('#@Html.FieldIdFor(model=>model.OrgListTrainerCode)').val(null);
        if (checkedNodes.length > 0)
        {
            $('#@Html.FieldIdFor(model=>model.OrgListTrainerCode)').val(checkedNodes.join(','));
        }


        var _JobTitleListTrainerCode = $('#TabCourseTrainner_JobTitleTrainerID').val();
        _JobTitleListTrainerCode != null ? $('#@Html.FieldIdFor(model => model.JobTitleListTrainerCode)').val(_JobTitleListTrainerCode.join(',')) : $('#@Html.FieldIdFor(model => model.JobTitleListTrainerCode)').val(null);

        var _JobTitleListCode1 = $('#Trainee_JobTitleID').val();
        _JobTitleListCode1 != null ? $('#@Html.FieldIdFor(model=>model.JobTitleListCode1)').val(_JobTitleListCode1.join(',')) : $('#@Html.FieldIdFor(model=>model.JobTitleListCode1)').val(null);

        var _CourseListTrainerID = $('#Trainner_CourseTrainerID').val();
        _CourseListTrainerID != null ? $('#@Html.FieldIdFor(model=>model.CourseListTrainerID)').val(_CourseListTrainerID.join(',')) : $('#@Html.FieldIdFor(model=>model.CourseListTrainerID)').val(null);


        var _CourseListID = $('#TraCourseStandards_CourseID').val();
        _CourseListID != null ? $('#@Html.FieldIdFor(model=>model.CourseListID)').val(_CourseListID.join(',')) : $('#@Html.FieldIdFor(model=>model.CourseListID)').val(null);

        var _RanklistID = $('#Trainee_RankID').val();
        _RanklistID != null ? $('#@Html.FieldIdFor(model => model.RankListID)').val(_RanklistID.join(',')) : $('#@Html.FieldIdFor(model => model.RankListID)').val(null);
        var _RankTrainnerlistID = $('#Trainner_RankTrainnerID').val();
        _RankTrainnerlistID != null ? $('#@Html.FieldIdFor(model => model.RankTrainerListID)').val(_RankTrainnerlistID.join(',')) : $('#@Html.FieldIdFor(model => model.RankTrainerListID)').val(null);
        var result = false;
        $('input[name=IsComplex]').val(document.getElementById("IsComplex").checked);
        onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Tra_Course/');

        $("#Formula").val($("#Formula").val().replace("[+]", "+"));

        result = true;
        return result;
    };
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Tra_Course/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }

</script>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Tra_Course_Update_Title.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_Tra_Course_Back_Title.TranslateString() + ")", "/Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_TraCourseEdit", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-save_TraCourseEdit", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
