@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities
@using System.Collections;
@using HRM.Presentation.Training.Models;
@model Tra_CourseModel
@{

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    IList<SelectListItem> listSaleTypes = Enum.GetValues(typeof(EnumDropDown.SalesType))
       .Cast<EnumDropDown.SalesType>()
       .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
       .ToList();

    string value = Model != null ? Model.OrgStructureName : "";

}
<script>
   
    $("#IsAllRank").change(function () {
        debugger;
       
        var _RankListData = $("#Trainee_RankID").data("kendoMultiSelect");
       
        if (this.checked) {
            $("#Trainee_RankID").val("");
            $.ajax({
                url: '@_hrm_Hr_Service' + "Cat_GetData/GetMultiSalaryClass",
                type: "POST",
                data: { text: "" },
                dataType: "json",
                success: function (data) {
                    debugger;
                    //var _RankListData = $("#Trainee_RankID").data("kendoMultiSelect");
                    _RankListData.dataSource.filter({});
                    var _rankidlist = [];
                    var datasource = [];
                    for (var i = 0; i < data.length; i++) {

                        datasource.push(data[i]);
                    }
                    for (var i = 0; i < data.length; i++) {

                        _rankidlist.push(data[i].Code);
                    }
                    _RankListData.setDataSource(datasource);
                    _RankListData.value(_rankidlist);
                },
                error: function (data) {
                    _RankListData.value(null);
                }
            });
           
        }
        else {
            _RankListData.value(null);
        }
      
    });
    function ReadDataRankID() {
        return {
            text: ''
        };
    };
    function onChanged(e) {
        debugger;
        if (e.sender._old[0] != null) {
            $("#DurationCourse").show();
        } else {
            var duration = $("#TraCourseStandards_DurationMinCourse").data("kendoNumericTextBox");
            duration.value("");
            $("#DurationCourse").hide();
        }

    }
</script>
<div class="VnRMain">
    <table>
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <div style="display: block; float: left ;padding-top: 10px; ">
                        <div style="float:left">
                            <div class="hrm_box">
                                @Html.HiddenFor(mode => mode.ID)
                                @Html.HiddenFor(mode => mode.Course_ID)

                                <div id="div1">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.CourseID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _CourseID = new MultiSelectBuilderInfo()
                                            {
                                                Name = "TraCourseStandards_CourseID",
                                                DataValueField = "Code",
                                                DataTextField = "CourseName",
                                                Url = _hrm_Hr_Service + "Tra_GetData/GetMultiTraCourse",
                                                Width = 255,
                                                EventChange = "onChanged"
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(model => model.CourseID, _CourseID)
                                        @Html.HiddenFor(model => model.CourseListID)
                                    </div>
                                </div>
                                <div id="DurationCourse" hidden="hidden">
                                    <div>
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelFor(model => model.DurationMinCourse)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                var _DurationMinCourse = new NumericTextBoxBuilderInfo<double>()
                                               {
                                                   Name = "TraCourseStandards_DurationMinCourse",
                                                   StyleCss = "width:80px",
                                                   Format = ConstantFormat.HRM_Format_Number_Double,

                                               };
                                            }
                                            @Html.VnrNumericTextBoxFor(model => model.DurationMinCourse, _DurationMinCourse) @ConstantDisplay.HRM_Common_Search_Month.TranslateString()
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.OrgStructureID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var org = new TreeViewDropdDownBuilderInfo()
                                            {
                                                Name = "TraCourseStandards_OrgStructureID",
                                                Value = Model == null ? string.Empty : Model.OrgStructureName,
                                                SetFieldID = "OrgListCode1",
                                                SetFieldName = "OrgListCode1",
                                                //IsShowCheckBox = false,
                                            };
                                        }
                                        @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                                        @Html.HiddenFor(model => model.OrgListCode1)
                                        @Html.HiddenFor(model => model.OrgStructureName)
                                        <div>
                                            @{
                                                if(Model != null)
                                                {
                                                <script>
                                            $(document).ready(function () {
                                                setTimeout(function () {
                                                    $("#TraCourseStandards_OrgStructureIDinput").val('@Html.Raw(value)');

                                                    var treeView = $("#TraCourseStandards_OrgStructureID").data("kendoTreeView");
                                                    CheckNodeByOrderNumber(treeView.dataSource.view(), '@Model.OrgListCode1'.split(','));
                                                }, 7000);
                                            });
                                        </script>
                                                }
                                            }
                                        </div>
                                        

                                    </div>
                                </div>
                                @*<div>
                                        <div class="FieldTitle170">
                                            @Html.VnrLabelFor(mode => mode.JobTitleID)
                                        </div>
                                        <div class="FieldValue">
                                            @{
                                                IEnumerable valueJobTitle = new string[] { };
                                                if (Model != null)
                                                {
                                                    valueJobTitle = new[] { new { JobTitleName = Model.JobTitleName, ID = Model.JobTitleID } };
                                                }
                                            }
                                            @{
                                                var JobTitleID = new MultiSelectBuilderInfo
                                                {
                                                    Name = "Trainee_JobTitleID",
                                                    DataTextField = "JobTitleName",
                                                    DataValueField = "ID",
                                                    Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                                    MaxSelectedItems = 1,
                                                    Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                                    Value = valueJobTitle,
                                                    Width=255
                                                };
                                            }
                                            @Html.VnrMultiSelectFor(mode => mode.JobTitleID, JobTitleID)
                                        </div>
                                    </div>*@
                                <div>
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(model => model.JobTitleID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _JobTitleID = new MultiSelectBuilderInfo()
                                            {
                                                Name = "Trainee_JobTitleID",
                                                DataTextField = "JobTitleName",
                                                DataValueField = "Code",
                                                Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiJobTitle",
                                                Placeholder = ConstantDisplay.HRM_Category_SelectJobTitle.TranslateString(),
                                                Width = 255
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(model => model.JobTitleID, _JobTitleID)
                                        @Html.HiddenFor(model => model.JobTitleListCode1)
                                    </div>
                                </div>


                                <div id="div1">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.Seniority)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _Seniority = new NumericTextBoxBuilderInfo<int>()
                                            {
                                                StyleCss = "width:80px",
                                                Placeholder = ConstantDisplay.HRM_Tra_Course_Min.ToString().TranslateString()
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.Seniority, _Seniority) @ConstantDisplay.HRM_Tra_Course_Tab_TraCourseStandards_Month.TranslateString()

                                        @{
                                            var _MaxSeniority = new NumericTextBoxBuilderInfo<double>()
                                            {
                                                StyleCss = "width:80px",
                                                Placeholder = ConstantDisplay.HRM_Tra_Course_Max.ToString().TranslateString()
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.MaxSeniority, _MaxSeniority) @ConstantDisplay.HRM_Tra_Course_Tab_TraCourseStandards_Month.TranslateString()
                                    </div>
                                </div>


                                <div id="div1">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.RankID)
                                    </div>
                                    <div class="FieldValue">
                                        @*@{
                                                IEnumerable valueRankList = new string[] { };
                                                if (Model != null)
                                                {
                                                    valueRankList = new[] { new { SalaryClassName = Model.SalaryClassName, ID = Model.ID } };
                                                }
                                            }*@
                                        @{
                                            var _RankID = new MultiSelectBuilderInfo()
                                            {
                                                Name = "Trainee_RankID",
                                                DataValueField = "Code",
                                                DataTextField = "SalaryClassName",
                                                Url = _hrm_Hr_Service + "Cat_GetData/GetMultiSalaryClass",
                                                Autobind = true,
                                                Width = 255
                                            };
                                        }
                                        @Html.VnrMultiSelectFor(model => model.RankID, _RankID)
                                        @Html.HiddenFor(mode => mode.RankListID)

                                        @Html.VnrCheckBoxFor(mode => mode.IsAllRank, new CheckBoxBuilderInfo() { Value = Model != null ? Model.IsAllRank != null ? (bool)Model.IsAllRank : false : false })
                                        @Html.VnrLabelFor(mode => mode.IsAllRank)
                                    </div>
                                </div>

                                <div id=" div1">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelFor(mode => mode.TimeOnCurrentRank)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var _TimeOnCurrentRank = new NumericTextBoxBuilderInfo<int>()
                                            {
                                                StyleCss = "width:80px"
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(mode => mode.TimeOnCurrentRank, _TimeOnCurrentRank) @ConstantDisplay.HRM_Tra_Course_Tab_TraCourseStandards_Month.TranslateString()
                                    </div>
                                </div>




                            </div>
                        </div>

                    </div>

                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            @*<tr>
                    <td class="Box_Bottom_Left"></td>
                    <td class="Box_Bottom_Mid"></td>
                    <td class="Box_Bottom_Right"></td>
                </tr>*@
        </tbody>
    </table>

</div>


<div>
    @{
        if (Model != null)
        {
            <script>
                $(document).ready(function () {
                    debugger;
                    var x = location.href.split('/');
                    var _courseID = x[x.length - 1];
                    $.ajax({
                        type: 'POST',
                        url: '@_hrm_Hr_Service' + 'Tra_GetData/GetDataByCourseID',
                        data: { CourseID: _courseID },
                        dataType: 'json',
                        success: function (returnValue) {
                            debugger;
                            if (returnValue.RankListID != null) {
                                var orgtructureType = $("#Trainee_RankID").data("kendoMultiSelect");
                                orgtructureType.dataSource.filter({});
                                var IDs = returnValue.RankListID.split(",");
                                orgtructureType.value(IDs);
                            }
                            if (returnValue.CourseListID != null) {
                                var _CourseList = $("#TraCourseStandards_CourseID").data("kendoMultiSelect");
                                _CourseList.dataSource.filter({});
                                var _CourseListIDs = returnValue.CourseListID.split(",");
                                _CourseList.value(_CourseListIDs);
                                $("#DurationCourse").show();
                            }
                            if (returnValue.JobTitleListCode1 != null) {
                                var _JobTitleList = $("#Trainee_JobTitleID").data("kendoMultiSelect");
                                _JobTitleList.dataSource.filter({});
                                var _JobTitleCodes = returnValue.JobTitleListCode1.split(",");
                                _JobTitleList.value(_JobTitleCodes);
                            }

                        }
                    });

                });
            </script>
        }

    }
</div>