@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities

@using System.Collections

@model Att_TAMScanLogModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;

    IList<SelectListItem> listSrcType = Enum.GetValues(typeof(EnumDropDown.TamScanLogSrcType))
        .Cast<EnumDropDown.TamScanLogSrcType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
        .ToList();

    IList<SelectListItem> listType = Enum.GetValues(typeof(EnumDropDown.TamScanLogType))
    .Cast<EnumDropDown.TamScanLogType>()
    .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) }).OrderBy(p=>p.Text)
    .ToList();

    SelectList dataStatus = new SelectList(listSrcType, "Value", "Text");
    SelectList dataType = new SelectList(listType, "Value", "Text");


}
<script>
    var uln = $('#UserLoginName').val();
    $("#UserUpdate").val(uln);
    $("#CardCode").attr('readonly', true);
    function select(e) {
        debugger;
        var dataItem = $("#TAMScanLog_ProfileID").data("kendoMultiSelect");
        var rs = dataItem.value();
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/GetCardCodeByProfileID',
            data: { id: rs[0] },
            type: 'POST',
            success: function (data) {
                debugger;
                if (data.length > 1 || data != null) {
                    $("#CardCode").val(data[1].CodeAttendance);
                }
            }
        });

    };
</script>


<script>
    SetFieldRequired();


    function onSave() {
        onSaveAndContinue($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_TAMScanLog/', '@ConstantControlName.HRM_gridAtt_TAMScanLog_Name', '@ConstantControlName.HRM_gridAtt_TAMScanLog_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_TAMScanLog/', '@ConstantControlName.HRM_gridAtt_TAMScanLog_Name', '@ConstantControlName.HRM_gridAtt_TAMScanLog_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {

        onlySave($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_TAMScanLog/', '@ConstantControlName.HRM_gridAtt_TAMScanLog_Name');
        return false;
    }
</script>
<style>
    label {
        min-width: 100px;
    }
</style>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RecruitmentCampaign" }))
{

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            @*<tr>
                    <td class="Box_Top_Left"></td>
                    <td valign="middle" class="Box_Top_Mid"></td>
                    <td class="Box_Top_Right"></td>
                </tr>*@
            <tr><td colspan="3" style=""></td></tr>
            <tr>
             
                <td valign="top">
                    @* <div id="div9">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.OrgStructureID)
                        </div>
                        <div class="FieldValue">
                            @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                        </div>
                        </div>*@
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                            @Html.HiddenFor(mode => mode.UserUpdate)
                        </div>
                        <div class="FieldValue">
                            @{
                                IEnumerable valuepro = new string[] { };
                                if (Model != null)
                                {
                                    valuepro = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                }
                            }
                            @{
                                var mtsProfile = new MultiSelectBuilderInfo()
                                {
                                    Width=300,
                                    Name = "TAMScanLog_ProfileID",
                                    DataTextField = "ProfileName",
                                    DataValueField = "ID",
                                    Url = @_hrm_Hr_Service + "HrMultiSelect/GetMultiProfile",
                                    Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                    MaxSelectedItems = 1,
                                    Value = valuepro,
                                    EventChange = "select"
                                };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ProfileID, mtsProfile))
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.CardCode)
                        </div>
                        <div class="FieldValue">
                            @*@{
                                    var tb = new TextBoxBuilderInfo()
                                    {
                                        //Disabled = true
                                    };
                                }*@
                            @Html.VnrTextBoxFor(model => model.CardCode, "background:#F3EDED")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.TimeLog)
                        </div>
                        <div class="FieldValue">
                            @{
    var timeLog = new DateTimePickerBuilderInfo()
    {

        Name = "TAMScanLog_TimeLog",
        StyleCss = "width:120px",
        
                                };
                            }
                            @Html.VnrDateTimePickerFor(model => model.TimeLog, timeLog)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Type)
                        </div>
                        <div class="FieldValue">
                            @{
                                var Type = new DropDownListBuilderInfo()
                                {
                                    Name = "TAMScanLog_Type",
                                    StyleCss = "width:300px",
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    OptionLabel = ConstantDisplay.HRM_Category_SelectType.TranslateString(),
                                    Value = @Html.DisplayFor(mode => mode.Type).ToString(),
                                    BindTo = listType
                                };
                            }
                            @Html.VnrDropDownListFor(mode => mode.Type, Type)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    @*<div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.SrcType)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SrcType)
                            </div>
                            <div style="clear: both;"></div>
                        </div>*@
                    <div id="div6">
                        @*<div class="FieldTitle">
                                @Html.Label(ConstantDisplay.HRM_Attendance_WorkDay_SrcType.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var _SrcType = new DropDownListBuilderInfo()
                                    {
                                        DataTextField = "Text",
                                        DataValueField = "Value",
                                        OptionLabel = ConstantDisplay.HRM_Attendance_SelectSrcType.TranslateString(),
                                        Value = @Html.DisplayFor(mode => mode.SrcType).ToString(),
                                        BindTo = listSrcType
                                    };
                                }
                                @Html.VnrDropDownListFor(mode => mode.SrcType, _SrcType)
                            </div>
                            <div style="clear: both;"></div>*@
                        <div class="FieldTitle">
                            @*@Html.Label(ConstantDisplay.HRM_Attendance_WorkDay_Status.TranslateString())*@
                            @Html.VnrLabelFor(mode => mode.Status)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _Status = new DropDownListBuilderInfo()
                                {
                                    StyleCss = "width:300px",                                    
                                    Name = "TAMScanLog_Status",
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    OptionLabel = ConstantDisplay.HRM_Category_SelectStatus.TranslateString(),
                                    Value = @Html.DisplayFor(mode => mode.Status).ToString(),
                                    BindTo = listSrcType,
                                };
                            }
                            @Html.VnrDropDownListFor(mode => mode.Status, _Status)
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div8">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.MachineNo)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(mode => mode.MachineNo,"width:300px")
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div7">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Comment)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(mode => mode.Comment, "width:500px;height:100px;")
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
               
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">

                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-TAMScanLog", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-TAMScanLog", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-TAMScanLog", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    @Html.HiddenFor(mode => mode.ID)
    @Html.HiddenFor(mode => mode.UserUpdate)
</div>
}