
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_HDTJobModel
@{
    ViewBag.Title = "Index Hre_HDTJob";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    function doSave1() {
        debugger;
        var result = true;
        ShowHre_ProgressBar();
        var _ProfileID = $('#@Html.FieldIdFor(model => model.ProfileID)').val();
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/GetHDTJobDataByProfileID',
            type: 'POST',
            data: { ProfileID: _ProfileID[0] },
            success: function (result) {
                debugger;
                if ((result != "") && (result.DateTo == undefined)) {
                    CloseHre_ProgressBar();
                    $.when(kendo.ui.ExtOkCancelDialog.show({
                        title: '@Html.Raw(ConstantDisplay.Hrm_Notification.TranslateString())',
                        message: '@Html.Raw(ConstantDisplay.HRM_HR_HDT_NotHaveDateEnd.TranslateString())',
                        icon: "k-ext-warning",
                        width: "355px",
                        height: "105px"
                    })
                      ).done(function (response) {
                          if (response.button == "OK") {
                              onCreate($('#formcreateHDT'), '@_hrm_Hr_Service', 'api/Hre_HDTJob/', "popupNotification");
                          }
                          else if (response.button == "Cancel") {
                              result = false;
                          }
                      });
                }
                else {
                    onCreate($('#formcreateHDT'), '@_hrm_Hr_Service', 'api/Hre_HDTJob/', "popupNotification");
                    CloseHre_ProgressBar();
                    result = true;
                }
            },
        });
        return result;
    };

    function doSaveNew1() {
        debugger;
        var result = true;
        ShowHre_ProgressBar();
        var _ProfileID = $('#@Html.FieldIdFor(model => model.ProfileID)').val();
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/GetHDTJobDataByProfileID',
            type: 'POST',
            data: { ProfileID: _ProfileID[0] },
            success: function (result) {
                debugger;
                if ((result != "") && (result.DateTo == undefined)) {
                    CloseHre_ProgressBar();
                    $.when(kendo.ui.ExtOkCancelDialog.show({
                        title: '@Html.Raw(ConstantDisplay.Hrm_Notification.TranslateString())',
                        message: '@Html.Raw(ConstantDisplay.HRM_HR_HDT_NotHaveDateEnd.TranslateString())',
                        icon: "k-ext-warning",
                        width: "355px",
                        height: "105px"
                    })
                      ).done(function (response) {
                          if (response.button == "OK") {
                              onCreate($('#formcreateHDT'), '@_hrm_Hr_Service', 'api/Hre_HDTJob/', "popupNotification");
                          }
                          else if (response.button == "Cancel") {
                              result = false;
                          }
                      });
                }
                else {
                    onCreate($('#formcreateHDT'), '@_hrm_Hr_Service', 'api/Hre_HDTJob/', "popupNotification");
                    CloseHre_ProgressBar();
                    result = true;
                    KendoRouteMapping('#Hrm_Main_Web/Hre_HDTJob/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
                }
            },
        });
    };
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="formcreateHDT">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.PositionIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_HDTJob_AddNew.TranslateString() <a class="link-back" onclick="clickBackHDT()" style="padding-left: 3px">(@ConstantDisplay.HRM_HR_Back_To_HDTJob_List.TranslateString())</a>
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave1", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew1", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>

<script>
    function clickBackHDT() {
        var link = $("#CurrentLinkForClickBack").val();
        if (link == "") {
            KendoRouteMapping("#Hrm_Main_Web/Hre_HDTJob/Index#NewTab", "Hrm_Main_Web", '@_hrm_Main_Web');
        }
        else {
            clickBack();
        }
    }
</script>