@model HRM.Presentation.Category.Models.CatExportModel
@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_Export.TranslateString();
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
}

<script type="text/javascript">
     
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        
        return {
            ExportName: $('#SExportName').val(),
            ExportCode: $('#SCode').val(),
            ScreenName: $('#SScreenName').val(),
            ObjectName: $('#SObjectName').val()
        };
        //var _form = $('#form-search');
        //var queryEntity = _form.serialize();
        //var entity = queryStringToJSON(queryEntity);
        //return entity;
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {
            var grid = $('#grid_Cat_Export').data("kendoGrid");
            grid.dataSource.read();
        });
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_Export');
        if (!isAccess) {
            return;
        }*@
        //Xử lý nút Edit
        EditGridNewPage("grid_Cat_Export", '#Hrm_Cat_Web/Cat_Export/Edit/', 'Hrm_Cat_Web', '@_hrm_Cat_Web');
    });
    GridCheckbox("grid_Cat_Export");
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_Export');
        if (!isAccess) {
            return;
        }
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();

        DeleteSelectedConfirm("grid_Cat_Export", '@_hrm_Cat_Web' + "Cat_Export/RemoveSelected/", selectedIds);

        return false;
    });


    $("#btnCreateCatExport").kendoButton({

        click: function (e) {
            var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_Export');
            if (!isAccess) {
                return;
            }
            
             KendoRouteMapping('#Hrm_Cat_Web/Cat_Export/Create/', 'Hrm_Cat_Web', '@_hrm_Cat_Web');
        }
    });
    @*function showpage(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        KendoRouteMapping('#Hrm_Cat_Web/Cat_Export/Edit/' + id, 'Hrm_Cat_Web', '@_hrm_Cat_Web');
    }*@
    @*EditGridNewPage("grid_Cat_Export", '#Hrm_Cat_Web/Cat_Export/Edit/', 'Hrm_Cat_Web', '@_hrm_Cat_Web');*@
</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
         
                <div class="contendSearchWidge">
                    <form action="#" method="POST" id="form-search">
                        <div style="float:left">
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(model => model.ExportName)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBox("SExportName", "width:200px")
                                </div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(model => model.Code)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBox("SCode", "width:200px")
                                </div>
                            </div>

                        </div>
                      
                        <div style="float:left">
                            <div id="div4">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(model => model.ScreenName)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBox("SScreenName", "width:200px")
                                </div>
                            </div>

                            <div id="div5">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(model => model.ObjectName)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBox("SObjectName", "width:200px")
                                </div>
                            </div>
                        </div>
                        
                    </form>
</div>
           
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCatExport", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        //Thông tin hiển column hiển thị
        string[] valueFields = new string[]
        {
            CatExportModel.FieldNames.Code,
            CatExportModel.FieldNames.ExportName,
            CatExportModel.FieldNames.ScreenName,
            CatExportModel.FieldNames.ObjectName,
            CatExportModel.FieldNames.SheetIndex,
            CatExportModel.FieldNames.StartRowIndex,
            CatExportModel.FieldNames.StartColumnIndex,
            CatExportModel.FieldNames.TemplateFile,
            CatExportModel.FieldNames.IsProtected,
            CatExportModel.FieldNames.Description
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {CatExportModel.FieldNames.ExportName,150},
            {CatExportModel.FieldNames.Code,80},
            {CatExportModel.FieldNames.ScreenName,150},
            {CatExportModel.FieldNames.ObjectName,150},
            {CatExportModel.FieldNames.SheetIndex,90},
            {CatExportModel.FieldNames.StartRowIndex,100},
            {CatExportModel.FieldNames.StartColumnIndex,90},
            {CatExportModel.FieldNames.TemplateFile,90},
            {CatExportModel.FieldNames.IsProtected,85},
            {CatExportModel.FieldNames.Description,200}

        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {CatExportModel.FieldNames.ExportName , ConstantDisplay.HRM_Category_Export_ExportName },
            {CatExportModel.FieldNames.Code, ConstantDisplay.HRM_Category_Export_Code},
            {CatExportModel.FieldNames.ScreenName , ConstantDisplay.HRM_Category_Export_ScreenName },
            {CatExportModel.FieldNames.ObjectName , ConstantDisplay.HRM_Category_Export_ObjectName },
            {CatExportModel.FieldNames.SheetIndex , ConstantDisplay.HRM_Category_Export_SheetIndex },
            {CatExportModel.FieldNames.StartRowIndex, ConstantDisplay.HRM_Category_Export_StartRowIndex},
            {CatExportModel.FieldNames.StartColumnIndex, ConstantDisplay.HRM_Category_Export_StartColumnIndex},
            {CatExportModel.FieldNames.TemplateFile, ConstantDisplay.HRM_Category_Export_TemplateFile},
            {CatExportModel.FieldNames.IsProtected, ConstantDisplay.HRM_Category_Export_IsProtected},
            {CatExportModel.FieldNames.Description, ConstantDisplay.HRM_Category_Export_Description}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Cat_Export",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            EventCustomEdit = "showpage",
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetExportList",
            ReadData = "filterFieldInfo"
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatExportModel>(grid))
</div>