@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;
@using Kendo.Mvc.UI.Fluent

@model  HRM.Presentation.HrmSystem.Models.Sys_TraConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<int>()
    {
        Format = ConstantFormat.HRM_Format_Int.ToString(),
        StyleCss = "width:70px"
    };
}



<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_System_ConfigTra.TranslateString()
                            </legend>

                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Tra_ExpiredDayWarningFrom.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.ExpiredDayWarningFrom, _NumericTextBoxBuilder)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Tra_ExpiredDayWarningTo.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrNumericTextBoxFor(model => model.ExpiredDayWarningTo, _NumericTextBoxBuilder)
                                </div>
                            </div>
                            
                            <div class="DivContentTitleValue" id="dvIsCheckDuplicateProfile">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Hr_Tra_TraineeInRequirementDetail.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrCheckBoxFor(model=> model.TraineeInRequirementDetail)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>