@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using System.Collections

@using HRM.Presentation.Recruitment.Models

@model Rec_CandidateHistoryModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Guid CdID = Guid.Empty;
    string ID = ViewBag.ID;
    if (!string.IsNullOrEmpty(ID))
    {
        CdID = Common.ConvertToGuid(ID.ToString());
    }
}
<script>
    SetFieldRequiredByScreenName('Rec_CandidateHistory');

    function onSave() {
        onSaveAndContinue($('#form_Rec_CandidateHistory'), '@_hrm_Hre_Service', 'api/Rec_CandidateHistory/', '@ConstantControlName.HRM_Rec_CandidateHistory_Grid_Name', '@ConstantControlName.HRM_Rec_CandidateHistory_PopUp_Name');
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_CandidateHistory'), '@_hrm_Hre_Service', 'api/Rec_CandidateHistory/', '@ConstantControlName.HRM_Rec_CandidateHistory_Grid_Name', '@ConstantControlName.HRM_Rec_CandidateHistory_PopUp_Name');
    }

    function onSaveDataPopUp() {
        onlySave($('#form_Rec_CandidateHistory'), '@_hrm_Hre_Service', 'api/Rec_CandidateHistory/', '@ConstantControlName.HRM_Rec_CandidateHistory_Grid_Name');
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_CandidateHistory" }))
{
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    <div>
                        @{
    if (Model != null)
    {
                @Html.HiddenFor(m => m.CandidateID)
    }
    else
    {
                @Html.Hidden("CandidateID", CdID)
    }
                        }
                    </div>
                    <div>
                        <!--Tên công ty-->
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.CompanyName)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.CompanyName, "width:300px")
                                @Html.HiddenFor(model=>model.ID)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="hrm_box">
                        <!--Điện thoại-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Phone)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Phone, "Width:300px")
                            </div>

                        </div>
                        <!--Ngày bắt đầu-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.DateStart)
                            </div>
                            <div class="FieldValue">
                                @{
    var txtDateStart = new DatePickerBuilderInfo()
    {
        StyleCss = "Width:120px",
    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateStart, txtDateStart)
                            </div>
                        </div>
                        <!--Ngày kết thúc-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.DateFinish)
                            </div>
                            <div class="FieldValue">
                                @{
    var txtDateFinish = new DatePickerBuilderInfo()
    {
        StyleCss = "Width:120px",
        
    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateFinish, txtDateFinish)
                            </div>
                        </div>
                        <!--Chức vụ-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Position)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.Position, "Width:300px")
                            </div>
                        </div>
                        <!--Lương-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Salary)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Salary, "Width:300px")
                            </div>
                        </div>
                        <!--Vị trí sau cùng-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.PositionLast)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.PositionLast, "Width:300px")
                            </div>
                        </div>
                        <!--Lương sau-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SalaryLast)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.SalaryLast, "Width:300px")
                            </div>
                        </div>
                        <!--Công việc chính thức-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Tasks)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.Tasks, "Width:300px")
                            </div>
                        </div>
                        <!--Lí do nghĩ việc-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.ResignReason)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.ResignReason, "Width:300px")
                            </div>
                        </div>
                    </div>
                    <div class="hrm_box">
                        <!--Địa chỉ-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.CompanyAddress)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(mode => mode.CompanyAddress, "Width:300px")
                            </div>
                        </div>
                        <!--Loại-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.BussinessType)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.BussinessType, "Width:300px")
                            </div>
                        </div>
                        <!--Tên-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupName)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupName, "Width:300px")
                            </div>
                        </div>
                        <!--Chức vụ-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupPosition)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupPosition, "Width:300px")
                            </div>
                        </div>
                        <!--Điện thoại di động-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupMobile)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupMobile, "Width:300px")
                            </div>
                        </div>
                        <!--Công ty-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupCompany)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupCompany, "Width:300px")
                            </div>
                        </div>
                        <!--Email-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupEmail)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupEmail, "Width:300px")
                            </div>
                        </div>
                        <!--Ghi chú-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupComment)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupComment, "Width:300px")
                            </div>
                        </div>
                        <!--Quan hệ-->
                        <div id="div4">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SupRelation)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.SupRelation, "Width:300px")
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div>
                        <div id="div3" class="DivContentTitleValue">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.Comment)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextAreaFor(mode => mode.Comment, "width:750px;height:100px;")
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-top:2px; padding-bottom:10px;">
                    <div class="LineFooterCommandEdit">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">

                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-CandidateHistory", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-CandidateHistory", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-CandidateHistory", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
    </table>
}
