@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Recruitment.Models
@using HRM.Infrastructure.Security

@model Rec_CandidateHistoryModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
    string[] valueFields = null;
    var candidateID = Guid.Empty;
    if (ViewData["CandidateID"] != null)
    {
        candidateID = Common.ConvertToGuid(ViewData["CandidateID"].ToString());
    }
    if (Model != null)
    {
        candidateID = Model.ID;
    }
}
@{
    var windowInterview = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_Rec_Interview_PopUp_Name,
        Visible = false,
        LoadContentFrom = @_hrm_Main_Web + "Rec_CandidateHistory/CandidateHistoryInfo/",
    };
}
@(Html.VnrWindow(windowInterview))
<script>
    var titleEditPopUpRecInterview = '@Html.Raw(ConstantDisplay.HRM_Rec_Interview_Update_Title.TranslateString())';
    var titleCreatePopUpRecInterview = '@Html.Raw(ConstantDisplay.HRM_Rec_Interview_Create_Title.TranslateString())';
    var gridName = '@ConstantControlName.HRM_Rec_Interview_Grid_Name';
    var windowName = '@ConstantControlName.HRM_Rec_Interview_PopUp_Name';
    var checkedNodes = [];
    //Xử lý tạo mới
    $("#btnCreate").click(function () {
        
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Rec_Interview');
        if (!isAccess) {
            return;
        }
        PopUpCreate(windowName, titleCreatePopUpRecInterview, '@ConstantPermission.Rec_Interview');
    });
    //Xử Lý grid
    GridCheckbox(gridName);

    //Xử lý delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Rec_Interview/RemoveSelected/", selectedIds, '@ConstantPermission.Rec_Interview');
        return false;
    });
</script>
<div class="commandToolBarWidge">
    <div class="GridTitle">
        @Html.VnrLabel(ConstantDisplay.HRM_REC_CandidateHistory.TranslateString())
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        valueFields = new string[]
        {
            Rec_CandidateHistoryModel.FieldNames.CompanyName,
            Rec_CandidateHistoryModel.FieldNames.CandidateName,
            Rec_CandidateHistoryModel.FieldNames.DateStart,
            Rec_CandidateHistoryModel.FieldNames.DateFinish,
            Rec_CandidateHistoryModel.FieldNames.Tasks,
            Rec_CandidateHistoryModel.FieldNames.PositionLast,
            Rec_CandidateHistoryModel.FieldNames.SupRelation,
            Rec_CandidateHistoryModel.FieldNames.SupMobile,
            Rec_CandidateHistoryModel.FieldNames.UserUpdate,
            Rec_CandidateHistoryModel.FieldNames.DateUpdate
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Rec_CandidateHistoryModel.FieldNames.CompanyName, 120},
            {Rec_CandidateHistoryModel.FieldNames.CandidateName, 120},
            {Rec_CandidateHistoryModel.FieldNames.DateStart, 100},
            {Rec_CandidateHistoryModel.FieldNames.DateFinish, 130},
            {Rec_CandidateHistoryModel.FieldNames.Tasks, 120},
            {Rec_CandidateHistoryModel.FieldNames.PositionLast, 80},
            {Rec_CandidateHistoryModel.FieldNames.SupRelation, 150},
            {Rec_CandidateHistoryModel.FieldNames.SupMobile, 120},
            {Rec_CandidateHistoryModel.FieldNames.UserUpdate, 120},
            {Rec_CandidateHistoryModel.FieldNames.DateUpdate, 120}
        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Rec_CandidateHistoryModel.FieldNames.CompanyName , ConstantDisplay.HRM_Rec_Interview_CodeCandidate},
            {Rec_CandidateHistoryModel.FieldNames.CandidateName , ConstantDisplay.HRM_Rec_Interview_CandidateName},
            {Rec_CandidateHistoryModel.FieldNames.DateStart, ConstantDisplay.HRM_Rec_Interview_PositionName},
            {Rec_CandidateHistoryModel.FieldNames.DateFinish, ConstantDisplay.HRM_Rec_Interview_Interviewer1},
            {Rec_CandidateHistoryModel.FieldNames.Tasks, ConstantDisplay.HRM_Rec_Interview_DateInterview},
            {Rec_CandidateHistoryModel.FieldNames.PositionLast, ConstantDisplay.HRM_Rec_Interview_Status},
            {Rec_CandidateHistoryModel.FieldNames.SupRelation, ConstantDisplay.HRM_Rec_Interview_Totalcomment},
            {Rec_CandidateHistoryModel.FieldNames.SupMobile, ConstantDisplay.HRM_Rec_Interview_TagName},
            {Rec_CandidateHistoryModel.FieldNames.UserUpdate, ConstantDisplay.HRM_Attendance_Overtime_UserUpdate},
            {Rec_CandidateHistoryModel.FieldNames.DateUpdate, ConstantDisplay.HRM_Attendance_Overtime_DateUpdate},
        };
        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Rec_Interview_Grid_Name,
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            AutoBind = true,
            ReadActionUrl = _hrm_Hre_Service + "Rec_GetData/GetCandidateHistoryByCandidateId?ID=" + candidateID,
            ReadData = "filterFieldInfo",
            ShowDeleteButton = true,
            GridHeight = 580,
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Rec_InterviewModel>(grid))
</div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)