@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model  HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel
@{
    ViewBag.Title = "Overtime Permit";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<double>()
    {
        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
        StyleCss = "width:70px"
    };

    var _CheckBoxBuilderInfo = new CheckBoxBuilderInfo() { };

    IList<SelectListItem> listTypeLoadData = Enum.GetValues(typeof(EnumDropDown.TypeLoadData))
      .Cast<EnumDropDown.TypeLoadData>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();
}

<script>
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

        $('#lblSymbolIn').css("visibility", "hidden");
        $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "hidden");
        $('#lblSymbolOut').css("visibility", "hidden");
        $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "hidden");
        selectTypeLoadData();
    });

    function selectTypeLoadData() {
        debugger;
        var x = $('#@Html.FieldIdFor(model => model.TypeLoadData)').val();
        if (x != null && (x == '@EnumDropDown.TypeLoadData.E_TYPEINOUT' || x == '@EnumDropDown.TypeLoadData.E_TYPEINOUT_MAXMIN')) {
            $('#lblSymbolIn').css("visibility", "visible");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "visible");
            $('#lblSymbolOut').css("visibility", "visible");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "visible");
        }
        else {
            $('#lblSymbolIn').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolIn)').val("");
            $('#lblSymbolOut').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').css("visibility", "hidden");
            $('#@Html.FieldIdFor(model => model.SymbolOut)').val("");
        }
    }
</script>


<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Att_WORKDAY_SUMMARY.TranslateString()
                            </legend>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvDetectShift">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_DetectShift.TranslateString())
                                        </div>
                                        <div class="FieldValueConfig">
                                            @{
                                                var _DetectShift = new CheckBoxBuilderInfo()
                                                {
                                                    Value = Model.DetectShift == true ? true : false
                                                };
                                            }
                                            @Html.VnrCheckBoxFor(model => model.DetectShift, _DetectShift)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvMaxHoursOneShift">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_MaxHoursOneShift.TranslateString())
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrNumericTextBoxFor(m => m.MaxHoursOneShift, _NumericTextBoxBuilder)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvMaxHoursNextInOut">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_MaxHoursNextInOut.TranslateString())
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrNumericTextBoxFor(m => m.MaxHoursNextInOut, _NumericTextBoxBuilder)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvMinMinutesSameAtt">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIcon(ConstantDisplay.HRM_WORKDAY_SUMMARY_Att_MinMinutesSameAtt.TranslateString())
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrNumericTextBoxFor(m => m.MinMinutesSameAtt, _NumericTextBoxBuilder)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvTypeLoadData">
                                        <div class="FieldTitleConfig300">
                                            @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_TypeLoadData.TranslateString())
                                        </div>
                                        <div class="FieldValueConfig">
                                            @{
                                                var ddlTypeLoadData = new DropDownListBuilderInfo()
                                                {
                                                    DataTextField = "Text",
                                                    DataValueField = "Value",
                                                    BindTo = listTypeLoadData,
                                                    Value = Model.TypeLoadData,
                                                    EventChange = "selectTypeLoadData"
                                                };
                                            }
                                            @Html.VnrDropDownListFor(model => model.TypeLoadData, ddlTypeLoadData)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvSymbolIn">
                                        <div class="FieldTitle300">
                                            @Html.VnrLabelFor(model => model.SymbolIn)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextBoxFor(model => model.SymbolIn, "width:100px")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:100%">
                                <div style="float:left;">
                                    <div class="DivContentTitleValue" id="dvSymbolOut">
                                        <div class="FieldTitle300">
                                            @Html.VnrLabelFor(model => model.SymbolOut)
                                        </div>
                                        <div class="FieldValueConfig">
                                            @Html.VnrTextBoxFor(model => model.SymbolOut, "width:100px")
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>
                            
                        </fieldset>

                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_ROSTER.TranslateString()
                            </legend>
                            
                            <div class="DivContentTitleValue" id="dvDetectShift">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_IsRosterNonContinue12Hour.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsRosterNonContinue12Hour = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.IsRosterNonContinue12Hour == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsRosterNonContinue12Hour, _IsRosterNonContinue12Hour)
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvShiftCodeRosterGroup">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_ShiftCodeRosterGroup.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.ShiftCodeRosterGroup)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvNameRosterGroup">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_WORKDAY_SUMMARY_NameRosterGroup.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.NameRosterGroup)
                                </div>
                            </div>
                        </fieldset>
</div>
                </td>
<td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>