@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model  HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel
@{
    ViewBag.Title = "Overtime Permit";
    Layout = null;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    var _NumericTextBoxBuilder = new NumericTextBoxBuilderInfo<double>()
    {
        Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
        StyleCss = "width:70px"
    };

    var _CheckBoxBuilderInfo = new CheckBoxBuilderInfo() { };

    IList<SelectListItem> listTypeLoadData = Enum.GetValues(typeof(EnumDropDown.TypeLoadData))
      .Cast<EnumDropDown.TypeLoadData>()
      .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
      .ToList();
}
<script>
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    });

    function pickerSelect(e) {
        debugger;
        //$("#ColorCode").val(e.value);
        $('#@Html.FieldIdFor(model => model.limitColor)').val(e.value);
    }
    function pickerSelect1(e) {
        debugger;
        //$("#ColorCode").val(e.value);
        $('#@Html.FieldIdFor(model => model.limitColor_Lev1)').val(e.value);
    }
    function pickerSelect2(e) {
        debugger;
        //$("#ColorCode").val(e.value);
        $('#@Html.FieldIdFor(model => model.limitColor_Lev2)').val(e.value);
    }
</script>

<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Att_OTPermit_Title.TranslateString()
                                @*Cấu Hình Giờ Làm Việc*@
                            </legend>
                            @*Số giờ làm việc tối đa*@
                            <div style="float: left; padding-right: 30px">
                                <div class="DivContentTitleValue" id="dvlimitHour_ByDay">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByWeek">
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByMonth">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByYear">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left;">
                                <div class="DivContentTitleValue" id="dvlimitColor">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(mode => mode.limitColor, "width: 70px")
                                        @(Html.Kendo().ColorPicker()
                                            .Name("Colorlimit")
                                            .Value(!string.IsNullOrEmpty(Model.limitColor) ? Model.limitColor : "#22cc22")
                                            .Events(events => events
                                            .Select("pickerSelect")))
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_Normal">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_Normal = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal, _IsAllowOverLimit_Normal)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_AllowOver">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_AllowOver = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver, _IsAllowOverLimit_AllowOver)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Att_OTPermit_Title_1.TranslateString()
                            </legend>
                            <div style="float: left; padding-right: 30px">
                                <div class="DivContentTitleValue" id="dvlimitHour_ByDay_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev1, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByWeek_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev1, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByMonth_Lev1">
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev1, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByYear_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev1, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left;">
                                <div class="DivContentTitleValue" id="dvlimitColor_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(m => m.limitColor_Lev1, "width: 70px")
                                        @(Html.Kendo().ColorPicker()
                        .Name("Colorlimit1")
                                        .Value(!string.IsNullOrEmpty(Model.limitColor_Lev1) ? Model.limitColor_Lev1 : "#22cc22")
                        .Events(events => events
                        .Select("pickerSelect1")))
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_Normal_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_Normal_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev1 == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev1, _IsAllowOverLimit_Normal_Lev1)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_AllowOver_Lev1">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_AllowOver_Lev1 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev1 == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev1, _IsAllowOverLimit_AllowOver_Lev1)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
               
                    <div style="display:block; padding-top:10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Att_OTPermit_Title_2.TranslateString()
                            </legend>
                            <div style="float: left; padding-right: 30px">
                                <div class="DivContentTitleValue" id="dvlimitHour_ByDay_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByDay.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByDay_Lev2, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByWeek_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByWeek.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByWeek_Lev2, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByMonth_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByMonth.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByMonth_Lev2, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvlimitHour_ByYear_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitHour_ByYear.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrNumericTextBoxFor(m => m.limitHour_ByYear_Lev2, _NumericTextBoxBuilder)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left;">
                                <div class="DivContentTitleValue" id="dvlimitColor_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_limitColor.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @Html.VnrTextBoxFor(m => m.limitColor_Lev2, "width: 70px")
                                        @(Html.Kendo().ColorPicker()
                                              .Name("Colorlimit2")
                                              .Value(!string.IsNullOrEmpty(Model.limitColor_Lev2) ? Model.limitColor_Lev2 : "#22cc22")
                                              .Events(events => events
                                                  .Select("pickerSelect2")))
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_Normal_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_Normal.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_Normal_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_Normal_Lev2 == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_Normal_Lev2, _IsAllowOverLimit_Normal_Lev2)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="dvIsAllowOverLimit_AllowOver_Lev2">
                                    <div class="FieldTitleConfig300" >
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_OTPermit_IsAllowOverLimit_AllowOver.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig">
                                        @{
                                            var _IsAllowOverLimit_AllowOver_Lev2 = new CheckBoxBuilderInfo() { Value = Model.IsAllowOverLimit_AllowOver_Lev2 == true ? true : false };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsAllowOverLimit_AllowOver_Lev2, _IsAllowOverLimit_AllowOver_Lev2)
                                    </div>
                                </div>
                            </div>
                            
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_IsAllowSplit.TranslateString(), ConstantDisplay.HRM_Att_IsAllowSplit.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsAllowSplit = new CheckBoxBuilderInfo() { Value = Model.IsAllowSplit == true ? true : false };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsAllowSplit, _IsAllowSplit)
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="div13">
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Att_IsAllowCut.TranslateString(), ConstantDisplay.HRM_Att_IsAllowCut.TranslateString())
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var _IsAllowCut = new CheckBoxBuilderInfo() { Value = Model.IsAllowCut == true ? true : false };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.IsAllowCut, _IsAllowCut)
                                </div>
                            </div>

                        </fieldset>
                    </div>
                
                 
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>