@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@using VnResource.ARTS.Library
@model HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Att_Service = ConstantPathWeb.Hrm_Att_Service;
}
<script>
    $(document).ready(function () {
        $('input[type=checkbox]').change(function () {
            if ($(this).is(':checked')) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
    });

 $("#CheckConnect_1").click(function () {
        showAjaxLoading();
        var Att_ServerName1 = $('#@Html.FieldIdFor(model => model.Att_ServerName1)').val();
        var Att_UserID1 = $('#@Html.FieldIdFor(model => model.Att_UserID1)').val();
        var Att_Password1 = $('#@Html.FieldIdFor(model => model.Att_Password1)').val();
        var Att_DBName1 = $('#@Html.FieldIdFor(model => model.Att_DBName1)').val();

        $.ajax({
            url: '@_hrm_Att_Service' + 'Att_GetData/CheckConnectTAMConfig',
            data: {
                serverName: Att_ServerName1,
                userId: Att_UserID1,
                password: Att_Password1,
                dbName: Att_DBName1,
            },
            type: 'POST',
            success: function (isConnect) {
                hideAjaxLoading();
                if (isConnect == "True") {
                    $("#idTamStatus1").attr("style", "color:green; font-weight: bold");
                    $("#idTamStatus1").text("ON");
                } else {
                    $("#idTamStatus1").attr("style", "color:red; font-weight: bold");
                    $("#idTamStatus1").text("OFF");
                }
            },
        });
    });
    // [Son.Vo] - 20140802 - Kiểm tra kết nối đến server 2
    $("#CheckConnect_2").click(function () {
        showAjaxLoading();
        var Att_ServerName2 = $('#@Html.FieldIdFor(model => model.Att_ServerName2)').val();
        var Att_UserID2 = $('#@Html.FieldIdFor(model => model.Att_UserID2)').val();
        var Att_Password2 = $('#@Html.FieldIdFor(model => model.Att_Password2)').val();
        var Att_DBName2 = $('#@Html.FieldIdFor(model => model.Att_DBName2)').val();

        $.ajax({
            url: '@_hrm_Att_Service' + 'Att_GetData/CheckConnectTAMConfig',
            data: {
                serverName: Att_ServerName2,
                userId: Att_UserID2,
                password: Att_Password2,
                dbName: Att_DBName2,
            },
            type: 'POST',
            success: function (isConnect) {
                hideAjaxLoading();
                if (isConnect == "True") {
                    $("#idTamStatus2").attr("style", "color:green; font-weight: bold");
                    $("#idTamStatus2").text("ON");
                } else {
                    $("#idTamStatus2").attr("style", "color:red; font-weight: bold");
                    $("#idTamStatus2").text("OFF");
                }
            },
        });
    });

</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <div style="display: block; padding-top: 10px;">
                <fieldset>
                    <legend>
                        @ConstantDisplay.HRM_Attendance_TAMData.TranslateString()
                    </legend>
                    <div style="float: left;padding-right: 20px">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Server1.TranslateString()
                            </legend>
                            <legend>
                                @ConstantDisplay.HRM_System_Config_Database.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="dvAtt_IsActive1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_IsActive1)
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var checkIsActive1 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsActive1, checkIsActive1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_ServerName1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_ServerName1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_ServerName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_UserID1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_UserID1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_UserID1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_Password1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_Password1)
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var pass1 = new PasswordBuilderInfo() { };
                                    }
                                    @Html.VnrPasswordFor(mode => mode.Att_Password1, pass1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_DBName1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_DBName1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DBName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <br />
                            <legend>
                                @ConstantDisplay.HRM_System_Config_TAM.TranslateString()
                            </legend>

                            <div class="DivContentTitleValue" id="dvAtt_TableName1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_TableName1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_TableName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_DataColName1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_DataColName1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DataColName1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_CardColName1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_CardColName1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_CardColName1)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_In_Out1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_In_Out1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_In_Out1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_SerialNumber1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_SerialNumber1)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_SerialNumber1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_FilterData1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterData1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterData1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_FilterDataSplit1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterDataSplit1)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterDataSplit1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_IsCodeEmp1">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_IsCodeEmp1)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsCode1 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsCodeEmp1, checkIsCode1)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="div2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "CheckConnect_1", Content = ConstantDisplay.HRM_System_CheckConnect.TranslateString(), ImageUrl = ConstantPath.IconCheckConnect })
                                </div>
                                <div class="FieldValue">
                                    <span id="idTamStatus1" style="padding-top: 10px; float: left"></span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="float: left">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_Server2.TranslateString()
                            </legend>
                            <legend>
                                @ConstantDisplay.HRM_System_Config_Database.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="dvAtt_IsActive2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_IsActive2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsActive2 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsActive2, checkIsActive2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_ServerName2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_ServerName2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_ServerName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_UserID2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_UserID2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_UserID2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_Password2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_Password2)
                                </div>
                                <div class="FieldValueConfig">
                                    @{
                                        var pass2 = new PasswordBuilderInfo() { };
                                    }
                                    @Html.VnrPasswordFor(mode => mode.Att_Password2, pass2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_DBName2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_DBName2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DBName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <br />
                            <legend>
                                @ConstantDisplay.HRM_System_Config_TAM.TranslateString()
                            </legend>
                            <div class="DivContentTitleValue" id="dvAtt_TableName2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_TableName2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_TableName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_DataColName2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_DataColName2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_DataColName2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_CardColName2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_CardColName2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_CardColName2)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_In_Out2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_In_Out2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_In_Out2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_SerialNumber2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelIconFor(mode => mode.Att_SerialNumber2)
                                </div>
                                <div class="FieldValueConfig">
                                    @Html.VnrTextBoxFor(mode => mode.Att_SerialNumber2)
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvAtt_FilterData2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterData2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterData2)
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="DivContentTitleValue" id="dvAtt_FilterDataSplit2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_FilterDataSplit2)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(mode => mode.Att_FilterDataSplit2)
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="DivContentTitleValue" id="dvAtt_IsCodeEmp2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrLabelFor(mode => mode.Att_IsCodeEmp2)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var checkIsCode2 = new CheckBoxBuilderInfo() { };
                                    }
                                    @Html.VnrCheckBoxFor(mode => mode.Att_IsCodeEmp2, checkIsCode2)
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div id="div2">
                                <div class="FieldTitleConfig200">
                                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "CheckConnect_2", Content = ConstantDisplay.HRM_System_CheckConnect.TranslateString(), ImageUrl = ConstantPath.IconCheckConnect })
                                </div>
                                <div class="FieldValue">
                                    <span id="idTamStatus2" style="padding-top: 8px; float: left"></span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>













