@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo.TabStrip
@using HRM.Presentation.Hr.Models
@{
    Layout = null;
}

@model  HRM.Presentation.HrmSystem.Models.Sys_AttConfigModel

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            @ConstantDisplay.HRM_Att_OTPermit.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_Att_WORKDAY_SUMMARY.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_ATT_LEAVE.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_Att_Overtime.TranslateString()
        </li>
        <li>
            @ConstantDisplay.HRM_Attendance_TAMData.TranslateString()
        </li>
        @*<li>
            @{
                if (Model != null)
                {
                    @ConstantDisplay.HRM_HR_Profile_Quit.TranslateString()
                }
            }
        </li>*@
    </ul>
    <div>
        @Html.Partial("Att_OvertimePermit", Model)
    </div>
    <div>
        @Html.Partial("Att_Workday_Summary", Model)
    </div>
    <div>
        @Html.Partial("Att_Leave", Model)
    </div>
    <div>
        @Html.Partial("Att_Overtime", Model)
    </div>
    <div>
        @Html.Partial("Sys_ConfigDB", Model)
    </div>
    @*<div>
        @{
            if (Model != null)
            {
                @Html.Partial("Hre_ProfileQuit", Model)
            }
        }
    </div>*@
    @*<div>
            @{
                var prodileId = Guid.Empty;
                if (Model != null)
                {
                    prodileId = Model.ID;
                }
                var tempModel = new Hre_ProfilePartyUnionModel()
                {
                    ProfileID = prodileId
              };}
            @Html.Partial("Hre_PartyAndUnion", tempModel)
        </div>*@
</div>
<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>