@using HRM.Infrastructure.Utilities
@using System.Collections
@using HRM.Infrastructure.Security
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo

@model FIN_ClaimModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _Hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;


}

<script>
    




    //Truyền nhiều id trên lưới


    function filterFieldInfo() {
        
        var ClaimID = "";
        if ($("#Claim_ID").val() != '') {
            ClaimID = $("#Claim_ID").val();
        }
        //else {
        //    ClaimID = $("#ID").val();
        //}
        return {
            ClaimID: ClaimID
        };
    }
    //var gridName = "gridFIN_ClaimItem";
    //Xử lý delete




</script>

<!--Form dùng cho edit và update-->
<div class="VnRMain">
    <table style="width:100%">
        <tbody>

            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="display: block; padding-top: 10px;">
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.Claim_ID)
                        @Html.HiddenFor(model => model.ProfileID)
                        <div style="float:left; width:100%">
                            <div style="float: left; width: 500px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelForNoneIcon(model => model.TravelRequestName)
                                        </div>
                                        <div class="FieldValueView"  style="min-height:24px">

                                            @Html.DisplayFor(mode => mode.TravelRequestName)
                                        </div>
                                    </div>

                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ClaimCode)
                                        </div>
                                        <div class="FieldValueView"  style="min-height:24px">

                                            @Html.DisplayFor(mode => mode.ClaimCode)
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div>
                                        <div class="FieldTitle150">
                                            @Html.VnrLabelFor(mode => mode.ClaimName)
                                        </div>
                                        <div class="FieldValueView"  style="min-height:24px">

                                            @Html.DisplayFor(mode => mode.ClaimName)
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                   
                                        <div>
                                            <div class="FieldTitle150">
                                                @Html.VnrLabelFor(mode => mode.AccountCode)
                                            </div>
                                            <div class="FieldValueView"  style="min-height:24px">

                                                @Html.DisplayFor(mode => mode.AccountCode)
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                            </div>
                             
                        </div>
                        </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>

        <div>
            <!--Khai báo các thông tin cho Grid-->
            @{
                string[] valueFields = new[]
                    {
                        FIN_ClaimItemModel.FieldNames.Date,
                        FIN_ClaimItemModel.FieldNames.Amount,
                        FIN_ClaimItemModel.FieldNames.Description,
                    };

                var sizeFields = new Dictionary<string, int>()
                    {
                        {FIN_ClaimItemModel.FieldNames.Date,100},
                        {FIN_ClaimItemModel.FieldNames.Amount,100},
                        {FIN_ClaimItemModel.FieldNames.Description,110},
                    };

                var filterable = new Dictionary<string, bool>()
                    {
                        {FIN_ClaimItemModel.FieldNames.Date,true},
                        {FIN_ClaimItemModel.FieldNames.Amount,true},
                        {FIN_ClaimItemModel.FieldNames.Description,true},
                    };

                var displayFields = new Dictionary<string, string>()
                    {
                        {FIN_ClaimItemModel.FieldNames.Amount,ConstantDisplay.FIN_ClaimItem_Amount},
                        {FIN_ClaimItemModel.FieldNames.Date,ConstantDisplay.FIN_ClaimItem_Date},
                        {FIN_ClaimItemModel.FieldNames.Description,ConstantDisplay.FIN_ClaimItem_Description},
                    };

                var grid = new GridBuilderInfo
                {
                    Name = "gridFIN_ApproveClaimItem",
                    ValueFields = valueFields,
                    SizeFields = sizeFields,
                    DisplayFields = displayFields,
                    Filterable = filterable,
                    AutoBind = true,
                    ShowEditButton = false,
                    ShowEditIcon = false,
                    GridHeight = 350,
                    ReadActionUrl = _Hrm_Hre_Service + "Hre_GetData/GetClaimItemByClaimID/",
                    ReadData = "filterFieldInfo",

                    ShowCheckAll = false,
                    ShowCheckbox = false
                };
            }

            @(Html.VnrGrid<FIN_ClaimItemModel>(grid))
        </div>


