@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.CatLeaveDayTypeModel
@{
    ViewBag.Title = "Update CatPosition";
    Layout = null;
    //var _hrm_Hr_Service = ConstantPathWeb._hrm_Hr_Service;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;



    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    var lineId = Model == null ? Guid.Empty : Model.ID;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Sys_Service;
    var GEmpty = Guid.Empty;
}
}
<script>
    SetFieldRequired();
    function validate() {
        if ($("#PaidRate").val() == null || $("#PaidRate").val() == "") {
            ShowNotificationProcessor("[" + "@ConstantDisplay.HRM_Category_LeaveDayType_PaidRate.TranslateString()" + "] Không Được Bỏ Trống.");
            return false;
        }
        if ($("#SocialRate").val() == null || $("#SocialRate").val() == "") {
            ShowNotificationProcessor("[" + "@ConstantDisplay.HRM_Category_LeaveDayType_SocialRate.TranslateString()" + "] Không Được Bỏ Trống.");
            return false;
        }
        if ($("#Penalty").val() == null || $("#Penalty").val() == "") {
            ShowNotificationProcessor("[" + "@ConstantDisplay.HRM_Category_LeaveDayType_Penalty.TranslateString()" + "] Không Được Bỏ Trống.");
            return false;
        }
        return true;
    }
    var doSave = function () {
        if (validate() == true) {
            var result = false;
            
            var user = $('#UserLoginName').val()
            if ($('#@Html.FieldIdFor(model => model.ID)').val() != "" && $('#@Html.FieldIdFor(model => model.ID)').val() != '@GEmpty') {
                $('#@Html.FieldIdFor(model => model.UserUpdate)').val(user);
            }

            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/CatLeaveDayType/');
            result = true;

            return result;
        }
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Cat_LeaveDayType/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.PositionIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Category_LeaveDayType_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Category_Back_To_LeaveDayType_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
