@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Recruitment.Models

@model HRM.Presentation.Recruitment.Models.Rec_CandidateModel
@{    
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    @Html.HiddenFor(mode => mode.ID)
</div>
<div class="VnRMain">
    <div id="tabtrip">
        <ul>
            <li class="k-state-active">@ConstantDisplay.CandidateRegister.TranslateString()</li>
            <li> @ConstantDisplay.CandidateInformation.TranslateString()</li>
            <li>@ConstantDisplay.CandidateDetail.TranslateString()</li>
        </ul>
        <div>
            @Html.Partial("Tab_CandidateRegister", Model)
        </div>
        <div>
            @Html.Partial("Tab_RecruitmentInfo", Model)
        </div>
        <div>
            @Html.Partial("Tab_DetailInfo", Model)
        </div>
    </div>
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabtrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } }
        });
    });

</script>


