@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Recruitment.Models
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Security

@model Rec_CandidateModel
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var candidateID = Guid.Empty;
    if (ViewBag.ID != null)
    {
        candidateID = ViewBag.ID;
    }
}
@{
    var windowCandiateHistory = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_Rec_CandidateHistory_PopUp_Name,
        Visible = false,
        Width = 630,
        LoadContentFrom = @_hrm_Main_Web + "Rec_Candidate/RecCandidateHistoryInfo?candidateID=" + candidateID,
    };
}
@(Html.VnrWindow(windowCandiateHistory))
<script>
    var titleEditPopUpRecCandidateHistory = '@Html.Raw(ConstantDisplay.HRM_Rec_CandidateHistory_Update_Title.TranslateString())';
    var titleCreatePopUpRecCandidateHistory = '@Html.Raw(ConstantDisplay.HRM_Rec_CandidateHistory_Create_Title.TranslateString())';
    var gridName = '@ConstantControlName.HRM_Rec_CandidateHistory_Grid_Name';
    var windowName = '@ConstantControlName.HRM_Rec_CandidateHistory_PopUp_Name';
    //Xử lý tạo mới
    $("#btnCreateCandidateHistory").click(function () {
        PopUpCreate(windowName, titleCreatePopUpRecCandidateHistory, '@ConstantPermission.Rec_RecruitmentHistory');
    });
    //Xử Lý grid
    GridCheckbox(gridName);
    //Xử lý delete
    $('#btnDeleteCandidateHIstory').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Rec_CandidateHistory/RemoveSelected/", selectedIds, '@ConstantPermission.Rec_Candidate');
        return false;
    });

    $(document).ready(function () {
        var url = '@_hrm_Main_Web' + "Rec_Candidate/RecCandidateHistoryInfo/";
        EditGridPopUp(gridName, windowName, url, '@ConstantPermission.Rec_CandidateHistory', titleEditPopUpRecCandidateHistory);
    });

    function filterFieldInfo() {
        return {
            candidateID: $("#" + '@ConstantDisplay.HRM_Rec_GeneralCandidate_H_IdCandidate').val()
        };
    }
</script>
<div style="padding-top: 3px">
    <div class="commandToolBarWidge">
        <div class="GridTitle">
            @Html.VnrLabel(ConstantDisplay.HRM_REC_CandidateExperience.TranslateString())
        </div>
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCandidateHistory", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDeleteCandidateHIstory", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <!--Khai báo các thông tin cho Grid-->
        @{
            string[] valueFields = new string[]
        {
                            Hre_CandidateHistoryModel.FieldNames.CompanyName,
                            Hre_CandidateHistoryModel.FieldNames.Phone,
                            Hre_CandidateHistoryModel.FieldNames.DateStart,
                            Hre_CandidateHistoryModel.FieldNames.DateFinish,
                            Hre_CandidateHistoryModel.FieldNames.SupPosition,
                            Hre_CandidateHistoryModel.FieldNames.PositionLast,
                            Hre_CandidateHistoryModel.FieldNames.SalaryLast,
                            Hre_CandidateHistoryModel.FieldNames.ResignReason,
        };

            //Set độ rộng cho từng column
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Hre_CandidateHistoryModel.FieldNames.CompanyName, 130},
                            {Hre_CandidateHistoryModel.FieldNames.Phone, 130},
                            {Hre_CandidateHistoryModel.FieldNames.DateStart,130},
                            {Hre_CandidateHistoryModel.FieldNames.DateFinish, 130},
                            {Hre_CandidateHistoryModel.FieldNames.SupPosition, 130},
                            {Hre_CandidateHistoryModel.FieldNames.PositionLast, 130},
                            {Hre_CandidateHistoryModel.FieldNames.SalaryLast, 130},
                            {Hre_CandidateHistoryModel.FieldNames.ResignReason, 130},
        };

            //Thông tin hiển thị được dịch
            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
           {Hre_CandidateHistoryModel.FieldNames.CompanyName, ConstantDisplay.HRM_HR_CandidateHistory_CompanyName},
                            {Hre_CandidateHistoryModel.FieldNames.Phone, ConstantDisplay.HRM_HR_CandidateHistory_Phone},
                            {Hre_CandidateHistoryModel.FieldNames.DateStart, ConstantDisplay.HRM_HR_CandidateHistory_DateStart},
                            {Hre_CandidateHistoryModel.FieldNames.DateFinish, ConstantDisplay.HRM_HR_CandidateHistory_DateFinish},
                            {Hre_CandidateHistoryModel.FieldNames.SupPosition, ConstantDisplay.HRM_HR_CandidateHistory_SupPosition},
                            {Hre_CandidateHistoryModel.FieldNames.PositionLast, ConstantDisplay.HRM_HR_CandidateHistory_PositionLast},
                            {Hre_CandidateHistoryModel.FieldNames.SalaryLast, ConstantDisplay.HRM_HR_CandidateHistory_SalaryLast},
                            {Hre_CandidateHistoryModel.FieldNames.ResignReason, ConstantDisplay.HRM_HR_Profile_ResignReason},
        };
            var grid = new GridBuilderInfo
            {
                Name = ConstantControlName.HRM_Rec_CandidateHistory_Grid_Name,
                ValueFields = valueFields,
                AutoBind = true,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ReadActionUrl = _hrm_Hre_Service + "Rec_GetData/GetCandidateHistoryByCandidateID",
                ReadData = "filterFieldInfo",
                ShowDeleteButton = true,
                GridHeight = 580,
            };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<Hre_CandidateHistoryModel>(grid))
    </div>
</div>
