@using HRM.Infrastructure.Utilities;
@using HRM.Infrastructure.Security;
@using HRM.Presentation.UI.Controls.Kendo;

@model HRM.Presentation.Recruitment.Models.Rec_RecruitmentHistorySearchModel
@{
    // ViewBag.Title = ConstantDisplay.HRM_Rec_Candidate_Title.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var candidateID = Guid.Empty;
    if (ViewBag.CandidateID != null)
    {
        candidateID = ViewBag.CandidateID;
    }
}
<script type="text/javascript">

    ReadGrid("gridTab_RecruitmentHistory");
    function filterInfo(isexport) {

        return {
            CandidateID: $("#CandidateID").val(),
            ValueFields: $("#valueFieldsGridRecruitmentHistory").val(),
            IsExport: isexport
        };
    };
    $("#btnExportAll").click(function () {
        var grid = $('#gridTab_RecruitmentHistory').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Rec_GetData/ExportAllRecruitmentHistoryList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Rec_Candidate');
    });

</script>
<div style="padding-top: 3px">
    <div>
        @{
            if (Model != null)
            {
                @Html.HiddenFor(mode => mode.CandidateID)
            }
            else
            {
                @Html.Hidden("CandidateID", candidateID)
            }

        }

    </div>
    <div class="commandToolBarWidge" id="anchor">
        <div style="float:left">

        </div>
        <div style="float:right">
            <div class="btn-group">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath})
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <!--Khai báo các thông tin cho Grid-->
        @using HRM.Presentation.Recruitment.Models
        @using HRM.Presentation.UI.Controls.Kendo
        @{
            string[] valueFields = new string[]
        {
            Rec_RecruitmentHistoryModel.FieldNames.CandidateName,
            Rec_RecruitmentHistoryModel.FieldNames.PositionName,
            Rec_RecruitmentHistoryModel.FieldNames.DateApply,

        };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Rec_RecruitmentHistoryModel.FieldNames.CandidateName,130},
            {Rec_RecruitmentHistoryModel.FieldNames.PositionName,140},
            {Rec_RecruitmentHistoryModel.FieldNames.DateApply,120},
        };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {

            {Rec_RecruitmentHistoryModel.FieldNames.CandidateName, ConstantDisplay.HRM_Rec_Candidate_CandidateName},
            {Rec_RecruitmentHistoryModel.FieldNames.PositionName, ConstantDisplay.HRM_REC_Candidate_Position},
            {Rec_RecruitmentHistoryModel.FieldNames.DateApply,  ConstantDisplay.HRM_REC_Candidate_DateApply}
        };
            var grid = new GridBuilderInfo
            {
                Name = "gridTab_RecruitmentHistory",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ReadData = "filterInfo",
                AutoBind = true,
                ShowEditIcon = false,
                ShowCheckbox = false,
                ReadActionUrl = _hrm_Hre_Service + "Rec_GetData/GetRecruitmentHistoryList/",

            };
        }
        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<HRM.Presentation.Recruitment.Models.Rec_RecruitmentHistoryModel>(grid))
    </div>
</div>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGridRecruitmentHistory", valueFields1)
