@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Recruitment.Models

@model Rec_CandidateModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var candidateID = Guid.Empty;
    if (Model != null)
    {
        candidateID = Model.ID;
    }
}
<div class="VnRMain">
    <table style="width: 100%; height: 580px; vertical-align: top">
        <tbody>
            <tr>
                <td valign="top" style="background-color: #ffffff; vertical-align: top">
                    <div style="display: block; vertical-align: top; padding-top: 10px;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_REC_CandidateInfo.TranslateString()
                            </legend>
                            <div style="float: left; width: 450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CandidateName)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CandidateName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.CodeCandidate)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.CodeCandidate)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.DateOfBirth)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PlaceOfBirth)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PlaceOfBirth)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.GenderView)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.GenderView)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.MarriageStatus)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.MarriageStatusView)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left; width: 450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.NationalityID)
                                    </div>
                                    <div class="FieldValueView">  
                                        @Html.DisplayFor(model => model.NationalityName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.EthnicID)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.EthnicName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.ReligionID)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.ReligionName)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Height)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Height)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Weight)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Weight)
                                    </div>
                                </div>
                            </div>
                      </fieldset>
                    </div>

                    <div style="display: block; vertical-align: top; padding-top: 10px;" id="Contact Info">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_REC_CandidateContactInfo.TranslateString()
                            </legend>
                            <div style="float:left; width:450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Mobile)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Mobile)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Phone)
                                    </div>
                                    <div class="FieldValueView" id="DeptPath">
                                        @Html.VnrDisplayFor(model => model.Phone)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Email)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                </div>
                            </div>
                            <div style="float: left; width: 450px;">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.TAddress)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.VnrDisplayFor(model => model.TAddress)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PAddress)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PAddress)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.IdentifyNumber)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.IdentifyNumber)
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div style=" display: block; float: left; width: 100%;">
                        <fieldset>
                            <legend>
                                @ConstantDisplay.HRM_REC_CandidateOrientationCareer.TranslateString()
                            </legend>
                            <div style="float:left; width:450px">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.OrientationCareer)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.OrientationCareer)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PersonalPlan)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PersonalPlan)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Weak)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Weak) 
                                    
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.MemberOfAssociation)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.MemberOfAssociation)
                                    </div>
                                </div>
                            </div>
                                <div style="float: left; width: 450px;">
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.PersonalTarget)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.PersonalTarget)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.Strong)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.Strong)
                                    </div>
                                </div>
                                <div class="DivContentTitleValue" id="div13">
                                    <div class="FieldTitle170">
                                        @Html.VnrLabelForNoneIcon(model => model.SpecialSkill)
                                    </div>
                                    <div class="FieldValueView">
                                        @Html.DisplayFor(model => model.SpecialSkill)
                                    </div>
                                </div>
                             
                            </div>
                        </fieldset>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clear"></div>