@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Canteen.Models


@model HRM.Presentation.Canteen.Models.Can_LocationModel
@{    
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.LocationCode)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.LocationCode)
                            @Html.HiddenFor(model => model.Id)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.LocationName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.LocationName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>                    
                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Notes)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Notes)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>


