@using HRM.Infrastructure.Utilities;

@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_LocationModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Canteen_Location_Title.TranslateString();
    Layout = null;
    var hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Can_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>  
    var data = SetCharacteFieldRequired();
    var doSave = function () {
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@hrm_Can_Service', 'api/Can_Location/'); return false;
        }
    }

    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Can_Location/Create/', 'Hrm_Main_Web', '@_hrm_Can_Web');
        }
    };
</script>
<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Cat_LocationIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Canteen_Location_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_Location_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick= "doSaveNew",  Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
