@using HRM.Infrastructure.Security
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@{
    ViewBag.Title = "Index";
    Layout = null;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowSys_CodeObjectInfo",
        Visible = false,
        Width = 700,
        LoadContentFrom = @hrm_Sys_Web + "Sys_CodeObject/Sys_CodeObjectInfo/",
    };
}
@(Html.VnrWindow(window))
<script>
    var gridName = "gridSys_CodeObject";
    var titlePopUp = "Tạo Mới Cấu Hình Sinh Mã Tự Động";
    var popUpName = "windowSys_CodeObjectInfo";
    var checkedNodes = [];
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        ShowHidePanel();
        $("#btnSearch").click(function () {
            ReadGrid(gridName);
        });
        //Xử lý Edit popup
        var url = '@hrm_Sys_Web' + "Sys_CodeObject/Sys_CodeObjectInfo/";
        EditGridPopUp(gridName, popUpName, url, '@ConstantPermission.Sys_User', titlePopUp);
    });
    $("#btnCreate").click(function () {
        PopUpCreate(popUpName, titlePopUp, '@ConstantPermission.Sys_User');
    });
    $('#btnDelete').click(function (e) {
        DeleteSelected(gridName, '@hrm_Sys_Web' + "Sys_CodeObject/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sys_User');
    })
    function filterFieldInfo() {
        return {
            TableName: $('#TableName1').val(),
        };
    }
</script>
@model Sys_CodeObjectModel
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>

            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div id="dvUserName">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.TableName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("TableName1", "Width:200px;")

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>

</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
                    @{

        string[] valueFields = new string[]
        {
            Sys_CodeObjectModel.FieldNames.TableName,
            Sys_CodeObjectModel.FieldNames.FieldName,
            Sys_CodeObjectModel.FieldNames.Prefix,
            Sys_CodeObjectModel.FieldNames.Ordinal,
            Sys_CodeObjectModel.FieldNames.IsResetByDate,
            Sys_CodeObjectModel.FieldNames.IsResetByMonth,
            Sys_CodeObjectModel.FieldNames.IsResetByYear,
            Sys_CodeObjectModel.FieldNames.IsResetByUser,
            Sys_CodeObjectModel.FieldNames.IsResetByObject,
            Sys_CodeObjectModel.FieldNames.ResetObjectName,
            Sys_CodeObjectModel.FieldNames.UserCreate,
            Sys_CodeObjectModel.FieldNames.DateCreate,
            Sys_CodeObjectModel.FieldNames.UserUpdate,
            Sys_CodeObjectModel.FieldNames.DateUpdate
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_CodeObjectModel.FieldNames.TableName, 120},
            {Sys_CodeObjectModel.FieldNames.FieldName, 120},
            {Sys_CodeObjectModel.FieldNames.Prefix, 200},
            {Sys_CodeObjectModel.FieldNames.Ordinal, 80},
            {Sys_CodeObjectModel.FieldNames.IsResetByDate, 100},
            {Sys_CodeObjectModel.FieldNames.IsResetByMonth, 100},
            {Sys_CodeObjectModel.FieldNames.IsResetByYear, 100},
            {Sys_CodeObjectModel.FieldNames.IsResetByUser, 100},
            {Sys_CodeObjectModel.FieldNames.IsResetByObject, 100},
            {Sys_CodeObjectModel.FieldNames.ResetObjectName, 100},
            {Sys_CodeObjectModel.FieldNames.UserCreate, 100},
            {Sys_CodeObjectModel.FieldNames.DateCreate, 100},
            {Sys_CodeObjectModel.FieldNames.UserUpdate, 100},
            {Sys_CodeObjectModel.FieldNames.DateUpdate, 100}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sys_CodeObjectModel.FieldNames.TableName, Sys_CodeObjectModel.FieldNames.TableName.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.FieldName, Sys_CodeObjectModel.FieldNames.FieldName.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.Prefix, Sys_CodeObjectModel.FieldNames.Prefix.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.Ordinal, Sys_CodeObjectModel.FieldNames.Ordinal.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.IsResetByDate, Sys_CodeObjectModel.FieldNames.IsResetByDate.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.IsResetByMonth, Sys_CodeObjectModel.FieldNames.IsResetByMonth.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.IsResetByYear, Sys_CodeObjectModel.FieldNames.IsResetByYear.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.IsResetByUser, Sys_CodeObjectModel.FieldNames.IsResetByUser.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.IsResetByObject, Sys_CodeObjectModel.FieldNames.IsResetByObject.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.ResetObjectName, Sys_CodeObjectModel.FieldNames.ResetObjectName.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.UserCreate, Sys_CodeObjectModel.FieldNames.UserCreate.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.DateCreate, Sys_CodeObjectModel.FieldNames.DateCreate.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.UserUpdate, Sys_CodeObjectModel.FieldNames.UserUpdate.TranslateString()},
            {Sys_CodeObjectModel.FieldNames.DateUpdate, Sys_CodeObjectModel.FieldNames.DateUpdate.TranslateString()}
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridSys_CodeObject",
            ValueFields = valueFields,
            ReadActionUrl = hrm_Sys_Service + "Sys_GetData/GetCodeObjectList",
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadData = "filterFieldInfo",
        };
}

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_CodeObjectModel>(grid))
</div>

