@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.HrmSystem.Models

@{
    ViewBag.Title = "Sys_CodeObjectInfo";
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
@model Sys_CodeObjectModel
<script>
    var formName = "form_Sys_CodeObjectInfo";
    var gridName = "gridSys_CodeObject";
    var popUpName = "windowSys_CodeObjectInfo";
    function onSave() {
        onSaveAndContinue($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_CodeObject/', gridName, popUpName); return false;
    }
    function onSaveClose() {
        onSaveAndClose($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_CodeObject/', gridName, popUpName); return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#' + formName), '@_hrm_Sys_Service', 'api/Sys_CodeObject/', gridName, popUpName); return false;
    }

</script>
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Sys_CodeObjectInfo" }))
{
    @Html.HiddenFor(model => model.ID)


    <table>
        <tr>
            <td>
                <div>
                    <script>
                        function filterByObjectName() {
                            return {
                                text: $("#TableName").val(),
                            };
                        }
                        function filterByResetObjectName() {
                            return {
                                text: $("#ResetObjectName").val(),
                            };
                        }
                        function filterByResetObjectName1() {
                            return {
                                text: $("#ResetObjectName1").val(),
                            };
                        }
                    </script>

                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.TableName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ObjectName = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiObjectName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectObjectName.TranslateString(),
                                StyleCss = "width:300px;",
                                ServerFilter = true,
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.TableName, _ObjectName)
                    </div>

                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.FieldName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _FieldName = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiFieldNameByTableName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectFieldName.TranslateString(),
                                StyleCss = "width:300px;",
                                CascadeFrom = "TableName",
                                Data = "filterByObjectName",
                                ServerFilter = true
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.FieldName, _FieldName)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Prefix)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Prefix, "width:500px;height:100px;")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Ordinal)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.Ordinal, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                       
                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsResetByDate)Reset Theo Ngày
                        @Html.VnrCheckBoxFor(mode => mode.IsResetByMonth)Reset Theo Tháng
                        @Html.VnrCheckBoxFor(mode => mode.IsResetByYear)Reset Theo Năm
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsResetByObject)Reset Theo Đối Tượng
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResetObjectName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ResetObjectName = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiObjectName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectObjectName.TranslateString(),
                                StyleCss = "width:300px;",
                                ServerFilter = true,
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.ResetObjectName, _ResetObjectName)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResetFieldName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ResetFieldName = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiFieldNameByTableName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectFieldName.TranslateString(),
                                StyleCss = "width:300px;",
                                CascadeFrom = "ResetObjectName",
                                Data = "filterByResetObjectName",
                                ServerFilter = true
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.ResetFieldName, _ResetFieldName)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResetObjectName1)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ResetObjectName1 = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiObjectName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectObjectName.TranslateString(),
                                StyleCss = "width:300px;",
                                ServerFilter = true,
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.ResetObjectName1, _ResetObjectName1)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ResetFieldName1)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ResetFieldName1 = new ComboBoxBuilderInfo()
                            {
                                DataTextField = "Name",
                                DataValueField = "Name",
                                Url = _hrm_Hre_Service + "Cat_GetData/GetMultiFieldNameByTableName",
                                Placeholder = ConstantDisplay.HRM_Category_SelectFieldName.TranslateString(),
                                StyleCss = "width:300px;",
                                CascadeFrom = "ResetObjectName1",
                                Data = "filterByResetObjectName1",
                                ServerFilter = true
                            };
                        }
                        @Html.VnrComboBoxFor(mode => mode.ResetFieldName1, _ResetFieldName1)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsResetByUser)Reset Theo Người Dùng
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(mode => mode.IsManual)Không sinh tự động   
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-code-object", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-code-object", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-code-object", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
            </td>
        </tr>
    </table>
}
