@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Hr.Models
@using System.Collections
@model Hre_ProfileModel
@{
    ViewBag.Title = "Hre_SettlementInfo";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<script type="text/javascript">


    function onSaveDataPopUp() {
        ShowHre_ProgressBar();
        var numerictextbox = $("#Settlement").data("kendoNumericTextBox");
        var MonthYear = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#MonnthSettlement").val());
        $.ajax({
            url: '@_hrm_Hr_Service' + 'Hre_GetData/UpdateSettlementProfiles',
            data: { ProfileIds: selectedIds, Settlement: numerictextbox.value(), DateSettlement: MonthYear, },
            type: 'POST',
            async: true,
            traditional: true,
            success: function (data) {
                CloseHre_ProgressBar();
                if (data.success) {
                     Notification(data.mess, '@NotificationType.Success.ToString()');
                        ReadGrid('@ConstantControlName.HRM_gridHre_Profile_Grid_Name');
                    return true;
                }
                else {
                     Notification(data.mess, '@NotificationType.Error.ToString()');
                    return false;
                }

            },
            error: function (data) {
                CloseHre_ProgressBar();
                Notification('@ConstantMessages.Fail.TranslateString()', '@NotificationType.Error');
                return false;
            }
        });
        return true;
    };

    function onSaveClose() {
        if (onSaveDataPopUp())
        {
            CloseWindows('Popup_SettlementInfo');
        }
    };

</script>

<table>
    <tbody>
        <tr>
            <td valign="top">
                <div class="hrm_box">
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(m => m.Settlement)
                        </div>
                        <div class="FieldValue">
                            @{
                                var Settlement = new NumericTextBoxBuilderInfo<int>()
                                {
                                    Format = ConstantFormat.HRM_Format_Number_Integer
                                };
                            }
                            @Html.VnrNumericTextBoxFor(m => m.Settlement, Settlement)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(m => m.MonnthSettlement)
                        </div>
                        <div class="FieldValue">
                            @{
                                var DateSettlement = new DatePickerBuilderInfo()
                                {
                                    Format = ConstantFormat.HRM_Format_MonthYear,
                                };
                            }
                            @Html.VnrDatePickerFor(m => m.MonnthSettlement, DateSettlement)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <hr class="LineFooterCommandEdit" />
                <br />
                <div id="div10">
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-hre_appendixcontract", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "saveandclose-hre_appendixcontract", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

