@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.CatEthnicGroupModel

@{
    ViewBag.Title = "InsertCatEthnicGroup";
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<script>
    //var data = SetCharacteFieldRequired();
    SetFieldRequired();
    function checkDuplicationCode() {
        
        var _code = $("#EthnicGroup_Code").val();
        var _id = '@lineId';
        var param = {
            tableName: 'Cat_EthnicGroup',
            columnName: 'Code',
            keyword: _code,
            id: _id
        };

        var isduplicate = checkDuplicate('@_hrm_Sys_Service', 'Sys_GetData', 'CheckDuplicate', param, "Code");
        
        return isduplicate;
    }
    function onSave() {
       // if (CheckValidate() && !checkDuplicationCode()) {
            onSaveAndContinue($('#form_cat_ethnicgroup'), '@_hrm_Hre_Service', 'api/CatEthnicGroup/', 'EhtnicGroup', 'windowCatEthnicGroup');
       // }
        return false;
   }

    function onSaveClose() {
      //  if (CheckValidate() && !checkDuplicationCode()) {

            onSaveAndClose($('#form_cat_ethnicgroup'), '@_hrm_Hre_Service', 'api/CatEthnicGroup/', 'EhtnicGroup', 'windowCatEthnicGroup');
        //}
        return false;
    }
    function onSaveDataPopUp() {
        
      //  if (CheckValidate(data)) {
        //    if (!checkDuplicationCode()) {
                onlySave($('#form_cat_ethnicgroup'), '@_hrm_Hre_Service', 'api/CatEthnicGroup/', 'EhtnicGroup'); return false;
        //   
        }
   // }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_ethnicgroup" }))
{
    @Html.HiddenFor(model => model.ID)
     <table>
        <tr>
            <td>
               
                <div>
                    <div class="FieldTitle150" style="width: 95px;">
                        @Html.VnrLabelFor(mode => mode.Code)
                    </div>
                    <div class="FieldValue">
                        @{
                    var _EthnicGroup = new TextBoxBuilderInfo()
                    {
                        Name = "EthnicGroup_Code",
                                CssStyle = "width:300px"
                            };
                            if(Model != null){
                                _EthnicGroup.Value = Model.Code == null ? string.Empty : Model.Code;
                            }
                        }
                        @Html.VnrTextBoxFor(mode => mode.Code, _EthnicGroup)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150" style="width: 95px;">
                        @Html.VnrLabelFor(mode => mode.EthnicGroupName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.EthnicGroupName, "width: 300px")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div>
                    <div class="FieldTitle150" style="width: 95px;">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-EthnicGroup", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-catEthnicGroup", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-catEthnicGroup", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
 </table>
}

