@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security
@using HRM.Presentation.Category.Models;
@model CatEthnicGroupSearchModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_EthnicGroup.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
   // string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatEthnicGroup",
        Visible = false,
        Width = 700,
        Title = "Thông tin dân tộc",
        LoadContentFrom = @_hrm_Main_Web + "Cat_EthnicGroup/CatEthnicGroupInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_EthnicGroup_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_EthnicGroup_Create_Title.TranslateString())';

    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo(isExport) {
        //isExport = true;

        return {
            EthnicGroupName: $('#SEthnicGroupName').val(),
            EthnicGroupCode: $('#SEthnicGroupCode').val(),
            IsExport: false,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        SetCharacteFieldRequired();
        //Show Hide Panel
        ShowHidePanel();
        //
        $("#btnSearch").click(function () {
            var grid = $('#gridCat_EhtnicGroup').data("kendoGrid");
            grid.dataSource.read();
        });
        //Xử lý Edit popup
        var url = '@_hrm_Main_Web' + "Cat_EthnicGroup/CatEthnicGroupInfo/";
        EditGridPopUp("gridCat_EhtnicGroup", "windowCatEthnicGroup", url, '@ConstantPermission.Cat_EthnicGroup', titleEditPopUp);
    });

    $("#btnCreate").click(function () {
        PopUpCreate("windowCatEthnicGroup", titleCreatePopUp, '@ConstantPermission.Cat_EthnicGroup');
    });


    //Xử Lý grid
    GridCheckbox("gridCat_EhtnicGroup");


    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("gridCat_EhtnicGroup", '@_hrm_Main_Web' + "Cat_EthnicGroup/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_EthnicGroup');

        return false;
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Cat_GetData/ExportEthnicGroupSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_EthnicGroup');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#gridCat_EhtnicGroup').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Cat_GetData/ExportAllEthnicGroup/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_EthnicGroup');
    });
</script>



<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.EthnicGroupName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SEthnicGroupName", "width:200px")
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.EthnicGroupCode)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SEthnicGroupCode", "width:200px")
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnEthnicGroup", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_grid_Cat_EhtnicGroup_Name + "__Cat_EthnicGroup_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_grid_Cat_EhtnicGroup_Name,
            AutoBind = false,
            ReadActionUrl = _hrm_Hre_Service + "Cat_GetData/GetEthnicGroupList",
            ReadData = "filterFieldInfo"
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {
                CatEthnicGroupModel.FieldNames.Code,
                CatEthnicGroupModel.FieldNames.EthnicGroupName,
                CatEthnicGroupModel.FieldNames.UserUpdate,
                CatEthnicGroupModel.FieldNames.DateUpdate,

            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {CatEthnicGroupModel.FieldNames.Code, 90},
                {CatEthnicGroupModel.FieldNames.EthnicGroupName, 100},
                {CatEthnicGroupModel.FieldNames.UserUpdate, 110},
                {CatEthnicGroupModel.FieldNames.DateUpdate, 100},

            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {CatEthnicGroupModel.FieldNames.Code, ConstantDisplay.HRM_Category_EthnicGroup_Code},
                {CatEthnicGroupModel.FieldNames.EthnicGroupName, ConstantDisplay.HRM_Category_EthnicGroup_EthnicGroupName},
                {CatEthnicGroupModel.FieldNames.UserUpdate, ConstantDisplay.HRM_Common_UserUpdate},
                {CatEthnicGroupModel.FieldNames.DateUpdate, ConstantDisplay.HRM_Common_DateUpdate},
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "EhtnicGroup",
        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    AutoBind = false,
        //    ReadActionUrl = _hrm_Hre_Service + "Cat_GetData/GetEthnicGroupList",
        //    ReadData = "filterFieldInfo"
        //};
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatEthnicGroupModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnEthnicGroup", "CatEthnicGroupModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)
