@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models;
@using HRM.Infrastructure.Security;

@model Att_CompensationConfigSearchModel

@{
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowAttCompensationConfigInfo",
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Att_CompensationConfig/Att_CompensationConfigInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    var gridName = '@ConstantControlName.HRM_Att_CompensationConfig_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Att_CompensationConfig_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Attendance_CompensationConfig_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Attendance_CompensationConfig_Create_Title.TranslateString())';


    //Data khi tìm kiếm
    function filterFieldInfo() {
        return {
            CodeEmp: $('#CodeEmp').val(),
            ProfileName: $('#ProfileName').val(),
            Year: $('#Year').val(),
            IsExport: false,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        $("#btnSearch").click(function () {
            ReadGrid(gridName);
        });

        //Xử lý Edit popup
        var url = '@_hrm_Main_Web' + "Att_CompensationConfig/Att_CompensationConfigInfo/";
        EditGridPopUp("@ConstantControlName.HRM_Att_CompensationConfig_Grid_Name", "windowAttCompensationConfigInfo", url, '@ConstantPermission.Att_CompensationConfig', titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreateAtt_CompensationConfig").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Att_CompensationConfig');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowAttCompensationConfigInfo", titleCreatePopUp, '@ConstantPermission.Att_CompensationConfig');
    });

    //Xử Lý grid
    GridCheckbox(gridName);

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }

        e.preventDefault();
        DeleteSelected(gridName, '@_hrm_Main_Web' + "Att_CompensationConfig/RemoveSelected/", selectedIds, '@ConstantPermission.Att_CompensationConfig');
        return false;
    });

    $(document).ready(function () {
        ShowHidePanel();
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Att_GetData/ExportCompensationConfigSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Att_CompensationConfig');
    });

    $("#btnExportAll").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_ProfileQuit');
        if (!isAccess) {
            return;
        }*@
        debugger;
        var grid = $('#@ConstantControlName.HRM_Att_CompensationConfig_Grid_Name').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Att_GetData/ExportAllCompensationConfigList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_CompensationConfig');
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div1">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.CodeEmp)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _CodeEmp = new TextBoxBuilderInfo()
                            {

                            };
                        }
                        @Html.VnrTextBoxFor(model => model.CodeEmp, _CodeEmp)
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ProfileName)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ProfileName = new TextBoxBuilderInfo()
                            {

                            };
                        }
                        @Html.VnrTextBoxFor(model => model.ProfileName, _ProfileName)
                    </div>
                </div>
                <div id="div3">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Year)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _Year = new NumericTextBoxBuilderInfo<int>()
                            {
                                 Format = ConstantFormat.HRM_Format_Number_Integer
                            };
                        }
                        @Html.VnrNumericTextBoxFor(model => model.Year, _Year)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateAtt_CompensationConfig", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeColumnCompensationConfig", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_Att_CompensationConfig_Grid_Name + "__Att_CompensationConfig_Index";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_Att_CompensationConfig_Grid_Name,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hr_Service + "Att_GetData/GetCompensationConfigList/",
            ReadData = "filterFieldInfo",
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new[]
            {
                Att_CompensationConfigModel.FieldNames.CodeEmp,
                Att_CompensationConfigModel.FieldNames.ProfileName,
                Att_CompensationConfigModel.FieldNames.Year,
                Att_CompensationConfigModel.FieldNames.MonthBeginInYear,
                Att_CompensationConfigModel.FieldNames.InitAvailable,
                Att_CompensationConfigModel.FieldNames.MonthResetInitAvailable,
                Att_CompensationConfigModel.FieldNames.MonthStartProfile,
            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {Att_CompensationConfigModel.FieldNames.CodeEmp,80},
                {Att_CompensationConfigModel.FieldNames.ProfileName,140},
                {Att_CompensationConfigModel.FieldNames.Year,80},
                {Att_CompensationConfigModel.FieldNames.MonthBeginInYear,170},
                {Att_CompensationConfigModel.FieldNames.InitAvailable,120},
                {Att_CompensationConfigModel.FieldNames.MonthResetInitAvailable,133},
                {Att_CompensationConfigModel.FieldNames.MonthStartProfile,125},
            };

            grid.Filterable = new Dictionary<string, bool>()
            {
                {Att_CompensationConfigModel.FieldNames.ProfileName,true},
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {Att_CompensationConfigModel.FieldNames.CodeEmp,ConstantDisplay.HRM_HR_Profile_CodeEmp},
                {Att_CompensationConfigModel.FieldNames.ProfileName,ConstantDisplay.HRM_HR_Profile_ProfileName},
                {Att_CompensationConfigModel.FieldNames.Year,ConstantDisplay.HRM_Attendance_CompensationConfig_Year},
                {Att_CompensationConfigModel.FieldNames.MonthBeginInYear,ConstantDisplay.HRM_Attendance_CompensationConfig_MonthBeginInYear},
                {Att_CompensationConfigModel.FieldNames.InitAvailable,ConstantDisplay.HRM_Attendance_CompensationConfig_InitAvailable},
                {Att_CompensationConfigModel.FieldNames.MonthResetInitAvailable,ConstantDisplay.HRM_Attendance_CompensationConfig_MonthResetInitAvailable},
                {Att_CompensationConfigModel.FieldNames.MonthStartProfile,ConstantDisplay.HRM_Attendance_CompensationConfig_MonthStartProfile},
            };
            grid.FormatFields = new Dictionary<string, string>()
            {
                     {Att_CompensationConfigModel.FieldNames.Year,ConstantFormat.HRM_Format_Number_Integer},
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
    //var grid = new GridBuilderInfo
    //{
    //    Name = ConstantControlName.HRM_Category_SourceAds_Grid_Name,
    //    ValueFields = valueFields,
    //    SizeFields = sizeFields,
    //    DisplayFields = displayFields,
    //    Filterable = filterable,
    //    ShowCommand = false,
    //    ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetSourceAdsList/",
    //    ReadData = "filterFieldInfo",
    //};
    }

    @(Html.VnrGrid<Att_CompensationConfigModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeColumnCompensationConfig", "Att_CompensationConfigModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)