@using HRM.Infrastructure.Utilities
@model Sys_ResourceModel

@{
    ViewBag.Title = "Nhóm quyền";
    Layout = null;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                <img src="@ConstantPath.HreContractIconPath" alt="" width="20" height="20" />
                @ConstantDisplay.HRM_HR_System_Resource_Title.TranslateString()
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ResourceName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.ResourceName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.ActionLink(ConstantAction.HRM_Common_Create.TranslateString(), "Create", null, new { @class = "k-button" })
    @Html.ActionLink(ConstantAction.HRM_Common_Export.TranslateString(), "Export", null, new { @class = "k-button" })
    @Html.ActionLink(ConstantAction.HRM_Common_Import.TranslateString(), "Import", null, new { @class = "k-button" })
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.HrmSystem.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
    string[] valueFields = new string[]
        {
            Sys_ResourceModel.FieldNames.ResourceName,
            Sys_ResourceModel.FieldNames.ModuleName,
            Sys_ResourceModel.FieldNames.View,
            Sys_ResourceModel.FieldNames.Add,
            Sys_ResourceModel.FieldNames.Edit,
            Sys_ResourceModel.FieldNames.Delete,
            Sys_ResourceModel.FieldNames.Export,
            Sys_ResourceModel.FieldNames.Import,
        };
    
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_ResourceModel.FieldNames.ResourceName,400},
            {Sys_ResourceModel.FieldNames.ModuleName,300},
        };
  
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {

            {Sys_ResourceModel.FieldNames.ResourceName,ConstantDisplay.HRM_System_Resource_ResourceName},
            {Sys_ResourceModel.FieldNames.ModuleName,ConstantDisplay.HRM_System_Resource_ModuleName},
            {Sys_ResourceModel.FieldNames.View,"<input type=\"checkbox\" id=\"View\"/> View "},
            {Sys_ResourceModel.FieldNames.Add,"<input type=\"checkbox\" id=\"Add\"/> Add "},
            {Sys_ResourceModel.FieldNames.Edit,"<input type=\"checkbox\" id=\"Edit\"/> Edit "},
            {Sys_ResourceModel.FieldNames.Delete,"<input type=\"checkbox\" id=\"Delete\"/> Delete "},
            {Sys_ResourceModel.FieldNames.Export,"<input type=\"checkbox\" id=\"Export\"/> Export "},
            {Sys_ResourceModel.FieldNames.Import,"<input type=\"checkbox\" id=\"Import\"/> Import "},
        };
    var grid = new GridBuilderInfo
    {
        Name = "Resouce",
        ValueFields = valueFields,
        ShowCommand = false,
        AutoBind = true,
        SizeFields = sizeFields,
        DisplayFields = displayFields,
        ReadActionUrl = hrm_Sys_Service + "Sys_GetData/GetResourceList/",
    };

}
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_ResourceModel>(grid))
</div>