@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Utilities

@model HRM.Presentation.HrmSystem.Models.Sys_AllSettingModel
@{    
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    IList<SelectListItem> listSetting = Enum.GetValues(typeof(AppConfig))
        .Cast<AppConfig>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    SelectList dataSetting = new SelectList(listSetting, "Value", "Text");
}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Name)
                        </div>
                        <div class="FieldValue">
                            @{
                                var comboboxName = new ComboBoxBuilderInfo()
                                {
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    FilterType = FilterType.Contains,
                                    BindTo = listSetting,
                                    Value = @Html.DisplayFor(model => model.Name).ToString()
                                };
                            }
                            @Html.VnrComboBoxFor(model => model.Name, comboboxName)
                            @Html.HiddenFor(model => model.ID)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Value1)
                        </div>
                        <div class="FieldValue">
                           @Html.VnrTextBoxFor(model => model.Value1)
                        </div>
                        <div style="clear: both;"></div>
                    </div>                    
                    <div id="div5">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.Value2)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Value2)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle" style="width:180px">
                            @Html.VnrLabelFor(mode => mode.ModuleName)
                        </div>
                        <div class="FieldValue">
                            @{
                                var comboboxModuleName = new ComboBoxBuilderInfo()
                                {
                                    DataTextField = "Text",
                                    DataValueField = "Value",
                                    FilterType = FilterType.Contains,
                                    BindTo = listSetting,
                                    Value = @Html.DisplayFor(model => model.ModuleName).ToString()
                                };
                            }
                            @Html.VnrComboBoxFor(model => model.ModuleName, comboboxModuleName)                           
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>


