
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_AllowLimitOvertimeModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Att_AllowLimitOvertime_Create.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}
<script>
    SetFieldRequired();
    function doSave() {
        var result = false;
        $.ajax({
            type: 'POST',
            url: '@_hrm_Hre_Service' + 'api/Att_AllowLimitOvertime',
            data: queryStringToJSON(slpitQueryEntity($("#form-create").serialize())),
            dataType: 'json',
            async: false,
            success: function (data) {
                
                if (data.ActionStatus.indexOf('[') == 0) {
                    ShowNotificationProcessor(data.ActionStatus);
                    return;
                }
                if (data.ActionStatus.indexOf(',') > 0) {
                    
                    var strStatus = data.ActionStatus.split(',');
                    if (strStatus[0] == "Error") {
                        ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', data.ActionStatus.substring(6, data.ActionStatus.length - 16) + " Đã Có Giới Hạn Tăng Ca", "k-block k-info-colored");
                        return;
                    }
                }
                if (data.ActionStatus == "Success") {
                    ShowNotificationProcessor(data.ActionStatus);
                    result = true;
                    return result;
                }
            }
        });
        if(result==true)
        {
            return result;
        }
    }
    function doSaveNew() {
       // if (CheckValidate(data)) {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Main_Web/Att_AllowLimitOvertime/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
            }
       // }
        
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.AttLeavedayIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Att_AllowLimitOvertime_Create.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Att_Back_To_AllowLimitOvertime_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
