@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities

@using System.Collections;

@model HRM.Presentation.Attendance.Models.Att_AllowLimitOvertimeModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    SetFieldRequired();


    function onSave() {
        onSaveAndContinue($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_AllowLimitOvertime/', '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_Grid_Name', '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_AllowLimitOvertime/', '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_Grid_Name', '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {

        onlySave($('#form_Rec_RecruitmentCampaign'), '@_hrm_Hr_Service', 'api/Att_AllowLimitOvertime/', '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_Grid_Name');
        return false;
    }
</script>

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Rec_RecruitmentCampaign" }))
{
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            
            <tr><td colspan="3" style=""></td></tr>
            <tr>
          
                <td valign="top">
                    <div id="div1">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                            @Html.HiddenFor(mode => mode.ID)
                        </div>
                        <div class="FieldValue">
                            @{
                                IEnumerable valueProfile = new string[] { };
                                if (Model != null)
                                {
                                    valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                }
                            }
                            @{
                                var Profile = new MultiSelectBuilderInfo()
                                 {
                                     Width=300,
                                     Name = "JobVancancyReson_ProfileID",
                                     DataTextField = "ProfileName",
                                     DataValueField = "ID",
                                     Url = @_hrm_Hr_Service + "HrMultiSelect/GetMultiProfile",
                                     Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                     MaxSelectedItems = 1,
                                     Value = valueProfile
                                 };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateStart)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dateStart = new DatePickerBuilderInfo()
                                {
                                    Name = "JobVancancyReson_DateStart",
                                    StyleCss="width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateStart, dateStart)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateEnd)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dateEnd = new DatePickerBuilderInfo()
                                {
                                    Name = "JobVancancyReson_DateEnd",
                                    StyleCss = "width:120px"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateEnd, dateEnd)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="FieldTitle150">
                        </div>
                        <div class="FieldValue">
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-AllowLimitOvertime", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-AllowLimitOvertime", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                            @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-AllowLimitOvertime", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.HiddenFor(mode => mode.ID)
</div>
}
