@using HRM.Infrastructure.Utilities
@using HRM.Infrastructure.Security
@using HRM.Presentation.Attendance.Models
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_AllowLimitOvertimeSearchModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Att_AllowLimitOvertime.TranslateString();
    Layout = null;
    //string[] valueFields = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
}
@Html.Hidden("Screen", screen)
@{
    var window = new WindowBuilderInfo
    {
        Name = ConstantControlName.HRM_gridAtt_AllowLimitOvertime_PopUp_Name,
        Visible = false,
        Width = 700,
        LoadContentFrom = @_hrm_Main_Web + "Att_AllowLimitOvertime/CreateOrUpdate/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var titleCreate = '@Html.Raw(ConstantDisplay.HRM_Att_AllowLimitOvertime_AddNew.TranslateString())';
    var titleUpdate = '@Html.Raw(ConstantDisplay.HRM_Att_AllowLimitOvertime_Update.TranslateString())';
    var checkedNodes = [];

    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            OrgStructureID: checkedNodes.join(','),
            ProfileName: $('#@Html.FieldIdFor(model => model.ProfileName)').val(),
            CodeEmp: $('#@Html.FieldIdFor(model => model.CodeEmp)').val(),
            DateStart: ConvertDatetime('@_hrm_Hre_Service' + 'Sys_GetData/GetFormatDate/', $("#DateStart").val()),
            DateEnd: ConvertDatetime('@_hrm_Hre_Service' + 'Sys_GetData/GetFormatDate/', $("#DateEnd").val()),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();

        //
        $("#btnSearch").click(function () {
            var treeView = $("#treeviewOrg").data("kendoTreeView");
            checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes);
            var grid = $('#gridAtt_AllowLimitOvertime').data("kendoGrid");
            grid.dataSource.read();
            checkedNodes = [];
            checkedNodes = [];
        });
        //Xử lý nút Edit
       var url = '@_hrm_Main_Web' + "Att_TAMScanLog/TAMScanLogInfo/";
        EditGridPopUp("gridAtt_TAMScanLog", '@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_PopUp_Name', url, '@ConstantPermission.Att_TAMScanLog', titleUpdate);
    });

    //Xử Lý Grid
    GridCheckbox("gridAtt_AllowLimitOvertime");
    //Xử lý nút Delete
    $('#btnDelete').click(function (e) {
        e.preventDefault();
        DeleteSelectedConfirm("gridAtt_AllowLimitOvertime", '@_hrm_Main_Web' + "Att_AllowLimitOvertime/RemoveSelected/", selectedIds, '@ConstantPermission.Att_AllowLimitOvertime');
        return false;
    });

    //Xử lý nút Create
    $("#btnCreate").click(function () {
        @*KendoRouteMapping('#Hrm_Main_Web/Hre_StopWorking/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');*@
        PopUpCreate('@ConstantControlName.HRM_gridAtt_AllowLimitOvertime_PopUp_Name', titleCreate, '@ConstantPermission.Cat_Unit');
    });



    $("#btnExportAll").click(function () {
        var grid = $('#gridAtt_AllowLimitOvertime').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Att_GetData/ExportAllowLimitOvertimeList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Att_AllowLimitOvertime');
    });

    $("#btnExportSelected").click(function () {
        var urlGetData = '@_hrm_Hre_Service' + "Att_GetData/ExportAllowLimitOvertimeSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds;
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Att_AllowLimitOvertime');
    });

</script>



<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div style="float:left; width:500px">
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(model => model.ProfileName)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.ProfileName)
                            </div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(model => model.CodeEmp)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.CodeEmp)
                            </div>
                        </div>
                        
                      
                    </div>
                    <div style="width:550px; display:block; float:left">
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.Label(@ConstantDisplay.HRM_HR_Reward_DateOfEffective.TranslateString())
                            </div>
                            <div class="FieldValue">
                                @{
                                    var DateStart = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateStart, DateStart)

                                @{
                                    var DateEnd = new DatePickerBuilderInfo()
                                    {
                                        Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
                                        StyleCss = "width:100px"
                                    };
                                }
                                @Html.VnrDatePickerFor(model => model.DateEnd, DateEnd)
                            </div>
                        </div>
                        <div id="div14">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.OrgStructureID)
                            </div>
                            <div class="FieldValue">
                                @Html.Partial("EditorTemplates/OrgStructureTreeViewDropdown")
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown" >
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeAllowLimitOvertime", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<script>
    function clickProfile(id) {

        KendoRouteMapping('#Hrm_Main_Web/GeneralProfile/Index/' + id,'Hrm_Main_Web', '@_hrm_Main_Web');
    }
</script>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_gridAtt_AllowLimitOvertime_Grid_Name + "__Att_AllowLimitOvertimeIndex";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_gridAtt_AllowLimitOvertime_Grid_Name,
            ReadActionUrl = @_hrm_Hre_Service + "Att_GetData/GetAllowLimitOvertimeList/",
            ReadData = "filterFieldInfo",
            EventDataBound = "changePageGird",
            ShowCommand = false,
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {
                Att_AllowLimitOvertimeModel.FieldNames.CodeEmp,
                Att_AllowLimitOvertimeModel.FieldNames.ProfileName,
            
                Att_AllowLimitOvertimeModel.FieldNames.DateStart,
                Att_AllowLimitOvertimeModel.FieldNames.DateEnd,
            };
            grid.SizeFields = new Dictionary<string, int>()
            {
                {Att_AllowLimitOvertimeModel.FieldNames.CodeEmp, 75},
                {Att_AllowLimitOvertimeModel.FieldNames.ProfileName, 135},
            
                {Att_AllowLimitOvertimeModel.FieldNames.DateStart, 81},
                {Att_AllowLimitOvertimeModel.FieldNames.DateEnd, 81},
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {Att_AllowLimitOvertimeModel.FieldNames.CodeEmp, ConstantDisplay.HRM_HR_Profile_CodeEmp},
                {Att_AllowLimitOvertimeModel.FieldNames.ProfileName, ConstantDisplay.HRM_Att_AllowLimitOvertime_ProfileID},
                {Att_AllowLimitOvertimeModel.FieldNames.DateStart, ConstantDisplay.HRM_Att_AllowLimitOvertime_DateStart},
                {Att_AllowLimitOvertimeModel.FieldNames.DateEnd, ConstantDisplay.HRM_Att_AllowLimitOvertime_DateEnd},
            };

            grid.HyperlinkFields = new Dictionary<string, string>()
            {
                {Att_AllowLimitOvertimeModel.FieldNames.ProfileName,"clickProfile,ProfileID"},
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "gridAtt_AllowLimitOvertime",
        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    ReadActionUrl = @_hrm_Hre_Service + "Att_GetData/GetAllowLimitOvertimeList/",
        //    ShowCommand = false,
        //    ReadData = "filterFieldInfo",
        //    EventDataBound = "changePageGird",
        //    HyperlinkFields = hyperlinkFields
        //};

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_AllowLimitOvertimeModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeAllowLimitOvertime", "Att_AllowLimitOvertimeModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>

@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)






