@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList

@model HRM.Presentation.Attendance.Models.Att_AllowLimitOvertimeModel
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    <div class="VnRMain">
        <table style="width:50%">
            <tbody>
                <tr>
                    <td class="Box_Top_Left"></td>
                    <td valign="middle" class="Box_Top_Mid"></td>
                    <td class="Box_Top_Right"></td>
                </tr>
                <tr>
                    <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                    <td valign="top">
                        <div id="div1">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ProfileName)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.ProfileName)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateStart)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.DateStart)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.DateEnd)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.DateEnd)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="div4">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.LevelAllowLimit)
                            </div>
                            <div class="FieldValue">
                                @Html.DisplayFor(model => model.LevelAllowLimit)
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </td>
                    <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td class="Box_Bottom_Left"></td>
                    <td class="Box_Bottom_Mid"></td>
                    <td class="Box_Bottom_Right"></td>
                </tr>
            </tbody>
        </table>
    </div>
