@using HRM.Infrastructure.Utilities
@using System.Collections
@using HRM.Infrastructure.Security;

@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Payroll.Models

@model HRM.Presentation.Payroll.Models.Sal_AdjustmentSuggestionModel

@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

      
}
<script>
  //  SetFieldRequiredByScreenName("FilterCandidateInfo")
  
    $(document).ready(function () {
        ReadGrid('gridSal_UpdateBasicSalary');
    });

    function onClosePopUp() {
        debugger;
        onClose('gridRec_Candidate', 'windowFilter');
        return false;
    }
  
    function onSaveClose() {
        debugger;
        var grid = $("#gridSal_UpdateRankDetail").data("kendoGrid");
        parameterMap = grid.dataSource.transport.parameterMap;
        var _date = ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#UpdateRankDetailInfo_DateOfEffect").val());
        var currentData = grid.dataSource.data();
        var updatedRecords = [];
        debugger;
        for (var i = 0; i < currentData.length; i++) {
            updatedRecords.push(currentData[i].toJSON());
        }
        
        var data = {};
        $.extend(data, parameterMap({ models: updatedRecords, datetimes: _date }));

        $.ajax({
            //traditional: true,
            type: 'POST',
            //contentType: 'application/json; charset=utf-8',
            url: '@_hrm_Hre_Service' + "Sal_GetData/AddAdjustmentSuggestionForBasicSalary/",
            data: data,
            //contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if(data == "Success")
                {
                    var window = $("#windowUpdateRankDetail").data("kendoWindow");
                    window.refresh().close();
                    ReadGrid("gridSal_AdjustmentSuggestion");
                }
               
            }
        });
   
    }
    function onDataBoundGrid() {
        SetStyleStringGrid('gridSal_UpdateRankDetail', 'GrossAmount', '6');
    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Sal_UpdateRank" }))
{
    <table>
       
        <tr>
            <td style="width:100%">
                @*<div class="commandToolBarWidge" style="height:28px">
                    <div style="float:left; padding-top:7px">
                        @Html.VnrLabel(ConstantDisplay.HRM_REC_Candidate_FilterCandidate_Title.TranslateString())

                    </div>

                    <div style="float:right">
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnFilterCandidate", Content = ConstantAction.HRM_Common_FilterCandidate.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
                       
                    </div>
                </div>*@
                <div>
                    <!--Khai báo các thông tin cho Grid-->
                    @using HRM.Presentation.Recruitment.Models
                    @using HRM.Presentation.UI.Controls.Kendo
                    @{
     

                            string[] valueFields = new string[]
        {
            Sal_AdjustmentSuggestionModel.FieldNames.CodeEmp,
            Sal_AdjustmentSuggestionModel.FieldNames.ProfileName,
            Sal_AdjustmentSuggestionModel.FieldNames.OrgStructureName,
            Sal_AdjustmentSuggestionModel.FieldNames.SalaryClassName,
            Sal_AdjustmentSuggestionModel.FieldNames.SalaryRankName,
            Sal_AdjustmentSuggestionModel.FieldNames.GrossAmount,
          

        };
                            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sal_AdjustmentSuggestionModel.FieldNames.CodeEmp,95},
            {Sal_AdjustmentSuggestionModel.FieldNames.ProfileName,140},
            {Sal_AdjustmentSuggestionModel.FieldNames.OrgStructureName,120},
            {Sal_AdjustmentSuggestionModel.FieldNames.SalaryClassName,140},
            {Sal_AdjustmentSuggestionModel.FieldNames.SalaryRankName,80},
     

        };

                            Dictionary<string, string> displayFields = new Dictionary<string, string>()
                        {
                           {Sal_AdjustmentSuggestionModel.FieldNames.CodeEmp, ConstantDisplay.HRM_HR_Profile_CodeEmp},
                           {Sal_AdjustmentSuggestionModel.FieldNames.ProfileName,ConstantDisplay.HRM_Can_MealAllowanceToMoney_ProfileName},
                           {Sal_AdjustmentSuggestionModel.FieldNames.DepartmentName, ConstantDisplay.HRM_Att_Report_DepartmentName},
                           {Sal_AdjustmentSuggestionModel.FieldNames.SalaryClassName, ConstantDisplay.HRM_Payroll_AdjustmentSuggesttion_SalaryClassName},
                           {Sal_AdjustmentSuggestionModel.FieldNames.SalaryRankName, ConstantDisplay.HRM_Payroll_AdjustmentSuggesttion_SalaryRankName},
                           {Sal_AdjustmentSuggestionModel.FieldNames.GrossAmount,ConstantDisplay.HRM_Payroll_BasicSalary_GrossAmount},           
                        };
                            var grid = new GridBuilderInfo
                            {
                                Name = "gridSal_UpdateRankDetail",
                                ValueFields = valueFields,
                              //  ForeignKey = foreignKey,
                                GridHeight = 500,
                                GridWidth = 900,
                                ShowEditIcon = false,
                                SizeFields = sizeFields,
                                DisplayFields = displayFields,
                               // EventDataBound = "onDataBoundGrid",
                                ReadActionUrl = _hrm_Hre_Service + "Sal_GetData/GetAdjustmentSuggestionRankDetail/",
                                ReadData = "filterFieldInfo",
                                EventDataBound = "onDataBoundGrid"
                             
                                
                            };
                    }
                    <!--Khởi tạo Grid-->
                    @(Html.VnrGrid<Sal_AdjustmentSuggestionModel>(grid))
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.DateOfEffect)
                    </div>
                    <div class="FieldValue">
                        @{
                            var DateHire = new DatePickerBuilderInfo()
                            {
                                 StyleCss="width:120px",
                                Name = "UpdateRankDetailInfo_DateOfEffect",
                                // Format=ConstantFormat.HRM_Format_DayMonthYear,
                                //    Value=DateTime.Now.ToString("dd/MM/yyyy")
                            };

                        }
                        @Html.VnrDatePickerFor(mode => mode.DateOfEffect, DateHire)
                    </div>
                    <div style="clear: both;"></div>
                </div>

            </td>
        </tr>

        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                    </div>
                    <div class="FieldValue">
                        @*@Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-ProfileTemp", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })*@
                        @Html.VnrButton(new ButtonBuilderInfo() {EventClick = "onSaveClose",  Name = "save-apply-BasicSalary", Content = ConstantAction.HRM_Common_SaveAndApply.TranslateString(), ImageUrl = ConstantPath.IconApprovePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
