@using HRM.Infrastructure.Utilities

@using HRM.Presentation.UI.Controls.Kendo
@model HRM.Presentation.Hr.Models.Hre_ProfileModel

@{
    ViewBag.Title = "Create Profile";
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
<script>
    var checkedNodes = [];

    function onSelectNodeTree() {
        var treeView = $("#treeviewOrgStructureList").data("kendoTreeView");
        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        var energy = checkedNodes.join();
        document.getElementById("OrgStructureListString").setAttribute("value", checkedNodes[0]);
    }

    var data = SetCharacteFieldRequired();
    function doSave() {
        var result = false;
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_Profile/', "popupNotification"); result= true;
        }
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Hre_Web/Hre_Profile/Create/', 'Hrm_Hre_Web', '@_hrm_Main_Web');
        }
    }
</script>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.HreProfileIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_Profile_AddNew.TranslateString()<a class="link-back" onclick="clickBack()">(@ConstantDisplay.HRM_HR_Back_To_Profile_List.TranslateString())</a>
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("TabHre_Profile", Model)
            </div>
        </div>
    </div>
</form>
