@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models

@model CatImportItemModel

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_ImportItem.TranslateString();
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

}

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_ImportItem" }))
{
    @Html.HiddenFor(model => model.ID)
    <div id="div3">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.Code)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.Code))
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="div2">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.ImportID)
        </div>
        <div class="FieldValue">
            @{
    var mtsExport = new MultiSelectBuilderInfo()
    {
        DataTextField = CatExportItemModel.FieldNames.ExportName,
        DataValueField = CatExportItemModel.FieldNames.ID,
        Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiExport",
        Placeholder = ConstantDisplay.HRM_Category_SelectExport.TranslateString(),
        MaxSelectedItems = 1,
        Value = new string[] { @Html.DisplayFor(mode => mode.ImportID).ToString() }
    };
            }
            @Html.VnrMultiSelectFor(mode => mode.ImportID, mtsExport)
        </div>
        <div style="clear: both;"></div>
    </div>


    <div id="div4">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.ExcelField)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextBoxFor(model => model.ExcelField))
        </div>
        <div style="clear: both;"></div>
    </div>



    <div id="div8">
        <div class="FieldTitle">
            @Html.VnrLabelFor(mode => mode.Description)
        </div>
        <div class="FieldValue">
            @(Html.VnrTextAreaFor(model => model.Description))
        </div>
        <div style="clear: both;"></div>
    </div>

    <div>
        <div class="FieldTitle">

        </div>
        <div class="FieldValue">
            <input type="button" value="@ConstantAction.HRM_Common_Save.TranslateString()" onclick="onCreateOrEditGrid($('#form_Cat_ImportItem'), '@_hrm_Hre_Service', 'api/CatImportItem/', 'grid_Cat_ImportItem'); return false;" class="k-button" />
        </div>
    </div>
}

