@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Payroll.Models;
@using HRM.Infrastructure.Security;
@model Sal_UnusualEDModel

@{
    var Hrm_Sal_Web = ConstantPathWeb.Hrm_Main_Web;
    var Hrm_Sal_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        //Name = "windowCat_AccountType",
        Name = ConstantControlName.HRM_Payroll_UnusualED_PopUp_Name,
        Visible = false,
        LoadContentFrom = @Hrm_Sal_Web + "UnusualED/UnusualEDInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
     
    var gridName = '@ConstantControlName.HRM_Payroll_UnusualED_Grid_Name';
    var popUpName = '@ConstantControlName.HRM_Payroll_UnusualED_PopUp_Name';
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualED_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Payroll_UnusualED_Create_Title.TranslateString())';


    //Data khi tìm kiếm
    function filterFieldInfo() {
        return {

            CodeEmp: $('#CodeEmp').val(),
            ProfileName: $('#ProfileName').val(),
        };

    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        $("#btnSearch").click(function () {
           // var grid = $('#grid_UnusualED').data("kendoGrid");
            // grid.dataSource.read();
            ReadGrid(gridName);
        });

        //Xử lý Edit popup
        var url = '@Hrm_Sal_Web' + "UnusualED/UnusualEDInfo/";
        EditGridPopUp("grid_UnusualED", popUpName, url, '@ConstantPermission.UnusualED', titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreate").click(function () {
        
        PopUpCreate(popUpName, titleCreatePopUp, '@ConstantPermission.UnusualED');
    });

    //Xử Lý grid
    GridCheckbox("grid_UnusualED");

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        
        if (selectedIds == "") {
            DeleteFail();
            return;
        }

        e.preventDefault();
        DeleteSelected("grid_UnusualED", '@Hrm_Sal_Web' + "UnusualED/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.UnusualED');
        return false;
    });

</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @*@Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")*@
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">

                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.CodeEmp)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.CodeEmp)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ProfileName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.ProfileName)
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        <div class="HideExportCate">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {

            UnusualEDModel.FieldNames.CodeEmp,
            UnusualEDModel.FieldNames.ProfileName,
            UnusualEDModel.FieldNames.UnusualEDTypeID,
            UnusualEDModel.FieldNames.Amount,
            UnusualEDModel.FieldNames.ChargePIT,
            UnusualEDModel.FieldNames.MonthStart,
            UnusualEDModel.FieldNames.MonthEnd,
            UnusualEDModel.FieldNames.UserUpdate,
            UnusualEDModel.FieldNames.DateUpdate
        };

        var sizeFields = new Dictionary<string, int>()
        {
            {UnusualEDModel.FieldNames.CodeEmp,250},
            {UnusualEDModel.FieldNames.ProfileName,250},
            {UnusualEDModel.FieldNames.UnusualEDTypeID,250},
            {UnusualEDModel.FieldNames.Amount,250},
            {UnusualEDModel.FieldNames.ChargePIT,250},
            {UnusualEDModel.FieldNames.MonthStart,250},
            {UnusualEDModel.FieldNames.MonthEnd,250},
            {UnusualEDModel.FieldNames.UserUpdate,250},
            {UnusualEDModel.FieldNames.DateUpdate,250}
        };

        var filterable = new Dictionary<string, bool>()
        {
            {UnusualEDModel.FieldNames.CodeEmp,true},
            {UnusualEDModel.FieldNames.ProfileName,true},
        };

        var displayFields = new Dictionary<string, string>()
        {
            {UnusualEDModel.FieldNames.CodeEmp,ConstantDisplay.HRM_Payroll_UnusualED_ProfileID},
            {UnusualEDModel.FieldNames.ProfileName,ConstantDisplay.HRM_Payroll_UnusualED_ProfileName},
            {UnusualEDModel.FieldNames.UnusualEDTypeID,ConstantDisplay.HRM_Payroll_UnusualED_UnusualEDTypeID},
            {UnusualEDModel.FieldNames.Amount,ConstantDisplay.HRM_Payroll_UnusualED_Amount},
            {UnusualEDModel.FieldNames.ChargePIT,ConstantDisplay.HRM_Payroll_UnusualED_ChargePIT},
            {UnusualEDModel.FieldNames.MonthStart,ConstantDisplay.HRM_Payroll_UnusualED_MonthStart},
            {UnusualEDModel.FieldNames.MonthEnd,ConstantDisplay.HRM_Payroll_UnusualED_MonthEnd},
            {UnusualEDModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Payroll_UnusualED_UserUpdate},
            {UnusualEDModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Payroll_UnusualED_DateUpdate}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_UnusualED",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            Filterable = filterable,
            ShowCommand = false,
            ReadActionUrl = Hrm_Sal_Service + "Sal_GetData/GetUnusualEDList/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<UnusualEDModel>(grid))
</div>
