@*
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Payroll.Models.Sal_BasicSalaryModel*@
@*@model Sal_BasicSalaryModel*@
@{
    
    //ViewBag.Title = "Index  AttGrade";
    //Layout = null;
    //var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Att_Web = ConstantPathWeb.Hrm_Att_Web;
    //var _hrm_Sal_Web = ConstantPathWeb.Hrm_Sal_Web;
    //var _hrm_Sal_Services = ConstantPathWeb.Hrm_Sal_Service;
}

@*<script>
    //var checkedNodes = [];
    var data = SetCharacteFieldRequired();
    //SetFieldRequired();



        function doSave() {
            var result = false;
            if (CheckValidate(data)) {
                onCreate($('#form-create'), '@_hrm_Sal_Services', 'api/Sal_BasicSalary/'); return false;
            }
            return result;
    }

    function doSaveNew() {
            if (doSave()) {
                KendoRouteMapping('#Hrm_Sal_Web/Sal_BasicSalary/Create/', 'Hrm_Sal_Web', '@_hrm_Sal_Web');
            }
        }
</script>*@

<div>
    @*@ViewBag.MsgInsert*@
</div>

@*<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_GradeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Sal_BasicSalary_BackList.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Sal_BasicSalary_Back_List.TranslateString() + ")", "Index")
                         
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })

                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>*@
