@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;
@using HRM.Infrastructure.Security;

@model CatShiftSearchModel
@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_Shift.TranslateString();
    Layout = null;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatShift",
        Visible = false,
        LoadContentFrom = @_hrm_Main_Web + "Cat_Shift/CatShiftInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    //Biến để lưu id của các dòng đã check chọn
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_Shift_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_Shift_Create_Title.TranslateString())';


    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo(isExport) {
        return {
            ShiftName: $('#SShiftName').val(),
            Code: $('#Code1').val(),
            IsExport: isExport,
            ValueFields: $('#valueFieldsGrid').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {
            var grid = $('#' + '@ConstantControlName.HRM_griShift_Grid_Name').data("kendoGrid");
            grid.dataSource.read();
        });
        //Xử lý Edit popup
        EditGridNewPage("gridShift", '#Hrm_Main_Web/Cat_Shift/Edit/', 'Hrm_Main_Web', '@_hrm_Main_Web');
    });

    $("#btnCreate").click(function () {
        KendoRouteMapping('#Hrm_Main_Web/Cat_Shift/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
    });


    //Xử Lý grid
    GridCheckbox("Shift");



    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();

        DeleteSelectedConfirm("Shift", '@_hrm_Main_Web' + "Cat_Shift/RemoveSelected/", selectedIds, '@ConstantPermission.Cat_Shift');
        return false;
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportCatShiftSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_Shift');
    });

    $("#btnExportAll").click(function () {
        var grid = $('#Shift').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllCatShiftlList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_Shift');

    });

</script>



<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.ShiftName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SShiftName", "width:200px")
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("Code1", "width:200px")
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        @*<div class="HideExportCate">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            </div>*@
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeShift", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_griShift_Grid_Name + "__Cat_ShiftIndex";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_griShift_Grid_Name,
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetCatShiftList",
            ReadData = "filterFieldInfo",
            AutoBind = false,
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {

                CatShiftModel.FieldNames.Code,
                CatShiftModel.FieldNames.ShiftName,
                CatShiftModel.FieldNames.IsNightShift,
                CatShiftModel.FieldNames.WorkHours,
                CatShiftModel.FieldNames.StdWorkHours,
                CatShiftModel.FieldNames.InTime,
                 CatShiftModel.FieldNames.TimeCoBreakIn,
                 CatShiftModel.FieldNames.TimeCoBreakOut,
                 CatShiftModel.FieldNames.TimeCoOut,
                //CatShiftModel.FieldNames.NightTimeStart,
              //  CatShiftModel.FieldNames.NightTimeEnd,
                CatShiftModel.FieldNames.UserUpdate,
                CatShiftModel.FieldNames.DateUpdate
            };

            grid.SizeFields = new Dictionary<string, int>()
            {
                {CatShiftModel.FieldNames.ShiftName, 100},
                {CatShiftModel.FieldNames.Code, 100},
                {CatShiftModel.FieldNames.IsNightShift, 62},
                {CatShiftModel.FieldNames.WorkHours, 113},
                {CatShiftModel.FieldNames.StdWorkHours, 113},
                {CatShiftModel.FieldNames.InTime, 60},
                {CatShiftModel.FieldNames.TimeCoBreakIn, 72},
                {CatShiftModel.FieldNames.TimeCoBreakOut, 70},
                {CatShiftModel.FieldNames.TimeCoOut, 54},
                {CatShiftModel.FieldNames.UserUpdate,108},
                {CatShiftModel.FieldNames.DateUpdate,120}
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {
                {CatShiftModel.FieldNames.ShiftName, ConstantDisplay.HRM_Category_Shift_ShiftName},
                {CatShiftModel.FieldNames.Code, ConstantDisplay.HRM_Category_Shift_Code},
                {CatShiftModel.FieldNames.IsNightShift, ConstantDisplay.HRM_Category_Shift_IsNightShift},
                {CatShiftModel.FieldNames.WorkHours, ConstantDisplay.HRM_Category_Shift_WorkHour},
                {CatShiftModel.FieldNames.StdWorkHours, ConstantDisplay.HRM_Category_Shift_StdWorkHours},
                {CatShiftModel.FieldNames.InTime, ConstantDisplay.HRM_Category_Shift_InTime},
                {CatShiftModel.FieldNames.TimeCoBreakIn, ConstantDisplay.HRM_Category_Shift_TimeCoBreakIn},
                {CatShiftModel.FieldNames.TimeCoBreakOut, ConstantDisplay.HRM_Category_Shift_TimeCoBreakOut},
                 {CatShiftModel.FieldNames.TimeCoOut, ConstantDisplay.HRM_Category_Shift_TimeCoOut},
                {CatShiftModel.FieldNames.UserUpdate,ConstantDisplay.HRM_Category_Shift_UserUpdate},
                {CatShiftModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Category_Shift_DateUpdate}
            };

            grid.FormatFields = new Dictionary<string, string>()
            {
                {CatShiftModel.FieldNames.WorkHours, ConstantFormat.HRM_Format_Number_Double},
                {CatShiftModel.FieldNames.StdWorkHours, ConstantFormat.HRM_Format_Number_Double},
                {CatShiftModel.FieldNames.InTime, ConstantFormat.HRM_Format_HourMin},
                {CatShiftModel.FieldNames.TimeCoBreakIn, ConstantFormat.HRM_Format_HourMin},
                {CatShiftModel.FieldNames.TimeCoBreakOut, ConstantFormat.HRM_Format_HourMin},
                {CatShiftModel.FieldNames.TimeCoOut, ConstantFormat.HRM_Format_HourMin},
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "Shift",
        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    FormatFields = formatFields,
        //    AutoBind = false,
        //    ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetCatShiftList",
        //    ReadData = "filterFieldInfo"
        //};
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatShiftModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeShift", "CatShiftModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)