@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_BudgetModel

@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    
}
<script>
    SetFieldRequired();
    function onSaveNew() {
        //var dataCheck = data[''];
        //if (CheckValidate(data) && !checkDuplicationCode()) {
        onSaveAndContinue($('#form_cat_budget'), '@_hrm_Hr_Service', 'api/Cat_Budget/', '@ConstantControlName.HRM_Category_Budget_Grid_Name', '@ConstantControlName.HRM_Category_Budget_PopUp_Name'); return false;
        //}
    }

    function onSaveClose() {
        //if (CheckValidate(data) && !checkDuplicationCode()) {
        onSaveAndClose($('#form_cat_budget'), '@_hrm_Hr_Service', 'api/Cat_Budget/', '@ConstantControlName.HRM_Category_Budget_Grid_Name', '@ConstantControlName.HRM_Category_Budget_PopUp_Name'); return false;
        //}
    }
    function onSaveDataPopUp() {

        //if (CheckValidate(data)) {
        //    if (!checkDuplicationCode()) {
        onlySave($('#form_cat_budget'), '@_hrm_Hr_Service', 'api/Cat_Budget/', '@ConstantControlName.HRM_Category_Budget_Grid_Name'); return false;
        //    }
        //}
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_budget" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.DateCreate)
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.BudgetName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.BudgetName, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Description)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Description, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Budget", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-catBudget", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-catBudget", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
   
}
