@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Infrastructure.Utilities

@model HRM.Presentation.Attendance.Models.Att_AttendanceTableItemModel

@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div style="width:500px; display:block; float:left">
                        <div id="div2">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AttendanceTableID)
                            </div>
                            <div class="FieldValue">
                                @Html.VnrTextBoxFor(model => model.AttendanceTableID)
                            </div>
                        </div>
                        <div id="div3">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.ShiftID)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var multiSelectShiftID = new MultiSelectBuilderInfo()
                                    {
                                        Name = "ShiftID",
                                        DataTextField = "ShiftName",
                                        DataValueField = "ID",
                                        Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiShift",
                                        MaxSelectedItems = 1,
                                    };
                                }
                                @(Html.VnrMultiSelectFor(mode => mode.ShiftID, multiSelectShiftID))
                            </div>
                            <br />
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.WorkDate)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var WorkDate = new DatePickerBuilderInfo() { };
                                }
                                @(Html.VnrDatePickerFor(model => model.WorkDate, WorkDate))
                            </div>
                        </div>
                        <div id="div6">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.AvailableHours)
                            </div>
                            <div class="FieldValue">
                              
                                @{
                                    var AvailableHours = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @(Html.VnrNumericTextBoxFor(model => model.AvailableHours, AvailableHours))
                            </div>
                        </div>
                        <div id="div5">
                            <div class="FieldTitle">
                                @Html.VnrLabelFor(mode => mode.WorkHours)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var WorkHours = new NumericTextBoxBuilderInfo<double>() { };
                                }
                                @Html.VnrNumericTextBoxFor(model => model.WorkHours, WorkHours)
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
