
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Attendance.Models.Att_AttendanceTableItemModel
@{
    ViewBag.Title = "Index  Att_AttendanceTableItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var data = SetCharacteFieldRequired();
    var doSave = function()
    {
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Att_AttendanceTableItem/');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
@using (Html.BeginForm())
{
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <div class="section-header">
                <div class="title">
                    <img src="@ConstantPath.AttLeavedayIconPath" alt="" width="20" height="20" />

                  @ConstantDisplay.HRM_Attendance_AttendanceTableItem_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Attendance_Back_To_AttendanceTableItem_List.TranslateString() + ")", "Index")
                </div>

            </div>
        </div>
            <div class="commandToolBarWidge">
                <div class="options">
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
                @Html.Partial("CreateOrUpdate", Model)

     </div>
</div>  
}
