@using HRM.Infrastructure.Security
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.HrmSystem.Models
@using HRM.Presentation.UI.Controls.Kendo
@{
    ViewBag.Title = "Index";
    Layout = null;
    var hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowSys_CodeConfigInfoNew",
        Visible = false,
        Width = 700,
        LoadContentFrom = hrm_Sys_Web + "Sys_CodeConfig/Sys_CodeConfigInfo/",
    };
}
@(Html.VnrWindow(window))
<script>
    var gridName = "gridSys_CodeConfig";
    var titlePopUp = "Tạo Mới Cấu Hình Sinh Mã Tự Động";
    var popUpName = "windowSys_CodeConfigInfoNew";
    var checkedNodes = [];
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        ShowHidePanel();
        $("#btnSearch").click(function () {
            ReadGrid(gridName);
        });
        //Xử lý Edit popup
        var url = '@hrm_Sys_Web' + "Sys_CodeConfig/Sys_CodeConfigInfo/";
        EditGridPopUp(gridName, popUpName, url, '@ConstantPermission.Sys_CodeConfig', titlePopUp);
    });
    $("#btnCreate").click(function () {
        PopUpCreate(popUpName, titlePopUp, '@ConstantPermission.Sys_CodeConfig');
    });
    $('#btnDelete').click(function (e) {
        DeleteSelected(gridName, '@hrm_Sys_Web' + "Sys_CodeConfig/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Sys_CodeConfig');
    })
    function filterFieldInfo() {
        return {
            ObjectName: $('#CodeConfig_ObjectName1').val(),
        };
    }
</script>
@model Sys_CodeConfigSearchModel
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>

            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div id="dvUserName">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.ObjectName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("CodeConfig_ObjectName1", "Width:200px;")

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>

</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{

        string[] valueFields = new string[]
        {
            Sys_CodeConfigModel.FieldNames.ObjectName,
            Sys_CodeConfigModel.FieldNames.FieldName,
            Sys_CodeConfigModel.FieldNames.Formula,
            Sys_CodeConfigModel.FieldNames.Ordinal,
            Sys_CodeConfigModel.FieldNames.IsResetByDay,
            Sys_CodeConfigModel.FieldNames.IsResetByMonth,
            Sys_CodeConfigModel.FieldNames.IsResetByYear,
            Sys_CodeConfigModel.FieldNames.IsResetByUser,
            Sys_CodeConfigModel.FieldNames.IsResetByField,
            Sys_CodeConfigModel.FieldNames.ResetByField1,
            Sys_CodeConfigModel.FieldNames.ResetByField2,            
            Sys_CodeConfigModel.FieldNames.UserCreate,
            Sys_CodeConfigModel.FieldNames.DateCreate,
            Sys_CodeConfigModel.FieldNames.UserUpdate,
            Sys_CodeConfigModel.FieldNames.DateUpdate
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_CodeConfigModel.FieldNames.ObjectName, 120},
            {Sys_CodeConfigModel.FieldNames.FieldName, 120},
            {Sys_CodeConfigModel.FieldNames.Formula, 200},
            {Sys_CodeConfigModel.FieldNames.Ordinal, 80},
            {Sys_CodeConfigModel.FieldNames.IsResetByDay, 120},
            {Sys_CodeConfigModel.FieldNames.IsResetByMonth, 136},
            {Sys_CodeConfigModel.FieldNames.IsResetByYear, 120},
            {Sys_CodeConfigModel.FieldNames.IsResetByUser, 160},
            {Sys_CodeConfigModel.FieldNames.IsResetByField, 155},
            {Sys_CodeConfigModel.FieldNames.ResetByField1, 250},
            {Sys_CodeConfigModel.FieldNames.ResetByField2, 250},            
            {Sys_CodeConfigModel.FieldNames.UserCreate, 100},
            {Sys_CodeConfigModel.FieldNames.DateCreate, 100},
            {Sys_CodeConfigModel.FieldNames.UserUpdate, 120},
            {Sys_CodeConfigModel.FieldNames.DateUpdate, 120}
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sys_CodeConfigModel.FieldNames.ObjectName,ConstantDisplay.HRM_System_CodeConfig_ObjectName.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.FieldName, ConstantDisplay.HRM_System_CodeConfig_FieldName.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.Formula,  ConstantDisplay.HRM_System_CodeConfig_Formula.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.Ordinal, ConstantDisplay.HRM_System_CodeConfig_Ordinal.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.IsResetByDay,  ConstantDisplay.HRM_System_CodeConfig_IsResetByDay.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.IsResetByMonth, ConstantDisplay.HRM_System_CodeConfig_IsResetByMonth.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.IsResetByYear,  ConstantDisplay.HRM_System_CodeConfig_IsResetByYear.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.IsResetByUser,  ConstantDisplay.HRM_System_CodeConfig_IsResetByUser.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.IsResetByField,  ConstantDisplay.HRM_System_CodeConfig_IsResetByField.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.ResetByField1, ConstantDisplay.HRM_System_CodeConfig_ResetByField1.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.ResetByField2,  ConstantDisplay.HRM_System_CodeConfig_ResetByField2.TranslateString()},            
            {Sys_CodeConfigModel.FieldNames.UserCreate, Sys_CodeConfigModel.FieldNames.UserCreate.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.DateCreate,  Sys_CodeConfigModel.FieldNames.DateCreate.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.UserUpdate,  Sys_CodeConfigModel.FieldNames.UserUpdate.TranslateString()},
            {Sys_CodeConfigModel.FieldNames.DateUpdate, Sys_CodeConfigModel.FieldNames.DateUpdate.TranslateString()}
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridSys_CodeConfig",
            ValueFields = valueFields,
            ReadActionUrl = hrm_Sys_Service + "Sys_GetData/GetCodeConfigList",
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadData = "filterFieldInfo",
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_CodeConfigModel>(grid))
</div>

