
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.Hre_HDTJobModel
@{
    ViewBag.Title = "Index Hre_HDTJob";
    Layout = null;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
   
    var data = SetCharacteFieldRequired();
    function doSave() {
        var result = false;
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@_hrm_Hr_Service', 'api/Hre_HDTJob/', "popupNotification"); result = true;
        }
        return result;
    }
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Hre_HDTJob/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.PositionIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_HR_HDTJob_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_HR_Back_To_HDTJob_List.TranslateString() + ")", "Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
