@using HRM.Infrastructure.Utilities
@model HRM.Presentation.Category.Models.CatGradeModel
@using HRM.Infrastructure.Security
@using HRM.Presentation.HrmSystem.Models;
@*@model HRM.Presentation.HrmSystem.Models.Sys_BookmarkModel*@


@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_Grade;
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Cat_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatGrade",
        Visible = false,
        LoadContentFrom = @_hrm_Main_Web + "Cat_GradeCfg/GradeInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">
    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_Grade_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_Grade_Create_Title.TranslateString())';
     
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            GradeCfgName: $('#SGradeCfgName').val(),
            Code: $('#SCode').val(),
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {
            ReadGrid("gridCatGrade");
        });
        //Xử lý Edit popu
        
        var url = '@_hrm_Main_Web' + "Cat_GradeCfg/GradeInfo/";
        EditGridPopUp("gridCatGrade", "windowCatGrade", url, '@ConstantPermission.Cat_GradeCfg',titleEditPopUp);
      
    });

    $("#btnCreateCatGrade").click(function () {
        PopUpCreate("windowCatGrade", titleCreatePopUp, '@ConstantPermission.Cat_GradeCfg');
    });
    
    //Xử Lý grid
    GridCheckbox("gridCatGrade");
    

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();
        DeleteSelected("gridCatGrade", '@_hrm_Main_Web' + "Cat_GradeCfg/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_GradeCfg');
        return false;
    });
    
</script>

    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <h3>
                    <!--Dòng title cho biết đang ở form nào và link quay lại-->
                    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                
                    <span class="collapse k-icon k-i-arrowhead-n"></span>
                </h3>
                <!--Bất đầu nôi dung tìm kiếm-->
                <div class="contendSearchWidge">
                    <div id="div1">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.GradeCfgName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SGradeCfgName", "width:250px")
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SCode", "width:250px")
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="commandToolBarWidge" id="anchor">
        <div style="float:left">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCatGrade", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl=ConstantPath.IconAddNewPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl=ConstantPath.IconSearchPath })
        </div>
        <div style="float:right">
            <div class="HideExportCate">
                @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            </div>
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <!--Khai báo các thông tin cho Grid-->
        @using HRM.Presentation.Category.Models
        @using HRM.Presentation.UI.Controls.Kendo
        @{
            string[] valueFields = new string[]
        {
            CatGradeModel.FieldNames.Code,
            CatGradeModel.FieldNames.GradeCfgName,
            CatGradeModel.FieldNames.CurrencyName,
            CatGradeModel.FieldNames.HourOnWorkDate,
            CatGradeModel.FieldNames.SalaryTimeType,
            CatGradeModel.FieldNames.SalaryTimeDay,
            CatGradeModel.FieldNames.Description


        };
            Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {CatGradeModel.FieldNames.Code,80},
            {CatGradeModel.FieldNames.GradeCfgName,150},
            {CatGradeModel.FieldNames.CurrencyName,150},
            {CatGradeModel.FieldNames.HourOnWorkDate,150},
            {CatGradeModel.FieldNames.SalaryTimeType,200},
            {CatGradeModel.FieldNames.SalaryTimeDay,150},
            {CatGradeModel.FieldNames.Description,200}
        };

            var filterable = new Dictionary<string, bool>()
        {
            {CatGradeModel.FieldNames.Code,true},
            {CatGradeModel.FieldNames.GradeCfgName,true}
        };

            Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {

            {CatGradeModel.FieldNames.Code,ConstantDisplay.HRM_Category_Grade_Code},
            {CatGradeModel.FieldNames.GradeCfgName,ConstantDisplay.HRM_Category_Grade_GradeCfgName},
            {CatGradeModel.FieldNames.CurrencyName,ConstantDisplay.HRM_Category_Grade_CurrencyID},
            {CatGradeModel.FieldNames.HourOnWorkDate,ConstantDisplay.HRM_Category_Grade_HourOnWorkDate},
            {CatGradeModel.FieldNames.SalaryTimeType,ConstantDisplay.HRM_Category_Grade_SalaryTimeType},
            {CatGradeModel.FieldNames.SalaryTimeDay,ConstantDisplay.HRM_Category_Grade_SalaryTimeDay},
            {CatGradeModel.FieldNames.Description,ConstantDisplay.HRM_Category_Grade_Description}
        };

            Dictionary<string, string> formatFields = new Dictionary<string, string>()
        {
            {CatGradeModel.FieldNames.HourOnWorkDate, ConstantFormat.HRM_Format_Int},
           
        };
            var grid = new GridBuilderInfo
            {
                Name = "gridCatGrade",
                ValueFields = valueFields,
                SizeFields = sizeFields,
                DisplayFields = displayFields,
                ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetGradeList/",
                ShowCreateButton = true,
                ShowCustomEdit = true,
                EventCustomEdit = "onEditCatGrade",
                DeleteActionUrl = @_hrm_Main_Web + "Cat_GradeCfg/Remove/",
                IdPropertyName = "Id",
                ReadData = "filterFieldInfo",

            };
        }

        <!--Khởi tạo Grid-->
        @(Html.VnrGrid<CatGradeModel>(grid))
    </div>
