@using System.Collections
@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models
@using HRM.Infrastructure.Security
@model Cat_DataGroupModel
@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    Layout = null;
}


<script>

    var data = SetCharacteFieldRequired();
    function doSave() {
        var result = false;
        var _orderNumber = document.getElementById("CatDataGroupDetail_OrderNumber");
        if (_orderNumber.value == "") {
            ShowNotification('@ConstantDisplay.HRM_Dashboard_Alerts.TranslateString()', '[@ConstantDisplay.OrderNumber.TranslateString()] ' + '@Html.Raw(ConstantMessages.Required.TranslateString())', "k-block k-info-colored");
            return false;
        }
        onCreate($('#form-create'), '@_hrm_Hre_Service', 'api/Cat_DataGroup/');
        result = true;
        return result;
    };
    function doSaveNew() {
        if (doSave()) {
            KendoRouteMapping('#Hrm_Main_Web/Cat_DataGroup/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }

</script>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Cat_DataGroup_Update.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_Cat_Back_To_DataGroup_List.TranslateString() + ")", "/Index")
                    </div>
                </div>
                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save_CatDataGroupEdit", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-new_CatDataGroupEdit", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>
