@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Infrastructure.Utilities

@model HRM.Presentation.Hr.Models.Hre_RewardModel

@Html.ValidationSummary(false)
@Html.AntiForgeryToken()

@{
    IList<SelectListItem> list = Enum.GetValues(typeof(EnumDropDown.RewardType))
        .Cast<EnumDropDown.RewardType>()
        .Select(x => new SelectListItem { Value = EnumDropDown.GetEnumDescription(x), Text = x.ToString() })
        .ToList();

    SelectList data = new SelectList(list, "Value", "Text");
}


<div class="VnRMain">
    <table style="width:50%">
        <tbody>
            <tr>
                <td class="Box_Top_Left"></td>
                <td valign="middle" class="Box_Top_Mid"></td>
                <td class="Box_Top_Right"></td>
            </tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.ProfileName)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.ProfileName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Reason)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.Reason)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Description)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateOfEffective)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.DateOfEffective)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div6">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.RewardedDecidingOrgID)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.RewardedDecidingOrgID)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div7">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.UserApproveID)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.ProfileName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div8">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.RewardValue)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.RewardValue)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div9">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.NoOfReward)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.NoOfReward)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div10">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.RewardValue)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.RewardValue)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div11">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Requester)
                        </div>
                        <div class="FieldValue">
                            @Html.DisplayFor(model => model.Requester)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
