@using HRM.Infrastructure.Utilities

@using HRM.Infrastructure.Security;

@model HRM.Presentation.Category.Models.CatOvertimeTypeModel

@{
    ViewBag.Title = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_Category_OrgStructureType_Code.TranslateString();
    Layout = null;
    //var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Cat_Web;
    //var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;

}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatOvertimeType",
        Visible = false,

        Width = 700,

        LoadContentFrom = @_hrm_Main_Web + "Cat_OvertimeType/CatOvertimeTypeInfo/",
    };
}
@(Html.VnrWindow(window))
<script type="text/javascript">

    var titleEditPopUp = '@Html.Raw(ConstantDisplay.HRM_Category_OvertimeType_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Category_OvertimeType_Create_Title.TranslateString())';
    function filterFieldInfo(isexport) {
        return {
            Code: $('#SCode').val(),
            OvertimeTypeName: $('#SOvertimeTypeName').val(),
            Rate: $('#Rate1').val(),
            IsExport: isexport,
            ValueFields: $('#valueFieldsGrid').val()

        };
        //var _form = $('#form-search');
        //var queryEntity = _form.serialize();
        //var entity = queryStringToJSON(queryEntity);
        //return entity;
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //Jump Anchor
        jumpAnchor("anchor");
        //
        $("#btnSearch").click(function () {

            ReadGrid('@ConstantControlName.HRM_gridCatOvertimeType_Grid_Name');
        });
        //Xử lý nút Edit
        @*var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_OvertimeType');
        if (!isAccess) {
            return;
        }*@
        var url = '@_hrm_Main_Web' + "Cat_OvertimeType/CatOvertimeTypeInfo/";
        EditGridPopUp("gridCatOvertimeType", "windowCatOvertimeType", url, '@ConstantPermission.Cat_OvertimeType', titleEditPopUp);
    });

    $("#btnCreateCatOvertimeType").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_OvertimeType');
        if (!isAccess) {
            return;
        }*@
        PopUpCreate("windowCatOvertimeType", titleCreatePopUp, '@ConstantPermission.Cat_OvertimeType');
    });
    //Xử Lý grid
    GridCheckbox("gridCatOvertimeType");


    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        @*var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.Cat_OvertimeType');
        if (!isAccess) {
            return;
        }*@
        if (selectedIds == "") {
            DeleteFail();
            return;
        }
        e.preventDefault();

        //DeleteSelected("gridCatOvertimeType", '@_hrm_Main_Web' + "Cat_OvertimeType/RemoveSelected/", selectedIds.join(","), '@ConstantPermission.Cat_OvertimeType');
        DeleteSelectedConfirmMessage("gridCatOvertimeType", '@_hrm_Main_Web' + "Cat_OvertimeType/RemoveSelected/", selectedIds, '@ConstantPermission.Cat_OvertimeType',"Xóa dữ liệu này sẻ ảnh hưởng tới phần tử tính lương, bạn có chắc chắn muốn xóa ?");
        return false;
    });

    $("#btnExportSelected").click(function () {

        if (selectedIds == "") {
            ExportSelectedFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportOvertimeTypeSelected/";
        var urlDownload = '@_hrm_Main_Web';
        var listIds = selectedIds.join(",");
        var listFields = $('#valueFieldsGrid').val();
        ExportSelected(urlGetData, listIds, listFields, urlDownload, '@ConstantPermission.Cat_OvertimeType');
    });

    $("#btnExportAll").click(function () {
        @*var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Hre_ProfileQuit');
        if (!isAccess) {
            return;
        }*@
        var grid = $('#gridCatOvertimeType').data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            ExportAllFail();
            return;
        }
        var urlGetData = '@_hrm_Hr_Service' + "Cat_GetData/ExportAllOvertimeTypelList/";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload, '@ConstantPermission.Cat_OvertimeType');
    });

    $('#Rate1').removeAttr('data-val-required');
</script>



<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form action="#" method="POST" id="form-search">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.OvertimeTypeName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SOvertimeTypeName", "width:200px")
                        </div>
                    </div>
                    <div id="div">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("SCode", "width:200px")
                        </div>
                    </div>

                    <div id="div1">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Rate)
                        </div>
                        <div class="FieldValue">
                            @{

                                var Rate = new NumericTextBoxBuilderInfo<double>()
                                {
                                    Name = "Rate1",

                                };
                            }

                            @(Html.VnrNumericTextBoxFor(model => model.Rate, Rate))
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge" id="anchor">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateCatOvertimeType", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })

    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        <div class="btn-group">
            <button type="button" class="k-button btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="@ConstantPath.IconExportPath" width="15" height="15" />
                @ConstantDisplay.HRM_Common_ExportDropdown_Title.TranslateString()
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportSelected", Content = ConstantAction.HRM_Common_ExportSelected.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
                <li>@Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExportAll", Content = ConstantAction.HRM_Common_ExportAll.TranslateString(), ImageUrl = ConstantPath.IconExportPath, CssStyle = "border:0" })</li>
            </ul>
        </div>
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnChangeOvertimeType", Content = ConstantDisplay.HRM_ChangeColumn.TranslateString(), ImageUrl = ConstantPath.Hrm_ChangeColumnIcon })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = ConstantAction.HRM_Common_Delete.TranslateString(), ImageUrl = ConstantPath.IconDeletePath })
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo

    @{
        var columnMode = string.Empty;
        var defaultColumnMode = string.Empty;
        var userId = Session[SessionObjects.UserId];
        //Lấy tên lưới cộng thêm tên của control và action để tránh trùng nhau
        var gridControlName = ConstantControlName.HRM_gridCatOvertimeType_Grid_Name + "__Cat_OvertimeTypeIndex";
        HRM.Presentation.Main.Controllers.Sys_ColumnModeController control = new HRM.Presentation.Main.Controllers.Sys_ColumnModeController();
        //Get thông tin cấu hình trong database
        GridBuilderModel gridInfo = control.GetGridBuilderInfo(userId + "," + gridControlName);

        var grid = new GridBuilderInfo
        {
            Name = ConstantControlName.HRM_gridCatOvertimeType_Grid_Name,
            ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetOvertimeTypeList/",
            ReadData = "filterFieldInfo",
            ShowCommand = false,
            //EventDataBound = "changePageGird",
        };

        if (gridInfo != null && gridInfo.ValueFields != null && gridInfo.ValueFields.Any())
        {
            grid.ValueFields = gridInfo.ValueFields;
            grid.SizeFields = gridInfo.SizeFields;
            grid.Filterable = gridInfo.FilterFields;
            grid.DisplayFields = gridInfo.DisplayFields;
            grid.LockedFields = gridInfo.LockedFields;
            grid.GroupFields = gridInfo.GroupFields;
            if (gridInfo.PageSize > 0)
            {
                grid.PageSize = gridInfo.PageSize;
            }
            columnMode = gridInfo.StringXml;
        }
        else
        {
            grid.ValueFields = new string[]
            {

                CatOvertimeTypeModel.FieldNames.Code,
                CatOvertimeTypeModel.FieldNames.OvertimeTypeName,
                CatOvertimeTypeModel.FieldNames.Rate,
                CatOvertimeTypeModel.FieldNames.TaxRate,
                CatOvertimeTypeModel.FieldNames.TimeOffInLieuRate,
                CatOvertimeTypeModel.FieldNames.IsNightShift,
                CatOvertimeTypeModel.FieldNames.UserCreate,
                CatOvertimeTypeModel.FieldNames.DateUpdate,
                 CatOvertimeTypeModel.FieldNames.Comment


            };
            grid.SizeFields = new Dictionary<string, int>()
            {

                {CatOvertimeTypeModel.FieldNames.Code,100},
                {CatOvertimeTypeModel.FieldNames.OvertimeTypeName,90},
                {CatOvertimeTypeModel.FieldNames.Rate,101},
                {CatOvertimeTypeModel.FieldNames.TaxRate,90},
                {CatOvertimeTypeModel.FieldNames.TimeOffInLieuRate,100},
                {CatOvertimeTypeModel.FieldNames.IsNightShift,54},
                {CatOvertimeTypeModel.FieldNames.Comment,150},
                {CatOvertimeTypeModel.FieldNames.UserCreate,75},
                {CatOvertimeTypeModel.FieldNames.DateUpdate,120}
            };

            grid.DisplayFields = new Dictionary<string, string>()
            {

                {CatOvertimeTypeModel.FieldNames.Code, ConstantDisplay.HRM_Category_OvertimeType_Code},
                {CatOvertimeTypeModel.FieldNames.OvertimeTypeName, ConstantDisplay.HRM_Category_OvertimeType_OvertimeTypeName},
                {CatOvertimeTypeModel.FieldNames.Rate, ConstantDisplay.HRM_Category_OvertimeType_Rate},
                {CatOvertimeTypeModel.FieldNames.TaxRate, ConstantDisplay.HRM_Category_OvertimeType_TaxRate},
                {CatOvertimeTypeModel.FieldNames.TimeOffInLieuRate, ConstantDisplay.HRM_Category_OvertimeType_TimeOffInLieuRate},
                {CatOvertimeTypeModel.FieldNames.IsNightShift, ConstantDisplay.HRM_Category_OvertimeType_IsNightShift},
                {CatOvertimeTypeModel.FieldNames.Comment, ConstantDisplay.HRM_Category_OvertimeType_Comment},
                {CatOvertimeTypeModel.FieldNames.UserCreate,ConstantDisplay.HRM_Category_OvertimeType_UserCreate},
                {CatOvertimeTypeModel.FieldNames.DateUpdate,ConstantDisplay.HRM_Category_OvertimeType_DateUpdate}
            };
            defaultColumnMode = control.SetDefaultGridBuilderInfo(grid);
        }
        //var grid = new GridBuilderInfo
        //{
        //    Name = "gridCatOvertimeType",

        //    ValueFields = valueFields,
        //    SizeFields = sizeFields,
        //    DisplayFields = displayFields,
        //    ReadActionUrl = @_hrm_Hr_Service + "Cat_GetData/GetOvertimeTypeList/",
        //    ShowCommand = false,
        //    ReadData = "filterFieldInfo"
        //};
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatOvertimeTypeModel>(grid))
    <script>
        ClickButtonChangeColum("btnChangeOvertimeType", "CatOvertimeTypeModel");
        $(document).ready(function () {
            $("#" + '@ConstantControlName.HRM_ChangeColum_Grid_Name').val('@gridControlName');
            $("#" + '@ConstantControlName.HRM_ChangeColum_ColumMode_Name').val('@Html.Raw(columnMode)');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('');
            $("#" + '@ConstantControlName.HRM_ChangeColum_Default_ColumMode_Name').val('@Html.Raw(defaultColumnMode)');
        });
    </script>
</div>
@{
    var listValueField = grid.ValueFields;
    var valueFields1 = string.Empty;
    if (listValueField != null)
    {
        for (int i = 0; i < listValueField.Count(); i++)
        {
            valueFields1 += "," + listValueField[i];
        }
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)