@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@using System.Collections;

@model Hre_UniformModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    SetFieldRequired();
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.HiddenFor(mode => mode.ID)
                            @Html.VnrLabelFor(mode => mode.ProfileID)
                        </div>
                        <div class="FieldValue">
                            @{
                                IEnumerable valueProfile = new string[] { };
                                if (Model != null)
                                {
                                    valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                }
                            }
                            @{
                                var Profile = new MultiSelectBuilderInfo()
                                 {
                                     DataTextField = Hre_UniformModel.FieldNames.ProfileName,
                                     DataValueField = Hre_UniformModel.FieldNames.ID,
                                     Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                     Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                     MaxSelectedItems = 1,
                                     Value = valueProfile
                                 };
                            }
                            @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.UniformName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.UniformName)
                            @Html.ValidationMessageFor(model => model.UniformName)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateOfIssue)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dateOfIssue = new DatePickerBuilderInfo() {
                                StyleCss = "Width: 100px",
                                Name = "Uniform_DateOfIssue"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateOfIssue, dateOfIssue)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateExpire)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dateExpire = new DatePickerBuilderInfo()
                                {
                                    StyleCss = "Width: 100px",
                                    Name = "Uniform_DateExpire"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateExpire, dateExpire)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DateOfReIssue)
                        </div>
                        <div class="FieldValue">
                            @{
                                var dateOfReIssue = new DatePickerBuilderInfo()
                                {
                                    StyleCss = "Width: 100px",
                                    Name = "Uniform_DateOfReIssue"
                                };
                            }
                            @Html.VnrDatePickerFor(model => model.DateOfReIssue, dateOfReIssue)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Size)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.Size, "Width: 100px")
                            @Html.ValidationMessageFor(model => model.Size)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Note)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextAreaFor(model => model.Note, "min-Width:250px")
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
</div>
