@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.Hr.Models
@using HRM.Infrastructure.Utilities

@using System.Collections;

@model Hre_UniformModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@{
    IList<SelectListItem> listTypeOfStop = Enum.GetValues(typeof(EnumDropDown.TypeOfStop))
   .Cast<EnumDropDown.TypeOfStop>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
   .ToList();

    IList<SelectListItem> listStopWorkStatus = Enum.GetValues(typeof(EnumDropDown.StopWorkStatus))
   .Cast<EnumDropDown.StopWorkStatus>()
   .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
   .ToList();

}

<script>
    SetFieldRequired();


    function onSave() {
        onSaveAndContinue($('#form_Hre_Uniform'), '@_hrm_Hr_Service', 'api/Hre_Uniform/', '@ConstantControlName.HRM_gridHre_Uniform_Grid_Name', '@ConstantControlName.HRM_gridHre_Uniform_PopUp_Name');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Hre_Uniform'), '@_hrm_Hr_Service', 'api/Hre_Uniform/', '@ConstantControlName.HRM_gridHre_Uniform_Grid_Name', '@ConstantControlName.HRM_gridHre_Uniform_PopUp_Name');
        return false;
    }

    function onSaveDataPopUp() {

        onlySave($('#form_Hre_Uniform'), '@_hrm_Hr_Service', 'api/Hre_Uniform/', '@ConstantControlName.HRM_gridHre_Uniform_Grid_Name');
        return false;
    }
</script>
<style>
    label {
        min-width: 100px;
    }
</style>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Hre_Uniform" }))
{

    <table style="width:100%">
        <tr>
            <td>
                <div>
                <div class="FieldTitle150   ">
                    @Html.HiddenFor(mode => mode.ID)
                    @Html.VnrLabelFor(mode => mode.ProfileID)
                </div>
                <div class="FieldValue">
                    @{
                                IEnumerable valueProfile = new string[] { };
                                if (Model != null)
                                {
                                    valueProfile = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                }
                    }
                    @{
                                var Profile = new MultiSelectBuilderInfo()
                                {
                                    Width = 300,
                                    Name = "Unifom_ProfileID",
                                     DataTextField = Hre_UniformModel.FieldNames.ProfileName,
                                     DataValueField = Hre_UniformModel.FieldNames.ID,
                                     Url = @_hrm_Hr_Service + "Hre_GetData/GetMultiProfile",
                                     Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                     MaxSelectedItems = 1,
                                     Value = valueProfile
                                 };
                    }
                    @(Html.VnrMultiSelectFor(mode => mode.ProfileID, Profile))
                </div>

                <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.UniformName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.UniformName, "Width: 300px")
                        @Html.ValidationMessageFor(model => model.UniformName, "Width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.DateOfIssue)
                    </div>
                    <div class="FieldValue">
                        @{
                                var dateOfIssue = new DatePickerBuilderInfo()
                                {
                                    StyleCss = "Width: 120px",
                                    Name = "Uniform_DateOfIssue"
                                };
                        }
                        @Html.VnrDatePickerFor(model => model.DateOfIssue, dateOfIssue)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.DateExpire)
                    </div>
                    <div class="FieldValue">
                        @{
                                var dateExpire = new DatePickerBuilderInfo()
                                {
                                    
                                    StyleCss = "Width: 120px",
                                    Name = "Uniform_DateExpire"
                                };
                        }
                        @Html.VnrDatePickerFor(model => model.DateExpire, dateExpire)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.DateOfReIssue)
                    </div>
                    <div class="FieldValue">
                        @{
                                var dateOfReIssue = new DatePickerBuilderInfo()
                                {
                                    StyleCss = "Width: 120px",
                                    Name = "Uniform_DateOfReIssue"
                                };
                        }
                        @Html.VnrDatePickerFor(model => model.DateOfReIssue, dateOfReIssue)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.Size)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.Size, "Width: 300px")
                        @Html.ValidationMessageFor(model => model.Size, "Width: 300px")
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150   ">
                        @Html.VnrLabelFor(mode => mode.Note)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(model => model.Note, "width:500px;height:100px;")
                        @Html.ValidationMessageFor(model => model.Note, "width:500px;height:100px;")
                    </div>
                    <div style="clear: both;"></div>
                </div>
              </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-Uniform", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-Uniform", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-Uniform", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

