@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Utilities


@model Att_RosterGroupModel
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

    IList<SelectListItem> list = Enum.GetValues(typeof(AttendanceDataStatus))
        .Cast<AttendanceDataStatus>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    var t = Model;
    SelectList data = new SelectList(list, "Value", "Text");
}
<script>
    $('#btnCopy').click(function (e) {
        var _value = $('#@Html.FieldIdFor(model => model.MonShiftID)').val();
        
        if (_value == "") {
            ShowNotificationProcessor("Vui lòng chọn ca cho thứ hai trước khi copy cho các ngày khác");
        }
        else
        {
            var tue = $('#@Html.FieldIdFor(model => model.TueShiftID)').data("kendoDropDownList");
            tue.value(_value);
            var web = $('#@Html.FieldIdFor(model => model.WedShiftID)').data("kendoDropDownList");
            web.value(_value);
            var thur = $('#@Html.FieldIdFor(model => model.ThuShiftID)').data("kendoDropDownList");
            thur.value(_value);
            var fri = $('#@Html.FieldIdFor(model => model.FriShiftID)').data("kendoDropDownList");
            fri.value(_value);
            var sat = $('#@Html.FieldIdFor(model =>model.SatShiftID)').data("kendoDropDownList");
            sat.value(_value);
            var sun = $('#@Html.FieldIdFor(model => model.SunShiftID)').data("kendoDropDownList");
            sun.value(_value);

        }

    });
</script>
<div class="VnRMain">
    <table style="width:100%">
        <tbody>
            @*<tr>
                    <td class="Box_Top_Left"></td>
                    <td valign="middle" class="Box_Top_Mid"></td>
                    <td class="Box_Top_Right"></td>
                </tr>*@
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div>
                        <div style="float:left; width:400px">
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.RosterGroupName)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextBoxFor(model => model.RosterGroupName)
                                    @Html.ValidationMessageFor(model => model.RosterGroupName)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateStart)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dateStart = new DatePickerBuilderInfo()
                                        {
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateStart, dateStart)
                                    @Html.ValidationMessageFor(model => model.DateStart)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div4">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateEnd)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dateEnd = new DatePickerBuilderInfo()
                                        {
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.DateEnd, dateEnd)
                                    @Html.ValidationMessageFor(model => model.DateEnd)
                                </div>
                                <div style="clear: both;"></div>
                            </div>


                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MonShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var MonShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.MonShiftID, MonShift)
                                    <script>
                                        var dropdownlist = $("#MonShiftID").data("kendoDropDownList");
                                        dropdownlist.value('@Html.DisplayFor(mode => mode.MonShiftID).ToString()');
                                    </script>
                                    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCopy", ImageUrl = ConstantPath.IconCopyPath })
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div8">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.TueShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var TueShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.TueShiftID, TueShift)
                                   
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div9">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.WedShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var WedShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.WedShiftID, WedShift)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div10">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ThuShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var ThuShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString()
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.ThuShiftID, ThuShift)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div11">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.FriShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var FriShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString(),
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift"
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.FriShiftID, FriShift)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div12">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.SatShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var SatShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString(),
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift"
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.SatShiftID, SatShift)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div13">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.SunShiftID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var SunShift = new DropDownListBuilderInfo()
                                        {
                                            DataTextField = "ShiftName",
                                            DataValueField = "ID",
                                            OptionLabel = ConstantDisplay.HRM_Attendance_SelectShift.TranslateString(),
                                            Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiShift"
                                        };
                                    }
                                    @Html.VnrDropDownListFor(mode => mode.SunShiftID, SunShift)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="width:550px; display:block; float:left">
                            @*<div id="div6">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.Status)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            var status = new DropDownListBuilderInfo()
                                            {
                                                DataTextField = "Text",
                                                DataValueField = "Value",
                                                OptionLabel = ConstantDisplay.HRM_Category_SelectStatus.TranslateString(),
                                                BindTo = list
                                            };
                                        }
                                            @Html.VnrDropDownListFor(mode => mode.Status, status)
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div14">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.UserApproveID)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            System.Collections.IEnumerable valueUserApprove1 = new string[] { };
                                            if (Model != null)
                                            {
                                                valueUserApprove1 = new[] { new { UserInfoName = Model.UserApproveName, ID = Model.UserApproveID } };
                                            }
                                        }
                                        @{
                                            var mtsProfileID = new MultiSelectBuilderInfo()
                                            {
                                                DataTextField = "UserInfoName",
                                                DataValueField = "ID",
                                                Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiUser",
                                                Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                                MaxSelectedItems = 1,
                                                Value = valueUserApprove1
                                            };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.UserApproveID, mtsProfileID))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="div15">
                                    <div class="FieldTitle">
                                        @Html.VnrLabelFor(mode => mode.UserApproceID2)
                                    </div>
                                    <div class="FieldValue">
                                        @{
                                            System.Collections.IEnumerable valueUserApprove2 = new string[] { };
                                            if (Model != null)
                                            {
                                                valueUserApprove2 = new[] { new { UserInfoName = Model.UserApproveName2, ID = Model.UserApproceID2 } };
                                            }
                                        }
                                        @{
                                            var mtsProfile2 = new MultiSelectBuilderInfo()
                                            {
                                                DataTextField = "UserInfoName",
                                                DataValueField = "ID",
                                                Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiUser",
                                                Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                                MaxSelectedItems = 1,
                                                Autobind = true,
                                                Value = valueUserApprove2
                                            };
                                        }
                                        @(Html.VnrMultiSelectFor(mode => mode.UserApproceID2, mtsProfile2))
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>*@
                            <div id="div16">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.Note)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrTextAreaFor(model => model.Note)
                                    @Html.ValidationMessageFor(model => model.Note)
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
            </tr>
        </tbody>
    </table>
    @Html.HiddenFor(mode => mode.ID)
</div>
@*<script>
        function choice(e) {
            var dataItem = this.dataItem(e.item.index());
            alert(dataItem.Id);
        }
    </script>*@