@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_JobTitleModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Category_JobTitle_Update_Title;
    Layout = null;
    var hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Cat_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequired();
    var doSave = function () {
        var result = false;
        var dataReturn = onCreate($('#form-create'), '@hrm_Hre_Service', 'api/Cat_JobTitle/');
        if(dataReturn != null){
            result = true;
        }
        return result;
    }
    function doSaveNew()
    {
         if (doSave()) {
             
             KendoRouteMapping('#Hrm_Main_Web/Cat_JobTitle/Create/', 'Hrm_Main_Web', '@_hrm_Main_Web');
        }
    }
</script>

<div>
    @ViewBag.MsgUpdate
</div>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.JobTitleIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Category_JobTitle_Update.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Category_Back_To_JobTitle_List.TranslateString() + ")", "Index")
                    </div>
                </div>
            
            <div class="commandToolBarWidge">
                <div class="options" style="margin-top:5px">
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSaveNew", Name = "save-continue", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                </div>
            </div>
            @Html.Partial("CreateOrUpdate", Model)
        </div>
    </div>
    </div>
</form>
