@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Payroll.Models

@model Sal_ItemForShopModel
@{
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;

    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Hre_Service;
    IList<SelectListItem> listSaleTypes = Enum.GetValues(typeof(EnumDropDown.SalesType))
     .Cast<EnumDropDown.SalesType>()
     .Select(x => new SelectListItem { Text = EnumDropDown.GetEnumDescription(x), Value = x.ToString() })
     .ToList();

}

<script>
    SetFieldRequired();

    function onSave() {
        onSaveAndContinue($('#form_Sal_ItemForShop'), '@_hrm_Hr_Service', 'api/Sal_ItemForShop/', 'grid_Sal_ItemForShop', 'windowSal_ItemForShop');
        return false;
    }

    function onSaveClose() {
        onSaveAndClose($('#form_Sal_ItemForShop'), '@_hrm_Hr_Service', 'api/Sal_ItemForShop/', 'grid_Sal_ItemForShop', 'windowSal_ItemForShop');
        return false;
    }

    function onSaveDataPopUp() {
        onlySave($('#form_Sal_ItemForShop'), '@_hrm_Hr_Service', 'api/Sal_ItemForShop/', 'grid_Sal_ItemForShop'); return false;
    }

</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Sal_ItemForShop" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ShopID)
                    </div>
                    <div class="FieldValue">
                        @{
                            var _ShopID = new ComboBoxBuilderInfo()
                            {
                                Name = "ItemForShopIfo_ShopID",
                                DataTextField = "ShopName",
                                DataValueField = "ID",
                                Url = _hrm_Cat_Service + "Cat_GetData/GetMultiShop",
                                ServerFilter = true,
                                StyleCss="width:300px"
                            };
                        }
                        @(Html.VnrComboBoxFor(mode => mode.ShopID, _ShopID))
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ItemID)
                    </div>
                    <div class="FieldValue">
                        @{
                        var _ItemID = new DropDownListBuilderInfo()
                            {
                                StyleCss="width:300px",
                                Name = "ItemForShopIfo_ItemID",
                                DataTextField = "ItemName",
                                DataValueField = "ID",
                                Url = _hrm_Cat_Service + "Cat_GetData/GetMultiItem"
                            };
                        }
                        @(Html.VnrDropDownListFor(mode => mode.ItemID, _ItemID))
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.IsPass)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrCheckBoxFor(m => m.IsPass)
                    </div>
                </div>

                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Target)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Targetr = new NumericTextBoxBuilderInfo<double>()
    {
         StyleCss="width:150px",
        Name = "ItemForShopIfo_Target",
        //Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
          Format = ConstantFormat.HRM_Format_Int,   
    };
                        }
                        @(Html.VnrNumericTextBoxFor(model => model.Target, _Targetr))
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Actual)
                    </div>
                    <div class="FieldValue">
                        @{
    var _Actual = new NumericTextBoxBuilderInfo<double>()
    {
         StyleCss="width:150px",
        Name = "ItemForShopIfo_Actual",
        //Format = ConstantFormat.HRM_Format_Number_Double.ToString(),
        Format = ConstantFormat.HRM_Format_Int,   
    };
                        }
                        @(Html.VnrNumericTextBoxFor(model => model.Actual, _Actual))
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.DateFrom)
                    </div>
                    <div class="FieldValue">
                        @{
    var _DateFrom = new DatePickerBuilderInfo()
    {
        Name = "ItemForShopIfo_DateFrom",
        StyleCss = "width:120px"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateFrom, _DateFrom)

                        @Html.VnrLabelFor(mode => mode.DateTo)
                        @{
    var _DateTo = new DatePickerBuilderInfo()
    {
        Name = "ItemForShopIfo_DateTo",
        StyleCss = "width:120px"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateTo, _DateTo)
                    </div>
                </div>
                <div id=" div1">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Note)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Note, "width:500px;height:100px;")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>

                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-ItemForShop", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-ItemForShop", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-ItemForShop", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
