@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_CanteenModel

@{
    ViewBag.Title = "Canteen";
    Layout = null;

    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var canteenId = Model == null ? Guid.Empty : Model.ID;
}

<script>

    var data = SetCharacteFieldRequired();
    function checkDuplicationCanteen() {
         
        var code = $("#CanteenCode").val();
        var id = '@canteenId';
        var data = { tableName: "Can_Canteen", columnName: "CanteenCode", keyword: code, id: id };
        var isduplicate = checkDuplicate('@_hrm_Can_Service', 'Canteen_GetData', 'CheckDuplicateCanteen', data, "CanteenCode");
        return isduplicate;
    }

    function onSave() {
        if (CheckValidate(data)) {
            if (!checkDuplicationCanteen()) {
                onSaveAndContinue($('#form_can_canteen'), '@_hrm_Can_Service', 'api/Can_Canteen/', 'gridCan_Canteen', 'windowCanTeen'); return false;
            }
        }
    }
    function onSaveClose() {
         
        if (CheckValidate(data)) {
            if (!checkDuplicationCanteen()) {
                onSaveAndClose($('#form_can_canteen'), '@_hrm_Can_Service', 'api/Can_Canteen/', 'gridCan_Canteen', 'windowCanTeen'); return false;
            }
        }
    }

    function onSaveDataPopUp() {
         
        if (CheckValidate(data)) {
            if (!checkDuplicationCatering()) {
                onlySave($('#form_can_Canteen'), '@_hrm_Can_Service', 'api/Can_Canteen/', '@ConstantControlName.HRM_Canteen_Canteen_Grid_Name'); return false;
            }
        }
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_can_canteen" }))
{
    @Html.HiddenFor(model => model.ID)


     <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.CanteenName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.CanteenName, "width:300px")
                        @Html.ValidationMessageFor(model => model.CanteenName)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.CanteenCode)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.CanteenCode, "width:150px")
                        @Html.ValidationMessageFor(model => model.CanteenCode)
                    </div>
                </div>
                <div id="div4">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.LocationName)
                    </div>
                    <div class="FieldValue">
                        @{
                        var LocationName = new MultiSelectBuilderInfo()
                         {
                             DataTextField = "LocationName",
                             DataValueField = "ID",
                             Url = @_hrm_Can_Service + "Canteen_GetData/GetMultiLocation",
                             Placeholder = ConstantDisplay.HRM_Canteen_Canteen_SelectLocation.TranslateString(),
                             MaxSelectedItems = 1,
                             Name = "CanteenInfo_LocationId"
                             
                         };
                        }
                        @(Html.VnrMultiSelectFor(mode => mode.LocationID, LocationName))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Note)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Note)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-canCanTeen", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-canCanTeen", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
 </table>
}

