
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Canteen.Models.Can_CanteenModel
@{
    ViewBag.Title = "Index  Canteen";
    Layout = null;
    var hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
}
@*<h1>Test</h1>*@
<script>
    var data = SetCharacteFieldRequired();
    var doSave = function()
    {
        if (CheckValidate(data)) {
            onCreate($('#form-create'), '@hrm_Can_Service', 'api/Can_Canteen/'); return false;
        }
    }
</script>
<div>
    @ViewBag.MsgInsert
</div>
<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Can_CanteenIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_Canteen_Canteen_AddNew.TranslateString() @Html.ActionLink("(" + ConstantDisplay.HRM_Canteen_Canteen_Back_To_List.TranslateString() + ")", "Index")
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "save-continue", Content = ConstantAction.HRM_Common_SaveContinue.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




