@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Laundry.Models;
@using HRM.Infrastructure.Security
@model Lau_MachineOfLineModel

@{
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    Layout = null;
}
@{
    var window = new WindowBuilderInfo
    {
        Name = "windowLauManchineOfLine",
        Visible = false,
        LoadContentFrom = @_hrm_Main_Web + "MachineOfLine/MachineOfLineInfo/",
    };
}
@(Html.VnrWindow(window))

<script>
    var titleEditPopUp = '@Html.Raw(@ConstantDisplay.HRM_Laundry_MachineOfLine_Update_Title.TranslateString())';
    var titleCreatePopUp = '@Html.Raw(ConstantDisplay.HRM_Laundry_MachineOfLine_Create_Title.TranslateString())';

    //Data khi tìm kiếm
    function filterFieldInfo() {
        
        var lineID = $('#LineID1').val();
        lineID = lineID != null ? lineID[0] : lineID;        
        return {
            Code: $('#Code1').val(),
            LineID: lineID,
        };
    }
    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var grid = $('#grid_Lau_MachineOfLine').data("kendoGrid");
            grid.dataSource.read();
            selectedIds = [];
        });
        //Xử lý Edit popup
        var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.MachineOfLine');
        if (!isAccess) {
            return;
        }
        var url = '@_hrm_Main_Web' + "MachineOfLine/MachineOfLineInfo/";
        EditGridPopUp("grid_Lau_MachineOfLine", "windowLauManchineOfLine", url, titleEditPopUp);
    });

    //Xử lý Create
    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.MachineOfLine');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowLauManchineOfLine", titleCreatePopUp);
    });

    //Xử Lý grid
    GridCheckbox("grid_Lau_MachineOfLine");

    //Xử Lý button delete
    $('#btnDelete').click(function (e) {
        var isAccess = checkPermission(PrivilegeType.Delete, '@ConstantPermission.MachineOfLine');
        if (!isAccess) {
            return;
        }
        e.preventDefault();
        DeleteSelected("grid_Lau_MachineOfLine", '@_hrm_Main_Web' + "MachineOfLine/RemoveSelected/", selectedIds.join(","));
        return false;
    });

    $(document).ready(function () {
        ShowHidePanel();
    });
</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.LineName)
                    </div>

                    <div class="FieldValue">
                        @{
                            var LineName = new MultiSelectBuilderInfo
                            {
                                DataTextField = "LineName",
                                DataValueField = "ID",
                                Url = @_hrm_Hre_Service + "Lau_GetData/GetMultiLine",
                                MaxSelectedItems = 1,
                                Placeholder = ConstantDisplay.HRM_Laundry_MachineOfLine_PlaceHolder.TranslateString(),
                                Name = "LineID1"
                            };
                        }
                        @Html.VnrMultiSelect(LineName)
                    </div>

                </div>

                <div>
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBox("Code1", "width:150px")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), ImageUrl = ConstantPath.IconAddNewPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = "Delete", ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
        string[] valueFields = new[]
        {
            Lau_MachineOfLineModel.FieldNames.Code,
            Lau_MachineOfLineModel.FieldNames.LineName,
            Lau_MachineOfLineModel.FieldNames.DateFrom,
            Lau_MachineOfLineModel.FieldNames.DateTo,
            Lau_MachineOfLineModel.FieldNames.Notes,
            
        };

        var sizeFields = new Dictionary<string, int>()
        {
            {Lau_MachineOfLineModel.FieldNames.Code,140},
            {Lau_MachineOfLineModel.FieldNames.LineName,100},
            {Lau_MachineOfLineModel.FieldNames.DateFrom,100},
            {Lau_MachineOfLineModel.FieldNames.DateTo,100},
            {Lau_MachineOfLineModel.FieldNames.Notes,200},
        
        };

        var displayFields = new Dictionary<string, string>()
        {
            {Lau_MachineOfLineModel.FieldNames.Code,ConstantDisplay.HRM_Laundry_MachineOfLine_Code},
            {Lau_MachineOfLineModel.FieldNames.LineName,ConstantDisplay.HRM_Laundry_MachineOfLine_LineName},
            {Lau_MachineOfLineModel.FieldNames.DateFrom,ConstantDisplay.HRM_Laundry_MachineOfLine_DateFrom},
            {Lau_MachineOfLineModel.FieldNames.DateTo,ConstantDisplay.HRM_Laundry_MachineOfLine_DateTo},
            {Lau_MachineOfLineModel.FieldNames.Notes,ConstantDisplay.HRM_Laundry_MachineOfLine_Note},
     
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Lau_MachineOfLine",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowCommand = false,
            ReadActionUrl = _hrm_Hre_Service + "Lau_GetData/GetMachineOfLineList/",
            ReadData = "filterFieldInfo",
        };
    }

    @(Html.VnrGrid<Lau_MachineOfLineModel>(grid))
</div>
