@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo;
@using HRM.Presentation.HrmSystem.Models;

@model  HRM.Presentation.HrmSystem.Models.Sys_GeneralConfigModel
@{
    Layout = null;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var _hrm_sys_web = ConstantPathWeb.Hrm_Sys_Web;


    IList<SelectListItem> listSetting = Enum.GetValues(typeof(AppConfig))
     .Cast<AppConfig>()
     .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
     .ToList();

    SelectList dataSetting = new SelectList(listSetting, "Value", "Text");

        }


<div class="VnRMain">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div style="display:block; padding-top:10px;">

                        <fieldset>
                            <legend>
                               Cấu Hình Trang Chủ
                            </legend>
                            <div class="DivContentTitleValue" id="dvAtt_ServerName1">
                              

                                <div class="FieldTitleConfig300">
                                    Tên Hiển Thị
                                </div>
                                <div class="FieldValueConfig" style="width:100px">
                                    Hiển Thị
                                </div>
                                <div class="FieldValueConfig" style="width:300px"> +(Ngày) So Với Ngày Hiện Tại</div>
                                <div class="FieldValueConfig" style="width:300px"> -(Ngày) So Với Ngày Hiện Tại</div>
                                <div style="clear: both;"></div>
                            
                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_ExpiryContractType.TranslateString(), ConstantDisplay.HRM_HR_Desc_ExpiryContractType.TranslateString())
                                </div>
                                <div class="FieldValueConfig" style="width:100px">
                                    @{

                                        var allowvalue1 = new CheckBoxBuilderInfo()
                                        {
                                            Value = Model.ShowValue1 == true ? true : false
                                        };
                                    }
                                    @Html.VnrCheckBoxFor(model => model.ShowValue1, allowvalue1)
                                </div>
                                <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate1)</div>
                                <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate1)</div>
                                <div style="clear: both;"></div>

                                <div class="FieldTitleConfig300">
                                    @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_SummaryProbation.TranslateString(), ConstantDisplay.HRM_Dashboard_Desc_SummaryProbation.TranslateString())
                                </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue2 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue2 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue2, allowvalue2)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate2)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate2)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_EmployeeNew.TranslateString(), ConstantDisplay.HRM_Desc_Dashboard_EmployeeNew.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue3 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue3 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue3, allowvalue3)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate3)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate3)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_EmployeeReportMappingName.TranslateString(), ConstantDisplay.HRM_Dashboard_Desc_EmployeeReportMappingName.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue4 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue4 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue4, allowvalue4)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate4)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate4)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_SummaryBirthDay.TranslateString(), ConstantDisplay.HRM_Dashboard_Desc_SummaryBirthDay.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue5 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue5 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue5, allowvalue5)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate5)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate5)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_ExpiryVisaInfo.TranslateString(), ConstantDisplay.HRM_HR_Desc_ExpiryVisaInfo.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue6 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue6 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue6, allowvalue6)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate6)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate6)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_Profile_ExpiryWorkPermitStatus.TranslateString(), ConstantDisplay.HRM_HR_Desc_Profile_ExpiryWorkPermitStatus.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue7 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue7 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue7, allowvalue7)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate7)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate7)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_WORTH_ExpiryContractType.TranslateString(), ConstantDisplay.HRM_HR_WORTH_Desc_ExpiryContractType.TranslateString())

                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue8 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue8 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue8, allowvalue8)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate8)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate8)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_NotRequestDocuments.TranslateString(), ConstantDisplay.HRM_HR_Desc_NotRequestDocuments.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue9 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue9 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue9, allowvalue9)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate9)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate9)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Recruitment_RecruitmentRequired.TranslateString(), ConstantDisplay.HRM_Recruitment_Desc_RecruitmentRequired.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue10 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue10 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue10, allowvalue10)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate10)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate10)</div>
                                    <div style="clear: both;"></div>

                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_HR_Education_ExpiryCertificate.TranslateString(), ConstantDisplay.HRM_HR_Desc_Education_ExpiryCertificate.TranslateString())

                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var allowvalue11 = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.ShowValue11 == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.ShowValue11, allowvalue11)
                                    </div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowAfterDate11)</div>
                                    <div class="FieldValueConfig" style="width:300px"> @Html.VnrTextBoxFor(mode => mode.ShowBeforDate11)</div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Payroll_BasicSalaryPending.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var _IsShowBasicSalaryWaitingAprove = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowBasicSalaryWaitingAprove == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowBasicSalaryWaitingAprove, _IsShowBasicSalaryWaitingAprove)
                                    </div>
                                    @*<div class="FieldValueConfig">
                                        @{
                                            var _DayShowBasicSalaryWaitingAproveFrom = new NumericTextBoxBuilderInfo<int>()
                                            {
                                                StyleCss = "width:200px",
                                                Format = ConstantFormat.HRM_Format_Number_Integer
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(mode => mode.DayShowBasicSalaryWaitingAproveFrom, _DayShowBasicSalaryWaitingAproveFrom)
                                    </div>
                                    <div class="FieldValueConfig" style="margin-left:100px">
                                        @{
                                            var _DayShowBasicSalaryWaitingAproveTo = new NumericTextBoxBuilderInfo<int>()
                                            {
                                                StyleCss = "width:200px",
                                                Format = ConstantFormat.HRM_Format_Number_Integer
                                            };
                                        }
                                        @Html.VnrNumericTextBoxFor(model => model.DayShowBasicSalaryWaitingAproveTo, _DayShowBasicSalaryWaitingAproveTo)
                                    </div>*@

                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumContractWaiting.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{

                                            var _IsShowContractWaitingAprove = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowContractWaitingAprove == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowContractWaitingAprove, _IsShowContractWaitingAprove)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumAppendixContract.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowContractAppendixExpriday = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowContractAppendixExpriday == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowContractAppendixExpriday, _IsShowContractAppendixExpriday)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumHDTJobWaitingApproved.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowHDTJobWaitingApproved = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowHDTJobWaitingApproved == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowHDTJobWaitingApproved, _IsShowHDTJobWaitingApproved)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumDaySuspenseExpiry.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowDaySuspenseExpiry = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowDaySuspenseExpiry == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowDaySuspenseExpiry, _IsShowDaySuspenseExpiry)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumDayStopWorking.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowDayStopWorking = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowDayStopWorking == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowDayStopWorking, _IsShowDayStopWorking)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_sumDayComback.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowDayComeBackExpiry = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowDayComeBackExpiry == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowDayComeBackExpiry, _IsShowDayComeBackExpiry)
                                    </div>
                                </div>
                                <div>
                                    <div class="FieldTitleConfig300">
                                        @Html.VnrLabelIcon(ConstantDisplay.HRM_Dashboard_SummaryWaitEva.TranslateString())
                                    </div>
                                    <div class="FieldValueConfig" style="width:100px">
                                        @{
                                            var _IsShowEvalutionWaiting = new CheckBoxBuilderInfo()
                                            {
                                                Value = Model.IsShowEvalutionWaiting == true ? true : false
                                            };
                                        }
                                        @Html.VnrCheckBoxFor(model => model.IsShowEvalutionWaiting, _IsShowEvalutionWaiting)
                                    </div>
                                </div>
                                <div style="clear: both;"></div>


                                </div>
                           
                            </fieldset>
                       


                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<br />