@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using HRM.Presentation.Evaluation.Models
@model Eva_PerformancePlanModel

@{
    
    Layout = null;
    var _Hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
  
    SetFieldRequired();
    function onSave() {
        onSaveAndContinue($('#form_Eva_PerformancePlan'), '@_Hrm_Hre_Service', 'api/Eva_PerformancePlan/', '@ConstantControlName.HRM_Evaluation_PerformancePlan_Grid_Name', '@ConstantControlName.HRM_Evaluation_PerformancePlan_PopUp_Name');
        return false;
    }
    function onSaveClose() {
        onSaveAndClose($('#form_Eva_PerformancePlan'), '@_Hrm_Hre_Service', 'api/Eva_PerformancePlan/', '@ConstantControlName.HRM_Evaluation_PerformancePlan_Grid_Name', '@ConstantControlName.HRM_Evaluation_PerformancePlan_PopUp_Name');
        return false;
    }
    function onSaveDataPopUp() {
        onlySave($('#form_Eva_PerformancePlan'), '@_Hrm_Hre_Service', 'api/Eva_PerformancePlan/', '@ConstantControlName.HRM_Evaluation_PerformancePlan_Grid_Name'); return false;
    }
</script>

<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Eva_PerformancePlan" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div id="div5">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.PerformancePlanName)
                    </div>
                    <div class="FieldValue">
                        @(Html.VnrTextBoxFor(model => model.PerformancePlanName, "width:300px"))
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.StartDate)
                    </div>
                    <div class="FieldValue">
                        @{
                            var StartDate = new DatePickerBuilderInfo()
                            {
                                Name = "StartDate",
                                StyleCss = "width:120px"

                            };
                        }
                        @Html.VnrDatePickerFor(model => model.StartDate, StartDate)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.EndDate)
                    </div>
                    <div class="FieldValue">
                        @{
                        var EndDate = new DatePickerBuilderInfo()
                            {
                                Name = "EndDate",
                                StyleCss = "width:120px"

                            };
                        }
                        @Html.VnrDatePickerFor(model => model.EndDate, EndDate)
                    </div>
                    <div style="clear: both;"></div>
                </div>


             
                <div id="div5">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.Comment)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(model => model.Comment, "width:500px;height:100px;")
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">

                    </div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-EvaPerformancePlan", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSave", Name = "save-continue-EvaPerformancePlan", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-EvaPerformancePlan", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>

                </div>
            </td>
        </tr>
    </table>
}

