
@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.Attendance.Models;
@using HRM.Presentation.UI.Controls.Kendo
@model Att_ComputeWorkDayModel
<div>
    @ViewBag.MsgInsert
</div>
@{
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
<script>

    $("#btnCompute").click(function () {
        var Att_ComputeWorkDayModel =
        {
            DateFrom: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateFrom").val()),
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            ProfileID: $('#@Html.FieldIdFor(model => model.ProfileIDs)').val(),
        };
        $.ajax({
            url: '/Att_ComputeWorkDay/ComputeWorkDay/',
            data: JSON.stringify(Att_ComputeWorkDayModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var grid = $("#gridAtt_WorkDay").data("kendoGrid");
                var dataSource = new kendo.data.DataSource({
                    data: result.Data
                });
                grid.setDataSource(dataSource);
                grid.dataSource.read();
            },
            error: function (e) {
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }
        });
    });

</script>
<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @ConstantDisplay.HRM_Attendance_ComputeWorkDay_Compute.TranslateString()
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <form action="#" method="POST" id="form-search">
                <div class="contendSearchWidge">
                    
                        <div style="float:left; width:550px">
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ProfileIDs)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var multiSelectProfileID = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = "ProfileName",
                                            DataValueField = "Id",
                                            Url = _hrm_Hr_Service + "HrMultiSelect/GetMultiProfile",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                        };
                                    }
                                    @Html.VnrMultiSelectFor(mode => mode.ProfileIDs, multiSelectProfileID)

                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div3">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateFrom)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dtpDateFrom = new DateTimePickerBuilderInfo() { };
                                    }
                                    @Html.VnrDateTimePickerFor(model => model.DateFrom, dtpDateFrom)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div4">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.DateTo)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var dtpDateTo = new DateTimePickerBuilderInfo() { };
                                    }
                                    @Html.VnrDateTimePickerFor(model => model.DateTo, dtpDateTo)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="width:500px; display:block; float:left">
                            
                            <div id="div6">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ComputeContinue)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrCheckBoxFor(model => model.ComputeContinue)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div id="div7">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ComputeRepeat)
                                </div>
                                <div class="FieldValue">
                                    @Html.VnrCheckBoxFor(model => model.ComputeRepeat)
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    

                </div>
            </form>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCompute", Content = ConstantDisplay.HRM_Attendance_ComputeWorkDay_Compute.TranslateString() })
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @{
    string[] valueFields = new string[]
                            {
                                Att_WorkdayModel.FieldNames.ProfileName,
                                Att_WorkdayModel.FieldNames.WorkDate,
                                Att_WorkdayModel.FieldNames.FirstInTime,
                                Att_WorkdayModel.FieldNames.FirstOutTime,
                                Att_WorkdayModel.FieldNames.LastInTime,
                                Att_WorkdayModel.FieldNames.LastOutTime,
                                Att_WorkdayModel.FieldNames.ShiftName,
                                Att_WorkdayModel.FieldNames.WorkDuration,
                                Att_WorkdayModel.FieldNames.LateEarlyDuration,
                                Att_WorkdayModel.FieldNames.LateDuration,
                                Att_WorkdayModel.FieldNames.EarlyDuration
                            };
    Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Att_WorkdayModel.FieldNames.ProfileName,200},
                                {Att_WorkdayModel.FieldNames.WorkDate,150},
                                {Att_WorkdayModel.FieldNames.FirstInTime,150},
                                {Att_WorkdayModel.FieldNames.FirstOutTime,150},
                                {Att_WorkdayModel.FieldNames.LastInTime,100},
                                {Att_WorkdayModel.FieldNames.LastOutTime,100},
                                {Att_WorkdayModel.FieldNames.ShiftName,150},
                                {Att_WorkdayModel.FieldNames.WorkDuration,150},
                                {Att_WorkdayModel.FieldNames.LateEarlyDuration,100},
                                {Att_WorkdayModel.FieldNames.LateDuration,75},
                                {Att_WorkdayModel.FieldNames.EarlyDuration,75}
                            };

    Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Att_WorkdayModel.FieldNames.ProfileName,ConstantDisplay.HRM_Attendance_WorkDay_ProfileID},
                                {Att_WorkdayModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_WorkDay_WorkDate},
                                {Att_WorkdayModel.FieldNames.FirstInTime,ConstantDisplay.HRM_Attendance_WorkDay_FirstInTime},
                                {Att_WorkdayModel.FieldNames.FirstOutTime,ConstantDisplay.HRM_Attendance_WorkDay_FirstOutTime},
                                {Att_WorkdayModel.FieldNames.LastInTime,ConstantDisplay.HRM_Attendance_WorkDay_LastInTime},
                                {Att_WorkdayModel.FieldNames.LastOutTime,ConstantDisplay.HRM_Attendance_WorkDay_LastOutTime},
                                {Att_WorkdayModel.FieldNames.ShiftName,ConstantDisplay.HRM_Attendance_WorkDay_ShiftID},
                                {Att_WorkdayModel.FieldNames.WorkDuration,ConstantDisplay.HRM_Attendance_WorkDay_WorkDuration},
                                {Att_WorkdayModel.FieldNames.LateEarlyDuration,ConstantDisplay.HRM_Attendance_WorkDay_LateEarlyDuration},
                                {Att_WorkdayModel.FieldNames.LateDuration,ConstantDisplay.HRM_Attendance_WorkDay_LateDuration},
                                {Att_WorkdayModel.FieldNames.EarlyDuration,ConstantDisplay.HRM_Attendance_WorkDay_EarlyDuration}
                            };

    Dictionary<string, string> formatFields = new Dictionary<string, string>()
                            {
                                {Att_WorkdayModel.FieldNames.FirstInTime,ConstantFormat.HRM_Format_HourMin},
                                {Att_WorkdayModel.FieldNames.FirstOutTime, ConstantFormat.HRM_Format_HourMin },
                                {Att_WorkdayModel.FieldNames.LastInTime , ConstantFormat.HRM_Format_HourMin},
                                {Att_WorkdayModel.FieldNames.LastOutTime , ConstantFormat.HRM_Format_HourMin},
                            };
    var grid = new GridBuilderInfo
    {
        Name = "gridAtt_WorkDay",
        ValueFields = valueFields,
        SizeFields = sizeFields,
        DisplayFields = displayFields,
        FormatFields = formatFields,
    };
}

<!--Khởi tạo Grid-->
@(Html.VnrGrid<HRM.Presentation.Attendance.Models.Att_WorkdayModel>(grid))
</div>



