@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect

@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Attendance.Models
@using HRM.Infrastructure.Security
@model Att_ReportWorkDateLimitModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
}

<script>
    $(document).ready(function () {
        ShowHidePanel();
    });


</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.DateFrom)
                    </div>
                    <div class="FieldValue">
                        @{
                            var DateFrom = new DatePickerBuilderInfo() { };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateFrom, DateFrom)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div3">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.DateTo)
                    </div>
                    <div class="FieldValue">
                        @{
                            var DateTo = new DatePickerBuilderInfo() { };
                        }
                        @Html.VnrDatePickerFor(mode => mode.DateTo, DateTo)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                <div id="div5">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.OrgStructureId)
                    </div>
                    <div class="FieldValue">
                        @{
                            var orgTreeView = new TreeViewBuilderInfo
                            {
                                Name = "treeviewOrg",
                                DataTextField = "Name",
                                Url = @_hrm_Hr_Service + "Cat_GetData/GetOrgStructureTree",
                                Icon = "IconPath",
                                ExpandAll = true
                            };
                        }
                        @Html.VnrTreeView(orgTreeView)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div5">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.PositionId)
                    </div>
                    <div class="FieldValue">
                        @{
                            var multiSelectPositionId = new MultiSelectInformation()
                            {
                                Name = "PositionId",
                                DataTextField = "PositionName",
                                DataValueField = "Id",
                                Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiPosition",
                                Placeholder = ConstantDisplay.HRM_Category_SelectPosition.TranslateString(),
                                MaxSelectedItems = 1,
                                ValueMultiselect = @Html.DisplayFor(mode => mode.PositionId).ToString()
                            };
                        }
                        @(Html.MultiSelectListControl(multiSelectPositionId))
                        @Html.ValidationMessageFor(model => model.PositionId)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="div5">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.TemplateId)
                    </div>
                    <div class="FieldValue">
                        @{
                            var dropdownTemplateId = new DropDownListInfomation()
                            {
                                Name = "TemplateId",
                                DataTextField = "ExportName",
                                DataValueField = "Id",
                                Url = @_hrm_Hr_Service + "Cat_GetData/GetMultiExport",
                                Width = 170,
                                Value = @Html.DisplayFor(mode => mode.TemplateId).ToString(),
                                Enable = true,
                            };
                        }
                        @(Html.DropDownListControl(mode => mode.TemplateId, dropdownTemplateId))
                        @Html.ValidationMessageFor(model => model.TemplateId)
                    </div>
                    <div style="clear: both;"></div>
                </div>
              
               
            </div>
        </div>
    </div>
</div>

<div id="commandToolBarWidge">
    
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
        <div style="float:right">
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_ExportReport.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
   
</div>
<div style="overflow:hidden">
    <!--Khai báo các thông tin cho Grid-->
  
    @{
        string[] valueFields = new string[]
                            {
                                Att_ReportWorkDateLimitModel.FieldNames.EmpCode,
                                Att_ReportWorkDateLimitModel.FieldNames.EmployeeName,
                                Att_ReportWorkDateLimitModel.FieldNames.JobTitleName,
                                Att_ReportWorkDateLimitModel.FieldNames.DepartmentName,
                                Att_ReportWorkDateLimitModel.FieldNames.WorkDate,
                                Att_ReportWorkDateLimitModel.FieldNames.OvertimeTypeName,                              
                                Att_ReportWorkDateLimitModel.FieldNames.RegisterHours,                                
                                Att_ReportWorkDateLimitModel.FieldNames.ApproveHours,
                                Att_ReportWorkDateLimitModel.FieldNames.TimeIn,
                                Att_ReportWorkDateLimitModel.FieldNames.TimeOut,
                                Att_ReportWorkDateLimitModel.FieldNames.ConvertedHours,
                                Att_ReportWorkDateLimitModel.FieldNames.ConfirmHours,
                                Att_ReportWorkDateLimitModel.FieldNames.Status
                            };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
                            {
                                {Att_ReportWorkDateLimitModel.FieldNames.EmpCode,80},
                                {Att_ReportWorkDateLimitModel.FieldNames.EmployeeName,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.JobTitleName,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.DepartmentName,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.WorkDate,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.OvertimeTypeName,150},                              
                                {Att_ReportWorkDateLimitModel.FieldNames.RegisterHours,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.ApproveHours,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.TimeIn,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.TimeOut,150},                                
                                {Att_ReportWorkDateLimitModel.FieldNames.ConvertedHours,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.ConfirmHours,150},
                                {Att_ReportWorkDateLimitModel.FieldNames.Status,150},
                            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
                            {
                                {Att_ReportWorkDateLimitModel.FieldNames.EmpCode,ConstantDisplay.HRM_Attendance_CodeEmp},
                                {Att_ReportWorkDateLimitModel.FieldNames.EmployeeName,ConstantDisplay.HRM_Attendance_ProfileName},
                                {Att_ReportWorkDateLimitModel.FieldNames.JobTitleName,ConstantDisplay.HRM_Attendance_JobTitle},
                                {Att_ReportWorkDateLimitModel.FieldNames.DepartmentName,ConstantDisplay.HRM_Attendance_DepartmentCode},
                                {Att_ReportWorkDateLimitModel.FieldNames.WorkDate,ConstantDisplay.HRM_Attendance_WorkDate},
                                {Att_ReportWorkDateLimitModel.FieldNames.OvertimeTypeName,ConstantDisplay.HRM_Category_OvertimeType_OvertimeTypeName},                              
                                {Att_ReportWorkDateLimitModel.FieldNames.RegisterHours,ConstantDisplay.HRM_Attendance_Overtime_RegisterHours},
                                {Att_ReportWorkDateLimitModel.FieldNames.ApproveHours,ConstantDisplay.HRM_Attendance_Overtime_ApproveHours},
                                {Att_ReportWorkDateLimitModel.FieldNames.TimeIn,ConstantDisplay.HRM_Attendance_Overtime_InTime},
                                {Att_ReportWorkDateLimitModel.FieldNames.TimeOut,ConstantDisplay.HRM_Attendance_Overtime_OutTime},
                                {Att_ReportWorkDateLimitModel.FieldNames.ConvertedHours,ConstantDisplay.HRM_Attendance_Overtime_ConvertedHours},
                                {Att_ReportWorkDateLimitModel.FieldNames.ConfirmHours,ConstantDisplay.HRM_Attendance_Overtime_ConfirmHours},
                                {Att_ReportWorkDateLimitModel.FieldNames.Status,ConstantDisplay.HRM_Attendance_Status}
                            };
        var grid = new GridBuilderInfo
        {
            Name = "gridAtt_ReportWorkDateLimit",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ShowNextPrevious = true,
            PageSize = 5,
            ShowPageNumber = true,
            ShowEditIcon=false,
            ShowCheckbox = false,
        };

    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Att_ReportWorkDateLimitModel>(grid))
</div>

<script>

    $("#btnSearch").click(function () {

        var Att_ReportWorkDateLimitModel =
        {
            OrgStructureID: $('#@Html.FieldIdFor(model => model.OrgStructureId)').val(),
            DateFrom: getDatePicker('@Html.FieldIdFor(model => model.DateFrom)'),
            DateTo: getDatePicker('@Html.FieldIdFor(model => model.DateTo)'),
        };
        $.ajax({
            url: '/Att_ReportWorkDateLimit/ReportWorkDateLimit/',
            data: JSON.stringify(Att_ReportWorkDateLimitModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result)
            {
            },
            error: function (e) {
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }
        });
    });

</script>
@{
    var valueFields1 = string.Empty;
    for (int i = 0; i < valueFields.Count(); i++)
    {
        valueFields1 += "," + valueFields[i];
    }
}
@Html.Hidden("valueFieldsGrid", valueFields1)