@using HRM.Infrastructure.Utilities
@using System.Collections
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.Category.Models;
@model Cat_RateInsuranceModel

@{
    Layout = null;
    var ID = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var lineId = Model == null ? Guid.Empty : Model.ID;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequiredByScreenName('Cat_RateInsurance');
 
    function onSaveNew() {
            onSaveAndContinue($('#form_Cat_RateInsurance'), '@_hrm_Hr_Service', 'api/Cat_RateInsurance/', '@ConstantControlName.HRM_Category_RateInsurance_Grid_Name', '@ConstantControlName.HRM_Category_RateInsurance_PopUp_Name'); return false;
    }

    function onSaveClose() {
            onSaveAndClose($('#form_Cat_RateInsurance'), '@_hrm_Hr_Service', 'api/Cat_RateInsurance/', '@ConstantControlName.HRM_Category_RateInsurance_Grid_Name', '@ConstantControlName.HRM_Category_RateInsurance_PopUp_Name'); return false;
    }
    function onSaveDataPopUp() {
            onlySave($('#form_Cat_RateInsurance'), '@_hrm_Hr_Service', 'api/Cat_RateInsurance/', '@ConstantControlName.HRM_Category_RateInsurance_Grid_Name'); return false;
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_Cat_RateInsurance" }))
{
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.ApplyFrom)
                    </div>
                    <div class="FieldValue">
                        @{
                            var ApplyFrom = new DatePickerBuilderInfo()
                            {
                                StyleCss = "width:120px",
                                Format = ConstantFormat.HRM_Format_MonthYear
                            };
                        }
                    </div>
                    @Html.VnrDatePickerFor(mode => mode.ApplyFrom, ApplyFrom).Format(ConstantFormat.HRM_Format_MonthYear)
                </div>

                <div style="display:block; padding-top:10px;">
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_Category_RateInsurance_SubtractSocialInsurance.TranslateString()
                        </legend>

                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SocialInsCompRate)
                            </div>
                            <div class="FieldValue">
                                @{
                                    var SocialInsCompRate = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",
                                    };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.SocialInsCompRate, SocialInsCompRate)
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.SocialInsEmpRate)
                            </div>
                            <div class="FieldValue">
                                @{
                                var SocialInsEmpRate = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",

                                    };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.SocialInsEmpRate, SocialInsEmpRate)
                            </div>
                        </div>
                        </fieldset>
                        </div>
                <div style="display:block; padding-top:10px;">
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_Category_RateInsurance_SubtractHealthInsurance.TranslateString()
                        </legend>

                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.HealthInsCompRate)
                            </div>
                            <div class="FieldValue">
                                @{
                            var HealthInsCompRate = new NumericTextBoxBuilderInfo<double>()
                            {
                                StyleCss = "width:150px",

                                };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.HealthInsCompRate, HealthInsCompRate)
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.HealthInsEmpRate)
                            </div>
                            <div class="FieldValue">
                                @{
                            var HealthInsEmpRate = new NumericTextBoxBuilderInfo<double>()
                            {
                                StyleCss = "width:150px",

                                };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.HealthInsEmpRate, HealthInsEmpRate)
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div style="display:block; padding-top:10px;">
                    <fieldset>
                        <legend>
                            @ConstantDisplay.HRM_Category_RateInsurance_SubtractUnemployInsurance.TranslateString()
                        </legend>

                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.UnemployInsCompRate)
                            </div>
                            <div class="FieldValue">
                                @{
                                var UnemployInsCompRate = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",

                                    };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.UnemployInsCompRate, UnemployInsCompRate)
                            </div>
                        </div>
                        <div>
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.UnemployInsEmpRate)
                            </div>
                            <div class="FieldValue">
                                @{
                                var UnemployInsEmpRate = new NumericTextBoxBuilderInfo<double>()
                                    {
                                        StyleCss = "width:150px",

                                    };
                                }
                                @Html.VnrNumericTextBoxFor(mode => mode.UnemployInsEmpRate, UnemployInsEmpRate)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-RateInsurance", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-RateInsurance", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-RateInsurance", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
   
    
}
