@using HRM.Infrastructure.Utilities;
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Hr.Models.FIN_ApproverECLAIMModel
@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    string gridName = "gridFin_Approver";
}
<script>
    var gridName = '@gridName';
    SetFieldRequired();
    var CheckGird = true;
    function Check() {
        var count = $("#gridFin_Approver").data("kendoGrid").dataSource.data().length;
        if (count == 0)
            CheckGird = false;
    }
    function CheckDulicateOrderNo(obj) {

        var listdata = $("#gridFin_Approver").data("kendoGrid").dataSource.data();
        for (var i = 0; i < listdata.length; i++) {
            if (listdata[i].OrderNo == obj) {
                return false;
            }
        }
        return true;
    }

    var doSave = function () {
        Check();
        if (CheckGird == true) {
            ShowNotificationProcessor("Lưu Thành Công");
            return;
        }
        else {
            ShowNotificationProcessor("Không Có Dữ Liệu Nào Được Tạo.");
            return;
        }   
    }
    
    var doSaveNew = function () {
        //save
        Check();
        if (CheckGird == true) {
            ShowNotificationProcessor("Lưu Thành Công");
            Empty();
            return;
        }
        else {
            ShowNotificationProcessor("Không Có Dữ Liệu Nào Được Tạo.");
            return;
        }
    }

</script>

<form action="#" method="POST" id="form-create">
    <div class="panel-wrap">
        <div id="main-content">
            <div class="widget">
                <div class="section-header">
                    <div class="title">
                        <img src="@ConstantPath.Att_OvertimeIconPath" alt="" width="20" height="20" />
                        @ConstantDisplay.HRM_FIN_ApproverECLAIM_Create_Title.TranslateString()
                        @Html.ActionLink("(" + ConstantDisplay.HRM_FIN_Back_To_FIN_ApproverECLAIM_List.TranslateString() + ")", "/Index")              
                    </div>
                </div>

                <div class="commandToolBarWidge">
                    <div class="options">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "doSave", Name = "save", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { Name = "save-continue", EventClick = "doSaveNew", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
                @Html.Partial("CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</form>




