@model HRM.Presentation.Category.Models.CatExportItemModel
@using HRM.Infrastructure.Utilities

@using HRM.Infrastructure.Security

@{
    ViewBag.Title = ConstantDisplay.HRM_Category_ExportItem.TranslateString();
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Cat_Web = ConstantPathWeb.Hrm_Cat_Web;
}

@{
    var window = new WindowBuilderInfo
    {
        Name = "windowCatExportItem",
        Visible = false,
        Title = @ConstantDisplay.HRM_Category_ExportItem.TranslateString(),
        LoadContentFrom = _hrm_Cat_Web + "CatExportItem/CreateOrUpdate/",
    };
}
@(Html.VnrWindow(window))

<script type="text/javascript">
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
        return {
            ExportName: $('#@Html.FieldIdFor(model => model.ExportName)').val()
        };
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        //
        $("#btnSearch").click(function () {
            var grid = $('#grid_Cat_ExportItem').data("kendoGrid");
            grid.dataSource.read();
        });
    });

    $("#btnCreate").click(function () {
        var isAccess = checkPermission(PrivilegeType.Create, '@ConstantPermission.Cat_ExportItem');
        if (!isAccess) {
            return;
        }
        PopUpCreate("windowCatExportItem");
    });

    function onEditExportItem(e) {
        var isAccess = checkPermission(PrivilegeType.Modify, '@ConstantPermission.Cat_ExportItem');
        if (!isAccess) {
            return;
        }
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = '@_hrm_Cat_Web' + "CatExportItem/CreateOrUpdate/";
        PopUpEdit("windowCatExportItem", url, dataItem.Id);
    }
</script>


<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge">
                <div id="div2">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.Code)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.Code)
                    </div>
                </div>

                <div id="div3">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(model => model.ExportName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(model => model.ExportName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), SpriteCssClass = "k-icon k-i-plus" })
    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), SpriteCssClass = "k-icon k-i-search" })
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.Category.Models
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        //Thông tin hiển column hiển thị
        string[] valueFields = new string[]
        {
            CatExportItemModel.FieldNames.Code,
            CatExportItemModel.FieldNames.ExportName,
            CatExportItemModel.FieldNames.DataField,
            CatExportItemModel.FieldNames.ExcelField,
            CatExportItemModel.FieldNames.FormatString,
            CatExportItemModel.FieldNames.IsFixedCell,
            CatExportItemModel.FieldNames.Description
        };

        //Set độ rộng cho từng column
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {CatExportItemModel.FieldNames.Code, 200},
            {CatExportItemModel.FieldNames.ExportName , 300},
            {CatExportItemModel.FieldNames.DataField, 150},
            {CatExportItemModel.FieldNames.ExcelField, 150},
            {CatExportItemModel.FieldNames.FormatString, 150},
            {CatExportItemModel.FieldNames.IsFixedCell, 100},
            {CatExportItemModel.FieldNames.Description, 200}
        };

        //Thông tin hiển thị được dịch
        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {CatExportItemModel.FieldNames.Code, ConstantDisplay.HRM_Category_ExportItem_Code},
            {CatExportItemModel.FieldNames.ExportName , ConstantDisplay.HRM_Category_Export_ExportName },
            {CatExportItemModel.FieldNames.DataField, ConstantDisplay.HRM_Category_ExportItem_DataField },
            {CatExportItemModel.FieldNames.ExcelField, ConstantDisplay.HRM_Category_ExportItem_ExcelField },
            {CatExportItemModel.FieldNames.FormatString, ConstantDisplay.HRM_Category_ExportItem_FormatString },
            {CatExportItemModel.FieldNames.IsFixedCell, ConstantDisplay.HRM_Category_ExportItem_IsFixedCell},
            {CatExportItemModel.FieldNames.Description, ConstantDisplay.HRM_Category_ExportItem_Description}
        };

        var grid = new GridBuilderInfo
        {
            Name = "grid_Cat_ExportItem",
            ValueFields = valueFields,
            DisplayFields = displayFields,
            SizeFields = sizeFields,
            ShowDeleteButton = true,
            ShowCustomEdit = true,
            EventCustomEdit = "onEditExportItem",
            DeleteActionUrl = _hrm_Cat_Web + "/CatExportItem/Remove/",
            ReadActionUrl = _hrm_Hr_Service + "Cat_GetData/GetExportItemList",
            ReadData = "filterFieldInfo"
        };
    }

    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<CatExportItemModel>(grid))
</div>