<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="/Content/css/style.css" type="text/css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Include Kedo Ui-->
    <script src="/Scripts/kendo/2014.09.30/angular.min.js"></script>
    <script src="/Scripts/kendo/2014.09.30/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/2014.09.30/kendo.aspnetmvc.min.js"></script>
    <script src="/Content/js/hrm-data.js"></script>
    <script src="/Content/js/hrm-8.0.js"></script>
    <script src="/Content/js/kendo.web.ext.js"></script>
    <script src="/Content/js/vnr-validator.js"></script>
    <script src="/Scripts/VnrJsFramework.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.6.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function dataBound() {

        }
        function ErrorHandler() {

        }
    </script>
    @{
        var userID = Session["UserId"];
        var fullName = Session["FullName"];
        var profileName = Session["ProfileName"];
        var logo = Session["LogoPath"];
        var strPermission = Session["strPermission"];
        var _hrm_EmpPortal_Web = ConstantPathWeb.Hrm_EmpPortal_Web;
        var name = profileName != null ? profileName : fullName;
        var userLoginName = Session[SessionObjects.LoginUserName];
    }

</head>


@using HRM.Infrastructure.Utilities;
<body>
    <span id="popupNotification"></span>
    @Html.Hidden("UserLoginId", userID)
    <script id="template-kendo-upload-file" type="text/x-kendo-template">
        <span class='k-progress'></span>
        <div class='file-wrapper'>
            <a class='file-upload-name' href=''>#=name#</a>
            |#=parseFloat((size/1024)/1024).toFixed(2)# M
            <button type='button' class='k-upload-action' style='position: absolute; top: 0; right: 0;'></button>
        </div>
    </script>


    <script id="notificationTemplate" type="text/x-kendo-template">
        <div class="@{<text>#= type #</text>}">
            <div class="k-header">#= title #</div>
            <p>#= message #</p>
        </div>
    </script>
    <div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
                        <img src="@logo" style="max-height:30px!important; padding-left:10px;">
                    </div><!-- /.end logo -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 user-info">
                        <div class="col-lg-offset-8 col-md-offset-6 col-sm-offset-6">
                            <div class="dropdown" style="float:right">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu112" data-toggle="dropdown" aria-expanded="true">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<strong><a href="#">@name</a></strong>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu112">
                                    <li role="presentation" id="change-pass"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-key fa-2"></i>&nbsp;&nbsp;@ConstantDisplay.HRM_System_User_ChangePass.TranslateString()</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Portal/Logout"><i class="fa fa-power-off fa-2"></i>&nbsp;&nbsp;@ConstantDisplay.HRM_System_User_LogOut.TranslateString()</a></li>
                                </ul>
                            </div><!-- /.end user-info -->
                            <button type="button" id="btnLanguage" style="height: 29px; padding-top: 2px;background-color: transparent; border: none;float:right">
                                <span style="max-height:10px;max-width:10px">
                                    @if (Session[SessionObjects.LanguageCode + userLoginName] != null && Session[SessionObjects.LanguageCode + userLoginName].ToString() == "VN") 
                                    {
                                        <img src="/Content/images/en.gif" id="imgLang" style="max-height:14px;max-width:20px" />
                                    }
                                    else
                                    {
                                        <img src="/Content/images/vi.gif" id="imgLang" style="max-height:14px;max-width:20px" />
                                    }
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popUpChangePass"></div>
            @Html.Hidden("ClickChangePass")

            <script>
                $("#btnLanguage").click(function () {
                    debugger;
                    var lang = "VN";
                    var link = document.getElementById("imgLang").src.split('/');
                    if (link[link.length - 1] == "en.gif") {
                        lang = "EN";
                    }

                    $.ajax({
                        url: '@_hrm_EmpPortal_Web' + 'Portal/ChangeLanguage/',
                        data: {
                            LanguageValue: lang,
                            UserCreateID: $("#UserLoginId").val()
                        },
                        type: 'POST',
                        datatype: 'json',
                        success: function (result) {
                            document.location.reload(true);
                        },
                        error: function (e) { }
                    });
                });
                var onClosePopUpChangePass = function () {
                    $("#ClickChangePass").val("");
                }
                $("#change-pass").click(function () {
                    window.location.replace('@_hrm_EmpPortal_Web' + "Portal/ChangePasswordDefault");
                });

                //Hieu.Van: code cũ hiện change pass bằng pop-up
                //$(document).ready(function () {
                //    var window = $("#popUpChangePass"),
                //        undo = $("#change-pass")
                //            .bind("click", function () {
                //                $("#ClickChangePass").val("true");
                //                window.data("kendoWindow").refresh().center().open();
                //            });
                //    window.kendoWindow({
                //        title: "Đổi Mật Khẩu",
                //        visible: false,
                //        resizable: false,
                //        draggable: false,
                //        modal: true,
                //        minWidth: 300,
                //        close: onClosePopUpChangePass,
                //        content: {
                //            url: "/Portal/ChangePassword"
                //        },
                //    });
                //});
            </script>

        </header><!-- /.end header -->

        <nav>
            <div class="navbar navbar-default navbar-sm" style="margin-bottom:auto">
                <div class="navbar-header">
                    <a href="/" title="Dashboard"><i class="fa fa-3x fa-home"></i></a>
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="Portal_Home_Portal" href="/Portal/Home">@ConstantDisplay.HRM_Dashboard.TranslateString()</a></li>
                        @*<li><a id="Personal_GeneralProfileDetail_Portal" href="/Personal/GeneralProfileDetail">@ConstantDisplay.HRM_HR_Profile_PersonalInfo.TranslateString()</a></li>*@
                        <li class="dropdown">
                            <a id="Personal_GeneralProfileDetail_Portal" href="#" class="dropdown-toggle" data-toggle="dropdown">@ConstantDisplay.HRM_HR_Profile_PersonalInfo.TranslateString()<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="Personal_GeneralProfileDetail_Portal" href="/Personal/GeneralProfileDetail">@ConstantDisplay.HRM_HR_Profile_PersonalInfo.TranslateString()</a></li>
                                <li><a id="Att_Overtime_OvertimeList_Portal" href="/Att_Overtime/OvertimeList">@ConstantDisplay.HRM_Attendance_Overtime.TranslateString()</a></li>
                                <li><a id="Att_Leaveday_LeavedayList_Portal" href="/Att_Leaveday/LeavedayList">@ConstantDisplay.HRM_Attendance_LeaveDay.TranslateString()</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="Menu_Request_Portal" href="#" class="dropdown-toggle" data-toggle="dropdown">@ConstantDisplay.HRM_Enum_Submit.TranslateString()<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="Att_Overtime_Submit_Portal" href="/Att_Overtime/Submit">@ConstantDisplay.Att_Overtime.TranslateString()</a></li>
                                <li><a id="Att_Leaveday_Submit_Portal" href="/Att_Leaveday/Submit">@ConstantDisplay.Att_LeaveDay.TranslateString()</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="Menu_Approve_Portal" href="#" class="dropdown-toggle" data-toggle="dropdown">@ConstantDisplay.HRM_Common_Approved.TranslateString()<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="Att_Overtime_Approve_Portal" href="/Att_Overtime/Approve">@ConstantDisplay.Att_Overtime.TranslateString()</a></li>
                                <li><a id="Att_Leaveday_Approve_Portal" href="/Att_Leaveday/Approve">@ConstantDisplay.Att_LeaveDay.TranslateString()</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> <!-- /.end nav -->
        <div>
            @RenderBody()
        </div>
        
    </div>
    <script>
        $(document).ready(function () {
            var lstPermission = '@strPermission';
            var arrPermission = lstPermission.split(",");
            debugger;
            $('a').each(function (i) {
                //  $(this).attr('href', 'xyz');
                debugger;
                var anchorId = this.id;
                if (anchorId.indexOf("Portal") != -1) {
                    if (lstPermission.indexOf(anchorId) == -1) {
                        $(this).remove();
                    }
                }
            });
        });

        var notification = $("#popupNotification").kendoNotification({
            button: true,
            pinned: true,
            autoHideAfter: 10000,
            templates: [{
                type: "info",
                template: $("#notificationTemplate").html()
            }]
        }).data("kendoNotification");

        function ShowNotificationValidate(listFieldValidate) {
            debugger;
            var strHTML = '';
            for (var item in listFieldValidate) {
                switch (item) {
                case "Required":
                    var field = listFieldValidate[item].split(',');

                    strHTML += GetFieldAfterTranslate(field) + '@Html.Raw(ConstantMessages.Required.TranslateString())' + '<br/>';
                    break;
                }
            }
            ShowNotification('@Html.Raw(ConstantMessages.Notification.TranslateString())', strHTML, "k-block k-info-colored");
        }

        function ShowNotification(strTitle, strContent, srttype) {
            if (strContent != '') {
                notification.show({
                    title: strTitle,
                    message: strContent,
                    type: srttype
                });
            }
        }

        function ShowNotificationProcessor(actionStatus) {
            var strTitle = '@Html.Raw(ConstantMessages.Notification.TranslateString())', strContent = '', srttype = '';
            if (actionStatus != null && actionStatus != '' && actionStatus.length > 0) {
                var n = actionStatus.indexOf(","), status = actionStatus, message = '';
                if (n > 0) {
                    status = actionStatus.substring(0, n);
                    message = actionStatus.substring(n + 1, actionStatus.length);
                }
                switch (status) {
                case '@NotificationType.Success.ToString()':
                    srttype = "k-block k-success-colored";
                    strContent = '@Html.Raw(ConstantMessages.Succeed.TranslateString())';
                    break;
                case '@NotificationType.Error.ToString()':
                    srttype = "k-block k-error-colored";
                    strContent = message;
                    break;
                default:
                    srttype = "k-block k-info-colored";
                    strContent = actionStatus;
                    break;
                }
            }
            ShowNotification(strTitle, strContent, srttype);
        }     
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>