@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@model HRM.Presentation.Category.Models.Cat_PurchaseItemsModel

@{
    Layout = null;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
<script>
    SetFieldRequired();
    function onSaveNew() {
        //var dataCheck = data[''];
        //if (CheckValidate(data) && !checkDuplicationCode()) {
        onSaveAndContinue($('#form_cat_PurchaseItems'), '@_hrm_Hre_Service', 'api/Cat_PurchaseItems/', 'grid_PurchaseItems', 'windowCatPurchaseItems'); return false;
        //}
    }

    function onSaveClose() {
        //if (CheckValidate(data) && !checkDuplicationCode()) {
        onSaveAndClose($('#form_cat_PurchaseItems'), '@_hrm_Hre_Service', 'api/Cat_PurchaseItems/', 'grid_PurchaseItems', 'windowCatPurchaseItems'); return false;
        //}
    }
    function onSaveDataPopUp() {

        //if (CheckValidate(data)) {
        //    if (!checkDuplicationCode()) {
        onlySave($('#form_cat_PurchaseItems'), '@_hrm_Hre_Service', 'api/Cat_PurchaseItems/', 'grid_PurchaseItems'); return false;
        //    }
        //}
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_cat_PurchaseItems" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.DateCreate)
    <table>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.PurchaseItemName)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.PurchaseItemName, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.PurchaseItemCode)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.PurchaseItemCode, "width: 300px")
                    </div>
                </div>
                <div>
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.PurchaseItemCost)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextBoxFor(mode => mode.PurchaseItemCost, "width: 300px")
                    </div>
                </div>
                <div id="div2">
                    <div class="FieldTitle150">
                        @Html.VnrLabelFor(mode => mode.OwnerID)
                    </div>
                    <div class="FieldValue">
                        @{
                    System.Collections.IEnumerable valueOrgStructureType = new string[] { };
                    if (Model != null)
                    {
                        valueOrgStructureType = new[] { new { OwnerName = Model.OwnerName, ID = Model.OwnerID } };
                    }
                                        }
                                        @{
                    var owner = new MultiSelectBuilderInfo()
                    {
                        Name = "CatPurchaseItemsInfo_OwnerID",
                        DataTextField = "OwnerName",
                        Width = 300,
                        DataValueField = "ID",
                        Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiOwner",
                        Placeholder = "Vui lòng chọn ...",
                        MaxSelectedItems = 1,
                        Value = valueOrgStructureType
                    };
                        }
                        @(Html.VnrMultiSelectFor(mode => mode.OwnerID, owner))
                    </div>
                    <div style="clear: both;"></div>
                </div>

            </td>
        </tr>
        <tr>
            <td style="padding-top:2px; padding-bottom:10px;">
                <div class="LineFooterCommandEdit">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="FieldTitle150"></div>
                    <div class="FieldValue">
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveDataPopUp", Name = "save-PurchaseItems", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-PurchaseItems", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-PurchaseItems", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
   
}
