@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DropDownList
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Infrastructure.Utilities
@using System.Collections

@model HRM.Presentation.Attendance.Models.Att_GradeModel

@{
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    
    var isenable=true; 
    if(Model!=null)
    {
        isenable=false;
    }
}

<div class="VnRMain">
    <table style="width:100%">
        <tbody>          
            <tr><td colspan="3" style=""></td></tr>
            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top">
                    <div>
                        <div style="float:left; width:600px">
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.ProfileID)
                                    @Html.HiddenFor(mode => mode.ID)
                                    @Html.HiddenFor(model => model.OrgStructureID)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        IEnumerable valuePro = new string[] { };
                                        if (Model != null)
                                        {
                                            valuePro = new[] { new { ProfileName = Model.ProfileName, ID = Model.ProfileID } };
                                        }
                                    }
                                    @{
                                        var mtsProfile = new MultiSelectBuilderInfo()
                                        {
                                            Name = "ProfileID",
                                            DataTextField = "ProfileName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hre_Service + "HrMultiSelect/GetMultiProfile",
                                            Placeholder = ConstantDisplay.HRM_HR_SelectProfile.TranslateString(),
                                            Value = valuePro
                                        };
                                    }
                                    @Html.ChooseEmpOrOrgFor(mode => mode.ProfileID, mtsProfile, _hrm_Hre_Service + "Att_GetData/GetProfileByOrgId")
                                    @(Html.HiddenFor(model => model.ProfileIDs))
                                </div>
                                <br />
                            </div>
                            <div id="div2">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.GradeAttendanceID)                                    
                                </div>
                                <div class="FieldValue">
                                    @{
                                        IEnumerable valueGradeAttendance = new string[] { };
                                        if (Model != null)
                                        {
                                            valueGradeAttendance = new[] { new { GradeAttendanceName = Model.GradeAttendanceName, ID = Model.GradeAttendanceID } };
                                        }
                                    }
                                    @{
                                        var multiSelectGradeAttendanceID = new MultiSelectBuilderInfo()
                                        {
                                            DataTextField = "GradeAttendanceName",
                                            DataValueField = "ID",
                                            Url = @_hrm_Hre_Service + "Cat_GetData/GetMultiGradeAttendance",
                                            Placeholder = ConstantDisplay.HRM_Category_SelectGradeAttendance.TranslateString(),
                                            MaxSelectedItems = 1,
                                            Value = valueGradeAttendance
                                        };
                                    }
                                    @(Html.VnrMultiSelectFor(mode => mode.GradeAttendanceID, multiSelectGradeAttendanceID))
                                </div>
                            </div>
                            <div id="div4">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MonthStart)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var datepickerMonthStart = new DatePickerBuilderInfo()
                                        {
                                            Value = @Html.DisplayFor(mode => mode.MonthStart).ToString(),
                                            Placeholder = ConstantDisplay.HRM_Att_Grade_MonthStart.TranslateString(),
                                            StyleCss="width:100px"
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.MonthStart, datepickerMonthStart).Format(ConstantFormat.HRM_Format_MonthYear.TranslateString())
                                </div>
                            </div>
                            <div id="div5">
                                <div class="FieldTitle">
                                    @Html.VnrLabelFor(mode => mode.MonthEnd)
                                </div>
                                <div class="FieldValue">
                                    @{
                                        var datepickerMonthEnd = new DatePickerBuilderInfo()
                                        {
                                            Value = @Html.DisplayFor(mode => mode.MonthEnd).ToString(),
                                            Placeholder = ConstantDisplay.HRM_Att_Grade_MonthEnd.TranslateString(),
                                        };
                                    }
                                    @Html.VnrDatePickerFor(model => model.MonthEnd, datepickerMonthEnd).Format(ConstantFormat.HRM_Format_MonthYear.TranslateString())
                                </div>
                            </div>
                        </div>  
                    </div>
                </td>
                <td class="Box_Mid_Right">&nbsp;&nbsp;&nbsp;&nbsp;</td>              
            </tr>
            <tr>
                <td class="Box_Bottom_Left"></td>
                <td class="Box_Bottom_Mid"></td>
                <td class="Box_Bottom_Right"></td>
                @Html.HiddenFor(mode => mode.ID)
            </tr>
        </tbody>
    </table>
</div>
