@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities;
@using HRM.Infrastructure.Security;

@model Sys_ReleaseNoteModel
@{
    ViewBag.Title = ConstantDisplay.HRM_Category_Position.TranslateString();
    Layout = null;
    var _hrm_Sys_Web = ConstantPathWeb.Hrm_Sys_Web;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

<script type="text/javascript">
    var checkedNodes = [];
 
    //Khởi tạo điều kiện tìm kiếm
    function filterFieldInfo() {
      return {
            Code: $('#Code1').val(),
            LaundryName: $('#ReleaseNoteName1').val(),
        };
    }

    //Hàm xử lý sự kiện edit trên lưới
    function eEditPosition(e) {
        var isAccess =
            (PrivilegeType.Modify, '@ConstantPermission.Sys_ReleaseNote');
        if (!isAccess) {
            return;
        }
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        KendoRouteMapping('#Hrm_Sys_Web/Sys_ReleaseNote/Edit/' + id, 'Hrm_Sys_Web', '@_hrm_Sys_Web');
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Xử lý show hide form tìm kiếm
        ShowHidePanel();
        $("#btnSearch").click(function () {
            var grid = $('#gridSysReleaseNote').data("kendoGrid");
            grid.dataSource.read();
            checkedNodes = [];
        });
        //Xử Lý Grid
        GridCheckbox("gridSysReleaseNote");
        //Xử lý nút Edit
        var isAccess =
            (PrivilegeType.Modify, '@ConstantPermission.Sys_ReleaseNote');
        if (!isAccess) {
            return;
        }
        EditGridNewPage("gridSysReleaseNote", '#Hrm_Sys_Web/Sys_ReleaseNote/Edit/', 'Hrm_Sys_Web', '@_hrm_Sys_Web');
        //Xử lý nút Delete
        var isAccess =
            (PrivilegeType.Delete, '@ConstantPermission.Sys_ReleaseNote');
        if (!isAccess) {
            return;
        }
        DeleteGrid("gridSysReleaseNote", '@_hrm_Sys_Web' + "Sys_ReleaseNote/Remove/");
        $("#btnCreate").click(function () {
            var isAccess =
            (PrivilegeType.Create, '@ConstantPermission.Sys_ReleaseNote');
            if (!isAccess) {
                return;
            }
            KendoRouteMapping('#Hrm_Sys_Web/Sys_ReleaseNote/Create/', 'Hrm_Sys_Web', '@_hrm_Sys_Web');
        });
        $('#btnDelete').click(function (e) {
            var isAccess =
            (PrivilegeType.Delete, '@ConstantPermission.Sys_ReleaseNote');
            if (!isAccess) {
                return;
            }
            e.preventDefault();
            DeleteSelected("gridSysReleaseNote", '@_hrm_Sys_Web' + "Sys_ReleaseNote/RemoveSelected/", selectedIds.join(","));
            return false;
        });
    });
    function showpage(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = '@_hrm_Sys_Web' + 'Sys_ReleaseNote/Edit/' + id;
    }
    function NewPageInsert() {
        window.location.href = '@_hrm_Sys_Web' + 'Sys_ReleaseNote/Create';
    }
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->

            <div class="contendSearchWidge">
                <form id="form-search">
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.Code)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("Code1")
                        </div>
                    </div>
                    <div>
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(model => model.ReleaseNoteName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBox("ReleaseNoteName1")
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="commandToolBarWidge">
    <div style="float:left">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreate", Content = ConstantAction.HRM_Common_Create.TranslateString(), SpriteCssClass = "k-icon k-i-plus" })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), SpriteCssClass = "k-icon k-i-search" })
    </div>
    <div style="float:right">
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantAction.HRM_Common_Export.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnDelete", Content = "Delete", ImageUrl = ConstantPath.IconDeletePath })
    </div>
    <div class="clear"></div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
        {
            Sys_ReleaseNoteModel.FieldNames.Code,
            Sys_ReleaseNoteModel.FieldNames.ReleaseNoteName,
            Sys_ReleaseNoteModel.FieldNames.DateRelease,
            Sys_ReleaseNoteModel.FieldNames.Enhancements,
        };
        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
        {
            {Sys_ReleaseNoteModel.FieldNames.ReleaseNoteName,300},
            {Sys_ReleaseNoteModel.FieldNames.Enhancements, 300},
            {Sys_ReleaseNoteModel.FieldNames.Code, 120},
            {Sys_ReleaseNoteModel.FieldNames.DateRelease, 150},
        };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
        {
            {Sys_ReleaseNoteModel.FieldNames.ReleaseNoteName, ConstantDisplay.HRM_System_ReleaseNote_ReleaseNoteName},
            {Sys_ReleaseNoteModel.FieldNames.Code, ConstantDisplay.HRM_System_ReleaseNote_Code},
            {Sys_ReleaseNoteModel.FieldNames.Enhancements, ConstantDisplay.HRM_System_ReleaseNote_Enhancements},
            {Sys_ReleaseNoteModel.FieldNames.DateRelease, ConstantDisplay.HRM_System_ReleaseNote_DateRelease}
        };
        var grid = new GridBuilderInfo
        {
            Name = "gridSysReleaseNote",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Sys_Service + "Sys_GetData/GetReleaseNoteList/",
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Sys_ReleaseNoteModel>(grid))
</div>
