@using HRM.Infrastructure.Utilities
@using HRM.Presentation.Hr.Models
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Infrastructure.Security

@model HRM.Presentation.Hr.Models.Hre_ReportHDTJobOutSearchModel

@{
    ViewBag.Title = "Index";
    Layout = null;
    var _hrm_Hr_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Main_Web = ConstantPathWeb.Hrm_Main_Web;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var screen = controller + "/" + action;
}
@Html.Hidden("Screen", screen)

<script>
    SetFieldRequired();
    var checkedNodes = [];
    //SetFieldRequired();
    var isCreateTemplate = false;
    var isCreateTemplateForDynamicGrid = false;

    function filterFieldInfo(isExport) {
        var elementPara = {
            DateTo: ConvertDatetime('@_hrm_Sys_Service' + 'Sys_GetData/GetFormatDate/', $("#DateTo").val()),
            OrgStructureID: checkedNodes.join(','),
            ProfileName: $('#@Html.FieldIdFor(model => model.ProfileName)').val(),
            CodeEmp: $('#@Html.FieldIdFor(model => model.CodeEmp)').val(),
            WorkPlaceID: $('#SWorkPlaceID').val(),
            IsCreateTemplate: isCreateTemplate,
            IsCreateTemplateForDynamicGrid: isCreateTemplateForDynamicGrid,
        };
        if (isExport == true) {
            elementPara["ExportId"] = $('#ddlScreenName').val();
        }
        return elementPara;
    }

    //Xử lý sự kiện click button tìm kiếm
    $(document).ready(function () {
        //Show Hide Panel
        ShowHidePanel();
        $("#btnSearch").click(function () {
            isCreateTemplate = false;
            ShowHre_ProgressBar();
            var treeView = $("#OrgStructureTreeView").data("kendoTreeView");
            checkedNodeOrderNumbers(treeView.dataSource.view(), checkedNodes)
            $.ajax({
                type: 'POST',
                url: '@_hrm_Hr_Service' + 'Hre_GetData/GetReportHDTJobOut',
                data: filterFieldInfo(),
                dataType: 'json',
                async: false,
                success: function (data) {
                    CloseHre_ProgressBar();
                    debugger;
                    if (typeof (data) == "string") {
                        ShowNotificationProcessor(data);
                    }
                    else {
                        ReadGrid('gridHre_ReportHDTJobOut');
                        return false;
                    }
                },
                error: function () {
                    CloseHre_ProgressBar();
                }
            });
            checkedNodes = [];
            return false;
            checkedNodes = [];
        });
    });

    $("#btnExport").click(function () {
        var isAccess = checkPermission(PrivilegeType.Export, '@ConstantPermission.Hre_ReportHDTJobOut');
        if (!isAccess) {
            return;
        }
        isCreateTemplate = false;
        isCreateTemplateForDynamicGrid = false;
        if ($('#ddlScreenName').val() == "") {
            ExportFail();
            return;
        }
        var urlGetData = '@_hrm_Hre_Service' + "Hre_GetData/GetReportHDTJobOut";
        var urlDownload = '@_hrm_Main_Web';
        var dataParameter = filterFieldInfo(true);
        ExportAll(urlGetData, dataParameter, urlDownload);
        checkedNodes = [];
    });
    $("#btnCreateTemplate").click(function () {
        isCreateTemplate = true;
        isCreateTemplateForDynamicGrid = false;
        CreateTemplate('@_hrm_Hre_Service' + '/Hre_GetData/GetReportHDTJobOut', filterFieldInfo(true));
    });
</script>

<div class="panel-wrap">
    <div id="main-content">
        <div class="widget">
            <h3>
                <!--Dòng title cho biết đang ở form nào và link quay lại-->
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
                <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            <!--Bất đầu nôi dung tìm kiếm-->
            <div class="contendSearchWidge" style="overflow:visible">
                <div class="hrm_box">
                    <div>
                        <div id="div2">
                            <div class="FieldTitle150">
                                @Html.VnrLabelFor(mode => mode.DateTo)
                            </div>
                        </div>
                        <div class="FieldValue">
                            @{
                                var DateTo = new DatePickerBuilderInfo()
                                {
                                    Value = @Html.DisplayFor(mode => mode.DateTo).ToString(),
                                    StyleCss = "width:100px;",
                                    Placeholder = ConstantDisplay.HRM_HR_HDT_DateTo.TranslateString()
                                };
                            }
                            @Html.VnrDatePickerFor(mode => mode.DateTo, DateTo)
                        </div>
                    </div>
                    <div id="div14">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(mode => mode.OrgStructureID)
                        </div>
                        <div class="FieldValue">
                            <div class="FieldValue">
                                @{
                                    var org = new TreeViewDropdDownBuilderInfo()
                                    {
                                        Name = "OrgStructureTreeView",
                                        WidthTreeView = "350px",
                                        Width = "200px"
                                    };
                                }
                                @Html.Partial("EditorTemplates/OrgTreeViewDropDown", org)
                            </div>
                        </div>
                    </div>
                    <div id="div2">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(model => model.WorkPlaceID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var _workplaceName = new ComboBoxBuilderInfo()
                                 {
                                     Name = "SWorkPlaceID",
                                     DataTextField = "WorkPlaceName",
                                     DataValueField = "ID",
                                     Url = _hrm_Hr_Service + "Cat_GetData/GetMultiWorkPlace",
                                     StyleCss = "width:200px;",
                                 };
                            }
                            @Html.VnrComboBoxFor(mode => mode.WorkPlaceID, _workplaceName)
                        </div>
                    </div>
                </div>
                <div class="hrm_box">
                    <div id="div2">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(model => model.ProfileName)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.ProfileName)
                        </div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle150">
                            @Html.VnrLabelFor(model => model.CodeEmp)
                        </div>
                        <div class="FieldValue">
                            @Html.VnrTextBoxFor(model => model.CodeEmp)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="commandToolBarWidge">

    @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnSearch", Content = ConstantAction.HRM_Common_Search.TranslateString(), ImageUrl = ConstantPath.IconSearchPath })
    <div style="float:right">
        <script>
            function GetScreenName() {
                return {
                    screenName: '@screen'
                };
            }
        </script>
        <div class="FieldValue" style="margin-top: 0;">
            @{
                var screenName = new DropDownListBuilderInfo()
                {
                    Name = "ddlScreenName",
                    DataTextField = "ExportName",
                    DataValueField = "ID",
                    Url = @_hrm_Hr_Service + "Cat_GetData/GetScreenName",
                    StyleCss = "width:200px;",
                    Data = "GetScreenName",
                };
            }
            @Html.VnrDropDownList(screenName)

            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnExport", Content = ConstantDisplay.HRM_Common_Export_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
            @Html.VnrButton(new ButtonBuilderInfo() { Name = "btnCreateTemplate", Content = ConstantDisplay.HRM_Common_CreateTemplate_Button.TranslateString(), ImageUrl = ConstantPath.IconExportPath })
        </div>
    </div>
</div>
<div>
    <!--Khai báo các thông tin cho Grid-->
    @using HRM.Presentation.UI.Controls.Kendo
    @{
        string[] valueFields = new string[]
            {
                Hre_HDTJobModel.FieldNames.CodeEmp,
                Hre_HDTJobModel.FieldNames.ProfileName,
                Hre_HDTJobModel.FieldNames.HDTJobGroupCodeOld,
                Hre_HDTJobModel.FieldNames.HDTJobGroupNameOld,
                Hre_HDTJobModel.FieldNames.PriceOld,
                Hre_HDTJobModel.FieldNames.HDTJobTypeCode,
                Hre_HDTJobModel.FieldNames.HDTJobTypeName,
                Hre_HDTJobModel.FieldNames.Price,
                Hre_HDTJobModel.FieldNames.DateFrom,
                Hre_HDTJobModel.FieldNames.DateTo,
            };

        Dictionary<string, int> sizeFields = new Dictionary<string, int>()
            {
                {Hre_HDTJobModel.FieldNames.CodeEmp, 90},
                {Hre_HDTJobModel.FieldNames.ProfileName, 140},
                {Hre_HDTJobModel.FieldNames.HDTJobGroupCodeOld, 100},
                {Hre_HDTJobModel.FieldNames.HDTJobGroupNameOld, 100},
                {Hre_HDTJobModel.FieldNames.PriceOld, 100},
                {Hre_HDTJobModel.FieldNames.HDTJobTypeCode, 100},
                {Hre_HDTJobModel.FieldNames.HDTJobTypeName, 130},
                {Hre_HDTJobModel.FieldNames.Price, 120},
                {Hre_HDTJobModel.FieldNames.DateFrom, 100},
                {Hre_HDTJobModel.FieldNames.DateTo, 100},
            };

        Dictionary<string, string> displayFields = new Dictionary<string, string>()
            {
                {Hre_HDTJobModel.FieldNames.CodeEmp, ConstantDisplay.HRM_HR_HDTJob_ProfileID},
                {Hre_HDTJobModel.FieldNames.ProfileName, ConstantDisplay.HRM_HR_HDTJob_ProfileName},
                {Hre_HDTJobModel.FieldNames.HDTJobGroupCodeOld, ConstantDisplay.HRM_HR_HDTJob_HDTJobGroupCodeOld},
                {Hre_HDTJobModel.FieldNames.HDTJobGroupNameOld, ConstantDisplay.HRM_HR_HDTJob_HDTJobGroupNameOld},
                {Hre_HDTJobModel.FieldNames.PriceOld, ConstantDisplay.HRM_HR_HDTJob_PriceOld},
                {Hre_HDTJobModel.FieldNames.HDTJobTypeCode, ConstantDisplay.HRM_Category_HDTJobType_Code},
                {Hre_HDTJobModel.FieldNames.HDTJobTypeName, ConstantDisplay.HRM_Category_HDTJobType_HDTJobTypeName},
                {Hre_HDTJobModel.FieldNames.Price, ConstantDisplay.HRM_Category_HDTJobTypePrice_Price},
                {Hre_HDTJobModel.FieldNames.DateFrom, ConstantDisplay.HRM_HR_HDTJob_DateFrom},
                {Hre_HDTJobModel.FieldNames.DateTo, ConstantDisplay.HRM_HR_HDTJob_DateTo},
            };

        var grid = new GridBuilderInfo
        {
            ShowCheckbox = false,
            ShowEditIcon = false,
            Name = "gridHre_ReportHDTJobOut",
            ValueFields = valueFields,
            SizeFields = sizeFields,
            DisplayFields = displayFields,
            ReadActionUrl = _hrm_Hre_Service + "Hre_GetData/GetReportHDTJobOut",
            ReadData = "filterFieldInfo"
        };
    }
    <!--Khởi tạo Grid-->
    @(Html.VnrGrid<Hre_HDTJobModel>(grid))
</div>

