@using HRM.Infrastructure.Utilities
@using HRM.Presentation.UI.Controls.Kendo

@using System.Collections
@model HRM.Presentation.Canteen.Models.Can_MachineOfLineModel

@{
    Layout = null;
    var _hrm_Can_Service = ConstantPathWeb.Hrm_Hre_Service;
    var _hrm_Hre_Service = ConstantPathWeb.Hrm_Hre_Service;
}
<script>
    var data = SetCharacteFieldRequired();
    function onSaveNew() {
         
        if (CheckValidate(data)) {
            onSaveAndContinue($('#form_can_MachineOfLine'), '@_hrm_Can_Service', 'api/Can_MachineOfLine/', '@ConstantControlName.HRM_Canteen_MachineOfLine_Grid_Name', 'windowCanTering'); return false;
        }
    }

    function onSaveClose() {
        if (CheckValidate(data)) {
            onSaveAndClose($('#form_can_MachineOfLine'), '@_hrm_Can_Service', 'api/Can_MachineOfLine/', '@ConstantControlName.HRM_Canteen_MachineOfLine_Grid_Name', 'windowCanTering'); return false;
        }
    }

    function onlySave() {
        if (CheckValidate(data)) {
            onlySave($('#form_can_MachineOfLine'), '@_hrm_Can_Service', 'api/Can_MachineOfLine/', '@ConstantControlName.HRM_Canteen_MachineOfLine_Grid_Name', 'windowCanTering'); return false;
        }
    }
</script>
<!--Form dùng cho edit và update-->
@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "form_can_MachineOfLine" }))
{
    @Html.HiddenFor(model => model.ID)
              <div id="div4">
                <div class="FieldTitle">
                    @Html.VnrLabelFor(mode => mode.LineID)
                </div>
                <div class="FieldValue">
                    @{
    var _line = new MultiSelectBuilderInfo()
    {
        DataTextField = "LineName",
        DataValueField = "Id",
        Url = _hrm_Can_Service + "Canteen_GetData/GetMultiLine",
        Placeholder = ConstantDisplay.HRM_Canteen_SelectLine.TranslateString(),
        MaxSelectedItems = 1,
        Autobind = true,
        Value = new string[] { @Html.DisplayFor(mode => mode.LineID).ToString() }
    };
                    }
                    @Html.VnrMultiSelectFor(mode => mode.LineID, _line)
            </div>
        </div>
        <div id="div3">
            <div class="FieldTitle">
                @Html.VnrLabelFor(mode => mode.MachineCode)
            </div>
            <div class="FieldValue">
                @Html.VnrTextBoxFor(mode => mode.MachineCode, "width:150px")
            </div>
        </div>
  
            <div id="div8">
                <div class="FieldTitle">
                    @Html.VnrLabelFor(mode => mode.DateFrom)
                </div>
                <div class="FieldValue">
                    @{
    var DateStart = new DatePickerBuilderInfo()
    {
        Placeholder = ConstantDisplay.HRM_Attendance_DateFrom.TranslateString(),
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px"
    };
                    }
                    @Html.VnrDatePickerFor(model => model.DateFrom, DateStart)
                </div>
            </div>
                <div id="div8">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.DateTo)
                    </div>
                    <div class="FieldValue">
                        @{
    var DateEnd = new DatePickerBuilderInfo()
    {
        Placeholder = ConstantDisplay.HRM_Attendance_DateTo.TranslateString(),
        Format = ConstantFormat.HRM_Format_DayMonthYear,
        StyleCss = "width:100px"
    };
                        }
                        @Html.VnrDatePickerFor(model => model.DateTo, DateEnd)
                    </div>
                </div>
                <div id="div8">
                    <div class="FieldTitle">
                        @Html.VnrLabelFor(mode => mode.Note)
                    </div>
                    <div class="FieldValue">
                        @Html.VnrTextAreaFor(mode => mode.Note)
                    </div>
                </div>
                <div>
                    <div class="FieldTitle"></div>
                    <div class="FieldValue">
                        <div style="padding-top:2px; padding-bottom:10px;">
                            <div class="LineFooterCommandEdit">
                            </div>
                        </div>

                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onlySave", Name = "save-canMachineOfLine", Content = ConstantAction.HRM_Common_Save.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveNew", Name = "save-New-canMachineOfLine", Content = ConstantAction.HRM_Common_SaveNew.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                        @Html.VnrButton(new ButtonBuilderInfo() { EventClick = "onSaveClose", Name = "save-close-canMachineOfLine", Content = ConstantAction.HRM_Common_SaveClose.TranslateString(), ImageUrl = ConstantPath.IconSavePath })
                    </div>
                </div>
            }
