@model HRM.Presentation.HrmSystem.Models.Sys_GroupPermissionModel
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities
@{
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@{
    ViewBag.Title = "InsertSysGroup";

}

<div class="insert-sysgroup" style="width: 450px;">
    <table style="margin-left: 30px; text-align: center" align="center">
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.Code)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.Code))</td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.GroupID)</th>
            <td style="text-align:left;">
               @{
                   var mtsGroup = new MultiSelectBuilderInfo()
                    {
                        Name = Sys_GroupPermissionModel.FieldNames.GroupID,
                        DataTextField = Sys_GroupPermissionModel.FieldNames.GroupName,
                        DataValueField = Sys_GroupPermissionModel.FieldNames.Id,
                        Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiGroup",
                        Placeholder = ConstantDisplay.HRM_System_SelectGroup.TranslateString(),
                        MaxSelectedItems = 1,
                    };
                }
                @(Html.VnrMultiSelectFor(model => model.GroupID, mtsGroup))
            </td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.ResourceID)</th>
            <td style="text-align:left;">
                @{
                    var mtsResource = new MultiSelectBuilderInfo()
                    {
                        Name = Sys_GroupPermissionModel.FieldNames.ResourceID,
                        DataTextField = Sys_GroupPermissionModel.FieldNames.ResourceName,
                        DataValueField = Sys_GroupPermissionModel.FieldNames.ResourceID,
                        Url = @_hrm_Sys_Service + "Sys_GetData/GetMultiResource",
                        Placeholder = HRM.Infrastructure.Utilities.ConstantDisplay.HRM_System_SelectResource.TranslateString(),
                        MaxSelectedItems = 1,
                    };
                }
                @(Html.VnrMultiSelectFor(mode => mode.ResourceID,mtsResource))
                @Html.ValidationMessageFor(model => model.ResourceID)
            </td>

        </tr>
        <tr>
            <th>@Html.VnrLabelFor(mode => mode.PrivilegeNumber)</th>
            <td style="text-align:left;">@(Html.VnrTextBoxFor(model => model.PrivilegeNumber))</td>

        </tr>


        <tr>

    </table>
</div>

