@model HRM.Presentation.HrmSystem.Models.Sys_UserModel
@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities
@{
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}

@{
    IList<SelectListItem> list = Enum.GetValues(typeof(EnumDropDown.UserType))
        .Cast<EnumDropDown.UserType>()
        .Select(x => new SelectListItem { Value = x.ToString(), Text = EnumDropDown.GetEnumDescription(x) })
        .ToList();

    SelectList data = new SelectList(list, "Value", "Text");
}

@{
    ViewBag.Title = "InsertSysUser";

}

<div class="insert-sysuser" style="width: 400px;">
    <table style="margin-left:50px; text-align: center" align="center">
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.Code)</th>
        <td style="text-align:left; margin-left:20px;">@(Html.VnrTextBoxFor(model => model.Code))</td>

    </tr>
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.UserName)</th>
        <td style ="text-align:left; margin-left:20px;">@(Html.VnrTextBoxFor(model => model.UserName))</td>

</tr>
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.LoginName)</th>
        <td style="text-align:left; margin-left:20px;">@(Html.VnrTextBoxFor(model => model.LoginName))</td>

    </tr>
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.Password)</th>
        <td style="text-align:left; margin-left:20px;">@(Html.VnrTextBoxFor(model => model.Password))</td>

    </tr>
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.IsActivate)</th>
        <td style="text-align:left; margin-left:20px;">@(Html.VnrCheckBoxFor(model => model.IsActivate))</td>

    </tr>
    <tr>
        <th>@Html.VnrLabelFor(mode => mode.UserType)</th>
        <td style="text-align:left; margin-left:20px;">
            @{
                var comboboxUserType = new ComboBoxBuilderInfo()
                {
                    DataTextField = "Text",
                    DataValueField = "Value",
                    FilterType = FilterType.Contains,
                    BindTo = list
                };
            }
            @Html.VnrComboBoxFor(model => model.UserType, comboboxUserType)
            @Html.ValidationMessageFor(model => model.UserType)
        </td>

    </tr>


    <tr>

        </table>
</div>

