@using HRM.Presentation.UI.Controls.Kendo
@using HRM.Presentation.UI.Controls.Kendo.DatePicker
@using HRM.Presentation.UI.Controls.Kendo.MultiSelect
@using HRM.Presentation.HrmSystem.Models
@using HRM.Infrastructure.Utilities
@using VnResource.Helper.Controller
@model HRM.Presentation.HrmSystem.Models.Sys_DataPermissionModel
@{
    var _hrm_Cat_Service = ConstantPathWeb.Hrm_Cat_Service;
    var _hrm_Sys_Service = ConstantPathWeb.Hrm_Sys_Service;
}
@{
    ViewBag.Title = "InsertSysDataPermission";

}
<div class="VnRMain">
    <table style="width:100%">
        <tbody>

            <tr>
                <td class="Box_Mid_Left">&nbsp;&nbsp;&nbsp;</td>
                <td valign="top" style="background-color: #ffffff;">
                    <div id="div2">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Code)
                        </div>
                        <div class="FieldValue">
                            @(Html.VnrTextBoxFor(model => model.Code))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.UserID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var mtsUser = new MultiSelectBuilderInfo()
                                {
                                    Name =Sys_DataPermissionModel.FieldNames.UserID,
                                    DataTextField = Sys_DataPermissionModel.FieldNames.UserName,
                                    DataValueField = Sys_DataPermissionModel.FieldNames.Id,
                                    Url = @_hrm_Sys_Service + "SysMultiSelect/GetMultiUser",
                                    Placeholder = ConstantDisplay.HRM_System_SelectUser.Translate(),
                                    MaxSelectedItems = 1,
                                };
                            }
                            @(Html.VnrMultiSelectFor(model => model.UserID, mtsUser))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div3">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.GroupID)
                        </div>
                        <div class="FieldValue">
                            @{
                                var mtsGroup = new MultiSelectBuilderInfo()
                                {
                                    Name = Sys_DataPermissionModel.FieldNames.GroupID,
                                    DataTextField = Sys_DataPermissionModel.FieldNames.GroupName,
                                    DataValueField = Sys_DataPermissionModel.FieldNames.Id,
                                    Url = @_hrm_Sys_Service + "SysMultiSelect/GetMultiGroup",
                                    Placeholder = ConstantDisplay.HRM_System_SelectGroup.Translate(),
                                    MaxSelectedItems = 1,
                                };
                            }
                            @(Html.VnrMultiSelectFor(model => model.GroupID, mtsGroup))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div4">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.Branches)
                        </div>
                        <div class="FieldValue">
                            @{
                                var mtsBranches = new MultiSelectBuilderInfo()
                                {
                                    Name = Sys_DataPermissionModel.FieldNames.Branches,
                                    DataTextField = Sys_DataPermissionModel.FieldNames.Branches,
                                    DataValueField = Sys_DataPermissionModel.FieldNames.Id,
                                    Url = @_hrm_Cat_Service + "CatMultiSelect/GetMultiOrgStructure",
                                    Placeholder = ConstantDisplay.HRM_System_SelectBranches.Translate(),
                                    MaxSelectedItems = 1,
                                };
                            }
                            @(Html.VnrMultiSelectFor(model => model.Branches, mtsBranches))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="div5">
                        <div class="FieldTitle">
                            @Html.VnrLabelFor(mode => mode.DataGroups)
                        </div>
                        <div class="FieldValue">
                            @(Html.VnrTextBoxFor(model => model.DataGroups))
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>